<link rel="stylesheet" href="/assets/css/customTable.css">

<md-content flex>
  <md-card layout-padding>
    <form name="editForm" ng-submit="editForm.$valid && gravarNCV(dados)" novalidate="novalidate">

      <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="ORÇAMENTOS">

          <md-content>
            <div class="doc-demo-content doc-content">

              <md-content flex>
                <md-card layout-padding>
                  <md-subheader class="md-no-sticky">DADOS ORÇAMENTO</md-subheader>

                  <form name="editForm" ng-submit="editForm.$valid && formEdit(dados)" novalidate="novalidate">


                    <div layout-gt-sm="row">

                      <md-input-container class="md-block" flex-gt-sm>
                        <label>Data Orçamento </label>
                        <md-datepicker name="dataInicio" ng-disabled="true" ng-model="dados.data"
                          md-placeholder="Data inicio"></md-datepicker>
                      </md-input-container>

                      <md-input-container class="md-block" flex-gt-sm>
                        <label>Data Requisição</label>
                        <md-datepicker name="dataInicio" ng-model="dados.data" ng-required="true"
                          md-placeholder="Data Requisição" ng-disabled="true"></md-datepicker>

                        <div ng-messages="editForm.dataInicio.$error" class="errors">
                          <div ng-message="required">
                            Campo Obrigatório.
                          </div>
                        </div>
                      </md-input-container>


                      <md-input-container class="md-block" flex-gt-sm style="margin-right: 10px;">
                        <label>Status</label>
                        <md-select placeholder="Status" ng-disabled="true" required ng-required="true" name="status"
                          ng-model="dados.status">
                          <md-option value="AGUARDANDO">AGUARDANDO</md-option>
                          <md-option value="ORÇADO">ORÇADO</md-option>
                          <md-option value="CANCELADO">CANCELADO</md-option>

                          
                        </md-select>
                      </md-input-container>
                    </div>

                    <div layout-gt-sm="row" style="display: flex;justify-content: space-between;">

                      <md-input-container class="md-block" flex-gt-sm style="width: 100%;">
                        <label>Pátio</label>
                        <input type="text" ng-model="dados.patio" ng-disabled='true'>
                      </md-input-container>


                      <md-input-container class="md-block">
                        <label>Usuário Requisição</label>
                        <input type="text" name="Usuário" id="Usuário" ng-disabled='true' ng-model="dados.usuario">
                      </md-input-container>

                    </div>

                    <div style="display: flex;">

                      <md-input-container class="md-block">
                        <label>Fornecedor</label>
                        <md-select placeholder="Fornecedor" style="width: 500px" name="razao_nome"
                          ng-disabled="IsEstorno" ng-model="dados.id_fornecedor" ng-change="dados.id_motorista=null">
                          <md-option ng-disabled="isEditable" ng-repeat="fornecedor in fornecedores"
                            ng-value="fornecedor.id">
                            {{fornecedor.razao_nome}}
                          </md-option>
                        </md-select>

                      </md-input-container>
                      <div style=" cursor: pointer;">
                        <md-button ng-click="incluiFornecedor()">
                          <md-icon>add_circle_outline</md-icon>
                        </md-button>
                      </div>
                      <md-input-container class="md-block" flex-gt-sm>
                        <label>Forma Pagto</label>
                        <input type="text" ng-model="dados.forma_pagto">

                      </md-input-container>
                    </div>




                    <md-content class="Body">

                      <md-card>
                        <md-subheader class="md-no-sticky">ITENS ORÇAMENTO</md-subheader>

                        <table>

                          <tr>
                            <th>Descrição</th>
                            <th>Quantidade</th>
                            <th>Valor Unitario</th>
                            <th>Total Item</th>

                          </tr>

                          <tr ng-repeat="Dados in Itens" class="Result">

                            <td>
                              <input type="text" name="Descrição"
                                style="text-align: center;padding-left: 200px;padding-right: 200px;"
                                ng-model="Dados.descricao" />
                            </td>

                            <td>
                              <input type="number" name="Quantidade" id="Quantidade"
                                style="text-align: center;width: 50px;" ng-model="Dados.qtde"
                                ng-change="GerarTotalItem(Itens)" />

                            </td>

                            <td>

                              <input type="text" name="Valor" id="Valor" style="text-align: center;"
                                ng-model="Dados.valor_unitario" money-mask ng-blur="GerarTotalItem(Itens)" />

                            </td>

                            <td>

                              <p name="Valor" style="text-align: center;" ng-model="Dados.total_Item">
                                {{Dados.total_Item}}</p>
                            </td>





                          </tr>
                        </table>

                        <footer style="margin-left: 590px;color: #7d7d7d;font-weight: bold;">
                          <p>Total:{{TotalGeral}}</p>
                        </footer>

                        <md-button class="md-raised" md-colors="{background:'teal'}" md-colors-watch="false"
                          ng-click="Methods.Salvar(Itens)">
                          Gravar Orçamento
                        </md-button>

                      </md-card>
                    </md-content>






                  </form>






                </md-card>
              </md-content>
            </div>

          </md-content>


        </md-tab>

        <md-tab label="LANÇAMENTOS">

          <md-content>
            <div class="doc-demo-content doc-content">
              <md-content layout-xs="column" layout-gt-sm="row" layout-sm="column">
                <md-card layout-padding flex-gt-sm layout="column" flex-order="1" flex-order-gt-sm="1">

                  <md-content class="Body">

                    <md-card>
                      <md-subheader class="md-no-sticky">ORÇAMENTOS</md-subheader>

                      <table>

                        <tr>
                          <th>Data Orçamento</th>


                          <th>Fornecedor</th>
                          <th>Forma De Pagamento</th>
                          <th>Ver Itens</th>
                          <th>Anexo</th>
                          <th>Ver Anexo</th>
                          <th>Autorizar</th>

                          <th>Total Orçamento</th>

                        </tr>

                        <tr ng-repeat="Dados in Lancamentos" class="Result">

                          <td>
                            <p>{{Dados.data_orcamento}}</p>
                          </td>



                          <td>
                            <p>{{Dados.fornecedor}}</p>


                          </td>

                          <td>
                            <p>{{Dados.forma_pagamento}}</p>


                          </td>

                          <td>
                            <p style="color: blue;font-size: 15px;cursor: pointer;"
                              ng-click="MethodsLancamentos.fetchItemsOrcamento(Dados)">Ver Itens</p>
                          </td>


                          <td>
                            <label>
                              <p style="color: blue;font-size: 15px;cursor: pointer" id="Anexo">{{Dados.anexo}}</p>
                              <input type="file" name="Anexo" id="Anexo" class="Anexo" ng-model="novaimagem"
                                ngf-pattern="'.pdf,'" ngf-accept="'.pdf,.jpeg,.png'"
                                ngf-select="MethodsLancamentos.UploadPDF($file,Dados)" ngf-max-size="6MB"
                                ngf-min-height="50">
                            </label>
                          </td>

                          <td>
                            <a ng-style={color:Dados.color} ng-click="MethodsLancamentos.GetPDF(Dados)"
                              ng-disabled="Dados.Disable" href="{{trustSrc(urlAnexosOrcamentos+Dados.anexo)}}" id="PDF"
                              target="blank">

                              {{Dados.HasAnexo}}</a>
                          </td>
                          <td style="color: blue;cursor: pointer;" ng-click="MethodsLancamentos.Liberar(Dados)">
                            {{Dados.autorizado}}
                          </td>

                          <td  >
                            {{Dados.total_orcamento}}
                          </td>



                        </tr>
                        
                      </table>





                    </md-card>
                  </md-content>


                  <md-content class="Body">

                    <md-card>
                      <md-subheader class="md-no-sticky">ITENS ORÇAMENTO</md-subheader>

                      <table>

                        <tr>
                          <th>Descrição</th>

                          <th>Quantidade</th>
                          <th>Valor</th>

                          <th>Valor Total</th>


                        </tr>

                        <tr ng-repeat="Dados in ItensOrcamento" class="Result">

                          <td>
                            <p>{{Dados.descricao}}</p>
                          </td>

                          <td>
                            <p>{{Dados.qtde}}</p>

                          </td>

                          <td>
                            <p>{{Dados.valorString}}</p>


                          </td>


                          <td>
                            <p >{{Dados.total_ItemString}}</p>


                          </td>

                          <table>







                    </md-card>
                  </md-content>




            </div>
  </md-card>
</md-content>
</div>
</md-content>


</md-tab>

</md-tabs>
</form>

</md-card>



</md-content>

<script type="text/ng-template" id="cadastra-fornecedor.html">
    <md-dialog style="width:800px;height:500px; ">
      <md-dialog-content>
  
        <md-content layout-padding>
  
          <form name="editForm" ng-submit="editForm.$valid && saveAndClose()" novalidate="novalidate">
  
          <md-input-container class="md-block" flex-gt-sm>
            <label>CPF/CNPJ</label>
              <input ng-required="true" type="text" name="cpf_cnpj" cpf-cnpj ng-model="fornecedor.cpf_cnpj" ng-change="buscaCpfCnpj(fornecedor.cpf_cnpj)"/>
            <div ng-messages="editForm.cpf_cnpj.$error" role="alert">
              <div ng-message="required">
                    Campo Obrigatório.
              </div>      
            </div>
          </md-input-container>
  
            <md-input-container class="md-block" flex-gt-sm>
                <label>Nome/Razão Social</label>
                <input ng-required="true" type="text" name="razao_nome" ng-model="fornecedor.razao_nome" ng-change="fornecedor.razao_nome = (fornecedor.razao_nome | uppercase)"/>
                <div ng-messages="editForm.razao_nome.$error" role="alert">
                  <div ng-message-exp="['required']">
                    Campo Obrigatório.
                  </div>
                </div>
              </md-input-container> 
              
              <md-input-container class="md-block" flex-gt-sm>
                <label>Tipo</label>
                <md-select placeholder="Tipo" style="width: 150px" required ng-required="true" name="tipo_pessoa" ng-model="fornecedor.tipo_pessoa">
                  <md-option value="FISICA">FISICA</md-option>
                  <md-option value="JURIDICA">JURIDICA</md-option>
                </md-select>
                <div ng-messages="editForm.tipo_pessoa.$error" class="errors">
                  <div ng-message="required">
                    Campo Obrigatório.
                  </div>
                </div>
              </md-input-container>           
                
      
                <md-input-container class="md-block" flex-gt-sm>
                  <label>CEP</label>
                    <input  type="text" style="width: 100px" name="cep" ng-model="fornecedor.cep" mask="99999-999" ng-change="buscaCep(fornecedor.cep)"/>
                </md-input-container>
        
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Endereço</label>
                      <input  type="text" name="endereco" ng-model="fornecedor.endereco" ng-change="fornecedor.endereco = (fornecedor.endereco | uppercase)"/>
                </md-input-container>
                   
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Bairro</label>
                      <input  type="text" name="bairro" ng-model="fornecedor.bairro" ng-change="fornecedor.bairro = (fornecedor.bairro | uppercase)"/>
                </md-input-container>
      
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Cidade</label>
                    <input  type="text" name="cidade" ng-model="fornecedor.cidade" ng-change="fornecedor.cidade = (fornecedor.cidade | uppercase)"/>
                </md-input-container>
      
                <md-input-container class="md-block" flex-gt-sm>
                  <label>UF</label>
                  <md-select placeholder="UF" style="width: 100px"  ng-required="false" name="uf" ng-model="fornecedor.uf">
                    <md-option ng-repeat="estado in estados" ng-value="estado.sigla">
                        {{estado.sigla}}
                    </md-option>
                  </md-select>
                </md-input-container>
      
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Email</label>
                  <input ng-required="false" type="email" name="email" ng-model="fornecedor.email" />
                </md-input-container>            
      
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Tefone/Celular</label>
                    <input ng-required="false" type="text" name="telefone_comercial" ng-model="fornecedor.telefone_comercial" mask="(99) 9?9999-9999"/>
                </md-input-container>   
              </md-content>
            </md-dialog-content> 
                <md-dialog-actions>
                  <md-button class="md-raised md-primary" ng-click="cancel()">Cancelar</md-button>
                  <md-button type="submit"  class="md-raised md-primary">Gravar</md-button>
                </md-dialog-actions>
              </md-dialog-actions>
            </md-dialog>
    </script>
