<div class="doc-demo-content doc-content">

    <md-content flex>
      <md-card layout-padding>
        <form name="novoForm" ng-submit="novoForm.$valid && gravar()" novalidate="novalidate">
          
            <div layout-gt-sm="row"> 
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Nome</label>
                    <input ng-required="true" type="text" name="nome" ng-model="dados.nome" ng-change="dados.nome = (dados.nome | uppercase)" />
                    <div ng-messages="novoForm.descricao.$error" role="alert">
                    <div ng-message-exp="['required']">
                        Campo Obrigatório.
                    </div>
                    </div>
                </md-input-container>
            </div>
            
            <div layout-gt-sm="row"> 
          
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Email</label>
                    <input ng-required="true" type="email" name="email" ng-model="dados.email" />
                </md-input-container>  
            
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Telefone</label>
                    <input ng-required="true" type="text" name="telefone" ng-model="dados.telefone" mask="(99) 9?9999-9999"/>
                </md-input-container>
            </div>

            <div layout-gt-sm="row"> 
          
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Cidade</label>
                    <input  type="text" ng-required="true" name="cidade" ng-model="dados.cidade" ng-change="dados.cidade = (dados.cidade | uppercase)"/>
                </md-input-container>    
    
                <md-input-container class="md-block" flex-gt-sm>
                    <label>UF</label>
                    <md-select placeholder="UF" style="width: 200px"  ng-required="true" name="uf" ng-model="dados.uf">
                    <md-option ng-repeat="estado in estados" ng-value="estado.sigla">
                        {{estado.sigla}}
                    </md-option>
                    </md-select>
                </md-input-container>
            </div>
  

          <md-input-container class="md-block" flex-gt-sm>
              <label>Ativo</label>
              <md-select style="width: 20%" placeholder="Ativo" required ng-required="true" name="ativo" ng-model="dados.ativo">
                  <md-option value="1">SIM</md-option>
                  <md-option value="0">NÃO</md-option>
              </md-select>
              <div ng-messages="editForm.ativo.$error" class="errors">
                  <div ng-message="required">
                  Campo Obrigatório.
                  </div>
              </div>
          </md-input-container>

          <br>
  
          <div>
            <md-button type="submit"  ng-disabled="isDisabled"   class="md-raised md-primary">Gravar</md-button>
            <md-button class="md-raised" ng-click="paginaAnterior()" aria-label="Voltar">Voltar</md-button>
          </div>
  
        </form>
      </md-card>
    </md-content>
  
</div>