<link rel="stylesheet" href="/assets/css/customTable.css" />

<div class="doc-demo-content doc-content">
  <link rel="stylesheet" href="/assets/css/CustomForms.css" />

  <md-tabs md-dynamic-height md-border-bottom>
    <md-tab label="AGENDAR ENTREGA">
      <md-content layout-xs="column" layout-gt-sm="row" layout-sm="column">
        <md-card
          layout-padding
          flex-gt-sm
          layout="column"
          flex-order="1"
          flex-order-gt-sm="1"
        >
          <md-subheader class="md-no-sticky">FILTRAR DADOS</md-subheader>
          <md-divider></md-divider>
          <form
            name="editForm"
            ng-submit="editForm.$valid && formEdit(DadosPeriodo)"
            novalidate="novalidate"
          >
            <div layout-gt-sm="row" style="width: 75%">
              <md-input-container
                class="md-block"
                style="width: 600px; margin-right: 10px"
              >
                <label>Nome do Cliente</label>
                <input
                  ng-required="true"
                  type="text"
                  name="documento"
                  ng-model="DadosPeriodo.id_cliente"
                  ng-keyup="buscarClientes()"
                  ng-blur="HideModal()"
                  ng-change="DadosPeriodo.id_cliente = (DadosPeriodo.id_cliente | uppercase)"
                />

                <div ng-messages="editForm.nome.$error" class="errors">
                  <div ng-message="required">Campo Obrigatório.</div>
                </div>
              </md-input-container>

              <md-input-container
                class="md-block"
                style="width: 200px; margin-right: 200px"
              >
                <label>Telefone</label>
                <input
                  type="text"
                  name="telefone"
                  ng-model="DadosPeriodo.telefone_cliente"
                  ng-readonly="true"
                />
              </md-input-container>
            </div>

            <div class="containerCliente" id="Container">
              <li
                ng-click="ChangeScope(cliente)"
                name="id_cliente"
                ng-value="cliente.id"
                ng-repeat="cliente in clientes"
              >
                {{cliente.nome}}
              </li>
            </div>

            <div class="ErrorLength" id="ErrorLength">
              Digite ao menos 3 caracteres *
            </div>

            <div layout-gt-sm="row">
              <md-input-container style="width: 200px">
                <label>INFORME NCV / PLACA</label>
                <input
                  type="text"
                  name="ncv_placa"
                  ng-model="alterardados.ncv_placa"
                  placeholder="NCV/PLACA"
                  ng-disabled="false"
                />
              </md-input-container>

              <md-input-container
                class="md-block"
                style="width: 450px; margin-left: 50px; margin-right: 50px"
              >
                <label>Classificação</label>
                <md-select
                  placeholder="Classificacao"
                  name="classificacao"
                  ng-model="DadosPeriodo.classificacao"
                >
                  <md-option value="VEICULO COM DIREITO A DOCUMENTO"
                    >VEICULO COM DIREITO A DOCUMENTO</md-option
                  >
                  <md-option value="SUCATA APROVEITAVEL"
                    >SUCATA APROVEITAVEL</md-option
                  >
                  <md-option value="SUCATA APROVEITAVEL COM MOTOR INSERVIVEL"
                    >SUCATA APROVEITAVEL COM MOTOR INSERVIVEL</md-option
                  >
                  <md-option value="SUCATA INSERVIVEL"
                    >SUCATA INSERVIVEL</md-option
                  >
                </md-select>
              </md-input-container>

              <md-input-container class="md-block" style="margin-left: 50px">
                <label>Data Entrega</label>
                <md-datepicker
                  name="data_entrega"
                  ng-model="DadosPeriodo.data"
                  ng-required="false"
                >
                </md-datepicker>
              </md-input-container>

              <md-input-container
                class="md-block"
                flex-gt-sm
                style="margin-left: 50px"
              >
                <label>Hora Entrega</label>
                <input
                  type="time"
                  name="hora_entrega"
                  ng-model="DadosPeriodo.hora"
                  placeholder="HH:MM"
                  ng-required="false"
                  style="width: 200px"
                />
              </md-input-container>

              <md-button
                class="md-raised"
                md-colors="{background:'teal'}"
                md-colors-watch="false"
                style="height: 15px; margin-left: 10px"
                ng-click="pesquisar.BuscaNcvPlaca(DadosPeriodo.equipamento,alterardados.ncv_placa,DadosPeriodo.id_cliente,DadosPeriodo.data)"
                >ADICIONAR</md-button
              >

              <md-button
                class="md-raised"
                aria-label="Limpar"
                style="height: 15px; margin-left: 10px"
                ng-click="SeparacaoPeriodo.limpar($event)"
                >Limpar</md-button
              >
            </div>
          </form>
        </md-card>
      </md-content>

      <section class="md-whiteframe-z1" ng-cloak layout="column">
        <md-toolbar class="md-theme-light">
          <h2 class="md-toolbar-tools">
            <span>{{Dados.length}} Registros</span>
            <span flex></span>
            <md-button
              class="md-raised"
              md-colors="{background:'teal'}"
              md-colors-watch="false"
              ng-disabled="false"
              ng-click="SeparacaoPeriodo.SelecionarTodos(Dados)"
            >
              {{SeparacaoPeriodo.Selecionar}}
            </md-button>
            <md-button
              class="md-raised"
              ng-click="gerarPDFAgendamento()"
              aria-label="PDF"
              >PDF</md-button
            >
            <md-button
              class="md-raised"
              ng-click="gerarPlanilhaAgendamento()"
              aria-label="Excel"
              >Excel
            </md-button>
          </h2>
        </md-toolbar>

        <md-content class="Body">
          <md-card>
            <table>
              <tr>
                <th>NCV</th>
                <th>Edital</th>
                <th>Lote</th>
                <th>Rua</th>
                <th>Placa</th>
                <th>Marca/Modelo</th>
                <th>Chassi</th>
                <th>Tipo do Veículo</th>
                <th>Status</th>
                <th>Classificação</th>
                <th>Selecionar</th>
              </tr>
              <tr ng-repeat="Dado in Dados" class="Result">
                <td>{{Dado.id}}</td>
                <td>{{Dado.edital}}</td>
                <td>{{Dado.lote}}</td>
                <td>{{Dado.rua}}</td>
                <td>{{Dado.placa}}</td>
                <td>{{Dado.marca_modelo}}</td>
                <td>{{Dado.chassi}}</td>
                <td>{{Dado.tipo_veiculo}}</td>
                <td>{{Dado.status}}</td>
                <td>{{Dado.classificacao}}</td>

                <td>
                  <input
                    type="checkbox"
                    name="selecionado"
                    aria-label="selecionado"
                    ng-model="Dado.selecionado"
                  />
                </td>
              </tr>
            </table>
            ,
            <md-button
              type="submit"
              class="md-raised"
              md-colors="{background:'teal'}"
              md-colors-watch="false"
              ng-click="SeparacaoPeriodo.Inserir(Dados)"
              ng-disabled="false"
            >
              Gravar Selecionados
            </md-button>
          </md-card>
        </md-content>
      </section>
    </md-tab>
    <md-tab label="AGENDAMENTOS">
      <md-content layout-xs="column" layout-gt-sm="row" layout-sm="column">
        <md-card
          layout-padding
          flex-gt-sm
          layout="column"
          flex-order="1"
          flex-order-gt-sm="1"
        >
          <md-subheader class="md-no-sticky">FILTRAR DADOS</md-subheader>
          <md-divider></md-divider>
          <form
            name="editForm"
            ng-submit="editForm.$valid && formEdit(dados)"
            novalidate="novalidate"
          >
            <div layout-gt-sm="row">
              <md-input-container class="md-block" flex-gt-sm>
                <label>Data Inicial</label>
                <md-datepicker
                  name="data_inicial"
                  ng-model="dadosAgendados.data_inicial"
                >
                </md-datepicker>
              </md-input-container>

              <md-input-container class="md-block" flex-gt-sm>
                <label>Data Final</label>
                <md-datepicker
                  name="data_final"
                  ng-model="dadosAgendados.data_final"
                >
                </md-datepicker>
              </md-input-container>
            </div>

            <div layout-gt-sm="row" style="display: flex;align-items: center;gap: 20px;">
              <div style="width: 400px; margin-right: 50px">
                <md-autocomplete
                  flex
                  md-input-name="autocompleteField"
                  md-no-cache="true"
                  md-selected-item="dadosAgendados.cliente"
                  md-search-text="dadosAgendados.searchText"
                  md-items="item in querySearch(dadosAgendados.searchText)"
                  md-item-text="item.nome"
                  md-escape-options="clear"
                  md-require-match=""
                  md-floating-label="Nome do Cliente"
                  input-aria-describedby="favoriteStateDescription"
                  ng-model="dadosAgendados.cliente"
                >
                  <md-item-template>
                    <span
                      md-highlight-text="dadosAgendados.searchText"
                      ng-value="item.id"
                      >{{item.nome}}</span
                    >
                  </md-item-template>
                  <div
                    ng-show="dadosAgendados.searchText.length < 3 && dadosAgendados.searchText.length !== 0"
                    style="color: #dd2c00; font-weight: bold"
                  >
                    * Digite ao menos 3 caracteres
                  </div>
                </md-autocomplete>
              </div>

              <md-checkbox
                ng-model="dadosAgendados.sem_data"
                aria-label="Checkbox 1"
                style="display: flex; align-items: center"
              >
                SEM DATA
              </md-checkbox>

              <md-input-container class="md-block">
                <md-checkbox
                  ng-model="dadosAgendados.pendentes"
                  aria-label="Checkbox 1"
                  ng-disabled="dadosAgendados.entregues"
                >
                  Pendentes
                </md-checkbox>
              </md-input-container>

              <md-input-container class="md-block">
                <md-checkbox
                  ng-model="dadosAgendados.entregues"
                  aria-label="Checkbox 1"
                  ng-disabled="dadosAgendados.pendentes "
                >
                  Entregues
                </md-checkbox>
              </md-input-container>
            </div>

            <div>
              <md-button
                style="background-color: blue; color: white"
                class="md-raised"
                ng-click="buscaAgendamentos()"
                style="height: 30px; margin-left: 20px"
                >Filtrar
              </md-button>
              <md-button
                class="md-raised"
                aria-label="Limpar"
                ng-click="pesquisar.limparAgendamentos($event)"
                >Limpar
              </md-button>
            </div>
          </form>
        </md-card>
      </md-content>

      <section class="md-whiteframe-z1" ng-cloak layout="column">
        <md-toolbar class="md-theme-light">
          <h2 class="md-toolbar-tools">
            <span>{{agendamentosList.length}} Registros</span>

            <span flex></span>

            <md-button
              class="md-raised"
              ng-click="gerarPDFAgendamentos()"
              aria-label="PDF"
              >PDF</md-button
            >
            <md-button
              class="md-raised"
              ng-click="gerarPlanilhaAgendamentos()"
              aria-label="Excel"
              >Excel</md-button
            >
          </h2>
        </md-toolbar>

        <md-content class="Body">
          <md-card>
            <table>
              <tr>
                <th>NCV</th>
                <th>Placa</th>
                <th>Cor</th>
                <th>Protocolo</th>
                <th>Data Agendada</th>
                <th>Hora Agendada</th>
                <th>Cliente</th>
                <th>Classificação</th>

                <th>Telefone</th>
                <th>Status</th>
                <th>Gravar</th>
              </tr>
              <tr ng-repeat="Dados in agendamentosList" class="Result">
                <td>{{Dados.ncv}}</td>
                <td>{{Dados.placa}}</td>
                <td>{{Dados.cor}}</td>
                <td>{{Dados.id_protocolo}}</td>
                <td>
                  <md-datepicker
                    name="data_entrega"
                    ng-model="Dados.data_entrega"
                    ng-required="false"
                  >
                  </md-datepicker>
                </td>
                <td>
                  <input
                    type="time"
                    ng-model="Dados.hora_entrega"
                    placeholder="HH:MM"
                  />
                  {{hora_entrega}}
                </td>
                <td>{{Dados.nome_cliente}}</td>
                <td>{{Dados.classificacao}}</td>

                <td>{{Dados.telefone_cliente}}</td>
                <td>{{Dados.status}}</td>
                <td>
                  <img
                    src="/assets/images/icons/SaveIcon.svg"
                    alt="Save icon"
                    width="25"
                    style="cursor: pointer"
                    ng-click="atualizaAgendamento(Dados)"
                  />
                </td>
              </tr>
            </table>
          </md-card>
        </md-content>
      </section>
    </md-tab>
    <md-tab label="ENTREGA AGENDADOS">
      <md-content layout-xs="column" layout-gt-sm="row" layout-sm="column">
        <md-card
          layout-padding
          flex-gt-sm
          layout="column"
          flex-order="1"
          flex-order-gt-sm="1"
        >
          <md-subheader class="md-no-sticky">FILTRAR DADOS</md-subheader>
          <md-divider></md-divider>
          <form
            name="editForm"
            ng-submit="editForm.$valid && formEdit(dados)"
            novalidate="novalidate"
          >
            <br />

            <div
              layout-gt-sm="row"
              style="display: flex; align-items: baseline"
            >
              <md-input-container style="width: 15vw; margin: 2px">
                <label>NUMERO PROTOCOLO</label>
                <input
                  type="text"
                  name="numero_protocolo"
                  ng-model="dados.numero_protocolo"
                  placeholder="PROTOCOLO"
                  ng-disabled="DadosEntrega.id_cliente"
                />
              </md-input-container>
            </div>

            <div layout-gt-sm="row">
              <md-input-container
                class="md-block"
                style="width: 600px; margin-right: 10px"
              >
                <label>Nome do Cliente</label>
                <input
                  type="text"
                  name="nome_cliente"
                  ng-model="DadosEntrega.id_cliente"
                  ng-disabled="dados.numero_protocolo"
                  ng-keyup="buscaClienteEntrega()"
                  ng-blur="hideModalClienteEntrega()"
                  ng-change="DadosEntrega.id_cliente = (DadosEntrega.id_cliente | uppercase)"
                />

                <div ng-messages="editForm.nome.$error" class="errors">
                  <div ng-message="required">Campo Obrigatório.</div>
                </div>
              </md-input-container>

              <md-input-container
                class="md-block"
                style="width: 100px; margin-left: 50px"
              >
                <md-checkbox
                  ng-model="DadosEntrega.pendentes"
                  aria-label="Checkbox 1"
                  ng-disabled="DadosEntrega.entreques "
                >
                  Pendentes
                </md-checkbox>
              </md-input-container>

              <md-input-container
                class="md-block"
                style="width: 100px; margin-right: 100px; margin-left: 50px"
              >
                <md-checkbox
                  ng-model="DadosEntrega.entregues"
                  aria-label="Checkbox 1"
                  ng-disabled="DadosEntrega.pendentes "
                >
                  Entregues
                </md-checkbox>
              </md-input-container>
            </div>

            <div class="containerClientes" id="Container_cliente_entrega">
              <li
                ng-click="changeScopeClienteEntrega(cliente)"
                name="id_cliente"
                ng-value="cliente.id"
                ng-repeat="cliente in clientesEntrega"
              >
                {{cliente.nome}}
              </li>
            </div>

            <div class="ErrorLength" id="ErrorLength_1">
              Digite ao menos 3 caracteres *
            </div>

            <div
              layout-gt-sm="row"
              style="display: flex; align-items: baseline"
              ng-hide="isCanceled || isRecebido || isNotNull"
            >
              <md-input-container class="md-block" style="width: 15%">
                <md-checkbox
                  ng-model="DadosEntrega.cliente_retira"
                  aria-label="Checkbox 1"
                  ng-disabled="DadosEntrega.delivery "
                >
                  Cliente Retira
                </md-checkbox>
              </md-input-container>

              <md-input-container
                class="md-block"
                style="width: 10%; margin-right: 100px"
              >
                <md-checkbox
                  ng-model="DadosEntrega.delivery"
                  aria-label="Checkbox 1"
                  ng-disabled="DadosEntrega.cliente_retira "
                  ng-change="checkboxClienteRetira()"
                >
                  Entrega
                </md-checkbox>
              </md-input-container>

              <md-input-container class="md-block" style="width: 40%">
                <label>Veiculo Transporte</label>
                <md-select
                  placeholder="Reboque"
                  name="id_reboque"
                  ng-model="DadosEntrega.id_reboque"
                  ng-hide="!DadosEntrega.delivery"
                >
                  <md-option
                    ng-repeat="reboque in reboques"
                    ng-value="reboque.id"
                  >
                    {{reboque.descricao}}
                  </md-option>
                </md-select>
              </md-input-container>

              <md-input-container class="md-block" style="width: 40%">
                <label>Motorista</label>
                <md-select
                  placeholder="Motorista"
                  name="id_motorista"
                  ng-model="DadosEntrega.id_motorista"
                  ng-hide="!DadosEntrega.delivery"
                >
                  <md-option
                    ng-repeat="motorista in motoristas"
                    ng-value="motorista.id"
                  >
                    {{motorista.nome}}
                  </md-option>
                </md-select>
              </md-input-container>
            </div>

            <div
              layout-gt-sm="row"
              style="display: flex; align-items: baseline"
              ng-show="isNotNull"
            >
              <md-input-container class="md-block" style="width: 30vw">
                <label>Veiculo Transporte</label>
                <input
                  ng-readonly="true"
                  type="text"
                  name="nomeReboque"
                  ng-model="nomeReboque"
                />
              </md-input-container>

              <md-input-container class="md-block" style="width: 30vw">
                <label>Motorista</label>
                <input
                  ng-readonly="true"
                  type="text"
                  name="nomeMotorista"
                  ng-model="nomeMotorista"
                />
              </md-input-container>
            </div>

            <div
              layout-gt-sm="row"
              style="display: flex; align-items: baseline"
            >
              <md-input-container
                class="md-block"
                style="width: 15vw; margin: 2px"
              >
                <label>Usuário Cadastro</label>
                <input
                  ng-readonly="true"
                  type="text"
                  name="usuarioCadastro"
                  ng-model="usuarioCadastro"
                />
              </md-input-container>

              <md-input-container class="md-block">
                <label>Data Digitação</label>
                <input
                  ng-readonly="true"
                  type="text"
                  name="dataCadastro"
                  ng-model="dataCadastro"
                />
              </md-input-container>
            </div>

            <div
              layout-gt-sm="row"
              style="display: flex; align-items: baseline"
              ng-show="isCanceled"
            >
              <md-input-container
                class="md-block"
                style="width: 20vw; margin: 2px"
              >
                <label>Usuário Cancelamento</label>
                <input
                  ng-readonly="true"
                  type="text"
                  name="usuarioCancelamento"
                  ng-model="usuarioCancelamento"
                />
              </md-input-container>

              <md-input-container
                class="md-block"
                style="width: 10vw; margin: 2px"
              >
                <label>Data Cancelamento</label>
                <input
                  ng-readonly="true"
                  type="text"
                  name="dataCancelamento"
                  ng-model="dataCancelamento"
                />
              </md-input-container>

              <md-input-container
                class="md-block"
                style="width: 50vw; margin: 2px"
              >
                <label>Motivo Cancelamento</label>
                <input
                  ng-readonly="true"
                  type="text"
                  name="motivoCancelamento"
                  ng-model="motivoCancelamento"
                />
              </md-input-container>
            </div>

            <div
              layout-gt-sm="row"
              style="display: flex; align-items: baseline"
              ng-show="isRecebido"
            >
              <md-input-container
                class="md-block"
                style="width: 15vw; margin: 2px"
              >
                <label>Usuário Entrega</label>
                <input
                  ng-readonly="true"
                  type="text"
                  name="usuarioEntrega"
                  ng-model="usuarioEntrega"
                />
              </md-input-container>
            </div>

            <div>
              <md-button
                style="background-color: blue; color: white"
                class="md-raised"
                ng-click="pesquisar.buscaDadosProtocolo()"
                style="height: 30px; margin-left: 20px"
                >Filtrar
              </md-button>

              <md-button
                class="md-raised"
                aria-label="Limpar"
                ng-click="limparPesquisaAgendamentos($event)"
                >Limpar</md-button
              >

              <md-button
                style="background-color: red; color: white"
                class="md-raised"
                ng-hide="(isCanceled || isRecebido)"
                ng-click="pesquisar.cancelarAgendamento()"
                ng-disabled="!dados.numero_protocolo"
                style="height: 30px; margin-left: 20px"
                >Cancelar Agendamento
              </md-button>
            </div>
          </form>
        </md-card>
      </md-content>

      <section class="md-whiteframe-z1" ng-cloak layout="column">
        <md-toolbar class="md-theme-light">
          <h2 class="md-toolbar-tools">
            <span>{{dadosList.length}} Registros</span>

            <span flex></span>

            <md-button
              class="md-raised"
              ng-click="gerarPDFEntrega(Dados,dados)"
              aria-label="PDF"
              >PDF</md-button
            >
            <md-button
              class="md-raised"
              ng-click="gerarPlanilhaEntrega()"
              aria-label="Excel"
              >Excel</md-button
            >
          </h2>
        </md-toolbar>

        <md-content class="Body">
          <md-card>
            <table>
              <tr>
                <th>Protocolo</th>
                <th>Cliente</th>
                <th>Telefone</th>
                <th>Data Agendada</th>
                <th>Hora Agendada</th>
                <th>NCV</th>
                <th>Edital</th>
                <th>Lote</th>
                <th>Rua</th>
                <th>Classificação</th>
                <th>Placa</th>
                <th>Chassi</th>
                <th>Marca/Modelo</th>
                <th>Cor</th>
                <th>Selecionar</th>
              </tr>
              <tr ng-repeat="Dados in dadosList" class="Result">
                <td>{{Dados.id_protocolo}}</td>
                <td>{{Dados.nome_cliente}}</td>
                <td>{{Dados.telefone_cliente}}</td>
                <td>{{Dados.data_entrega}}</td>
                <td>{{Dados.hora_entrega}}</td>
                <td>{{Dados.id}}</td>
                <td>{{Dados.edital}}</td>
                <td>{{Dados.lote}}</td>
                <td>{{Dados.rua}}</td>
                <td>{{Dados.classificacao}}</td>
                <td>{{Dados.placa}}</td>
                <td>{{Dados.chassi}}</td>
                <td>{{Dados.marca_modelo}}</td>
                <td>{{Dados.cor}}</td>
                <td>
                  <input
                    type="checkbox"
                    name="selecionado"
                    aria-label="selecionado"
                    ng-model="Dados.selecionado"
                    ng-disabled="(isCanceled || isRecebido)"
                  />
                </td>
              </tr>
            </table>
            <md-button
              type="submit"
              class="md-raised"
              md-colors="{background:'teal'}"
              md-colors-watch="false"
              ng-click="SeparacaoPeriodo.confirmarEntrega(dadosList)"
              ng-hide="(isCanceled || isRecebido)"
            >
              CONFIRMAR ENTREGA
            </md-button>
          </md-card>
        </md-content>
      </section>
    </md-tab>
  </md-tabs>
</div>

<script type="text/ng-template" id="cancelar-agendamento.html">

  <md-dialog style="width:600px;height:300px;">
      <md-dialog-content>


          <div style=" text-align: center; margin-left: 10px; margin-right:10px" >
              <br>
             <label> Cancelar Agendamento</label>
             <br><br>
              <md-input-container class="md-block" style="text-align:left">
                  <label>Motivo do Cancelamento</label>
                  <textarea ng-model="dados.motivo_cancelamento" md-maxlength="150" rows="3" md-select-on-focus></textarea>
              </md-input-container>
          </div>
          <br>
      </md-dialog-content>
      <md-dialog-actions style=" margin-bottom: 5px;">
          <md-button class="md-raised md-primary" ng-click="cancelar_agendamento()">CONFIRMAR</md-button>
          <md-button class="md-raised md-primary" ng-click="fechar()">FECHAR</md-button>
      </md-dialog-actions>
  </md-dialog>
</script>

<script type="text/ng-template" id="selecao-protocolo.html">
  <md-dialog style="width:800px;height:400px;">
    <md-dialog-content>

      <md-content layout-padding>

        <section class="md-whiteframe-z1 " ng-cloak layout="column">
          <div class="myDivClass">
            <md-toolbar class="md-theme-light">
              <h2 class="md-toolbar-tools">
                <span>Lista de protocolos</span>
                <span flex></span>
              </h2>
            </md-toolbar>

            <br>

                  <md-content class="Body">
                      <md-card>
                          <table>

                              <tr>
                                  <th>Protocolo</th>
                                  <th>Cliente</th>
                                  <th>Data Agendada</th>
                                  <th>Hora Agendada</th>
                                  <th>Selecionar</th>


                              </tr>
                              <tr ng-repeat="Dados in listaProtocolos" class="Result">
                                  <td>{{Dados.id_protocolo}}</td>
                                  <td>{{Dados.nome_cliente}}</td>
                                  <td>{{Dados.data_entrega}}</td>
                                  <td>{{Dados.hora_entrega}}</td>

                                  <td>
                                      <input type="checkbox" name="select_item" aria-label="selecionado"
                                          ng-model="Dados.selecionado" >
                                  </td>

                              </tr>
                          </table>

                      </md-card>
                  </md-content>

              <br>

          </div>


          <div layout-gt-sm="row">
          </h1> OBS.: Selecione somente um dos protocolos da lista!</h1>
      </div>


        </section>
      </md-content>
    </md-dialog-content>
    <br>
      <md-dialog-actions>
          <md-button class="md-raised md-primary" ng-click="cancel()">OK</md-button>
      </md-dialog-actions>

  </md-dialog>
</script>
