<div class="doc-demo-content doc-content">

  <md-content flex>
    <md-card layout-padding>
      <form name="editForm" ng-submit="editForm.$valid && formEdit(dados)" novalidate="novalidate">
        
        <md-input-container class="md-block" >
          <label>Descrição</label>
          <input ng-required="true" type="text" name="descricao" ng-model="dados.descricao" />
          <div ng-messages="editForm.descricao.$error" role="alert">
            <div ng-message-exp="['required']">
              Campo Obrigatório.
            </div>
          </div>
        </md-input-container>

        <md-input-container class="md-block" >
            <label>Sigla</label>
            <input ng-required="true" type="text" name="sigla" ng-model="dados.sigla" />
            <div ng-messages="editForm.sigla.$error" role="alert">
                <div ng-message-exp="['required']">
                Campo Obrigatório.
                </div>
            </div>
        </md-input-container>

        <md-input-container class="md-block" >
            <label>Local</label>
            <input ng-required="true" type="text" name="local" ng-model="dados.local" />
            <div ng-messages="editForm.local.$error" role="alert">
                <div ng-message-exp="['required']">
                Campo Obrigatório.
                </div>
            </div>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
          <label>CEP</label>
            <input  type="text" style="width: 100px" name="cep" ng-model="dados.cep" mask="99999-999" ng-change="buscaCep(dados.cep)"/>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
            <label>Endereço</label>
              <input  type="text" name="endereco" ng-model="dados.endereco" ng-change="dados.endereco = (dados.endereco | uppercase)"/>
        </md-input-container>
           
        <md-input-container class="md-block" flex-gt-sm>
            <label>Bairro</label>
              <input  type="text" name="bairro" ng-model="dados.bairro" ng-change="dados.bairro = (dados.bairro | uppercase)"/>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
          <label>Cidade</label>
            <input  type="text" name="cidade" ng-model="dados.cidade" ng-change="dados.cidade = (dados.cidade | uppercase)"/>
        </md-input-container>    

        <md-input-container class="md-block" flex-gt-sm>
          <label>UF</label>
          <md-select placeholder="UF" style="width: 100px"  ng-required="false" name="uf" ng-model="dados.uf">
            <md-option ng-repeat="estado in estados" ng-value="estado.sigla">
                {{estado.sigla}}
            </md-option>
          </md-select>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
          <label>Email</label>
          <input ng-required="false" type="email" name="email" ng-model="dados.email" />
        </md-input-container>            

        <md-input-container class="md-block" flex-gt-sm>
          <label>Contato</label>
          <input ng-required="false" type="text" name="contato" ng-model="dados.contato" ng-change="dados.contato = (dados.contato | uppercase)"/>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
            <label>Telefone</label>
            <input ng-required="false" type="text" name="telefone" ng-model="dados.telefone" mask="(99) 9?9999-9999"/>
        </md-input-container>
                
        <md-input-container class="md-block" flex-gt-sm >
            <label>Ativo</label>
            <md-select placeholder="Ativo" style="width: 20%" required ng-required="false" name="ativo" ng-model="dados.ativo">
                <md-option value="1">SIM</md-option>
                <md-option value="0">NÃO</md-option>
            </md-select>
        </md-input-container>
        
        <md-input-container class="md-block">
            <label>Observação</label>
            <textarea ng-model="dados.observacao" md-maxlength="150" rows="3" md-select-on-focus></textarea>
        </md-input-container>
        
        
        <div>
          <md-button type="submit" class="md-raised md-primary" ng-click="gravar()">Salvar</md-button>
          <md-button class="md-raised" ng-click="fechar()" aria-label="Fechar">Voltar</md-button>
        </div>

      </form>
    </md-card>
  </md-content>

</div>