<div class="doc-demo-content doc-content">
  <md-content layout-xs="column" layout-gt-sm="row" layout-sm="column">
    <md-card layout-padding flex-gt-sm layout="column" flex-order="1" flex-order-gt-sm="1">
      <md-subheader class="md-no-sticky">RELATÓRIO DE FLUXO DE CAIXA</md-subheader>
      <md-divider></md-divider>
      <form name="editForm">

      <div layout-gt-sm="row">
  
          <md-input-container class="md-block" flex-gt-sm >
            <label>Data inicio</label> 
            <md-datepicker name="dataInicio" ng-model="dados.dataInicio" md-placeholder="Data inicio"></md-datepicker>
          </md-input-container> 

          <md-input-container class="md-block" flex-gt-sm >
            <label>Data final</label>   
            <md-datepicker name="dataFinal" ng-model="dados.dataFinal" md-placeholder="Data final"></md-datepicker>
          </md-input-container> 

          <md-input-container class="md-block" flex-gt-sm>
            <label>Contas</label>
            <md-select placeholder="Contas" style="width: 90%" name="conta" ng-model="dados.conta">
              <md-option ng-repeat="conta in contas" ng-value="conta.id">
                  {{conta.descricao}}
              </md-option>
            </md-select>
          </md-input-container>
    
          <div>
              <md-button class="md-raised md-primary" aria-label="Adicionar" ng-click="mesAtual($event)">Mês Atual</md-button>
              <md-button class="md-raised" md-colors="{background:'teal'}" md-colors-watch="false" ng-click="pesquisar($event)">Filtrar</md-button>
              <md-button class="md-raised" aria-label="Limpar" ng-click="limpar($event)">Limpar</md-button>
          </div>
              
        </div>  

      </form>
    </md-card>
  </md-content>

  <section  class="md-whiteframe-z1 " ng-cloak layout="column" >
    
      <md-toolbar class="md-theme-light" >
        <h2 class="md-toolbar-tools">
          <span>{{dadosList.length}} - Registros</span>
          <span style="margin-left: 30px">Receitas : {{total_receita | currency:"R$ ":2}} </span>
          <span style="margin-left: 30px">Despesas : {{total_despesa | currency:"R$ ":2}} </span>
          <span flex></span>
          <md-button class="md-raised" aria-label="PDF" >PDF</md-button>
          <md-button class="md-raised" aria-label="Excel" >Excel</md-button>
        </h2>
      </md-toolbar>

      <mdt-table paginated-rows="{isEnabled: true, rowsPerPageValues: [20,50, 100]}" 
                  animate-sort-icon="true"
                  mdt-row="{
                            'data': dadosList,                            
                            'column-keys': ['data','saldo_anterior_','despesa_','receita_','saldo_']
                  }"
        >

        <mdt-header-row>
          <mdt-column align-rule="left" column-sort="true">Data</mdt-column>
          <mdt-column align-rule="left" column-sort="false">Saldo Anterior</mdt-column>
          <mdt-column align-rule="left" column-sort="false">Despesa</mdt-column>
          <mdt-column align-rule="left" column-sort="false">Receita</mdt-column>
          <mdt-column align-rule="left" column-sort="false">Saldo</mdt-column>
        </mdt-header-row>        
        
      </mdt-table>
    
  </section>

</div>