<div class="doc-demo-content doc-content">
  <md-content layout-xs="column" layout-gt-sm="row" layout-sm="column">
    <md-card layout-padding flex-gt-sm layout="column" flex-order="1" flex-order-gt-sm="1">
      <md-subheader class="md-no-sticky">FILTRAR DADOS</md-subheader>
      <md-divider></md-divider>
      <form name="editForm">

      <div layout-gt-sm="row">
  
          <md-input-container class="md-block" flex-gt-sm >
            <label>Data inicio</label> 
            <md-datepicker name="dataInicio" ng-model="dados.dataInicio" md-placeholder="Data inicio"></md-datepicker>
          </md-input-container> 

          <md-input-container class="md-block" flex-gt-sm >
            <label>Data final</label>   
            <md-datepicker name="dataFinal" ng-model="dados.dataFinal" md-placeholder="Data final"></md-datepicker>
          </md-input-container> 
          
          <md-input-container class="md-block" flex-gt-sm >
            <label>Tipo</label>
            <md-select placeholder="Tipo"  ng-required="false" name="tipo" ng-model="dados.tipo">
              <md-option value="0">ENTRADA</md-option>
              <md-option value="1">SAIDA</md-option>
            </md-select>
          </md-input-container>                 

          <md-input-container class="md-block" flex-gt-sm>
            <label>Categorias</label>
            <md-select placeholder="Categoria" style="width: 90%" name="categoria" ng-model="dados.categoria">
              <md-option ng-repeat="categoria in categorias" ng-value="categoria.id">
                  {{categoria.descricao}}
              </md-option>
            </md-select>
          </md-input-container>

        </div>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
          <label>Pátio</label>
          <md-select placeholder="Pátio" required ng-required="true" style="width: 90%" name="patio" ng-model="dados.patio" multiple>
            <md-option  ng-repeat="patio in patios" ng-value="patio.id_patio">
                {{patio.nome}}
            </md-option>
          </md-select>
          <div ng-messages="usuarioEditForm.patio.$error" class="errors">
            <div ng-message="required">
            Selecione Pátio.
            </div>
        </div>
        </md-input-container>
      </div>

        <div>
          <md-button class="md-raised md-primary" aria-label="Adicionar" ng-click="mesAtual($event)">Mês Atual</md-button>
          <md-button class="md-raised" md-colors="{background:'teal'}" md-colors-watch="false" ng-click="pesquisar($event)">Filtrar</md-button>
          <md-button class="md-raised" aria-label="Limpar" ng-click="limpar($event)">Limpar</md-button>
          <md-button class="md-raised md-primary" aria-label="Adicionar" ng-click="novo($event)">Novo</md-button>
        </div>

      </form>
    </md-card>
  </md-content>

  <section  class="md-whiteframe-z1 " ng-cloak layout="column" >
    
      <md-toolbar class="md-theme-light" >
        <h2 class="md-toolbar-tools">
          <span>{{dadosList.length}} - Registros</span>
          <span style="margin-left: 30px">Total Entradas : {{total_receita | currency:"R$ ":2}} </span>
          <span style="margin-left: 30px">Total Saidas : {{total_despesa | currency:"R$ ":2}} </span>
          <span flex></span>
          <md-button class="md-raised" aria-label="PDF" ng-click="gerarPdf()">PDF</md-button>
          <md-button class="md-raised" aria-label="Excel" ng-click="gerarPlanilha()">Excel</md-button>
        </h2>
      </md-toolbar>

      <mdt-table paginated-rows="{isEnabled: true, rowsPerPageValues: [20,50, 100]}" 
                  animate-sort-icon="true"
                  mdt-row="{
                            'data': dadosList,
                            'table-row-id-key': 'id',
                            'column-keys': ['mascara','data','saida','entrada','saldo','descricao_grupo','descricao_categoria','tipo_conta','status','editar', 'cancelar']
                  }"
        >
        <mdt-custom-cell column-key="editar">
          <mdt-custom-cell-button icon='edit' class="md-icon-button md-secondary" ng-click="clientScope.detalhe($event,rowId,value)" aria-label="Detalhe"></md-custom-cell-button>
        </mdt-custom-cell>
        <mdt-custom-cell column-key="cancelar">
          <mdt-custom-cell-button icon='cancel' class="md-icon-button md-secondary" ng-click="clientScope.cancelar($event,rowId,value)" aria-label="Cancelar"></md-custom-cell-button>
        </mdt-custom-cell>

        <mdt-header-row>
          <mdt-column align-rule="left" column-sort="true">Plano</mdt-column>
          <mdt-column align-rule="left" column-sort="true">Data</mdt-column>
          <mdt-column align-rule="left" column-sort="false">Saida</mdt-column>
          <mdt-column align-rule="left" column-sort="false">Entrada</mdt-column>
          <mdt-column align-rule="left" column-sort="false">Saldo</mdt-column>          
          <mdt-column align-rule="left" column-sort="false">Grupo</mdt-column>          
          <mdt-column align-rule="left" column-sort="true">Categoria</mdt-column>
          <mdt-column align-rule="left" column-sort="false">Conta</mdt-column>
          <mdt-column align-rule="left" column-sort="false">Status</mdt-column>          
          <mdt-column align-rule="left" column-sort="false">Editar</mdt-column>
          <mdt-column align-rule="left" column-sort="false">Cancelar</mdt-column>           
        </mdt-header-row>        
        
      </mdt-table>
    
  </section>

</div>