<div class="doc-demo-content doc-content">
  <md-content flex>
    <md-card layout-padding>
      <form name="editForm" ng-submit="editForm.$valid && gravar(dados)" novalidate="novalidate">
        <div style="width: 98%;">     

         <div layout-gt-sm="row">

          <md-input-container class="md-block" flex-gt-sm>
              <label>Categoria</label>
              <md-select placeholder="Categoria" style="width: 90%" name="categoria" ng-model="dados.categoria" ng-disabled="true">
                <md-option ng-repeat="categoria in categorias" ng-value="categoria.id" ng-disabled="true">
                    {{categoria.descricao}}
                </md-option>
              </md-select>
          </md-input-container>    

         <md-input-container class="md-block">
            <label>Status</label>
            <input  type="text" name="status" ng-model="dados.status" ng-disabled="true" />
         </md-input-container>
        </div>
        <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
            <label>Documento</label>
            <input ng-required="true" type="text" name="documento" ng-model="dados.documento" ng-disabled="true"/>
        </md-input-container>
              
        <md-input-container class="md-block" >
          <label>Valor</label>
          <input ng-required="true" type="text" name="valor" ng-model="dados.valor" money-mask ng-disabled="true"/>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
          <label>Data</label>
          <input ng-required="true" type="text" name="data" ng-model="dados.data" mask="99/99/9999" ng-disabled="true"/>
       </md-input-container>  
       
       </div>  
        <md-input-container class="md-block">
          <label>Escreva Comentário</label>
          <textarea ng-model="dados.comentario" md-maxlength="150" rows="2" md-select-on-focus ng-disabled="true"></textarea>
        </md-input-container>

        <md-card>
            <div style="margin: 10px" layout-gt-sm="row">
              <md-input-container class="md-block" flex-gt-sm >
                  <label>Data Cancelamento</label> 
                  <md-datepicker name="datacancelamento" ng-model="dados.datacancelamento" md-placeholder="Data do Cancelamento"></md-datepicker>
              </md-input-container> 
            </div>       
         </md-card>

          <md-button type="submit" ng-disabled="isDisabled" class="md-raised md-primary">Gravar</md-button>
          <md-button class="md-raised" ng-click="paginaAnterior()" aria-label="Voltar">Voltar</md-button>
        </div>

      </form>
    </md-card>
  </md-content>
</div>