<div class="doc-demo-content doc-content">
  <md-content flex>
    <md-card layout-padding>
      <form name="editForm" ng-submit="editForm.$valid && gravar(dados)" novalidate="novalidate">
        <br>    
        <div style="width: 98%;">   
          

          <md-input-container class="md-block" flex-gt-sm>
            <label>Pátio</label>
            <md-select placeholder="Pátio" style="width: 90%" name="patio" ng-model="dados.id_patio">
              <md-option ng-repeat="patio in patios" ng-value="patio.id">
                  {{patio.nome}}
              </md-option>
            </md-select>
          </md-input-container>
            

        <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Grupos</label>
          <md-select placeholder="Grupos" style="width: 90%" required ng-required="true" name="grupo" ng-model="dados.grupo" ng-change="SelecionaCategoria(dados.grupo)">
            <md-option ng-repeat="grupo in grupos" ng-value="grupo.id">
                {{grupo.descricao}}
            </md-option>
          </md-select>
          <div ng-messages="editForm.grupo.$error" class="errors">
            <div ng-message="required">
              Campo Obrigatório.
            </div>
          </div>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
            <label>Categoria</label>
            <md-select placeholder="Categorias" style="width: 90%" required ng-required="true" name="categoria" ng-model="dados.categoria" ng-change="SelecionaTipo(dados.categoria)">
              <md-option ng-repeat="categoria in categorias" ng-value="categoria.id">
                  {{categoria.descricao}}
              </md-option>
            </md-select>
            <div ng-messages="editForm.categoria.$error" class="errors">
              <div ng-message="required">
                Campo Obrigatório.
              </div>
            </div>
        </md-input-container>
        </div>

        <div layout-gt-sm="row">

            <md-input-container class="md-block" flex-gt-sm ng-show="mostrarfornecedor" >
              <label>Nome do Fornecedore</label>
              <md-select placeholder="Nome do Fornecedor" style="width: 90%" name="razao_nome" ng-model="dados.id_cliente_fornec">
                <md-option ng-repeat="fornecedor in fornecedores" ng-value="fornecedor.id">
                    {{fornecedor.razao_nome}}
                </md-option>
              </md-select>
            </md-input-container>
            
            <md-input-container class="md-block" flex-gt-sm ng-show="mostrarcliente">
              <label>Nome do Cliente</label>
              <md-select placeholder="Nome do Cliente" style="width: 90%" required ng-required="false" name="nome" ng-model="dados.id_cliente">
                <md-option ng-repeat="cliente in clientes" ng-value="cliente.id">
                    {{cliente.nome}}
                </md-option>
              </md-select>
            </md-input-container>
                      
        </div>  

        <div layout-gt-sm="row">

          <md-input-container class="md-block" flex-gt-sm>
              <label>Documento</label>
              <input type="text" name="documento" ng-model="dados.documento"/>
          </md-input-container>      

          <md-input-container class="md-block" >
            <label>Valor</label>
            <input ng-required="true" type="text" name="valor" ng-model="dados.valor" money-mask/>
            <div ng-messages="editForm.valor.$error" role="alert">
                <div ng-message-exp="['required']">
                Campo Obrigatório.
                </div>
            </div>
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm>
            <label>Data</label>
            <input ng-required="true" type="text" name="data" ng-model="dados.data" mask="99/99/9999"/>
          </md-input-container>  

          <md-input-container class="md-block" flex-gt-sm>
            <label>Competencia</label>
            <input ng-required="true" type="text" name="competencia" ng-model="dados.competencia" mask="99/9999" />
            <div ng-messages="editForm.competencia.$error" role="alert">
            <div ng-message="mask">
                 Formato correto : MM/AAAA
            </div>
            <div ng-message-exp="['required']">
                Campo Obrigatório.
            </div>
            </div>
          </md-input-container>
        
          <md-input-container class="md-block" flex-gt-sm>
              <label>Conta</label>
              <md-select required ng-required="true" placeholder="Conta" style="width: 90%" name="conta" ng-model="dados.conta">
                <md-option ng-repeat="conta in contas" ng-value="conta.id">
                    {{conta.descricao}}
                </md-option>
              </md-select>
              <div ng-messages="editForm.conta.$error" class="errors">
                <div ng-message="required">
                  Campo Obrigatório.
                </div>
              </div>      
          </md-input-container>
          
        </div>

        <md-input-container class="md-block">
          <label>Escreva Comentário</label>
          <textarea ng-model="dados.comentario" md-maxlength="150" rows="3" md-select-on-focus></textarea>
        </md-input-container>

        <br>
          <md-button type="submit" ng-disabled="isDisabled" class="md-raised md-primary">Gravar</md-button>
          <md-button class="md-raised" md-colors="{background:'teal'}" md-colors-watch="false" ng-click="novoRegistro($event)">Novo</md-button>
          <md-button class="md-raised" ng-click="paginaAnterior()" aria-label="Voltar">Voltar</md-button>

        </div>

      </form>
    </md-card>
  </md-content>
</div>