<div class="doc-demo-content doc-content">
  <md-content flex>
    <md-card layout-padding>
      <form name="editForm" ng-submit="editForm.$valid && gravar(dados)" novalidate="novalidate">
        <br>    
        <div style="width: 98%;"> 

          <md-input-container class="md-block" flex-gt-sm>
            <label>Descrição</label>
            <input ng-required="true" type="text" name="descricao" ng-model="dados.descricao" ng-change="dados.descricao = (dados.descricao | uppercase)"/>
            <div ng-messages="editForm.descricao.$error" role="alert">
            <div ng-message="mask">
                 Digitar descrição do tipo
            </div>
            <div ng-message-exp="['required']">
                Campo Obrigatório.
            </div>
            </div>
          </md-input-container>
          
          <div layout-gt-sm="row">
            
            <md-input-container class="md-block" flex-gt-sm >
              <label>Ativo</label>
              <md-select ng-required="true" placeholder="Ativo" required ng-required="false" name="ativo" ng-model="dados.ativo">
                  <md-option value="1">SIM</md-option>
                  <md-option value="0">NÃO</md-option>
              </md-select>
              <div ng-messages="editForm.ativo.$error" role="alert">
                  <div ng-message-exp="['required']">
                      Campo Obrigatório.
                  </div>
                </div>
            </md-input-container>     
      
            <md-input-container class="md-block" flex-gt-sm>
              <label>Tipo Conta</label>
              <md-select placeholder="Tipo de Conta" required ng-required="false" name="tipo" ng-model="dados.tipo">
                <md-option value="0">ENTRADA</md-option>
                <md-option value="1">SAIDA</md-option>
              </md-select>
              <div ng-messages="editForm.tipo.$error" class="errors">
                <div ng-message="required">
                  Campo Obrigatório.
                </div>
              </div>
            </md-input-container>

            <md-input-container class="md-block">
              <label>Mascara</label>
              <input  type="text" name="mascara" ng-model="dados.mascara"/>
            </md-input-container>
  

          </div>

        <br>
          <md-button type="submit" ng-disabled="isDisabled" class="md-raised md-primary">Gravar</md-button>
          <md-button class="md-raised" ng-click="paginaAnterior()" aria-label="Voltar">Voltar</md-button>
        </div>

      </form>
    </md-card>
  </md-content>
</div>