<div class="doc-demo-content doc-content">
    <md-content flex>
      <md-card layout-padding>
        <form name="editForm" ng-submit="editForm.$valid && gravar(dados)" novalidate="novalidate">
          <br>    
          <div style="width: 98%;"> 
  
            <md-input-container class="md-block" flex-gt-sm>
              <label>Descrição</label>
              <input ng-required="true" type="text" name="descricao" ng-model="dados.descricao" ng-change="dados.descricao = (dados.descricao | uppercase)"/>
              <div ng-messages="editForm.descricao.$error" role="alert">
              <div ng-message="mask">
                   Digitar descrição do centro de custos
              </div>
              <div ng-message-exp="['required']">
                  Campo Obrigatório.
              </div>
              </div>
            </md-input-container>
  
            <div layout-gt-sm="row">
  
              <md-input-container class="md-block" flex-gt-sm >
                <label>Ativo</label>
                <md-select placeholder="Ativo" style="width: 20%" name="ativo" ng-model="dados.ativo">
                  <md-option value="1">SIM</md-option>
                  <md-option value="0">NÃO</md-option>
                </md-select>  
              </md-input-container>
            </div>
  
          <br>
            <md-button type="submit" ng-disabled="isDisabled" class="md-raised md-primary">Gravar</md-button>
            <md-button class="md-raised" ng-click="paginaAnterior()" aria-label="Voltar">Voltar</md-button>
          </div>
  
        </form>
      </md-card>
    </md-content>
  </div>