<div class="doc-demo-content doc-content">
  <md-content layout-xs="column" layout-gt-sm="row" layout-sm="column">
    <md-card layout-padding flex-gt-sm layout="column" flex-order="1" flex-order-gt-sm="1">
      <form name="editForm" ng-submit="editForm.$valid && formEdit(dados)" novalidate="novalidate">
        
        <div layout-gt-sm="row">

          <md-input-container class="md-block" flex-gt-sm >
            <label>Data inicio</label> 
            <md-datepicker name="dataInicio" ng-model="dados.dataInicio" md-placeholder="Data inicio"></md-datepicker>
          </md-input-container> 

          <md-input-container class="md-block" flex-gt-sm >
            <label>Data final</label>   
            <md-datepicker name="dataFinal" ng-model="dados.dataFinal" md-placeholder="Data final"></md-datepicker>
          </md-input-container> 
    
          <md-input-container class="md-block" flex-gt-sm >
            <label>Pátio</label>
            <md-select placeholder="Pátio"  name="patio" ng-model="dados.patio">
              <md-option ng-repeat="patio in patios" ng-value="patio.id">
                {{patio.nome}}
               </md-option>
            </md-select>      
          </md-input-container>


          <md-input-container class="md-block" flex-gt-sm>
            <label>Status</label>
            <md-select placeholder="Status" ng-required="false" name="status" ng-model="dados.status">
              <md-option value="0">Aguardando</md-option>
              <md-option value="1">Em Andamento</md-option>
              <md-option value="2">Concluido</md-option>
              <md-option value="3">Cancelado</md-option>
            </md-select>
          </md-input-container>

          
        </div>
        
        <div>
          <md-button class="md-raised" md-colors="{background:'teal'}" md-colors-watch="false" ng-click="pesquisar($event,Row)">Filtrar</md-button>
          <md-button class="md-raised" aria-label="Limpar" ng-click="limpar($event)">Limpar</md-button>
        </div>

      </form>
    </md-card>
  </md-content>
  

  <section  class="md-whiteframe-z1 " ng-cloak layout="column" >
    
      <md-toolbar class="md-theme-light" >
        <h2 class="md-toolbar-tools">
          <span>{{dadosList.length}} Registros</span>
          <span flex></span>
          <md-button class="md-raised" aria-label="PDF" ng-click="gerarPdf()">PDF</md-button>
          <md-button class="md-raised" aria-label="Excel" ng-click="gerarPlanilha()">Excel</md-button>
        </h2>
      </md-toolbar>

      <mdt-table paginated-rows="{isEnabled: true, rowsPerPageValues: [20,50, 100]}" 
                  animate-sort-icon="true"
                  mdt-row="{
                            'data': dadosList,
                            'table-row-id-key': 'id',
                            'column-keys': ['nome_chamador', 'data_hora_chamador', 'nome_usuario_motorista', 'status','ncv','patio','editar']
                  }"
        >
        <mdt-custom-cell column-key="editar">
          <mdt-custom-cell-button icon='edit' class="md-icon-button md-secondary" ng-click="clientScope.detalhe($event, rowId)" aria-label="Detalhe"></md-custom-cell-button>
        </mdt-custom-cell>
        <mdt-custom-cell column-key="apagar">
          <mdt-custom-cell-button icon='delete_forever' class="md-icon-button md-secondary" ng-click="clientScope.responder($event, rowId)" aria-label="Cancelar"></md-custom-cell-button>
        </mdt-custom-cell>

        <mdt-header-row>
          <mdt-column align-rule="left" column-sort="false">Nome Chamador</mdt-column>
          <mdt-column align-rule="left" column-sort="false">Data/Hora</mdt-column>          
          <mdt-column align-rule="left" column-sort="false">Motorista</mdt-column>           
          <mdt-column align-rule="left" column-sort="false">Status</mdt-column>
          <mdt-column align-rule="left" column-sort="false">NCV</mdt-column> 
          <mdt-column align-rule="left" column-sort="false">Patio</mdt-column>          
          <mdt-column align-rule="left" column-sort="false">Editar</mdt-column>
        </mdt-header-row>
        
      </mdt-table>
    
  </section>

</div>

