<!--
<script type="text/javascript" ng-src="https://maps.googleapis.com/maps/api/js?key="+chavegoole>
-->

</script>
<div class="doc-demo-content doc-content">

    <md-content flex>
        <md-card layout-padding>
            <form name="chamadoEditForm" ng-submit="chamadoEditForm.$valid && gravar(usuario,patio)"
                novalidate="novalidate">

                <md-tabs md-dynamic-height md-border-bottom>
                    <md-tab label="Dados Chamado">
                        <md-content flex style="background: white">
                            <br>
                            <div layout-gt-sm="row">
                                <!--
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Autoridade</label>
                    <input ng-readonly="true" type="text" name="descricao_autoridade" ng-model="dados.descricao_autoridade" ng-change="dados.descricao_autoridade = (dados.descricao_autoridade | uppercase)"/>
                </md-input-container>
            -->
                                <md-input-container>
                                    <label>Nome Chamador</label>
                                    <input ng-readonly="true" type="text" name="nome_chamador"
                                        ng-model="dados.nome_chamador"
                                        ng-change="dados.nome_chamador = (dados.nome_chamador | uppercase)" />
                                </md-input-container>

                                <md-input-container>
                                    <label>Data/Hora</label>
                                    <input ng-readonly="IsEditable" type="text" name="data_hora_chamador"
                                        ng-model="dados.data_hora_chamador" />
                                </md-input-container>


                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Equipamento</label>
                                    <md-select placeholder="Equipamento" name="equipamento" ng-model="dados.equipamento"
                                        ng-disabled="IsEditable">
                                        <md-option value="prancha">Prancha</md-option>
                                        <md-option value="lanca">Lança</md-option>
                                        <md-option value="munck">Munck</md-option>
                                    </md-select>
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Tipo de Veiculo</label>
                                    <md-select placeholder="Tipo de Veiculo"  name="tipoveiculo" ng-model="dados.id_tipo_veiculo"  ng-disabled="IsEditable">
                                        <md-option ng-repeat="tipoveiculo in tiposVeiculos" ng-value="tipoveiculo.id">
                                            {{tipoveiculo.descricao}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Estado do Veiculo</label>
                                    <md-select ng-disabled="IsEditable" placeholder="Estado do Veiculo"
                                        name="Estado_veiculo" ng-model="dados.estado_veiculo">
                                        <md-option value="condicaoNormal">Condição Normal</md-option>
                                        <md-option value="trancado">Trancado</md-option>
                                        <md-option value="abandonado">Abandonado</md-option>
                                        <md-option value="acidentado">Acidentado</md-option>
                                        <md-option value="capotado">Capotado</md-option>
                                        <md-option value="travado">Travado</md-option>

                                    </md-select>
                                </md-input-container>

                          

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Tipo de Apreensão</label>
                                    <input  type="text" name="nome_motorista" ng-model="dados.tipo_apreensao" ng-readonly="true"/>
                                </md-input-container>
                            </div>

                                                         
                                <div layout-gt-sm="row">
                                    
                                     <md-input-container class="md-block" flex-gt-sm >
                                        <label>Pátio</label>
                                        <md-select placeholder="Pátio"  name="patio" ng-model="dados.id_patio" ng-change="buscaCidadesByPatio()">
                                            <md-option  ng-repeat="patio in patios" ng-value="patio.id_patio" >
                                                {{patio.nome}}
                                            </md-option>    
                                        </md-select> 
                                    </md-input-container>

                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Cidade</label>
                                        <md-select placeholder="Cidade" name="cidade" ng-model="dados.id_cidade" >
                                        <md-option ng-repeat="cidade in CidadesByPatio" ng-value="cidade.id_cidade">
                                            {{cidade.nome}}
                                        </md-option>
                                        </md-select>
                                    </md-input-container>

                                </div>

                                <md-input-container class="md-block" flex-gt-sm >
                                    <label>Localização Chamador - Informado Manualmente</label>
                                    <textarea ng-readonly="IsEditable" ng-model="dados.local_chamado" md-maxlength="150"
                                        rows="1" md-select-on-focus ></textarea>
                                </md-input-container>            
                                
                                <div ng-show="localizacao_naoOk"  style="color:red">ATENÇÃO: ENDEREÇO NÃO LOCALIZADO PELO MAPS</div>  



                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Complemento</label>
                                    <input  ng-model="dados.complemento" ng-init="dados.complemento" ></input>
                                </md-input-container>     


                            <div layout-gt-sm="row">

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>NCV</label>
                                    <input ng-readonly="true" ng-model="dados.ncv" ng-init="dados.ncv" style="max-width: 60px;width: 60px;"></input>
                                </md-input-container>                            

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Motorista</label>
                                    <input ng-readonly="true" type="text" name="nome_motorista"
                                        ng-model="dados.nome_usuario_motorista"
                                        ng-change="dados.nome_usuario_motorista = (dados.nome_usuario_motorista | uppercase)" />
                                </md-input-container>

                                <md-input-container>
                                    <label>Status</label>
                                    <input ng-readonly="true" type="text" name="status" ng-model="dados.status" />
                                </md-input-container>

                                <md-input-container>
                                    <label>Data/Hora Aceite</label>
                                    <input ng-readonly="true" type="text" name="data_hora_aceite"
                                        ng-model="dados.data_hora_aceite" />
                                </md-input-container>

                            </div>

                            <div>
                                <md-button class="md-raised" md-colors="{background:'teal'}"
                                    ng-click="showCustomConfirm(dados.id,dados.id_motorista)">Encaminhar</md-button>
                                
                                <md-button ng-show="botao_cancelar" class="md-raised md-primary"
                                    ng-click="cancelar(dados.id)">Cancelar</md-button>
                                
                                <md-button  ng-disabled="disabled_concluir"
                                    class="md-raised md-primary" ng-click="concluir(dados.id)">Concluir</md-button>
                                
                                <md-button class="md-raised" ng-click="paginaAnterior()" aria-label="Voltar">Voltar
                                </md-button>
                                
                                <md-button ng-show="ShowButtonGravar" ng-disabled="disabled_concluir"
                                    class="md-raised md-primary" ng-click="EditarChamado.Gravar(dados)">GRAVAR CHAMADO
                                </md-button>

                            </div>
                            <br>
                            <br>

                            <div style="display:none">
                                <input type="text" name="id" ng-model="usuario.idUsuario" />
                            </div>

                        </md-content flex>
                    </md-tab>

                    <md-tab ng-disabled="dados.data_hora_aceite == null" label="Localização Motorista"
                        md-on-select="selectTabMapa()">
                        <md-content flex style="background: white">
                            <br>
                            <div id="mapid" style="height: 400px;">

                            </div>

                        </md-content flex>

                        <md-input-container class="md-block">
                            <label>Localização do Motorista</label>
                            <textarea ng-readonly="true" ng-model="dados.localizacao_motorista" md-maxlength="150"
                                rows="1" md-select-on-focus></textarea>
                        </md-input-container>

                    </md-tab>
<!--
                    <md-tab label="Localização Chamado" md-on-select="selectTabMapaChamadoGoogle()"></md-tab>
-->
                    <md-tab label="Localização Chamado">
                        <md-content flex style="background: white">
                            <br>
                            <div style="height: 400px;" id="googleMap">
<!--
                                <div id="mapid_chamado" style="height: 400px;">
-->
                            </div>

                        </md-content flex>
                        <md-input-container class="md-block">
                            <label>Localização Chamado</label>
                            <textarea  ng-model="dados.local_chamado" md-maxlength="150"
                                rows="1" md-select-on-focus></textarea>
                        </md-input-container>
                        
                        <div ng-show="localizacao_naoOk"  style="color:red">ATENÇÃO: ENDEREÇO NÃO LOCALIZADO PELO MAPS</div>  

                        <md-dialog-actions>
                            <md-button class="md-raised" md-colors="{background:'teal'}" ng-click="atualizar()">Atualizar Localização</md-button>
                        </md-dialog-actions>

                    </md-tab>

                    <md-tab label="Fotos do Chamado">
                        <div>
                            <br>
                            <br>
                            <md-content>

                                <md-grid-list md-cols-gt-md="3" md-cols-md="2" md-cols-sm="1" md-gutter="1px"
                                    md-row-height="1:1">

                                    <md-grid-tile ng-repeat="imagemChamado in listaImagensChamado"
                                        style="text-align: left;" class="video-title">

                                        <img ng-src="{{imagemChamado.imagens}}" style="max-width: 100%;
                                  max-height: auto;
                                  display: block;
                                  object-fit: cover;">

                                    </md-grid-tile>

                                </md-grid-list>


                            </md-content>


                        </div>
                    </md-tab>


                </md-tabs>
            </form>
        </md-card>

      

    </md-content>

  

</div>

<script type="text/ng-template" id="custom-confirm.html">
    <md-dialog style="width:1400px;height:560px; ">
      <md-dialog-content>
          

        <section style="display: flex;flex-direction:column;align-items: center;background-color:#FAFAFA;height:560px;">
                <h1>Buscar Motoristas</h1>

            <md-input-container style="margin:0 25px 25px 25px;">
                <label>Motoristas</label>
                <md-select placeholder="Motoristas" style="width: 600px;" ng-required="true" name="idMotorista" ng-model="dados.idMotorista" ng-change="MotoristaSelecionado(dados)">
                    <md-option ng-repeat="motorista in motoristas" ng-value="motorista.id_usuario_app" 
                    ng-style="motorista.disponivel ==='Indisponivel' && {'background-color':'red'}">
                        {{motorista.apelido}}  -  Distancia {{motorista.distancia}}  -  Situação  {{motorista.disponivel}}

                    </md-option>
                </md-select>

                <md-button class="md-raised md-primary" style="margin-left:650px;margin-top:-40px" ng-click="atualizaDistancia()">Atualizar Distância</md-button>
            </md-input-container>

           

            <div>
                <md-button class="md-raised md-primary" ng-click="cancel()">Cancelar</md-button>
                <md-button class="md-raised" md-colors="{background:'teal'}" ng-click="save()">Confirmar</md-button>
        </div>
        </section>



      </md-dialog-content>
     
    </md-dialog>
  </script>

<script type="text/ng-template" id="cancelar-chamado.html">


    <md-dialog style="width:600px;height:300px;">
        <md-dialog-content>
         

            <div style=" text-align: center; margin-left: 10px; margin-right:10px" >
                <br>
               <label> Cancelar Chamado</label>
               <br><br>
                <md-input-container class="md-block" style="text-align:left">
                    <label>Motivo do Cancelamento</label>
                    <textarea ng-model="dados.motivo_cancelamento" ng-disabled="disabled_cancelar"  md-maxlength="150" rows="3" md-select-on-focus></textarea>
                </md-input-container>



            </div>
            <br>
        </md-dialog-content>
        <md-dialog-actions style=" margin-bottom: 5px;">
            <md-button class="md-raised md-primary" ng-disabled="disabled_cancelar" ng-click="cancelar_chamado()">CONFIRMAR</md-button>
            <md-button class="md-raised md-primary" ng-click="fechar()">FECHAR</md-button>
        </md-dialog-actions>
    </md-dialog>
</script>