<div class="doc-demo-content doc-content">
  <md-content flex>
    <md-card layout-padding>
      <form name="editForm" ng-submit="editForm.$valid && gravar(dados)" novalidate="novalidate">
     
        <md-input-container class="md-block" flex-gt-sm>
          <label>Razão Social/Nome</label>
          <input ng-required="true" type="text" name="nome" ng-model="dados.nome" ng-change="dados.nome = (dados.nome | uppercase)"/>
          <div ng-messages="editForm.razao_nome.$error" role="alert">
            <div ng-message-exp="['required']">
              Campo Obrigatório.
            </div>
          </div>
        </md-input-container>

          <md-input-container class="md-block" flex-gt-sm>
              <label>CPF/CNPJ</label>
                <input ng-required="true" type="text" name="cpf_cnpj" cpf-cnpj ng-model="dados.cpf_cnpj"/>
              <div ng-messages="editForm.cpf_cnpj.$error" role="alert">
                <div ng-message="required">
                      Campo Obrigatório.
                </div>      
              </div>
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm>
            <label>CEP</label>
              <input  type="text" style="width: 100px" name="cep" ng-model="dados.cep" mask="99999-999" ng-change="buscaCep(dados.cep)"/>
          </md-input-container>
  
          <md-input-container class="md-block" flex-gt-sm>
              <label>Endereço</label>
                <input  type="text" name="endereco" ng-model="dados.endereco" ng-change="dados.endereco = (dados.endereco | uppercase)"/>
          </md-input-container>
             
          <md-input-container class="md-block" flex-gt-sm>
              <label>Bairro</label>
                <input  type="text" name="bairro" ng-model="dados.bairro" ng-change="dados.bairro = (dados.bairro | uppercase)"/>
          </md-input-container>
          
          <md-input-container class="md-block" flex-gt-sm>
            <label>Cidade</label>
              <input  type="text" name="cidade" ng-model="dados.cidade" ng-change="dados.cidade = (dados.cidade | uppercase)"/>
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm>
            <label>UF</label>
            <md-select placeholder="UF" style="width: 100px"  ng-required="false" name="uf" ng-model="dados.uf">
              <md-option ng-repeat="estado in estados" ng-value="estado.sigla">
                  {{estado.sigla}}
              </md-option>
            </md-select>
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm>
            <label>Email</label>
            <input ng-required="false" type="email" name="email" ng-model="dados.email" />
          </md-input-container>            

          <md-input-container class="md-block" flex-gt-sm>
              <label>Tefone/Celular</label>
              <input ng-required="false" type="text" name="telefone" ng-model="dados.telefone" mask="(99) 9?9999-9999"/>
          </md-input-container>
              
          <md-input-container class="md-block" flex-gt-sm>
          <label>Status</label>
          <md-select placeholder="Status" style="width: 100px" required ng-required="true" name="status" ng-model="dados.status">
            <md-option value="1">ATIVO</md-option>
            <md-option value="0">INATIVO</md-option>
          </md-select>
          <div ng-messages="editForm.ativo.$error" class="errors">
            <div ng-message="required">
              Campo Obrigatório.
            </div>
          </div>
        </md-input-container>
        <br></br>
        <div>
          <md-button type="submit" ng-disabled="isDisabled" class="md-raised md-primary">Gravar</md-button>
          <md-button class="md-raised" ng-click="paginaAnterior()" aria-label="Voltar">Voltar</md-button>
        </div>
      </form>
    </md-card>
  </md-content>
</div>