    
<style>

.dx-column-indicators {
  float: unset !important;
}

.dx-datagrid-action.dx-cell-focus-disabled {
  text-align: center !important;
  vertical-align: middle !important;
}

.custom-toolbar {
    background-color: #007acc; 
    color: #ffffff; 
    padding: 8px; 
    font-size: 16px; 
    text-align: center; 
    font-weight: bold;
}
.custom-header {
    position: relative;
}

.custom-header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 3px; 
    background-color: #007acc; 
}

</style>

        
    
    <div class="doc-demo-content doc-content">
        
        <md-content layout-xs="column" layout-gt-sm="row" layout-sm="column">
          <md-card layout-padding="layout-padding" flex-gt-sm="flex-gt-sm" layout="column" flex-order="1" flex-order-gt-sm="1">
            <form name="editForm" ng-submit="editForm.$valid && pesquisar(dados)" novalidate="novalidate">
    
              <div layout-gt-sm="row" style="display: flex;">

                <md-input-container class="md-block" flex-gt-sm>
                    <label>Data Inicial</label>
                    <md-datepicker name="dataInicio" ng-model="dados.dataInicio"  md-mode="month"></md-datepicker>
                  </md-input-container>
                
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Data Final</label>
                  <md-datepicker name="dataFinal" ng-model="dados.dataFinal" md-mode="month" ng-change="dataFinal() " ></md-datepicker>
                </md-input-container>

              </div>  
         
              <div layout-gt-sm="row" style="display: flex;align-items: center;">

                <md-input-container class="md-block" flex-gt-sm style="text-overflow: hidden;max-width: 90vw;"> 
                
                <label>Pátio</label>
                <md-select ng-disabled="dados.id_grupo_patios" placeholder="Pátio"  ng-required="false" name="patio" ng-model="dados.patio" >
                  <md-option ng-repeat="patio in patios" ng-value="patio.id_patio">
                    {{patio.nome}}
                  </md-option>
                </md-select>
                <div ng-messages="usuarioEditForm.patio.$error" class="errors">
                  <div ng-message="required">
                    Selecione Pátio
                  </div>
              </md-input-container>
    
              <!--
              <md-input-container class="md-block" flex-gt-sm style="text-overflow: hidden;max-width: 90vw;"> 
                <label>Grupo Pátio</label>
                  <md-select placeholder="Grupo Pátio" name="patio" ng-required="false" ng-model="dados.id_grupo_patios" ng-disabled="dados.patio">
                    <md-option ng-repeat="patioGrupo in patiosGrupo" ng-value="patioGrupo.id">
                      {{patioGrupo.descricao}}
                    </md-option>
                  </md-select>
              </md-input-container>
              --> 
            </div>  
    
                <br>
                  <div>
                    <md-button type="submit" class="md-raised" md-colors="{background:'teal'}" md-colors-watch="false">Filtrar</md-button>    
                    <md-button class="md-raised" aria-label="Limpar" ng-click="limpar($event)">Limpar</md-button>
                    <md-button class="md-raised md-primary" aria-label="Adicionar" ng-click="gerarExcel($event)">EXCEL</md-button>
                    <md-button class="md-raised md-primary" aria-label="Adicionar" ng-click="gerarPDF($event)">PDF</md-button>
                  </div>
                
                </form>
              </md-card>
            </md-content>
    
    
    </div>
      
    <div id="gridContainer" dx-data-grid="dataGridOptions" style="max-height:600px" ng-hide = "!dadosList"></div>

    <div class="custom-toolbar" ng-hide = "!dadosList">
      <span>PROJEÇÃO - GERAL</span>
  </div>

    <div id="gridContainerProjecao" dx-data-grid="dataGridOptionsProjecao" style="max-height:500px" ng-hide = "!dadosList"></div>