
<div class="doc-demo-content doc-content">
  <md-content layout-xs="column" layout-gt-sm="row" layout-sm="column">
    <md-card layout-padding flex-gt-sm layout="column" flex-order="1" flex-order-gt-sm="1">
      <md-subheader class="md-no-sticky">FILTRAR DADOS</md-subheader>
      <md-divider></md-divider>
      <form name="editForm" ng-submit="editForm.$valid && formEdit(dados)" novalidate="novalidate">
        
        <div layout-gt-sm="row">

          <md-input-container class="md-block" flex-gt-sm>
            <label>Data inicio</label>
            <md-datepicker name="dataInicio" ng-model="dados.data_Inicio" ng-required="true"
              md-placeholder="Data inicio"></md-datepicker>
  
            <div ng-messages="editForm.dataInicio.$error" class="errors">
              <div ng-message="required">
                Campo Obrigatório.
              </div>
            </div>
          </md-input-container>
  
          <md-input-container class="md-block" flex-gt-sm>
            <label>Data final</label>
            <md-datepicker name="dataFinal" ng-model="dados.data_Final" ng-required="true" md-placeholder="Data final">
            </md-datepicker>
  
            <div ng-messages="editForm.dataFinal.$error" class="errors">
              <div ng-message="required">
                Campo Obrigatório.
              </div>
            </div>
  

        </div>
       


        <md-input-container class="md-block" flex-gt-sm style="text-overflow: hidden;max-width: 90vw;"> 
          <label>Pátio</label>
          <md-select placeholder="Pátio" name="patio" ng-model="dados.patio" multiple  > 
            <md-option ng-repeat="patio in patios" ng-value="patio.id_patio">
              {{patio.nome}}
            </md-option>
          </md-select>
        </md-input-container>


        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm >
            <label>Empresa de Reboque</label>
            <md-select placeholder="Empresa de Reboque" required ng-required="false" name="empresa" ng-model="dados.empresa"  ng-change="getMotoristaByEmpresa()">
              <md-option ng-repeat="empresa in empresas" ng-value="empresa.id" >
                {{empresa.nome}}
               </md-option>
            </md-select>

          </md-input-container>




          <md-input-container class="md-block" flex-gt-sm >
            <label>Nome do Motorista</label>
            <md-select placeholder="Nome do Motorista" required ng-required="false" name="motorista" ng-model="dados.id_motorista">
              <md-option ng-repeat="motorista in motoristas" ng-value="motorista.id" >
                {{motorista.nome}}
               </md-option>
            </md-select>

          </md-input-container>
        

          
        </div>

      
        
        <div>
          <md-button class="md-raised" md-colors="{background:'teal'}" md-colors-watch="false" ng-click="Buscar(dados)">Filtrar</md-button>
          <md-button class="md-raised" aria-label="Limpar" ng-click="limpar($event)">Limpar</md-button>
          <md-button class="md-raised md-primary" aria-label="Adicionar" ng-click="novo($event)">Novo</md-button>
        </div>
      </form>
    </md-card>
  </md-content>
  

  <section  class="md-whiteframe-z1 " ng-cloak layout="column" >
    
      <md-toolbar class="md-theme-light" >
        <h2 class="md-toolbar-tools">
          <span>{{datalist.length || 0}} Registros</span>
          <span flex></span>
          <md-button class="md-raised"  ng-click="gerarPdf()" aria-label="PDF" >PDF</md-button>
          <md-button class="md-raised" ng-click="gerarPlanilha()" aria-label="Excel" >Excel</md-button>
        </h2>
      </md-toolbar>


      <mdt-table paginated-rows="{isEnabled: true, rowsPerPageValues: [20,50, 100]}" 
                  animate-sort-icon="true"
                  mdt-row="{
                            'data': datalist,
                            'table-row-id-key': 'id',
                            'column-keys': ['NCV','nome' ,'PATIO', 'Perc_Comissao', 'Valor_Guincho' ,'valor_comissao', 'data_apreensao','marca_modelo','tipo_veiculo','placa']
                  }"
        >
  
       

        <mdt-header-row>
          <mdt-column align-rule="left" column-sort="false">NCV</mdt-column>
          <mdt-column align-rule="left" column-sort="false">Motorista</mdt-column>
          <mdt-column align-rule="left" column-sort="false">Pátio</mdt-column>
          <mdt-column align-rule="left" column-sort="false">Comissão %</mdt-column>
          <mdt-column align-rule="left" column-sort="false">Valor Guincho</mdt-column>
          <mdt-column align-rule="left" column-sort="false">Valor Comissão</mdt-column>
          <mdt-column align-rule="left" column-sort="false">Apreensão</mdt-column>
          <mdt-column align-rule="left" column-sort="false">Marca/Modelo</mdt-column>
          <mdt-column align-rule="left" column-sort="false">Veiculo</mdt-column>
          <mdt-column align-rule="left" column-sort="false">Placa</mdt-column>

        </mdt-header-row>
        
        
      </mdt-table>

      
  </section>

</div>