
 <section  class="md-whiteframe-z1 " ng-cloak layout="column" >

  <md-toolbar class="md-theme-light" >
    <h2 class="md-toolbar-tools">
      <span>{{dadosList.length || 0}} Registros</span>
      <span flex></span>
      <md-button class="md-raised" aria-label="PDF" ng-click="gerarPDF()">PDF</md-button>
      <md-button class="md-raised" aria-label="Excel" >Excel</md-button>
    </h2>
  </md-toolbar>

  <mdt-table paginated-rows="{isEnabled: true, rowsPerPageValues: [20,50, 100]}"
              animate-sort-icon="true"
              mdt-row="{
                        'data': dadosList,
                        'table-row-id-key': 'NCV',
                        'column-keys': ['NCV', 'placa','data_apreensao','marca_modelo', 'cor','ano', 'editar']
              }"
    >
    <mdt-custom-cell column-key="editar"
    >
      <mdt-custom-cell-button icon='edit'  class="md-icon-button md-secondary"
      ng-click="clientScope.detalhe($event, rowId)" aria-label="Editar" ></md-custom-cell-button>
    </mdt-custom-cell>

    <mdt-header-row>
      <mdt-column align-rule="left" column-sort="false">NCV</mdt-column>
      <mdt-column align-rule="left" column-sort="false">Placa</mdt-column>
      <mdt-column align-rule="left" column-sort="false">data Apreensão</mdt-column>
      <mdt-column align-rule="left" column-sort="false">Marca/Modelo</mdt-column>
      <mdt-column align-rule="left" column-sort="false">Cor</mdt-column>

      <mdt-column align-rule="left" column-sort="false">Ano</mdt-column>
      <mdt-column align-rule="left" column-sort="false">Editar</mdt-column>

    </mdt-header-row>



  </mdt-table>

</section>
