<link rel="stylesheet" href="/assets/css/colsultaDetran/index.css" />
<link rel="stylesheet" href="/assets/css/ncvImages.css" />

<div class="doc-demo-content doc-content">
  <md-content flex>
    <md-card layout-padding>
      <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="DADOS DO VEICULO" id="Screen">
          <md-button type="submit" class="md-raised md-primary" ng-click="PrintElem('screen')"
            >Imprimr</md-button
          >
          <div id="screen">
            <div class="container">
              <div class="containerTitle">
                <h1>Dados do Veiculo</h1>
              </div>
              <form class="CustomForm" id="DadosVeiculoForm">
                <!-- Gera Colunas -->
                <div id="col1" class="col1">
                  <label ng-repeat="item in dadosVeiculo">
                    <p>{{item.Label}}</p>
                    <input
                      type="text"
                      value="{{item.dataKey}}"
                      aria-label="Input"
                      readonly
                    />
                  </label>
                </div>
  
                <div id="col2" class="col2">
                  <label ng-repeat="item in dadosVeiculo1">
                    <p>{{item.Label}}</p>
                    <input
                      type="text"
                      value="{{item.dataKey}}"
                      aria-label="Input"
                      readonly
                    />
                  </label>
                </div>
              </form>
            </div>
  
            <div class="container" ng-repeat="(key,value) in multas">
              <div class="containerTitle">
                <h1>Multa {{key + 1}}</h1>
              </div>
              <form class="CustomForm">
                <!-- Gera Colunas -->
                <div id="col1" class="col1">
                  <label ng-repeat="(key,value) in value">
                    <p>{{camelCaseToWords(key)}}</p>
                    <input
                      type="text"
                      value="{{value}}"
                      aria-label="Input"
                      readonly
                    />
                  </label>
                </div>
              </form>
            </div>
  
            <div class="container" ng-repeat="(key,value) in renajud">
              <div class="containerTitle">
                <h1>Renajud {{key + 1}}</h1>
              </div>
  
              <form class="CustomForm">
                <!-- Gera Colunas -->
                <div id="col1" class="col1">
                  <label ng-repeat="(key,value) in value">
                    <p>{{camelCaseToWords(key)}}</p>
                    <input
                      type="text"
                      value="{{value}}"
                      aria-label="Input"
                      readonly
                    />
                  </label>
                </div>
              </form>
            </div>
          </div>
        </md-tab>
      </md-tabs>
    </md-card>
  </md-content>
</div>
