<link rel="stylesheet" href="/assets/css/colsultaDetran/index.css" />
<link rel="stylesheet" href="/assets/css/ncvImages.css" />

<div class="doc-demo-content doc-content">
  <md-content flex>
    <md-card layout-padding>
      <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="DADOS DO VEICULO">


          <div class="container">
            <div class="containerTitle">
              <h1>Dados do Veiculo</h1>
            </div>
            <div>
              <md-button class="md-raised md-primary" ng-click="fetchDetran()">ATUALIZAR</md-button>
            </div>
            <form class="CustomForm" id="DadosVeiculoForm">
              <!-- Gera Colunas -->
              <div id="col1" class="col1">
                <label ng-repeat="item in dadosVeiculo[0]">
                  <p>{{item.Label}}</p>
                  <input type="text" value="{{item.dataKey}}" aria-label="Input" readonly />
                </label>
              </div>

              <div id="col2" class="col2">
                <label ng-repeat="item in dadosVeiculo[1]">
                  <p>{{item.Label}}</p>
                  <input type="text" value="{{item.dataKey}}" aria-label="Input" readonly />
                </label>
              </div>
            </form>
          </div>

          <div class="container">
            <div class="containerTitle">
              <h1>Proprietário</h1>
            </div>

            <form class="CustomForm">
              <!-- Gera Colunas -->
              <div id="col1" class="col1">
                <label ng-repeat="item in DadosDoProprietario[0]">
                  <p>{{item.Label}}</p>
                  <input type="text" value="{{item.dataKey}}" aria-label="Input" readonly />
                </label>
              </div>

              <div id="col2" class="col2">
                <label ng-repeat="item in DadosDoProprietario[1]">
                  <p>{{item.Label}}</p>
                  <input type="text" value="{{item.dataKey}}" aria-label="Input" readonly />
                </label>
              </div>
            </form>
          </div>

          <div class="container">
            <div class="containerTitle">
              <h1>Comunicação de Venda</h1>
            </div>

            <form class="CustomForm">
              <!-- Gera Colunas -->
              <div id="col1" class="col1">
                <label ng-repeat="item in DadosVenda[0]">
                  <p>{{item.Label}}</p>
                  <input type="text" value="{{item.dataKey}}" aria-label="Input" readonly />
                </label>
              </div>

              <div id="col2" class="col2">
                <label ng-repeat="item in DadosVenda[1]">
                  <p>{{item.Label}}</p>
                  <input type="text" value="{{item.dataKey}}" aria-label="Input" readonly />
                </label>
              </div>
            </form>
          </div>

          <div class="container">
            <div class="containerTitle">
              <h1>Financeira</h1>
            </div>

            <form class="CustomForm">
              <!-- Gera Colunas -->
              <div id="col1" class="col1">
                <label ng-repeat="item in DadosFinanceira[0]">
                  <p>{{item.Label}}</p>
                  <input type="text" value="{{item.dataKey}}" aria-label="Input" readonly />
                </label>
              </div>

              <div id="col2" class="col2">
                <label ng-repeat="item in DadosFinanceira[1]">
                  <p>{{item.Label}}</p>
                  <input type="text" value="{{item.dataKey}}" aria-label="Input" readonly />
                </label>
              </div>
            </form>
          </div>

          <div class="container">
            <div class="containerTitle">
              <h1>BIN/Motor</h1>
            </div>

            <form class="CustomForm">
              <!-- Gera Colunas -->
              <div id="col1" class="col1">
                <label ng-repeat="item in DadosBinMotor[0]">
                  <p>{{item.Label}}</p>
                  <input type="text" value="{{item.dataKey}}" aria-label="Input" readonly />
                </label>
              </div>

              <div id="col2" class="col2">
                <label ng-repeat="item in DadosBinMotor[1]">
                  <p>{{item.Label}}</p>
                  <input type="text" value="{{item.dataKey}}" aria-label="Input" readonly />
                </label>
              </div>
            </form>
          </div>

          <div class="container">
            <div class="containerTitle">
              <h1>Bloqueio 1</h1>
            </div>
            <form class="CustomForm">
              <!-- Gera Colunas -->
              <div id="col1" class="col1">
                <label ng-repeat="item in DadosBloqueio1[0]">
                  <p>{{item.Label}}</p>
                  <input type="text" value="{{item.dataKey}}" aria-label="Input" readonly />
                </label>
              </div>

              <div id="col2" class="col2">
                <label ng-repeat="item in DadosBloqueio1[1]">
                  <p>{{item.Label}}</p>
                  <input type="text" value="{{item.dataKey}}" aria-label="Input" readonly />
                </label>
              </div>
            </form>
          </div>

          <div class="container">
            <div class="containerTitle">
              <h1>Bloqueio 2</h1>
            </div>

            <form class="CustomForm">
              <!-- Gera Colunas -->
              <div id="col1" class="col1">
                <label ng-repeat="item in DadosBloqueio2[0]">
                  <p>{{item.Label}}</p>
                  <input type="text" value="{{item.dataKey}}" aria-label="Input" readonly />
                </label>
              </div>

              <div id="col2" class="col2">
                <label ng-repeat="item in DadosBloqueio2[1]">
                  <p>{{item.Label}}</p>
                  <input type="text" value="{{item.dataKey}}" aria-label="Input" readonly />
                </label>
              </div>
            </form>
          </div>

          <div class="container">
            <div class="containerTitle">
              <h1>Renajud</h1>
            </div>

            <form class="CustomForm">
              <!-- Gera Colunas -->
              <div id="col1" class="col1">
                <label ng-repeat="item in DadosRenajud[0]">
                  <p>{{item.Label}}</p>
                  <input type="text" value="{{item.dataKey}}" aria-label="Input" readonly />
                </label>
              </div>

              <div id="col2" class="col2">
                <label ng-repeat="item in DadosRenajud[1]">
                  <p>{{item.Label}}</p>
                  <input type="text" value="{{item.dataKey}}" aria-label="Input" readonly />
                </label>
              </div>
            </form>
          </div>

          <div class="container">
            <div class="containerTitle">
              <h1>Renajud - Restrição 1</h1>
            </div>

            <form class="CustomForm">
              <!-- Gera Colunas -->
              <div id="col1" class="col1">
                <label ng-repeat="item in DadosRenajudRest1[0]">
                  <p>{{item.Label}}</p>
                  <input type="text" value="{{item.dataKey}}" aria-label="Input" readonly />
                </label>
              </div>

              <div id="col2" class="col2">
                <label ng-repeat="item in DadosRenajudRest1[1]">
                  <p>{{item.Label}}</p>
                  <input type="text" value="{{item.dataKey}}" aria-label="Input" readonly />
                </label>
              </div>
            </form>
          </div>

          <div class="container">
            <div class="containerTitle">
              <h1>Renajud - Restrição 2</h1>
            </div>

            <form class="CustomForm">
              <!-- Gera Colunas -->
              <div id="col1" class="col1">
                <label ng-repeat="item in DadosRenajudRest2[0]">
                  <p>{{item.Label}}</p>
                  <input type="text" value="{{item.dataKey}}" aria-label="Input" readonly />
                </label>
              </div>

              <div id="col2" class="col2">
                <label ng-repeat="item in DadosRenajudRest2[1]">
                  <p>{{item.Label}}</p>
                  <input type="text" value="{{item.dataKey}}" readonly />
                </label>
              </div>
            </form>
          </div>
        </md-tab>

        <md-tab label="FOTOS CONFERENTE">
          <md-content flex style="background: white">
            <div style="margin-bottom: 10px; margin-top: 10px">.</div>

            <div>
              <md-content>
                <md-grid-list md-cols-gt-md="1" md-cols-md="1" md-cols-sm="1" md-gutter="15px" md-row-height="1:1">
                  <div class="body">
                    <div class="content" ng-repeat="imagemConferente in images.listaImagensConferente">
                      <div class="header">
                        <md-input-container class="md-block" flex-gt-sm>
                          <input type="text" style="
                              color: white;
                              text-align: center;
                              font-weight: bold;
                              font-size: 18px;
                            " aria-label="Input" name="ncv" ng-model="imagemConferente.tipo" ng-readonly="true" />
                        </md-input-container>
                      </div>
                      <div class="canva">
                        <img ng-src="{{images.urlImagensConferente+imagemConferente.imagem+'.jpg'}}" />

                        <div class="description">
                          <p ng-show="{{imagemConferente.tipo == 'Chassi'}}">
                            Chassi : {{dados.chassi}}
                          </p>
                          <p ng-show="{{imagemConferente.tipo === 'Motor'}}">
                            Motor : {{dados.numero_motor_bin}}
                          </p>
                        </div>
                      </div>
                      <br />

                      <div class="options">
                        <button class="open">
                          <a href="{{images.urlImagensConferente+imagemConferente.imagem+'.jpg'}}"
                            target="_blanck">Visualizar</a>
                        </button>
                      </div>
                    </div>
                  </div>
                </md-grid-list>
              </md-content>
            </div>

            <br />
            <br />
          </md-content>
        </md-tab>

        <md-tab label="FOTOS CHECKLIST">
          <div style="margin-bottom: 10px; margin-top: 10px">.</div>

          <div class="body">
            <div class="content" ng-repeat="imagem in images.listaImagens">
              <div class="header">
                <md-input-container class="md-block" flex-gt-sm>
                  <input type="text" style="
                      color: white;
                      text-align: center;
                      font-weight: bold;
                      font-size: 18px;
                    " name="ncv" ng-model="imagem.tipo" ng-readonly="true" />
                </md-input-container>
              </div>
              <div class="canva">
                <img ng-src="{{images.urlFotos+imagem.imagem}}" />
              </div>
              <div class="options">
                <button class="open">
                  <a href="{{images.urlFotos+imagem.imagem}}" target="_blanck">Visualizar</a>
                </button>

                <md-button class="md-raised md-primary" ng-click="apagarImagem(imagem)" ng-disabled="!_apagar">
                  Apagar</md-button>
              </div>
            </div>
          </div>

          <br />
          <br />
        </md-tab>

        <md-tab label="PDF DETRAN">
          <md-content flex>
            <md-card layout-padding>
              <div class="Iframe">
                <iframe ng-src="{{trustSrc()}}" type="application/pdf"></iframe>
              </div>
            </md-card>
          </md-content>
        </md-tab>
      </md-tabs>
    </md-card>
  </md-content>
</div>