<div class="doc-demo-content doc-content">

    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="DADOS TRAFEGO">
        <md-content layout-xs="column" layout-gt-sm="row" layout-sm="column">
        <md-card layout-padding flex-gt-sm layout="column" flex-order="1" flex-order-gt-sm="1">
       
        <form name="editForm" ng-submit="editForm.$valid && gravar(dados)" novalidate="novalidate">
        
        <br>

        <div layout-gt-sm="row" >
 
            <md-input-container class="md-block" flex-gt-sm>
                <label>Veiculo</label>
                <md-select placeholder="Seleção Veículo" name="veiculo" ng-model="dados.id_veiculo" ng-change="buscaDados()">
                    <md-option ng-repeat="veiculo in veiculos" ng-value="veiculo.id">
                        {{veiculo.descricao}}
                    </md-option>
                </md-select>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
                <label>Nome Usuario</label>
                <md-select placeholder="Nome Usuario" name="usuario" ng-model="dados.nome_usuario" ng-required="true" ng-disabled="!dados.id_veiculo">
                    <md-option ng-repeat="funcionario in funcionarios" ng-value="funcionario.nome">
                        {{funcionario.nome}}
                    </md-option>
                </md-select>
            </md-input-container>

            <md-input-container class="md-block"  >
                <label>KM Saída</label>
                <input ng-required="true" type="number" name="Hodometro Saida" ng-model="dados.hodometro_saida" ng-readonly="isDisabled" style="width: 100px;" 
                ng-disabled="!dados.id_veiculo"  />
            </md-input-container>

            <md-input-container class="md-block"  flex-gt-sm>
                <label>Digite Destino</label>
                <input ng-required="true" type="text" name="Destino" ng-model="dados.destino" ng-disabled="!dados.id_veiculo"/>
            </md-input-container>            
      
        </div>
    
        
        <div>
            <md-button type="submit"  class="md-raised md-primary" ng-click="gravar()" ng-disabled="!dados.id_veiculo">Gravar</md-button>
            <md-button class="md-raised" aria-label="Limpar" ng-click="limpar()">Limpar</md-button>
            <md-button class="md-raised" ng-click="paginaAnterior()" aria-label="Voltar">Voltar</md-button>
        </div>
         
        </form>
      </md-card>
    </md-content>
    
  
    <section  class="md-whiteframe-z1 " ng-cloak layout="column" >
      
        <md-toolbar class="md-theme-light" >
          <h2 class="md-toolbar-tools">
            <span>{{veiculoDescricao}} -  {{veiculoPlaca}}</span>
            <span flex></span>
            <md-button class="md-raised" aria-label="PDF" ng-click="gerarPdf()">PDF</md-button>
            <md-button class="md-raised" aria-label="Excel" ng-click="gerarPlanilha()">Excel</md-button>
          </h2>
        </md-toolbar>
  
        <mdt-table paginated-rows="{isEnabled: true, rowsPerPageValues: [20,50, 100]}" 
                    animate-sort-icon="true"
                    mdt-row="{
                              'data': dadosList,
                              'table-row-id-key': 'id',
                              'column-keys': ['data_saida', 'hora_saida', 'hodometro_saida', 'data_chegada', 'hora_chegada', 
                                                'hodometro_chegada', 'km_rodado', 'nome_usuario', 'editar']
                    }"
          >

        
          <mdt-custom-cell column-key="editar" ng-hide="dadosList.km_rodado == 0">
            <mdt-custom-cell-button icon='edit' class="md-icon-button md-secondary" 
                ng-click="clientScope.detalhe($event, rowId)" aria-label="Detalhe" 
                ng-hide="clientScope.hideCheck($event, rowId)" title="Entrar com dados de retorno de viagem">
            </md-custom-cell-button>
          </mdt-custom-cell>
           
          <mdt-header-row>
            <mdt-column align-rule="left" column-sort="true">Data Saída</mdt-column>
            <mdt-column align-rule="left" column-sort="false">Hora Saida</mdt-column>
            <mdt-column align-rule="left" column-sort="true">Hodômetro Saída</mdt-column>
            <mdt-column align-rule="left" column-sort="false">Data Chegada</mdt-column>
            <mdt-column align-rule="left" column-sort="false">Hora Chegada</mdt-column>
            <mdt-column align-rule="left" column-sort="true">Hodômetro Chegada</mdt-column>
            <mdt-column align-rule="left" column-sort="false">KM Rodado</mdt-column>
            <mdt-column align-rule="left" column-sort="false">Usuário</mdt-column>
            <mdt-column align-rule="left" column-sort="false">Editar</mdt-column> 
            
          </mdt-header-row>
          
          
        </mdt-table>
      
    </section>


</md-tab>








<md-tab label="AJUSTES" ng-disabled='ajuste_logistica == "1" ? false : true'>

    <md-content layout-xs="column" layout-gt-sm="row" layout-sm="column">
        <md-card layout-padding flex-gt-sm layout="column" flex-order="1" flex-order-gt-sm="1">
       
        <form name="editForm" ng-submit="editForm.$valid && gravarAjustes(dadosAjustes)" novalidate="novalidate">
        
    <br>

    <div layout-gt-sm="row" >

        <md-input-container class="md-block" flex-gt-sm>
            <label>Seleção Veiculo</label>
            <md-select placeholder="Seleção Veículo" name="veiculo" ng-model="dadosAjustes.id_veiculo" ng-change="buscaDadosAjustes()">
                <md-option ng-repeat="veiculo in veiculos" ng-value="veiculo.id">
                    {{veiculo.descricao}}
                </md-option>
            </md-select>
        </md-input-container>


    </div>


    <div layout-gt-sm="row" >

        <md-input-container class="md-block"  flex-gt-sm>
            <label>Data Saída</label>
            <input type="text" name="data_saida" ng-model="dadosAjustes.data_saida" ng-required="true" mask="99/99/9999">
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
            <label>Hora Saída</label>
            <input type="text" name="hora_saida" ng-model="dadosAjustes.hora_saida" mask="99:99" 
                ng-required="true" />
        </md-input-container>

        <md-input-container class="md-block"  flex-gt-sm>
            <label>KM Saída</label>
            <input ng-required="true" type="number" name="Hodometro Saida" ng-model="dadosAjustes.hodometro_saida"  />
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
            <label>Data Chegada</label>
            <input tipe="text" name="data_chegada" ng-model="dadosAjustes.data_chegada" ng-required="true" mask="99/99/9999" >
        </md-input-container>

        <md-input-container class="md-block"  flex-gt-sm>
            <label>Hora Chegada</label>
            <input type="text" name="hora_chegada" ng-model="dadosAjustes.hora_chegada" mask="99:99" 
                ng-required="true" />
        </md-input-container>

        <md-input-container class="md-block"  flex-gt-sm>
            <label>KM Chegada</label>
            <input ng-required="true" type="number" name="Hodometro Chegada" 
            ng-model="dadosAjustes.hodometro_chegada" ng-keyup="calculaKMAjustes()"/>
        </md-input-container>
    
    </div>


        <div layout-gt-sm="row" >

            <md-input-container class="md-block" flex-gt-sm>
                <label>KM Rodado</label>
                <input ng-required="true" type="number" name="KM Rodado" ng-model="dadosAjustes.km_rodado" ng-disabled="true"/>
            </md-input-container>

            <md-input-container class="md-block"  flex-gt-sm>
                <label>Abastecimento</label>
                <input ng-required="true" type="number" name="Abastecimento" ng-model="dadosAjustes.abastecido_litros"  />
            </md-input-container>

            <md-input-container class="md-block"  flex-gt-sm>
                <label>Destino</label>
                <input ng-required="true" type="text" name="Destino" ng-model="dadosAjustes.destino" />
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
                <label>Nome Usuario</label>
                <md-select placeholder="Nome Usuario" name="usuario" ng-model="dadosAjustes.nome_usuario" >
                    <md-option ng-repeat="funcionario in funcionarios" ng-value="funcionario.nome">
                        {{funcionario.nome}}
                    </md-option>
                </md-select>
            </md-input-container>
            

        </div>

    
    <div>
        <md-button type="submit"  class="md-raised md-primary" ng-disabled="isEnabled">Gravar</md-button>
        <md-button class="md-raised" aria-label="Limpar" ng-click="limparAjustes()">Limpar</md-button>
    </div>


        
</form>
</md-card>
</md-content>



<section  class="md-whiteframe-z1 " ng-cloak layout="column" >
  
    <md-toolbar class="md-theme-light" >
      <h2 class="md-toolbar-tools">
        <span>{{dadosListAjustes.length || 0}} Registros  -  {{veiculoDescricaoAjustes}} -  {{veiculoPlacaAjustes}}</span>
        <span flex></span>
        <md-button class="md-raised" aria-label="PDF" ng-click="gerarPdfAjustes()">PDF</md-button>
        <md-button class="md-raised" aria-label="Excel" ng-click="gerarPlanilhaAjustes()">Excel</md-button>
      </h2>
    </md-toolbar>

    <mdt-table paginated-rows="{isEnabled: true, rowsPerPageValues: [20,50, 100]}" 
                animate-sort-icon="true"
                mdt-row="{
                          'data': dadosListAjustes,
                          'table-row-id-key': 'id',
                          'column-keys': ['data_saida', 'hora_saida', 'hodometro_saida', 'data_chegada', 'hora_chegada', 
                                            'hodometro_chegada', 'km_rodado', 'nome_usuario', 'editar']
                }"
      >

      <mdt-custom-cell column-key="editar" >
        <mdt-custom-cell-button icon='edit' class="md-icon-button md-secondary" 
            ng-click="clientScope.detalheAjustes($event, rowId)" aria-label="Detalhe" 
            title="Ajustar dados de registros de viagem" >
        </md-custom-cell-button>
      </mdt-custom-cell>
       
      <mdt-header-row>
        <mdt-column align-rule="left" column-sort="true">Data Saída</mdt-column>
        <mdt-column align-rule="left" column-sort="false">Hora Saida</mdt-column>
        <mdt-column align-rule="left" column-sort="true">Hodômetro Saída</mdt-column>
        <mdt-column align-rule="left" column-sort="false">Data Chegada</mdt-column>
        <mdt-column align-rule="left" column-sort="false">Hora Chegada</mdt-column>
        <mdt-column align-rule="left" column-sort="true">Hodômetro Chegada</mdt-column>
        <mdt-column align-rule="left" column-sort="false">KM Rodado</mdt-column>
        <mdt-column align-rule="left" column-sort="false">Usuário</mdt-column>
        <mdt-column align-rule="left" column-sort="false">Editar</mdt-column> 
        
      </mdt-header-row>
      
      
    </mdt-table>
  
</section>

</md-tab>

</md-tabs>

</div>







<script type="text/ng-template" id="adiciona-dados-retorno.html">


    <md-dialog aria-label="RetornoViagem">
        <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
            <h2>Registro de Viagem - {{veiculoDescricao}}</h2>
            <span flex></span>
            
            </div>
        </md-toolbar>
        
        <md-dialog-content>
            <div class="md-dialog-content" flex-gt-sm>

                <div layout-gt-sm="row" >

                <md-input-container class="md-block"  style="margin-right: 10px; width: 200px;">
                    <label>Data Saída</label>
                    <input type=text name="data_saida" ng-model="dadosSaida.data_saida" ng-readonly="true" >
                    </md-datepicker>
                </md-input-container>
    
                <md-input-container class="md-block" >
                    <label>Hora Saída</label>
                    <input type="text" name="hora_saida" ng-model="dadosSaida.hora_saida" ng-readonly="true"  style=" width: 130px; margin-right: 10px;"/>
                </md-input-container>
      
                <md-input-container class="md-block" >
                    <label>KM Saída</label>
                    <input type="text" name="Hodometro Saida" ng-model="dadosSaida.hodometro_saida" style="width: 100px;" ng-readonly="true"/>
                </md-input-container>
    
                <md-input-container class="md-block"  flex-gt-sm>
                    <label>Destino</label>
                    <input ng-required="true" type="text" name="Destino" ng-model="dadosSaida.destino" ng-readonly="true"/>
                </md-input-container>
    
                <md-input-container class="md-block"  flex-gt-sm>
                    <label>Nome Usuário</label>
                    <input ng-required="true" type="text" name="Nome Usuario" ng-model="dadosSaida.nome_usuario" ng-readonly="true"/>
                </md-input-container>
      

            </div>


        <div layout-gt-sm="row" >

            <md-input-container class="md-block"  flex-gt-sm>
                <label>KM Chegada</label>
                <input ng-required="true" type="number" name="Hodometro Chegada" ng-model="dadosChegada.hodometro_chegada"  
                ng-keyup="calculaKM()"/>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
                <label>KM Rodado</label>
                <input ng-required="true" type="number" name="KM Rodado" ng-model="dadosChegada.km_rodado" />
            </md-input-container>

            <md-input-container class="md-block"  flex-gt-sm>
                <label>Abastecimento</label>
                <input ng-required="true" type="number" name="Abastecimento" ng-model="dadosChegada.abastecido_litros"  />
            </md-input-container>

            </div>
        
        </div>
        </md-dialog-content>
    

            <md-dialog-actions layout="row">
                
                <span flex></span>
                
                <md-button ng-click="cancelar()" class="md-raised">CANCELAR</md-button>
                <md-button ng-click="gravarDadosRetorno()" class="md-raised" md-colors="{background:'teal'}"> GRAVAR</md-button>
        
            </md-dialog-actions>
            
        </form>
    </md-dialog>


</script>
  