<div class="doc-demo-content doc-content">
  <md-content flex>
    <md-card layout-padding>
      <form name="editForm" ng-submit="editForm.$valid && gravar(dados)" novalidate="novalidate">
        <br>    
        <div style="width: 98%;"> 

          <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Descrição</label>
            <input ng-required="true" type="text" name="descricao" ng-model="dados.descricao" ng-change="dados.descricao = (dados.descricao | uppercase)"/>
            <div ng-messages="editForm.descricao.$error" role="alert">
            <div ng-message="mask">
                 Digitar descrição do tipo
            </div>
            <div ng-message-exp="['required']">
                Campo Obrigatório.
            </div>
            </div>
          </md-input-container>
    
          <md-input-container class="md-block" flex-gt-sm>
            <label>Tipo Conta</label>
            <md-select placeholder="Tipo de Conta" required ng-required="true" name="tipo" ng-model="dados.tipo">
              <md-option value="BANCO">BANCO</md-option>
              <md-option value="CAIXA">CAIXA</md-option>            </md-select>
            <div ng-messages="editForm.tipo.$error" class="errors">
              <div ng-message="required">
                Campo Obrigatório.
              </div>
            </div>
          </md-input-container>
          
          <md-input-container class="md-block" flex-gt-sm>
            <label>CNPJ</label>
              <input ng-required="true" type="text" name="cnpj" cpf-cnpj ng-model="dados.cnpj"/>
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm>
            <label>Banco</label>
            <input  type="text" name="banco" ng-model="dados.banco" required/>
        </md-input-container>
          </div>
          <div layout-gt-sm="row">

          <md-input-container class="md-block" flex-gt-sm>
            <label>Nro Banco</label>
              <input  type="text" name="codigo_banco" ng-model="dados.codigo_banco"/>
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm>
          <label>Nro Agencia</label>
              <input  type="text" name="agencia" ng-model="dados.agencia">
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm>
            <label>Conta Corrente</label>
                <input  type="text" name="agencia" ng-model="dados.conta">
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm>
            <label>Taxa de boleto</label>
              <input ng-required="true" type="text" name="tx_boleto" ng-model="dados.tx_boleto" money-mask/>
           
        </md-input-container>       

          </div>

          <div layout-gt-sm="row">

            <md-input-container class="md-block" flex-gt-sm>
              <label>Titular da Conta</label>
              <input  type="text" name="titular" ng-model="dados.titular" ng-change="dados.titular = (dados.titular | uppercase)"/>
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm>
            <label>Gerente</label>
              <input  type="text" name="gerente" ng-model="dados.gerente"/>
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm>
            <label>Telefone</label>
            <input ng-required="false" type="text" name="telefone" ng-model="dados.telefone" mask="(99) 9?9999-9999"/>
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm>
            <label>Email</label>
            <input ng-required="false" type="email" name="email" ng-model="dados.email" />
          </md-input-container>            
          </div>

        <br>
          <md-button type="submit" ng-disabled="isDisabled" class="md-raised md-primary">Gravar</md-button>
          <md-button class="md-raised" ng-click="paginaAnterior()" aria-label="Voltar">Voltar</md-button>
        </div>

      </form>
    </md-card>
  </md-content>
</div>