
<div id="Modal" ng-show="ShowMessage">
    <p>{{message}}</p>

</div>

<div id="Modal2" ng-show="Showmodal2">
    <p>{{message2}}</p>
    <button ng-click="Showmodal2 = false ">Fechar</button>
</div>


<link rel="stylesheet" href="/assets/css/customTable.css">

<link rel="stylesheet" href="/assets/css/CustomModal.css">


<div class="doc-demo-content doc-content">

    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="BUSCAR DADOS">
            <md-content layout-xs="column" layout-gt-sm="row" layout-sm="column">
                <md-card layout-padding flex-gt-sm layout="column" flex-order="1" flex-order-gt-sm="1">
                    
                    <form name="editForm" ng-submit="editForm.$valid && formEdit(DadosPeriodo)" novalidate="novalidate">

                        <div layout-gt-sm="row" style="display: flex;align-items: baseline;">
                       
                            <md-input-container class="md-block"  style="width: 200px ;">
                              <label>Data Inicial</label> 
                              <md-datepicker name="dataInicio" ng-model="DadosPeriodo.dataInicio" ></md-datepicker>
                            </md-input-container> 
                
                            <md-input-container class="md-block" style="margin-left: 200px;">
                              <label>Data Final</label>   
                              <md-datepicker name="dataFinal" ng-model="DadosPeriodo.dataFinal" ></md-datepicker>
                            </md-input-container>

                          
                            <md-input-container class="md-block" style="width: 20%; margin-left: 150px;" >
                                <md-checkbox ng-model="DadosPeriodo.com_atualizacao" aria-label="Checkbox 1" 
                                            ng-disabled="DadosPeriodo.sem_atualizacao">
                                    Com Atualização
                                </md-checkbox>
                            </md-input-container>
                          
                            <md-input-container class="md-block" style="width: 20%; margin-left: 100px;">
                                <md-checkbox ng-model="DadosPeriodo.sem_atualizacao" aria-label="Checkbox 1"
                                            ng-disabled="DadosPeriodo.com_atualizacao">
                                    Sem Atualização
                                </md-checkbox>
                            </md-input-container>
                                   
                        </div>      
                        

                        <div layout-gt-sm="row" style="display: flex;align-items: baseline;">

                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Pátio</label>
                                <md-select placeholder="Pátio" name="patio" ng-model="DadosPeriodo.id_patio"  ng-disabled="DadosPeriodo.id_patioGrupo">
                                    <md-option ng-repeat="patio in patios" ng-value="patio.id_patio">
                                        {{patio.nome}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        
                            <md-input-container class="md-block" flex-gt-sm> 
                                <label>Grupo Pátio</label>
                                <md-select placeholder="Grupo Pátio" name="grupoPatio" ng-model="DadosPeriodo.id_patioGrupo" ng-disabled="DadosPeriodo.id_patio">
                                  <md-option ng-repeat="patioGrupo in patiosGrupo" ng-value="patioGrupo.id" >
                                    {{patioGrupo.descricao}}
                                  </md-option>
                                </md-select>
                            </md-input-container>

                        </div>

                        <br>

                        <div>

                            <md-button type="submit" ng-disabled="false" class="md-raised"
                                md-colors="{background:'teal'}" md-colors-watch="false"
                                ng-click="SeparacaoPeriodo.buscaDados()">FILTRAR
                            </md-button>

                            <md-button class="md-raised" aria-label="Limpar" ng-click="SeparacaoPeriodo.limpar($event)">
                                Limpar</md-button>

                            <md-button class="md-raised md-primary" style="margin-left: 200px;" ng-disabled="disableAtualizaDetran" 
                                aria-label="Adicionar" ng-click="SeparacaoPeriodo.atualizaDetran()">Atualizar Detran
                            </md-button>

                        </div>

                    </form>

                </md-card>
            </md-content>

            <section class="md-whiteframe-z1 " ng-cloak layout="column">

                <md-toolbar class="md-theme-light">
                    <h2 class="md-toolbar-tools">
                        <span>{{Dados.length || 0}} Registros</span>
                        <span flex></span>
                        
                        <md-button type="submit" class="md-raised" 
                            md-colors-watch="false" ng-click="SeparacaoPeriodo.GerarRenajudOrJudicial('JUDICIAL')" 
                            ng-disabled="disableCustomPDFs">PDF JUDICIAL
                        </md-button>
                            
                        <md-button type="submit" class="md-raised" 
                            md-colors-watch="false" ng-click="SeparacaoPeriodo.GerarRenajudOrJudicial('RENAJUD')" 
                            ng-disabled="disableCustomPDFs">PDF RENAJUD
                        </md-button>

                        <md-button type="submit" class="md-raised" 
                            md-colors-watch="false" ng-click="SeparacaoPeriodo.GerarRenajudOrJudicial('ADMINISTRATIVO')" 
                            ng-disabled="disableCustomPDFs">PDF ADMINISTRATIVO
                        </md-button> 

                        <md-button class="md-raised" ng-click="gerarPDF()" aria-label="PDF">PDF</md-button>
                        
                        <md-button class="md-raised" ng-click="gerarPlanilha()" aria-label="Excel">Excel</md-button>

                        <md-button class="md-raised" md-colors="{background:'teal'}" md-colors-watch="false" ng-disabled="disableAtualizaDetran" 
                            aria-label="Adicionar" ng-click="SeparacaoPeriodo.atualizaNCV()">Atualizar NCV
                        </md-button>

                        <md-button class="md-raised" md-colors="{background:'teal'}" md-colors-watch="false"
                            ng-disabled="!Dados" ng-click="SeparacaoPeriodo.SelecionarTodos(Dados)">
                            {{SeparacaoPeriodo.Selecionar}}
                        </md-button>
                    </h2>
                </md-toolbar>


                <md-content class="Body">

                    <md-card>
                        <table>

                            <tr>
                                <th>Pátio</th>
                                <th>NCV</th>
                                <th>Data de Apreensão</th>
                                <th>Ano</th>
                                <th>Marca/Modelo</th>
                                <th>Placa</th>
                                <th>Tipo</th>
                                <th>Atualização</th>
                                <th>Dados Detran</th>
                                <th>Selecionar</th>

                            </tr>
                            <tr ng-repeat="Dado in Dados" class="Result">
                                
                                <td>{{Dado.patio}}</td>
                                <td>{{Dado.NCV}}</td>
                                <td>{{Dado.data_apreensao}}</td>
                                <td>{{Dado.ano}}</td>
                                <td>{{Dado.marca_modelo_ncv}}</td>
                                <td>{{Dado.placa_ncv}}</td>
                                <td>{{Dado.tipo_veiculo}}</td>
                                <td>{{Dado.data_hora_atualizacao}}</td>
                                <td ng-click="OpenConsulta(Dado)">

                                    <a ng-href="/#/Consulta-Detran?id={{Dado.NCV}}" target="_blank"
                                        rel="noopener noreferrer">{{Dado.restricoes}}</a>
                                </td>

                                <td>

                                    <input type="checkbox" name="selecionado" aria-label="selecionado"
                                        ng-model="Dado.selecionado" >
                                </td>

                            </tr>

                        </table>

                    </md-card>
                </md-content>

            </section>
            
        </md-tab>
    </md-tabs>

    
    





<script type="text/ng-template" id="detalhes-dados-detran.html">
    <md-dialog style="width:600px;height:350px;">
      <md-dialog-content>
    
        <md-content layout-padding>
                  
          <section class="md-whiteframe-z1 " ng-cloak layout="column">
            <div class="myDivClass">
              <md-toolbar class="md-theme-light">
                <h2 class="md-toolbar-tools">
                  <span>Detalhes Consulta Detran</span>
                  <span flex></span>
                </h2>
              </md-toolbar>
  
              <br>
          
          
                <div layout-gt-sm="row">
          
                  <md-input-container class="md-block" flex-gt-sm style="width:10vw" >
                    <label>Total veículos: </label>
                    <input type="text" name="recebidos" ng-readonly="true" ng-model="totalRecebidos" />
                  </md-input-container>
  
                  <md-input-container class="md-block" flex-gt-sm style="width:10vw" >
                    <label>Excluídos da pesquisa Detran:</label>
                    <input type="text" name="diferenca" ng-readonly="true" ng-model="diferenca" />
                  </md-input-container>
  
                </div>

                <div layout-gt-sm="row">
                    </h1> OBS.: Veículo(s) excluídos(s) devido a inconsistências no campo placa!</h1> 
                </div>

                <br>
              
            </div>
    
          </section>
        </md-content>
      </md-dialog-content>
      <br>
        <md-dialog-actions>
            <md-button class="md-raised md-primary" ng-click="gerarPDFDiferenca()">PDF EXCLUÍDOS</md-button>
            <md-button class="md-raised md-primary" ng-click="cancel()">OK</md-button>
        </md-dialog-actions>
    
    </md-dialog>
    
  </script>