<div id="Modal" ng-show="ShowMessage">
  <p>{{message}}</p>
</div>

<div id="Modal2" ng-show="Showmodal2">
  <p>{{message2}}</p>
  <button ng-click="">Fechar</button>
</div>

<link rel="stylesheet" href="/assets/css/customTable.css" />

<link rel="stylesheet" href="/assets/css/CustomModal.css" />

<div class="doc-demo-content doc-content">
  <md-tabs md-dynamic-height md-border-bottom>
    <md-tab label="BUSCAR DADOS">
      <md-content layout-xs="column" layout-gt-sm="row" layout-sm="column">
        <md-card
          layout-padding
          flex-gt-sm
          layout="column"
          flex-order="1"
          flex-order-gt-sm="1"
        >
          <form
            name="editForm"
            ng-submit="editForm.$valid && formEdit(DadosPeriodo)"
            novalidate="novalidate"
          >
            <div
              layout-gt-sm="row"
              style="display: flex; align-items: baseline"
            >
              <md-input-container class="md-block" style="width: 200px">
                <label>Data Inicial</label>
                <md-datepicker
                  name="dataInicio"
                  ng-model="state.dataInicio"
                ></md-datepicker>
              </md-input-container>

              <md-input-container class="md-block" style="margin-left: 200px">
                <label>Data Final</label>
                <md-datepicker
                  name="dataFinal"
                  ng-model="state.dataFinal"
                ></md-datepicker>
              </md-input-container>
            </div>

            <div
              layout-gt-sm="row"
              style="display: flex; align-items: baseline"
            >
              <md-input-container class="md-block" flex-gt-sm>
                <label>Pátio</label>
                <md-select
                  placeholder="Pátio"
                  name="patio"
                  ng-model="state.id_patio"
                  ng-disabled="state.id_patioGrupo"
                >
                  <md-option
                    ng-repeat="patio in state.patios"
                    ng-value="patio.id_patio"
                  >
                    {{patio.nome}}
                  </md-option>
                </md-select>
              </md-input-container>

              <md-input-container class="md-block" flex-gt-sm>
                <label>Grupo Pátio</label>
                <md-select
                  placeholder="Grupo Pátio"
                  name="grupoPatio"
                  ng-model="state.id_patioGrupo"
                  ng-disabled="state.id_patio"
                >
                  <md-option
                    ng-repeat="patioGrupo in state.patiosGrupo"
                         ng-value="patioGrupo.id"
                  >
                    {{patioGrupo.descricao}}
                  </md-option>
                </md-select>
              </md-input-container>
            </div>

            <br />

            <div>
              <md-button
                type="submit"
                class="md-raised"
                md-colors="{background:'teal'}"
                md-colors-watch="false"
                ng-click="useCases.buscaDados()"
                >FILTRAR
              </md-button>

              <md-button
                class="md-raised"
                aria-label="Limpar"
                ng-click="methods.clear($event)"
              >
                Limpar</md-button
              >

              <md-button
                class="md-raised md-primary"
                style="margin-left: 200px"
                ng-disabled="disableAtualizaDetran"
                aria-label="Adicionar"
                ng-click="useCases.atualizaDetran()"
                >Atualizar Detran
              </md-button>

              <md-button
                class="md-raised md-primary"
                style="margin-left: 200px"
                aria-label="Adicionar"
                ng-click="useCases.atualizarDenatran()"
                >Atualizar Denatran
              </md-button>
            </div>
          </form>
        </md-card>
      </md-content>

      <section class="md-whiteframe-z1" ng-cloak layout="column">
        <md-toolbar class="md-theme-light">
          <h2 class="md-toolbar-tools">
            <span>{{state.dados.length - 1 || 0}} Registros</span>
            <span flex></span>

            <md-button
              type="submit"
              class="md-raised"
              md-colors-watch="false"
              ng-click="useCases.GerarRenajudOrJudicial('JUDICIAL')"
              ng-disabled="!state.dados"
              >PDF JUDICIAL
            </md-button>

            <md-button
              type="submit"
              class="md-raised"
              md-colors-watch="false"
              ng-click="useCases.GerarRenajudOrJudicial('RENAJUD')"
              ng-disabled="!state.dados"
              >PDF RENAJUD
            </md-button>

            <md-button
              class="md-raised"
              ng-click="useCases.GerarRenajudOrJudicial('ADMINISTRATIVO')"
              ng-disabled="!state.dados"
              >PDF ADMINISTRATIVO
            </md-button>

            <md-button class="md-raised" ng-click="useCases.gerarPDF()" aria-label="PDF"
              >PDF</md-button
            >

            <md-button
              class="md-raised"
              ng-click="useCases.gerarPlanilha()"
              aria-label="Excel"
              >Excel</md-button
            >
          </h2>
        </md-toolbar>

        <md-content class="Body">
          <md-card>
            <table>
              <tr>
                <th>Pátio</th>
                <th>NCV</th>
                <th>Data de Apreensão</th>
                <th>Ano</th>
                <th>Marca/Modelo</th>
                <th>Placa</th>
                <th>Tipo</th>
                <th>Atualização DETRAN</th>
                <th>Atualização DENATRAN</th>
                <th>Renavam</th>
                <th>Consulta Denatran</th>
              </tr>
              <tr ng-repeat="Dado in state.dados" class="Result">
                <td>{{Dado.patio}}</td>
                <td>{{Dado.NCV}}</td>
                <td>{{Dado.data_apreensao}}</td>
                <td>{{Dado.ano}}</td>
                <td>{{Dado.marca_modelo_ncv}}</td>
                <td>{{Dado.placa_ncv}}</td>
                <td>{{Dado.tipo_veiculo}}</td>
                <td>{{Dado.data_hora_atualizacao}}</td>
                <td>{{Dado.dataHoraDenatran}}</td>
                <td>{{Dado.renavam}}</td>
                <td ng-click="OpenConsulta(Dado)">
                  <a
                    ng-href="/#/Consulta-Denatran?id={{Dado.renavam}}"
                    target="_blank"
                    rel="noopener noreferrer"
                    >{{Dado.restricaoMessage}}
                  </a>
                </td>
              </tr>
            </table>
          </md-card>
        </md-content>
      </section>
    </md-tab>

    <md-tab label="BUSCAR NCV/PLACA">
      <md-content layout-xs="column" layout-gt-sm="row" layout-sm="column">
        <md-card
          layout-padding
          flex-gt-sm
          layout="column"
          flex-order="1"
          flex-order-gt-sm="1"
        >
          <form
            name="editForm"
            ng-submit="editForm.$valid && formEdit(DadosPeriodo)"
            novalidate="novalidate"
          >
            <div
              layout-gt-sm="row"
              style="display: flex; align-items: baseline"
            >
              <md-input-container style="width: 50%; margin-top: 20px">
                <label>NCV/PLACA</label>
                <input
                  type="text"
                  name="ncv_placas"
                  ng-model="state.ncv_placas"
                  placeholder="NCV/PLACA"
                />
              </md-input-container>
            </div>
            <br />

            <div>
              <md-button
                type="submit"
                class="md-raised"
                md-colors="{background:'teal'}"
                md-colors-watch="false"
                ng-click="useCases.buscaDados(false)"
                >FILTRAR
              </md-button>

              <md-button
                class="md-raised"
                aria-label="Limpar"
                ng-click="methods.clear($event)"
              >
                Limpar</md-button
              >

              <md-button
                class="md-raised md-primary"
                style="margin-left: 200px"
                ng-disabled="disableAtualizaDetran"
                aria-label="Adicionar"
                ng-click="useCases.atualizaDetran()"
                >Atualizar Detran
              </md-button>

              <md-button
                class="md-raised md-primary"
                style="margin-left: 200px"
                aria-label="Adicionar"
                ng-click="useCases.atualizarDenatran(false)"
                >Atualizar Denatran
              </md-button>
            </div>
          </form>
        </md-card>
      </md-content>

      <section class="md-whiteframe-z1" ng-cloak layout="column">
        <md-toolbar class="md-theme-light">
          <h2 class="md-toolbar-tools">
            <span>{{state.dados_ncv_placa.length || 0}} Registros</span>
            <span flex></span>

            <md-button
              type="submit"
              class="md-raised"
              md-colors-watch="false"
              ng-click="useCases.GerarRenajudOrJudicial('JUDICIAL','ncv')"
              ng-disabled="!state.dados_ncv_placa"
              >PDF JUDICIAL
            </md-button>

            <md-button
              type="submit"
              class="md-raised"
              md-colors-watch="false"
              ng-click="useCases.GerarRenajudOrJudicial('RENAJUD','ncv')"
              ng-disabled="!state.dados_ncv_placa"
              >PDF RENAJUD
            </md-button>

            <md-button
              class="md-raised"
              ng-click="useCases.GerarRenajudOrJudicial('ADMINISTRATIVO','ncv')"
              ng-disabled="!state.dados_ncv_placa"
              >PDF ADMINISTRATIVO
            </md-button>

            <md-button
              class="md-raised"
              ng-click="useCases.gerarPDF('ncv')"
              aria-label="PDF"
              >PDF</md-button
            >

            <md-button
              class="md-raised"
              ng-click="useCases.gerarPlanilha('ncv')"
              aria-label="Excel"
              >Excel</md-button
            >
          </h2>
        </md-toolbar>

        <md-content class="Body">
          <md-card>
            <table>
              <tr>
                <th>Pátio</th>
                <th>NCV</th>
                <th>Data de Apreensão</th>
                <th>Ano</th>
                <th>Marca/Modelo</th>
                <th>Placa</th>
                <th>Tipo</th>
                <th>Atualização DETRAN</th>
                <th>Atualização DENATRAN</th>
                <th>Renavam</th>
                <th>Consulta Denatran</th>
              </tr>
              <tr ng-repeat="Dado in state.dados_ncv_placa" class="Result">
                <td>{{Dado.patio}}</td>
                <td>{{Dado.NCV}}</td>
                <td>{{Dado.data_apreensao}}</td>
                <td>{{Dado.ano}}</td>
                <td>{{Dado.marca_modelo_ncv}}</td>
                <td>{{Dado.placa_ncv}}</td>
                <td>{{Dado.tipo_veiculo}}</td>
                <td>{{Dado.data_hora_importacao}}</td>
                <td>{{Dado.dataHoraDenatran}}</td>
                <td>{{Dado.renavam}}</td>
                <td ng-click="OpenConsulta(Dado)">
                  <a
                    ng-href="/#/Consulta-Denatran?id={{Dado.renavam}}"
                    target="_blank"
                    rel="noopener noreferrer"
                    >{{Dado.restricaoMessage}}
                  </a>
                </td>
              </tr>
            </table>
          </md-card>
        </md-content>
      </section>
    </md-tab>
  </md-tabs>
</div>
