<div class="doc-demo-content doc-content">
  <md-content layout-xs="column" layout-gt-sm="row" layout-sm="column">
    <md-card layout-padding flex-gt-sm layout="column" flex-order="1" flex-order-gt-sm="1">
      <form name="editForm" ng-submit="editForm.$valid && pesquisar(dados)" novalidate="novalidate">

        <md-subheader class="md-no-sticky">Documentos Vencidos</md-subheader>


        <md-input-container style="width: 15vw;margin-left: 10px;">
          <label>De</label>
          <input type="number" name="vencidoInicio" ng-model="dados.vencidoInicio"
            ng-change="Rules.vencimentoCannotbeZero()" />
        </md-input-container>


        <md-input-container style="width: 15vw;margin-left: 10px;">
          <label>Até</label>
          <input type="number" name="vencidoFinal" ng-model="dados.vencidoFinal"
            ng-change="Rules.vencimentoCannotbeZero()" />
        </md-input-container>
        <p style="color:red;font-size: 12px;" ng-show="showMessageError">Vencimento final não pode ser menor que Inicial
        </p>


        <md-input-container class="md-block" flex-gt-sm style="text-overflow: hidden;max-width: 90vw;">
          <label>Pátio</label>
          <md-select placeholder="Pátio" name="patio" ng-model="dados.patio" multiple
            ng-change="Rules.patioCannotBeNull()">
            <md-option ng-repeat="patio in patios" ng-value="patio.id_patio">
              {{patio.nome}}
            </md-option>
          </md-select>
        </md-input-container>
        <p style="color:red;font-size: 12px;" ng-show="showMessageErrorPatio">*Pátio não pode ser nulo</p>


        <div>
          <md-button type="submit" class="md-raised" md-colors="{background:'teal'}" 
            md-colors-watch="false">Filtrar</md-button>
          <md-button class="md-raised" aria-label="Excel" ng-click="gerarPdf()">Gerar PDF</md-button>
        </div>

      </form>
    </md-card>
  </md-content>





  <section class="md-whiteframe-z1 " ng-cloak layout="column">

    <md-toolbar class="md-theme-light">
      <h2 class="md-toolbar-tools">
        <span>DOCUMENTOS PATIOS</span>
        <span flex></span>

        <span>{{dadosPatios.length || 0}} - Registros</span>
        <span flex></span>
        <md-button class="md-raised" aria-label="Excel" ng-click="gerarPlanilhaPatios()">Excel</md-button>
      </h2>
    </md-toolbar>


    <mdt-table paginated-rows="{isEnabled: true, rowsPerPageValues: [20,50, 100]}" animate-sort-icon="true" mdt-row="{                           
                                      'data': dadosPatios,
                                      'table-row-id-key': 'id',
                                      'column-keys': ['PATIO','DOCUMENTO','INICIO','VENCIMENTO']
                                     }">

      <mdt-header-row>

        <mdt-column align-rule="left" column-sort="true">Pátio</mdt-column>
        <mdt-column align-rule="left" column-sort="true">Documento</mdt-column>
        <mdt-column align-rule="left" column-sort="true">Início</mdt-column>
        <mdt-column align-rule="left" column-sort="true">Vencimento</mdt-column>
      </mdt-header-row>

    </mdt-table>

  </section>



  <section class="md-whiteframe-z1 " ng-cloak layout="column">

    <md-toolbar class="md-theme-light">
      <h2 class="md-toolbar-tools">
        <span>DOCUMENTOS MOTORISTAS</span>
        <span flex></span>

        <span>{{dadosMotoristas.length || 0}} - Registros</span>
        <span flex></span>
        <md-button class="md-raised" aria-label="Excel" ng-click="gerarPlanilhaMotoristas()">Excel</md-button>
      </h2>
    </md-toolbar>

    <mdt-table paginated-rows="{isEnabled: true, rowsPerPageValues: [20,50, 100]}" animate-sort-icon="true" mdt-row="{                           
                              'data': dadosMotoristas,
                              'table-row-id-key': 'id',
                              'column-keys': ['PATIO','CNH','MOTORISTA','VALIDADE']
                             }">

      <mdt-header-row>
        <mdt-column align-rule="left" column-sort="true">Pátio</mdt-column>
        <mdt-column align-rule="left" column-sort="true">CNH</mdt-column>
        <mdt-column align-rule="left" column-sort="true">Motorista</mdt-column>
        <mdt-column align-rule="left" column-sort="true">Validade</mdt-column>
      </mdt-header-row>

    </mdt-table>

  </section>



  <section class="md-whiteframe-z1 " ng-cloak layout="column">

    <md-toolbar class="md-theme-light">
      <h2 class="md-toolbar-tools">
        <span>DOCUMENTOS EMPRESAS REBOQUES</span>
        <span flex></span>

        <span>{{dadosEmpresasReboques.length || 0}} - Registros</span>
        <span flex></span>

        <md-button class="md-raised" aria-label="Excel" ng-click="gerarPlanilhaEmpresas()">Excel</md-button>
      </h2>
    </md-toolbar>

    <mdt-table paginated-rows="{isEnabled: true, rowsPerPageValues: [20,50, 100]}" animate-sort-icon="true" mdt-row="{                           
                              'data': dadosEmpresasReboques,
                              'table-row-id-key': 'id',
                              'column-keys': ['PATIO','EMPRESA_REBOQUE','CIDADE','INICIO','VALIDADE']
                             }">

      <mdt-header-row>
        <mdt-column align-rule="left" column-sort="true">Patio </mdt-column>
        <mdt-column align-rule="left" column-sort="true">Empresa </mdt-column>
        <mdt-column align-rule="left" column-sort="true">Cidade </mdt-column>
        <mdt-column align-rule="left" column-sort="false">Início </mdt-column>
        <mdt-column align-rule="left" column-sort="false">Validade </mdt-column>
      </mdt-header-row>

    </mdt-table>

  </section>



  <section class="md-whiteframe-z1 " ng-cloak layout="column">

    <md-toolbar class="md-theme-light">
      <h2 class="md-toolbar-tools">
        <span>DOCUMENTOS REBOQUES </span>
        <span flex></span>

        <span>{{dadosReboques.length || 0}} - Registros</span>
        <span flex></span>
        <md-button class="md-raised" aria-label="Excel" ng-click="gerarPlanilhaReboques()">Excel</md-button>
      </h2>
    </md-toolbar>

    <mdt-table paginated-rows="{isEnabled: true, rowsPerPageValues: [20,50, 100]}" animate-sort-icon="true" mdt-row="{                           
                          'data': dadosReboques,
                          'table-row-id-key': 'id',
                          'column-keys': ['PATIO','TIPO','VEICULO','PLACA','VENCIMENTO']
                         }">

      <mdt-header-row>
        <mdt-column align-rule="left" column-sort="true">Pátio</mdt-column>
        <mdt-column align-rule="left" column-sort="true">Tipo</mdt-column>
        <mdt-column align-rule="left" column-sort="true">Veiculo</mdt-column>
        <mdt-column align-rule="left" column-sort="false">Placa</mdt-column>
        <mdt-column align-rule="left" column-sort="true">Vencimento</mdt-column>
      </mdt-header-row>

    </mdt-table>

  </section>


</div