<div class="doc-demo-content doc-content">
  <md-content layout-xs="column" layout-gt-sm="row" layout-sm="column">
    <md-card layout-padding flex-gt-sm layout="column" flex-order="1" flex-order-gt-sm="1">
      <form name="editForm" ng-submit="editForm.$valid && pesquisar(dados)" novalidate="novalidate">
          

        <div>       
          <md-button class="md-raised" aria-label="Excel" ng-click="gerarPdf()" >Gerar PDF</md-button>
        </div>

      </form>
    </md-card>
  </md-content>
  

  <section  class="md-whiteframe-z1 " ng-cloak layout="column" >
      <div class="myDivClass"> 
      <md-toolbar class="md-theme-light" >
        <h2 class="md-toolbar-tools">
          <span>DOCUMENTOS PATIOS</span>
          <span flex></span>
          <span flex ng-if="dadosPatios.length > 0">  Registros: {{dadosPatios.length}}</span>
          <md-button class="md-raised" aria-label="Excel" ng-click="gerarPlanilhaPatios()" >Gerar Planilha</md-button>
        </h2>
      </md-toolbar>


      <mdt-table paginated-rows="{isEnabled: true, rowsPerPageValues: [50, 100]}"> 

        <mdt-header-row>
          <mdt-column align-rule="left" column-sort="true">Pátio</mdt-column>
          <mdt-column align-rule="left" column-sort="true">Documento</mdt-column>
          <mdt-column align-rule="left" column-sort="true">Início</mdt-column>
          <mdt-column align-rule="left" column-sort="true">Vencimento</mdt-column>
        </mdt-header-row>        

        <mdt-row ng-repeat="lista in dadosPatios">
          <mdt-cell>{{lista.PATIO}}</mdt-cell>
          <mdt-cell>{{lista.DOCUMENTO}}</mdt-cell>
          <mdt-cell>{{lista.INICIO}}</mdt-cell>
          <mdt-cell>{{lista.VENCIMENTO}}</mdt-cell>
         

        </mdt-row>


      </mdt-table> 

    </div>
    
  </section>

  <section  class="md-whiteframe-z1 " ng-cloak layout="column" >
    <div class="myDivClass"> 
    <md-toolbar class="md-theme-light" >
      <h2 class="md-toolbar-tools">
        <span>DOCUMENTOS MOTORISTAS</span>
        <span flex></span>
        <span flex ng-if="dadosMotoristas.length > 0">  Registros: {{dadosMotoristas.length}}</span>
        <md-button class="md-raised" aria-label="Excel" ng-click="gerarPlanilhaMotoristas()" >Gerar Planilha</md-button>
      </h2>
    </md-toolbar>

    <mdt-table paginated-rows="{isEnabled: true, rowsPerPageValues: [50, 100]}"> 

    <mdt-header-row>
    <mdt-column align-rule="left" column-sort="true">CNH</mdt-column>
    <mdt-column align-rule="left" column-sort="true">Motorista</mdt-column>
    <mdt-column align-rule="left" column-sort="true">Validade</mdt-column>
    </mdt-header-row>        

    <mdt-row ng-repeat="lista in dadosMotoristas">
      <mdt-cell>{{lista.CNH}}</mdt-cell>
      <mdt-cell>{{lista.MOTORISTA}}</mdt-cell>
      <mdt-cell>{{lista.VALIDADE}}</mdt-cell>
      
    </mdt-row>


    </mdt-table>

    </div>
    </section>

    

  <section  class="md-whiteframe-z1 " ng-cloak layout="column" >
    <div class="myDivClass"> 
    <md-toolbar class="md-theme-light" >
      <h2 class="md-toolbar-tools">
        <span>DOCUMENTOS EMPRESAS REBOQUES</span>
        <span flex></span>
        <span flex ng-if="dadosEmpresasReboques.length > 0">  Registros: {{dadosEmpresasReboques.length}}</span>
        <md-button class="md-raised" aria-label="Excel" ng-click="gerarPlanilhaEmpresas()" >Gerar Planilha</md-button>
      </h2>
    </md-toolbar>


    <mdt-table paginated-rows="{isEnabled: true, rowsPerPageValues: [50, 100]}"> 

      <mdt-header-row>
        <mdt-column align-rule="left" column-sort="true">Empresa</mdt-column>
        <mdt-column align-rule="left" column-sort="true">Cidade</mdt-column>
        <mdt-column align-rule="left" column-sort="true">Início</mdt-column>
        <mdt-column align-rule="left" column-sort="true">Validade</mdt-column>
      </mdt-header-row>        

      <mdt-row ng-repeat="lista in dadosEmpresasReboques">
        <mdt-cell>{{lista.EMPRESA_REBOQUE}}</mdt-cell>
        <mdt-cell>{{lista.CIDADE}}</mdt-cell>
        <mdt-cell>{{lista.INICIO}}</mdt-cell>
        <mdt-cell>{{lista.VALIDADE}}</mdt-cell>
       

      </mdt-row>


    </mdt-table> 

  </div>
  
</section>

<section  class="md-whiteframe-z1 " ng-cloak layout="column" >
  <div class="myDivClass"> 
  <md-toolbar class="md-theme-light" >
    <h2 class="md-toolbar-tools">
      <span>DOCUMENTOS REBOQUES </span>   
     <span flex></span>
     <span flex ng-if="dadosReboques.length > 0">  Registros: {{dadosReboques.length}}</span>
     
      <md-button class="md-raised" aria-label="Excel" ng-click="gerarPlanilhaReboques()" >Gerar Planilha</md-button>
    </h2>
    
  </md-toolbar>


  <mdt-table paginated-rows="{isEnabled: true, rowsPerPageValues: [50, 100]}"> 

    <mdt-header-row>
      <mdt-column align-rule="left" column-sort="true">Tipo</mdt-column>
      <mdt-column align-rule="left" column-sort="true">Veiculo</mdt-column>
      <mdt-column align-rule="left" column-sort="false">Placa</mdt-column>
      <mdt-column align-rule="left" column-sort="true">Vencimento</mdt-column>
    </mdt-header-row>        

    <mdt-row ng-repeat="lista in dadosReboques">
      <mdt-cell>{{lista.TIPO}}</mdt-cell>
      <mdt-cell>{{lista.VEICULO}}</mdt-cell>
      <mdt-cell>{{lista.PLACA}}</mdt-cell>
      <mdt-cell>{{lista.VENCIMENTO}}</mdt-cell>
     

    </mdt-row>


  </mdt-table> 

</div>

</section>


</div>


