<div class="doc-demo-content doc-content">

    <md-content flex>
      <md-card layout-padding>
        <form name="editForm" ng-submit="editForm.$valid && gravar(dados)" novalidate="novalidate">
        <md-tabs md-dynamic-height md-border-bottom>
           <md-tab label="Dados da Empresa">
           <md-content flex style="background: white">  
           <br>
           <h3 style="text-align: center;">DADOS EMPRESA</h3>
          
            <div layout-gt-sm="row" >
            
               <md-input-container class="md-block" >
                  <label>Nome</label>
                  <input ng-required="true" type="text" name="nome_empresa" ng-model="dados.nome_empresa" style="width: 500px" ng-change="dados.nome_empresa = (dados.nome_empresa | uppercase)"/>
                  <div ng-messages="editForm.nome_empresa.$error" role="alert">
                     <div ng-message-exp="['required']">
                        Campo Obrigatório.
                     </div>
                  </div>
               </md-input-container>

               <md-input-container class="md-block" >
                  <label>Nome Fantasia</label>
                  <input ng-required="true" type="text" name="nome" ng-model="dados.nome_fantasia" style="width: 500px" ng-change="dados.nome_fantasia = (dados.nome_fantasia | uppercase)"/>
                  <div ng-messages="editForm.nome_fantasia.$error" role="alert">
                     <div ng-message-exp="['required']">
                        Campo Obrigatório.
                     </div>
                  </div>
                  </md-input-container>
      
               <md-input-container class="md-block" flex-gt-sm>
                  <label>CNPJ</label>
                     <input ng-required="true" type="text" name="cnpj" cpf-cnpj ng-model="dados.cnpj"/>
                  <div ng-messages="editForm.cnpj.$error" role="alert">
                     <div ng-message="required">
                        Campo Obrigatório.
                     </div>      
                  </div>
               </md-input-container>
         
            </div>


            <div layout-gt-sm="row" >

               <md-input-container class="md-block">
                  <label>CEP</label>
                  <input  type="text" ng-required="true" name="cep" ng-model="dados.cep" style="width: 200px" mask="99999-999" ng-change="buscaCep(dados.cep)"/>
               </md-input-container>

               <md-input-container class="md-block" flex-gt-sm>
                  <label>Endereço</label>
                  <input  type="text" ng-required="true" name="endereco" ng-model="dados.endereco" ng-change="dados.endereco = (dados.endereco | uppercase)"/>
               </md-input-container>

            </div>


            <div layout-gt-sm="row" >

               <md-input-container class="md-block" >
                  <label>Bairro</label>
                  <input  type="text" ng-required="true" name="bairro" style="width: 800px" ng-model="dados.bairro" ng-change="dados.bairro = (dados.bairro | uppercase)"/>
               </md-input-container>
      
               <md-input-container class="md-block" flex-gt-sm>
               <label>Cidade</label>
                  <input  type="text" ng-required="true" name="cidade" ng-model="dados.cidade" ng-change="dados.cidade = (dados.cidade | uppercase)"/>
               </md-input-container>    
      
               <md-input-container class="md-block" flex-gt-sm>
               <label>UF</label>
               <md-select placeholder="UF" ng-required="true" name="uf" ng-model="dados.uf">
                  <md-option ng-repeat="estado in estados" ng-value="estado.sigla">
                     {{estado.sigla}}
                  </md-option>
               </md-select>
               </md-input-container> 

            </div>


            <h3 style="text-align: center;">DADOS RESPONSAVEL LEGAL</h3>
              
            <br>

            <div layout-gt-sm="row" >

               <md-input-container class="md-block">
                  <label>Nome</label>
                  <input  type="text" ng-required="true" name="rep_nome" style="width: 800px" ng-model="dados.repres_nome" ng-change="dados.repres_nome = (dados.repres_nome | uppercase)"/>
               </md-input-container>
      
               <md-input-container class="md-block" flex-gt-sm>
                  <label>CPF</label>
                  <input  type="text" ng-required="true" name="repres_cpf" cpf-cnpj ng-model="dados.repres_cpf"/>
               </md-input-container>
               
               <md-input-container class="md-block" flex-gt-sm>
                  <label>RG</label>
                  <input type="text" ng-required="true" name="repres_rg" ng-model="dados.repres_rg"/>
               </md-input-container>   
      
               
            </div>


            <div layout-gt-sm="row" >

               <md-input-container class="md-block" >
                  <label>Telefone</label>
                  <input ng-required="true" type="text" name="repres_telefone" style="width: 300px" ng-model="dados.repres_telefone" mask="(99) 9?9999-9999" />
                  <div ng-messages="editForm.repres_telefone.$error" role="alert">
                     <div ng-message-exp="['required']">
                     Campo Obrigatório.
                     </div>
                     <div ng-message="mask">
                           Digitar um número de telefone em um formato válido.
                     </div>
                  </div>
               </md-input-container>
      
               <md-input-container class="md-block" flex-gt-sm>
                  <label>Email</label>
                  <input type="repres_email" ng-required="true" name="repres_email" ng-model="dados.repres_email" />
               </md-input-container>

            </div>


            <div layout-gt-sm="row" >

               <md-input-container class="md-block" flex-gt-sm>
                  <label>Estado Civil</label>
                  <input type="text" ng-required="true" name="repres_estado_civil" ng-model="dados.repres_estado_civil" />
               </md-input-container>
               
               <md-input-container class="md-block" flex-gt-sm>
                  <label>Profissão</label>
                  <input type="text" ng-required="true" name="repres_profissao" ng-model="dados.repres_profissao"/>
               </md-input-container>
               
               <md-input-container class="md-block" flex-gt-sm>
                  <label>Nacionalidade</label>
                  <input type="text" ng-required="true" name="repres_nacionalidade" ng-model="dados.repres_nacionalidade"/>
               </md-input-container> 

            </div>


            <div layout-gt-sm="row" >

               <md-input-container class="md-block" >
                  <label>CEP</label>
                  <input  type="text" ng-required="true" name="repres_cep" style="width: 200px" ng-model="dados.repres_cep" mask="99999-999" ng-change="buscaCepRepres(dados.repres_cep)"/>
               </md-input-container>

               <md-input-container class="md-block" flex-gt-sm>
                  <label>Endereço</label>
                  <input  type="text" ng-required="true" name="repres_endereco" ng-model="dados.repres_endereco" ng-change="dados.repres_endereco = (dados.repres_endereco | uppercase)"/>
               </md-input-container>

            </div>


            <div layout-gt-sm="row" >

               <md-input-container class="md-block" >
                  <label>Bairro</label>
                  <input  type="text" ng-required="true" name="repres_bairro" style="width: 800px" ng-model="dados.repres_bairro" ng-change="dados.repres_bairro = (dados.repres_bairro | uppercase)"/>
               </md-input-container>
      
               <md-input-container class="md-block" flex-gt-sm>
               <label>Cidade</label>
                  <input  type="text" ng-required="true" name="repres_cidade" ng-model="dados.repres_cidade" ng-change="dados.repres_cidade = (dados.repres_cidade | uppercase)"/>
               </md-input-container>    
      
               <md-input-container class="md-block" flex-gt-sm>
               <label>UF</label>
               <md-select placeholder="UF" ng-required="true" name="uf" ng-model="dados.repres_uf">
                  <md-option ng-repeat="estado in estados" ng-value="estado.sigla">
                     {{estado.sigla}}
                  </md-option>
               </md-select>
               </md-input-container> 

            </div>

          
           <div>
             <md-button type="submit" class="md-raised md-primary">Gravar</md-button>
             <md-button class="md-raised" ng-click="paginaAnterior()" aria-label="Voltar">Voltar</md-button>
           </div>
  
           </md-content>            
         </md-tab>
           
  
        </md-tabs>
      </form>
      </md-card>
   </md-content>
  
</div>