<div class="doc-demo-content doc-content" ng-init="dados.ativo='1'">

   <md-content flex>
     <md-card layout-padding>
       <form name="editForm" ng-submit="editForm.$valid && gravar(dados)" novalidate="novalidate">
       <md-tabs md-dynamic-height md-border-bottom>
         <md-tab label="Dados da Empresa de Reboque">
            <md-content flex style="background: white">  
            
               <br>
            
               <h3 style="text-align: center;">DADOS EMPRESA</h3>
            
               <div layout-gt-sm="row" >
               
                  <md-input-container class="md-block" >
                  <label>Nome</label>
                  <input ng-required="true" type="text" name="nome" ng-model="dados.nome" style="width: 1000px" ng-change="dados.nome = (dados.nome | uppercase)"/>
                  <div ng-messages="editForm.nome.$error" role="alert">
                     <div ng-message-exp="['required']">
                        Campo Obrigatório.
                     </div>
                  </div>
                  </md-input-container>
         
                  <md-input-container class="md-block" flex-gt-sm>
                     <label>CPF/CNPJ</label>
                        <input ng-required="true" type="text" name="cpf_cnpj" cpf-cnpj ng-model="dados.cpf_cnpj"/>
                     <div ng-messages="editForm.cpf_cnpj.$error" role="alert">
                        <div ng-message="required">
                              Campo Obrigatório.
                        </div>      
                     </div>
                  </md-input-container>
            
               </div>


               <div layout-gt-sm="row" >

                  <md-input-container class="md-block" flex-gt-sm >
                     <label>Contato</label>
                     <input ng-required="true" type="text" name="contato" style="width: 800px" ng-model="dados.contato" ng-change="dados.contato = (dados.contato | uppercase)" />
                     <div ng-messages="editForm.contato.$error" role="alert">
                        <div ng-message-exp="['required']">
                        Campo Obrigatório.
                        </div>
                     </div>
                  </md-input-container>
         
                  <md-input-container class="md-block" flex-gt-sm>
                     <label>Telefone</label>
                     <input ng-required="true" type="text" name="telefone" ng-model="dados.telefone" mask="(99) 9?9999-9999" />
                     <div ng-messages="editForm.telefone.$error" role="alert">
                        <div ng-message-exp="['required']">
                        Campo Obrigatório.
                        </div>
                        <div ng-message="mask">
                              Digitar um número de telefone em um formato válido.
                        </div>
                     </div>
                  </md-input-container>

               </div>


               <div layout-gt-sm="row" >

                  <md-input-container class="md-block">
                     <label>CEP</label>
                     <input  type="text" ng-required="true" name="cep" ng-model="dados.cep" style="width: 200px" mask="99999-999" ng-change="buscaCep(dados.cep)"/>
                  </md-input-container>

                  <md-input-container class="md-block" flex-gt-sm>
                     <label>Endereço</label>
                     <input  type="text" ng-required="true" name="endereco" ng-model="dados.endereco" ng-change="dados.endereco = (dados.endereco | uppercase)"/>
                  </md-input-container>

               </div>


               <div layout-gt-sm="row" >

                  <md-input-container class="md-block" >
                     <label>Bairro</label>
                     <input  type="text" ng-required="true" name="bairro" style="width: 800px" ng-model="dados.bairro" ng-change="dados.bairro = (dados.bairro | uppercase)"/>
                  </md-input-container>
         
                  <md-input-container class="md-block" flex-gt-sm>
                  <label>Cidade</label>
                     <input  type="text" ng-required="true" name="cidade" ng-model="dados.cidade" ng-change="dados.cidade = (dados.cidade | uppercase)"/>
                  </md-input-container>    
         
                  <md-input-container class="md-block" flex-gt-sm>
                  <label>UF</label>
                  <md-select placeholder="UF" ng-required="true" name="uf" ng-model="dados.uf">
                     <md-option ng-repeat="estado in estados" ng-value="estado.sigla">
                        {{estado.sigla}}
                     </md-option>
                  </md-select>
                  </md-input-container> 

               </div>


               <div layout-gt-sm="row" >

                  <md-input-container class="md-block" flex-gt-sm>
                     <label>Email</label>
                     <input ng-required="true" type="email" name="email" ng-model="dados.email" />
                  </md-input-container>

               </div>


               <div layout-gt-sm="row" >

                  <md-input-container class="md-block" flex-gt-sm >
                     <label>Ativo</label>
                     <md-select placeholder="Ativo" style="width: 20%" required ng-required="true" name="ativo" ng-model="dados.ativo">
                        <md-option value="1">SIM</md-option>
                        <md-option value="0">NÃO</md-option>
                     </md-select>
                     <div ng-messages="editForm.ativo.$error" class="errors">
                        <div ng-message="required">
                        Campo Obrigatório.
                        </div>
                     </div>
                  </md-input-container>

               </div>


               <div layout-gt-sm="row" >

                  <md-input-container class="md-block" flex-gt-sm >
                     <label>Observação</label>
                     <textarea ng-model="dados.observacao" md-maxlength="150" rows="3" md-select-on-focus></textarea>
                  </md-input-container>

               </div>

               <h3 style="text-align: center;">DADOS RESPONSAVEL LEGAL</h3>
               
               <br>

               <div layout-gt-sm="row" >

                  <md-input-container class="md-block">
                     <label>Nome</label>
                     <input  type="text" ng-required="true" name="rep_nome" style="width: 800px" ng-model="dados.rep_nome" ng-change="dados.rep_nome = (dados.rep_nome | uppercase)"/>
                  </md-input-container>
         
                  <md-input-container class="md-block" flex-gt-sm>
                     <label>CPF</label>
                     <input  type="text" ng-required="true" name="rep_cpf" ng-model="dados.rep_cpf"/>
                  </md-input-container>
                  
                  <md-input-container class="md-block" flex-gt-sm>
                     <label>RG</label>
                     <input type="text" ng-required="true" name="rep_rg" ng-model="dados.rep_rg"/>
                  </md-input-container>   
         
                  
               </div>


               <div layout-gt-sm="row" >

                  <md-input-container class="md-block" >
                     <label>Telefone</label>
                     <input ng-required="true" type="text" name="rep_telefone" style="width: 300px" ng-model="dados.rep_telefone" mask="(99) 9?9999-9999" />
                     <div ng-messages="editForm.telefone.$error" role="alert">
                        <div ng-message-exp="['required']">
                        Campo Obrigatório.
                        </div>
                        <div ng-message="mask">
                              Digitar um número de telefone em um formato válido.
                        </div>
                     </div>
                  </md-input-container>
         
                  <md-input-container class="md-block" flex-gt-sm>
                     <label>Email</label>
                     <input type="email" ng-required="true" name="rep_email" ng-model="dados.rep_email" />
                  </md-input-container>

               </div>


               <div layout-gt-sm="row" >

                  <md-input-container class="md-block" flex-gt-sm>
                     <label>Estado Civil</label>
                     <input type="text" ng-required="true" name="estado_civil" ng-model="dados.rep_estado_civil" />
                  </md-input-container>
                  
                  <md-input-container class="md-block" flex-gt-sm>
                     <label>Profissão</label>
                     <input type="text" ng-required="true" name="profissao" ng-model="dados.rep_profissao"/>
                  </md-input-container>
                  
                  <md-input-container class="md-block" flex-gt-sm>
                     <label>Nacionalidade</label>
                     <input type="text" ng-required="true" name="nacionalidade" ng-model="dados.rep_nacionalidade"/>
                  </md-input-container> 

               </div>


               <div layout-gt-sm="row" >

                  <md-input-container class="md-block" >
                     <label>CEP</label>
                     <input  type="text" ng-required="true" name="rep_cep" style="width: 200px" ng-model="dados.rep_cep" mask="99999-999" ng-change="buscaCepRep(dados.rep_cep)"/>
                  </md-input-container>

                  <md-input-container class="md-block" flex-gt-sm>
                     <label>Endereço</label>
                     <input  type="text" ng-required="true" name="rep_endereco" ng-model="dados.rep_endereco" ng-change="dados.rep_endereco = (dados.rep_endereco | uppercase)"/>
                  </md-input-container>

               </div>


               <div layout-gt-sm="row" >

                  <md-input-container class="md-block" >
                     <label>Bairro</label>
                     <input  type="text" ng-required="true" name="rep_bairro" style="width: 800px" ng-model="dados.rep_bairro" ng-change="dados.rep_bairro = (dados.rep_bairro | uppercase)"/>
                  </md-input-container>
         
                  <md-input-container class="md-block" flex-gt-sm>
                  <label>Cidade</label>
                     <input  type="text" ng-required="true" name="rep_cidade" ng-model="dados.rep_cidade" ng-change="dados.rep_cidade = (dados.rep_cidade | uppercase)"/>
                  </md-input-container>    
         
                  <md-input-container class="md-block" flex-gt-sm>
                  <label>UF</label>
                  <md-select placeholder="UF" ng-required="true" name="uf" ng-model="dados.rep_uf">
                     <md-option ng-repeat="estado in estados" ng-value="estado.sigla">
                        {{estado.sigla}}
                     </md-option>
                  </md-select>
                  </md-input-container> 

               </div>

            
               <div>
               <md-button type="submit" ng-disabled="isDisabled" class="md-raised md-primary">Gravar</md-button>
               <md-button class="md-raised" ng-click="paginaAnterior()" aria-label="Voltar">Voltar</md-button>
               </div>
            </md-content>            
            </md-tab>
          





          <md-tab label="Contrato">
          <md-content flex style="background: white">  
          <br>
          <br>  
              <div style="height: 600px; width: 800px;">        
              <div layout-gt-sm="row">
              <md-input-container class="md-block" flex-gt-sm>
                 <label>Inicio Contrato</label>
                 <input ng-required="false" type="text" name="inicio_contrato" ng-model="dados.inicio_contrato" mask="99/99/9999"/>
              </md-input-container>       
              <md-input-container class="md-block" flex-gt-sm>
                 <label>Final Contrato</label>
                 <input ng-required="false" type="text" name="fim_contrato" ng-model="dados.fim_contrato" mask="99/99/9999"/>
              </md-input-container>       
              </div>                        
               
              <div>
                 <md-button ng-disabled="isDisabled" class="md-fab md-warn md-hue-2 md-mini" title="Carregar PDF"
                     name="pdfDoc" 
                     ng-model="pdfContrato"
                     ngf-pattern="'.pdf'"
                     ngf-accept="'.pdf'"
                     ngf-select="uploadFile($file)"
                     ngf-capture="'camera'"
                     ngf-max-size="20MB"
                     ngf-min-height="50">
                     <md-icon>backup</md-icon>
                 </md-button>
                 <label>{{dados.pdf_contrato}}</label>
              </div>
              <div> 
                <iframe ng-if="dados.pdf_contrato.length > 0" ng-src = "{{trustSrc(urlImagens+ dados.pdf_contrato)}}" width="80%" height="80%"></iframe>                       
                  <div ng-messages="editForm.pdfDoc.$error" class="errors">
                     <div ng-message="maxSize">
                         <span style="color: #dd2c00; font-size: 12px;">FDF muito grande. Favor escolher imagem com até 20MB de tamanho.</span>
                     </div>
                     <div ng-message="pattern">
                         <span style="color: #dd2c00; font-size: 12px;">Tipo arquivo não permitido. Escolha um PDF.</span>
                     </div>
                  </div>
              </div>
             </div>                                 
          </md-content>            
          </md-tab>              
 
       </md-tabs>
       </form>
     </md-card>
   </md-content>
 
 </div>