<div class="doc-demo-content doc-content">
  <md-content layout-xs="column" layout-gt-sm="row" layout-sm="column">
    <md-card layout-padding flex-gt-sm layout="column" flex-order="1" flex-order-gt-sm="1">
      <md-subheader class="md-no-sticky">FILTRAR DADOS</md-subheader>
      <md-divider></md-divider>
      <form name="editForm" ng-submit="editForm.$valid && formEdit(dados)" novalidate="novalidate">
        
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm >
            <label>Nome</label>
            <input ng-required="false" type="text" name="nome" ng-model="dados.nome" />
          </md-input-container>
         
          <md-input-container class="md-block" flex-gt-sm >
            <label>Contato</label>
            <input ng-required="false" type="text" name="contato" ng-model="dados.contato" />
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm >
            <label>CPF/CNPJ</label>
            <input ng-required="false" type="text" name="cpf_cnpj" cpf-cnpj ng-model="dados.cpf_cnpj" />
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm >
            <label>Ativo</label>
            <md-select placeholder="Ativo" required ng-required="false" name="ativo" ng-model="dados.ativo">
              <md-option value="1">SIM</md-option>
              <md-option value="0">NÃO</md-option>
            </md-select>
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm >
            <label>Ordenar Campo</label>
            <md-select placeholder="Ordenar Campo" required ng-required="false" name="orderby" ng-model="dados.orderby">
              <md-option value="1">Nome</md-option>
              <md-option value="2">Contato</md-option>
            </md-select>
          </md-input-container>

          <div class="md-block" flex-gt-sm >
            <span>Tipo Ordenação</span>
            <md-radio-group  layout="row" class="md-block" ng-model="dados.ordenacao" ng-init="dados.ordenacao='asc'">
              <md-radio-button value="asc" class="md-primary">Asc</md-radio-button>
              <md-radio-button value="desc">Desc</md-radio-button>
            </md-radio-group>
          </div>
          
        </div>
        
        <div>
          <md-button class="md-raised" md-colors="{background:'teal'}" md-colors-watch="false" ng-click="pesquisar($event)">Filtrar</md-button>
          <md-button class="md-raised" aria-label="Limpar" ng-click="limpar($event)">Limpar</md-button>
          <md-button class="md-raised md-primary" aria-label="Adicionar" ng-click="novo($event)">Novo</md-button>
        </div>

      </form>
    </md-card>
  </md-content>
  

  <section  class="md-whiteframe-z1 " ng-cloak layout="column" >
    
      <md-toolbar class="md-theme-light" >
        <h2 class="md-toolbar-tools">
          <span>{{dadosList.length}} Registros</span>
          <span flex></span>
          <md-button class="md-raised" aria-label="PDF"  ng-click="gerarPdf()">PDF</md-button>
          <md-button class="md-raised" aria-label="Excel" ng-click="gerarPlanilha()">Excel</md-button>
        </h2>
      </md-toolbar>

      <mdt-table paginated-rows="{isEnabled: true, rowsPerPageValues: [20,50, 100]}" 
                  animate-sort-icon="true"
                  mdt-row="{
                            'data': dadosList,
                            'table-row-id-key': 'id',
                            'column-keys': ['id', 'nome', 'contato', 'cpf_cnpj', 'telefone', 'desc_ativo', 'editar', 'apagar']
                  }"
        >
        <mdt-custom-cell column-key="editar">
          <mdt-custom-cell-button icon='edit' class="md-icon-button md-secondary" ng-click="clientScope.detalhe($event, rowId)" aria-label="Detalhe"></md-custom-cell-button>
        </mdt-custom-cell>
        <mdt-custom-cell column-key="apagar">
          <mdt-custom-cell-button icon='delete_forever' class="md-icon-button md-secondary" ng-click="clientScope.responder($event, rowId)" aria-label="Excluir"></md-custom-cell-button>
        </mdt-custom-cell>

        <mdt-header-row>
          <mdt-column align-rule="left" column-sort="false">#</mdt-column>
          <mdt-column align-rule="left" column-sort="false">Nome</mdt-column>
          <mdt-column align-rule="left" column-sort="false">Contato</mdt-column>
          <mdt-column align-rule="left" column-sort="false">CPF/CNPJ</mdt-column>
          <mdt-column align-rule="left" column-sort="false">Telefone</mdt-column>
          <mdt-column align-rule="left" column-sort="false">Ativo</mdt-column>
          <mdt-column align-rule="left" column-sort="false">Editar</mdt-column>
          <mdt-column align-rule="left" column-sort="false">Apagar</mdt-column> 
        </mdt-header-row>
        
        
      </mdt-table>
    
  </section>

</div>