<div class="doc-demo-content doc-content">
  <md-content flex>
    <md-card layout-padding>
      <form name="editForm" ng-submit="editForm.$valid && gravar(dados)" novalidate="novalidate">
     
        <div layout-gt-sm="row" >
          <md-input-container class="md-block" flex-gt-sm>
            <label>Razão Social/Nome</label>
            <input ng-required="true" type="text" name="razao_nome" style="width: 700px" ng-model="dados.razao_nome" ng-change="dados.razao_nome = (dados.razao_nome | uppercase)"/>
            <div ng-messages="editForm.razao_nome.$error" role="alert">
              <div ng-message-exp="['required']">
                Campo Obrigatório.
              </div>
            </div>
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm>
            <label>Tipo Pessoa</label>
            <md-select placeholder="Tipo Pessoa"  required ng-required="true" name="tipo_pessoa" ng-model="dados.tipo_pessoa">
              <md-option value="FISICA">FISICA</md-option>
              <md-option value="JURIDICA">JURIDICA</md-option>
            </md-select>
            <div ng-messages="editForm.tipo_pessoa.$error" class="errors">
              <div ng-message="required">
                Campo Obrigatório.
              </div>
            </div>
          </md-input-container>           

          <md-input-container class="md-block" flex-gt-sm>
              <label>CPF/CNPJ</label>
                <input ng-required="true" type="text" name="cpf_cnpj" cpf-cnpj ng-model="dados.cpf_cnpj"/>
              <div ng-messages="editForm.cpf_cnpj.$error" role="alert">
                <div ng-message="required">
                      Campo Obrigatório.
                </div>      
              </div>
          </md-input-container>

        </div>
        
        <div layout-gt-sm="row" >
          <md-input-container class="md-block" flex-gt-sm>
            <label>CEP</label>
              <input  type="text" name="cep" ng-model="dados.cep" mask="99999-999" ng-change="buscaCep(dados.cep)"/>
          </md-input-container>
  
          <md-input-container class="md-block" flex-gt-sm>
              <label>Endereço</label>
                <input  type="text" style="width: 900px" name="endereco" ng-model="dados.endereco" ng-change="dados.endereco = (dados.endereco | uppercase)"/>
          </md-input-container>
        </div>
        
        <div layout-gt-sm="row" >
          <md-input-container class="md-block" flex-gt-sm>
              <label>Bairro</label>
                <input  type="text" name="bairro" style="width: 600px" ng-model="dados.bairro" ng-change="dados.bairro = (dados.bairro | uppercase)"/>
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm>
            <label>Cidade</label>
              <input  type="text" name="cidade" style="width: 400px" ng-model="dados.cidade" ng-change="dados.cidade = (dados.cidade | uppercase)"/>
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm>
            <label>UF</label>
            <md-select placeholder="UF"  ng-required="false" name="uf" ng-model="dados.uf">
              <md-option ng-repeat="estado in estados" ng-value="estado.sigla">
                  {{estado.sigla}}
              </md-option>
            </md-select>
          </md-input-container>
        
        </div>

        <div layout-gt-sm="row" >

          <md-input-container class="md-block" flex-gt-sm>
            <label>Email</label>
            <input ng-required="false" type="email" name="email" ng-model="dados.email" />
          </md-input-container>            

          <md-input-container class="md-block" flex-gt-sm>
              <label>Telefone Comercial</label>
              <input ng-required="false" type="text" name="telefone_comercial" ng-model="dados.telefone_comercial" mask="(99) 9?9999-9999"/>
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm>
            <label>Celular</label>
            <input ng-required="false" type="text" name="celular" ng-model="dados.celular" mask="(99) 9?9999-9999"/>
          </md-input-container>
        
        </div>

        <div layout-gt-sm="row" >

          <md-input-container class="md-block" flex-gt-sm>
            <label>Responsável Empresa</label>
            <input  type="text" name="responsavel" ng-model="dados.responsavel"/>
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm>
            <label>Responsável Faturamento</label>
            <input  type="text"  name="responsavel_faturamento" ng-model="dados.responsavel_faturamento"/>
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm>
            <label>Telefone Responsavel Faturamento</label>
            <input ng-required="false" type="text" name="tel_resp_faturamento" ng-model="dados.tel_resp_faturamento" mask="(99) 9?9999-9999"/>
          </md-input-container>

        </div>

        <div layout-gt-sm="row" >        

          <md-input-container class="md-block" flex-gt-sm>
            <label>Responsável Logistica</label>
            <input  type="text"  name="responsavel_logistica" ng-model="dados.responsavel_logistica"/>
          </md-input-container>
  
          <md-input-container class="md-block" flex-gt-sm>
            <label>Telefone Responsavel Logistica</label>
            <input ng-required="false" type="text" name="tel_resp_logistica" ng-model="dados.tel_resp_logistica" mask="(99) 9?9999-9999"/>
          </md-input-container>

        </div>

          <md-input-container class="md-block">
            <label>Dados Bancários</label>
            <textarea ng-model="dados.dados_bancarios" md-maxlength="150" rows="3" md-select-on-focus></textarea>
          </md-input-container>
              
          <md-input-container class="md-block" flex-gt-sm>
            <label>Forma Pagamento</label>
            <input  type="text"  name="forma_pagto" ng-model="dados.forma_pagto"/>
          </md-input-container>

        <div layout-gt-sm="row" >  

          <md-input-container class="md-block" flex-gt-sm >
            <label>Chave PIX</label>
            <input type="text" name="chave" ng-model="dados.pix_chave"/>
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm>
            <label>Chave PIX Tipo</label>
            <md-select placeholder="Chave PIX Tipo" name="tipo" ng-model="dados.pix_tipo">
              <md-option value="cpf_cnpj">CPF/CNPJ</md-option>
              <md-option value="celular">CELULAR</md-option>
              <md-option value="email">EMAIL</md-option>
              <md-option value="aleatoria">ALEATORIA</md-option>
            </md-select>
          </md-input-container>
        
        </div>
              
          <md-input-container class="md-block" flex-gt-sm>
          <label>Status</label>
          <md-select placeholder="Status" style="width: 200px" required ng-required="true" name="status" ng-model="dados.status">
            <md-option value="1">ATIVO</md-option>
            <md-option value="0">INATIVO</md-option>
          </md-select>
          <div ng-messages="editForm.ativo.$error" class="errors">
            <div ng-message="required">
              Campo Obrigatório.
            </div>
          </div>
        </md-input-container>
        <br></br>
        <div>
          <md-button type="submit" ng-disabled="isDisabled" class="md-raised md-primary">Gravar</md-button>
          <md-button class="md-raised" ng-click="paginaAnterior()" aria-label="Voltar">Voltar</md-button>
        </div>
      </form>
    </md-card>
  </md-content>
</div>