<link rel="stylesheet" href="/assets/css/ncvImages.css" />
<div class="doc-demo-content doc-content">
  <md-content flex>
    <md-card layout-padding>
      <form
        name="editForm"
        ng-submit="editForm.$valid && gravarNCV(dados)"
        novalidate="novalidate"
      >
        <md-tabs md-dynamic-height md-border-bottom>
          <md-tab label="CONFERENTE">
            <md-content flex style="background: white">
              <div>
                <md-content>
                  <div class="bodyConferentePreLeilao" ng-repeat="(key,value) in listaImagensConferente">
                    <h1>Mês e ano {{key}}</h1>

                    <div class="content">
                        <div ng-repeat="imagemConferente in value">
                            <div class="canva">
                                <div class="header">
                                    <span>
                                        {{imagemConferente.tipo}}
                                    </span>
                                </div>
                                <img ng-src="{{urlImagensConferente+imagemConferente.imagem+'.jpg'}}" />
                                <div class="description">
                                    <span ng-show="{{imagemConferente.tipo == 'Chassi'}}">
                                        Chassi : {{params.chassi}}
                                    </span>
                                    <span ng-show="{{imagemConferente.tipo === 'Motor'}}">
                                        Motor : {{params.motor}}
                                    </span>

                                    <span>{{imagemConferente.data}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </md-content>
              </div>

              <br />
              <br />
            </md-content>
          </md-tab>
        </md-tabs>
      </form>
    </md-card>
  </md-content>
</div>

<!--


-->
