<div class="doc-demo-content doc-content">
    <md-content layout-xs="column" layout-gt-sm="row" layout-sm="column">
      <md-card layout-padding flex-gt-sm layout="column" flex-order="1" flex-order-gt-sm="1">
        <md-subheader class="md-no-sticky">FILTRAR DADOS</md-subheader>
        <md-divider></md-divider>
        <form name="editForm" ng-submit="editForm.$valid && formEdit(dados)" novalidate="novalidate">
          
          <div layout-gt-sm="row">

            <md-input-container class="md-block" flex-gt-sm>
              <label>Empresa</label>
              <md-select placeholder="Empresa" ng-required="false" name="empresa" ng-model="dados.empresa">
                <md-option ng-repeat="empresa in empresas" ng-value="empresa.nome_empresa">
                  {{empresa.nome_empresa}}
                </md-option>
              </md-select>
              
            </md-input-container>


            <md-input-container class="md-block" flex-gt-sm >
              <label>Nome </label>
              <input ng-required="false" type="text" name="nome" ng-model="dados.nome" />
            </md-input-container>

  
            <md-input-container class="md-block" flex-gt-sm>
              <label>Departamento</label>
              <md-select placeholder="Departamento"  required ng-required="false" name="departamento" ng-model="dados.departamento">
                <md-option value="ADMINISTRATIVO">ADMINISTRATIVO</md-option>
                <md-option value="PRODUÇÃO">PRODUÇÃO</md-option>
                <md-option value="RH">RH</md-option>
                <md-option value="JURÍDICO">JURÍDICO</md-option>
                <md-option value="FINANCEIRO">FINANCEIRO</md-option>
                <md-option value="GERÊNCIA">GERÊNCIA</md-option>
                <md-option value="CONTABILIDADE">CONTABILIDADE</md-option>
                <md-option value="SERVIÇOS GERAIS">SERVIÇOS GERAIS</md-option>
                <md-option value="SEGURANÇA">SEGURANÇA</md-option>
                <md-option value="TRANSPORTE">TRANSPORTE</md-option>
                <md-option value="ATENDIMENTO">ATENDIMENTO</md-option>
                <md-option value="CCO">CCO</md-option>
                <md-option value="COBRANÇA">COBRANÇA</md-option>
                <md-option value="LEILÕES">LEILÕES</md-option>
        
              </md-select>
          </md-input-container>
          
            
          </div>
          
          <div>
            <md-button class="md-raised" md-colors="{background:'teal'}" md-colors-watch="false" ng-click="pesquisar($event)">Filtrar</md-button>
            <md-button class="md-raised" aria-label="Limpar" ng-click="limpar($event)">Limpar</md-button>
            <md-button class="md-raised md-primary" aria-label="Adicionar" ng-click="novo($event)">Novo</md-button>
          </div>
  
        </form>
      </md-card>
    </md-content>
    
  
    <section  class="md-whiteframe-z1 " ng-cloak layout="column" >
      
        <md-toolbar class="md-theme-light" >
          <h2 class="md-toolbar-tools">
            <span>{{dadosList.length}} Registros</span>
            <span flex></span>
            <md-button class="md-raised" aria-label="PDF" ng-click="gerarPdf()">PDF</md-button>
            <md-button class="md-raised" aria-label="Excel" ng-click="gerarPlanilha()">Excel</md-button>
          </h2>
        </md-toolbar>
  
        <mdt-table paginated-rows="{isEnabled: true, rowsPerPageValues: [20,50, 100]}" 
                    animate-sort-icon="true"
                    mdt-row="{
                              'data': dadosList,
                              'table-row-id-key': 'id',
                              'column-keys': ['id', 'empresa', 'nome', 'departamento', 'celular', 'ativo', 'editar']
                    }"
          >

          <mdt-custom-cell column-key="editar">
            <mdt-custom-cell-button icon='edit' class="md-icon-button md-secondary" ng-click="clientScope.detalhe($event, rowId)" aria-label="Detalhe"></md-custom-cell-button>
          </mdt-custom-cell>
         
  
          <mdt-header-row>
            <mdt-column align-rule="left" column-sort="false">#</mdt-column>
            <mdt-column align-rule="left" column-sort="true">Empresa</mdt-column>
            <mdt-column align-rule="left" column-sort="true">Nome</mdt-column>
            <mdt-column align-rule="left" column-sort="true">Departamento</mdt-column>
            <mdt-column align-rule="left" column-sort="false">Celular</mdt-column>
            <mdt-column align-rule="left" column-sort="false">Ativo</mdt-column>
            <mdt-column align-rule="left" column-sort="false">Editar</mdt-column>
            
          </mdt-header-row>
          
          
        </mdt-table>
      
    </section>
  
  </div>