<div class="doc-demo-content doc-content">
  <md-content >
      <md-card >
          <form name="editForm" ng-submit="editForm.$valid && gravar(dados)" novalidate="novalidate">
              <md-tabs md-dynamic-height md-border-bottom>        
                  <md-tab label="Dados Funcionário">
                      <br>


                      <div flex-xs flex-gt-xs="50" layout="column">
                          <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch style="width:1000px">
                              <br>
                            <md-card-title >
                              <md-card-title-text>
                                  <div layout-gt-sm="row" >
                                 
                                  <md-input-container class="md-block" flex-gt-sm style="text-align: left; width: 200px;">
                                  <label>Nome do Funcionário</label>
                                  <input ng-required="true" type="text" name="nome" ng-model="dados.nome" ng-change="dados.nome = (dados.nome | uppercase)"/>
                                  <div ng-messages="editForm.nome.$error" role="alert">
                                    <div ng-message-exp="['required']">
                                      Campo Obrigatório.
                                    </div>
                                  </div>
                                </md-input-container>
                                <md-input-container class="md-block" flex-gt-sm style="width: 150px;">
                                  <label>Apelido</label>
                                  <input ng-required="false" type="text" name="apelido" ng-model="dados.apelido" ng-change="dados.apelido = (dados.apelido | uppercase)"/>
                                </md-input-container>  
                              </div>
                          <div layout-gt-sm="row" >

                            <md-input-container class="md-block" flex-gt-sm style="text-align: left;" ng-required="false">
                                <label>Data Nascimento</label> 
                                <md-datepicker name="dt_nascimento" ng-required="false" ng-model="dados.dt_nascimento"></md-datepicker>
                            </md-input-container>

                            <md-input-container class="md-block" flex-gt-sm style="text-align: left;">
                                <label>Nome do Pai</label>
                                <input  type="text" name="nome_pai" ng-model="dados.nome_pai" ng-change="dados.nome_pai = (dados.nome_pai | uppercase)"/>
                                <div ng-messages="editForm.nome.$error" role="alert">
                                  <div ng-message-exp="['required']">
                                    Campo Obrigatório.
                                  </div>
                                </div>
                              </md-input-container>
                              
                
                              <md-input-container class="md-block" flex-gt-sm>
                                <label>Nome da Mãe</label>
                                <input ng-required="false" type="text" name="nome_mae" ng-model="dados.nome_mae" ng-change="dados.nome_mae = (dados.nome_mae | uppercase)"/>
                                <div ng-messages="editForm.nome.$error" role="alert">
                                  <div ng-message-exp="['required']">
                                    Campo Obrigatório.
                                  </div>
                                </div>
                              </md-input-container>

                          </div>
                          <div layout-gt-sm="row" >

                              <md-input-container class="md-block" flex-gt-sm>
                                  <label>Celular</label>
                                  <input ng-required="true" type="text" name="celular" ng-model="dados.celular" mask="(99) 9?9999-9999"/>
                                  <div ng-messages="editForm.celular.$error" role="alert">
                                  <div ng-message="mask">
                                       Digitar um número de telefone em um formato válido.
                                  </div>
                                  <div ng-message-exp="['required']">
                                      Campo Obrigatório.
                                  </div>
                                  </div> 
                                </md-input-container>

                              <md-input-container class="md-block" flex-gt-sm>
                                  <label>Email</label>
                                  <input ng-required="false" type="email" name="email" ng-model="dados.email"/>
                                </md-input-container>
                                  </md-grid-title>
                                <md-grid-title  class="video-title" >

                                <md-input-container class="md-block" flex-gt-sm>
                                  <label>CEP</label>
                                      <input  type="text"  name="cep" ng-model="dados.cep" mask="99999-999" ng-change="buscaCep(dados.cep)"/>
                                  </md-input-container>
                          </div>
                          <div layout-gt-sm="row" >
                              <md-input-container class="md-block" flex-gt-sm >
                                  <label>Endereço</label>
                                  <input  type="text" name="endereco" ng-model="dados.endereco" ng-change="dados.endereco = (dados.endereco | uppercase)"/>
                              </md-input-container>
                          </div>
                          <div layout-gt-sm="row" >
                          
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Bairro</label>
                                    <input  type="text" name="bairro"   ng-model="dados.bairro" ng-change="dados.bairro = (dados.bairro | uppercase)"/>
                                </md-input-container>
                              
                
                                <md-input-container class="md-block" flex-gt-sm>
                                <label>Cidade</label>
                                    <input  type="text" name="cidade"  ng-model="dados.cidade" ng-change="dados.cidade = (dados.cidade | uppercase)"/>
                                </md-input-container>    
                      
                                <md-input-container class="md-block" flex-gt-sm>
                                <label>UF</label>
                                <md-select placeholder="UF"   ng-required="false" name="uf" ng-model="dados.uf">
                                    <md-option ng-repeat="estado in estados" ng-value="estado.sigla">
                                        {{estado.sigla}}
                                    </md-option>
                                </md-select>
                                </md-input-container>    
                          
                              <md-input-container class="md-block" flex-gt-sm>
                                <label>Ativo</label>
                                <md-select placeholder="Ativo" name="ativo" ng-model="dados.ativo" >
                                  <md-option value="SIM">SIM</md-option>
                                  <md-option value="NAO">NÃO</md-option>
                                </md-select>
                              </md-input-container>
                          
                                                    
                          </div>

                            <md-input-container class="md-block">
                              <label>Observação</label>
                              <textarea ng-model="dados.observacao" md-maxlength="150" rows="3" md-select-on-focus></textarea>
                            </md-input-container>

                              </md-card-title-text>
                             
                              <md-card-title-media style="align-content: right; align-items:right; margin-left: 30px;">
                                <div class="md-media-lg card-media">
                                  <md-grid-title style="text-align: right; width: 30%;" class="video-title" >
                                     <img ng-if="dados.foto.length > 0" ng-src="{{urlFotos+dados.foto}}"></div>
                                    <md-input-container  flex-gt-sm>
                                      <md-grid-tile-footer>
                
                                          <md-button  class="md-raised md-primary" title="Carregar Imagem"
                                                     name="foto" 
                                                     ng-model="novaimagem"
                                                     ngf-pattern="'.jpg,.jpeg,.png'"
                                                     ngf-accept="'.jpg,.jpeg,.png'"
                                                     ngf-select="uploadFoto($file)"
                                                     ngf-capture="'camera'"
                                                     ngf-max-size="6MB" 
                                                     ngf-min-height="50" 
                                                     style="margin-right:20px;">SELECIONAR FOTO</md-button>
                                          </md-input-container>
                                        <md-grid-tile-footer>
                                        </md-grid-title>
                                  </md-card-title-media>


                            </md-card-title>
                            <md-card-footer>
                              <br>
                            <md-button type="submit" ng-disabled="isDisabled" class="md-raised md-primary">Gravar</md-button>
                            <md-button class="md-raised" ng-click="paginaAnterior()" aria-label="Voltar">Voltar</md-button>

                            </md-card-footer>
                            
                          </md-card>
                          
                            
                          </div>

                  </md-tab>
                  <md-tab label="DOCUMENTOS">
                      <md-content flex style="background: white; align-items:center; ">  
                          <br>
                          <br>
                          <div style="height: 600px; width: 800px; margin-left:50px;">
                          <div layout-gt-sm="row">

                              <md-input-container class="md-block" flex-gt-sm>
                                  <label>PIS</label>
                                      <input  type="text" style="width: 200px" name="pis" ng-model="dados.pis" />
                                  </md-input-container>

                                  <md-input-container class="md-block" flex-gt-sm>
                                      <label>CPF</label>
                                      <input ng-required="true" type="text" name="cpf" cpf-cnpj ng-model="dados.cpf"/>
                                      <div ng-messages="editForm.cpf_cnpj.$error" role="alert">
                                          <div ng-message="required">
                                              Campo Obrigatório.
                                          </div>      
                                      </div>
                                  </md-input-container>
                              </div>
                              <div layout-gt-sm="row">
                                  <md-input-container class="md-block" flex-gt-sm>
                                      <label>RG</label>
                                      <input type="text" name="rg"  ng-model="dados.rg" />
                                     
                                  </md-input-container>
                               
                                  <md-input-container class="md-block" flex-gt-sm >
                                      <label>Emissão do RG</label> 
                                      <md-datepicker name="emissao_rg" ng-model="dados.emissao_rg">
                                  </md-input-container>
                                  
                                  <md-input-container class="md-block" flex-gt-sm>
                                      <label>Possui habilitação?</label>
                                      <md-select placeholder="Possui habilitação?"  required ng-required="false" name="habilitado" ng-model="dados.habilitado">
                                          <md-option value="SIM">SIM</md-option>
                                          <md-option value="NÃO">NÃO</md-option>
                                      </md-select>
                                  </md-input-container>
                              </div>
                              <div layout-gt-sm="row">
                                  <md-input-container class="md-block"  flex-gt-sm >
                                      <label>CNH</label>
                                      <input ng-required="false" type="text" name="cnh" ng-model="dados.cnh" />
                                      <div ng-messages="editForm.cnh.$error" role="alert">
                                        <div ng-message-exp="['required']">
                                          Campo Obrigatório.
                                        </div>
                                      </div>              
                                    </md-input-container>
                                    <md-input-container class="md-block" flex-gt-sm>
                                      <label>CNH Categoria</label>
                                      <input ng-required="false" type="text" name="cnhCat" ng-model="dados.cnhCat" />
                                      <div ng-messages="editForm.cnhCat.$error" role="alert">
                                        <div ng-message-exp="['required']">
                                          Campo Obrigatório.
                                        </div>
                                      </div>              
                                    </md-input-container>
                                    <md-input-container class="md-block" flex-gt-sm ng-required="false">
                                      <label>CNH Validade</label> 
                                      <md-datepicker name="cnhVal" ng-required="false" ng-model="dados.cnhVal">
                                  </md-input-container>  
                                    </div>
                  

                                  </div>
                                  </md-content>
                      </md-tab>

                      <md-tab label="Dados Contratação">
                          <md-content flex style="background: white; align-items:center;">  
                              <br>
                              <br>              
                              <div style="height: 600px; width: 800px; margin-left:50px;">
                  
                                  <div layout-gt-sm="row">

                                    <md-input-container class="md-block" flex-gt-sm>
                                      <label>Empresa</label>
                                      <md-select placeholder="Empresa" required ng-required="true" name="empresa" ng-model="dados.empresa">
                                        <md-option ng-repeat="empresa in empresas" ng-value="empresa.nome_empresa">
                                          {{empresa.nome_empresa}}
                                         </md-option>
                                      </md-select>
                                      <div ng-messages="editForm.empresa.$error" class="errors">
                                        <div ng-message="required">
                                          Campo Obrigatório.
                                        </div>
                                      </div>
                                    </md-input-container>
                                    
                                    <md-input-container class="md-block" flex-gt-sm>
                                      <label>Pátio</label>
                                      <md-select placeholder="Pátio" required ng-required="true" name="dados.id_patio" ng-model="dados.id_patio">
                                        <md-option ng-repeat="patio in patios" ng-value="patio.id">
                                          {{patio.nome}}
                                         </md-option>
                                      </md-select>
                                      <div ng-messages="editForm.patioDestino.$error" class="errors">
                                        <div ng-message="required">
                                          Campo Obrigatório.
                                        </div>
                                      </div>
                                    </md-input-container>
                      
                                    <md-input-container class="md-block" flex-gt-sm>
                                      <label>Departamento</label>
                                      <md-select placeholder="Departamento"  required ng-required="false" name="departamento" ng-model="dados.departamento">
                                          <md-option value="ADMINISTRATIVO">ADMINISTRATIVO</md-option>
                                          <md-option value="PRODUÇÃO">PRODUÇÃO</md-option>
                                          <md-option value="RH">RH</md-option>
                                          <md-option value="JURÍDICO">JURÍDICO</md-option>
                                          <md-option value="FINANCEIRO">FINANCEIRO</md-option>
                                          <md-option value="GERÊNCIA">GERÊNCIA</md-option>
                                          <md-option value="CONTABILIDADE">CONTABILIDADE</md-option>
                                          <md-option value="SERVIÇOS GERAIS">SERVIÇOS GERAIS</md-option>
                                          <md-option value="SEGURANÇA">SEGURANÇA</md-option>
                                          <md-option value="TRANSPORTE">TRANSPORTE</md-option>
                                          <md-option value="ATENDIMENTO">ATENDIMENTO</md-option>
                                          <md-option value="CCO">CCO</md-option>
                                          <md-option value="COBRANÇA">COBRANÇA</md-option>
                                          <md-option value="LEILÕES">LEILÕES</md-option>
                                
                                      </md-select>
                                  </md-input-container>
                                
                              </div>
                  
                              <div layout-gt-sm="row">

                                <md-input-container class="md-block" flex-gt-sm>
                                  <label>Tipo de Contratação</label>
                                  <md-select placeholder="Tipo de contratação"  required ng-required="false" name="tipo_contratacao" ng-model="dados.tipo_contratacao">
                                      <md-option value="PJ">PJ</md-option>
                                      <md-option value="CLT">CLT</md-option>
                                      <md-option value="Outros">Outros</md-option>
                            
                                  </md-select>
                              </md-input-container>
 
                                  <md-input-container>
                                      <label>Salário</label>
                                      <input ng-required="true" type="text" name="salario" ng-model="dados.salario" ui-number-mask/>
                                  </md-input-container>
                  
                                  
                                         
                                        <md-input-container class="md-block" flex-gt-sm style="text-align: left;">
                                            <label>Data Admissão</label> 
                                            <md-datepicker ng-required="true"  name="data_admissao" ng-model="dados.data_admissao" ng-blur="atualizarDatas()"></md-datepicker>
                                        </md-input-container> 
    
                                          
                                               
                                      </div>   
                                      
                                      <div layout-gt-sm="row">
                                        <md-input-container class="md-block" flex-gt-sm style="text-align: left;">
                                          <label>Data Férias</label> 
                                          <md-datepicker  name="data_ferias" ng-model="dados.data_ferias"  ng-blur="atualizarDatas()"></md-datepicker>
                                      </md-input-container> 
                                      <md-input-container class="md-block" flex-gt-sm style="text-align: left;">
                                        <label>Data Experiência</label> 
                                        <md-datepicker  name="data_experiencia" ng-model="dados.data_experiencia"  ng-blur="atualizarDatas()"></md-datepicker>
                                    </md-input-container> 
                                    
                                    <md-input-container class="md-block" flex-gt-sm style="text-align: left;">
                                      <label>Data Demissão</label> 
                                      <md-datepicker  name="data_demissao" ng-model="dados.data_demissao"></md-datepicker>
                                  </md-input-container>  
                                        </div>                     
                                  </div> 
                  
                                  
                                  
                    
                          </md-content>            
                          </md-tab>        
                                             
                            
              </md-tabs>
          </form>
      </md-card>
  </md-content>
</div>