
<!--

<script>window.jQuery || document.write(decodeURIComponent('%3Cscript src="js/jquery.min.js"%3E%3C/script%3E'))</script>
<script>window.angular || document.write(decodeURIComponent('%3Cscript src="js/angular.min.js"%3E%3C/script%3E'))</script>

    <script src="data.js"></script>

-->


<link rel="stylesheet" href="./assets/css/customComponents/grid.css">
        
    
      <!--
            HTML PARA O PDF QUE SERÁ GERADO
          -->
    
      <div class="doc-demo-content doc-content">
        
        <md-content layout-xs="column" layout-gt-sm="row" layout-sm="column">
          <md-card layout-padding="layout-padding" flex-gt-sm="flex-gt-sm" layout="column" flex-order="1" flex-order-gt-sm="1">
            <form name="editForm" ng-submit="editForm.$valid && pesquisar(dados)" novalidate="novalidate">
    
              <div layout-gt-sm="row">
    
                <md-input-container class="md-block" flex-gt-sm="flex-gt-sm">
                  <label>Data Inicial</label>
                  <md-datepicker name="dataInicio" ng-model="dados.dataInicio"></md-datepicker>
                </md-input-container>
    
                <md-input-container class="md-block" flex-gt-sm="flex-gt-sm">
                  <label>Data Final</label>
                  <md-datepicker name="dataFinal" ng-model="dados.dataFinal"></md-datepicker>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm="flex-gt-sm">
                  <label>Apreendidos Até (Estoque)</label>
                  <md-datepicker name="apreendidos_ate" ng-model="dados.apreendidos_ate"></md-datepicker>
                </md-input-container>

              </div>  
         
              <div layout-gt-sm="row" style="display: flex;align-items: center;">

                <md-input-container class="md-block" flex-gt-sm style="text-overflow: hidden;max-width: 90vw;"> 
                
                <label>Pátio</label>
                <md-select ng-disabled="dados.id_grupo_patios" placeholder="Pátio"  ng-required="false" name="patio" ng-model="dados.patio" multiple="multiple">
                  <md-option ng-repeat="patio in patios" ng-value="patio.id_patio">
                    {{patio.nome}}
                  </md-option>
                </md-select>
                <div ng-messages="usuarioEditForm.patio.$error" class="errors">
                  <div ng-message="required">
                    Selecione Pátio.
                  </div>
              </md-input-container>
    
                <md-input-container class="md-block" flex-gt-sm style="text-overflow: hidden;max-width: 90vw;"> 

                <label>Grupo Pátio</label>
                  <md-select placeholder="Grupo Pátio" name="patio" ng-required="false" ng-model="dados.id_grupo_patios" ng-disabled="dados.patio">
                    <md-option ng-repeat="patioGrupo in patiosGrupo" ng-value="patioGrupo.id">
                      {{patioGrupo.descricao}}
                    </md-option>
                  </md-select>
              </md-input-container>
  
            </div>  
    
    
                <br>
                  <div>
                    <md-button class="md-raised md-primary" aria-label="Adicionar" ng-click="mesAtual($event)">Mês Atual
                    </md-button>
                    <md-button type="submit" class="md-raised" md-colors="{background:'teal'}" md-colors-watch="false">Filtrar
                    </md-button>
                    <md-button class="md-raised" aria-label="Limpar" ng-click="limpar($event)">Limpar</md-button>
                    <md-button class="md-raised" aria-label="Limpar" ng-click="gerarExcel($event)">EXCEL</md-button>
                  </div>
    
                </form>
              </md-card>
            </md-content>
    
    
      </div>
    
      <div class="dx-viewport">
        <!--
              <div id="pivotgrid-demo">

                <div id="sales-chart" dx-chart="chartOptions"></div>
-->
                <div id="gridContainer" dx-data-grid="gridOptions"></div>
             
      </div>

      <div>
         <h3>Apreensões até {{ data_ate_apreensao }} (Estoque)</h3>
      </div>

      <div class="dx-viewport">
        <!--
              <div id="pivotgrid-demo">

                <div id="sales-chart" dx-chart="chartOptions"></div>
-->
                <div id="gridContainer-estoque" dx-data-grid="gridOptionsEstoque"></div>

      </div>



      <script type="text/ng-template" id="media-saldo.html">
    

        <md-dialog style="width:2000px;height:1000px;">
          <md-dialog-content>
      
              <md-content layout-padding>                           
                      
          <section  class="md-whiteframe-z1 " ng-cloak layout="column" >
            <div class="myDivClass"> 
            <div layout-gt-sm="row">
                  <div  layout-gt-sm="row">               
                  <md-input-container>
                    <md-select ng-required="true" placeholder="DADOS DETALHADOS"  name="ativo" ng-model="dados.detalhes" ng-change="detalhes()">
                        <md-option value="CANCELADOS">CANCELADOS</md-option>
                        <md-option value="INATIVOS">INATIVOS</md-option>
                        <md-option value="INVALIDADOS">INVALIDADOS</md-option>
                        <md-option value="SALDO_PATIO">SALDO PÁTIO</md-option>                        
                        <md-option value="JUDICIAL">JUDICIAL</md-option>
                        <md-option value="RENAJUD">RENAJUD</md-option>
                        <md-option value="PREPARACAO">PREPARAÇÃO</md-option>
                        <md-option value="LEILOADO">LEILOADO</md-option>
                        <md-option value="OFICIO">OFICIO</md-option>                        
                        <md-option value="SALDO_LEILAO">SALDO LEILÃO</md-option>                        
                        <md-option value="TRANSFERIDOS">TRANSFERIDOS</md-option>      
                        <md-option value="NO_PATIO">NO PATIO</md-option>                   
                    </md-select>
                    <h3>Qtde Registros : {{ qtdeRegistros }} </h3>
                  </md-input-container>  
                  </div> 
            </div>

            <div class="dx-viewport">
              <div id="gridContainer-detalhes" dx-data-grid="gridOptionsDetalhes"></div>      
            </div>
            <div class="dx-viewport">
              <div id="gridContainer-transferidos" dx-data-grid="gridOptionsDetalhesTransf"></div>      
            </div>

            </div>
            
          </section>
          </md-content>
        </md-dialog-content>
        <md-dialog-actions>            
            <md-button class="md-raised md-primary" ng-click="excelDados()">Excel</md-button>
            <md-button class="md-raised md-primary" ng-click="pdfDados()">PDF</md-button>
            <md-button class="md-raised md-primary" ng-click="cancel()">Fechar</md-button>
        </md-dialog-actions>
      </md-dialog>
      
        </script>
