<link rel="stylesheet" href="./assets/css/customComponents/customTable.css">

  <div id="Modal" >
    <p>Atenção!  Gerando PDF, aguarde alguns segundos </p>


  </div>

  <!--
        HTML PARA O PDF QUE SERÁ GERADO
      -->
  <section class="tableBodyPDF" id="tableBodyPDF">
    <header class="tableHeader">

      <div class="datas">
        <div >
        Total Apreendidos : {{dadosApreensoes.length || 0}}
        </div>
      
        <div >
          Total Liberados : {{apreendidosTotalGeral.length|| 0}}
          </div>
  
          <div >
            Saldo Total : {{SaldoGeral|| 0}}%
            </div>
    
      </div>

    </header>
    <main id="tableMainPDF"></main>
  </section>

  <div class="doc-demo-content doc-content">
    <md-content layout-xs="column" layout-gt-sm="row" layout-sm="column">
      <md-card layout-padding="layout-padding" flex-gt-sm="flex-gt-sm" layout="column" flex-order="1" flex-order-gt-sm="1">
        <form name="editForm" ng-submit="editForm.$valid && pesquisar(dados)" novalidate="novalidate">

          <div layout-gt-sm="row">

            <md-input-container class="md-block" flex-gt-sm="flex-gt-sm">
              <label>Data Inicial</label>
              <md-datepicker name="dataInicio" ng-model="dados.dataInicio"></md-datepicker>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm="flex-gt-sm">
              <label>Data Final</label>
              <md-datepicker name="dataFinal" ng-model="dados.dataFinal"></md-datepicker>
            </md-input-container>


            <md-input-container class="md-block" flex-gt-sm="flex-gt-sm">
              <label>Formas de Pagamento</label>
              <md-select placeholder="Forma Pagto" style="width: 90%" name="forma_pagto" ng-model="dados.forma_pagto" multiple="multiple">
                <md-option ng-repeat="formaPagto in formasPagto" ng-value="formaPagto.id">
                  {{formaPagto.descricao}}
                </md-option>
              </md-select>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm="flex-gt-sm">
              <label>LIBERAÇÃO
              </label>
              <md-select placeholder="LIBERAÇÃO" required="required" ng-required="true" name="LIBERAÇÃO" ng-model="dados.tipo_liberacao">
                <md-option value="LIBERADO" selected="selected">LIBERADO</md-option>
                <md-option value="LIBERADO_ARR">LIBERADO ARR</md-option>
                <md-option value="TODOS">TODOS</md-option>

              </md-select>
            </md-input-container>
          </div>


          <md-input-container class="md-block" flex-gt-sm="flex-gt-sm">
            <label>Pátio</label>
            <md-select ng-disabled="dados.id_grupo_patios" placeholder="Pátio" style="width: 90%" ng-required="false" name="patio" ng-model="dados.patio" multiple="multiple">
              <md-option ng-repeat="patio in patios" ng-value="patio.id_patio">
                {{patio.nome}}
              </md-option>
            </md-select>
            <div ng-messages="usuarioEditForm.patio.$error" class="errors">
              <div ng-message="required">
                Selecione Pátio.
              </div>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm="flex-gt-sm" style="text-overflow: hidden;max-width: 90%;">
              <label>Grupo Pátio</label>
              <md-select placeholder="Grupo Pátio" name="patio" ng-required="false" ng-model="dados.id_grupo_patios" ng-disabled="dados.patio">
                <md-option ng-repeat="patioGrupo in patiosGrupo" ng-value="patioGrupo.id">
                  {{patioGrupo.descricao}}
                </md-option>
              </md-select>
            </md-input-container>


            <br>
              <div>
                <md-button class="md-raised md-primary" aria-label="Adicionar" ng-click="mesAtual($event)">Mês Atual
                </md-button>
                <md-button type="submit" class="md-raised" md-colors="{background:'teal'}" md-colors-watch="false">Filtrar
                </md-button>
                <md-button class="md-raised" aria-label="Limpar" ng-click="limpar($event)">Limpar</md-button>
              </div>


              <section class="tableBody" id="tableBody">
                <header class="tableHeader">

                  <div class="datas">
                    <div >
                    Total Apreendidos : {{dadosApreensoes.length || 0}}
                    </div>
                  
                    <div >
                      Total Liberados : {{apreendidosTotalGeral.length|| 0}}
                      </div>
              
                      <div >
                        Saldo Total : {{SaldoGeral|| 0}}%
                        </div>
                
                  </div>

                  <div class="containerActions">
                    <md-button class="md-raised" aria-label="Limpar" ng-click="gerarPdf()">PDF</md-button>
                    <md-button class="md-raised" aria-label="Limpar" ng-click="gerarPlanilha()">EXCELL</md-button>

                  </div>


                </header>
                <main id="tableMain"></main>
              </section>


            </form>
          </md-card>
        </md-content>


      </div>
