<link rel="stylesheet" href="/assets/css/customTable.css">

<div class="doc-demo-content doc-content">

  <md-tabs md-dynamic-height md-border-bottom>

    <md-tab label="Importar Veiculos">

      <md-content layout-xs="column" layout-gt-sm="row" layout-sm="column">

        <md-card layout-padding flex-gt-sm layout="column" flex-order="1" flex-order-gt-sm="1">

          <md-subheader class="md-no-sticky">FILTRAR DADOS</md-subheader>
          <md-divider></md-divider>
          <form name="ncvEditForm" ng-submit="ncvEditForm.$valid && pesquisar($event)" novalidate="novalidate">
            
            <div layout-gt-sm="row">

                <div>
                
                    <label for="arquivoLote" class="md-raised md-primary" title="Selecione arquivo de Lote para importaçao! 
                    São aceitos arquivos texto (.txt) e Excel (.csv)"
                    style="background-color: rgba(52, 63, 183, 0.932);
                    color: rgba(255, 255, 255, 0.874);
                    text-align: center;
                    display: block;
                    padding: 10px 10px; 
                    font-family: sans-serif;
                    font-size: 14px; 
                    border-radius: 0.3rem; 
                    cursor: pointer; 
                    margin-top: 7px;
                    width: 170px">BUSCAR ARQUIVO LOTE</label>
                
                </div>
  
                <input type="file" id="arquivoLote" accept='.csv,.txt'name="arquivoLote" 
                onchange="angular.element(this).scope().buscaArquivoLote(this)" style="display: none"/>
  
                <md-input-container class="md-block" flex-gt-sm >
                    <label>Arquivo de Lote</label>
                    <input type="text" name="arquivo" ng-readonly="true" ng-model="arquivoSelecionado" />
                </md-input-container>               

                <md-input-container class="md-block" flex-gt-sm>
                    <label>Pátio</label>
                    <md-select placeholder="Pátio" name="patio" ng-required="true" ng-model="dados.patio">
                      <md-option  ng-repeat="patio in patios" ng-value="patio.id_patio">
                          {{patio.nome}}
                      </md-option>
                    </md-select>
                  </md-input-container>
               
            </div>
          

            <div>
                <md-button class="md-raised" md-colors="{background:'teal'}" ng-click="processar($event)">PROCESSAR</md-button>
                <md-button class="md-raised" aria-label="Limpar" ng-click="limparImportar($event)">Limpar</md-button>
            </div>
      
          </form>

        </md-card>
      </md-content>        
      
      <section  class="md-whiteframe-z1 " ng-cloak layout="column" >
      
        <md-toolbar class="md-theme-light" >
          <h2 class="md-toolbar-tools">
            <span>{{importarList.length || 0}} Registros</span>
            <span flex></span>
            <md-button class="md-raised" ng-click="gerarPDF()" aria-label="PDF">PDF</md-button>
            <md-button class="md-raised" ng-click="gerarPlanilha()" aria-label="Excel">Excel</md-button>
          </h2>
        </md-toolbar>
  
        <md-content class="Body">

            <md-card>
                <table>

                  <tr>
                    <th>Placa</th>
                    <th>Marca/Modelo</th>
                    <th>Cor</th>
                    <th>Ano</th>
                    <th>Chassi</th>
                    <th>Motor</th>
                    <th>Tipo</th>
                    <th>Data Apreensão</th>                    
  
                  </tr>

                  <tr ng-repeat="Dados in importarList" class="Result">
                    <td>{{Dados.placa}}</td>
                    <td>{{Dados.marca_modelo}}</td>
                    <td>{{Dados.cor}}</td>
                    <td>{{Dados.ano}}</td>
                    <td>{{Dados.chassi}}</td>
                    <td>{{Dados.motor}}</td>
                    <td>{{Dados.tipo_veiculo}}</td> 
                    <td>{{Dados.data_apreensao}}</td>
                     
                  </tr>
                </table>

            </md-card>
        </md-content>
      
      </section>

    </md-tab>







    <md-tab label="Distribuir Conferencia">

      <md-content layout-xs="column" layout-gt-sm="row" layout-sm="column">

        <md-card layout-padding flex-gt-sm layout="column" flex-order="1" flex-order-gt-sm="1">

          <md-subheader class="md-no-sticky">FILTRAR DADOS</md-subheader>
          <md-divider></md-divider>
          <form name="ncvEditForm" ng-submit="ncvEditForm.$valid && pesquisar($event)" novalidate="novalidate">
            
            <div layout-gt-sm="row" style="display: flex;align-items: baseline;">

              <md-input-container class="md-block" flex-gt-sm>
                <label>Leilão</label>
                <md-select placeholder="Leilao" name="leilao" ng-required="false" ng-model="dados.leilao">
                  <md-option  ng-repeat="leiloes in leilao" ng-value="leiloes">
                      {{leiloes.descricao}}
                  </md-option>
                </md-select>
              </md-input-container>
          

            </div>

          <div layout-gt-sm="row" style="display: flex;align-items: center;">

              <md-input-container class="md-block" flex-gt-sm>
                <label>Apreendidos até</label>
                <md-datepicker name="data" ng-model="DadosPeriodo.ApreeDe" ng-disabled="Enable"></md-datepicker>
              </md-input-container>


          </div>
          

            <div>

              <md-button class="md-raised" md-colors="{background:'teal'}" ng-click="processar($event)">FILTRAR</md-button>
              <md-button class="md-raised md-primary" aria-label="Adicionar" ng-click="SeparacaoPeriodo.mesAtual()">Mês Atual</md-button>
              <md-button class="md-raised" aria-label="Limpar" ng-click="limparDistribuir($event)">Limpar</md-button>

            </div>
      
          </form>

        </md-card>
      </md-content>        
      
      <section  class="md-whiteframe-z1 " ng-cloak layout="column" >
      
        <md-toolbar class="md-theme-light" >
          <h2 class="md-toolbar-tools">
            <span>{{dadosList.length || 0}} Registros</span>
            <span flex></span>
            <md-button class="md-raised" ng-click="gerarPDF()" aria-label="PDF">PDF</md-button>
            <md-button class="md-raised" ng-click="gerarPlanilha()" aria-label="Excel">Excel</md-button>
          </h2>
        </md-toolbar>
  
        <md-content class="Body">

            <md-card>
                <table>

                  <tr>
                    <th>Placa</th>
                    <th>Marca/Modelo</th>
                    <th>Tipo</th>
                    <th>Ano</th>
                    <th>Cor</th>
                    <th>CR</th>
                    <th>Data Apreensão</th>
                    <th>Local Apreensão</th>                   
                        
  
                  </tr>

                  <tr ng-repeat="Dados in distribuirList" class="Result">
                    <td>{{Dados.placa}}</td>
                    <td>{{Dados.marca_modelo}}</td>
                    <td>{{Dados.tipo_veiculo}}</td>
                    <td>{{Dados.ano}}</td>
                    <td>{{Dados.cor}}</td>
                    <td>{{Dados.cr}}</td>
                    <td>{{Dados.data_apreensao}}</td>
                    <td>{{Dados.local_apreensao}}</td>
                      
                  </tr>
                </table>

            </md-card>
        </md-content>
      
      </section>

    </md-tab>


  </md-tabs>

</div>