<html lang="pt-BR" ng-app="app" class="ng-scope">

<head>
  <base href="./">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Controle de Pátios | Grupo Carvalho</title>
  <meta name="description" content="Controle de Pátios" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta charset="UTF-8">

  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="assets/fonts/roboto300-400-500-700-400italic/roboto.css">
  <link rel="stylesheet" href="assets/js/angular/css/angular-material.min.css">

  <link href="assets/js/angular/css/icon.css" rel="stylesheet">
  <link href="assets/js/angular/css/docs.css" rel="stylesheet">

  <!-- Table style sheet -->
  <link rel="stylesheet" href="assets/js/angular/js/angular_md_data_table/md-data-table-style.css">
  <link rel="stylesheet" href="/assets/css/CustomDashMenu.css">
  <!-- loading bar -->
  <link rel='stylesheet' href='assets/js/angular/js/angular_loadingbar/loading-bar.min.css' type='text/css'
    media='all' />

  <!-- Mapa -->
  <link rel="stylesheet" href="assets/js/angular/js/leaflet/leaflet.css" />

  <!-- FONT awesome -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

  <!--[if lt IE 9]> <script src="js/ie/html5shiv.js"></script> <script src="js/ie/respond.min.js"></script> <script src="js/ie/excanvas.js"></script> <![endif]-->

  <!--Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon/favicon-16x16.png">
  <link rel="manifest" href="assets/images/favicon/manifest.json">
  <link rel="shortcut icon" href="assets/images/favicon/favicon.ico">
  <meta name="msapplication-config" content="assets/images/favicon/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/save-file@2.3.1/browser.min.js"></script>
  <script src="assets/js/jquery.min.js"></script>
  <!-- Moment Js-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/locale/pt-br.min.js" integrity="sha512-1IpxmBdyZx3okPiZ14mzw6+pOGa690uDmcdjqvT310Kwv3NRcjvL/aOtoSprEyvkDdAb7ZtM2um6KrLqLOY97w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.min.js" integrity="sha512-iqRVtNB+t9O+epcgUTIPF+nklypcR23H1yR1NFM9kffn6/iBhZ9bTB6oKLaGMv8JE9UgjcwfBFg/eHC/VMws+g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.5/pdfmake.min.js" integrity="sha512-rDbVu5s98lzXZsmJoMa0DjHNE+RwPJACogUCLyq3Xxm2kJO6qsQwjbE5NDk2DqmlKcxDirCnU1wAzVLe12IM3w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/exceljs/4.3.0/exceljs.min.js" integrity="sha512-UnrKxsCMN9hFk7M56t4I4ckB4N/2HHi0w/7+B/1JsXIX3DmyBcsGpT3/BsuZMZf+6mAr0vP81syWtfynHJ69JA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!--
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/6.26.0/polyfill.js"></script>
  <script src="exceljs.js"></script>
-->

</head>

<body class="docs-body" layout="row" ng-cloak aria-label="Painel de Controle - Grupo Carvalho"
  ng-controller="gCarvalhoCtrl">

  <md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2" md-component-id="left" hide-print
    md-disable-backdrop md-is-locked-open="sideNavMenu">

    <header class="nav-header">
      <a ng-href="/" class="docs-logo">
        <img src="assets/images/logo.jpg" alt="Painel Grupo Carvalho" title="Grupo Carvalho" />
      </a>
    </header>

    <md-content flex role="navigation">

      <div class="CADASTROS">
        <header ng-click="HiddeMenuCadastros()">
          <h1>CADASTROS</h1>
          <img src="/assets/images/icons/dashicons_arrow-down.svg" alt="IconMenu">
        </header>
        <div class="CadastroContent" ng-hide="HideCad">
          <ul class="docs-menu">
            <li class="parent-list-item">

              <md-button ng-hide="_advogados" class="md-button-toggle" ng-href="#/advogados"
                ng-class="{'active': routebreadcrumb === 'Advogados'}" ng-click="addBreadcrumb('Advogados')">
                <div flex layout="row">
                  Advogados
                  <span flex></span>
                </div>
              </md-button>

              <md-button ng-hide="_autoridades" class="md-button-toggle" ng-href="#/autoridades"
                ng-class="{'active': routebreadcrumb === 'Autoridades'}" ng-click="addBreadcrumb('Autoridades')">
                <div flex layout="row">
                  Autoridades
                  <span flex></span>
                </div>
              </md-button>

              <md-button ng-hide="classificacao_leilao" class="md-button-toggle" ng-href="#/classificacao-leilao"
                ng-class="{'active': routebreadcrumb === '  Classificação Leilão'}" ng-click="addBreadcrumb('  Classificação Leilão')">
                <div flex layout="row">
                  Classificação Leilão
                  <span flex></span>
                </div>
              </md-button>

              <md-button ng-hide="_clientes" class="md-button-toggle" ng-href="#/clientes"
                ng-class="{'active': routebreadcrumb === 'Clientes'}" ng-click="addBreadcrumb('Clientes')">
                <div flex layout="row">
                  Clientes
                  <span flex></span>
                </div>
              </md-button>

              <md-button ng-hide="_empresas" class="md-button-toggle" ng-href="#/empresas"
                ng-class="{'active': routebreadcrumb === 'Empresas'}"
                ng-click="addBreadcrumb('Empresas')">
                <div flex layout="row">
                  Empresas
                  <span flex></span>
                </div>
              </md-button>
              
              <md-button ng-hide="_empresas_reboques" class="md-button-toggle" ng-href="#/empresas-reboques"
                ng-class="{'active': routebreadcrumb === 'Empresas Reboques'}"
                ng-click="addBreadcrumb('Empresas Reboques')">
                <div flex layout="row">
                  Empresas Reboques
                  <span flex></span>
                </div>
              </md-button>

              <md-button ng-hide="_fornecedores" class="md-button-toggle" ng-href="#/fornecedores"
                ng-class="{'active': routebreadcrumb === 'Fornecedores'}" ng-click="addBreadcrumb('Fornecedores')">
                <div flex layout="row">
                  Fornecedores
                  <span flex></span>
                </div>
              </md-button>

              <md-button ng-hide="_funcionarios" class="md-button-toggle" ng-href="#/funcionarios"
                ng-class="{'active': routebreadcrumb === 'Funcionários'}" ng-click="addBreadcrumb('Funcionários')">
                <div flex layout="row">
                  Funcionários
                  <span flex></span>
                </div>
              </md-button>

              <md-button ng-hide="_grupos_patios" class="md-button-toggle" ng-href="#/grupos-patios"
                ng-class="{'active': routebreadcrumb === 'Grupos Pátios'}" ng-click="addBreadcrumb('Grupos Pátios')">
                <div flex layout="row">
                  Grupos Pátios
                  <span flex></span>
                </div>
              </md-button>

              <md-button ng-hide="_leilao" class="md-button-toggle" ng-href="#/Leilao"
                ng-class="{'active': routebreadcrumb === 'Leilão'}" ng-click="addBreadcrumb('Leilão')">
                <div flex layout="row">
                  Leilão
                  <span flex></span>
                </div>
              </md-button>

              <md-button ng-hide="_motivo_apreensao" class="md-button-toggle" ng-href="#/motivo-apreensao"
                ng-class="{'active': routebreadcrumb === 'Motivo da Apreensão'}"
                ng-click="addBreadcrumb('Motivo da Apreensão')">
                <div flex layout="row">
                  Motivo da apreensão
                  <span flex></span>
                </div>
              </md-button>

              <md-button ng-hide="_motoristas" class="md-button-toggle" ng-href="#/motoristas"
                ng-class="{'active': routebreadcrumb === 'Motoristas'}" ng-click="addBreadcrumb('Motoristas')">
                <div flex layout="row">
                  Motoristas
                  <span flex></span>
                </div>
              </md-button>


              <md-button ng-hide="_patios" class="md-button-toggle" ng-href="#/patios"
                ng-class="{'active': routebreadcrumb === 'Pátios'}" ng-click="addBreadcrumb('Pátios')">
                <div flex layout="row">
                  Pátios
                  <span flex></span>
                </div>
              </md-button>

              <md-button ng-hide="_reboques" class="md-button-toggle" ng-href="#/reboques"
                ng-class="{'active': routebreadcrumb === 'Reboques'}" ng-click="addBreadcrumb('Reboques')">
                <div flex layout="row">
                  Reboques
                  <span flex></span>
                </div>
              </md-button>

              <md-button ng-hide="_tarifas" class="md-button-toggle" ng-href="#/tarifas"
                ng-class="{'active': routebreadcrumb === 'Tarifas'}" ng-click="addBreadcrumb('Tarifas')">
                <div flex layout="row">
                  Tarifas
                  <span flex></span>
                </div>
              </md-button>

              <md-button ng-hide="_tipos_veiculo" class="md-button-toggle" ng-href="#/tipos-veiculo"
                ng-class="{'active': routebreadcrumb === 'Tipos de Veiculo'}"
                ng-click="addBreadcrumb('Tipos de Veiculo')">
                <div flex layout="row">
                  Tipos de Veiculo
                  <span flex></span>
                </div>
              </md-button>

              <md-button ng-hide="_usuarios" class="md-button-toggle" ng-href="#/usuarios"
                ng-class="{'active': routebreadcrumb === 'Usuários'}" ng-click="addBreadcrumb('Usuários')">
                <div flex layout="row">
                  Usuarios
                  <span flex></span>
                </div>
              </md-button>

              <md-button ng-hide="_cadastro_veiculos" class="md-button-toggle" ng-href="#/veiculos"
                ng-class="{'active': routebreadcrumb === 'Veículos'}" ng-click="addBreadcrumb('Veículos')">
                <div flex layout="row">
                  Veículos
                  <span flex></span>
                </div>
              </md-button>

            </li>
          </ul>
        </div>
      </div>

      <div class="OPERACÃO">
        <header ng-click="HiddeMenuOperacao()">
          <h1>OPERACÃO</h1>
          <img src="/assets/images/icons/dashicons_arrow-down.svg" alt="IconMenu">
        </header>


        <div class="OperaçãoContent" ng-hide="HideOperacao">
          <ul class="docs-menu">
            <li class="parent-list-item">

              <md-button ng-hide="_agendamento_veiculos" class="md-button-toggle" ng-href="#/agendamento-veiculos"
                ng-class="{'active': routebreadcrumb === 'Agendamento Veículos'}"
                ng-click="addBreadcrumb('Agendamento Veículos')">

                <div flex layout="row">
                  Agendamento Veiculos
                  <span flex></span>
                </div>

              </md-button>

              <md-button ng-hide="_chamados" class="md-button-toggle" ng-href="#/chamados"
                ng-class="{'active': routebreadcrumb === 'Chamados'}" ng-click="addBreadcrumb('Chamados')">
                <div flex layout="row">
                  Chamados
                  <span flex></span>
                </div>
              </md-button>

              <md-button ng-hide="_ncv" class="md-button-toggle" ng-href="#/ncv"
                ng-class="{'active': routebreadcrumb === 'NCV'}" ng-click="addBreadcrumb('NCV')">
                <div flex layout="row">
                  NCV
                  <span flex></span>
                </div>
              </md-button>


              <md-button ng-hide="_dados_detran" class="md-button-toggle" ng-href="#/dados-detran"
                ng-class="{'active': routebreadcrumb === 'Dados Detran'}"
                ng-click="addBreadcrumb('Dados Detran')">

                <div flex layout="row">
                  Dados Detran
                  <span flex></span>
                </div>

              </md-button>
              <md-button ng-hide="_dados_denatran" class="md-button-toggle" ng-href="#/dados-denatran"
                ng-class="{'active': routebreadcrumb === 'Dados Denatran'}"
                ng-click="addBreadcrumb('Dados Denatran')">

              <div flex layout="row">
                Dados Denatran
                <span flex></span>
              </div>

             </md-button>



              <md-button ng-hide="_importar_veiculos" class="md-button-toggle" ng-href="#/importar-veiculos"
                ng-class="{'active': routebreadcrumb === 'Importar Veículos'}"
                ng-click="addBreadcrumb('Importar Veículos')">

                <div flex layout="row">
                  Importar Veículos
                  <span flex></span>
                </div>

              </md-button>


              <md-button ng-hide="_juridico" class="md-button-toggle" ng-href="#/juridico"
                ng-class="{'active': routebreadcrumb === 'Juridico'}" ng-click="addBreadcrumb('Juridico')">

                <div flex layout="row">
                  Jurídico
                  <span flex></span>
                </div>

              </md-button>


              <md-button ng-hide="_resumo_diario" class="md-button-toggle" ng-href="#/resumo-diario"
              ng-class="{'active': routebreadcrumb === 'Liberações'}" ng-click="addBreadcrumb('Resumo Diário')">
              <div flex layout="row">
                Resumo Diário
                <span flex></span>
              </div>
            </md-button>


              <md-button ng-hide="_separacao_leilao" class="md-button-toggle" ng-href="#/separacao-leilao"
                ng-class="{'active': routebreadcrumb === 'Separação Leilão'}"
                ng-click="addBreadcrumb('Separação Leilão')">

                <div flex layout="row">
                  Separação Leilão
                  <span flex></span>
                </div>

              </md-button>


              <md-button ng-hide="_transferencia_veiculos" class="md-button-toggle" ng-href="#/transferencia-veiculos"
                ng-class="{'active': routebreadcrumb === 'Transferência Veículos'}"
                ng-click="addBreadcrumb('Transferência Veículos')">

                <div flex layout="row">
                  Transferência Veículos
                  <span flex></span>
                </div>

              </md-button>

              
              <md-button ng-hide="_painel_chamados" class="md-button-toggle" ng-href="#/painel-chamados"
                ng-class="{'active': routebreadcrumb === 'Painel Chamados'}"
                ng-click="addBreadcrumb('Painel Chamados')">
                <div flex layout="row">
                  Painel de Chamados
                  <span flex></span>
                </div>
              </md-button>

            </li>
          </ul>
        </div>
      </div>

      <div class="COMPRAS">
        <header ng-click="HiddeMenuCompras()">
          <h1>COMPRAS</h1>
          <img src="/assets/images/icons/dashicons_arrow-down.svg" alt="IconMenu">
        </header>

        <div ng-hide="HideCompras" class="CadastroContent">
          <ul class="docs-menu">
            <li class="parent-list-item">

              <md-button ng-hide="_compras" class="md-button-toggle" ng-href="#/Lançamentos" style="padding-left: 30px;"
                ng-class="{'active': routebreadcrumb === 'Lançamentos'}"
               ng-click="addBreadcrumb('Lançamentos')">
                <div flex layout="row">
                  Lançamentos
                  <span flex></span>
                </div>
              </md-button>
            </li>
          </ul>
        </div>
      </div>


      <div class="GERENCIAL">
        <header ng-click="HideMenuGerencial()">
          <h1>GERENCIAL</h1>
          <img src="/assets/images/icons/dashicons_arrow-down.svg" alt="IconMenu">
        </header>

        <div ng-hide="HideGerencial" class="CadastroContent">
          <ul class="docs-menu">
            <li class="parent-list-item">

              <md-button ng-hide="_comercial_apreensoes" class="md-button-toggle" ng-href="#/comercial-apreensoes"
                ng-class="{'active': routebreadcrumb === 'Comercial Apreensoes'}" ng-click="addBreadcrumb('Comercial Apreensoes')">
               <div flex layout="row">
                Comercial Apreensoes
                <span flex></span>
               </div>
              </md-button>

              <md-button ng-hide="_gerencial_media_apreensoes" class="md-button-toggle" ng-href="#/gerencial-media-apreensoes"
              ng-class="{'active': routebreadcrumb === 'Gerencial Médias'}" ng-click="addBreadcrumb('Gerencial Média')">
              <div flex layout="row">
                Gerencial Médias
                <span flex></span>
              </div>
              </md-button>
            
            </li>
          </ul>
        </div>
      </div>



      <div class="LOGISTICA">
        <header ng-click="HiddeMenuLogistica()">
          <h1>LOGISTICAS</h1>
          <img src="/assets/images/icons/dashicons_arrow-down.svg" alt="IconMenu">
        </header>

        <div ng-hide="HideLogistica" class="CadastroContent">
          <ul class="docs-menu">
            <li class="parent-list-item">

              <md-button ng-hide="_controle_trafego" class="md-button-toggle" ng-href="#/controle-trafego"
                ng-class="{'active': routebreadcrumb === 'Controle Trafego'}" ng-click="addBreadcrumb('Controle Trafego')">
               <div flex layout="row">
                Controle Trafego
                <span flex></span>
               </div>
              </md-button>
            
            </li>
          </ul>
        </div>
      </div>

      

      <div class="FINANCEIRO">
        <header ng-click="HiddeMenuHideFinanceiro()">
          <h1>FINANCEIRO</h1>
          <img src="/assets/images/icons/dashicons_arrow-down.svg" alt="IconMenu">
        </header>

        <div ng-hide="HideFinanceiro">
          <header ng-click="HiddeMenuHideFinanceiroCadastros()">
            <h2>CADASTROS</h2>
            <img src="/assets/images/icons/dashicons_arrow-down.svg" alt="IconMenu">
          </header>


          <ul class="docs-menu" ng-hide="HideFinanceiroCadastros" style="padding-left: 20px;">

            <li class="parent-list-item">



              <md-button ng-hide="_categorias" class="md-button-toggle" ng-href="#/categorias"
                ng-class="{'active': routebreadcrumb === 'Categorias'}" ng-click="addBreadcrumb('Categorias')">
                <div flex layout="row">
                  Categorias
                  <span flex></span>
                </div>
              </md-button>

              <md-button ng-hide="_centro_custos" class="md-button-toggle" ng-href="#/centro-custos"
              ng-class="{'active': routebreadcrumb === 'Centro de Custos'}" ng-click="addBreadcrumb('Centro de Custos')">
              <div flex layout="row">
                Centro de Custos
                <span flex></span>
              </div>
            </md-button>

              <md-button ng-hide="_contas" class="md-button-toggle" ng-href="#/contas"
                ng-class="{'active': routebreadcrumb === 'Contas'}" ng-click="addBreadcrumb('Contas')">
                <div flex layout="row">
                  Contas
                  <span flex></span>
                </div>
              </md-button>

              <md-button ng-hide="_grupos" class="md-button-toggle" ng-href="#/grupos"
                ng-class="{'active': routebreadcrumb === 'Grupos'}" ng-click="addBreadcrumb('Grupos')">
                <div flex layout="row">
                  Grupos
                  <span flex></span>
                </div>
              </md-button>

              <md-button ng-hide="_previsao_caixa" class="md-button-toggle" ng-href="#/previsao"
                ng-class="{'active': routebreadcrumb === 'Previsao de Caixa'}"
                ng-click="addBreadcrumb('Previsão de Caixa')">
                <div flex layout="row">
                  Previsão de Caixa
                  <span flex></span>
                </div>
              </md-button>

              <md-button ng-hide="_tipos_recebimentos" class="md-button-toggle" ng-href="#/tipos-recebimento"
                ng-class="{'active': routebreadcrumb === 'Tipos Recebimento'}"
                ng-click="addBreadcrumb('Tipos Recebimento')">
                <div flex layout="row">
                  Tipos Recebimento
                  <span flex></span>
                </div>
              </md-button>


            </li>
          </ul>

        </div>


        <div ng-hide="HideFinanceiro">
          <header ng-click="HiddeMenuHideFinanceiroLancamentos()">
            <h2>LANÇAMENTOS</h2>
            <img src="/assets/images/icons/dashicons_arrow-down.svg" alt="IconMenu">
          </header>

          <ul class='docs-menu' ng-hide="HideFinanceiroLancamentos" style="padding-left: 20px;">
            <li class="parent-list-item">

              <md-button ng-hide="_caixa" class="md-button-toggle" ng-href="#/caixa"
                ng-class="{'active': routebreadcrumb === 'Caixa'}" ng-click="addBreadcrumb('Caixa')">
                <div flex layout="row">
                  Caixa
                  <span flex></span>
                </div>
              </md-button>

              <md-button ng-hide="_contabilizado" class="md-button-toggle" ng-href="#/contabilizado"
                ng-class="{'active': routebreadcrumb === 'Contabilizado'}" ng-click="addBreadcrumb('Contabilizado')">
                <div flex layout="row">
                  Contabilizado
                  <span flex></span>
                </div>
              </md-button>

              <md-button ng-hide="_pagar" class="md-button-toggle" ng-href="#/pagar"
                ng-class="{'active': routebreadcrumb === 'Contas a Pagar'}" ng-click="addBreadcrumb('Contas a Pagar')">
                <div flex layout="row">
                  Contas a Pagar
                  <span flex></span>
                </div>
              </md-button>

              <md-button ng-hide="_receber" class="md-button-toggle" ng-href="#/receber"
                ng-class="{'active': routebreadcrumb === 'Contas a Receber'}"
                ng-click="addBreadcrumb('Contas a Receber')">
                <div flex layout="row">
                  Contas a Receber
                  <span flex></span>
                </div>
              </md-button>


              <md-button ng-hide="_transferencias" class="md-button-toggle" ng-href="#/Transferencias"
                ng-class="{'active': routebreadcrumb === 'Transferencias'}" ng-click="addBreadcrumb('Transferencias')">
                <div flex layout="row">
                  transferências
                  <span flex></span>
                </div>
              </md-button>



            </li>


          </ul>

        </div>

        <div ng-hide="HideFinanceiro">
          <header ng-click="HiddeMenuHideFinanceiroRelatorios()">
            <h2>RELATORIOS</h2>
            <img src="/assets/images/icons/dashicons_arrow-down.svg" alt="IconMenu">
          </header>

          <ul class='docs-menu' ng-hide="HideFinanceiroRelatorios" style="padding-left: 20px;">
            <li class="parent-list-item">



              <md-button ng-hide="_relatorio_centrocusto" class="md-button-toggle" ng-href="#/relatorio-centrocusto"
                ng-class="{'active': routebreadcrumb === 'CentroCusto'}" ng-click="addBreadcrumb('CentroCusto')">
                <div flex layout="row">
                  Centro de Custos
                  <span flex></span>
                </div>
              </md-button>
              <md-button ng-hide="_relatorio_contabilizados" class="md-button-toggle"
                ng-href="#/relatorio-contabilizados"
                ng-class="{'active': routebreadcrumb === 'Relatório Contabilizados'}"
                ng-click="addBreadcrumb('Relatório Contabilizados')">
                <div flex layout="row">
                  Contabilizados
                  <span flex></span>
                </div>
              </md-button>
              <md-button ng-hide="_conferencia_recebimentos" class="md-button-toggle" ng-href="#/relatorio-conferencia-recebimentos"
                ng-class="{'active': routebreadcrumb === 'Conferência Recebimentos'}" ng-click="addBreadcrumb('Conferência Recebimentos')">
                <div flex layout="row">
                  Conferência Recebimentos
                  <span flex></span>
                </div>
              </md-button>
              <md-button ng-hide="_fluxo_caixa" class="md-button-toggle" ng-href="#/fluxo-caixa"
                ng-class="{'active': routebreadcrumb === 'Fluxo de Caixa'}" ng-click="addBreadcrumb('Fluxo de Caixa')">
                <div flex layout="row">
                  Fluxo de Caixa
                  <span flex></span>
                </div>
              </md-button>

              <md-button ng-hide="_gerencial" class="md-button-toggle" ng-href="#/Gerencial"
              ng-class="{'active': routebreadcrumb === 'Gerencial'}" ng-click="addBreadcrumb('Gerencial')">
              <div flex layout="row">
                Gerencial
                <span flex></span>
              </div>
            </md-button>

            <md-button ng-hide="_gerencial_apreensoes" class="md-button-toggle" ng-href="#/gerencial-apreensoes"
              ng-class="{'active': routebreadcrumb === 'Gerencial Apreensões'}" ng-click="addBreadcrumb('Gerencial Apreensões')">
              <div flex layout="row">
                Gerencial Apreensões
                <span flex></span>
              </div>
            </md-button>

            <md-button  ng-hide="_gerencial_liberacoes" class="md-button-toggle"
            ng-href="#/gerencial-liberacoes" ng-class="{'active': routebreadcrumb === 'Gerencial Liberações'}"

              ng-click="addBreadcrumb('Gerencial Liberações')">
              <div flex layout="row">
                Gerencial Liberações
                <span flex></span>
              </div>
            </md-button>


          <md-button  ng-hide="_liberacoes_forma_recebimento" class="md-button-toggle"
          ng-href="#/relatorio-liberacoes-recebimento" ng-class="{'active': routebreadcrumb === 'Liberações Forma Recebimento
          '}"

            ng-click="addBreadcrumb('Liberações Forma Recebimento
            ')">
            <div flex layout="row">
              Liberações Recebimento
              <span flex></span>
            </div>
          </md-button>

          <md-button ng-hide="_relatorio_pagos" class="md-button-toggle" ng-href="#/relatorio-pagos"
                ng-class="{'active': routebreadcrumb === 'Pagos'}" ng-click="addBreadcrumb('Pagos')">
                <div flex layout="row">
                  Pagos
                  <span flex></span>
                </div>
              </md-button>
              
              <md-button ng-hide="_relatorio_receitas" class="md-button-toggle" ng-href="#/relatorio-receitas"
                ng-class="{'active': routebreadcrumb === 'Receitas'}" ng-click="addBreadcrumb('Receitas')">
                <div flex layout="row">
                  Receitas
                  <span flex></span>
                </div>
              </md-button>

            </li>
          </ul>

        </div>



      </div>

      <div class="RELATORIOS">
        <header ng-click="HiddeMenuHideRelatorios()">
          <h1>RELATORIOS</h1>
          <img src="/assets/images/icons/dashicons_arrow-down.svg" alt="IconMenu">
        </header>

        <div class="CadastroContent" ng-hide="HideRelatorios">
          <ul class="docs-menu">
            <li class="parent-list-item">

              <md-button ng-hide="_relatorio_apreensoes" class="md-button-toggle" ng-href="#/relatorio-apreensoes"
                ng-class="{'active': routebreadcrumb === 'Apreensões'}" ng-click="addBreadcrumb('Apreensões')">
                <div flex layout="row">
                  Apreensões
                  <span flex></span>
                </div>
              </md-button>

              <md-button ng-hide="_comissao_motorista" class="md-button-toggle" ng-href="#/comissao-motoristas"
                ng-class="{'active': routebreadcrumb === 'Comissão Motoristas'}" ng-click="addBreadcrumb('Comissão Motoristas')">
                <div flex layout="row">
                  Comissão Motoristas
                  <span flex></span>
                </div>
              </md-button>

              <md-button ng-hide="_documentos_validade" class="md-button-toggle" ng-href="#/documentos-validade"
                ng-class="{'active': routebreadcrumb === 'Documentos Validade'}"
                ng-click="addBreadcrumb('Documentos Validade')">
                <div flex layout="row">
                  Documentos Validade
                  <span flex></span>
                </div>
              </md-button>

              <md-button ng-hide="_relatorio_estoque" class="md-button-toggle" ng-href="#/relatorio-estoque"
                ng-class="{'active': routebreadcrumb === 'Estoque'}" ng-click="addBreadcrumb('Estoque')">
                <div flex layout="row">
                  Estoque
                  <span flex></span>
                </div>
              </md-button>

              <md-button ng-hide="_relatorio_estoque_real" class="md-button-toggle" ng-href="#/relatorio-estoque-real"
                ng-class="{'active': routebreadcrumb === 'Estoque Real'}" ng-click="addBreadcrumb('Estoque Real')">
                <div flex layout="row">
                  Estoque Real
                  <span flex></span>
                </div>
              </md-button>

              <md-button ng-hide="_fechamento_motoristas" class="md-button-toggle" ng-href="#/relatorio-fechamento-motoristas"
                ng-class="{'active': routebreadcrumb === 'Fechamento Motoristas'}" ng-click="addBreadcrumb('Fechamento Motoristas')">
                <div flex layout="row">
                  Fechamento Motoristas
                  <span flex></span>
                </div>
              </md-button>

              <md-button ng-hide="_relatorio_liberacoes" class="md-button-toggle" ng-href="#/relatorio-liberacoes"
                ng-class="{'active': routebreadcrumb === 'Liberações'}" ng-click="addBreadcrumb('Liberações')">
                <div flex layout="row">
                  Liberações
                  <span flex></span>
                </div>
              </md-button>

              <md-button ng-hide="_relatorio_liberacoes_seccional" class="md-button-toggle"
                ng-href="#/relatorio-liberacoes-seccional"
                ng-class="{'active': routebreadcrumb === 'Liberações Seccional'}"
                ng-click="addBreadcrumb('Liberações Seccional')">
                <div flex layout="row">
                  Liberações Seccional
                  <span flex></span>
                </div>
              </md-button>

              <md-button ng-hide="_ncv_incompletos" class="md-button-toggle"
              ng-href="#/relatorio-ncv-incompleto"
              ng-class="{'active': routebreadcrumb === 'NCV Incompletos'}"
              ng-click="addBreadcrumb('NCV Incompletos')">
              <div flex layout="row">
                NCV Incompletos
                <span flex></span>
              </div>
              </md-button>

              <md-button ng-hide="_pesquisa_geral" class="md-button-toggle" ng-href="#/pesquisa-geral"
                ng-class="{'active': routebreadcrumb === 'Pesquisa Geral'}" ng-click="addBreadcrumb('Pesquisa Geral')">
                <div flex layout="row">
                  Pesquisa Geral
                  <span flex></span>
                </div>
              </md-button>

              <md-button ng-hide="_relatorio_conferentes" class="md-button-toggle" ng-href="#/relatorio-conferentes"
                ng-class="{'active': routebreadcrumb === 'Resumo Conferentes'}"
                ng-click="addBreadcrumb('Resumo Conferentes')">
                <div flex layout="row">
                  Resumo Conferentes
                  <span flex></span>
                </div>
              </md-button>


              <md-button ng-hide="_seccional" class="md-button-toggle" ng-href="#/seccional"
                ng-class="{'active': routebreadcrumb === 'Seccional'}" ng-click="addBreadcrumb('Seccional')">
                <div flex layout="row">
                  Seccional
                  <span flex></span>
                </div>
              </md-button>


              <md-button ng-hide="_relatorio_transferencias_veiculos" class="md-button-toggle" ng-href="#/relatorio-transferencias-veiculos"
                ng-class="{'active': routebreadcrumb === 'Transferências Veículos'}" ng-click="addBreadcrumb('Transferências Veículos')">
                <div flex layout="row">
                  Transferências Veículos
                  <span flex></span>
                </div>
              </md-button>


              <md-button ng-hide="_veiculos" class="md-button-toggle" ng-href="#/relatorio-veiculos"
                ng-class="{'active': routebreadcrumb === 'Veículos'}" ng-click="addBreadcrumb('Veículos')">
                <div flex layout="row">
                  Veículos
                  <span flex></span>
                </div>
              </md-button>


              <md-button ng-hide="_veiculos_detalhes" class="md-button-toggle" ng-href="#/relatorio-veiculos-detalhes"
                ng-class="{'active': routebreadcrumb === 'Veículos Detalhes'}" ng-click="addBreadcrumb('Veículos Detalhes')">
                <div flex layout="row">
                  Veículos Detalhes
                  <span flex></span>
                </div>
              </md-button>

              <md-button ng-hide="_gerencial_medias" class="md-button-toggle" ng-href="#/gerencial-media-apreensoes"
                ng-class="{'active': routebreadcrumb === 'Médias Estoque'}" ng-click="addBreadcrumb('Médias Estoque')">
                <div flex layout="row">
                  Médias Estoque
                  <span flex></span>
                </div>
              </md-button>

            </li>
          </ul>
        </div>



      </div>


      <ul class="docs-menu">
        <li class="parent-list-item">
          <md-button class="md-button-toggle" ng-class="{'active': routebreadcrumb === 'Sair'}" ng-click="sairDoApp()">
            <div flex layout="row">
              Sair
              <span flex></span>
            </div>
          </md-button>
        </li>
      </ul>


      <ul class="docs-menu">
          <li class="parent-list-item">
            <md-button class="md-button-toggle" ng-class="{'active': routebreadcrumb === 'Suporte'}" ng-click="suporteTi()">
              <div flex layout="row">
                SUPORTE TI
                <span flex></span>
              </div>
            </md-button>
          </li>
      </ul>

    </md-content>

  </md-sidenav>


  <div layout="column" tabIndex="-1" role="main" flex>
    <md-toolbar class="md-whiteframe-glow-z1 site-content-toolbar">
      <div class="md-toolbar-tools docs-toolbar-tools" tabIndex="-1">
        <md-button class="md-icon-button" ng-click="openMenu()" aria-label="Abrir ou Fechar Menu">
          <md-icon aria-label="Abrir ou Fechar Menu">dehaze</md-icon>
        </md-button>

        <div layout="row" flex class="fill-height">
          <!-- breadcrumbs -->
          <h2 class="md-toolbar-item md-breadcrumb md-headline">
            <span class="md-breadcrumb-page">{{routebreadcrumb}}</span>
          </h2>
          <!-- breadcrumbs -->

          <span style="display:flex ;justify-content: center; flex: 1;">


            <div  ng-show="MessagaDocuments  " style="margin-right: 105px;text-align: center;">
             <a href="/#/documentos-vencidos" target="_blanck" style="color: #F26521;">
                Documentos Vencidos !
             </a>
            </div>


            <div  ng-show="MessageConferente">
              <a href="/#/Conferente-incompletos" target="_blanck" style="color: red; margin-right: 50px;">
                  Conferente Incompleto
              </a>
             </div>

            <div  ng-show="mensagemTermoPendencias">
              <a href="/#/termo-pendencias" style="margin-left: 50px; color: red;" target="_blanck">
                  Termo Pendências
              </a>
            </div>
 
          </span>
          
          <!-- use up the empty space -->
          <h4 class="md-username-menu"></h4>
          <div class="md-toolbar-item" layout="row">
            <md-menu>
              <md-button aria-label="Abrir Menu do usuário" class="md-icon-button"
                ng-click="openUserMenu($mdMenu.open, $event)">
                <md-icon md-menu-origin>more_vert</md-icon>
              </md-button>
              <md-menu-content width="4">
                <md-menu-item>
                  <md-button ng-href="#/usuario-editar">
                    <md-icon md-menu-align-target>perm_identity</md-icon>
                    Meus Dados
                  </md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button ng-click="alterarSenha()" ng-href="#/alterar-senha.html">
                    <md-icon md-menu-align-target>edit</md-icon>
                    Alterar Senha
                  </md-button>
                </md-menu-item>
                <md-menu-divider></md-menu-divider>
                <md-menu-item>
                  <md-button ng-click="sairDoApp()">
                    <md-icon>power_settings_new</md-icon>
                    Sair
                  </md-button>
                </md-menu-item>
              </md-menu-content>
            </md-menu>

          </div>
        </div>
      </div>

    </md-toolbar>

    <md-content md-scroll-y layout="column" flex>
      <div ng-view flex="noshrink" class="docs-ng-view"></div>

      <!-- Footer -->

      <div layout="row" flex="noshrink" layout-align="center center">
        <div id="license-footer" flex>
          by Benicio Paiva & Rei dos Patios &copy;2023.
        </div>
      </div>

      <md-button class="md-fab md-fab-bottom-right docs-scroll-fab scrolling" docs-scroll-class="scrolling"
        ng-click="scrollTop()" aria-label="Voltar ao Topo da página">
        <md-tooltip md-direction="top">Voltar ao Topo</md-tooltip>
        <md-icon>keyboard_arrow_up</md-icon>
      </md-button>



      <!-- /Footer -->
    </md-content>
  </div>
  <!--<script type="text/ng-template" id="alterar-senha">
    <md-dialog style="width:800px;height:500px; ">
        <md-dialog-content>

            <md-content layout-padding>



              <md-input-container class="md-block">
                <label>Informe a senha nova:</label>
                <input ng-required="true" type="password" name="senha" ng-model="usuario.senha" />
                <div ng-messages="usuarioEditForm.senha.$error" role="alert">
                  <div ng-message-exp="['required']">
                    Campo Obrigatório.
                  </div>
                </div>
                <div>
            </md-input-container>

            <md-input-container class="md-block">
              <label>Confirme a senha:</label>
              <input ng-required="true" type="password" name="senha" ng-model="usuario.senha" />
              <div ng-messages="usuarioEditForm.senha.$error" role="alert">
                <div ng-message-exp="['required']">
                  Campo Obrigatório.
                </div>
              </div>
              <div>
          </md-input-container>
            </md-content>
        </md-dialog-content>
        <md-dialog-actions>
            <md-button class="md-raised md-primary" ng-click="cancel()">Cancelar</md-button>
            <md-button class="md-raised"md-colors="{background:'teal'}" ng-click="saveAndClose()">Gravar</md-button>
        </md-dialog-actions>
      </md-dialog>
    </script>-->



  <script type="text/ng-template" id="alterar-senha.html">
      <md-dialog style="min-width:400px;height:max-content;">
          <md-dialog-content>

          <md-content layout-padding>
            <form name="alterarSenha">

              <h3 style="text-align:center; padding-bottom:8px;">Alterar senha</h2>

            <md-input-container class="md-block">
              <label>Informe a senha nova:</label>
              <input ng-required="true" type="password" name="senhaNova" ng-model="alterar_senha.senhaNova"/>
              <div ng-messages="alterarSenha.senhaNova.$error" role="alert">
                <div ng-message-exp="['required']">
                  Campo Obrigatório.
                </div>
              <div ng-if="alterarSenha.senhaNova.lenght < 5 ">A senha deve ter no minimo 5 digitos!!</div>

              </div>

          </md-input-container>

          <md-input-container class="md-block">
            <label>Confirme a senha:</label>
            <input ng-required="true" type="password" name="senhaNova1" ng-model="alterar_senha.senhaNova1"/>
            <div ng-messages="alterarSenhaForm.senhaNova1.$error" role="alert">
              <div ng-message-exp="['required']">
                Campo Obrigatório.
              </div>
            </div>
            <div ng-if="alterarSenhaForm.senhaNova1.$invalid && alterarSenhaForm.senhaNova1.$touched" style="color:red">

              <div ng-if="alterar_senha.senhaNova != alterar_senha.senhaNova1">As senhas são diferentes!!</div>
            </div>

         </md-input-container>

        </md-content>
      </md-dialog-content>

      <md-dialog-actions style="border:none;">
          <md-button class="md-raised md-primary" ng-click="cancel()" ng-if="isFirstAccess == 'false'">Cancelar</md-button>
          <md-button class="md-raised"md-colors="{background:'teal'}" ng-click="saveAndClose()">Gravar</md-button>
      </md-dialog-actions>
    </form>

    </md-dialog>
  </script>



  <!-- Angular Material requires Angular.js Libraries -->
  <script src="assets/js/angular/js/angular.min.js"></script>
  <script src="assets/js/angular/js/config.js"></script>
  <script src="assets/js/angular/js/angular-route.min.js"></script>
  <script src="assets/js/angular/js/angular-locale_pt-br.js"></script>
  <script src="assets/js/angular/js/angular-animate.min.js"></script>
  <script src="assets/js/angular/js/angular-aria.min.js"></script>
  <script src="assets/js/angular/js/angular-messages.min.js"></script>
  <script src="assets/js/angular/js/angular-sanitize.min.js"></script>
  <script src="assets/js/angular/js/angular-viacep.min.js"></script>


  <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/22.1.3/css/dx.common.css" />
  <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/22.1.3/css/dx.light.css" />
  <script src="https://cdn3.devexpress.com/jslib/22.1.3/js/dx.all.js"></script>

  <!--
  <script src="assets/js/angular/js/angular-pdf.js"></script>
  <script src="assets/js/angular/js/angular-pdfjs-viewer/bower_components/pdf.js-viewer/pdf.js"></script>
  <script src="assets/js/angular/js/angular-pdfjs-viewer/dist/angular-pdfjs-viewer.js"></script>
  <link rel="stylesheet" href="assets/js/angular/js/angular-pdfjs-viewer/bower_components/pdf.js-viewer/viewer.css">
-->

  <script src="//mozilla.github.io/pdf.js/build/pdf.js"></script>

  <!-- loading bar -->
  <script type='text/javascript' src='assets/js/angular/js/angular_loadingbar/loading-bar.min.js'></script>

  <!-- Angular Material Library -->
  <script src="assets/js/angular/js/angular-material.min.js"></script>

  <!-- Tables mdDataTable-->
  <script src="assets/js/angular/js/angular_md_data_table/lodash.min.js"></script>
  <script src="assets/js/angular/js/angular_md_data_table/angular-material-icons.min.js"></script>
  <script src="assets/js/angular/js/angular_md_data_table/md-data-table-templates.js"></script>
  <script src="assets/js/angular/js/angular_md_data_table/md-data-table.js"></script>

  <!-- NgFileUpload-->
  <script src="assets/js/angular/js/angular_ng_file_upload/ng-file-upload-shim.min.js"></script>
  <script src="assets/js/angular/js/angular_ng_file_upload/ng-file-upload.min.js"></script>

  <script src="assets/js/angular/js/ngmask.min.js"></script>
  <script src="assets/js/angular/js/angular-input-masks-standalone.min.js"></script>
  <script src="assets/js/angular/js/aws-sdk.min.js"></script>
  <script src="assets/js/angular/js/alasql.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.2/xlsx.core.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/dom-to-image/2.6.0/dom-to-image.min.js"></script>
 <script src="assets/js/angular/js/jspdf.min.js"></script>
  <script src="assets/js/angular/js/jspdf.plugin.autotable.min.js"></script>
  <script src="assets/js/angular/js/html2canvas.js"></script>

  <!-- mapa -->
  <script src="assets/js/angular/js/leaflet/leaflet.js"></script>

  <script src="assets/js/angular/js/app.js"></script>
  <script src="assets/js/angular/js/ncv-module.js" type="text/javascript"></script>
  <script src="assets/js/angular/js/relatorio-module.js" type="text/javascript"></script>
  <script src="assets/js/angular/js/autoridades-novo.js"></script>
  <script src="assets/js/angular/js/documentos-vencidos.js"></script>

  <script src="assets/js/angular/js/previsao.js"></script>
  <script src="assets/js/angular/js/previsao-novo.js"></script>
  <script src="assets/js/angular/js/previsao-editar.js"></script>
  
  <script src="assets/js/angular/js/empresas-reboques.js"></script>
  <script src="assets/js/angular/js/empresas-reboques-novo.js"></script>
  <script src="assets/js/angular/js/empresas-reboques-editar.js"></script>

  <!-- CADASTRO => VEICULOS - imports -->
  <script src="assets/js/angular/js/veiculos.js"></script>
  <script src="assets/js/angular/js/veiculos-novo.js"></script>
  <script src="assets/js/angular/js/veiculos-editar.js"></script>

   <!-- LOGISTICA => CONTROLE TRAFEGO - import -->
   <script src="assets/js/angular/js/controle-trafego.js"></script>

  <!-- GERENCIAL => Comercial Apreensoes - import -->
  <script src="assets/js/angular/js/comercial-apreensoes.js"></script>

  <!-- CADASTRO => EMPRESAS - imports -->
  <script src="assets/js/angular/js/empresas.js"></script>
  <script src="assets/js/angular/js/empresas-novo.js"></script>
  <script src="assets/js/angular/js/empresas-editar.js"></script>

  <script src="assets/js/angular/js/motoristas.js"></script>
  <script src="assets/js/angular/js/motoristas-novo.js"></script>
  <script src="assets/js/angular/js/motoristas-editar.js"></script>
  <script src="assets/js/angular/js/patio-upload.js"></script>
  <script src="assets/js/angular/js/patio-documentos.js"></script>
  <script src="assets/js/angular/js/patios-novo.js"></script>
  <script src="assets/js/angular/js/Patio-editar.module.js"></script>

  <!-- CADASTRO => ADVOGADOS - imports -->
  <script src="assets/js/angular/js/advogados.js"></script>
  <script src="assets/js/angular/js/advogados-novo.js"></script>
  <script src="assets/js/angular/js/advogados-editar.js"></script>

  <script src="assets/js/angular/js/reboques-novo.js"></script>
  <script src="assets/js/angular/js/usuarios-novo.js"></script>
  <script src="assets/js/angular/js/usuarios-editar.module.js"></script>

  <script src="assets/js/angular/js/resumo-diario.js"></script>

  <script src="assets/js/angular/js/ncv-novo.js"></script>
  <script src="assets/js/angular/js/clientes-novo.js"></script>
  <script src="assets/js/angular/js/fornecedores-novo.js"></script>

  <!-- RELATORIOS - imports -->
  <script src="assets/js/angular/js/relatorios/relatorio-liberacoes.js"></script>
  <script src="assets/js/angular/js/relatorios/gerencial-apreensoes.js"></script>
  <script src="assets/js/angular/js/relatorios/gerencial-media-apreensoes.js"></script>
  <script src="assets/js/angular/js/relatorios/gerencial-liberacoes.js"></script>
  <script src="assets/js/angular/js/relatorios/relatorio-transferencias-veiculos.js"></script>
  <script src="assets/js/angular/js/relatorios/relatorio-estoque-real.js"></script>
  <script src="assets/js/angular/js/relatorios/relatorio-veiculos-detalhes.js"></script>
  <script src="assets/js/angular/js/relatorios/relatorio-receitas.js"></script>
  <script src="assets/js/angular/js/relatorios/relatorio-apreensoes.js"></script>
  <script src="assets/js/angular/js/relatorios/relatorio-conferentes.js"></script>
  <script src="assets/js/angular/js/relatorios/relatorio-contabilizados.js"></script>
  <script src="assets/js/angular/js/relatorios/relatorio-pagos.js"></script>
  <script src="assets/js/angular/js/relatorios/documentos-validade.js"></script>
  <script src="assets/js/angular/js/relatorios/fechamento-motoristas.js"></script>

  <script src="assets/js/angular/js/funcionarios.js"></script>
  <script src="assets/js/angular/js/funcionarios-novo.js"></script>
  <script src="assets/js/angular/js/funcionarios-editar.js"></script>
  <script src="assets/js/angular/js/ncv-editar.js"></script>
  <script src="assets/js/angular/js/ncv.module.js"></script>
  <script src="assets/js/angular/js/relatorios/relatorio-conferencia-recebimentos.js"></script>

  <script src="assets/js/angular/js/caixa-novo.js"></script>
  <script src="assets/js/angular/js/motivo-apreensao-novo.js"></script>
  <script src="assets/js/angular/js/motivo-apreensao-editar.js"></script>
  <script src="assets/js/angular/js/grupos-novo.js"></script>
  <script src="assets/js/angular/js/contas-novo.js"></script>
  <script src="assets/js/angular/js/categorias-novo.js"></script>
  <script src="assets/js/angular/js/tipos-recebimento-novo.js"></script>
  <script src="assets/js/angular/js/tarifas-novo.js"></script>
  <script src="assets/js/angular/js/tipos-veiculo-novo.js"></script>

  <!-- Financeiro => Cadastros => Centro de Cutos - imports -->
  <script src="assets/js/angular/js/centro-custos.js"></script>
  <script src="assets/js/angular/js/centro-custos-novo.js"></script>
  <script src="assets/js/angular/js/centro-custos-editar.js"></script>


  <!-- Pré Leilão imports -->

  <script src="assets/js/angular/js/juridico-editar.js"></script>
  <script src="/assets/js/angular/js/juridico.js"></script>

  <script src="/assets/js/angular/js/consultaDetran.js"></script>
  <script src="/assets/js/angular/js/consultaDenatran.js"></script>

  <script src="/assets/js/angular/js/consultaDetranLeilao.js"></script>

  <!-- Comissão Motoristas Leilão imports -->

  <script src="assets/js/angular/js/comissao-motoristas.module.js"></script>

  <script src="/assets/js/angular/js/painelChamados.js"></script>

  <!-- Leilao imports -->
  <script src="/assets/js/angular/js/Leilao-Editar.module.js"></script>
  <script src="/assets/js/angular/js/Leilao-novo.module.js"></script>
  <script src="/assets/js/angular/js/Leilao.module.js"></script>


  <!-- Separação Leilão Improts -->
  <script src="/assets/js/angular/js/separacaoLeilao.module.js"></script>
  <script src="/assets/js/angular/js/fotos-separacao-leilao.module.js"></script>

  <!-- NCVS Incompletos -->
  <script src="/assets/js/angular/js/conferente-incompletos.module.js"></script>

  <!-- Termo de Credenciamento Pendencias Imports-->
  <script src="/assets/js/angular/js/termo-pendencias.js"></script>

  <!-- Transferencia de veiculos Imports -->
  <script src="/assets/js/angular/js/transferencia-veiculos.js"></script>
  <script src="/assets/js/angular/js/agendamento-veiculos.js"></script>

  <!-- Dados DETRAN Imports -->
  <script src="/assets/js/angular/js/dados-detran.js"></script>

   <!-- Dados Denatran Imports -->
   <script src="/assets/js/angular/js/dados-denatran.module.js"></script>

  <!-- Importação de veiculos Imports -->
  <script src="/assets/js/angular/js/importar-veiculos.js"></script>

  <!-- Contas a Receber Imports -->
  <script src="/assets/js/angular/js/receber.module.js"></script>
  <script src="/assets/js/angular/js/receber-editar.module.js"></script>
  <script src="assets/js/angular/js/receber-novo.js"></script>
  <script src="/assets/js/angular/js/receber-baixar.module.js"></script>
  <script src="/assets/js/angular/js/receber-cancelar.module.js"></script>

  <!-- Orçamento Imports -->

  <script src="/assets/js/angular/js/Compras/Orcamento/orcamento.module.js"></script>

  <!-- Requisições Imports -->
  <script src="/assets/js/angular/js/Compras/Requisicao/requisicao-novo.module.js"></script>
  <script src="/assets/js/angular/js/Compras/Requisicao/requisicao.module.js"></script>

   <!-- Chamados  Imports -->
  <script src="/assets/js/angular/js/chamados.module.js"></script>
  <script src="/assets/js/angular/js/chamados-editar.module.js"></script>


  <!-- Contas a Pagar Imports -->

  <script src="assets/js/angular/js/pagar-novo.js"></script>
  <script src="assets/js/angular/js/pagar-editar.js"></script>
  <script src="assets/js/angular/js/pagar-baixar.js"></script>
  <script src="assets/js/angular/js/pagar-cancelar.js"></script>
  <script src="/assets/js/angular/js/pagarCtrl.module.js"></script>

  <!-- Financeiro => Lancamentos => Contabilizado - Import -->
  <script src="/assets/js/angular/js/contabilizado.js"></script>

  <!-- Transferencias Imports -->
  <script src="/assets/js/angular/js/Transferencias-editar.module.js"></script>
  <script src="/assets/js/angular/js/Transferencias-novo.module.js"></script>
  <script src="/assets/js/angular/js/Transferencias.module.js"></script>

  <!-- Financeiro Gerencial Imports -->
  <script src="/assets/js/angular/js/Financeiro_Gerencial/Gerencial.module.js"></script>
  <script src="/assets/js/angular/js/Financeiro_Gerencial/Gerencial_editar.module.js"></script>
  <script src="/assets/js/angular/js/Financeiro_Gerencial/Gerencial_novo.module.js"></script>

<script src="/assets/js/angular/js/classificacao-leilao/index.module.js"></script>
<script src="/assets/js/angular/js/classificacao-leilao/editar.module.js"></script>
<script src="/assets/js/angular/js/classificacao-leilao/novo.module.js"></script>


  <script src="/assets/js/angular/js/relatorios/liberacoes-forma-recebimento.js"></script>

  <!--Grupos Pátios imports-->
  <script src="/assets/js/angular/js/Grupos Patio/gruposPatios-editar.module.js"></script>
  <script src="/assets/js/angular/js/Grupos Patio/gruposPatios-novo.module.js"></script>
  <script src="/assets/js/angular/js/Grupos Patio/gruposPatios.module.js"></script>

  <!--Relatorio NCVS Incompletos imports-->
  <script src="/assets/js/angular/js/relatorios/ncv-incompletos.module.js"></script>

  <!-- CSS only -->

  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <!-- JavaScript Bundle with Popper -->
</body>
