<div id="Modal" ng-show="ShowMessage">
    <p>{{message}}</p>

</div>

<link rel="stylesheet" href="/assets/css/CustomModal.css">

<link rel="stylesheet" href="/assets/css/customTable.css">


<div class="doc-demo-content doc-content">
    <link rel="stylesheet" href="/assets/css/CustomForms.css">

    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="ENCAMINHAR ADVOGADO" ng-disabled="usuario !== 'admin'">
            <md-content layout-xs="column" layout-gt-sm="row" layout-sm="column">
                <md-card layout-padding flex-gt-sm layout="column" flex-order="1" flex-order-gt-sm="1">
                    <md-subheader class="md-no-sticky">FILTRAR DADOS</md-subheader>
                    <md-divider></md-divider>
                    <form name="editForm" ng-submit="editForm.$valid && formEdit(advogado)" novalidate="novalidate">

                        <div layout-gt-sm="row">

                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Advogado</label>
                                <md-select placeholder="Seleção Advogado" style="width: 50%" name="advogado"
                                    ng-model="advogado.id_advogado">
                                    <md-option ng-repeat="advogado in advogados" ng-value="advogado.id">
                                        {{advogado.nome}}
                                    </md-option>
                                </md-select>
                            </md-input-container>


                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Tipo</label>
                                <md-select placeholder="Tipo" style="width: 500px; margin-right: 10px"
                                    name="advogado" ng-model="advogado.tipo">
                                    <md-option ng-repeat="Option in OptionsType" ng-value="Option">
                                        {{Option}}
                                    </md-option>
                                </md-select>
                            </md-input-container>

                        </div>

                        <div layout-gt-sm="row">

                            <md-input-container style="width: 20vw; ">
                                <label>DIGITE NCV / PLACA DO VEÍCULO </label>
                                <input type="text" name="ncv_placa" ng-model="advogado.ncv" placeholder="NCV / PLACA" />
                            </md-input-container>


                            <md-button class="md-raised" md-colors="{background:'teal'}" md-colors-watch="false"
                                style="height: 15px;margin-left: 10px; margin-top: 10px;"
                                ng-click="buscaNcv()">ADICIONAR</md-button>

                            <md-button class="md-raised" style="height: 15px;margin-left: 10px; margin-top: 10px;"
                                aria-label="Limpar" ng-click="limparPesquisaNcv()">LIMPAR</md-button>

                        </div>


                    </form>

                </md-card>
            </md-content>

            <section class="md-whiteframe-z1 " ng-cloak layout="column">

                <md-toolbar class="md-theme-light">
                    <h2 class="md-toolbar-tools">
                        <span>{{veiculosList.length}} Registros</span>
                        <span flex></span>
                        <md-button class="md-raised" md-colors="{background:'teal'}" md-colors-watch="false"
                            ng-disabled="false" ng-click="marcarDesmarcarTodos(veiculosList)">
                            {{nomeBotao}}
                        </md-button>

                        <md-button class="md-raised" ng-click="gerarPDF()" aria-label="PDF">PDF</md-button>
                        <md-button class="md-raised" ng-click="gerarPlanilha()" aria-label="Excel">Excel
                        </md-button>
                    </h2>
                </md-toolbar>


                <md-content class="Body">

                    <md-card>
                        <table>

                            <tr>
                                <th>NCV</th>
                                <th>Placa</th>
                                <th>Marca/Modelo</th>
                                <th>Tipo</th>
                                <th>Status</th>
                                <th>Situação</th>
                                <th>Chassi</th>
                                <th>Ano</th>
                                <th>Cor</th>
                                <th>Selecionar</th>

                            </tr>
                            <tr ng-repeat="Dado in veiculosList" class="Result">
                                <td>{{Dado.ncv}}</td>
                                <td>{{Dado.placa}}</td>
                                <td>{{Dado.marca_modelo}}</td>
                                <td>{{Dado.tipo}}</td>
                                <td>{{Dado.status}}</td>
                                <td>{{Dado.situacao}}</td>
                                <td>{{Dado.chassi}}</td>
                                <td>{{Dado.ano}}</td>
                                <td>{{Dado.cor}}</td>
                                <td>
                                    <input type="checkbox" name="selecionado" aria-label="selecionado"
                                        ng-model="Dado.selecionado">
                                </td>

                            </tr>

                        </table>

                        <md-button type="submit" class="md-raised" md-colors="{background:'teal'}"
                            md-colors-watch="false" ng-click="gravarSelecionados(veiculosList)" ng-disabled="false">
                            Gravar Selecionados
                        </md-button>

                    </md-card>
                </md-content>

            </section>

        </md-tab>





        <md-tab label="LISTAR ENCAMINHADOS">

            <md-content layout-xs="column" layout-gt-sm="row" layout-sm="column">
                <md-card layout-padding flex-gt-sm layout="column" flex-order="1" flex-order-gt-sm="1">
                    <md-subheader class="md-no-sticky">FILTRAR DADOS</md-subheader>
                    <md-divider></md-divider>
                    <form name="editForm" ng-submit="editForm.$valid && formEdit(relatorio)" novalidate="novalidate">

                        <div layout-gt-sm="row">

                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Advogado</label>
                                <md-select placeholder="Seleção Advogado" style="width: 500px; margin-right: 10px"
                                    name="advogado" ng-model="relatorio.id_advogado">
                                    <md-option ng-repeat="advogado in advogados" ng-value="advogado.id">
                                        {{advogado.nome}}
                                    </md-option>
                                </md-select>
                            </md-input-container>

                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Data Inicial</label>
                                <md-datepicker name="dataInicio" ng-model="relatorio.data_inicial"
                                    md-placeholder="Data Inicial">
                                </md-datepicker>

                            </md-input-container>

                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Data Final</label>
                                <md-datepicker name="dataFinal" ng-model="relatorio.data_final"
                                    md-placeholder="Data Final">
                                </md-datepicker>

                        </div>


                        <div>
                            <md-button style='background-color: blue;color: white;' class="md-raised"
                                ng-click="buscaDadosRelatorio()" style="height: 30px;margin-left: 20px;">Filtrar
                            </md-button>

                            <md-button class="md-raised" style="height: 15px;margin-left: 10px; margin-top: 10px;"
                                aria-label="Limpar" ng-click="limpar()">LIMPAR
                            </md-button>

                        </div>

                    </form>

                </md-card>
            </md-content>

            <section class="md-whiteframe-z1 " ng-cloak layout="column">

                <md-toolbar class="md-theme-light">
                    <h2 class="md-toolbar-tools">
                        <span>{{relatorioList.length}} Registros</span>

                        <span flex></span>

                        <md-button class="md-raised" ng-click="gerarPDFListar()" aria-label="PDF">PDF</md-button>
                        <md-button class="md-raised" ng-click="gerarPlanilhaListar()"
                            aria-label="Excel">Excel</md-button>
                    </h2>
                </md-toolbar>

                <md-content class="Body">
                    <md-card>
                        <table>

                            <tr>
                                <th>Patio</th>
                                <th>Destino</th>
                                <th>NCV</th>
                                <th>Placa</th>
                                <th>Marca/Modelo</th>
                                <th>Ano</th>
                                <th>Tipo Apreensão</th>
                                <th>Veiculo</th>
                                <th>Data Envio</th>
                                <th>Editar</th>

                            </tr>
                            <tr ng-repeat="Dados in relatorioList" class="Result">
                                <td>{{Dados.patio}}</td>
                                <td>{{Dados.patio_destino}}</td>
                                <td>{{Dados.ncv}}</td>
                                <td>{{Dados.placa}}</td>
                                <td>{{Dados.marca_modelo}}</td>
                                <td>{{Dados.ano}}</td>
                                <td>{{Dados.tipo}}</td>
                                <td>{{Dados.tipo_veiculo}}</td>
                                <td>{{Dados.data_envio_advogado}}</td>
                                <td ng-click="detalhe(ev,Dados.ncv)"><img src="/assets/images/icons/Edit-icon.svg"
                                        alt=""></td>

                            </tr>
                        </table>

                    </md-card>
                </md-content>

            </section>

        </md-tab>

    </md-tabs>

</div>

</div>