

 <link rel="stylesheet" href="/assets/css/ncvImages.css"> 

<div class="doc-demo-content doc-content">
    <link rel="stylesheet" href="/assets/css/CustomForms.css">

    <md-content flex>
        <md-card layout-padding>
            <form name="editForm" ng-submit="editForm.$valid && gravarNCV(dados)" novalidate="novalidate">

                <md-tabs md-dynamic-height md-border-bottom>


                    <md-tab label="DADOS NCV">
                        <md-content flex style="background: white">
                            <br>

                            <div layout-gt-sm="row">

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>NCV</label>
                                    <input type="text" name="ncv" ng-model="dados.id" ng-readonly="true" />
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Status</label>
                                    <input type="text" name="status" ng-model="dados.status" ng-readonly="true" />
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Tipo de Veiculo</label>
                                    <input type="text" name="tipoveiculo" ng-model="dados.tipo_veiculo" 
                                        ng-readonly="true" />
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Pátio</label>
                                    <input type="text" name="patio" ng-model="dados.nome" 
                                        ng-readonly="true" />
                                </md-input-container>

                            </div>


                            <div layout-gt-sm="row">

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Placa</label>
                                    <input type="text" name="placa" ng-model="dados.placa"
                                        ng-readonly="true" />
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Ano</label>
                                    <input type="text" name="ano" ng-model="dados.ano"
                                        ng-readonly="true" />
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Marca/Modelo</label>
                                    <input type="text" name="marcaModelo" ng-model="dados.marca_modelo"
                                        ng-readonly="true" />
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Cor</label>
                                    <input type="text" name="cor" ng-model="dados.cor" 
                                        ng-readonly="true" />
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>UF da Placa</label>
                                    <input type="text" name="UF da Placa" ng-model="dados.placa_uf" 
                                        ng-readonly="true" />
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Município</label>
                                    <input type="text" name="placa_municipio" ng-model="dados.placa_municipio"
                                        ng-readonly="true" />
                                </md-input-container>

                            </div>


                            <div layout-gt-sm="row">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Chassi</label>
                                    <input type="text" name="chassi" ng-model="dados.chassi" 
                                        ng-readonly="true" />
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Número Motor</label>
                                    <input type="text" name="numero_motor" ng-model="dados.numero_motor"
                                        ng-readonly="true" />
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Tipo Apreensão</label>
                                    <input type="text" name="tipo_apreensao" ng-model="dados.tipo"
                                        ng-readonly="true" />
                                </md-input-container>


                            </div>

                        
                        <div layout-gt-sm="row">

                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Advogado</label>
                                <input type="text" name="Advogado" ng-model="dados.nome_advogado"
                                    ng-readonly="true" />
                            </md-input-container>

                        </div>

                            <div layout-gt-sm="row" style="margin-bottom: 20px;">
                                <!--
                                <md-button class="md-raised md-primary" aria-label="Adicionar"
                                    ng-click="gravarJuridico()" ng-disabled="isDisabled">GRAVAR</md-button>
                                -->
                                <md-button class="md-raised" md-colors="{background:'teal'}" md-colors-watch="false" 
                                    ng-click="consultarDetran()">CONSULTAR DADOS DETRAN</md-button>
                                
                                <md-button class="md-raised" ng-click="fechar()" aria-label="Fechar">FECHAR</md-button>

                            </div>


                        </md-content>
                    </md-tab>





                    <md-tab label="HISTORICO">
                        <br>
                        <md-content flex style="background: white">

                            <div layout-gt-sm="row">
                                <md-input-container class="md-block">
                                    <label>Tipo</label>
                                    <md-select placeholder="Tipo" required ng-required="true" name="tipo"
                                        ng-model="historico.tipo">
                                        <md-option value="E-MAIL">E-MAIL</md-option>
                                        <md-option value="NOTIFICAÇÃO">NOTIFICACAO</md-option>                 
                                        <md-option value="GERAL">GERAL</md-option>
                                    </md-select>
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Descrição</label>
                                    <input ng-required="true" type="text" name="descricao"
                                        ng-model="historico.descricao" 
                                        ng-change="historico.descricao = (historico.descricao | uppercase)" />

                                </md-input-container>
                          
                                <br>                             
                          
                            </div>
                            <br>

                            <div>
                                    
                                <md-button class="md-raised md-primary" aria-label="Adicionar"
                                    ng-click="gravarHistorico()">Gravar</md-button>

                                <md-button class="md-raised" ng-click="limparHistorico()" aria-label="Limpar">Limpar</md-button>

                            </div>
                            <br>

                        </md-content>

                        <section class="md-whiteframe-z1 " ng-cloak layout="column">

                            <mdt-table paginated-rows="{isEnabled: true, rowsPerPageValues: [20, 50, 100]}"
                                animate-sort-icon="true" mdt-row="{
                                       'data': historicoList,
                                       'table-row-id-key': 'id',
                                       'column-keys': [ 'tipo','descricao','usuario','data_hora']
                                    }">

                                <mdt-header-row>
                                    <mdt-column align-rule="left" column-sort="false">Tipo</mdt-column>
                                    <mdt-column align-rule="left" column-sort="false">Descrição</mdt-column>
                                    <mdt-column align-rule="left" column-sort="false">Usuário</mdt-column>
                                    <mdt-column align-rule="left" column-sort="false">Data/Hora</mdt-column>

                                </mdt-header-row>

                            </mdt-table>

                        </section>

                    </md-tab>


                    



                    <md-tab label="DOCUMENTOS">
                        <br>
                        <br>
                        <div layout-gt-sm="row">

                            <md-input-container class="md-block">
                                <label>Tipo</label>
                                <md-select placeholder="Tipo" name="tipo" ng-model="documentos.novotipo">
                                    <md-option value="E-MAIL">E-MAIL</md-option>
                                    <md-option value="NOTIFICACAO">NOTIFICAÇÃO</md-option>
                                    <md-option value="GERAL">GERAL</md-option>
                                    <md-option value="JUDICIAL">JUDICIAL</md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container  flex-gt-sm>
                                <label>Descrição</label>
                                <input ng-required="false" type="text" name="descricao" ng-model="documentos.novadescricao" ng-change="documentos_.novadescricao = (documentos_.novadescricao | uppercase)"/>
                            </md-input-container>
                            <md-input-container  flex-gt-sm>

                                <md-button class="md-raised md-primary" title="Carregar Imagem" ng-disabled="!documentos.novotipo"
                                           name="imagemDocumento"
                                           ng-model="novaimagemDocumento"
                                           ngf-pattern="'.pdf'"
                                           ngf-accept="'.pdf'"
                                           ngf-select="uploadDocumento($file)"
                                           ngf-capture="'camera'"
                                           ngf-max-size="6MB"
                                           ngf-min-height="50">BUSCAR DOCUMENTO</md-button>

                            </md-input-container>

                        </div>

                        <br>

                        <div class="body">

                            <div class="content" ng-repeat="imagemPdf in listaDocumentosPdf">
                                <div class="header">

                                    <md-select placeholder="Tipo"  required ng-required="false" name="tipo" ng-model="imagemPdf.tipo" ng-required>
                                        <md-option value="E-MAIL">E-MAIL</md-option>
                                        <md-option value="NOTIFICACAO">NOTIFICAÇÃO</md-option>
                                        <md-option value="GERAL">GERAL</md-option>
                                        <md-option value="JUDICIAL">JUDICIAL</md-option>
                                    </md-select>

                                </div>
                                <div class="canva">

                                    <iframe ng-src="{{trustSrc(urlDocumentos+imagemPdf.documento)}}"  type="application/pdf"></iframe> 

                                </div>
                                <div class="options">

                                    <button class="open">
                                        <a href="{{trustSrc(urlDocumentos+imagemPdf.documento)}}" target="_blanck" style="color: white;">Visualizar</a>
                                    </button>

                                    <md-button class="md-raised md-primary" ng-click="apagarDocumento(imagemPdf)" ng-disabled="_apagar">Apagar</md-button>

                                </div>

                                <br>
                                <br>

                            </div>

                        </div>
                   

                    </md-tab>  <!--  FIM DE DOCUMENTOS -->

                </md-tabs>

            </form>
        </md-card>
    </md-content>
</div>