<div class="doc-demo-content doc-content">
  <md-content layout-xs="column" layout-gt-sm="row" layout-sm="column">
    <md-card layout-padding flex-gt-sm layout="column" flex-order="1" flex-order-gt-sm="1">
      <md-subheader class="md-no-sticky">FILTRAR DADOS</md-subheader>
      <md-divider></md-divider>
      <form name="editForm" ng-submit="editForm.$valid && formEdit(dados)" novalidate="novalidate">

        <div layout-gt-sm="row">

          <md-input-container class="md-block" flex-gt-sm>
            <label>Descrição</label>
            <input ng-required="false" type="text" name="descricao" ng-model="dados.descricao"
              ng-change="dados.descricao = (dados.descricao | uppercase)" />
          </md-input-container>

        </div>

        <div>
          <md-button class="md-raised" md-colors="{background:'teal'}" md-colors-watch="false"
            ng-click="pesquisar($event)">Filtrar</md-button>
          <md-button class="md-raised" aria-label="Limpar" ng-click="limpar($event)">Limpar</md-button>
          <md-button class="md-raised md-primary" aria-label="Adicionar" ng-click="novo($event)">Novo</md-button>
        </div>

      </form>
    </md-card>
  </md-content>


  <section class="md-whiteframe-z1 " ng-cloak layout="column">

    <md-toolbar class="md-theme-light">
      <h2 class="md-toolbar-tools">
        <span>{{dadosList.length}} Registros</span>
        <span flex></span>
        <md-button class="md-raised" aria-label="PDF">PDF</md-button>
        <md-button class="md-raised" aria-label="Excel">Excel</md-button>
      </h2>
    </md-toolbar>

    <mdt-table paginated-rows="{isEnabled: true, rowsPerPageValues: [20,50, 100]}" animate-sort-icon="true" mdt-row="{
                            'data': dadosList,
                            'table-row-id-key': 'id',
                            
                            'column-keys': ['descricao','data','nome','lote_inicial','orgao','editar', 'apagar',]
                  }">
      <mdt-custom-cell column-key="editar">
        <mdt-custom-cell-button icon='edit' class="md-icon-button md-secondary"
          ng-click="clientScope.detalhe($event, rowId)" aria-label="Detalhe">
          </md-custom-cell-button>
      </mdt-custom-cell>
      <mdt-custom-cell column-key="apagar">
        <mdt-custom-cell-button icon='delete_forever' class="md-icon-button md-secondary"
          ng-click="clientScope.excluir(rowId)" aria-label="Excluir">
          </md-custom-cell-button>
      </mdt-custom-cell>


      <mdt-header-row>
        <mdt-column align-rule="left" column-sort="true">Descrição</mdt-column>
        <mdt-column align-rule="left" column-sort="true">Data</mdt-column>
        <mdt-column align-rule="left" column-sort="true">Pátio</mdt-column>

        <mdt-column align-rule="left" column-sort="true">Lote Inicial</mdt-column>
        <mdt-column align-rule="left" column-sort="true">Orgão</mdt-column>

        <mdt-column align-rule="left" column-sort="false">Editar</mdt-column>
        <mdt-column align-rule="left" column-sort="false">Apagar</mdt-column>

      </mdt-header-row>

    </mdt-table>

  </section>

</div>