<link rel="stylesheet" href="/assets/css/leilao/index.css" />

<div class="doc-demo-content doc-content">
  <md-tabs md-dynamic-height md-border-bottom>
    <md-tab label="DADOS LEILÃO">
      <md-content flex>
        <md-card layout-padding>
          <form
            name="editForm"
            ng-submit="editForm.$valid && gravar(dados)"
            novalidate="novalidate"
          >
            <br />

            <fieldset>
              <legend>Dados Gerais</legend>

              <div style="display: flex; justify-content: space-around">
                <md-input-container>
                  <label>Descrição</label>
                  <input
                    style="width: 450px"
                    ng-required="true"
                    type="text"
                    name="descricao"
                    ng-model="dados.descricao"
                    ng-change="dados.descricao = (dados.descricao | uppercase)"
                  />
                </md-input-container>

                <md-input-container>
                  <label>Leilão Data</label>
                  <md-datepicker
                    name="data"
                    ng-model="dados.data"
                  ></md-datepicker>
                </md-input-container>

                <md-input-container>
                  <label>Nº Edital</label>
                  <input
                    ng-required="true"
                    type="text"
                    name="lote"
                    ng-model="dados.lote_inicial"
                    ng-required="true"
                  />
                </md-input-container>

                <md-input-container>
                  <label>Orgão</label>
                  <md-select
                    placeholder="Orgão"
                    required
                    ng-required="false"
                    name="empresa"
                    ng-model="dados.orgao"
                  >
                    <md-option
                      ng-repeat="orgao in optionsOrgao"
                      ng-value="orgao"
                    >
                      {{orgao}}
                    </md-option>
                  </md-select>
                </md-input-container>
              </div>
            </fieldset>

            <br />
            <br />

            <fieldset>
              <legend>Endereço Pátio</legend>
              <div style="display: flex; justify-content: space-around">
                <md-input-container>
                  <label>CEP</label>
                  <input
                    type="text"
                    name="cep"
                    ng-model="dados.patio_cep"
                    mask="99999-999"
                    ng-required="true"
                    style="width: 130px"
                    ng-change="buscaCep(dados.patio_cep)"
                  />
                </md-input-container>

                <md-input-container>
                  <label>Endereço</label>
                  <input
                    type="text"
                    name="Endereco"
                    id="Endereco"
                    ng-required="true"
                    ng-model="dados.patio_endereco"
                    style="width: 500px"
                  />
                </md-input-container>
              </div>

              <div style="display: flex; justify-content: space-around">
                <md-input-container>
                  <label>Bairro</label>
                  <input
                    type="text"
                    name="bairro"
                    id="bairro"
                    ng-required="true"
                    ng-model="dados.patio_bairro"
                  />
                </md-input-container>
                <md-input-container>
                  <label>Cidade</label>
                  <input
                    type="text"
                    name="Cidade"
                    id="Cidade"
                    ng-required="true"
                    ng-model="dados.patio_cidade"
                  />
                </md-input-container>
                <md-input-container>
                  <label>UF</label>
                  <input
                    type="text"
                    name="UF"
                    id="UF"
                    ng-required="true"
                    ng-model="dados.patio_uf"
                  />
                </md-input-container>
              </div>
            </fieldset>
            <br />
            <br />

            <fieldset>
              <legend>Endereço Devolução AR</legend>
              <div style="display: flex; justify-content: space-around">
                <md-input-container>
                  <label>CEP</label>
                  <input
                    type="text"
                    name="cep"
                    ng-model="dados.devolucao_cep"
                    mask="99999-999"
                    style="width: 150px"
                    ng-required="true"
                    ng-change="buscaCepEndereco(dados.devolucao_cep)"
                  />
                </md-input-container>

                <md-input-container>
                  <label>Endereço</label>
                  <input
                    type="text"
                    style="width: 500px"
                    name="Endereco"
                    id="Endereco"
                    ng-required="true"
                    ng-model="dados.devolucao_endereco"
                  />
                </md-input-container>

                <md-input-container>
                  <label>Bairro</label>
                  <input
                    type="text"
                    name="bairro"
                    id="bairro"
                    ng-required="true"
                    ng-model="dados.devolucao_bairro"
                  />
                </md-input-container>
              </div>

              <div style="display: flex; justify-content: space-around">
                <md-input-container>
                  <label>UF</label>
                  <input
                    type="text"
                    name="UF"
                    id="UF"
                    ng-required="true"
                    ng-model="dados.devolucao_uf"
                  />
                </md-input-container>

                <md-input-container>
                  <label>Cidade</label>
                  <input
                    type="text"
                    name="Cidade"
                    id="Cidade"
                    ng-required="true"
                    ng-model="dados.devolucao_cidade"
                  />
                </md-input-container>
              </div>
            </fieldset>

            <br />
            <md-button
              type="submit"
              ng-disabled="isDisabled"
              class="md-raised md-primary"
              >Gravar</md-button
            >
            <md-button
              class="md-raised"
              ng-click="paginaAnterior()"
              aria-label="Voltar"
              >Voltar</md-button
            >
        </md-card>
      </md-content>
    </md-tab>

    <md-tab label="DADOS EDITAL">
      <md-content flex>
        <md-card layout-padding>
          
            <fieldset>
              <legend>DADOS EDITAL</legend>
              <div class="Detran">
                <md-input-container>
                  <label>Titulo</label>
                 
                  <textarea
                    type="textarea"
                    name="Subtitulo"
                    id="Subtitulo"
                    ng-model="dados.titulo_edital"
                    md-maxlength="100"
                    
                    rows="2"
                    md-select-on-focus
                  >
                  </textarea>
                </md-input-container>

                <md-input-container>
                  <label>Subtitulo 1</label>
                  <textarea
                    type="textarea"
                    name="Subtitulo"
                    id="Subtitulo"

                    ng-model="dados.subtitulo1_edital"
                    md-maxlength="100"
                    rows="2"
                    md-select-on-focus
                  >
                  </textarea>
                </md-input-container>
                <md-input-container>
                  <label>Subtitulo 2</label>

                  <textarea
                    type="textarea"
                    name="Subtitulo"

                    id="Subtitulo"
                    ng-model="dados.subtitulo2_edital"
                    md-maxlength="100"
                    rows="2"
                    md-select-on-focus
                  >
                  </textarea>
                </md-input-container>

                <md-input-container>
                  <label>Texto Principal</label>

                  <textarea
                    type="textarea"
                    name="Subtitulo"
                    id="Subtitulo"

                    ng-model="dados.texto_edital"
                    md-maxlength="1000"
                    rows="4"
                    md-select-on-focus
                  >
                  </textarea>
                </md-input-container>

              </div>
            </fieldset>
          </form>
        </md-card>
      </md-content>
    </md-tab>
  </md-tabs>
</div>
