<link rel="stylesheet" href="/assets/css/leilao/index.css" />
<div class="doc-demo-content doc-content">
  <md-tabs md-dynamic-height md-border-bottom>
    <md-tab label="DADOS LEILÃO">
      <md-content flex>
        <md-card layout-padding>
          <form name="editForm" novalidate="novalidate">
            <br />
            <div>
              <fieldset>
                <legend>Dados Gerais</legend>

                <div style="display: flex; justify-content: space-around">
                  <md-input-container>
                    <label>Descrição</label>
                    <input
                      style="width: 450px"
                      ng-required="true"
                      type="text"
                      name="descricao"
                      ng-model="dados.descricao"
                      ng-change="dados.descricao = (dados.descricao | uppercase)"
                    />
                  </md-input-container>

                  <md-input-container>
                    <label>Leilão Data</label>
                    <md-datepicker
                      name="data"
                      ng-model="dados.data"
                    ></md-datepicker>
                  </md-input-container>

                  <md-input-container>
                    <label>Nº Edital</label>
                    <input
                      ng-required="false"
                      type="text"
                      name="lote"
                      ng-model="dados.lote_inicial"
                    />
                  </md-input-container>
                  <md-input-container>
                    <label>Orgão</label>
                    <md-select
                      placeholder="Orgão"
                      required
                      ng-required="false"
                      name="empresa"
                      ng-model="dados.orgao"
                    >
                      <md-option
                        ng-repeat="orgao in optionsOrgao"
                        ng-value="orgao"
                      >
                        {{orgao}}
                      </md-option>
                    </md-select>
                  </md-input-container>
                </div>
              </fieldset>

              <br />
              <br />

              <fieldset>
                <legend>Endereço Pátio</legend>
                <div style="display: flex; justify-content: space-around">
                  <md-input-container>
                    <label>CEP</label>
                    <input
                      type="text"
                      name="cep"
                      ng-model="dados.patio_cep"
                      mask="99999-999"
                      ng-change="buscaCep(dados.patio_cep)"
                    />
                  </md-input-container>

                  <md-input-container>
                    <label>Endereço</label>
                    <input
                      type="text"
                      name="Endereco"
                      id="Endereco"
                      ng-model="dados.patio_endereco"
                      style="width: 550px"
                    />
                  </md-input-container>
                </div>

                <div style="display: flex; justify-content: space-around">
                  <md-input-container>
                    <label>Bairro</label>
                    <input
                      type="text"
                      name="bairro"
                      id="bairro"
                      ng-model="dados.patio_bairro"
                    />
                  </md-input-container>

                  <md-input-container>
                    <label>Cidade</label>
                    <input
                      type="text"
                      name="Cidade"
                      id="Cidade"
                      ng-model="dados.patio_cidade"
                    />
                  </md-input-container>
                  <md-input-container>
                    <label>UF</label>
                    <input
                      type="text"
                      name="UF"
                      id="UF"
                      ng-model="dados.patio_uf"
                    />
                  </md-input-container>
                </div>
              </fieldset>
              <br />
              <br />

              <fieldset>
                <legend>Endereço Devolução AR</legend>
                <div style="display: flex; justify-content: space-around">
                  <md-input-container>
                    <label>CEP</label>
                    <input
                      type="text"
                      name="cep"
                      ng-model="dados.devolucao_cep"
                      mask="99999-999"
                      ng-change="buscaCepEndereco(dados.devolucao_cep)"
                    />
                  </md-input-container>

                  <md-input-container>
                    <label>Endereço</label>
                    <input
                      type="text"
                      name="Endereco"
                      id="Endereco"
                      ng-model="dados.devolucao_endereco"
                      style="width: 450px"
                    />
                  </md-input-container>
                  <md-input-container>
                    <label>Bairro</label>
                    <input
                      type="text"
                      name="bairro"
                      id="bairro"
                      ng-model="dados.devolucao_bairro"
                    />
                  </md-input-container>
                </div>

                <div style="display: flex; justify-content: space-around">
                  <md-input-container>
                    <label>Cidade</label>
                    <input
                      type="text"
                      name="Cidade"
                      id="Cidade"
                      ng-model="dados.devolucao_cidade"
                    />
                  </md-input-container>
                  <md-input-container>
                    <label>UF</label>
                    <input
                      type="text"
                      name="UF"
                      id="UF"
                      ng-model="dados.devolucao_uf"
                    />
                  </md-input-container>
                </div>
              </fieldset>

              <br />
              <md-button
                ng-disabled="isDisabled"
                class="md-raised md-primary"
                ng-click="gravar()"
                >Gravar</md-button
              >
              <md-button
                class="md-raised"
                ng-click="paginaAnterior()"
                aria-label="Voltar"
                >Voltar</md-button
              >
            </div>
          </form>
        </md-card>
      </md-content>
    </md-tab>

    <md-tab label="PÁTIOS LEILÃO">
      <md-content flex>
        <md-card layout-padding>
          <div class="body">
            <div class="listagem">
              <div class="patiosDisponiveis">
                <h3>Pátios Cadastrados</h3>

                <div
                  class="listagembody"
                  ng-repeat="patio in patios"
                  ng-value="patio.id_patio"
                >
                  <div class="nome">{{patio.nome}}</div>
                  <div class="icon">
                    <img
                      src="/assets/images/icons/Plusicon.svg"
                      alt="PLus Inco"
                      ng-click="addPatio(patio)"
                    />
                  </div>
                </div>
              </div>

              <div class="patiosLeilao">
                <h3>Pátios Cadastrado no Leilão</h3>

                <div
                  class="listagembody"
                  ng-repeat="patio in patiosCadastrados"
                  ng-value="patio.id_patio"
                >
                  <div class="icon">
                    <img
                      src="/assets/images/icons/MinusIcon.svg"
                      alt="PLus Inco"
                      ng-click="removePatio(patio)"
                    />
                  </div>
                  <div class="nome">{{patio.nome}}</div>
                </div>
              </div>
            </div>
          </div>
        </md-card>
      </md-content>
    </md-tab>

  <md-tab label="DADOS EDITAL">
      <md-content flex>
        <md-card layout-padding>
          
            <fieldset>
              <legend>DADOS EDITAL</legend>
              <div class="Detran">
                <md-input-container>
                  <label>Titulo</label>
                 
                  <textarea
                    type="textarea"
                    name="Subtitulo"
                    id="Subtitulo"
                    ng-model="dados.edital_titulo"
                    md-maxlength="100"
                    
                    rows="2"
                    md-select-on-focus
                  >
                  </textarea>
                </md-input-container>

                <md-input-container>
                  <label>Subtitulo 1</label>
                  <textarea
                    type="textarea"
                    name="Subtitulo"
                    id="Subtitulo"

                    ng-model="dados.edital_subtitulo1"
                    md-maxlength="100"
                    rows="2"
                    md-select-on-focus
                  >
                  </textarea>
                </md-input-container>
                <md-input-container>
                  <label>Subtitulo 2</label>

                  <textarea
                    type="textarea"
                    name="Subtitulo"

                    id="Subtitulo"
                    ng-model="dados.edital_subtitulo2"
                    md-maxlength="100"
                    rows="2"
                    md-select-on-focus
                  >
                  </textarea>
                </md-input-container>

                <md-input-container>
                  <label>Texto Principal</label>

                  <textarea
                    type="textarea"
                    name="Subtitulo"
                    id="Subtitulo"
                    ng-model="dados.edital_texto"
                    md-select-on-focus
                  >
                  </textarea>
                </md-input-container>

              </div>
            </fieldset>
          </form>
        </md-card>
      </md-content>
    </md-tab>

  
  </md-tabs>
</div>
