<link rel="stylesheet" href="./assets/css/customLiberacao.css">
<link rel="stylesheet" href="/assets/css/liberacoes-forma-recebimento/index.css">
<div id="Modal" >
  <p>Atenção!  Gerando PDF, aguarde alguns segundos </p>

</div>

<!--
      HTML PARA O PDF QUE SERÁ GERADO
    -->
    <section class="tableBodyPDFLiberacoes" id="tableBodyPDF">
      <header class="tableHeader" >
          
          <div class="data">
              
             
             <div >
                Total: &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;{{totalRegistros}} &emsp;- &emsp;R$ {{ totalPorValor(outOfFilter) + totalPorValor(infFilter) | currency:"R$ ":2 }}
              </div>
          </div>      

         


      </header>
        <main id="tableMainPDF"> 
        </main>
    </section>



<div class="doc-demo-content doc-content">
  <md-content layout-xs="column" layout-gt-sm="row" layout-sm="column">
    <md-card layout-padding flex-gt-sm layout="column" flex-order="1" flex-order-gt-sm="1">
      <form name="editForm" ng-submit="editForm.$valid && pesquisar(dados)" novalidate="novalidate">

        <div layout-gt-sm="row">

          <md-input-container class="md-block" flex-gt-sm>
            <label>Data Inicial</label>
            <md-datepicker name="dataInicio" ng-model="dados.dataInicio"></md-datepicker>
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm>
            <label>Data Final</label>
            <md-datepicker name="dataFinal" ng-model="dados.dataFinal"></md-datepicker>
          </md-input-container>

       

          <md-input-container class="md-block" flex-gt-sm>
            <label>Formas de Pagamento</label>
            <md-select placeholder="Forma Pagto" style="width: 90%" name="forma_pagto" ng-model="dados.forma_pagto" multiple>
              <md-option ng-repeat="formaPagto in formasPagto" ng-value="formaPagto.id">
                {{formaPagto.descricao}}
              </md-option>
            </md-select>
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm>
            <label>LIBERAÇÃO
            </label>
            <md-select placeholder="LIBERAÇÃO" required ng-required="true" name="LIBERAÇÃO" ng-model="dados.tipo_liberacao">
              <md-option value="LIBERADO" selected>LIBERADO</md-option>
              <md-option value="LIBERADO_ARR">LIBERADO ARR</md-option>
              <md-option value="TODOS">TODOS</md-option>

            </md-select>
          </md-input-container>
        </div>


        <md-input-container class="md-block" flex-gt-sm>
          <label>Pátio</label>
          <md-select ng-disabled="dados.id_grupo_patios" placeholder="Pátio" style="width: 90%" ng-required="false" name="patio" ng-model="dados.patio" multiple>
            <md-option ng-repeat="patio in patios" ng-value="patio.id_patio">
              {{patio.nome}}
            </md-option>
          </md-select>
          <div ng-messages="usuarioEditForm.patio.$error" class="errors">
            <div ng-message="required">
              Selecione Pátio.
            </div>
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm style="text-overflow: hidden;max-width: 90%;">
            <label>Grupo Pátio</label>
            <md-select placeholder="Grupo Pátio" name="patio" ng-required="false" ng-model="dados.id_grupo_patios" ng-disabled="dados.patio">
              <md-option ng-repeat="patioGrupo in patiosGrupo" ng-value="patioGrupo.id">
                {{patioGrupo.descricao}}
              </md-option>
            </md-select>
          </md-input-container>


          <br>
          <div>
            <md-button class="md-raised md-primary" aria-label="Adicionar" ng-click="mesAtual($event)">Mês Atual
            </md-button>
            <md-button type="submit" class="md-raised" md-colors="{background:'teal'}" md-colors-watch="false">Filtrar
            </md-button>
            <md-button class="md-raised" aria-label="Limpar" ng-click="limpar($event)">Limpar</md-button>
          </div>


          <section class="tableBody">
            <header class="tableHeader" >
                
                <div class="data">
                   
                    
                  
                   
                   <div >
                      Total:{{ totalPorValor(outOfFilter) + totalPorValor(infFilter) | currency:"R$ ":2 }}
                    </div>
                </div>      

                <div class="containerActions">
                  <md-button style="margin-right: 10px" class="md-raised" aria-label="PDF" ng-click="gerarPdf()">PDF</md-button>
                  <md-button style="margin-right: 100px" class="md-raised" aria-label="EXCEL" ng-click="gerarPlanilha()">EXCEL</md-button>

                </div>


            </header>
              <main id="tableMain"> 
              </main>
          </section>


        </form>
      </md-card>
    </md-content>




    <br>

    <section class="md-whiteframe-z1 " ng-cloak layout="column">
      <div class="myDivClass">
        <md-toolbar class="md-theme-light">
          <h2 class="md-toolbar-tools">
            
            <span>RESUMO DOS RECEBIMENTOS</span>
            <span style="margin-left: 300px">TOTAL: {{ totalPorValor(outOfFilter) + totalPorValor(infFilter) | currency:"R$ ":2 }} </span>
            
            
          </h2>
        </md-toolbar>

        <mdt-table paginated-rows="{isEnabled: true, rowsPerPageValues: [50, 100]}" animate-sort-icon="true" mdt-row="{
                                                              'data': resumoRecebimentos,
                                                              'table-row-id-key': 'descricao',
                                                              'column-keys': ['descricao', 'valor']
                                                    }">

          <mdt-header-row>
            <mdt-column align-rule="left" column-sort="true">DESCRIÇÃO</mdt-column>
            <mdt-column align-rule="left" column-sort="true">Valor</mdt-column>
          </mdt-header-row>
        </mdt-table>

      </div>
    </section>
  </div>


  <script type="text/ng-template" id="MostrarHistorico.html">


    <md-dialog style="width:800px;height:500px;">
      <md-dialog-content>

        <md-content layout-padding>


          <section class="md-whiteframe-z1 " ng-cloak layout="column">
            <div class="myDivClass">
              <md-toolbar class="md-theme-light">
                <h2 class="md-toolbar-tools">
                  <span>Detalhes</span>
                  <span flex></span>
                </h2>
              </md-toolbar>

              <mdt-table paginated-rows="{isEnabled: true, rowsPerPageValues: [50, 100]}" animate-sort-icon="true" mdt-row="{
                                                                                        'data': Historicos,
                                                                                        'table-row-id-key': 'ncv',
                                                                                        'column-keys': ['ncv', 'tipo', 'descricao', 'usuario','data']
                                                                              }">


                <mdt-header-row>
                  <mdt-column align-rule="left" column-sort="true">NCV</mdt-column>
                  <mdt-column align-rule="left" column-so rt="true">Tipo</mdt-column>
                  <mdt-column align-rule="left" column-so rt="true">Descrição</mdt-column>
                  <mdt-column align-rule="left" column-so rt="true">Usuário</mdt-column>
                  <mdt-column align-rule="left" column-so rt="true">Data</mdt-column>

                </mdt-header-row>
              </mdt-table>

            </div>

          </section>
        </md-content>
      </md-dialog-content>
      <md-dialog-actions>
        <md-button class="md-raised md-primary" ng-click="cancel()">Cancelar</md-button>

      </md-dialog-actions>
    </md-dialog>


  </script>
