<html lang="pt-BR" class="ng-scope">
<head>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Painel de Controle | Grupo Carvalho</title>
  <meta name="description" content="Painel do Usuário" />
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="assets/fonts/roboto300-400-500-700-400italic/roboto.css">
  <link rel="stylesheet" href="assets/js/angular/css/angular-material.min.css">

  <!-- loading bar -->
  <link rel='stylesheet' href='assets/js/angular/js/angular_loadingbar/loading-bar.min.css' type='text/css' media='all' />

  <!--[if lt IE 9]> <script src="js/ie/html5shiv.js"></script> <script src="js/ie/respond.min.js"></script> <script src="js/ie/excanvas.js"></script> <![endif]-->

  <!--Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon/favicon-16x16.png">
  <link rel="manifest" href="assets/images/favicon/manifest.json">
  <link rel="shortcut icon" href="assets/images/favicon/favicon.ico">
  <meta name="msapplication-config" content="assets/images/favicon/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

  <script src="assets/js/jquery.min.js"></script>
</head>
<body class="docs-body" ng-app="loginApp" ng-cloak aria-label="Login - Grupo Carvalho" >
  <div ng-controller="loginCtrl" layout="column" layout-padding ng-cloak layout-align="center center" id="popupContainer">
    <br/>
    <md-content class="md-no-momentum" style="width: 370px;">
      <md-card >
        <md-toolbar class="md-theme-light">
          <h2 class="md-toolbar-tools">
            <span>Acesso ao Sistema</span>
          </h2>
        </md-toolbar>
        <br>
        <md-card-content>
          
          <form
          name="loginForm"
          ng-submit="loginForm.$valid && loginForm.$dirty && loginAction(login)"
          novalidate="novalidate">

           <md-input-container class="md-block" flex-gt-sm>
              <md-select placeholder="Selecione Empresa" style="width: 90%" ng-required="true" name="empresa" ng-model="login.empresa">
                <md-option ng-repeat="(i,empresa) in empresas" ng-value="empresa.id" ng-selected="i == 0">
                    {{empresa.nome_empresa}}
                </md-option>
              </md-select>
           </md-input-container>

            <md-input-container class="md-block">
              <label>Login</label>
              <input ng-required="true" type="text" name="login" ng-model="login.login" />
              <div ng-messages="loginForm.login.$error" role="alert">
                <div ng-message-exp="['required']">
                  Campo Obrigatório.
                </div>
              </div>
            </md-input-container>
            
            <md-input-container class="md-block">
              <label>Senha</label>
              <input ng-required="true" type="password" name="senha" ng-model="login.senha" />
              <div ng-messages="loginForm.senha.$error" role="alert">
                <div ng-message-exp="['required']">
                  Campo Obrigatório.
                </div>
              </div>
            </md-input-container>    

            <div style=" text-align: center;">
              <md-button type="submit" class="md-raised md-primary">Login</md-button>
            </div>
            
            
          </form>
          {{mensagem}}
          <div style="text-align: center; cursor: pointer;color:rgb(63,81,181);font-size: 14px;">
            <a ng-click="esqueciSenha()">Esqueci minha senha </a>
          </div>
        </md-card-content>
      </md-card>
    </md-content>

  </div>
  <div align="center">
      <img src="assets/images/logo.jpg" alt="Login" title="Login" height="100" />
  </div>

  <!-- Angular Material requires Angular.js Libraries -->
  <script src="assets/js/angular/js/angular.min.js"></script>
  <script src="assets/js/angular/js/config.js"></script>
  <script src="assets/js/angular/js/angular-route.min.js"></script>
  <script src="assets/js/angular/js/angular-locale_pt-br.js"></script>
  <script src="assets/js/angular/js/angular-animate.min.js"></script>
  <script src="assets/js/angular/js/angular-aria.min.js"></script>
  <script src="assets/js/angular/js/angular-messages.min.js"></script>
  
  <!-- loading bar -->
  <script type='text/javascript' src='assets/js/angular/js/angular_loadingbar/loading-bar.min.js'></script>

  <!-- Angular Material Library -->
  <script src="assets/js/angular/js/angular-material.min.js"></script>

     
  <script type="text/ng-template" id="esqueci-minha-senha.html">
    <md-dialog style="min-width:400px;height:max-content;">
        <md-dialog-content>

        <md-content layout-padding>
          <form name="esqueci-minha-senha">

            <h3 style="text-align:center; padding-bottom:8px;">Gerar nova senha</h2>

          <md-input-container class="md-block">
            <label>Informe seu login</label>
            <input ng-required="true" type="text" name="login" ng-model="login"/>

        </md-input-container>


      </md-content>
    </md-dialog-content>

    <md-dialog-actions style="border:none;">
        <md-button class="md-raised md-primary" ng-click="cancel()">Cancelar</md-button>
        <md-button class="md-raised"md-colors="{background:'teal'}" ng-disabled="!login" ng-click="sendEmail()">Confirmar</md-button>
    </md-dialog-actions>
  </form>

  </md-dialog>
</script>
        
  <script>
    angular.module('loginApp', ['ngMaterial', 'ngMessages', 'ngRoute', 'ngAria', 'angular-loading-bar', 'ngAnimate']).controller('loginCtrl', function ($scope, $http, $location,$mdDialog) {

        buscaEmpresas().then( function(result){
      		//$scope.empresas = result ;
          
          //fixa nome empresa login
          $scope.empresas = [{
            id: 1,
            nome_empresa: 'GRUPO CARVALHO'
          }]
      	});

        $scope.loginAction = function (datalogin) {

        datalogin.tiposistema = 'sistema' ;

        $http
        .post(`${window.host}/autenticacao/login`, datalogin)
        .then(function(result) {
          
          localStorage.setItem('jwtToken', result.data.token);
          localStorage.setItem('id_empresa', datalogin.empresa);
          localStorage.setItem('id_usuario', result.data.idUsuario);
          localStorage.setItem('nome_usuario', datalogin.login);
          localStorage.setItem('tipo_usuario', result.data.tipousuario);
          datalogin.idUsuario = result.data.idUsuario;
          localStorage.setItem('apagar_docs_fotos', result.data.apagar_docs_fotos);
          localStorage.setItem('ajusta_financeiro', result.data.ajusta_financeiro);
          localStorage.setItem('alerta_documentos', result.data.alerta_documentos);
          localStorage.setItem('tipo_situacao', result.data.tipo_situacao);
          localStorage.setItem('recebe_transferencia', result.data.recebe_transferencia);
          localStorage.setItem('firstRender','true');
          localStorage.setItem('altera_status_ncv',result.data.altera_status_ncv);
          localStorage.setItem('ajuste_logistica',result.data.ajuste_logistica);
          localStorage.setItem('altera_data_apreensao',result.data.altera_data_apreensao);
          localStorage.setItem('altera_no_patio',result.data.altera_no_patio);
          localStorage.setItem('altera_localizado_leilao',result.data.altera_localizado_leilao);
          localStorage.setItem('first_access',result.data.first_access);

        }).catch(function(error) {
          if (error.status === 403){
            showAlert(error.data.erro);
          }

          if (error.status === 422){
            showAlert('Login e Senha devem ter no minimo 5 caracteres!');
          }


        }).finally(function(){
          if( !datalogin.idUsuario ) {
            return
          }
            $http.get(`${window.host}/autenticacao/busca-menu` , { params: { id_usuario: datalogin.idUsuario  ,  idEmpresa:  datalogin.empresa } } ).then( function(response){
            localStorage.removeItem('messageWasShown')

            separaRotas(response.data).then( function(dados_rotas){
              localStorage.setItem('rotas_usuario', dados_rotas.split(',')  );
              window.location = `${window.base_url}/#/painel`
            })
          });
          
        })
      }

      function separaRotas(dadosRotas){

        return new Promise( function( resolve,reject){

          _dados = dadosRotas ;
          _rotas = []

          _dados.forEach( function (elemento, idx) {
            _rotas.push( _dados[idx].rota )   
          });

          setTimeout( function(){ resolve(JSON.stringify(_rotas)) },500   );
          

        })
    

      }

      function buscaEmpresas(){

        return new Promise( function( resolve,reject){

          $http.get(`${window.host}/autenticacao/busca-empresas`).then( function(response){

            let dados = response.data ;

            dados.sort(function(a, b){
              if (a.nome < b.nome) {
                return 1;
              }
              return 0;
            });       		  

            resolve(dados) ;

          });

        });

      }	

      $scope.esqueciSenha = function () {
        $scope.login = '';
        $scope.loginForm.$setPristine();

        $mdDialog.show({

            controller: function ($scope, $mdDialog, $http, $mdToast) {

                $scope.cancel = function () {
                    $mdDialog.cancel();
                };

                $scope.sendEmail = function () {

                  $scope.dados = {
                    login: $scope.login
                  }

                        $http.get(`${window.host}/servicos/buscar-email`,{ params: { login: $scope.login } }).then(function (response) {
                           
                            if (response.data.code) {
                                showAlert('Ocorreu um erro, entre em contato com o administrador do sistema !');
                            } else {
                                showAlert('Nova senha gerada e enviada para o e-mail do cadastro do usuário!');

                                //$rootScope._dadosliberado = $scope.dados_liberado;
                                $mdDialog.hide();
                               

                            }

                        }).catch(function(error) {
                            $mdDialog.hide();
                            if (error.status === 422 || error.status === 400){
                              showAlert(error.data.error);
                            }else if(error.status === 404){
                              showAlert(error.data.error);
                            }
                        })



                };
            },
            templateUrl: 'esqueci-minha-senha.html',

            preserveScope: true
        }).then(function (answer) {
            //$scope.$resolve.$scope.liberacao.cpf_liberado_para = $rootScope._dadosliberado.cpf_cnpj;
            //$scope.$resolve.$scope.liberacao.liberado_para = $scope._dadosliberado.nome;
        }, function () {
            $scope.statusdialog = 'Alteração Cancelada';
        });
    }

/*      
        showAlert = function(mensagem) {
        $mdDialog.show(
        $mdDialog.alert()
          .parent(angular.element(document.querySelector('#popupContainer')))
          .clickOutsideToClose(true)
          .title('Erro de Login')
          .textContent(mensagem)
          .ariaLabel('Alert Dialog Demo')
          .ok('Ok')
        );
      };      
*/

	showAlert = function(ev) {
		$mdDialog.show(
		$mdDialog.alert()
			.parent(angular.element(document.querySelector('#popupContainer')))
			.clickOutsideToClose(true)
			.title('Atenção!')
			.textContent(ev)
			.ariaLabel('')
			.ok('Ok!')
			.targetEvent(ev)
			.multiple(true)
		);
	  }


    });
  </script>

</body>
</html>