<div class="doc-demo-content doc-content">
    <md-content flex>
      <md-card layout-padding>
        <form name="editForm" ng-submit="editForm.$valid && gravar(dados)" novalidate="novalidate">
          <br>    
          <div style="width: 98%;"> 
  
            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Código</label>
                    <input ng-required="true" type="text" name="descricao" ng-model="dados.codigo" />
                    <div ng-messages="editForm.codigo.$error" role="alert">
                    <div ng-message="mask">
                         Digitar código
                    </div>
                    <div ng-message-exp="['required']">
                        Campo Obrigatório.
                    </div>
                    </div>
                  </md-input-container>
      
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Descrição</label>
                  <input ng-required="true" type="text" name="descricao" ng-model="dados.descricao" ng-change="dados.descricao = (dados.descricao | uppercase)"/>
                  <div ng-messages="editForm.descricao.$error" role="alert">
                  <div ng-message="mask">
                       Digitar descrição
                  </div>
                  <div ng-message-exp="['required']">
                      Campo Obrigatório.
                  </div>
                  </div>
                </md-input-container>
                </div>
      
          <br>
            <md-button type="submit" class="md-raised md-primary">Gravar</md-button>
            <md-button class="md-raised" ng-click="fechar()" aria-label="Fechar">Fechar</md-button>
          </div>
  
        </form>
      </md-card>
    </md-content>
  </div>