<link rel="stylesheet" href="/assets/css/customTable.css">

<div class="doc-demo-content doc-content">
  <md-content flex>
    <md-card layout-padding>
      <form name="editForm" ng-submit="editForm.$valid && gravar(dados)" novalidate="novalidate">
      <md-tabs md-dynamic-height md-border-bottom>        
        <md-tab label="Dados do Motorista">
          <md-content flex style="background: white">  
          <br>
          <br>    
    
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Empresa de Reboque</label>
            <md-select placeholder="Empresa de Reboque" ng-required="false" name="empresaReboque" ng-model="dados.empresaReboque">
              <md-option ng-repeat="empresa in empresasReboque" ng-value="empresa.id">
                {{empresa.nome}}
               </md-option>
            </md-select>
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm>
            <label>Nome do Motorista</label>
            <input ng-required="true" type="text" name="nome" ng-model="dados.nome" />
            <div ng-messages="editForm.nome.$error" role="alert">
              <div ng-message-exp="['required']">
                Campo Obrigatório.
              </div>
            </div>
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm>
            <label>Apelido</label>
            <input ng-required="false" type="text" name="apelido" ng-model="dados.apelido" />
          </md-input-container>
        </div>


        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Email</label>
            <input ng-required="false" type="email" name="email" ng-model="dados.email" />
          </md-input-container>
        
          <md-input-container class="md-block" flex-gt-sm>
            <label>Celular</label>
            <input ng-required="true" type="text" name="celular" ng-model="dados.celular" mask="(99) 9?9999-9999"/>
            <div ng-messages="editForm.celular.$error" role="alert">
              <div ng-message="mask">
                   Digitar um número de telefone em um formato válido.
              </div>
              <div ng-message-exp="['required']">
                  Campo Obrigatório.
              </div>                
            </div>  
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm>
            <label>CEP</label>
                <input  type="text" style="width: 100px" name="cep" ng-model="dados.cep" mask="99999-999" ng-change="buscaCep(dados.cep)"/>
            </md-input-container>

        </div>

        

        <div layout-gt-sm="row">

        <md-input-container class="md-block" flex-gt-sm>
            <label>Endereço</label>
            <input  type="text" name="endereco" ng-model="dados.endereco" ng-change="dados.endereco = (dados.endereco | uppercase)"/>
        </md-input-container>
            
        <md-input-container class="md-block" flex-gt-sm>
            <label>Bairro</label>
            <input  type="text" name="bairro" ng-model="dados.bairro" ng-change="dados.bairro = (dados.bairro | uppercase)"/>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
        <label>Cidade</label>
            <input  type="text" name="cidade" ng-model="dados.cidade" ng-change="dados.cidade = (dados.cidade | uppercase)"/>
        </md-input-container>    

        <md-input-container class="md-block" flex-gt-sm>
        <label>UF</label>
        <md-select placeholder="UF" style="width: 100px"  ng-required="false" name="uf" ng-model="dados.uf">
            <md-option ng-repeat="estado in estados" ng-value="estado.sigla">
                {{estado.sigla}}
            </md-option>
        </md-select>
        </md-input-container>        

        
        <md-input-container class="md-block" >
          <label>Comissão</label>
          <input type="number" step="0.1"   ng-required="false"   type="text" name="valor" ng-model="dados.comissao" ng-init="dados.comissao">
          
          <div ng-messages="editForm.valor.$error" role="alert">
              <div ng-message-exp="['required']">
              Campo Obrigatório.
              </div>
          </div>
        </md-input-container>

      </div>

        <div layout-gt-sm="row">

          <md-input-container class="md-block" flex-gt-sm>
            <label>Categoria</label>
            <md-select placeholder="Categoria" required ng-required="true" name="categoria" ng-model="dados.categoria">
              <md-option value="LEVE">LEVE</md-option>
              <md-option value="PESADO">PESADO</md-option>
            </md-select>
            <div ng-messages="editForm.categoria.$error" role="alert">
              <div ng-message-exp="['required']">
                Campo Obrigatório.
              </div>
            </div>                                        
          </md-input-container>
        



          <md-input-container class="md-block" flex-gt-sm>
            <label>Usuario APP</label>
            <md-select placeholder="Usuario do App" required ng-required="true" name="idusuario_app" ng-model="dados.id_usuario_app">
              <md-option ng-repeat="usuarioapp in usuariosapp" ng-value="usuarioapp.id">
                {{usuarioapp.nome}}
               </md-option>
            </md-select>
            <div ng-messages="editForm.idusuario_app.$error" class="errors">
              <div ng-message="required">
                Campo Obrigatório.
              </div>
            </div>
          </md-input-container>
          
          <md-input-container class="md-block" flex-gt-sm>
            <label>Ativo</label>
            <md-select placeholder="Ativo"  ng-required="false" name="ativo" ng-model="dados.ativo">
              <md-option value="1">SIM</md-option>
              <md-option value="0">NÃO</md-option>
            </md-select>
          </md-input-container>    
              
        </div>

        <md-input-container class="md-block">
          <label>Observação</label>
          <textarea ng-model="dados.observacao" md-maxlength="150" rows="3" md-select-on-focus></textarea>
        </md-input-container>

      

        <br>
        
          <md-button type="submit" class="md-raised md-primary">Gravar</md-button>
          <md-button class="md-raised" ng-click="paginaAnterior()" aria-label="Voltar">Voltar</md-button>

        </md-content>            
        </md-tab>              

        <md-tab label="CNH">
          <md-content flex style="background: white">  
              <br>
              <br>    
              <div style="height: 600px; width: 800px;">
                <div layout-gt-sm="row">
                  <md-input-container class="md-block" flex-gt-sm>
                    <label>CNH</label>
                    <input ng-required="true" type="text" name="cnh" ng-model="dados.cnh" />
                    <div ng-messages="editForm.cnh.$error" role="alert">
                      <div ng-message-exp="['required']">
                        Campo Obrigatório.
                      </div>
                    </div>              
                  </md-input-container>
                  <md-input-container class="md-block" flex-gt-sm>
                    <label>CNH Categoria</label>
                    <input ng-required="true" type="text" name="cnhCat" ng-model="dados.cnhCat" />
                    <div ng-messages="editForm.cnhCat.$error" role="alert">
                      <div ng-message-exp="['required']">
                        Campo Obrigatório.
                      </div>
                    </div>              
                  </md-input-container>
                  <md-input-container class="md-block" flex-gt-sm>
                      <label>CNH Validade</label>
                      <input ng-required="true" type="text" name="cnhVal" ng-model="dados.cnhVal" mask="99/99/9999"/>
                      <div ng-messages="editForm.cnhVal.$error" role="alert">
                          <div ng-message-exp="['required']">
                          Campo Obrigatório.
                          </div>
                      </div>              
                  </md-input-container>                 
                </div>          
                  
                  <div> 
                  <!--<br>Alterar documento:<input type="checkbox" ng-model="checked" aria-label="Toggle ngShow"><br />-->
                  
                  <md-button class="md-fab md-warn md-hue-2 md-mini" title="Carregar PDF"
                              style="margin:10px;"
                              name="pdfDocCnh" 
                              ng-model="pdfCnh"
                              ngf-pattern="'.pdf'"
                              ngf-accept="'.pdf'"
                              ngf-select="uploadCnh($file)"
                              ngf-capture="'camera'"
                              ngf-max-size="20MB"
                              ngf-min-height="50">
                              <md-icon>backup</md-icon>
                  </md-button>
                  <label >{{dados.pdf_cnh}}</label>
                  
                  
                  <md-button style="margin:10px;" class="md-fab md-warn md-hue-2 md-mini" title="Excluir PDF" ng-click="limparPDFCnh()">
                      <md-icon>delete</md-icon>
                  </md-button>
      
                  </div>

                  <div  style="width: 100%">
                    <iframe ng-if="dados.pdf_cnh.length > 0" ng-src = "{{trustSrc(urlDocumentos+ dados.pdf_cnh)}}" width="80%" height="80%"></iframe>
                   <img ng-src = "{{trustSrc(urlDocumentos+ dados.pdf_cnh)}}" alt="">
                 <!-- <embed ng-show="!checked"  ngf-src="pdfCnh" width="80%" height="80%" type="application/pdf">-->
                  
                   <!--<div class="check-element funky-show-hide" ng-show="checked">
                      <iframe ng-show="checked" ngf-src = "pdfCnh" type="application/pdf" width="80%" height="80%"></iframe>
                     
                    </div>--> 
                    
                  <div ng-messages="editForm.pdfDocCnh.$error" class="errors">
                      <div ng-message="maxSize">
                          <span style="color: #dd2c00; font-size: 12px;">FDF muito grande. Favor escolher imagem com até 20MB de tamanho.</span>
                      </div>
                      <div ng-message="pattern">
                          <span style="color: #dd2c00; font-size: 12px;">Tipo arquivo não permitido. Escolha um PDF.</span>
                      </div>
                  </div>
                  </div>

                </div>
    
          </md-content>            
          </md-tab>        
          
          <md-tab label="Contrato">
          <md-content flex style="background: white">  
              <br>
              <br>    
              
              <div style="height: 600px; width: 800px;">

                  <div layout-gt-sm="row">
                      <div layout-gt-sm="row">
                          <md-input-container class="md-block" flex-gt-sm>
                              <label>Inicio Contrato</label>
                              <input ng-required="false" type="text" name="inicio_contrato" ng-model="dados.inicio_contrato" mask="99/99/9999"/>
                          </md-input-container>       
                          <md-input-container class="md-block" flex-gt-sm>
                              <label>Final Contrato</label>
                              <input ng-required="false" type="text" name="fim_contrato" ng-model="dados.fim_contrato" mask="99/99/9999"/>
                          </md-input-container>       
                      </div>                        
                  </div>            
        
                  <div> 
                  <md-button type="submit" class="md-fab md-warn md-hue-2 md-mini" title="Carregar PDF"
                              style="margin:10px;"
                              name="pdfDocContrato" 
                              ng-model="pdfContrato"
                              ngf-pattern="'.pdf'"
                              ngf-accept="'.pdf'"
                              ngf-select="uploadContrato($file)"
                              ngf-capture="'camera'"
                              ngf-max-size="20MB"
                              ngf-min-height="50">
                              <md-icon>backup</md-icon>
                  </md-button>
                  <label>{{dados.pdf_contrato}}</label>

                  <md-button style="margin:10px;" class="md-fab md-warn md-hue-2 md-mini" title="Excluir PDF" ng-click="limparPDFContrato()">
                      <md-icon>delete</md-icon>
                  </md-button>

                  </div>
                  <div>
                    <iframe ng-if="dados.pdf_contrato.length > 0" ng-src = "{{trustSrc(urlDocumentos+ dados.pdf_contrato)}}" width="80%" height="80%"></iframe>
                    <img  ng-src = "{{trustSrc(urlDocumentos+ dados.pdf_contrato)}}" alt="">

                  <div ng-messages="editForm.pdfDocContrato.$error" class="errors">
                      <div ng-message="maxSize">
                          <span style="color: #dd2c00; font-size: 12px;">FDF muito grande. Favor escolher imagem com até 20MB de tamanho.</span>
                      </div>
                      <div ng-message="pattern">
                          <span style="color: #dd2c00; font-size: 12px;">Tipo arquivo não permitido. Escolha um PDF.</span>
                      </div>
                  </div>
                  </div>
              </div>
    



        </md-content>            
      </md-tab> 


      <md-tab label="VALORES CONTRATO">

      
        <md-content layout-xs="column" layout-gt-sm="row" layout-sm="column">
          <md-card layout-padding flex-gt-sm layout="column" flex-order="1" flex-order-gt-sm="1">
           
            <form name="editForm" ng-submit="editForm.$valid && formEdit(dados)" novalidate="novalidate">
              
              <div>
                <h3>{{ dados.nome }}</h3>
              </div>
                  
              <div layout-gt-sm="row">

                <md-input-container class="md-block" flex-gt-sm>
                  <label>Pátio</label>
                  <md-select placeholder="Seleção do Pátio" style="width: 90%" name="patio" ng-model="indices.id_patio">
                    <md-option  ng-repeat="patio in patios" ng-value="patio.id_patio">
                        {{patio.nome}}
                    </md-option>
                  </md-select>
                </md-input-container>
                
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Tipo de Veículo</label>
                  <md-select placeholder="Tipo de Veiculo" name="tipoveiculo" ng-model="indices.id_tipo_veiculo">
                      <md-option ng-repeat="tipoveiculo in tiposVeiculos" ng-value="tipoveiculo.id">
                        {{tipoveiculo.descricao}}
                      </md-option>
                    </md-select>      
                </md-input-container>
               
                <md-input-container class="md-block" >
                  <label>KM Padrão</label>
                  <input ng-required="true" style="width: 100px" type="number" name="kmPadrao" ng-model="indices.km_padrao"  
                    ng-disabled="!indices.id_tipo_veiculo" ng-init="indices.km_padrao=0"/>
                  <div ng-messages="editForm.kmPadrao.$error" role="alert" >
                      <div ng-message-exp="['required']">
                      Campo Obrigatório.
                      </div>
                  </div>
                </md-input-container>
  
                
                <md-input-container class="md-block" >
                  <label>Valor KM</label>
                  <input ng-required="true" style="width: 100px" type="text" name="valorKm" ng-model="indices.valor_km" 
                      money-mask money-mask-prepend="R$ " ng-disabled="!indices.id_tipo_veiculo" />
                    <div ng-messages="editForm.valorKm.$error" role="alert">
                      <div ng-message-exp="['required']">
                      Campo Obrigatório.
                      </div>
                  </div>
                </md-input-container>
  
  
                <md-input-container class="md-block" >
                  <label>Saída Dia</label>
                  <input ng-required="true" style="width: 100px" type="text" name="saidaDia" ng-model="indices.saida_dia" 
                    money-mask money-mask-prepend="R$ " ng-disabled="!indices.id_tipo_veiculo" />
                    <div ng-messages="editForm.saidaDia.$error" role="alert">
                      <div ng-message-exp="['required']">
                      Campo Obrigatório.
                      </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" >
                  <label>Saída Noite</label>
                  <input ng-required="true" style="width: 100px" type="text" name="saidaNoite" ng-model="indices.saida_noite" 
                    money-mask money-mask-prepend="R$ " ng-disabled="!indices.id_tipo_veiculo" />
                    <div ng-messages="editForm.saidaNoite.$error" role="alert">
                      <div ng-message-exp="['required']">
                      Campo Obrigatório.
                      </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" >
                  <md-button ng-click= "gravarIndices()" class="md-raised md-primary">Gravar</md-button>
                </md-input-container>
              
              </div>


              <md-content class="Body">

                <md-card>
                  <table>

                    <tr>
                      <th>Pátio</th>
                      <th>Tipo Veiculo</th>
                      <th>KM Padrao</th>
                      <th>Valor KM</th>
                      <th>Saida Dia</th>
                      <th>Saida Noite</th>
                      <th>Remover</th>
                      
                    </tr>
                    
                    <tr ng-repeat="indices in indicesList" class="Result">
                      <td>{{indices.patio}}</td>
                      <td>{{indices.tipo_veiculo}}</td>
                      <td>{{indices.km_padrao}}</td>
                      <td>{{indices.valor_km}}</td>
                      <td>{{indices.saida_dia}}</td>
                      <td>{{indices.saida_noite}}</td>
                      <td>
                        <mdt-custom-cell-button icon='delete_forever' class="md-icon-button md-secondary"
                          ng-click="removerIndice(indices)" aria-label="Excluir">
                        </md-custom-cell-button>
                      </td>
                      
                    </tr>

                  </table>

                </md-card>
              </md-content>
              <!--
              <div>
                <h3>Pátios:</h3>
              </div>

              <table>
              
                <tr ng-repeat="patio in patios" class="Result">
                  <td>{{patio.nome}}</td>
                  
                </tr>

              </table>
            -->
            </form>
          </md-card>
        </md-content>
      </md-tab>











      <md-tab label="TERMO CREDENCIAMENTO">
        <md-content flex>
          <md-card layout-padding>
            <br> 
            <div layout-gt-sm="row">
            
              <md-input-container class="md-block" flex-gt-sm>
                <label>EMPRESA CREDENCIANTE</label>
                <md-select placeholder="Empresa Credenciante" name="empresa" ng-required="true" ng-model="empresa.id" ng-change="dadosEmpresa()">
                  <md-option  ng-repeat="empresa in empresas" ng-value="empresa.id">
                      {{empresa.nome_empresa}}
                  </md-option>
                </md-select>
              </md-input-container>
            
            
            
            </div>

            <div layout-gt-sm="row" >
                        
              <md-input-container style="width: 20vw; ">
                  <label>DIGITE A PLACA DO REBOQUE </label>
                  <input type="text" name="placa" ng-model="reboque.placa" placeholder="Placa" />
              </md-input-container>
              
              <md-button class="md-raised" md-colors="{background:'teal'}" md-colors-watch="false"
                style="height: 15px;margin-left: 10px; margin-top: 10px;" ng-click="buscaPlacaReboque()">ADICIONAR</md-button>
               
              <md-button class="md-raised" style="height: 15px;margin-left: 10px; margin-top: 10px;" aria-label="Limpar" 
                ng-click="limparPlacaReboque()">LIMPAR</md-button>

              <md-input-container style="width: 300px; margin-left: 200px;">
                <label>DIGITE O PERCENTUAL(%) DO PEDÁGIO</label>
                <input type="text" name="percentual" ng-model="reboque.percentual_pedagio" 
                  placeholder="Percentual (%)" ng-change="atualizaDados()"/>
              </md-input-container>
              
            </div>

            <div>

              <label>Reboque(s) adicionado(s): {{ reboquesList.length || 0 }}</label>

              <ul>
                <li ng-repeat="reboque in reboquesList">{{ reboque.placa }}</li>
              </ul>

            </div>

          </md-card>
        </md-content>
            
            
           
            <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js"></script>           
            
            <div id="termo" style="text-align: justify"> 

              <div ng-bind-html="termoCredenciamento"></div>
            
              <div ng-bind-html ="anexoInicio"></div>

              <div ng-bind-html="valores"></div>

              <div ng-bind-html="formaPagamento"></div>

              <div ng-bind-html="caracteristicasVeiculo"></div> 
                                        
              <div ng-bind-html="acionamentoServico"></div>
            
            </div>


            <md-input-container class="md-block" >
              <md-button ng-click= "gerarPDF()" ng-disabled="!(empresa.id && reboquesList.length)" class="md-raised md-primary">Gerar PDF</md-button>
              <md-button ng-click= "gerarHTML()" ng-disabled="!(empresa.id && reboquesList.length)" class="md-raised md-primary">Enviar Representante Assinar</md-button> 
            </md-input-container>

            
      </md-tab>

      </md-tabs>                
      </form>
    </md-card>
  </md-content>
</div>