
<link rel="stylesheet" href="/assets/css/customTable.css">
<div class="doc-demo-content doc-content">
  <md-content flex>
    <md-card layout-padding>
      <form name="editForm" ng-submit="editForm.$valid && gravar(dados)" novalidate="novalidate">
      <md-tabs md-dynamic-height md-border-bottom>        
      <md-tab label="Dados do Motorista">
        <md-content flex style="background: white">  
        <br>
        <br>    
  
          <md-input-container class="md-block" flex-gt-sm>
            <label>Empresa de Reboque</label>
            <md-select placeholder="Empresa de Reboque" required ng-required="true" name="empresaReboque" ng-model="dados.empresaReboque">
              <md-option ng-repeat="empresa in empresas" ng-value="empresa.id">
                {{empresa.nome}}
               </md-option>
            </md-select>
            <div ng-messages="editForm.empresaReboque.$error" class="errors">
              <div ng-message="required">
                Campo Obrigatório.
              </div>
            </div>
          </md-input-container>
          <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Nome do Motorista</label>
            <input ng-required="true" type="text" name="nome" ng-model="dados.nome" ng-change="dados.nome = (dados.nome | uppercase)"/>
            <div ng-messages="editForm.nome.$error" role="alert">
              <div ng-message-exp="['required']">
                Campo Obrigatório.
              </div>
            </div>
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm>
            <label>Apelido</label>
            <input ng-required="false" type="text" name="apelido" ng-model="dados.apelido" ng-change="dados.apelido = (dados.apelido | uppercase)"/>
          </md-input-container>
          </div>

          <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Email</label>
            <input ng-required="false" type="email" name="email" ng-model="dados.email" />
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm>
            <label>Celular</label>
            <input ng-required="true" type="text" name="celular" ng-model="dados.celular" mask="(99) 9?9999-9999"/>
            <div ng-messages="editForm.celular.$error" role="alert">
            <div ng-message="mask">
                 Digitar um número de telefone em um formato válido.
            </div>
            <div ng-message-exp="['required']">
                Campo Obrigatório.
            </div>
            </div>
          </md-input-container>
          </div>

          <md-input-container class="md-block" flex-gt-sm>
            <label>CEP</label>
                <input  type="text" style="width: 100px" name="cep" ng-model="dados.cep" mask="99999-999" ng-change="buscaCep(dados.cep)"/>
            </md-input-container>
    
            <md-input-container class="md-block" flex-gt-sm>
                <label>Endereço</label>
                <input  type="text" name="endereco" ng-model="dados.endereco" ng-change="dados.endereco = (dados.endereco | uppercase)"/>
            </md-input-container>
                
            <md-input-container class="md-block" flex-gt-sm>
                <label>Bairro</label>
                <input  type="text" name="bairro" ng-model="dados.bairro" ng-change="dados.bairro = (dados.bairro | uppercase)"/>
            </md-input-container>
    
            <md-input-container class="md-block" flex-gt-sm>
            <label>Cidade</label>
                <input  type="text" name="cidade" ng-model="dados.cidade" ng-change="dados.cidade = (dados.cidade | uppercase)"/>
            </md-input-container>    
    
            <md-input-container class="md-block" flex-gt-sm>
            <label>UF</label>
            <md-select placeholder="UF" style="width: 100px"  ng-required="false" name="uf" ng-model="dados.uf">
                <md-option ng-repeat="estado in estados" ng-value="estado.sigla">
                    {{estado.sigla}}
                </md-option>
            </md-select>
            </md-input-container>        
                
          <div layout-gt-sm="row">  
          <md-input-container class="md-block" flex-gt-sm>
            <label>Categoria</label>
            <md-select placeholder="Categoria"  required ng-required="true" name="categoria" ng-model="dados.categoria">
              <md-option value="LEVE">LEVE</md-option>
              <md-option value="PESADO">PESADO</md-option>
            </md-select>
            <div ng-messages="editForm.categoria.$error" role="alert">
              <div ng-message-exp="['required']">
                Campo Obrigatório.
              </div>
            </div>                          
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm>
            <label>Usuario APP</label>
            <md-select placeholder="Usuario do App" required ng-required="true" name="idusuario_app" ng-model="dados.idusuario_app">
              <md-option ng-repeat="usuarioapp in usuariosapp" ng-value="usuarioapp.id">
                {{usuarioapp.nome}}
               </md-option>
            </md-select>
            <div ng-messages="editForm.idusuario_app.$error" class="errors">
              <div ng-message="required">
                Campo Obrigatório.
              </div>
            </div>
          </md-input-container>
           
          <md-input-container class="md-block" flex-gt-sm>
            <label>Ativo</label>
            <md-select placeholder="Ativo" required ng-required="true" name="ativo" ng-model="dados.ativo">
              <md-option value="1">SIM</md-option>
              <md-option value="0">NÃO</md-option>
            </md-select>
            <div ng-messages="editForm.ativo.$error" class="errors">
              <div ng-message="required">
                Campo Obrigatório.
              </div>
            </div>
          </md-input-container>
          </div>

        <md-input-container class="md-block">
          <label>Observação</label>
          <textarea ng-model="dados.observacao" md-maxlength="150" rows="3" md-select-on-focus></textarea>
        </md-input-container>
        <br>
          <md-button type="submit" ng-disabled="isDisabled" class="md-raised md-primary">Gravar</md-button>
          <md-button class="md-raised" ng-click="paginaAnterior()" aria-label="Voltar">Voltar</md-button>

      </md-content>            
      </md-tab>              

      <md-tab label="CNH">
      <md-content flex style="background: white">  
          <br>
          <br>              
          <div style="height: 600px; width: 800px;">

            <div layout-gt-sm="row">
              <md-input-container class="md-block" flex-gt-sm>
                <label>CNH</label>
                <input ng-required="true" type="text" name="cnh" ng-model="dados.cnh" />
                <div ng-messages="editForm.cnh.$error" role="alert">
                  <div ng-message-exp="['required']">
                    Campo Obrigatório.
                  </div>
                </div>              
              </md-input-container>
              <md-input-container class="md-block" flex-gt-sm>
                <label>CNH Categoria</label>
                <input ng-required="true" type="text" name="cnhCat" ng-model="dados.cnhCat" />
                <div ng-messages="editForm.cnhCat.$error" role="alert">
                  <div ng-message-exp="['required']">
                    Campo Obrigatório.
                  </div>
                </div>              
              </md-input-container>
              <md-input-container class="md-block" flex-gt-sm>
                  <label>CNH Validade</label>
                  <input ng-required="true" type="text" name="cnhVal" ng-model="dados.cnhVal" mask="99/99/9999"/>
                  <div ng-messages="editForm.cnhVal.$error" role="alert">
                      <div ng-message-exp="['required']">
                      Campo Obrigatório.
                      </div>
                  </div>              
              </md-input-container>                 
            </div>          
              
              <div> 
              <md-button ng-disabled="isDisabled" class="md-fab md-warn md-hue-2 md-mini" title="Carregar PDF"
                          name="pdfDocCnh" 
                          ng-model="pdfCnh"
                          ngf-pattern="'.pdf'"
                          ngf-accept="'.pdf'"
                          ngf-select="uploadCnh($file)"
                          ngf-capture="'camera'"
                          ngf-max-size="20MB"
                          ngf-min-height="50">
                          <md-icon>backup</md-icon>
              </md-button>
              <label>{{dados.pdf_cnh}}</label>
              </div>
              <div>
                <iframe ng-if="dados.pdf_cnh.length > 0" ng-src = "{{trustSrc(urlImagens+ dados.pdf_cnh)}}" width="80%" height="80%"></iframe>
              <div ng-messages="editForm.pdfDocCnh.$error" class="errors">
                  <div ng-message="maxSize">
                      <span style="color: #dd2c00; font-size: 12px;">FDF muito grande. Favor escolher imagem com até 20MB de tamanho.</span>
                  </div>
                  <div ng-message="pattern">
                      <span style="color: #dd2c00; font-size: 12px;">Tipo arquivo não permitido. Escolha um PDF.</span>
                  </div>
              </div>
              </div>
          </div>

      </md-content>            
      </md-tab>        
      
        <md-tab label="Contrato">
        <md-content flex style="background: white">  
            <br>
            <br>  
              
            <div style="height: 600px; width: 800px;">
  
                <div layout-gt-sm="row">
                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Inicio Contrato</label>
                            <input ng-required="false" type="text" name="inicio_contrato" ng-model="dados.inicio_contrato" mask="99/99/9999"/>
                        </md-input-container>       
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Final Contrato</label>
                            <input ng-required="false" type="text" name="fim_contrato" ng-model="dados.fim_contrato" mask="99/99/9999"/>
                        </md-input-container>       
                    </div>                        
                </div>            
      
                <div> 
                <md-button ng-disabled="isDisabled"class="md-fab md-warn md-hue-2 md-mini" title="Carregar PDF"
                            name="pdfDocContrato" 
                            ng-model="pdfContrato"
                            ngf-pattern="'.pdf'"
                            ngf-accept="'.pdf'"
                            ngf-select="uploadContrato($file)"
                            ngf-capture="'camera'"
                            ngf-max-size="20MB"
                            ngf-min-height="50">
                            <md-icon>backup</md-icon>
                </md-button>
                <label>{{dados.pdf_contrato}}</label>
                </div>
                <div>
                <iframe ng-if="dados.pdf_contrato.length > 0" ng-src = "{{trustSrc(urlImagens+ dados.pdf_contrato)}}" width="80%" height="80%"></iframe>
                <div ng-messages="editForm.pdfDocContrato.$error" class="errors">
                    <div ng-message="maxSize">
                        <span style="color: #dd2c00; font-size: 12px;">FDF muito grande. Favor escolher imagem com até 20MB de tamanho.</span>
                    </div>
                    <div ng-message="pattern">
                        <span style="color: #dd2c00; font-size: 12px;">Tipo arquivo não permitido. Escolha um PDF.</span>
                    </div>
                </div>
                </div>
            </div>
  
        </md-content>            
        </md-tab>                      
        

        <md-tab label="INDICES">

      
          <md-content layout-xs="column" layout-gt-sm="row" layout-sm="column">
            <md-card layout-padding flex-gt-sm layout="column" flex-order="1" flex-order-gt-sm="1">
             
              <form name="editForm" ng-submit="editForm.$valid && formEdit(dados)" novalidate="novalidate">
                
                    
                <div layout-gt-sm="row">
                  
                  <md-input-container class="md-block" flex-gt-sm>
                    <label>Tipo de Veículo</label>
                    <md-select placeholder="Tipo de Veiculo"  ng-required="false" name="tipoveiculo" ng-model="indices.tipo_veiculo">
                        <md-option ng-repeat="tipoveiculo in tiposVeiculos" ng-value="tipoveiculo.id">
                          {{tipoveiculo.descricao}}
                        </md-option>
                      </md-select>      
                  </md-input-container>
                 
                  <md-input-container class="md-block" >
                    <label>KM Excedente</label>
                    <input ng-required="true" type="text" name="kmExcedente" ng-model="indices.km_excedente" 
                    money-mask money-mask-prepend="R$ " ng-disabled="!indices.tipo_veiculo"/>
                    <div ng-messages="editForm.kmExcedente.$error" role="alert">
                        <div ng-message-exp="['required']">
                        Campo Obrigatório.
                        </div>
                    </div>
                  </md-input-container>
    
                  
                  <md-input-container class="md-block" >
                    <label>Pedágio</label>
                    <input ng-required="true" type="text" name="pedagio" ng-model="indices.pedagio" 
                    money-mask money-mask-prepend="R$ " ng-disabled="!indices.tipo_veiculo"/>
                      <div ng-messages="editForm.pedagio.$error" role="alert">
                        <div ng-message-exp="['required']">
                        Campo Obrigatório.
                        </div>
                    </div>
                  </md-input-container>
    
    
                  <md-input-container class="md-block" >
                    <label>Extras</label>
                    <input ng-required="true" type="text" name="extra" ng-model="indices.extras" 
                    money-mask money-mask-prepend="R$ " ng-disabled="!indices.tipo_veiculo"/>
                      <div ng-messages="editForm.extras.$error" role="alert">
                        <div ng-message-exp="['required']">
                        Campo Obrigatório.
                        </div>
                    </div>
                  </md-input-container>
                
                </div>

                <div>

                  <md-button ng-disabled="!indices.tipo_veiculo"
                  class="md-raised md-primary" ng-click="adicionarIndice()">Adicionar</md-button>
                  
                </div>

                <md-content class="Body">

                  <md-card>
                    <table>

                      <tr>
                        <th>Tipo Veiculo</th>
                        <th>KM Excedente</th>
                        <th>Pedagio</th>
                        <th>Extras</th>
                        <th>Remover</th>
                        
                      </tr>
                      
                      <tr ng-repeat="indices in indicesList" class="Result">
                        <td>{{indices.tipo_veiculo}}</td>
                        <td>{{indices.km_excedente}}</td>
                        <td>{{indices.pedagio}}</td>
                        <td>{{indices.extras}}</td>                        
                        <td>
                          <mdt-custom-cell-button icon='delete_forever' class="md-icon-button md-secondary"
                            ng-click="removerIndice($index)" aria-label="Excluir">
                          </md-custom-cell-button>
                        </td>

                      </tr>

                    </table>

                  </md-card>
                </md-content>

              </form>
            </md-card>
          </md-content>
          
    
        </md-tab>


      </md-tabs>        
      </form>
    </md-card>
  </md-content>
</div>