<div class="doc-demo-content doc-content">
  <md-content layout-xs="column" layout-gt-sm="row" layout-sm="column">
    <md-card layout-padding flex-gt-sm layout="column" flex-order="1" flex-order-gt-sm="1">
      <md-subheader class="md-no-sticky">FILTRAR DADOS</md-subheader>
      <md-divider></md-divider>
      <form name="editForm" ng-submit="editForm.$valid && formEdit(dados)" novalidate="novalidate">
        
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm >
            <label>Empresa de Reboque</label>
            <md-select placeholder="Empresa de Reboque" required ng-required="false" name="empresa" ng-model="dados.empresa">
              <md-option ng-repeat="empresa in empresas" ng-value="empresa.id">
                {{empresa.nome}}
               </md-option>
            </md-select>

          </md-input-container>
         
          <md-input-container class="md-block" flex-gt-sm >
            <label>Nome do Motorista</label>
            <input ng-required="false" type="text" name="nome" ng-model="dados.nome" />
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm >
            <label>Ativo</label>
            <md-select placeholder="Ativo" required ng-required="false" name="ativo" ng-model="dados.ativo">
              <md-option value="1" ng-selected="true">SIM</md-option>
              <md-option value="0">NÃO</md-option>
            </md-select>
          </md-input-container>
          
        </div>

        <md-input-container class="md-block" flex-gt-sm>
          <label>Filtrar por Localização</label>
          <md-select placeholder="Filtrar por Localização"  name="filtrar_por" ng-model="dados.filtrar_por">
            <md-option value="CIDADE E ENDEREÇO">CIDADE E ENDEREÇO</md-option>
            <md-option value="CIDADE E BAIRRO">CIDADE E BAIRRO</md-option>
          </md-select>
        </md-input-container>
        
        <div layout-gt-sm="row" ng-if="dados.filtrar_por == 'CIDADE E ENDEREÇO' || dados.filtrar_por == 'CIDADE E BAIRRO'">
          <md-input-container class="md-block" flex-gt-sm >
            <label>Cidade</label>
            <input type="text" name="cidade" ng-model="dados.cidade" />
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm ng-if="dados.filtrar_por == 'CIDADE E ENDEREÇO'">
            <label>Endereço</label>
            <input type="text" name="endereco" ng-model="dados.endereco" />
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm ng-if="dados.filtrar_por == 'CIDADE E BAIRRO'">
            <label>Bairro</label>
            <input type="text" name="bairro" ng-model="dados.bairro" />
          </md-input-container>
        </div>

        
        <div>
          <md-button class="md-raised" md-colors="{background:'teal'}" md-colors-watch="false" ng-click="pesquisar($event)">Filtrar</md-button>
          <md-button class="md-raised" aria-label="Limpar" ng-click="limpar($event)">Limpar</md-button>
          <md-button class="md-raised md-primary" aria-label="Adicionar" ng-click="novo($event)">Novo</md-button>
        </div>

      </form>
    </md-card>
  </md-content>
  

  <section  class="md-whiteframe-z1 " ng-cloak layout="column" >
    
      <md-toolbar class="md-theme-light" >
        <h2 class="md-toolbar-tools">
          <span>{{dadosList.length}} Registros</span>
          <span flex></span>
          <md-button class="md-raised" ng-click="gerarPdf()" aria-label="PDF" >PDF</md-button>
          <md-button class="md-raised" ng-click="gerarExcel()" aria-label="Excel" >Excel</md-button>
        </h2>
      </md-toolbar>

      <mdt-table paginated-rows="{isEnabled: true, rowsPerPageValues: [20,50, 100]}" 
                  animate-sort-icon="true"
                  mdt-row="{
                            'data': dadosList,
                            'table-row-id-key': 'id',
                            'column-keys': ['id', 'nome', 'celular', 'bairro' , 'cidade', 'desc_ativo', 'editar']
                  }"
        >
        <mdt-custom-cell column-key="porcentagem">
          <md-progress-circular md-mode="determinate" md-diameter="20" value="{{value}}"></md-progress-circular>
        </mdt-custom-cell>
        <mdt-custom-cell column-key="editar">
          <mdt-custom-cell-button icon='edit' class="md-icon-button md-secondary" ng-click="clientScope.detalhe($event, rowId)" aria-label="Detalhe"></md-custom-cell-button>
        </mdt-custom-cell>

        <mdt-header-row>
          <mdt-column align-rule="left" column-sort="false">#</mdt-column>
          <mdt-column align-rule="left" column-sort="true">Nome</mdt-column>
          <mdt-column align-rule="left" column-sort="false">Celular</mdt-column>
          <mdt-column align-rule="left" column-sort="false">Bairro</mdt-column>
          <mdt-column align-rule="left" column-sort="false">Cidade</mdt-column>
          <mdt-column align-rule="left" column-sort="false">Ativo</mdt-column>
          <mdt-column align-rule="left" column-sort="false">Editar</mdt-column>
        </mdt-header-row>
        
        
      </mdt-table>
    
  </section>

</div>