<div class="doc-demo-content doc-content">
  <md-content flex>
    <md-card layout-padding>
      <form name="editForm" ng-submit="editForm.$valid && gravar(dados)" novalidate="novalidate">
      
        <div layout-gt-sm="row">

            <md-input-container class="md-block" flex-gt-sm>
              <label>Placa</label>
              <input ng-required="true" type="text" name="placa" ng-model="dados.placa" ng-change="dados.placa = (dados.placa | uppercase)"/>
              <div ng-messages="editForm.placa.$error" role="alert">
                <div ng-message-exp="['required']">
                  Campo Obrigatório.
                </div>
              </div>
            </md-input-container>
            <md-input-container>
              <div style="margin-right: 20px;  cursor: pointer;" >
                  <md-icon ng-click="buscaPlaca(dados.placa)"> search </md-icon>
              </div>
            </md-input-container>          
      
            <md-input-container class="md-block" flex-gt-sm>
              <label>Ano</label>
              <input ng-required="true" type="text" name="ano" ng-model="dados.ano" ng-change="dados.ano = (dados.ano | uppercase)"/>
              <div ng-messages="editForm.ano.$error" class="errors">
                <div ng-message="required">
                  Campo Obrigatório.
                </div>
              </div>
            </md-input-container>
  
            <md-input-container class="md-block" flex-gt-sm>
                <label>Marca/Modelo do Veiculo</label>
                <input ng-required="true" type="text" name="marcaModelo" ng-model="dados.marca_modelo" ng-change="dados.marca_modelo = (dados.marca_modelo | uppercase)"/>
                <div ng-messages="editForm.marcaModelo.$error" class="errors">
                  <div ng-message="required">
                    Campo Obrigatório.
                  </div>
                </div>
            </md-input-container>
  
            <md-input-container class="md-block" flex-gt-sm>
                  <label>Cor</label>
                  <input ng-required="true" type="text" name="cor" ng-model="dados.cor" ng-change="dados.cor = (dados.cor | uppercase)"/>
                  <div ng-messages="editForm.cor.$error" class="errors">
                    <div ng-message="required">
                      Campo Obrigatório.
                    </div>
                  </div>
            </md-input-container>
                
        </div>
        
        <div layout-gt-sm="row">

          <md-input-container class="md-block" flex-gt-sm>
            <label>UF da Placa</label>
            <md-select placeholder="UF da Placa" name="placa_uf" ng-model="dados.placa_uf">
                <md-option ng-repeat="estado in estados" ng-value="estado.sigla">
                    {{estado.sigla}}
                </md-option>
            </md-select>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
            <label>Município</label>
            <input  type="text" name="placa_municipio" ng-model="dados.placa_municipio"/>
        </md-input-container>
      
        <md-input-container class="md-block" flex-gt-sm>
          <label>Chassi</label>
          <input type="text" name="chassi" ng-model="dados.chassi" />
      </md-input-container>

      <md-input-container class="md-block" flex-gt-sm>
          <label>Nº do motor</label>
          <input type="text" name="numero_motor" ng-model="dados.numero_motor" />
      </md-input-container>
      </div>
      

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Pátio destino</label>
            <md-select placeholder="Pátio destino" required ng-required="true" name="id_patio" ng-model="dados.id_patio">
              <md-option ng-repeat="patio in patios" ng-value="patio.id">
                {{patio.nome}}
               </md-option>
            </md-select>
            <div ng-messages="editForm.patioDestino.$error" class="errors">
              <div ng-message="required">
                Campo Obrigatório.
              </div>
            </div>
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm>
            <label>Chaves</label>
            <md-select placeholder="Chaves"  required ng-required="false" name="chaves" ng-model="dados.chaves">
              <md-option value="SIM">SIM</md-option>
              <md-option value="NÃO">NÃO</md-option>
            </md-select>
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm>
            <label>Tabela de Tarifa</label>
            <md-select placeholder="Tabela de Tarifas"  ng-required="true" name="tabelatarifas" ng-model="dados.tabelaTarifas">
                <md-option ng-repeat="tabela in tabelaTarifas" ng-value="tabela.id">
                  {{tabela.descricao}}
                </md-option>
              </md-select>      
          </md-input-container>
        
        </div>

        <div layout-gt-sm="row">

            <md-input-container class="md-block" flex-gt-sm>
              <label>Tipo de Veiculo</label>
              <md-select placeholder="Tipo de Veiculo"  ng-required="true" name="tipo_veiculo" ng-model="dados.tipo_veiculo">
                  <md-option ng-repeat="tipoveiculo in tiposVeiculos" ng-value="tipoveiculo.id">
                    {{tipoveiculo.descricao}}
                  </md-option>
                </md-select>      
            </md-input-container>


          <md-input-container class="md-block" flex-gt-sm>
            <label>Estado do Veiculo</label>
            <md-select placeholder="Estado do Veiculo"  required ng-required="false" name="estado_veiculo" ng-model="dados.estado_veiculo">
              <md-option value="BOM">BOM</md-option>
              <md-option value="REGULAR">REGULAR</md-option>
              <md-option value="RUIM">RUIM</md-option>
            </md-select>
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm>
            <label>Veiculo Trancado</label>
            <md-select placeholder="Veiculo Trancado"  required ng-required="false" name="veiculo_trancado" ng-model="dados.veiculo_trancado">
              <md-option value="SIM">SIM</md-option>
              <md-option value="NÃO">NÃO</md-option>
            </md-select>
          </md-input-container>

        </div>   
        <br>
        <div>
          <md-button type="submit" ng-disabled="isDisabled" class="md-raised md-primary">Gravar</md-button>
          <md-button class="md-raised" ng-click="paginaAnterior()" aria-label="Voltar">Voltar</md-button>
        </div>
      </form>
    </md-card>
  </md-content>
</div>