<style>
    .video-title > figure {
        justify-content: flex-start !important;
    }
</style>
<link rel="stylesheet" href="/assets/css/ncvImages.css">
<div class="doc-demo-content doc-content">
    <md-content flex>
        <md-card layout-padding>
            <form name="editForm" ng-submit="editForm.$valid && gravarNCV(dados)" novalidate="novalidate">

                <md-tabs md-dynamic-height md-border-bottom>
                    <md-tab label="DADOS NCV">
                        <md-content flex style="background: white">
                            <br>

                            <div layout-gt-sm="row">

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>NCV</label>
                                    <input type="text" name="ncv" ng-model="dados.id" ng-readonly="true"/>
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Status</label>
                                    <md-select placeholder="Status"  required ng-required="false" name="status" ng-model="dados.status" ng-disabled="!alteraStatus">
                                        <md-option value="APREENDIDO">APREENDIDO</md-option>
                                        <md-option value="LIBERADO">LIBERADO</md-option>
                                        <md-option value="LIBERADO ARR">LIBERADO ARR</md-option>
                                        <md-option value="INATIVO">INATIVO</md-option>
                                        <md-option value="CANCELADO">CANCELADO</md-option>
                                        <md-option value="INVALIDADO">INVALIDADO</md-option>
                                    </md-select>
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Tipo</label>
                                    <md-select placeholder="Tipo" ng-disabled="tipo_situacao == 1 ? false : true" name="tipo" ng-model="dados.tipo">
                                        <md-option value="ADMINISTRATIVO">ADMINISTRATIVO</md-option>
                                        <md-option value="JUDICIAL">JUDICIAL</md-option>
                                        <md-option value="RENAJUD">RENAJUD</md-option>
                                    </md-select>
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Situação</label>
                                    <md-select placeholder="Situação" ng-disabled="tipo_situacao == 1 ? false : true" name="situacao" ng-model="dados.situacao">
                                        <md-option value="PREPARAÇÃO">PREPARAÇÃO</md-option>
                                        <md-option value="OFICIO">OFICIO</md-option>
                                        <md-option value="LEILOADO">LEILOADO</md-option>
                                        <md-option value="IRREGULAR">IRREGULAR</md-option>
                                        <md-option value="REGULAR">REGULAR</md-option>
                                    </md-select>
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Tipo de Veiculo</label>
                                    <md-select placeholder="Tipo de Veiculo"  ng-required="true" name="tipoveiculo" ng-model="dados.tipo_veiculo">
                                        <md-option ng-repeat="tipoveiculo in tiposVeiculos" ng-value="tipoveiculo.id">
                                            {{tipoveiculo.descricao}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>

                            </div>

                            <div layout-gt-sm="row">

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Placa</label>
                                    <input ng-required="true" type="text" name="placa" ng-model="dados.placa" ng-change="dados.placa = (dados.placa | uppercase)"/>
                                    <div ng-messages="editForm.placa.$error" role="alert">
                                        <div ng-message-exp="['required']">
                                            Campo Obrigatório.
                                        </div>
                                    </div>
                                </md-input-container>
                                <md-input-container>
                                    <div style="margin-right: 20px;  cursor: pointer;" >
                                        <md-icon ng-click="buscaPlaca(dados.placa)"> search </md-icon>
                                    </div>
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Ano</label>
                                    <input ng-required="true" type="text" name="ano" ng-model="dados.ano" ng-change="dados.ano = (dados.ano | uppercase)"/>
                                    <div ng-messages="editForm.ano.$error" class="errors">
                                        <div ng-message="required">
                                            Campo Obrigatório.
                                        </div>
                                    </div>
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Marca/Modelo</label>
                                    <input ng-required="true" type="text" name="marcaModelo" ng-model="dados.marca_modelo" ng-change="dados.marca_modelo = (dados.marca_modelo | uppercase)"/>
                                    <div ng-messages="editForm.marcaModelo.$error" class="errors">
                                        <div ng-message="required">
                                            Campo Obrigatório.
                                        </div>
                                    </div>
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Cor</label>
                                    <input ng-required="true" type="text" name="cor" ng-model="dados.cor" ng-change="dados.cor = (dados.cor | uppercase)"/>
                                    <div ng-messages="editForm.cor.$error" class="errors">
                                        <div ng-message="required">
                                            Campo Obrigatório.
                                        </div>
                                    </div>
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>UF da Placa</label>
                                    <md-select placeholder="UF da Placa" style="width: 100px"  ng-required="false" name="placa_uf" ng-model="dados.placa_uf">
                                        <md-option ng-repeat="estado in estados" ng-value="estado.sigla">
                                            {{estado.sigla}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Município</label>
                                    <input  type="text" name="placa_municipio" ng-model="dados.placa_municipio"/>
                                </md-input-container>



                            </div>

                            <div layout-gt-sm="row">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Estado do Veiculo</label>
                                    <md-select placeholder="Estado do Veiculo"  required ng-required="false" name="estado_veiculo" ng-model="dados.estado_veiculo">
                                        <md-option value="BOM">BOM</md-option>
                                        <md-option value="REGULAR">REGULAR</md-option>
                                        <md-option value="RUIM">RUIM</md-option>
                                    </md-select>
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Veiculo Trancado</label>
                                    <md-select placeholder="Veiculo Trancado"  required ng-required="false" name="veiculo_trancado" ng-model="dados.veiculo_trancado">
                                        <md-option value="SIM">SIM</md-option>
                                        <md-option value="NÃO">NÃO</md-option>
                                    </md-select>
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Chassi</label>
                                    <input type="text" name="chassi" ng-model="dados.chassi" />
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Motor</label>
                                    <md-select placeholder="Motor" name="motor" ng-model="dados.tem_motor">
                                        <md-option value="1">SIM</md-option>
                                        <md-option value="0">NÃO</md-option>
                                    </md-select>
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Numero Motor</label>
                                    <input type="text" name="numero_motor" ng-model="dados.numero_motor" />
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Rua</label>
                                    <input type="text" name="rua" ng-model="dados.rua" />
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Lote</label>
                                    <input type="text" name="lote" ng-model="dados.lote" />
                                </md-input-container>

                            </div>

                            <div layout-gt-sm="row">

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Pátio</label>
                                    <md-select placeholder="Pátio" style="width: 90%" name="patio" ng-model="dados.id_patio" ng-change="buscaCidadesByPatio()">
                                        <md-option  ng-repeat="patio in patios" ng-value="patio.id_patio" >
                                            {{patio.nome}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>


                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Cidade</label>
                                    <md-select placeholder="Cidade" name="cidade" ng-model="dados.id_cidade" >

                                        <md-option ng-repeat="cidade in CidadesByPatio" ng-value="cidade.id_cidade">
                                        {{cidade.nome}}
                                       </md-option>
                                    </md-select>
                                </md-input-container>


                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Chaves</label>
                                    <md-select placeholder="Chaves"  required ng-required="false" name="chaves" ng-model="dados.chaves">
                                        <md-option value="1">SIM</md-option>
                                        <md-option value="0">NÃO</md-option>
                                    </md-select>
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Edital</label>
                                    <input type="text" name="edital" ng-model="dados.edital" />
                                </md-input-container>


                            </div>

                            <div layout-gt-sm="row">

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Pátio Destino</label>
                                    <input ng-readonly="true" type="text" name="Patio_destino" ng-model="patioDestino" 
                                        ng-change="patioDestino = (patioDestino | uppercase)"/>
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm >
                                    <label>Data Transferencia</label>
                                    <md-datepicker name="data_transferencia" ng-model="transferencia_veiculos.data_transferencia" ng-disabled="true"></md-datepicker>
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>No Pátio</label>
                                    <input type="text" name="no_patio" ng-model="dados.no_patio_desc" ng-readonly="true"/>
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Localizado Leilão</label>
                                    <input type="text" name="localizado_leilao" ng-model="dados.localizado_leilao_desc" ng-readonly="true"/>
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Tabela de Tarifa</label>
                                    <md-select placeholder="Tabela de Tarifas"  ng-required="true" name="tabelatarifas" ng-model="dados.id_tarifa">
                                        <md-option ng-repeat="tabela in tabelaTarifas" ng-value="tabela.id">
                                            {{tabela.descricao}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>

                            </div>


                            <div layout-gt-sm="row">

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Adicionado por</label>
                                    <input ng-readonly="true" type="text" name="adicionado" ng-model="dados.adicionado" ng-change="dados.adicionado = (dados.adicionado | uppercase)"/>
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Alterado por</label>
                                    <input ng-readonly="true" type="text" name="alterado" ng-model="dados.alterado" ng-change="dados.alterado = (dados.alterado | uppercase)"/>
                                </md-input-container>

                            </div>

                                <div layout-gt-sm="row">
                                    <md-button class="md-raised md-primary" aria-label="Adicionar" ng-click="gravar_NCV(dados)"  ng-hide="Userconsult" ng-disabled="_gravar || _consultar">Gravar</md-button>
                                    <md-button class="md-raised" ng-click="fechar()" aria-label="Fechar">Fechar</md-button>
                                    <a href="" style="margin-left: 400px; color: mediumblue;"  ng-click="mapa()" >Geolocalização/RFID</a>

                                    <a href="" style="margin-left: 20px;color: mediumblue;" ng-click="GotoDetran()">Consulta Detran</a>
                                </div>

                        </md-content>
                    </md-tab>
                    <md-tab label="GUINCHO">
                        <md-content flex style="background: white">
                            <form name="editForm" ng-submit="editForm.$valid && gravar(guincho)" novalidate="novalidate">
                            <br>
                            <br>
                            <div layout-gt-sm="row">


                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Blitz ?</label>
                                    <md-select placeholder="Blitz ?"  required ng-required="false" name="blitz" ng-model="guincho.blitz">
                                        <md-option value="SIM">SIM</md-option>
                                        <md-option value="NÃO">NÃO</md-option>
                                    </md-select>
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Reboque</label>
                                    <md-select placeholder="Reboque" ng-required="false" name="id_reboque" ng-model="guincho.id_reboque" ng-change="buscaMotoristas(reboque)">
                                        <md-option ng-repeat="reboque in reboques" ng-value="reboque.id">
                                            {{reboque.descricao}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Motorista</label>
                                    <md-select placeholder="Motorista" ng-required="false" name="id_motorista" ng-model="guincho.id_motorista" >
                                        <md-option ng-repeat="motorista in motoristas" ng-value="motorista.id">
                                            {{motorista.nome}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                            <div layout-gt-sm="row">
                                <br>
                                <br>
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Guincho Coletivo ?</label>
                                    <md-select placeholder="Guincho Coletivo ?"  required ng-required="false" name="guincho_coletivo" ng-model="guincho.guincho_coletivo">
                                        <md-option value="SIM">SIM</md-option>
                                        <md-option value="NÃO">NÃO</md-option>
                                    </md-select>
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>KM Percorrido</label>
                                    <input required ng-required="false" type="number" name="km_percorrido" ng-model="guincho.km_percorrido" />
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Ordem Serviço</label>
                                    <input required ng-required="false" type="text" name="ordem_servico" ng-model="guincho.ordem_servico" />
                                </md-input-container>
                            
                            </div>

                            <div layout-gt-sm="row">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Valor Pedágio</label>
                                    <input type="text" name="valorPedagio" ng-model="guincho.pedagio" money-mask money-mask-prepend="R$ "
                                    title="Informar o valor de despesas com pedágio"/>
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Observação</label>
                                    <input type="text" name="observacaoPedagio" ng-model="guincho.observacao_pedagio" style="width: 800px"
                                    title="Informar observações referente ao valor gasto com pedágio"/>
                                </md-input-container>
                            
                            </div>

                            
                            <div layout-gt-sm="row">

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label> Valor Desconto</label>
                                    <input type="text" name="valorDesconto" ng-model="guincho.desconto" money-mask money-mask-prepend="R$ "
                                    title="Informar o valor a ser descontado do motorista" />
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Observação</label>
                                    <input type="text" name="observacaoDesconto" ng-model="guincho.observacao_desconto" style="width: 800px"
                                    title="Informar observações referente ao valor que está sendo descontado do motorista"/>
                                </md-input-container>

                            </div>
                            
                            <div>
                                <md-button class="md-raised md-primary" aria-label="Adicionar" ng-click="gravar_guincho($event)"  ng-hide="Userconsult"  ng-disabled="_gravar || _consultar">Gravar</md-button>
                                <md-button class="md-raised md-primary" aria-label="Adicionar" ng-click="adicionarExtra($event)"  ng-hide="Userconsult"  ng-disabled="_gravar || _consultar">Adicionar Extras</md-button>
                                <md-button class="md-raised" ng-click="fechar()" aria-label="Fechar">Fechar</md-button>
                            </div>
                            <br>
                            <br>
                        </form>

                        </md-content>
                    </md-tab>

                    <md-tab label="APREENSÃO">
                        <md-content flex style="background: white">
                            <br>
                            <h3>Motivos da Apreensão</h3>
                            <div layout-gt-sm="row">
                                <md-checkbox style="width: 25%" ng-model="apreensao.cb_adulterado" aria-label="Checkbox 1">
                                    ADULTERADO
                                </md-checkbox>
                                <md-checkbox style="width: 25%" ng-model="apreensao.cb_crimestransito" aria-label="Checkbox 1">
                                    CRIMES DE TRANSITO
                                </md-checkbox>
                                <md-checkbox style="width: 25%" ng-model="apreensao.cb_emtela" aria-label="Checkbox 1">
                                    EM TELA
                                </md-checkbox>
                                <md-checkbox style="width: 25%" ng-model="apreensao.cb_foracirculacao" aria-label="Checkbox 1">
                                    FORA DE CIRCULAÇÃO
                                </md-checkbox>
                            </div>
                            <div layout-gt-sm="row">
                                <md-checkbox style="width: 25%" ng-model="apreensao.cb_judicial" aria-label="Checkbox 1">
                                    JUDICIAL
                                </md-checkbox>
                                <md-checkbox style="width: 25%" ng-model="apreensao.cb_leasing" aria-label="Checkbox 1">
                                    LEASING
                                </md-checkbox>
                                <md-checkbox style="width: 25%" ng-model="apreensao.cb_motorqueixa" aria-label="Checkbox 1">
                                    MOTOR COM QUEIXA
                                </md-checkbox>
                                <md-checkbox style="width: 25%" ng-model="apreensao.cb_pedirbaixa" aria-label="Checkbox 1">
                                    PEDIR BAIXA
                                </md-checkbox>
                            </div>
                            <div layout-gt-sm="row">
                                <md-checkbox style="width: 25%" ng-model="apreensao.cb_policialcivil" aria-label="Checkbox 1">
                                    POLICIAL CIVIL
                                </md-checkbox>
                                <md-checkbox style="width: 25%" ng-model="apreensao.cb_traficodedrogas" aria-label="Checkbox 1">
                                    TRÁFICO DE DROGAS
                                </md-checkbox>
                                <md-checkbox style="width: 25%" ng-model="apreensao.cb_roubofurto" aria-label="Checkbox 1">
                                    ROUBO/FURTO
                                </md-checkbox>
                                <md-checkbox style="width: 25%" ng-model="apreensao.cb_semdocumentocrv" aria-label="Checkbox 1">
                                    SEM DOCUMENTO/CRV
                                </md-checkbox>
                            </div>
                            <div layout-gt-sm="row">
                                <md-checkbox style="width: 25%" ng-model="apreensao.cb_infracao" aria-label="Checkbox 1">
                                    INFRAÇÃO DE TRANSITO
                                </md-checkbox>
                            </div>

                            <div layout-gt-sm="row">

                                <md-input-container class="md-block" flex-gt-sm >
                                    <label>Data Apreensão</label>
                                    <md-datepicker name="data" ng-model="apreensao.data" ng-disabled="tipo.user != 'admin' && !altera_data_apreensao"></md-datepicker>
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Hora Apreensão</label>
                                    <input required ng-required="false" type="text" name="hora" ng-model="apreensao.hora" ng-disabled="tipo.user != 'admin' && !altera_data_apreensao" mask="99:99"/>
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Autoridade</label>
                                    <md-select placeholder="Autoridade" ng-required="false" name="autoridade" ng-model="apreensao.id_autoridade">
                                        <md-option ng-repeat="autoridade in autoridades" ng-value="autoridade.id" ng-click="autoridade(autoridade.descricao)">
                                            {{autoridade.descricao}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Boletim Ocorrência</label>
                                    <input required ng-required="false" type="text" name="boletim_ocorrencia" ng-model="apreensao.boletim_ocorrencia" />
                                </md-input-container>

                            </div>

                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Local da Apreensão</label>
                                <input ng-required="false" type="text" name="local" ng-model="apreensao.local" ng-change="apreensao.local = (apreensao.local | uppercase)"/>
                            </md-input-container>

                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Referencia da Apreensão</label>
                                <input ng-required="false" type="text" name="referencia" ng-model="apreensao.referencia" ng-change="apreensao.referencia = (apreensao.referencia | uppercase)"/>
                            </md-input-container>

                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Motivo da Apreensão</label>
                                <md-select placeholder="Motivo da Apreensão" ng-required="false" name="motivoApreensao" ng-model="apreensao.id_motivo">
                                  <md-option ng-repeat="motivo in motivos" ng-value="motivo.id">
                                    {{motivo.descricao}}
                                   </md-option>
                                </md-select>
                              </md-input-container>

                            <div>
                                <md-button class="md-raised md-primary" aria-label="Adicionar" ng-click="gravar_apreensao($event)" ng-hide="Userconsult"  ng-disabled="_gravar || _consultar">Gravar</md-button>
                                <md-button class="md-raised" ng-click="fechar()" aria-label="Fechar">Fechar</md-button>
                            </div>
                            <br>
                            <br>

                        </md-content>
                    </md-tab>

                    <md-tab label="HISTÓRICOS">
                        <br>
                        <md-content flex style="background: white">

                            <div layout-gt-sm="row">
                                <md-input-container class="md-block" >
                                    <label>Tipo</label>
                                    <md-select placeholder="Tipo"  required ng-required="true" name="tipo" ng-model="historicos.tipo">
                                        <md-option value="ACESSORIOS">ACESSORIOS</md-option>
                                        <md-option value="AVARIAS">AVARIAS</md-option>
                                        <md-option value="IDENTIFIÇÃO">IDENTIFIÇÃO</md-option>
                                        <md-option value="INFO SISTEMA LEILÃO">INFO SISTEMA LEILÃO</md-option>
                                        <md-option value="JURIDICO">JURIDICO</md-option>
                                        <md-option value="LEILÃO">LEILÃO</md-option>
                                        <md-option value="LIBERAÇÃO">LIBERAÇÃO</md-option>
                                        <md-option value="OBJ PESSOAIS">OBJ PESSOAIS</md-option>
                                        <md-option value="OBSERVAÇÃO">OBSERVAÇÃO</md-option>
                                        <md-option value="SIGILOSO">SIGILOSO</md-option>
                                    </md-select>
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Descrição</label>
                                    <input ng-required="false" type="text" name="descricao" ng-model="historicos.descricao" ng-change="historicos.descricao = (historicos.descricao | uppercase)"/>
                                </md-input-container>
                            </div>
                            <br>
                            <div>
                                <md-button class="md-raised md-primary" aria-label="Adicionar" ng-click="gravar_historicos($event)"  ng-hide="Userconsult" >Gravar</md-button>
                                <md-button class="md-raised" ng-click="fechar()" aria-label="Fechar">Fechar</md-button>
                            </div>
                            <br>

                        </md-content>

                        <section  class="md-whiteframe-z1 " ng-cloak layout="column" >

                            <mdt-table paginated-rows="{isEnabled: true, rowsPerPageValues: [20,50, 100]}"
                                       animate-sort-icon="true"
                                       mdt-row="{
                                       'data': listaHistoricos,
                                       'table-row-id-key': 'id',
                                       'column-keys': [ 'tipo','descricao','usuario','data']
                                       }"
                                       >
                                <mdt-custom-cell column-key="editar">
                                    <mdt-custom-cell-button icon='edit' class="md-icon-button md-secondary" ng-click="clientScope.detalhe($event, rowId)" aria-label="Editar"></md-custom-cell-button>
                                </mdt-custom-cell>

                                <mdt-header-row>
                                    <mdt-column align-rule="left" column-sort="false">Tipo</mdt-column>
                                    <mdt-column align-rule="left" column-sort="false">Descrição</mdt-column>
                                    <mdt-column align-rule="left" column-sort="false">Usuario</mdt-column>
                                    <mdt-column align-rule="left" column-sort="false">Data</mdt-column>
                                </mdt-header-row>



                            </mdt-table>

                        </section>

                    </md-tab>


                    <md-tab label="CHECKLIST">

                        <md-content flex style="background: white">

                            <md-card style="width: 99%">

                                <md-input-container style="margin: 1%">
                                    <h3>Acessórios</h3>
                                    <div layout-gt-sm="row">
                                        <md-checkbox style="width: 25%" ng-model="checklist.arcondicionado" aria-label="Checkbox 1">
                                            AR CONDICIONADO
                                        </md-checkbox>
                                        <md-checkbox style="width: 25%" ng-model="checklist.vidroeletrico" aria-label="Checkbox 1">
                                            VIDRO ELETRICO
                                        </md-checkbox>
                                        <md-checkbox style="width: 25%" ng-model="checklist.cambiomanual" aria-label="Checkbox 1">
                                            CÂMBIO MANUAL
                                        </md-checkbox>
                                        <md-checkbox style="width: 25%" ng-model="checklist.cambioautomatico" aria-label="Checkbox 1">
                                            CÂMBIO AUTOMATICO
                                        </md-checkbox>
                                    </div>

                                    <div layout-gt-sm="row">
                                        <md-checkbox style="width: 25%" ng-model="checklist.acendedor" aria-label="Checkbox 1">
                                            ACENDEDOR
                                        </md-checkbox>
                                        <md-checkbox style="width: 25%" ng-model="checklist.radiocd" aria-label="Checkbox 1">
                                            RADIO/CD
                                        </md-checkbox>
                                        <md-checkbox style="width: 25%" ng-model="checklist.frente" aria-label="Checkbox 1">
                                            FRENTE
                                        </md-checkbox>
                                        <md-checkbox style="width: 25%" ng-model="checklist.tela" aria-label="Checkbox 1">
                                            TELA
                                        </md-checkbox>
                                    </div>

                                    <div layout-gt-sm="row">
                                        <md-checkbox style="width: 25%" ng-model="checklist.extintor" aria-label="Checkbox 1">
                                            EXTINTOR
                                        </md-checkbox>
                                        <md-checkbox style="width: 25%" ng-model="checklist.pneustep" aria-label="Checkbox 1">
                                            PNEU ESTEPE
                                        </md-checkbox>
                                        <md-checkbox style="width: 25%" ng-model="checklist.macaco" aria-label="Checkbox 1">
                                            MACACO
                                        </md-checkbox>
                                        <md-checkbox style="width: 25%" ng-model="checklist.triangulo" aria-label="Checkbox 1">
                                            TRIANGULO
                                        </md-checkbox>
                                    </div>

                                    <div layout-gt-sm="row">
                                        <md-checkbox style="width: 25%" ng-model="checklist.rodacomum" aria-label="Checkbox 1">
                                            RODA COMUM
                                        </md-checkbox>
                                        <md-checkbox style="width: 25%" ng-model="checklist.rodaespecial" aria-label="Checkbox 1">
                                            RODA ESPECIAL
                                        </md-checkbox>
                                        <md-checkbox style="width: 25%" ng-model="checklist.calotas" aria-label="Checkbox 1">
                                            CALOTAS
                                        </md-checkbox>
                                        <md-checkbox style="width: 25%" ng-model="checklist.antena" aria-label="Checkbox 1">
                                            ANTENA
                                        </md-checkbox>
                                    </div>

                                    <div layout-gt-sm="row">
                                        <md-checkbox style="width: 25%" ng-model="checklist.documento" aria-label="Checkbox 1">
                                            DOCUMENTO
                                        </md-checkbox>
                                        <md-checkbox style="width: 25%" ng-model="checklist.carrofuncionando" aria-label="Checkbox 1">
                                            CARRO FUNCIONANDO
                                        </md-checkbox>
                                        <md-checkbox style="width: 25%" ng-model="checklist.bateria" aria-label="Checkbox 1">
                                            BATERIA
                                        </md-checkbox>
                                        <md-checkbox style="width: 25%" ng-model="checklist.chaverodas" aria-label="Checkbox 1">
                                            CHAVE DE RODAS
                                        </md-checkbox>
                                    </div>

                                </md-input-container>

                            </md-card>

                            <!--                <md-card style="width: 98%">
                            -->
                            <br>
                            <div layout-gt-sm="row">

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>MARCA BATERIA</label>
                                    <input ng-required="false" type="text" name="marcabateria" ng-model="checklist.marcabateria" ng-change="checklist.marcabateria = (checklist.marcabateria | uppercase)"/>
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>PINTURA</label>
                                    <md-select placeholder="PINTURA"  required ng-required="true" name="pintura" ng-model="checklist.estadopintura">
                                        <md-option value="BOM">BOM</md-option>
                                        <md-option value="REGULAR">REGULAR</md-option>
                                        <md-option value="RUIM">RUIM</md-option>
                                    </md-select>
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>TAPEÇARIA</label>
                                    <md-select placeholder="TAPEÇARIA"  required ng-required="true" name="tapecaria" ng-model="checklist.estadotapecaria">
                                        <md-option value="BOM">BOM</md-option>
                                        <md-option value="REGULAR">REGULAR</md-option>
                                        <md-option value="RUIM">RUIM</md-option>
                                    </md-select>
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>PNEUS</label>
                                    <md-select placeholder="PNEUS"  required ng-required="true" name="pneus" ng-model="checklist.estadopneus">
                                        <md-option value="BOM">BOM</md-option>
                                        <md-option value="REGULAR">REGULAR</md-option>
                                        <md-option value="RUIM">RUIM</md-option>
                                    </md-select>
                                </md-input-container>
                                <br>
                                <br>

                            </div>

                            <!--                </md-card>
                            -->






                            <br>
                            <br>
                        </md-content>



                    <div class="body">

                        <div class="content" ng-repeat="imagemChecklist in listaImagensChecklist">
                            <div class="header">

                                <md-select placeholder="Tipo" style="color: white;" required ng-required="false" name="tipo"
                                    ng-model="imagemChecklist.tipo" ng-init="imagemChecklist.tipo">
                                    <md-option value="Lateral Direita">LATERAL DIREITA</md-option>
                                    <md-option value="Lateral Esquerda">LATERAL ESQUERDA</md-option>
                                    <md-option value="Traseira">TRASEIRA</md-option>
                                    <md-option value="Dianteira">DIANTEIRA</md-option>
                                    <md-option value="Teto">TETO</md-option>
                                    <md-option value="Outros">OUTROS</md-option>
                                    <md-option value="combustivel">COMBUSTIVEL</md-option>
                                    <md-option value="km">VELOCIMETRO</md-option>
                                </md-select>

                            </div>
                            <div class="canva">

                                <img ng-src="{{urlImagensChecklist + imagemChecklist.imagens}}">

                            </div>
                            <div class="options">

                                    <button class="open">
                                        <a href="{{urlImagensChecklist + imagemChecklist.imagens}}" target="_blanck">Visualizar</a>
                                    </button>




                                <md-button class="md-raised md-primary" ng-click="apagarChecklist(imagemChecklist)" ng-disabled="!_apagar">
                                    Apagar</md-button>


                            </div>

                        </div>



                    </div>

                    </md-tab>


                    <md-tab label="CONFERENTE">
                        <md-content flex style="background: white">
                            <div>
                                <md-content>

                                    <md-grid-list md-cols-gt-md="1" md-cols-md="1" md-cols-sm="1" md-gutter="15px"   md-row-height="1:1">
                                        <div layout-gt-sm="row">

                                            <md-input-container class="md-block">
                                                <label>Tipo</label>
                                                <md-select placeholder="Tipo"  required ng-required="false" name="tipo" ng-model="conferente.novotipo">
                                                    <md-option value="Chassi">CHASSI</md-option>
                                                    <md-option value="Chassi Pinado">CHASSI PINADO</md-option>
                                                    <md-option value="Cofre Motor">COFRE MOTOR</md-option>
                                                    <md-option value="Dianteira">DIANTEIRA</md-option>
                                                    <md-option value="Lateral Direita">LATERAL DIREITA</md-option>
                                                    <md-option value="Lateral Esquerda">LATERAL ESQUERDA</md-option>
                                                    <md-option value="Lote">LOTE</md-option>
                                                    <md-option value="Motor">MOTOR</md-option>
                                                    <md-option value="Motor Pinado">MOTOR PINADO</md-option>
                                                    <md-option value="Outros">OUTROS</md-option>
                                                    <md-option value="Painel">PAINEL</md-option>
                                                    <md-option value="Placa">PLACA</md-option>
                                                    <md-option value="Placa Cortada">PLACA CORTADA</md-option>
                                                    <md-option value="Teto">TETO</md-option>
                                                    <md-option value="Traseira">TRASEIRA</md-option>
                                                </md-select>
                                            </md-input-container>
                                            <md-input-container  flex-gt-sm>
                                                <label>Descrição</label>
                                                <input ng-required="false" type="text" name="novadescricao" ng-model="conferente.novadescricao" ng-change="conferente.novadescricao = (conferente.novadescricao | uppercase)"/>
                                            </md-input-container>
                                            <md-input-container  flex-gt-sm>

                                                <md-button class="md-raised md-primary" title="Carregar Imagem"
                                                            ng-disabled="!conferente.novotipo"
                                                           name="imagemConferente"
                                                           ng-model="novaimagem"
                                                           ngf-pattern="'.jpg,.jpeg'"
                                                           ngf-accept="'.jpg,.jpeg'"
                                                           ngf-select="uploadFotoConferente($file)"
                                                           ngf-capture="'camera'"
                                                           ngf-max-size="6MB"
                                                           ngf-min-height="50">SELECIONAR FOTO</md-button>
                                            </md-input-container>

                                        </div>
                                        <div class="bodyConferentePreLeilao" ng-repeat="(key,value) in listaImagensConferente">
                                            <h1>Mês e ano {{key}}</h1>

                                            <div class="content">
                                                <div ng-repeat="imagemConferente in value">
                                                    <div class="canva">
                                                        <div class="header">
                                                            <span>
                                                                {{imagemConferente.tipo}}
                                                            </span>
                                                        </div>
                                                        <img ng-src="{{urlImagensConferente+imagemConferente.imagem+'.jpg'}}" />
                                                        <div class="description">
                                                            <span ng-show="{{imagemConferente.tipo == 'Chassi'}}">
                                                                Chassi : {{imagemConferente.chassi}}
                                                            </span>
                                                            <span ng-show="{{imagemConferente.tipo === 'Motor'}}">
                                                                Motor : {{imagemConferente.motor}}
                                                            </span>

                                                            <span>{{imagemConferente.data}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </md-grid-list>


                                </md-content>
                            </div>

                            <br>
                            <br>
                        </md-content>
                    </md-tab>


                    <md-tab label="FOTOS">

                            <br>

                            <div layout-gt-sm="row">

                                <md-input-container class="md-block">
                                    <label>Tipo</label>
                                    <md-select placeholder="Tipo"  required ng-required="true" name="tipo" ng-model="fotos.novotipo">
                                        <md-option value="LATERAL DIREITA">LATERAL DIREITA</md-option>
                                        <md-option value="LATERAL ESQUERDA">LATERAL ESQUERDA</md-option>
                                        <md-option value="TRASEIRA">TRASEIRA</md-option>
                                        <md-option value="DIANTEIRA">DIANTEIRA</md-option>
                                        <md-option value="TETO">TETO</md-option>
                                        <md-option value="OUTROS">OUTROS</md-option>
                                        <md-option value="COMBUSTIVEL">COMBUSTIVEL</md-option>
                                        <md-option value="KM">VELOCIMETRO</md-option>
                                        <md-option value="LIBERAÇÃO">LIBERAÇÃO</md-option>

                            </md-select>
                                </md-input-container>
                                <md-input-container  flex-gt-sm>
                                    <label>Descrição</label>
                                    <input ng-required="false" type="text" name="novadescricao" ng-model="fotos.novadescricao" ng-change="fotos.novadescricao = (fotos.novadescricao | uppercase)"/>
                                </md-input-container>
                                <md-input-container  flex-gt-sm>

                                    <md-button class="md-raised md-primary" title="Carregar Imagem" ng-disabled="!fotos.novotipo"
                                               name="imagemVeiculo"
                                               ng-model="novaimagem"
                                               ngf-pattern="'.jpg,.jpeg,.png'"
                                               ngf-accept="'.jpg,.jpeg,.png'"
                                               ngf-select="uploadFoto($file)"
                                               ngf-capture="'camera'"
                                               ngf-max-size="6MB"
                                               ngf-min-height="50">SELECIONAR FOTO</md-button>
                                </md-input-container>
                                <md-input-container  flex-gt-sm>
                                 <md-button 
                                    class="md-raised md-primary" 
                                    title="GERAR LAUDO"
                                    style="background-color: #009688;"
                                    ng-click="gerarLaudo()"
                                    >
                                        GERAR LAUDO
                                 </md-button>
                                </md-input-container>
                            </div>



                                <div class="body">

                                    <div class="content" ng-repeat="imagem in listaImagens">
                                        <div class="header">

                                            <md-select placeholder="Tipo" style="color: white;" required ng-required="false" name="tipo"
                                                ng-model="imagem.tipo" ng-init="imagem.tipo">
                                                <md-option value="LATERAL DIREITA">LATERAL DIREITA</md-option>
                                                <md-option value="LATERAL ESQUERDA">LATERAL ESQUERDA</md-option>
                                                <md-option value="TRASEIRA">TRASEIRA</md-option>
                                                <md-option value="DIANTEIRA">DIANTEIRA</md-option>
                                                <md-option value="TETO">TETO</md-option>
                                                <md-option value="OUTROS">OUTROS</md-option>
                                                <md-option value="COMBUSTIVEL">COMBUSTIVEL</md-option>
                                                <md-option value="KM">VELOCIMETRO</md-option>
                                                <md-option value="LIBERAÇÃO">LIBERAÇÃO</md-option>

                                                    </md-select>

                                        </div>
                                        <div class="canva">

                                            <img ng-src="{{urlFotos+imagem.imagem}}">

                                        </div>
                                        <div class="options">

                                            <button class="open">
                                                <a href="{{urlFotos+imagem.imagem}}" target="_blanck">Visualizar</a>
                                            </button>


                                            <md-button class="md-raised md-primary" ng-click="apagarImagem(imagem)"
                                                ng-disabled="!_apagar">
                                                Apagar</md-button>


                                        </div>

                                    </div>

                                </div>



                            <br>
                            <br>


                    </md-tab>


                    <md-tab label="DOCUMENTOS">
                            <br>
                            <br>
                            <div layout-gt-sm="row">

                                <md-input-container class="md-block">
                                    <label>Tipo</label>
                                    <md-select placeholder="Tipo"  required ng-required="true" name="tipo" ng-model="documentos.novotipo">
                                        <md-option value="ALVARA">ALVARA</md-option>
                                        <md-option value="C.R.">C.R.</md-option>
                                        <md-option value="CHECKLIST">CHECKLIST</md-option>
                                        <md-option value="DOCTOS APREENSÃO">DOCTOS APREENSÃO</md-option>
                                        <md-option value="DOCTOS LIBERAÇÃO">DOCTOS LIBERAÇÃO</md-option>
                                        <md-option value="DOCTOS PAGAMENTO">DOCTOS PAGAMENTO</md-option>
                                        <md-option value="GERAL">GERAL</md-option>
                                        <md-option value="NOTA DE VENDA">NOTA DE VENDA</md-option>
                                        <md-option value="NOTA FISCAL ESTADIA">NOTA FISCAL ESTADIA</md-option>
                                        <md-option value="NOTA FISCAL GUINCHO">NOTA FISCAL GUINCHO</md-option>
                                        <md-option value="JUDICIAL">JUDICIAL</md-option>
                                    </md-select>
                                </md-input-container>
                                <md-input-container  flex-gt-sm>
                                    <label>Descrição</label>
                                    <input required ng-required="true" type="text" name="descricao" ng-model="documentos.novadescricao" ng-change="documentos.novadescricao = (documentos.novadescricao | uppercase)"/>
                                </md-input-container>
                                <md-input-container  flex-gt-sm>

                                    <md-button class="md-raised md-primary" title="Carregar Imagem" ng-disabled="!documentos.novotipo || !documentos.novadescricao"
                                               name="imagemDocumento"
                                               ng-model="novaimagemDocumento"
                                               ngf-pattern="'.jpg,.jpeg,.pdf,.png'"
                                               ngf-accept="'.jpg,.jpeg,.pdf,.png'"
                                               ngf-select="uploadDocumento($file)"
                                               ngf-capture="'camera'"
                                               ngf-max-size="6MB"
                                               ngf-min-height="50">BUSCAR IMAGEM DOCTO</md-button>

                                </md-input-container>

                            </div>


                            <h1 style="text-align: center; font-size: 15px;">Documentos PDF</h1>
                            <br>



                            <div class="body">

                                <div class="content" ng-repeat="imagemPdf in listaDocumentosPdf">
                                    <div class="header">

                                        <md-select placeholder="Tipo"  required ng-required="false" name="tipo" ng-model="imagemPdf.tipo" ng-required>
                                            <md-option value="ALVARA">ALVARA</md-option>
                                            <md-option value="C.R.">C.R.</md-option>
                                            <md-option value="CHECKLIST">CHECKLIST</md-option>
                                            <md-option value="DOCTOS APREENSÃO">DOCTOS APREENSÃO</md-option>
                                            <md-option value="DOCTOS LIBERAÇÃO">DOCTOS LIBERAÇÃO</md-option>
                                            <md-option value="DOCTOS PAGAMENTO">DOCTOS PAGAMENTO</md-option>
                                            <md-option value="GERAL">GERAL</md-option>
                                            <md-option value="NOTA DE VENDA">NOTA DE VENDA</md-option>
                                            <md-option value="NOTA FISCAL ESTADIA">NOTA FISCAL ESTADIA</md-option>
                                            <md-option value="NOTA FISCAL GUINCHO">NOTA FISCAL GUINCHO</md-option>
                                            <md-option value="JUDICIAL">JUDICIAL</md-option>
                                        </md-select>

                                    </div>
                                    <div class="canva">

                                        <iframe ng-src="{{trustSrc(urlDocumentos+imagemPdf.imagem)}}"  type="application/pdf"></iframe>

                                    </div>
                                    <div class="options">

                                        <button class="open">
                                            <a href="{{trustSrc(urlDocumentos+imagemPdf.imagem)}}" target="_blanck" style="color: white;">Visualizar</a>
                                        </button>

                                        <md-button class="md-raised md-primary" ng-click="apagarDocumento(imagemPdf)" ng-disabled="!_apagar">Apagar</md-button>


                                    </div>

                                </div>

                            </div>


                                <br>
                                <br>

                                <h1 style="text-align: center; font-size: 15px;">Documentos Imagens</h1>
                                <br>


                            <div class="body">

                                <div class="content" ng-repeat="imagem in listaDocumentosImagem">
                                    <div class="header">

                                        <md-select placeholder="Tipo"  required ng-required="true" name="tipo" ng-model="imagem.tipo">
                                            <md-option value="ALVARA">ALVARA</md-option>
                                            <md-option value="C.R.">C.R.</md-option>
                                            <md-option value="CHECKLIST">CHECKLIST</md-option>
                                            <md-option value="DOCTOS APREENSÃO">DOCTOS APREENSÃO</md-option>
                                            <md-option value="DOCTOS LIBERAÇÃO">DOCTOS LIBERAÇÃO</md-option>
                                            <md-option value="DOCTOS PAGAMENTO">DOCTOS PAGAMENTO</md-option>
                                            <md-option value="GERAL">GERAL</md-option>
                                            <md-option value="NOTA DE VENDA">NOTA DE VENDA</md-option>
                                            <md-option value="NOTA FISCAL ESTADIA">NOTA FISCAL ESTADIA</md-option>
                                            <md-option value="NOTA FISCAL GUINCHO">NOTA FISCAL GUINCHO</md-option>
                                            <md-option value="JUDICIAL">JUDICIAL</md-option>
                                        </md-select>

                                    </div>
                                    <div class="canva">

                                        <img ng-src="{{urlDocumentos+imagem.imagem}}">
                                    </div>
                                    <div class="options">

                                        <button class="open">
                                            <a  href="{{urlDocumentos+imagem.imagem}}" target="_blanck" style="color: white;">Visualizar</a>
                                        </button>

                                        <md-button class="md-raised md-primary" ng-click="apagarDocumento(imagem)" ng-disabled="!_apagar">Apagar</md-button>


                                    </div>

                                </div>

                            </div>





                            <br>
                            <br>

                    </md-tab>  <!--  FIM DE DOCUMENTOS -->


                    <md-tab label="LIBERAÇÃO">
                        <md-content flex style="background: white">

                            <br>
                            <div style="margin: 5px">

                                <md-radio-group ng-model="liberacao.tipoliberacao"  layout="row">
                                    <md-radio-button value="LIBERADO" class="md-primary">LIBERAÇÃO NORMAL</md-radio-button>
                                    <md-radio-button value="LIBERADO ARR">LIBERAÇÃO LEILÃO</md-radio-button>
                                </md-radio-group>

                            </div>
                            <br>

                            <div style="margin: 5px" layout-gt-sm="row">

                                <div style="margin: 5px" layout-gt-sm="row">

                                    <md-input-container class="md-block" flex-gt-sm  style="width: 350px">
                                        <label>Liberado Para</label>
                                        <input required ng-readonly="true" type="text" name="liberado_para" ng-model="liberacao.liberado_para" />
                                    </md-input-container>

                                    <div style="margin-left: 10px; cursor: pointer;" >
                                        <md-button ng-click="incluiLiberado(liberacao.ncv)" ng-disabled="_gravar || _consultar"  ng-hide="Userconsult"  >
                                            <md-icon>add_circle_outline</md-icon>
                                        </md-button>
                                    </div>

                                </div>

                                <div style="margin: 5px" layout-gt-sm="row">
                                    <md-input-container class="md-block" flex-gt-sm style="width: 350px">
                                        <label>Faturado Para</label>
                                        <input required ng-readonly="true" type="text" name="faturado_para" ng-model="liberacao.faturado_para" />
                                    </md-input-container>

                                    <div style="margin-left: 10px; cursor: pointer;" >
                                        <md-button ng-click="incluiFaturado(liberacao.ncv)" ng-disabled="_gravar || _consultar"  ng-hide="Userconsult"  >
                                            <md-icon>add_circle_outline</md-icon>
                                        </md-button>
                                    </div>

                                </div>

                            </div>

                            <div style="margin: 5px" layout-gt-sm="row">

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Nota Fiscal</label>
                                    <input  type="text" name="alavara" ng-model="liberacao.nota_fiscal" />
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Alvará</label>
                                    <input required ng-required="true" type="text" name="alavara" ng-model="liberacao.alvara" />
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Tipo Alvará</label>
                                    <md-select placeholder="Tipo Alvará"  required ng-required="true" name="tipo_alvara" ng-model="liberacao.tipo_alvara">
                                        <md-option value="ONLINE">ONLINE</md-option>
                                        <md-option value="PROVISORIO">PROVISORIO</md-option>
                                        <md-option value="PLANTAO">PLANTAO</md-option>
                                    </md-select>
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Tipo Desconto</label>
                                    <md-select placeholder="Tipo Desconto"  ng-required="true" name="tipo_desconto" ng-model="liberacao.tipo_desconto">
                                        <md-option value="NÃO TEVE">NÃO TEVE</md-option>
                                        <md-option value="ARREDONDAMENTO">ARREDONDAMENTO</md-option>
                                        <md-option value="IMPOSTO RETIDO">IMPOSTO RETIDO</md-option>
                                        <md-option value="INDENIZAÇÃO">INDENIZAÇÃO</md-option>
                                        <md-option value="MULTIPLO">MULTIPLO</md-option>
                                        <md-option value="NEGOCIACAO">NEGOCIACAO</md-option>
                                        <md-option value="CORTESIA">CORTESIA</md-option>
                                        <md-option value="LEGISLAÇÃO">LEGISLAÇÃO</md-option>
                                    </md-select>
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm >
                                    <label>Data liberação</label>
                                    <md-datepicker name="data" ng-model="liberacao.data" disabled></md-datepicker>
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Hora liberação</label>
                                    <input ng-readonly="true" type="text" name="hora" ng-model="liberacao.hora"/>
                                </md-input-container>

                                <md-input-container class="md-block" >
                                    <label>Responsável</label>
                                    <input ng-readonly="true" type="text" name="responsavel" ng-model="liberacao.liberado_por"/>
                                </md-input-container>

                            </div>

                            <div style="margin: 5px" layout-gt-sm="row">
                                <md-input-container class="md-block" >
                                    <label>Estadias</label>
                                    <input ng-readonly="true" type="number" name="estadias" ng-model="liberacao.estadias"/>
                                </md-input-container>
                                <md-input-container class="md-block" >
                                    <label>Valor da Estadia</label>
                                    <input ng-readonly="true" type="number" name="valor_estadia" ng-model="liberacao.valor_estadia"/>
                                </md-input-container>
                                <md-input-container class="md-block" >
                                    <label>Guincho</label>
                                    <input ng-readonly="true" type="number" name="valor_guincho" ng-model="liberacao.valor_guincho"/>
                                </md-input-container>
                                <md-input-container class="md-block" >
                                    <label>Desconto</label>
                                    <input ng-readonly="liberacao.tipo_desconto == 'NÃO TEVE' || liberacao.tipo_desconto == ''" type="text" name="desconto" ng-model="liberacao.desconto" ui-number-mask ng-blur="atualizaValorLiberacao()"/>
                                </md-input-container>
                                <md-input-container class="md-block" >
                                    <label>Acréscimo</label>
                                    <input ng-readonly="false" type="text" name="acrescimo" ng-model="liberacao.acrescimo" ui-number-mask ng-blur="atualizaValorLiberacao()"/>
                                </md-input-container>
                                <md-input-container class="md-block" >
                                    <label>Total</label>
                                    <input ng-readonly="true" type="number" name="total" ng-model="liberacao.total"/>
                                </md-input-container>
                            </div>

                            <div ng-show="diasdesconto"  style="color:red">ATENÇÃO: NCV apreendido a mais de 180 dias, concedido desconto de {{ diasdesconto}} dias.</div>



                            <!-- MOSTRA OS FORMAS DE PAGAMENTO UTILIZADOS -->
                            <div list-forma-pagto ncv="dados" info-pgto="infoPgto"></div>

                            <!--  ng-disabled="infoPgto.total >= liberacao.total" -->


                            <md-input-container class="md-block">
                                <label>Observação</label>
                                <textarea ng-model="liberacao.observacao" md-maxlength="150" rows="3" md-select-on-focus></textarea>
                            </md-input-container>
                            <br>
                            <div>

                                <md-button class="md-raised md-primary" aria-label="Adicionar"
                                           open-forma-pagto
                                           ncv="dados"
                                           liberacao="liberacao"
                                           guincho="guincho"
                                           apreensao="apreensao"
                                           action="gravaPgto(infoPgto)"
                                           ng-init="infoPgto = {}"
                                           ng-disabled="dados.status === 'LIBERADO'  || dados.status === 'LIBERADO ARR'  || infoPgto.total >= liberacao.total || liberacao.total == 0  "> 
                                    PAGAMENTO
                                </md-button>
                                <md-button class="md-raised md-primary" aria-label="gravar" ng-click="gravaLiberacao($event)"  ng-hide="Userconsult"  ng-disabled="dados.status === 'LIBERADO'  || dados.status === 'LIBERADO ARR'  || _gravar || _consultar || ( infoPgto.temPgto == 0 && liberacao.tipo_desconto !== 'LEGISLAÇÃO')">
                                    LIBERAÇÃO
                                </md-button>
                                <md-button class="md-raised md-primary" ng-disabled="!alterarFinanceiro" ng-click="ajustesLiberacao(liberacao.ncv, liberacao.estadias, liberacao.valor_estadia, liberacao.valor_guincho, liberacao.desconto, liberacao.acrescimo, liberacao.total)" >
                                    AJUSTES
                                </md-button>
                                <md-button class="md-raised md-primary" ng-disabled="dados.status != 'LIBERADO' && dados.status != 'LIBERADOS ARR'" ng-click="termoEntrega()" >
                                    IMPRIMIR
                                </md-button>

                                <md-button class="md-raised"
                                           ng-click="fechar()"
                                           aria-label="Fechar">
                                   Fechar
                                </md-button>
                            </div>
                        </md-content>
                    </md-tab>
                </md-tabs>

            </form>
        </md-card>
    </md-content>
</div>

<script type="text/ng-template" id="cadastra-faturado.html">
<md-dialog style="width:800px;height:500px;">
    <md-dialog-content>

        <md-content layout-padding>

            <md-input-container class="md-block" flex-gt-sm>
                <label>CPF</label>
                <input ng-required="true" type="text" name="cpf_cnpj" cpf-cnpj ng-model="dados_faturado.cpf_cnpj" ng-change="buscaCpfCnpj(dados_faturado.cpf_cnpj)"/>
                <div ng-messages="editForm.cpf_cnpj.$error" role="alert">
                    <div ng-message="required">
                        Campo Obrigatório.
                    </div>
                </div>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
                <label>Nome</label>
                <input ng-required="true" type="text" name="nome" ng-model="dados_faturado.nome" ng-change="dados_faturado.nome = (dados_faturado.nome | uppercase)"/>
                <div ng-messages="editForm.razao_nome.$error" role="alert">
                    <div ng-message-exp="['required']">
                        Campo Obrigatório.
                    </div>
                </div>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
                <label>CEP</label>
                <input  type="text" style="width: 100px" name="cep" ng-model="dados_faturado.cep" mask="99999-999" ng-change="buscaCep(dados_faturado.cep)"/>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
                <label>Endereço</label>
                <input  type="text" name="endereco" ng-model="dados_faturado.endereco" ng-change="dados_faturado.endereco = (dados_faturado.endereco | uppercase)"/>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
                <label>Bairro</label>
                <input  type="text" name="bairro" ng-model="dados_faturado.bairro" ng-change="dados_faturado.bairro = (dados_faturado.bairro | uppercase)"/>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
                <label>Cidade</label>
                <input  type="text" name="cidade" ng-model="dados_faturado.cidade" ng-change="dados_faturado.cidade = (dados_faturado.cidade | uppercase)"/>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
                <label>UF</label>
                <md-select placeholder="UF" style="width: 100px"  ng-required="false" name="uf" ng-model="dados_faturado.uf">
                    <md-option ng-repeat="estado in estados" ng-value="estado.sigla">
                        {{estado.sigla}}
                    </md-option>
                </md-select>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
                <label>Email</label>
                <input ng-required="false" type="email" name="email" ng-model="dados_faturado.email" />
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
                <label>Tefone/Celular</label>
                <input ng-required="false" type="text" name="telefone" ng-model="dados_faturado.telefone" mask="(99) 9?9999-9999"/>
            </md-input-container>

        </md-content>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button class="md-raised md-primary" ng-click="cancel()">Cancelar</md-button>
        <md-button class="md-raised" md-colors="{background:'teal'}" ng-click="saveAndClose()"  ng-hide="Userconsult" >Gravar</md-button>
    </md-dialog-actions>
</md-dialog>
</script>

<script type="text/ng-template" id="cadastra-liberado.html">
<md-dialog style="width:800px;height:500px; ">
    <md-dialog-content>

        <md-content layout-padding>

            <md-input-container class="md-block" flex-gt-sm>
                <label>CPF</label>
                <input ng-required="true" type="text" name="cpf_cnpj" cpf-cnpj ng-model="dados_liberado.cpf_cnpj" ng-change="buscaCpfCnpj(dados_liberado.cpf_cnpj)"/>
                <div ng-messages="editForm.cpf_cnpj.$error" role="alert">
                    <div ng-message="required">
                        po Obrigatório.
                    </div>
                </div>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
                <label>Nome</label>
                <input ng-required="true" type="text" name="nome" ng-model="dados_liberado.nome" ng-change="dados_liberado.nome = (dados_liberado.nome | uppercase)"/>
                <div ng-messages="editForm.razao_nome.$error" role="alert">
                    <div ng-message-exp="['required']">
                        Campo Obrigatório.
                    </div>
                </div>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
                <label>CEP</label>
                <input  type="text" style="width: 100px" name="cep" ng-model="dados_liberado.cep" mask="99999-999" ng-change="buscaCep(dados_liberado.cep)"/>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
                <label>Endereço</label>
                <input  type="text" name="endereco" ng-model="dados_liberado.endereco" ng-change="dados_liberado.endereco = (dados_liberado.endereco | uppercase)"/>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
                <label>Bairro</label>
                <input  type="text" name="bairro" ng-model="dados_liberado.bairro" ng-change="dados_liberado.bairro = (dados_liberado.bairro | uppercase)"/>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
                <label>Cidade</label>
                <input  type="text" name="cidade" ng-model="dados_liberado.cidade" ng-change="dados_liberado.cidade = (daos_liberado.cidade | uppercase)"/>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
                <label>UF</label>
                <md-select placeholder="UF" style="width: 100px"  ng-required="false"name="uf" ng-model="dados_liberado.uf">
                    <md-option ng-repeat="estado in estados" ng-value="estado.sigla">
                        {{estado.sigla}}
                    </md-option>
                </md-select>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
                <label>Email</label>
                <input ng-required="false" type="email" name="email" ng-model="dados_liberado.email" />
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
                <label>Tefone/Celular</label>
                <input ng-required="false" type="text" name="telefone" ng-model="dados_liberado.telefone" mask="(99) 9?9999-9999"/>
            </md-input-container>
        </md-content>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button class="md-raised md-primary" ng-click="cancel()">Cancelar</md-button>
        <md-button class="md-raised"md-colors="{background:'teal'}" ng-click="saveAndClose()"  ng-hide="Userconsult" >Gravar</md-button>
    </md-dialog-actions>
</md-dialog>
</script>

<script type="text/ng-template" id="ajustes-liberacao.html">


    <md-dialog style="width:90vw;height:90vh;" >
        <md-dialog-content>

            <div style="margin-left: 20px;margin-right:50px; text-align:center" ng-hide="dados.status != 'LIBERADO' && dados.status != 'LIBERADO ARR'">
                <br>
                <b> <label  style="text-align:center"> Dados Liberação</label> </b>
                <br><br>


                <div  layout-gt-sm="row" scrool>

                    <md-input-container style="align-items:left; text-align:left; margin-top: -10px;" class="md-block"  >
                        <label>Data</label>
                        <md-datepicker name="data" ng-model="ajustes_liberacao.data" ng-blur="atualizaValorLiberacao()" ></md-datepicker>
                    </md-input-container>

                    <md-input-container style="align-items:left; text-align:left;"  class="md-block" >
                        <label>Estadias</label>
                        <input  type="number" name="estadias" ng-model="ajustes_liberacao.estadias"  ng-blur="atualizaValorLiberacao()"/>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>Valor da Estadia</label>
                        <input  type="text" name="valor_estadia" ng-model="ajustes_liberacao.valor_estadia"  ui-number-mask ng-blur="atualizaValorLiberacao()"/>
                    </md-input-container>

                    <md-input-container class="md-block" >
                        <label>Guincho</label>
                        <input  type="text" name="valor_guincho" ng-model="ajustes_liberacao.valor_guincho"  ui-number-mask ng-blur="atualizaValorLiberacao()"/>
                    </md-input-container>
                    
                    <md-input-container class="md-block" >
                        <label>Desconto</label>
                        <input ng-readonly="false" type="text" name="desconto" ng-model="ajustes_liberacao.desconto" ui-number-mask ng-blur="atualizaValorLiberacao()"/>
                    </md-input-container>

                    <md-input-container class="md-block" >
                        <label>Acréscimo</label>
                        <input ng-readonly="false" type="text" name="acrescimo" ng-model="ajustes_liberacao.acrescimo" ui-number-mask ng-blur="atualizaValorLiberacao()"/>
                    </md-input-container>

                    <md-input-container class="md-block" >
                        <label>Total</label>
                        <input ng-readonly="true" type="text"  name="total" ng-model="ajustes_liberacao.total" ui-number-mask ng-blur="atualizaValorLiberacao()"/>
                     </md-input-container>
                </div>

                <div style="margin: 10px;align-items:right"  layout-gt-sm="row" scrool class="md-inline-form">

                    <md-radio-group  ng-model="ajustes_liberacao.tipoliberacao" layout-gt-sm="row" style="width: 500px;">
                        <md-radio-button  value="LIBERADO" class="md-primary" style="width: 200px;">LIBERAÇÃO NORMAL</md-radio-button>
                        <md-radio-button  value="LIBERADO ARR" style="width: 200px;">LIBERAÇÃO LEILÃO</md-radio-button>
                    </md-radio-group>

                    </md-content>

                        <md-button class="md-raised md-primary" md-colors="{background:'teal'}" 
                        style="widht:10px; height:20px; margin-left:550px; " 
                        ng-click="saveLiberacao(liberacao.ncv, liberacao.tipoliberacao, liberacao.data, 
                                liberacao.estadias, liberacao.valor_estadia, liberacao.valor_guincho, 
                                liberacao.desconto, liberacao.acrescimo, liberacao.total)"  
                        ng-hide="Userconsult" >Gravar</md-button>

                    </md-dialog-content>

                </div>
           <br>
        </div>
        <hr>
<br>
        <md-dialog-content>
            <div style='text-align: center; align-items:center; margin-right:5px' >

                <b> <label> Dados Pagamento</label> </b>
            </div>

<br>

<div   style="display:flex;gap:100px,flex-direction:column" ng-repeat="pgto in ncv_pagamentos">
        <div 
            style="display:flex;
            gap:100px,
            align-items: center;
            display: flex;
            width: 100%;
            margin-left:20px
          ">
             <md-input-container class="md-block">
                    <label>Data Pagamento</label>
                    <input type="date" name="data"  ng-model="pgto.data"/>
             </md-input-container>

              <md-input-container class="md-block" >
                    <label>Forma de Pagamento</label>
                    <md-select placeholder="Forma Pagamento" ng-required="true" name="forma_pagamento" ng-model="pgto.forma_pagamento">
                        <md-option ng-repeat="tipos in tiposRecebimento" ng-value="tipos.id">
                            {{tipos.descricao}}
                        </md-option>
                    </md-select>
              </md-input-container>

              <md-input-container class="md-block" >
                        <label>Valor</label>
                        <input ng-required="true" type="text" name="valor" ng-model="pgto.valor" ui-number-mask/>
              </md-input-container>
            

              <md-input-container class="md-block" >
                    <label>CPF/CNPJ Pagador </label>
                    <input ng-required="true" type="text" cpf-cnpj name="cpf_cnpj_pagador" ng-model="pgto.cpf_cnpj_pagador"ng-value="pgto.cpf_cnpj_pagador" />
              </md-input-container>

              <md-input-container class="md-block" >
                    <label>Nome Pagador</label>
                    <input ng-required="true" type="text" name="nome_pagador" ng-model="pgto.nome_pagador"ng-value="pgto.nome_pagador" />
              </md-input-container>


            
              <div>
                <md-button class="md-raised "  ng-click="apagarPagamento(pgto.id, pgto.data, pgto.forma_pagamento, pgto.valor, $scope.pagamentos)" md-colors="{background:'teal'}">
                    Apagar
                </md-button>          

                <md-button class="md-raised md-primary" 
                    ng-disabled="statusNcv == 'APREENDIDO'"
                    ng-click="alterarPagamento(pgto.id, pgto.data, pgto.forma_pagamento, pgto.valor,
                        pgto.cpf_cnpj_pagador, pgto.nome_pagador, $scope.pagamentos)" 
                    md-colors="{background:'teal'}" ng-hide="Userconsult">
                    Gravar
                </md-button>
              </div>

            </div>
        </div>


        <md-button class="md-raised" ng-click="incluiFormaPagamento()" >
            INCLUIR FORMA PAGTO
         </md-button>


        </md-dialog-content>
        <md-dialog-actions style="border: none !important;">
        <md-button class="md-raised md-primary" style="margin-right:40px" ng-click="cancel()">FECHAR</md-button>

        </md-dialog-actions>
    </md-dialog>


    </script>

<script type="text/ng-template" id="openMap.html">


        <md-dialog style="width:1100px;height:500px;">

            <md-content flex style="background: white">
                <br>
                <div layout-gt-sm="row">
                    <a>RFID - {{dados.rfid}}</a>
                    <md-button style="margin-top:3px; margin-left:820px;" ng-click="cancel()" title="Fechar">
                        <md-icon>close</md-icon>
                    </md-button>
                </div>

                <div id="mapid"  style="height: 400px;">

                </div>

            </md-content flex>
        </md-dialog>
</script>

<script type="text/ng-template" id="tipo-recebimento.html">
<md-dialog style="width:400px;height:250px;">
    <md-dialog-content>
        <md-content layout-padding>
            <md-input-container class="md-block" flex-gt-sm>
                <label>UF</label>
                <md-select placeholder="UF" style="width: 100px"  ng-required="false" name="uf" ng-model="dados_liberado.uf">
                    <md-option ng-repeat="estado in estados" ng-value="estado.sigla">
                        {{estado.sigla}}
                    </md-option>
                </md-select>
            </md-input-container>
        </md-content>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button class="md-raised md-primary" ng-click="cancel()">Cancelar</md-button>
        <md-button class="md-raised" md-colors="{background:'teal'}" ng-click="saveAndClose()"  ng-hide="Userconsult" >Gravar</md-button>
    </md-dialog-actions>
</md-dialog>
</script>