<div class="doc-demo-content doc-content">

    <md-content layout-xs="column" layout-gt-sm="row" layout-sm="column">

      <md-card layout-padding flex-gt-sm layout="column" flex-order="1" flex-order-gt-sm="1">

          <form name="ncvEditForm" ng-submit="ncvEditForm.$valid && pesquisar($event)" novalidate="novalidate">

              <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm >
                  <label>NCV</label>
                  <input type="text" name="ncv" ng-model="dados.ncv" />
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm >
                  <label>Placa</label>
                  <input type="text" name="placa" ng-model="dados.placa" />
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm >
                  <label>CODIGO SECUNDARIO</label>
                  <input type="text" name="codigo" ng-model="dados.codigo" />
                </md-input-container>
              </div>
              <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm >
                  <label>Chassi</label>
                  <input type="text" name="chassi" ng-model="dados.chassi" />
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm >
                  <label>Nº do motor</label>
                  <input type="text" name="numero_motor" ng-model="dados.numero_motor" />
                </md-input-container>
              </div>
              {{Match}}
              <div>
                <md-button type="submit" class="md-raised" md-colors="{background:'teal'}" md-colors-watch="false" >Filtrar</md-button>
                <md-button class="md-raised" aria-label="Limpar" ng-click="limpar($event)">Limpar</md-button>
                <md-button class="md-raised md-primary" aria-label="Adicionar" ng-click="novo($event)">Novo</md-button>
              </div>

          </form>

      </md-card>
    </md-content>

    <section  class="md-whiteframe-z1 " ng-cloak layout="column" >

        <md-toolbar class="md-theme-light" >
          <h2 class="md-toolbar-tools">
            <span>{{dadosList.length || 0}} Registros</span>
            <span flex></span>
            <md-button class="md-raised" aria-label="PDF" >PDF</md-button>
            <md-button class="md-raised" aria-label="Excel" >Excel</md-button>
          </h2>
        </md-toolbar>

        <mdt-table paginated-rows="{isEnabled: true, rowsPerPageValues: [20,50, 100]}"
                    animate-sort-icon="true"
                    mdt-row="{
                              'data': dadosList,
                              'table-row-id-key': 'id',
                              'column-keys': ['id', 'marca_modelo','placa','data_apreensao','nome', 'nome_patio_destino',
                                              'status','tipo','situacao','editar','no_patio', 'localizado_leilao']
                    }"
          >
          <mdt-custom-cell column-key="editar"
          >
            <mdt-custom-cell-button icon='edit'  class="md-icon-button md-secondary"
            ng-click="clientScope.detalhe($event, rowId)" aria-label="Editar" ></md-custom-cell-button>
          </mdt-custom-cell>

          <mdt-custom-cell column-key="no_patio" >
            <select ng-hide="clientScope.hideCheck($event, rowId)" ng-model="noPatio" name="no_patio" 
            aria-label="Checkbox 1" title="Informa se o veículo está no pátio" class="ncv-no-patio"
            ng-disabled="clientScope.checkboxDetalhe($event, rowId) && !clientScope.altera_no_patio" ng-change="clientScope.informaPatio($event, rowId)">

            <option value="1" ng-selected="clientScope.checkboxDetalhe($event, rowId)">SIM</option>
            <option value="0" ng-selected="!clientScope.checkboxDetalhe($event, rowId)">NÃO</option>
          </select> 
          </mdt-custom-cell>

         
          <mdt-custom-cell column-key="localizado_leilao" >
            <select ng-hide="clientScope.hideCheck($event, rowId)" ng-model="localizadoLeilao" name="localizado_leilao" 
            aria-label="Checkbox 1" title="Informa se o veículo foi localizado pelo setor de leilão" class="ncv-no-patio"
            ng-disabled="clientScope.alteraLocalizadoLeilao" ng-change="clientScope.gravarLocalizadoLeilao($event, rowId)">

            <option value="1" ng-selected="clientScope.checkboxLocalizado($event, rowId)">SIM</option>
            <option value="0" ng-selected="!clientScope.checkboxLocalizado($event, rowId)">NÃO</option>
          </select> 
          </mdt-custom-cell>
          


          <mdt-header-row>
            <mdt-column align-rule="left" column-sort="false">NCV</mdt-column>
            <mdt-column align-rule="left" column-sort="false">Marca/Modelo</mdt-column>
            <mdt-column align-rule="left" column-sort="false">Placa</mdt-column>
            <mdt-column align-rule="left" column-sort="false">Apreensao</mdt-column>
            <mdt-column align-rule="left" column-sort="false">Pátio Apreensão</mdt-column>
            <mdt-column align-rule="left" column-sort="false">Pátio Destino</mdt-column>
            <mdt-column align-rule="left" column-sort="false">Status</mdt-column>
            <mdt-column align-rule="left" column-sort="false">Tipo</mdt-column>
            <mdt-column align-rule="left" column-sort="false">Situação</mdt-column>
            <mdt-column align-rule="left" column-sort="false">Editar</mdt-column>
            <mdt-column align-rule="left" column-sort="false">No Pátio</mdt-column>
            <mdt-column align-rule="left" column-sort="false">Localizado Leilão</mdt-column>
          
          </mdt-header-row>



        </mdt-table>

    </section>

</div>


