<div class="doc-demo-content doc-content">
  <md-content flex>
    <md-card layout-padding>
      <form name="editForm" ng-submit="editForm.$valid && showConfirm(dados,$event)" novalidate="novalidate">
        
      <md-tabs md-dynamic-height md-border-bottom>        
      <md-tab label="Cancelamento">
      <md-content flex style="background: white">  
      <br>
              

        <div style="width: 98%;"> 

          <div layout-gt-sm="row">
            
            <md-input-container class="md-block" flex-gt-sm>
              <label>Fornecedor</label>
              <md-select placeholder="Fornecedor" style="width: 90%" ng-disabled="true" name="id_fornecedor" ng-model="dados.id_fornecedor">
                <md-option ng-repeat="fornecedor in fornecedores" ng-value="fornecedor.id" ng-disabled="true">
                    {{fornecedor.razao_nome}}
                </md-option>
              </md-select>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
              <label>Documento</label>
              <input ng-disabled="true" type="text" name="documento" ng-model="dados.documento"/>
            </md-input-container>
      
            <md-input-container class="md-block" >
              <label>Valor</label>
              <input ng-disabled="true" type="text" name="valor" ng-model="dados.valor" money-mask/>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
              <label>Vencimento</label>
              <input ng-disabled="true" type="text" name="vencimento" ng-model="dados.vencimento" mask="99/99/9999"/>
          </md-input-container>       

         </div>
 
         <div layout-gt-sm="row">
 
          <md-input-container class="md-block" flex-gt-sm>
            <label>Categoria</label>
            <md-select placeholder="Categoria" style="width: 90%" name="categoria" ng-model="dados.categoria" ng-disabled="true">
              <md-option ng-repeat="categoria in categorias" ng-value="categoria.id" ng-disabled="true">
                  {{categoria.descricao}}
              </md-option>
            </md-select>
          </md-input-container>
          
          <md-input-container class="md-block" flex-gt-sm>
            <label>Forma Pagamento</label>
            <md-select placeholder="Forma Pagamento" style="width: 50%"  name="forma_pagamento" ng-model="dados.forma_pagamento" ng-disabled="true">
              <md-option ng-disabled="true" value="DINHEIRO">DINHEIRO</md-option>
              <md-option ng-disabled="true" value="CHEQUE">CHEQUE</md-option>
              <md-option ng-disabled="true" value="CREDITO">CARTÃO CREDITO</md-option>
              <md-option ng-disabled="true" value="DEBITO">CARTÃO DEBITO</md-option>
              <md-option ng-disabled="true" value="BOLETO">BOLETO</md-option>
              <md-option ng-disabled="true" value="TRANSFERENCIA">TRANSFERENCIA</md-option>
            </md-select>
          </md-input-container>
         </div>
         <md-input-container class="md-block">
           <label>Comentários</label>
           <textarea ng-model="dados.comentario" md-maxlength="150" rows="1" md-select-on-focus ng-disabled="true"></textarea>
         </md-input-container>

         <md-card>
              <md-input-container class="md-block" flex-gt-sm >
                  <label>Data Cancelamento</label> 
                  <md-datepicker name="datacancelamento" ng-model="dados.datacancelamento" md-placeholder="Data do Cancelamento"></md-datepicker>
              </md-input-container> 
         </md-card>
        
          <md-button type="submit" ng-disabled="isDisabled" class="md-raised md-primary">Gravar</md-button>
          <md-button class="md-raised" ng-click="fechar()" aria-label="Fechar">Fechar</md-button>
        </div>

      </md-content>            
      </md-tab>                      
      </md-tabs>

      </form>
    </md-card>
  </md-content>
</div>