<div class="doc-demo-content doc-content">
  <md-content flex>
    <md-card layout-padding>
      <form name="editForm" ng-submit="editForm.$valid && gravar(dados)" novalidate="novalidate">

        <md-tabs md-dynamic-height md-border-bottom>
          <md-tab label="B A I X A">
            <md-content flex style="background: white">
              <br>

              <div style="width: 98%;">

                <md-input-container class="md-block" flex-gt-sm>
                  <label>Nome do Fornecedor</label>
                  <md-select ng-disabled="true" placeholder="Nome do Fornecedor" style="width: 90%" name="razao_nome"
                    ng-model="dados.id_fornecedor" ng-change="dados.id_motorista=null">
                    <md-option ng-repeat="fornecedor in fornecedores" ng-value="fornecedor.id">
                      {{fornecedor.razao_nome}}
                    </md-option>
                  </md-select>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                  <label>Pátio</label>
                  <md-select ng-disabled="true" placeholder="Pátio" style="width: 90%" name="patio"
                    ng-model="dados.id_patio">
                    <md-option ng-repeat="patio in patios" ng-value="patio.id">
                      {{patio.nome}}
                    </md-option>
                  </md-select>
                </md-input-container>

                <div layout-gt-sm="row">

                  <md-input-container class="md-block" flex-gt-sm>
                    <label>Documento</label>
                    <input ng-disabled="true" type="text" name="documento" ng-model="dados.documento" />
                  </md-input-container>

                  <md-input-container class="md-block">
                    <label>Valor</label>
                    <input ng-disabled="true" type="text" name="valor" ng-model="dados.valor" money-mask />
                  </md-input-container>

                  <md-input-container class="md-block" flex-gt-sm>
                    <label>Vencimento</label>
                    <input ng-disabled="true" type="text" name="vencimento" ng-model="dados.vencimento"
                      mask="99/99/9999" />
                  </md-input-container>

                </div>

                <div layout-gt-sm="row">

                  <md-input-container class="md-block" flex-gt-sm>
                    <label>Categoria</label>
                    <md-select placeholder="Categoria" style="width: 90%" name="categoria" ng-model="dados.categoria"
                      ng-disabled="true">
                      <md-option ng-repeat="categoria in categorias" ng-value="categoria.id">
                        {{categoria.descricao}}
                      </md-option>
                    </md-select>
                  </md-input-container>

                  <md-input-container class="md-block" flex-gt-sm>
                    <label>Forma Pagto</label>
                    <md-select placeholder="Forma Pagto" style="width: 90%" required ng-required="true"
                      name="tiporecebimento" ng-model="dados.tipo_recebimento" ng-disabled="true">
                      <md-option ng-repeat="tiposRecebimento in tiposRecebimentos" ng-value="tiposRecebimento.id">
                        {{tiposRecebimento.descricao}}
                      </md-option>
                    </md-select>
                    <div ng-messages="editForm.tiporecebimento.$error" class="errors">
                      <div ng-message="required">
                        Campo Obrigatório.
                      </div>
                    </div>
                  </md-input-container>

                </div>
                <md-input-container class="md-block">
                  <label>Comentários</label>
                  <textarea ng-model="dados.comentario" md-maxlength="150" rows="1" md-select-on-focus
                    ng-disabled="true"></textarea>
                </md-input-container>

                <md-card>
                  <div style="margin: 10px" layout-gt-sm="row">
                    <md-input-container class="md-block">
                      <label>Valor da Baixa</label>
                      <input ng-disabled="baixadisable" type="text" name="valorbaixa" ng-model="dados.valor_baixa"
                        money-mask />
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                      <label>Data Baixa</label>
                      <md-datepicker ng-disabled="baixadisable" name="databaixa" ng-model="dados.data_pagto"
                        md-placeholder="Data da Baixa"></md-datepicker>
                    </md-input-container>


                    <md-input-container class="md-block" flex-gt-sm>
                      <label>Forma Pagto</label>
                      <md-select placeholder="Forma Pagto" style="width: 90%" required ng-required="true"
                        name="tiporecebimento" ng-model="dados.tipo_recebimento">
                        <md-option ng-repeat="tiposRecebimento in tiposRecebimentos" ng-value="tiposRecebimento.id">
                          {{tiposRecebimento.descricao}}
                        </md-option>
                      </md-select>
                      <div ng-messages="editForm.tiporecebimento.$error" class="errors">
                        <div ng-message="required">
                          Campo Obrigatório.
                        </div>
                      </div>
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm>
                      <label>Conta Pagamento</label>
                      <md-select ng-disabled="baixadisable" required ng-required="true" placeholder="Conta Pagamento"
                        style="width: 90%" name="conta" ng-model="dados.conta">
                        <md-option ng-repeat="conta in contas" ng-value="conta.id">
                          {{conta.descricao}}
                        </md-option>
                      </md-select>
                      <div ng-messages="editForm.conta.$error" class="errors">
                        <div ng-message="required">
                          Campo Obrigatório.
                        </div>
                      </div>

                    </md-input-container>

                  </div>
                </md-card>

                <md-button type="submit" ng-disabled="isDisabled" class="md-raised md-primary">Gravar</md-button>
                <md-button class="md-raised" ng-click="fechar()" aria-label="Fechar">Fechar</md-button>
              </div>

            </md-content>
          </md-tab>

          <md-tab label="Documentos">
            <md-content flex style="background: white">
              <br>
              <br>
              <div style="height: 600px; width: 800px;">


                <div>
                  <md-input-container flex-gt-sm>

                    <md-button class="md-raised md-primary" title="Carregar Imagem" name="imagemDocumento"
                      ng-model="novaimagemDocumento" ngf-pattern="'.pdf'" ngf-accept="'.pdf'"
                      ngf-select="uploadDocumento($file)" ngf-capture="'camera'" ngf-max-size="6MB" ngf-min-height="50">
                      BUSCAR PDF</md-button>

                  </md-input-container>
                </div>

                <div>
                  <md-content>

                    <!--  Carregando do bucket -->

                    <md-grid-list md-cols-gt-md="1" md-cols-md="1" md-cols-sm="1" md-gutter="1px" md-row-height="1:1">

                      <md-grid-tile ng-repeat="documento in listaDocumentos" style="text-align: left;"
                        class="video-title">
                       

                        <div style="width: 100%">
                          <iframe ng-if="listaDocumentos.length > 0"
                            ng-src="{{trustSrc(urlImagemNf+documento.documento)}}" width="80%" height="80%"></iframe>

                          <md-grid-tile-footer style="width: 440;background-color :white;">
                            <md-button class="md-raised md-primary" ng-click="apagarDocumento(documento)">Apagar
                            </md-button>
                          </md-grid-tile-footer>
                        </div>


                      </md-grid-tile>


                    </md-grid-list>
                    <br>
                    <div>
                      <iframe ng-if="dados.pdf_nf.length > 0" ng-src="{{trustSrc(urlImagemNf+ dados.pdf_nf)}}"
                        width="80%" height="80%"></iframe>
                    </div>




                  </md-content>

                  <!--<md-button style="margin:10px;" class="md-fab md-warn md-hue-2 md-mini" title="Excluir PDF" ng-click="limparPDFNf()">
        <md-icon>delete</md-icon>
    </md-button>

    </div>
    <div>
      <iframe ng-if="dados.pdf_nf.length > 0" ng-src = "{{trustSrc(urlImagemNf+ dados.pdf_nf)}}" width="80%" height="80%"></iframe>
    <div ng-messages="editForm.pdfDocNf.$error" class="errors">
        <div ng-message="maxSize">
            <span style="color: #dd2c00; font-size: 12px;">FDF muito grande. Favor escolher imagem com até 20MB de tamanho.</span>
        </div>
        <div ng-message="pattern">
            <span style="color: #dd2c00; font-size: 12px;">Tipo arquivo não permitido. Escolha um PDF.</span>
        </div>
    </div>
    </div>
            </div>
  
  </md-content>         -->
          </md-tab>










          <md-tab label="BAIXAS PARCIAIS">
            <md-content flex style="background: white">
              <br>
              <div style="height: 400px;">

                <md-list>
                  <md-list-item ng-repeat="parcial in parciais" value="parcial.id" aria-label="Checkbox">
                    <div>
                      {{parcial.data}} - {{parcial.valor}}
                    </div>
                    <md-button ng-show="parciais.length > 0" class="md-raised md-primary"
                      ng-click="apagarParcial(parcial.id, parcial.valor)" aria-label="Excluir">Apagar</md-button>
                  </md-list-item>

                </md-list>
                <br>
                <label> Total Baixas = {{ totalparcial | currency:"R$ ":2 }}</label>

              </div>

            </md-content flex>
          </md-tab>


        </md-tabs>

      </form>
    </md-card>
  </md-content>
</div>