<div class="doc-demo-content doc-content">
  <link rel="stylesheet" href="/assets/css/CustomForms.css">

  <md-content flex>
    <md-card layout-padding>
      <form name="editForm" ng-submit="editForm.$valid && gravar(dados)" novalidate="novalidate">
        <md-tabs md-dynamic-height md-border-bottom>
          <md-tab label="Dados do Pagamento">
        <br>
        <div style="width: 98%;">
          <br>



          <div layout-gt-sm="row">

            <div style="display: flex;flex-direction:column;width: 80%;">
             <md-input-container class="md-block"    >
               <label>Nome do Fornecedor</label>
               <input ng-required="true" type="text"name="razao_nome" ng-disabled="IsEstorno"
               ng-model="dados.razao_nome" ng-keyup="buscarClientes()"
                 ng-change="dados.razao_nome = (dados.razao_nome | uppercase)"  ng-blur="HideModal()"/>

               <div ng-messages="editForm.nome.$error" class="errors">
                 <div ng-message="required">
                   Campo Obrigatório.
                 </div>
               </div>

             </md-input-container>


           <div class="containerClientes" id="Container">
             <li  name="id_cliente" ng-value="cliente.id" ng-repeat="fornecedor in fornecedores" ng-click="ChangeScope(fornecedor)">
               {{fornecedor.razao_nome}}
             </li>
           </div>


           <div class="ErrorLength" id="ErrorLength">
             Digite ao menos 3 caracteres *
           </div>

          </div>
           <md-input-container class="md-block" flex-gt-sm>
            <label>CPF / CNPJ Fornecedor</label>
            <input type="text" name="cpf-cnpj" ng-disabled="IsEstorno"  ng-model="dados.cpf_cnpj"/>
          </md-input-container>

          </div>


          <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm style="margin-right:15px ;">
              <label>Pátio</label>
              <md-select placeholder="Pátio"  name="patio" ng-model="dados.id_patio"  ng-disabled="IsEstorno">
                <md-option ng-disabled="isEditable" ng-repeat="patio in patios" ng-value="patio.id">
                    {{patio.nome}}
                </md-option>
              </md-select>
            </md-input-container>

            <div style="margin-top: 20px;margin-right: 80px;">
              <md-checkbox ng-model="dados.prestador_servico" aria-label="Checkbox 1" ng-disabled="IsEstorno">
                Prestador Serviço
              </md-checkbox>
            </div>

          </div>


          <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
              <label>Documento</label>
              <input ng-readonly="isEditable"  ng-disabled="IsEstorno" ng-required="true" type="text" name="documento" ng-model="dados.documento" ng-change="dados.documento = (dados.documento | uppercase)"/>
              <div ng-messages="editForm.documento.$error" role="alert">
              <div ng-message="mask">
                  Digitar numero de documento
              </div>
              <div ng-message-exp="['required']">
                  Campo Obrigatório.
              </div>
              </div>
            </md-input-container>

            <md-input-container class="md-block" >
              <label>Valor</label>
              <input ng-readonly="isEditable" ng-required="true"  ng-disabled="IsEstorno" type="text" name="valor" ng-model="dados.valor" money-mask/>
              <div ng-messages="editForm.valor.$error" role="alert">
                  <div ng-message-exp="['required']">
                  Campo Obrigatório.
                  </div>
              </div>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
              <label>Vencimento</label>
              <input ng-required="true" type="date" name="vencimento" ng-disabled="IsEstorno"  ng-model="dados.vencimento"/>
              <div ng-messages="editForm.vencimento.$error" role="alert">
                  <div ng-message-exp="['required']">
                     Campo Obrigatório.
                  </div>
              </div>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
                <label>Competencia</label>
                <input ng-required="true" type="text" name="competencia" ng-disabled="IsEstorno"  ng-model="dados.competencia" mask="99/9999"/>
                <div ng-messages="editForm.competencia.$error" role="alert">
                <div ng-message="mask">
                     Formato correto : MM/AAAA
                </div>
                <div ng-message-exp="['required']">
                    Campo Obrigatório.
                </div>
                </div>
              </md-input-container>


            <md-input-container class="md-block">
              <label>Status</label>
              <input  type="text" name="status" ng-model="dados.status" ng-disabled="IsEstorno"  ng-disabled="true" />
            </md-input-container>

          </div>


         <div layout-gt-sm="row">

          <md-input-container class="md-block" flex-gt-sm>
            <label>Centro Custo</label>
            <md-select placeholder="Centro Custo" style="width: 90%" name="centro" ng-disabled="IsEstorno" ng-model="dados.centro_custo">
              <md-option ng-repeat="centroCusto in centroCustos" ng-value="centroCusto.id">
                {{centroCusto.descricao}}
              </md-option>
            </md-select>
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm>
            <label>Grupo</label>
            <md-select placeholder="Grupo" style="width: 90%" required ng-required="true" name="grupo" 
            ng-disabled="IsEstorno" ng-model="dados.grupo">
              <md-option ng-disabled="isEditable" ng-repeat="grupo in grupos" ng-value="grupo.id">
                  {{grupo.descricao}}
              </md-option>
            </md-select>
            <div ng-messages="editForm.grupo.$error"  ng-disabled="IsEstorno" class="errors">
              <div ng-message="required">
                Campo Obrigatório.
              </div>
            </div>
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm>
            <label>Categoria</label>
            <md-select placeholder="Categoria" style="width: 90%" required ng-required="true"  ng-disabled="IsEstorno" name="categoria" ng-model="dados.categoria">
            <md-option ng-disabled="isEditable" ng-repeat="categoria in categorias" ng-value="categoria.id">
                {{categoria.descricao}}
            </md-option>
            </md-select>
            <div ng-messages="editForm.categoria.$error" class="errors" >
            <div ng-message="required">
              Campo Obrigatório.
            </div>
            </div>
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm>
          <label>Forma Pagto</label>
          <md-select placeholder="Forma Pagto" style="width: 90%" required ng-required="true"   ng-disabled="IsEstorno" name="tiporecebimento" ng-model="dados.tipo_recebimento">
            <md-option ng-disabled="isEditable" ng-repeat="tiposRecebimento in tiposRecebimentos" ng-value="tiposRecebimento.id">
                {{tiposRecebimento.descricao}}
            </md-option>
            </md-select>
          <div ng-messages="editForm.tiporecebimento.$error" class="errors">
            <div ng-message="required">
              Campo Obrigatório.
            </div>
          </div>
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm >
          <md-checkbox ng-model="dados.contabilizado" ng-disabled="IsEstorno" ng-change="exists(dados.contabilizado)" aria-label="Checkbox 1" >
            Contabilizado
          </md-checkbox>
          </md-input-container>

        </div>

      <md-input-container class="md-block">
        <label>Escreva Comentário</label>
        <textarea ng-readonly="isEditable" ng-model="dados.comentario" md-maxlength="150"  ng-disabled="IsEstorno" rows="3" md-select-on-focus></textarea>
      </md-input-container>



      <md-button type="submit" ng-disabled="isEditable" ng-show="!IsEstorno" class="md-raised md-primary" ng-click="gravarPagar()">Gravar</md-button>

      <p ng-show="IsEstorno" style="color: red;">Pagamento com status de PAGO! Somente a conta pode ser alterada!</p>

          <md-button ng-show="dados.status!='PAGO'" class="md-raised" ng-click="fechar()" aria-label="Fechar">Fechar</md-button>
        </div>

        <md-card ng-show="dados.status=='PAGO'" >
          <div style="margin: 20px" layout-gt-sm="row">
            <md-input-container class="md-block" >
              <label>Valor da Baixa</label>
              <input readonly type="text" name="valorbaixa" ng-model="dados.valor_baixa" money-mask />
            </md-input-container>
            <md-input-container class="md-block" >
              <label>Acrescimo</label>
              <input readonly type="text" name="acrescimo" ng-model="dados.acrescimo" money-mask/>
            </md-input-container>
            <md-input-container class="md-block" >
              <label>Desconto</label>
              <input readonly   type="text" name="desconto" ng-model="dados.desconto" money-mask/>
            </md-input-container>
            <md-input-container class="md-block" >
                <label>Data Baixa</label>
                <md-datepicker name="data_pagto" ng-model="dados.data_pagto" md-placeholder="Data da Baixa" md-hide-icons="all"></md-datepicker>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
              <label>Conta</label>
              <md-select readonly placeholder="Conta" name="conta" ng-model="dados.id_conta" ng-change="alteraContaBaixada()">
                <md-option ng-repeat="conta in contas" ng-value="conta.id" >
                  {{conta.descricao}}
                </md-option>
              </md-select>
            </md-input-container>
          </div>
       </md-card>

       <md-card ng-show="dados.status=='CANCELADO' ">
          <div style="margin: 20px" layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm >
                <label>Data Cancelamento</label>
                <md-datepicker ng-disabled="isEditable" name="datacancelamento" ng-model="dados.data_cancelamento" md-placeholder="Data Cancelamento"></md-datepicker>
            </md-input-container>
          </div>
       </md-card>
       <md-button ng-show="dados.status=='PAGO'" class="md-raised md-primary" ng-click="estornar()" aria-label="Estornar">Estornar</md-button>
       <md-button ng-show="dados.status=='PAGO'" class="md-raised" ng-click="fechar()" aria-label="Fechar">Fechar</md-button>
          </md-tab>
        <md-tab label="Documentos">
          <md-content flex style="background: white">
              <br>
              <br>
              <div style="height: 600px; width: 800px;">


                <div>
                  <md-input-container  flex-gt-sm>

                    <md-button class="md-raised md-primary" title="Carregar Imagem"
                                               name="imagemDocumento"
                                               ng-model="novaimagemDocumento"
                                               ngf-pattern="'.pdf'"
                                               ngf-accept="'.pdf'"
                                               ngf-select="uploadDocumento($file)"
                                               ngf-capture="'camera'"
                                               ngf-max-size="6MB"
                                               ngf-min-height="50">BUSCAR PDF</md-button>

                                </md-input-container>
                </div>

                <div>
                  <md-content>

                      <!--  Carregando do bucket -->

                    <md-grid-list md-cols-gt-md="1" md-cols-md="1" md-cols-sm="1" md-gutter="1px"   md-row-height="1:1">

                      <md-grid-tile ng-repeat="documento in listaDocumentos"  style="text-align: left;" class="video-title">

                          <div  style="width: 100%">
                              <iframe ng-if="listaDocumentos.length > 0" ng-src="{{trustSrc(urlImagemNf+documento.documento)}}" width="80%" height="80%"></iframe>

                          <md-grid-tile-footer style="width: 440;background-color :white;">
                              <md-button class="md-raised md-primary" ng-click="apagarDocumento(documento)">Apagar</md-button>
                          </md-grid-tile-footer>
                        </div>
                      </md-grid-tile>


                  </md-grid-list>
                  <br>
                  <div>
                    <iframe ng-if="dados.pdf_nf.length > 0" ng-src = "{{trustSrc(urlImagemNf+ dados.pdf_nf)}}" width="80%" height="80%"></iframe>
                  </div>




                  </md-content>

      <!--<md-button style="margin:10px;" class="md-fab md-warn md-hue-2 md-mini" title="Excluir PDF" ng-click="limparPDFNf()">
          <md-icon>delete</md-icon>
      </md-button>

      </div>
      <div>
        <iframe ng-if="dados.pdf_nf.length > 0" ng-src = "{{trustSrc(urlImagemNf+ dados.pdf_nf)}}" width="80%" height="80%"></iframe>
      <div ng-messages="editForm.pdfDocNf.$error" class="errors">
          <div ng-message="maxSize">
              <span style="color: #dd2c00; font-size: 12px;">FDF muito grande. Favor escolher imagem com até 20MB de tamanho.</span>
          </div>
          <div ng-message="pattern">
              <span style="color: #dd2c00; font-size: 12px;">Tipo arquivo não permitido. Escolha um PDF.</span>
          </div>
      </div>
      </div>
              </div>

    </md-content>         -->
    </md-tab>
    <md-tab label="BAIXAS PARCIAIS">
      <md-content flex style="background: white">
      <br>
      <div style="height: 400px;">

          <md-list>
              <md-list-item
                  ng-repeat="parcial in parciais"
                  value="parcial.id"
                  aria-label="Checkbox">
                  <div>
                      {{parcial.data}} - {{parcial.valor}}
                  </div>
                  <md-button ng-show="parciais.length > 0" class="md-raised md-primary" ng-click="apagarParcial(parcial.id, parcial.valor)" aria-label="Excluir">Apagar</md-button>
              </md-list-item>

          </md-list>
          <br>
          <label>  Total Baixas = {{ totalparcial | currency:"R$ ":2 }}</label>

      </div>

      </md-content flex>
  </md-tab>

    </md-tabs>
      </form>
    </md-card>
  </md-content>
</div>
