<div class="doc-demo-content doc-content">
  <link rel="stylesheet" href="/assets/css/CustomForms.css">

  <md-content flex>
    <md-card layout-padding>
      <form name="editForm" ng-submit="editForm.$valid && gravar(dados)" novalidate="novalidate">
        <md-tabs md-dynamic-height md-border-bottom>
          <md-tab label="Dados do Pagamento">
            <div style="width: 98%;">

              <br>
              <div layout-gt-sm="row">

                 <div style="display: flex;flex-direction:column;width: 80%;">
                  <md-input-container class="md-block"    >
                    <label>Nome do Fornecedor</label>
                    <input ng-required="true" type="text"name="razao_nome"
                    ng-model="dados.nome" ng-keyup="buscarClientes()"
                      ng-change="dados.nome = (dados.nome | uppercase)"  ng-blur="HideModal()"/>

                    <div ng-messages="editForm.nome.$error" class="errors">
                      <div ng-message="required">
                        Campo Obrigatório.
                      </div>
                    </div>

                  </md-input-container>


                <div class="containerClientes" id="Container">
                  <li ng-click="ChangeScope(cliente)" name="id_cliente" ng-value="cliente.id" ng-repeat="cliente in clientes">
                    {{cliente.razao_nome}}
                  </li>
                </div>


                <div class="ErrorLength" id="ErrorLength">
                  Digite ao menos 3 caracteres *
                </div>

                <md-input-container class="md-block" flex-gt-sm>
                  <label>CPF / CNPJ Fornecedor</label>
                  <input type="text" ng-required="true" name="cpf_cnpj"  ng-model="dados.cpf_cnpj" ng-blur="hideModalCpfCnpj()"
                  ng-keyup="buscaFornecedorCpfCnpj()"  ng-change="dados.cpf_cnpj"/>
    
                <div class="containerCliente" id="Container_cpf_cnpj" style="display: none">
                  <li ng-click="ChangeScope(fornecedor)" name="id_fornecedor" ng-value="id_fornecedor" ng-repeat="fornecedor in listaFornecedores">
                    {{fornecedor.razao_nome}}
                  </li>
                </div>
      
                <div class="ErrorLength" id="ErrorLength_1">
                  Digite ao menos 3 caracteres 
                </div>

                </md-input-container>

              </div>

                <div style="margin-left: 0px; cursor: pointer;">
                  <md-button ng-click="incluiFornecedor()">
                    <md-icon>add_circle_outline</md-icon>
                  </md-button>
                </div>

              </div>
              <div style="display: flex;justify-content: space-between;" >

                  <div style="width:700px;margin-right: 30px ;">
                    <md-input-container class="md-block" flex-gt-sm >
                      <label>Pátio</label>
                      <md-select placeholder="Pátio" name="patio" ng-required="true" ng-model="dados.patio"  >
                        <md-option ng-repeat="patio in patios" ng-value="patio.id" >
                          {{patio.nome}}
                        </md-option>
                      </md-select>
                    </md-input-container>
                  </div>


                <md-input-container class="md-block" flex-gt-sm  >
                  <md-checkbox ng-model="dados.prestador_servico" aria-label="Checkbox 1">
                    Prestador Serviço
                  </md-checkbox>
                </md-input-container>


              </div>

              <div style="margin-top: 20px;margin-right: 30px;">



                <md-input-container class="md-block" flex-gt-sm>
                  <label>Documento</label>
                  <input ng-required="true" type="text" name="documento" ng-model="dados.documento"
                    ng-change="dados.documento = (dados.documento | uppercase)" />
                  <div ng-messages="editForm.documento.$error" role="alert">
                    <div ng-message="mask">
                      Digitar numero de documento
                    </div>
                    <div ng-message-exp="['required']">
                      Campo Obrigatório.
                    </div>
                  </div>
                </md-input-container>

                <md-input-container class="md-block">
                  <label>Valor</label>
                  <input ng-required="true" type="text" name="valor" ng-model="dados.valor" money-mask />
                  <div ng-messages="editForm.valor.$error" role="alert">
                    <div ng-message-exp="['required']">
                      Campo Obrigatório.
                    </div>
                  </div>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                  <label>Vencimento</label>
                  <input ng-required="true" type="date" name="vencimento" ng-model="dados.vencimento" />
                  <div ng-messages="editForm.vencimento.$error" role="alert">
                    <div ng-message-exp="['required']">
                      Campo Obrigatório.
                    </div>
                  </div>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                  <label>Competencia</label>
                  <input ng-required="true" type="text" name="competencia" ng-model="dados.competencia"
                    mask="99/9999" />
                  <div ng-messages="editForm.competencia.$error" role="alert">
                    <div ng-message="mask">
                      Formato correto : MM/AAAA
                    </div>
                    <div ng-message-exp="['required']">
                      Campo Obrigatório.
                    </div>
                  </div>
                </md-input-container>

              </div>

              <div layout-gt-sm="row">

                <md-input-container class="md-block" flex-gt-sm>
                  <label>Centro Custo</label>
                  <md-select placeholder="Centro Custo" style="width: 90%" name="centro"
                    ng-model="dados.centro_custo">
                    <md-option ng-repeat="centroCusto in centroCustos" ng-value="centroCusto.id">
                      {{centroCusto.descricao}}
                    </md-option>
                  </md-select>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                  <label>Grupo</label>
                  <md-select placeholder="Grupo" style="width: 90%" required ng-required="true" name="grupo"
                    ng-model="dados.grupo" >
                    <md-option ng-repeat="grupo in grupos" ng-value="grupo.id">
                      {{grupo.descricao}}
                    </md-option>
                  </md-select>
                  <div ng-messages="editForm.grupo.$error" class="errors">
                    <div ng-message="required">
                      Campo Obrigatório.
                    </div>
                  </div>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                  <label>Categoria</label>
                  <md-select placeholder="Categorias" style="width: 90%" required ng-required="true" name="categoria"
                    ng-model="dados.categoria">
                    <md-option ng-repeat="categoria in categorias" ng-value="categoria.id">
                      {{categoria.descricao}}
                    </md-option>
                  </md-select>
                  <div ng-messages="editForm.categoria.$error" class="errors">
                    <div ng-message="required">
                      Campo Obrigatório.
                    </div>
                  </div>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                  <label>Forma Pagto</label>
                  <md-select placeholder="Forma Pagto" style="width: 90%" required ng-required="true"
                    name="tiporecebimento" ng-model="dados.tipo_recebimento">
                    <md-option ng-disabled="isEditable" ng-repeat="tiposRecebimento in tiposRecebimentos"
                      ng-value="tiposRecebimento.id">
                      {{tiposRecebimento.descricao}}
                    </md-option>
                  </md-select>
                  <div ng-messages="editForm.tiporecebimento.$error" class="errors">
                    <div ng-message="required">
                      Campo Obrigatório.
                    </div>
                  </div>
                </md-input-container>

              </div>
              <br>
              <div layout-gt-sm="row" style="width: 50%">
                <md-checkbox style="width: 25%" ng-model="dados.checkparcelas" aria-label="Checkbox 1">
                  GERAR PARCELAS
                </md-checkbox>

                <md-input-container class="md-block" flex-gt-sm>
                  <label>Qtde Parcelas</label>
                  <input ng-required="true" type="number" name="qtde" ng-model="dados.qtde" />
                  <div ng-messages="editForm.qtde.$error" role="alert">
                    <div ng-message-exp="['required']">
                      Campo Obrigatório.
                    </div>
                  </div>
                </md-input-container>

              </div>

              <md-input-container class="md-block">
                <label>Escreva Comentário</label>
                <textarea ng-model="dados.comentario" md-maxlength="150" rows="2" md-select-on-focus></textarea>
              </md-input-container>

              <br>
              <md-button type="submit" ng-disabled="isDisabled" class="md-raised md-primary">Gravar</md-button>
              <md-button class="md-raised" ng-click="paginaAnterior()" aria-label="Voltar">Voltar</md-button>
            </div>
          </md-tab>

          <md-tab label="Documentos">
            <md-content flex style="background: white">
              <br>
              <br>
              <div style="height: 600px; width: 800px;">
                <md-input-container flex-gt-sm>
                  <md-button class="md-raised md-primary" title="Carregar Imagem" name="imagemDocumento"
                    ng-model="novaimagemDocumento" ng-disabled="idpagar==null" ngf-pattern="'.pdf'" ngf-accept="'.pdf'"
                    ngf-select="uploadDocumento($file)" ngf-capture="'camera'" ngf-max-size="6MB" ngf-min-height="50">
                    BUSCAR PDF</md-button>
                </md-input-container>

                <md-grid-list md-cols-gt-md="1" md-cols-md="1" md-cols-sm="1" md-gutter="1px" md-row-height="1:1">

                  <md-grid-tile ng-repeat="documento in listaDocumentos" style="text-align: left;" class="video-title">

                    <div style="width: 100%">
                      <iframe ng-if="listaDocumentos.length > 0" ng-src="{{trustSrc(urlImagemNf+documento.documento)}}"
                        width="80%" height="80%">
                      </iframe>
                      <md-grid-tile-footer style="width: 440;background-color :white;">
                        <md-button class="md-raised md-primary" ng-click="apagarDocumento(documento)">Apagar</md-button>
                      </md-grid-tile-footer>
                    </div>
                  </md-grid-tile>


                </md-grid-list>

              </div>

            </md-content>
          </md-tab>
        </md-tabs>
      </form>
    </md-card>
  </md-content>
</div>



<script type="text/ng-template" id="ajustes-parcelas.html">
  <md-dialog style="width:600px;height:600px;">
    <md-dialog-content>

      <md-content layout-padding>


 <div ng-repeat="parcelas in dados_parcelas">

           <div layout-gt-sm="row">

                  <md-input-container class="md-block" flex-gt-sm style="display: flex;justify-content:center,width:20vw,margin-right:20px" >
                    <label>Data de vencimento</label>
                    <md-datepicker ng-required="true" type="date" name="data" ng-model="parcelas.vencimento" ></md-datepicker>
                </md-input-container>


                  <md-input-container class="md-block" flex-gt-sm style="width:10vw" >
                    <label>Valor</label>
                    <input ng-required="true" type="text" name="valor" ng-model="parcelas.valor" money-mask/>
                    <div ng-messages="editForm.valor.$error" role="alert">
                        <div ng-message-exp="['required']">
                        Campo Obrigatório.
                        </div>
                    </div>
                  </md-input-container>



                  <md-input-container class="md-block" flex-gt-sm style="width:10vw" >
                    <label>Competencia</label>
                    <input ng-required="true" type="text" name="competencia" ng-model="parcelas.competencia" mask="99/9999" />
                    <div ng-messages="editForm.competencia.$error" role="alert">
                      <div ng-message="mask">
                        Formato correto : MM/AAAA




                      </div>
                    </div>
                  </md-input-container>





           </div>



 </div>

            </md-content>
          </md-dialog-content>
              <md-dialog-actions>
                <md-button class="md-raised md-primary" ng-click="cancel()">Cancelar</md-button>
                <md-button type="submit"  class="md-raised md-primary" ng-click="gravarParcelas()" >Gravar</md-button>
              </md-dialog-actions>

          </md-dialog>

  </script>

<script type="text/ng-template" id="cadastra-fornecedor.html">
  <md-dialog style="width:800px;height:500px; ">
    <md-dialog-content>

      <md-content layout-padding>

        <form name="editForm" ng-submit="editForm.$valid && saveAndClose()" novalidate="novalidate">

        <md-input-container class="md-block" flex-gt-sm>
          <label>CPF/CNPJ</label>
            <input ng-required="true" type="text" name="cpf_cnpj" cpf-cnpj ng-model="fornecedor.cpf_cnpj" ng-change="buscaCpfCnpj(fornecedor.cpf_cnpj)"/>
          <div ng-messages="editForm.cpf_cnpj.$error" role="alert">
            <div ng-message="required">
                  Campo Obrigatório.
            </div>
          </div>
        </md-input-container>

          <md-input-container class="md-block" flex-gt-sm>
              <label>Nome/Razão Social</label>
              <input ng-required="true" type="text" name="razao_nome" ng-model="fornecedor.razao_nome" ng-change="fornecedor.razao_nome = (fornecedor.razao_nome | uppercase)"/>
              <div ng-messages="editForm.razao_nome.$error" role="alert">
                <div ng-message-exp="['required']">
                  Campo Obrigatório.
                </div>
              </div>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
              <label>Tipo</label>
              <md-select placeholder="Tipo" style="width: 150px" required ng-required="true" name="tipo_pessoa" ng-model="fornecedor.tipo_pessoa">
                <md-option value="FISICA">FISICA</md-option>
                <md-option value="JURIDICA">JURIDICA</md-option>
              </md-select>
              <div ng-messages="editForm.tipo_pessoa.$error" class="errors">
                <div ng-message="required">
                  Campo Obrigatório.
                </div>
              </div>
            </md-input-container>


              <md-input-container class="md-block" flex-gt-sm>
                <label>CEP</label>
                  <input  type="text" style="width: 100px" name="cep" ng-model="fornecedor.cep" mask="99999-999" ng-change="buscaCep(fornecedor.cep)"/>
              </md-input-container>

              <md-input-container class="md-block" flex-gt-sm>
                  <label>Endereço</label>
                    <input  type="text" name="endereco" ng-model="fornecedor.endereco" ng-change="fornecedor.endereco = (fornecedor.endereco | uppercase)"/>
              </md-input-container>

              <md-input-container class="md-block" flex-gt-sm>
                  <label>Bairro</label>
                    <input  type="text" name="bairro" ng-model="fornecedor.bairro" ng-change="fornecedor.bairro = (fornecedor.bairro | uppercase)"/>
              </md-input-container>

              <md-input-container class="md-block" flex-gt-sm>
                <label>Cidade</label>
                  <input  type="text" name="cidade" ng-model="fornecedor.cidade" ng-change="fornecedor.cidade = (fornecedor.cidade | uppercase)"/>
              </md-input-container>

              <md-input-container class="md-block" flex-gt-sm>
                <label>UF</label>
                <md-select placeholder="UF" style="width: 100px"  ng-required="false" name="uf" ng-model="fornecedor.uf">
                  <md-option ng-repeat="estado in estados" ng-value="estado.sigla">
                      {{estado.sigla}}
                  </md-option>
                </md-select>
              </md-input-container>

              <md-input-container class="md-block" flex-gt-sm>
                <label>Email</label>
                <input ng-required="false" type="email" name="email" ng-model="fornecedor.email" />
              </md-input-container>

              <md-input-container class="md-block" flex-gt-sm>
                  <label>Tefone/Celular</label>
                  <input ng-required="false" type="text" name="telefone_comercial" ng-model="fornecedor.telefone_comercial" mask="(99) 9?9999-9999"/>
              </md-input-container>
            </md-content>
          </md-dialog-content>
              <md-dialog-actions>
                <md-button class="md-raised md-primary" ng-click="cancel()">Cancelar</md-button>
                <md-button type="submit"  class="md-raised md-primary">Gravar</md-button>
              </md-dialog-actions>
            </md-dialog-actions>
          </md-dialog>
  </script>
