<style>
    .istotal{
      background-color: royalblue;
    }
  
  </style>
  <div class="doc-demo-content doc-content" style="font-weight: bold;">
    <link rel="stylesheet" href="/assets/css/CustomForms.css">
         
        <md-content layout-xs="column" layout-gt-sm="row" layout-sm="column">
          <md-card layout-padding flex-gt-sm layout="column" flex-order="1" flex-order-gt-sm="1">
            <md-subheader class="md-no-sticky">FILTRAR DADOS</md-subheader>
            <md-divider></md-divider>
            <form name="editForm" ng-submit="editForm.$valid && formEdit(dados)" novalidate="novalidate">
      
              <div layout-gt-sm="row">
      
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Data inicio</label>
                  <md-datepicker name="dataInicio" ng-model="dados.dataInicio" ng-required="true"
                    md-placeholder="Data inicio"></md-datepicker>
      
                  <div ng-messages="editForm.dataInicio.$error" class="errors">
                    <div ng-message="required">
                      Campo Obrigatório.
                    </div>
                  </div>
                </md-input-container>
      
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Data final</label>
                  <md-datepicker name="dataFinal" ng-model="dados.dataFinal" ng-required="true" md-placeholder="Data final">
                  </md-datepicker>
      
                  <div ng-messages="editForm.dataFinal.$error" class="errors">
                    <div ng-message="required">
                      Campo Obrigatório.
                    </div>
                  </div>
      
                </md-input-container>
      
                <md-input-container class="md-block" flex-gt-sm style="margin-right: 10px;">
                  <label>Status</label>
                  <md-select placeholder="Status" required ng-required="false" name="status" ng-model="dados.status">
                    <md-option value="ABERTO">ABERTO</md-option>
                    <md-option value="PAGO">PAGO</md-option>
                    <md-option value="CANCELADO">CANCELADO</md-option>
                  </md-select>
                </md-input-container>

             
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Centro Custo</label>
                  <md-select placeholder="Centro Custo" name="centrocusto" ng-model="dados.centro_custo">
                    <md-option ng-repeat="centroCusto in centroCustos" ng-value="centroCusto.id">
                      {{centroCusto.descricao}}
                    </md-option>
                  </md-select>
                </md-input-container>

      
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Forma Pagamento</label>
                  <md-select placeholder="Forma Pagamento" name="forma" ng-model="dados.forma_pagamento">
                    <md-option ng-repeat="tiposRecebimento in tiposRecebimentos" ng-value="tiposRecebimento.id">
                      {{tiposRecebimento.descricao}}
                    </md-option>
                  </md-select>
                </md-input-container>
      
              </div>
      
              <div layout-gt-sm="row" >
               
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Nome do Fornecedor</label>
                    <input type="text" name="documento"  ng-model="dados.id_fornecedor" ng-blur="HideModal()"
                    ng-keyup="buscaFornecedores($event)"  ng-change="dados.id_fornecedor = (dados.id_fornecedor | uppercase)"/>
      
                  <div class="containerCliente" id="Container" style="display: none">
                    <li ng-click="ChangeScope(fornecedor)" name="id_fornecedor" ng-value="id_fornecedor" ng-repeat="fornecedor in fornecedores">
                      {{fornecedor.razao_nome}}
                    </li>
                  </div>
        
                  <div class="ErrorLength" id="ErrorLength" style="display: none">
                    Digite ao menos 3 caracteres
                  </div>

                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                  <label>CPF/CNPJ</label>
                  <input type="text" name="cpf_cnpj" cpf-cnpj ng-model="dados.cpf_cnpj" ng-required="false" />
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                  <label>Competência</label>
                  <input type="text" name="competencia" ng-model="dados.competencia" mask="99/9999" />
                  <div ng-messages="editForm.competencia.$error" role="alert">
                    <div ng-message="mask">
                      Formato correto : MM/AAAA
      
                    </div>
                  </div>
                </md-input-container>
      
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Conta</label>
                  <md-select placeholder="Conta" name="conta" ng-model="dados.conta">
                    <md-option ng-repeat="conta in contas" ng-value="conta.id">
                      {{conta.descricao}}
                    </md-option>
                  </md-select>
                </md-input-container>

                <div style="margin-top: 20px;margin-right: 30px;font-weight: normal;">
                  <md-checkbox ng-model="dados.servico" aria-label="Checkbox 1">
                    Prestador Serviço
                  </md-checkbox>
                </div>  
              
              </div>

              <div layout-gt-sm="row" >

                <md-input-container class="md-block" flex-gt-sm>
                  <label>Grupo</label>
                  <md-select placeholder="Grupo" name="grupo"
                    ng-model="dados.grupo" >
                    <md-option ng-repeat="grupo in grupos" ng-value="grupo.id">
                      {{grupo.descricao}}
                    </md-option>
                  </md-select>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                  <label>Categoria</label>
                  <md-select placeholder="Categoria" name="categoria"
                    ng-model="dados.categoria">
                    <md-option ng-repeat="categoria in categorias" ng-value="categoria.id">
                      {{categoria.descricao}}
                    </md-option>
                  </md-select>
                </md-input-container>

              </div>
      
              <div layout-gt-sm="row" style="display: flex;align-items: center;">
      
                <md-input-container class="md-block" flex-gt-sm > 
                  <label>Pátio</label>
                  <md-select placeholder="Pátio" name="patio" ng-model="dados.patio" multiple ng-disabled="dados.patioGrupo" style="width: 700px"> 
                    <md-option ng-repeat="patio in patios" ng-value="patio.id_patio" >
                      {{patio.nome}}
                    </md-option>
                  </md-select>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm flex-gt-sm style="text-overflow: hidden;max-width: 90%;"> 
                  <label>Grupo Pátio</label>
                  <md-select placeholder="Grupo Pátio" name="patio" ng-model="dados.patioGrupo" ng-disabled="dados.patio">
                    <md-option ng-repeat="patioGrupo in patiosGrupo" ng-value="patioGrupo.id" >
                      {{patioGrupo.descricao}}
                    </md-option>
                  </md-select>
                </md-input-container>
      
              </div>
      
              <div>
                <md-button class="md-raised md-primary" aria-label="Adicionar" ng-click="mesAtual($event)">Mês Atual
                </md-button>
                <md-button class="md-raised" md-colors="{background:'teal'}" md-colors-watch="false"
                  ng-click="pesquisar($event)">Filtrar</md-button>
                <md-button class="md-raised" aria-label="Limpar" ng-click="limpar($event)">Limpar</md-button>
                <md-button class="md-raised md-primary" aria-label="Adicionar" ng-click="novo($event)">Novo</md-button>
              </div>
      
            </form>
          </md-card>
        </md-content>
      
      
        <section class="md-whiteframe-z1 " ng-cloak layout="column"  >
      
          <md-toolbar class="md-theme-light">
            <h2 class="md-toolbar-tools">
              <span>{{totalRegistros}} Registros</span>
              <span style="margin-left: 30px">Pagos : {{total_pago | currency:"R$ ":2}} </span>
              <span style="margin-left: 30px">A Pagar : {{total_pagar | currency:"R$ ":2}} </span>
              <span flex></span>
              <md-button class="md-raised" aria-label="PDF" ng-click="gerarPdf()" >PDF</md-button>
              <md-button class="md-raised" aria-label="Excel" ng-click="gerarPlanilha()">Excel</md-button>
            </h2>
          </md-toolbar>
      
          <mdt-table   paginated-rows="{isEnabled: true, rowsPerPageValues: [20,50, 100]}" animate-sort-icon="true" mdt-row="{
                                  'data': dadosList,
                                  'table-row-id-key': 'id',
                                  'column-keys': ['nome','vencimento','razao_nome','cpf_cnpj','saldo_pagar',
                                  'desc_tiporecebimento', 'documento', 'status', 'servico', 'editar', 'baixar', 'cancelar'],
                        }">
            
            <mdt-custom-cell column-key="servico" >
              <input type="checkbox" name="servico" aria-label="Checkbox 1" style="margin: 30"
                title="Informar se o pagamento é para um Prestador de Serviço"
                ng-hide="clientScope.hideCheck($event, rowId)"
                ng-checked="clientScope.checkboxDetalhe($event, rowId)"
                ng-click="clientScope.prestadorServico($event, rowId)" > 
            </mdt-custom-cell>
           
            <mdt-custom-cell column-key="editar"  id="Status" ng-hide="true">
              <mdt-custom-cell-button icon='edit' class="md-icon-button md-secondary"
                ng-click="clientScope.detalhe($event, rowId, value)" aria-label="Detalhe"
                ng-hide="clientScope.hideCheck($event, rowId)"
                title="Editar as informações do pagamento">
                </md-custom-cell-button>
            </mdt-custom-cell>

            <mdt-custom-cell column-key="baixar">
              <mdt-custom-cell-button icon='payment' class="md-icon-button md-secondary"
                ng-click="clientScope.baixar($event, rowId,  value)" aria-label="Baixar"
                ng-hide="clientScope.hideCheck($event, rowId)"
                title="Efetuar a baixa do pagamento">
                </md-custom-cell-button>
            </mdt-custom-cell>

            <mdt-custom-cell column-key="cancelar">
              <mdt-custom-cell-button icon='cancel' class="md-icon-button md-secondary"
                ng-click="clientScope.cancelar($event, rowId,  value)" aria-label="Cancelar"
                ng-hide="clientScope.hideCheck($event, rowId)"
                title="Efetuar o cancelamento do pagamento">
                </md-custom-cell-button>
            </mdt-custom-cell>
      
            <mdt-header-row  >
              <mdt-column align-rule="left" column-sort="false">Pátio</mdt-column>
              <mdt-column align-rule="left" column-sort="false">Vencimento</mdt-column>
              <mdt-column align-rule="left" column-sort="false">Nome/Razão Social</mdt-column>
              <mdt-column align-rule="left" column-sort="false">CPF/CNPJ</mdt-column>
              <mdt-column align-rule="left" column-sort="false">Valor</mdt-column>
              <mdt-column align-rule="left" column-sort="false">Tipo Rec.</mdt-column>
              <mdt-column align-rule="left" column-sort="false">Doc.</mdt-column>
              <mdt-column align-rule="left" column-sort="false">Status</mdt-column>
              <mdt-column align-rule="center" column-sort="false">Prest. Serviço</mdt-column>
              <mdt-column align-rule="right" column-sort="false">Editar</mdt-column>
              <mdt-column align-rule="right" column-sort="false">Baixar</mdt-column>
              <mdt-column align-rule="right" column-sort="false">Cancelar</mdt-column>
            </mdt-header-row>
      
          </mdt-table>
      
        </section>
    
    
  </div>