
<link rel="stylesheet" href="/assets/css/painelModal/index.css">
<div class="showPainel" ng-show="showModal">
    <div class="modal">
        <h1>Atenção</h1>
        <h2>Conferente incompletos!</h2>
        <h2>Total: {{totalConferente}}</h2>

        <button ng-click="conferirConferentesIncompletos()">CONFERIR</button>
        <button ng-click="closeModalConf()" class="close">FECHAR</button>

    </div>
</div>



<form class="md-inline-form">
  <div layout="row" layout-wrap>
    
    <md-input-container class="md-block" flex-gt-sm ng-hide="hideFiltroPesquisar" class="ng-hide">
      <label>Dia</label>
      <md-datepicker name="diario" ng-model="dados.data" md-mode="day"
        ng-required="true" ng-hide="hideFiltroPesquisar">
        </md-datepicker>
      </md-input-container>
            
    <md-input-container class="md-block" flex-gt-sm ng-hide="hideFiltroPesquisar" class="ng-hide">
      <label>Pátio</label>
      <md-select placeholder="Pátio" style="width: 350px" ng-required="false" name="patio"
         ng-model="dados.patio" multiple ng-disabled="dados.id_grupo_patios">
        <md-option ng-repeat="patio in patios" ng-value="patio.id_patio">
          {{patio.nome}}  
        </md-option>
      </md-select>
    </md-input-container>

    <md-input-container class="md-block" flex-gt-sm ng-hide="hideFiltroPesquisar" class="ng-hide"> 
      <label>Grupo Pátio</label>
      <md-select placeholder="Grupo Pátio" name="Grupo Pátio" ng-required="false" 
      ng-model="dados.id_grupo_patios" ng-disabled="dados.patio"> 
        <md-option ng-repeat="patioGrupo in patiosGrupo" ng-value="patioGrupo.id" >
          {{patioGrupo.descricao}}
        </md-option>
      </md-select>
    </md-input-container>

  </div>


  <div layout="row" layout-wrap>

    <md-input-container class="md-block" flex-gt-sm>
      <div >
        
        <md-button type="submit" class="md-raised" md-colors="{background:'teal'}" md-colors-watch="false" 
          ng-hide="hideFiltroPesquisar" class="ng-hide" ng-click="buscaInfosGrafico()">Filtrar</md-button>
        
        <md-button class="md-raised" aria-label="Limpar" ng-hide="hideFiltroPesquisar" 
          ng-click="limpar($event)">Limpar</md-button>

      </div>
    </md-input-container>
    
  </div>

  <div id="painel_apreensoesAcumulado"></div>
      
  <div id="painel_liberacoesAcumulado"></div>

  <div id="painel_totalApreensoes"></div>
  <br>
  <div id="painel_totalLiberacoes"></div>
  <br>
  <div id="painel_apreensoes"></div>
  <br>
  <br>
  <div id="painel_liberacoes"></div>
   

</form>

        
          