
<div class="doc-demo-content doc-content">


 <section  class="md-whiteframe-z1 " ng-cloak layout="column" style="margin: 0px;">

    <md-list>

<!--
      <md-subheader class="md-no-sticky">Passed Student List</md-subheader>
--> 
      <div layout="row" flex="100" style="background-color: blue;margin-left: 15px;margin-right: 15px;">
          <p flex="15" style="color: aliceblue;">Motorista</p>
          <p flex="15" style="color: aliceblue;">Data/hora</p>
          <p flex="15" style="color: aliceblue;">Tipo Acionamento</p>
          <p flex="15" style="color: aliceblue;">Motorista/Guincho</p>
          <p flex="15" style="color: aliceblue;">Status</p>
          <p flex="15" style="color: aliceblue;">NCV</p>
          <p flex="15" style="color: aliceblue;">Patio.</p>
      </div>

      <md-list-item class="md-1-line"  ng-repeat="detail in dadosList" ng-click="null" >
          <div layout="row" flex="100" class="md-list-item-text" ng-style ="getStyle(detail.status)">
              <p flex="15">{{ detail.nome_chamador }} </p>
              <p flex="15">{{ detail.data_hora_chamador }} </p>
              <p flex="15">{{ detail.tipo_chamador}} </p>
              <p flex="15">{{ detail.nome_usuario_motorista }} </p>
              <p flex="15">{{ detail.status }} </p>
              <p flex="15">{{ detail.ncv }} </p>
              <p flex="15">{{ detail.patio }} </p>
          </div>
          <md-divider></md-divider>
      </md-list-item>
    </md-list>

  </section>

 


 

</div>