<div>
  <patio-upload update-function="loadDocumentsByPatio" patio="patio"></patio-upload>
  
  <H2>DOCUMENTOS</H2>
  <mdt-table
              paginated-rows="{isEnabled: true, rowsPerPageValues: [20,50, 100]}" 
              animate-sort-icon="true"
              mdt-row="{
                        'data': documents,
                        'table-row-id-key': 'id',
                        'column-keys': ['tipo', 'observacao', 'data_inicio', 'data_fim', 'dias', 'id']
              }"
    >
    <!-- 
      'editar'

    <mdt-custom-cell column-key="editar">
      <mdt-custom-cell-button ng-click="clientScope.editar(rowId)" icon='edit' class="md-icon-button md-secondary" aria-label="Editar"></md-custom-cell-button>
    </mdt-custom-cell>

    -->

    <mdt-custom-cell column-key="id">
      <mdt-custom-cell-button  icon='picture_as_pdf' class="md-icon-button md-secondary" ng-click="clientScope.verFile($event,rowId,value)" aria-label="Visualizar"></md-custom-cell-button>
    </mdt-custom-cell>

<!--    
    <mdt-custom-cell column-key="id">
      <mdt-custom-cell-button ng-click="clientScope.deleteFile($event,rowId,value)" icon='delete_forever' class="md-icon-button md-secondary" aria-label="Excluir"></md-custom-cell-button>
    </mdt-custom-cell>
-->    

    <mdt-header-row>
<!--
      <mdt-column align-rule="left" column-sort="false">#</mdt-column>
-->
      <mdt-column align-rule="left" column-sort="false">Tipo</mdt-column>
      <mdt-column align-rule="left" column-sort="false">Observacao</mdt-column>
      <mdt-column align-rule="left" column-sort="false">Data Inicio</mdt-column>
      <mdt-column align-rule="left" column-sort="false">Data Fim</mdt-column>
      <mdt-column align-rule="left" column-sort="false">Dias Alerta</mdt-column>
      <mdt-column align-rule="left" column-sort="false">Visualizar</mdt-column>
<!--
              <mdt-column align-rule="left" column-sort="false">Editar</mdt-column>
      
      <mdt-column align-rule="left" column-sort="false">Apagar</mdt-column> 
-->
    </mdt-header-row>
  </mdt-table> 
</div>