<div>
    <md-content layout-xs="column" layout-gt-sm="row" layout-sm="column">
        <md-card layout-padding flex-gt-sm layout="column" flex-order="1" flex-order-gt-sm="1">
          <br>
          <form name="editForm">
          <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
              <label>Tipo</label>
              <md-select placeholder="Tipo"  name="tipo" ng-model="tipo">
                <md-option ng-repeat="tipo in tipos" ng-value="tipo">
                  {{tipo}}
                </md-option>
              </md-select>
            </md-input-container>
      
              <md-input-container class="md-block" flex-gt-sm>
                <label>Data inicio</label> 
                <md-datepicker name="dataInicio" ng-model="data_inicio" md-placeholder="Data inicio"></md-datepicker>
              </md-input-container> 
    
              <md-input-container class="md-block" flex-gt-sm>
                <label>Data final</label>   
                <md-datepicker name="dataFinal" ng-model="data_fim" md-placeholder="Data final"></md-datepicker>
              </md-input-container>
      
              <md-input-container class="md-block" flex-gt-sm>
                <label>Dias para Alerta</label>   
                <input required ng-required="false" type="number" name="diasAlerta" ng-model="dias" />
              </md-input-container> 

            </div>
    
            <div layout-gt-sm="row">
              <md-input-container class="md-block" flex-gt-sm>
                <mat-form-field class="example-full-width">
                  <label>Observacao: </label>
                  <textarea matInput placeholder="Digite aqui a observacao" ng-model="observacao"></textarea>
                </mat-form-field>
              </md-input-container>

            </div>
            <div layout-gt-sm="row">
              <md-input-container class="md-block" flex-gt-sm>
                <mat-form-field class="example-full-width">
                  <input 
                  id='inputFile' 
                  type='file' 
                  accept="application/pdf"
                  ng-model="documento"
                  />
                </mat-form-field>
              </md-input-container>
            </div>
          </form> 
          <div>
            <md-button 
            class="md-raised md-primary" color="primary" aria-label="PDF" 
            ng-disabled="checkEnviarArquivo()" ng-click='uploadFile()'>GRAVAR
          </md-button>
          </div>
        </md-card>
      </md-content>
</div>