<div class="doc-demo-content doc-content">

  <md-content flex>
    <md-card layout-padding>
      <form name="editForm" ng-submit="editForm.$valid && gravar(patio)" novalidate="novalidate">
      <md-tabs md-dynamic-height md-border-bottom>        
        <md-tab label="Dados do Pátio">
        <md-content flex style="background: white">  
        <br>
        <br> 
            <md-input-container class="md-block" >
            <label>Nome Patio</label>
            <input ng-required="true" type="text" name="nome" ng-model="patio.nome" ng-change="patio.nome = (patio.nome | uppercase)"/>
            <div ng-messages="editForm.descricao.$error" role="alert">
                <div ng-message-exp="['required']">
                Campo Obrigatório.
                </div>
            </div>
            </md-input-container>

            <md-input-container class="md-block" >
                <label>Responsável</label>
                <input ng-required="true" type="text" name="responsavel" ng-model="patio.responsavel" ng-change="patio.responsavel = (patio.responsavel | uppercase)"/>
                <div ng-messages="editForm.responsavel.$error" role="alert">
                    <div ng-message-exp="['required']">
                    Campo Obrigatório.
                    </div>
                </div>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
            <label>CEP</label>
            <input  type="text" style="width: 100px" name="cep" ng-model="patio.cep" mask="99999-999" ng-change="buscaCep(patio.cep)"/>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
                <label>Endereço</label>
                <input  type="text" name="endereco" ng-model="patio.endereco" ng-change="patio.endereco = (patio.endereco | uppercase)"/>
            </md-input-container>
                
            <md-input-container class="md-block" flex-gt-sm>
                <label>Bairro</label>
                <input  type="text" name="bairro" ng-model="patio.bairro" ng-change="patio.bairro = (patio.bairro | uppercase)"/>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
            <label>Cidade</label>
                <input  type="text" name="cidade" ng-model="patio.cidade" ng-change="patio.cidade = (patio.cidade | uppercase)"/>
            </md-input-container>    

            <md-input-container class="md-block" flex-gt-sm>
            <label>UF</label>
            <md-select placeholder="UF" style="width: 100px"  ng-required="false" name="estado" ng-model="patio.estado">
                <md-option ng-repeat="estado in estados" ng-value="estado.sigla">
                    {{estado.sigla}}
                </md-option>
            </md-select>
            </md-input-container>        

            <md-input-container class="md-block" >
                <label>Telefone</label>
                <input ng-required="true" type="text" name="telefone" ng-model="patio.telefone" mask="(99) 9?9999-9999"/>
                <div ng-messages="editForm.telefone.$error" role="alert">
                    <div ng-message-exp="['required']">
                    Campo Obrigatório.
                    </div>
                    <div ng-message="mask">
                        Digitar um número de telefone em um formato válido.
                    </div>                    
                </div>
            </md-input-container>

            <md-input-container class="md-block" >
                <label>Whatsapp</label>
                <input ng-required="false" type="text" name="whatsapp" ng-model="patio.whatsapp" mask="(99) 9?9999-9999"/>
                <div ng-messages="editForm.whatsapp.$error" role="alert">
                <div ng-message="mask">
                    Digitar um número de telefone em um formato válido.
                </div>
                </div>
            </md-input-container>  
            
            <md-input-container class="md-block" >
                <label>Email</label>
                <input ng-required="true" type="email" name="email" ng-model="patio.email" />
                <div ng-messages="editForm.email.$error" role="alert">
                    <div ng-message-exp="['required']">
                    Campo Obrigatório.
                    </div>
                </div>
            </md-input-container>  
            
            <div layout-gt-sm="row">                    
            <md-input-container class="md-block" flex-gt-sm >
                <label>Ativo</label>
                <md-select placeholder="Ativo" style="width: 20%" required ng-required="true" name="ativo" ng-model="patio.ativo">
                    <md-option value="1">SIM</md-option>
                    <md-option value="0">NÃO</md-option>
                </md-select>
                <div ng-messages="editForm.ativo.$error" class="errors">
                    <div ng-message="required">
                    Campo Obrigatório.
                    </div>
                </div>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Conta</label>
                <md-select required ng-required="false" placeholder="Conta" style="width: 90%" name="conta" ng-model="patio.conta">
                  <md-option ng-repeat="conta in contas" ng-value="conta.id">
                      {{conta.descricao}}
                  </md-option>
                </md-select>
            </md-input-container>  
            </div>
            <div layout-gt-sm="row">
                
            <md-input-container class="md-block" flex-gt-sm>
                <label>Meta Apreensões</label>
                    <input  type="number" name="meta_apreensoes" ng-model="patio.meta_apreensoes" />
                </md-input-container> 
                
            <md-input-container class="md-block" flex-gt-sm>
                <label>Meta Liberações</label>
                    <input  type="number" name="meta_liberacoes" ng-model="patio.meta_liberacoes"/>
            </md-input-container>
            
            <md-input-container class="md-block" flex-gt-sm>
                <label>Ponto Equilíbrio</label>
                    <input  type="number" name="ponto_equilibrio" ng-model="patio.ponto_equilibrio"/>
            </md-input-container>
            
            <md-input-container class="md-block" flex-gt-sm>
                <label>Contrato</label>
                    <input  type="number" name="contrato" ng-model="patio.contrato"/>
            </md-input-container> 

                </div>


            <md-input-container class="md-block">
                <label>Observação</label>
                <textarea ng-model="patio.observacao" md-maxlength="150" rows="3" md-select-on-focus></textarea>
            </md-input-container>
            
            <md-input-container class="md-block">
                <label>Info Liberação</label>
                <textarea ng-model="patio.info" md-maxlength="150" rows="3" md-select-on-focus></textarea>
            </md-input-container>
            <div>
                <md-button type="submit" ng-disabled="isDisabled" class="md-raised md-primary">Gravar</md-button>
                <md-button class="md-raised" ng-click="paginaAnterior()" aria-label="Voltar">Voltar</md-button>
                </div>
            </md-content>            
            </md-tab>  
             
            
<!--
        <md-tab label="Documentos" ng-disabled="isDisabled">
        <md-content flex style="background: white">
            <patio-documentos patio="{{patio.id}}"></patio-documentos>
        </md-content>            
        </md-tab>              
-->                
    </md-tabs>
    </form>
    </md-card>
  </md-content>

</div>