<div class="doc-demo-content doc-content">
    <md-content layout-xs="column" layout-gt-sm="row" layout-sm="column">
        <md-card layout-padding flex-gt-sm layout="column" flex-order="1" flex-order-gt-sm="1">
            <form name="editForm" ng-submit="editForm.$valid && editar(permissoes)" novalidate="novalidate">
                
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm >
                        <label>Menu</label>
                        <md-select placeholder="Menu" required ng-required="true" name="menu" ng-model="permissoes.menu">
                            <md-option value="1">Administrativo</md-option>
                            <md-option value="2">Cadastros</md-option>
                            <md-option value="3">Parametros</md-option>
                            <md-option value="3">Importações</md-option>
                            <md-option value="3">Relatórios</md-option>
                        </md-select>
                        <div ng-messages="editForm.menu.$error" class="errors">
                        <div ng-message="required">
                            Campo Obrigatório.
                        </div>
                        </div>
                    </md-input-container>
            
                    <md-input-container class="md-block" flex-gt-sm >
                        <label>Nome</label>
                        <input ng-required="true" type="text" name="nome" ng-model="permissoes.nome" disabled />
                        <div ng-messages="editForm.nome.$error" role="alert">
                        <div ng-message-exp="['required']">
                            Campo Obrigatório.
                        </div>
                        </div>
                    </md-input-container>
                
                </div>
                <md-divider></md-divider>
                
                
        
            </form>

            <div layout="row" layout-align="center center">
                <h4><a href="#" alt="marcar" title="marcar">Marcar todos</a> | <a href="#" alt="desmarcar" title="desmarcar">Desmarcar todos</a></h4>
            </div>
            
        </md-card>
    </md-content>
    
    
    <section  class="md-whiteframe-z1 " ng-cloak layout="column" >
        
        <md-toolbar class="md-theme-light" >
            <h2 class="md-toolbar-tools">
            <span>{{list.length}} Registros</span>
            <span flex></span>
            <md-button class="md-raised" aria-label="PDF" >PDF</md-button>
            <md-button class="md-raised" aria-label="Excel" >Excel</md-button>
            </h2>
        </md-toolbar>
    
        <mdt-table paginated-rows="{isEnabled: true, rowsPerPageValues: [20,50, 100]}"
                    selectable-rows="true" 
                    animate-sort-icon="true"
                    mdt-row="{
                                'data': list,
                                'table-row-id-key': 'id',
                                'column-keys': ['id', 'menu', 'aplicacao', 'tipo']
                    }"
            >
            
            <mdt-custom-cell column-key="checkbox">
                
            </mdt-custom-cell>
            
            <mdt-header-row>
            <mdt-column align-rule="left" column-sort="true">#</mdt-column>
            <mdt-column align-rule="left" column-sort="true">Menu</mdt-column>
            <mdt-column align-rule="left" column-sort="true">Aplicação</mdt-column>
            <mdt-column align-rule="left" column-sort="false">Tipo</mdt-column>
            </mdt-header-row>
            
            
        </mdt-table>
        
    </section>
    
    </div>