<div class="doc-demo-content doc-content">
        <md-content layout-xs="column" layout-gt-sm="row" layout-sm="column">
          <md-card layout-padding flex-gt-sm layout="column" flex-order="1" flex-order-gt-sm="1">
            <md-subheader class="md-no-sticky">FILTRAR DADOS</md-subheader>
            <md-divider></md-divider>
            <form name="editForm" ng-submit="editForm.$valid && editar(permissoes)" novalidate="novalidate">
              
              <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm >
                  <label>Nome</label>
                  <input ng-required="true" type="text" name="nome" ng-model="permissoes.nome" />
                  <div ng-messages="editForm.nome.$error" role="alert">
                    <div ng-message-exp="['required']">
                      Campo Obrigatório.
                    </div>
                  </div>
                </md-input-container>
               
                <md-input-container class="md-block" flex-gt-sm >
                  <label>Order By</label>
                  <md-select placeholder="Order By" required ng-required="true" name="orderby" ng-model="permissoes.orderby">
                    <md-option value="nome">Nome</md-option>
                    <md-option value="email">Email</md-option>
                  </md-select>
                  <div ng-messages="editForm.orderby.$error" class="errors">
                    <div ng-message="required">
                      Campo Obrigatório.
                    </div>
                  </div>
                </md-input-container>
      
                <div class="md-block" flex-gt-sm >
                  <span>Ordenação</span>
                  <md-radio-group  layout="row" class="md-block" ng-model="permissoes.ordenacao" >
                    <md-radio-button value="asc" class="md-primary">Asc</md-radio-button>
                    <md-radio-button value="desc">Desc</md-radio-button>
                  </md-radio-group>
                </div>
                
              </div>
              
              <div>
                <md-button class="md-raised" md-colors="{background:'teal'}" md-colors-watch="false">Filtrar</md-button>
                <md-button class="md-raised" aria-label="Limpar">Limpar</md-button>
                <md-button class="md-raised md-primary" aria-label="Adicionar">Adicionar</md-button>
              </div>
      
            </form>
          </md-card>
        </md-content>
        
      
        <section  class="md-whiteframe-z1 " ng-cloak layout="column" >
          
            <md-toolbar class="md-theme-light" >
              <h2 class="md-toolbar-tools">
                <span>{{list.length}} Registros</span>
                <span flex></span>
                <md-button class="md-raised" aria-label="PDF" >PDF</md-button>
                <md-button class="md-raised" aria-label="Excel" >Excel</md-button>
              </h2>
            </md-toolbar>
      
            <mdt-table paginated-rows="{isEnabled: true, rowsPerPageValues: [20,50, 100]}" 
                        animate-sort-icon="true"
                        mdt-row="{
                                  'data': list,
                                  'table-row-id-key': 'id',
                                  'column-keys': ['id', 'nome', 'editar']
                        }"
              >
              
              <mdt-custom-cell column-key="editar">
                <mdt-custom-cell-button icon='edit' class="md-icon-button md-secondary" ng-click="clientScope.detalhe($event, rowId)" aria-label="Editar"></md-custom-cell-button>
              </mdt-custom-cell>
              
              <mdt-header-row>
                <mdt-column align-rule="left" column-sort="false">#</mdt-column>
                <mdt-column align-rule="left" column-sort="false">Nome</mdt-column>
                <mdt-column align-rule="left" column-sort="false">Editar</mdt-column>
              </mdt-header-row>
              
              
            </mdt-table>
          
        </section>
      
      </div>