<div class="doc-demo-content doc-content">
  <md-content layout-xs="column" layout-gt-sm="row" layout-sm="column">
    <md-card layout-padding flex-gt-sm layout="column" flex-order="1" flex-order-gt-sm="1">
      <form name="editForm" ng-submit="editForm.$valid && pesquisar(dados)" novalidate="novalidate">
          
            <md-input-container class="md-block" flex-gt-sm>
              <label>Pátio</label>
              <md-select placeholder="Pátio" required ng-required="true" style="width: 90%" name="patio" ng-model="dados.patio" multiple>
                <md-option  ng-repeat="patio in patios" ng-value="patio.id_patio">
                    {{patio.nome}}
                </md-option>
              </md-select>
              <div ng-messages="usuarioEditForm.patio.$error" class="errors">
                <div ng-message="required">
                Selecione Pátio.
                </div>
              </div>      
            </md-input-container>

            <div layout-gt-sm="row">
              
            <md-input-container class="md-block" flex-gt-sm >
              <label>Data Preensão Inicio</label> 
              <md-datepicker name="dataInicio" ng-model="dados.dataInicio" ></md-datepicker>
            </md-input-container> 

            <md-input-container class="md-block" flex-gt-sm >
              <label>Data Preensão Final</label>   
              <md-datepicker name="dataFinal" ng-model="dados.dataFinal" ></md-datepicker>
            </md-input-container>

            </div>

            <div layout-gt-sm="row">

            <md-input-container class="md-block" flex-gt-sm >
              <label>Data Liberação Inicio</label> 
              <md-datepicker name="dataInicio" ng-model="dados.dataInicio" ></md-datepicker>
            </md-input-container> 

            <md-input-container class="md-block" flex-gt-sm >
              <label>Data Liberação Final</label>   
              <md-datepicker name="dataFinal" ng-model="dados.dataFinal" ></md-datepicker>
            </md-input-container>     
            
            </div>

            <md-input-container class="md-block" flex-gt-sm>
              <label>Status</label>
              <md-select placeholder="Status"  required ng-required="false" name="status" ng-model="dados.status">
                <md-option value="LIBERADO">LIBERADO</md-option>
                <md-option value="LIBERADO ARR">LIBERADO ARR</md-option>
                <md-option value="APREENDIDO">APREENDIDO</md-option>
                <md-option value="INATIVO">INATIVO</md-option>
                <md-option value="CANCELADO">CANCELADO</md-option>
              </md-select>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
              <label>Tipo de Veiculo</label>
              <md-select placeholder="Tipo de Veiculo"  ng-required="true" name="tipoveiculo" ng-model="dados.tipo_veiculo" multiple>
                  <md-option ng-repeat="tipoveiculo in tiposVeiculos" ng-value="tipoveiculo.id">
                    {{tipoveiculo.descricao}}
                  </md-option>
                </md-select>      
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
              <label>Motorista</label>
              <md-select placeholder="Motorista" ng-required="false" name="id_motorista" ng-model="guincho.id_motorista">
                <md-option ng-repeat="motorista in motoristas" ng-value="motorista.id">
                  {{motorista.nome}}
                </md-option>
              </md-select>
            </md-input-container>
               
         

        <br>
        <div>
          <md-button class="md-raised md-primary" aria-label="Adicionar" ng-click="mesAtual($event)">Mês Atual</md-button>          
          <md-button type="submit" class="md-raised" md-colors="{background:'teal'}" md-colors-watch="false">Filtrar</md-button>
        </div>

      </form>
    </md-card>
  </md-content>
  

  <section  class="md-whiteframe-z1 " ng-cloak layout="column" >
    
      <md-toolbar class="md-theme-light" >
        <h2 class="md-toolbar-tools">
          <span>{{dadosApreensoes.length}} Registros</span>
          <span flex></span>
          <md-button class="md-raised" aria-label="Excel" ng-click="gerarPlanilha()" >Gerar Planilha</md-button>
        </h2>
      </md-toolbar>

      <mdt-table paginated-rows="{isEnabled: true, rowsPerPageValues: [20,50, 100]}" 
                  animate-sort-icon="true"
                  mdt-row="{
                            'data': dadosApreensoes,
                            'table-row-id-key': 'id',
                            'column-keys': ['id', 'tipo_veiculo', 'placa', 'data_apreensao', 'marca_modelo','ano','cor', 'patio']
                  }"
        >
<!--
        <mdt-custom-cell column-key="editar">
          <mdt-custom-cell-button icon='edit' class="md-icon-button md-secondary" ng-click="clientScope.detalhe($event, rowId)" aria-label="Detalhe"></md-custom-cell-button>
        </mdt-custom-cell>
-->
        <mdt-header-row>
          <mdt-column align-rule="left" column-sort="true">NCV</mdt-column>
          <mdt-column align-rule="left" column-sort="true">Tipo Veiculo</mdt-column>
          <mdt-column align-rule="left" column-sort="false">Placa</mdt-column>
          <mdt-column align-rule="left" column-sort="false">Apreensão</mdt-column>
          <mdt-column align-rule="left" column-sort="false">Descrição</mdt-column>
          <mdt-column align-rule="left" column-sort="false">Ano</mdt-column>
          <mdt-column align-rule="left" column-sort="false">Cor</mdt-column>
          <mdt-column align-rule="left" column-sort="false">Patio</mdt-column>                     
        </mdt-header-row>        
        
      </mdt-table>
    
  </section>

</div>