<div class="doc-demo-content doc-content">

    <md-content flex>
      <md-card layout-padding>
        <form name="editForm" ng-submit="editForm.$valid && gravar(previsao)" novalidate="novalidate">
        <md-tabs md-dynamic-height md-border-bottom>        
          <md-tab label="Dados da Previsão">
          <md-content flex style="background: white">  
          <br>
          <br> 
          <md-input-container class="md-block" flex-gt-sm>
            <label>Grupo</label>
            <md-select placeholder="Grupo" style="width: 90%" required ng-required="true" name="grupo" ng-model="dados.id_grupo" ng-change="SelecionaCategoria(dados.grupo)">
              <md-option ng-repeat="grupo in _grupos" ng-value="grupo.id">
                  {{grupo.descricao}}
              </md-option>
            </md-select>
            <div ng-messages="editForm.grupo.$error" class="errors">
              <div ng-message="required">
                Campo Obrigatório.
              </div>
            </div>
          </md-input-container>
  
          <md-input-container class="md-block" flex-gt-sm>
            <label>Categoria</label>
            <md-select placeholder="Categorias" style="width: 90%" required ng-required="true" name="categoria" ng-model="dados.id_categoria">
              <md-option ng-repeat="categoria in _categorias" ng-value="categoria.id">
                  {{categoria.descricao}}
              </md-option>
            </md-select>
            <div ng-messages="editForm.categoria.$error" class="errors">
              <div ng-message="required">
                Campo Obrigatório.
              </div>
            </div>
        </md-input-container>
  
        <md-input-container class="md-block" flex-gt-sm>
            <label>Competencia</label>
            <input ng-required="true" type="text" name="competencia" ng-model="dados.competencia" mask="99/9999"  />
            <div ng-messages="editForm.competencia.$error" role="alert">
            <div ng-message="mask">
                 Formato correto : MM/AAAA
            </div>
            <div ng-message-exp="['required']">
                Campo Obrigatório.
            </div>
            </div>
          </md-input-container>
  
          <md-input-container class="md-block" >
            <label>Valor</label>
            <input ng-required="true" type="text" name="valor" ng-model="dados.valor" money-mask/>
            <div ng-messages="editForm.valor.$error" role="alert">
                <div ng-message-exp="['required']">
                Campo Obrigatório.
                </div>
            </div>
          </md-input-container>
  
  
          <md-input-container class="md-block" flex-gt-sm>
            <label>Pátio</label>
            <md-select placeholder="Pátio" style="width: 90%" name="patio" ng-model="dados.id_patio">
              <md-option ng-repeat="patio in _patios" ng-value="patio.id">
                  {{patio.nome}}
              </md-option>
            </md-select>
          </md-input-container>
              <div>
                  <md-button type="submit" ng-disabled="isDisabled" class="md-raised md-primary">Gravar</md-button>
                  <md-button class="md-raised" ng-click="paginaAnterior()" aria-label="Voltar">Voltar</md-button>
                  </div>
              </md-content>            
              </md-tab>  
               
              
  <!--
          <md-tab label="Documentos" ng-disabled="isDisabled">
          <md-content flex style="background: white">
              <patio-documentos patio="{{patio.id}}"></patio-documentos>
          </md-content>            
          </md-tab>              
  -->                
      </md-tabs>
      </form>
      </md-card>
    </md-content>
  
  </div>