<div class="doc-demo-content doc-content">
    <md-content layout-xs="column" layout-gt-sm="row" layout-sm="column">
      <md-card layout-padding flex-gt-sm layout="column" flex-order="1" flex-order-gt-sm="1">
        <md-subheader class="md-no-sticky">FILTRAR DADOS</md-subheader>
        <md-divider></md-divider>
        <form name="editForm" ng-submit="editForm.$valid && usuarioEdit(dados)" novalidate="novalidate">
          
          <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
              <label>Pátio</label>
              <md-select placeholder="Pátio" style="width: 90%" name="patio" ng-model="dados.patio">
                <md-option ng-repeat="patio in patios" ng-value="patio.id">
                    {{patio.nome}}
                </md-option>
              </md-select>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Competencia</label>
                <input ng-required="true" type="text" name="competencia" ng-model="dados.competencia" mask="99/9999"  />
                <div ng-messages="editForm.competencia.$error" role="alert">
                <div ng-message="mask">
                     Formato correto : MM/AAAA
                </div>
                <div ng-message-exp="['required']">
                    Campo Obrigatório.
                </div>
                </div>
              </md-input-container>
  
            
          </div>
          
          <div>
            <md-button class="md-raised" md-colors="{background:'teal'}" md-colors-watch="false" ng-click="pesquisar($event)">Filtrar</md-button>
            <md-button class="md-raised" aria-label="Limpar" ng-click="limpar($event)">Limpar</md-button>
            <md-button class="md-raised md-primary" aria-label="Adicionar" ng-click="novo($event)">Novo</md-button>
          </div>
  
        </form>
      </md-card>
    </md-content>
    
  
    <section  class="md-whiteframe-z1 " ng-cloak layout="column" >
      
        <md-toolbar class="md-theme-light" >
          <h2 class="md-toolbar-tools">
            <span>{{patiosList.length}} Registros</span>
            <span flex></span>
            <md-button class="md-raised" aria-label="PDF" ng-click="gerarPdf()">PDF</md-button>
            <md-button class="md-raised" aria-label="Excel" ng-click="gerarPlanilha()">Excel</md-button>
          </h2>
        </md-toolbar>
  
        <mdt-table paginated-rows="{isEnabled: true, rowsPerPageValues: [20,50, 100]}" 
                    animate-sort-icon="true"
                    mdt-row="{
                              'data': dadosList,
                              'table-row-id-key': 'id',
                              'column-keys': ['id', 'patio', 'grupo', 'competencia', 'categoria', 'valor', 'editar', 'apagar']
                    }"
          >
          <mdt-custom-cell column-key="logo">
            <img ng-src="{{value}}?20" class="md-avatar" alt="Logo" width="40" style="border-radius: 50%;" />
          </mdt-custom-cell>
          <mdt-custom-cell column-key="editar">
            <mdt-custom-cell-button icon='edit' class="md-icon-button md-secondary" ng-click="clientScope.detalhe($event, rowId)" aria-label="Detalhe"></md-custom-cell-button>
          </mdt-custom-cell>
          <mdt-custom-cell column-key="apagar">
            <mdt-custom-cell-button icon='delete_forever' class="md-icon-button md-secondary" ng-click="clientScope.responder($event, rowId)" aria-label="Excluir"></md-custom-cell-button>
          </mdt-custom-cell>
  
          <mdt-header-row>
            <mdt-column align-rule="left" column-sort="false">#</mdt-column>
            <mdt-column align-rule="left" column-sort="false">Patio</mdt-column>
            <mdt-column align-rule="left" column-sort="false">Grupo</mdt-column>
            <mdt-column align-rule="left" column-sort="false">Categoria</mdt-column>
            <mdt-column align-rule="left" column-sort="false">Competencia</mdt-column>
            <mdt-column align-rule="left" column-sort="false">Valor</mdt-column>
            <mdt-column align-rule="left" column-sort="false">Editar</mdt-column>
            <mdt-column align-rule="left" column-sort="false">Apagar</mdt-column> 
          </mdt-header-row>
          
          
        </mdt-table>
      
    </section>
  
  </div>