<div class="doc-demo-content doc-content">
  <md-content flex>
    <md-card layout-padding >
      <form name="editForm" ng-submit="editForm.$valid && gravar(dados)" novalidate="novalidate">
        <md-tabs md-dynamic-height md-border-bottom>        
        <md-tab label="Dados Reboque">
        <md-content flex style="background: white">  
        <br>
        <br>    
  
          <div layout-gt-sm="row"  >
            
            <md-autocomplete
            flex
            md-input-name="autocompleteField"
            md-no-cache="true"
            md-selected-item="dados.empresa"
            md-search-text="searchText"
            md-items="item in querySearch(searchText)"
            md-item-text="item.nome"
            md-escape-options="clear"
            md-require-match=""
            md-floating-label="Empresa"
            input-aria-describedby="favoriteStateDescription"
            ng-model="dados.empresa"
        >
          <md-item-template>
            <span md-highlight-text="searchText" ng-value="item.id" >{{item.nome}}</span>
          </md-item-template>
          <div 
          ng-show="searchText.length < 3 && searchText.length !== 0"
          style="color: #dd2c00;font-weight:bold"
          >* Digite ao menos 3 caracteres</div>
          </md-autocomplete>
          <div style="width: 100px;">

          </div>
            <md-input-container class="md-block" flex-gt-sm>
              <label>Nome Proprietário Reboque</label>
              <input ng-required="true" type="text" name="proprietario" ng-model="dados.nome_proprietario" />
              <div ng-messages="editForm.proprietario.$error" role="alert">
                <div ng-message-exp="['required']">
                  Campo Obrigatório.
                </div>
              </div>
            </md-input-container>

          </div>

        <div layout-gt-sm="row" >

          <md-input-container class="md-block" flex-gt-sm>
            <label>Descrição</label>
            <input ng-required="true" type="text" style="width: 1000px" name="descricao" ng-model="dados.descricao" ng-change="dados.descricao = (dados.descricao | uppercase)"/>
            <div ng-messages="editForm.descricao.$error" role="alert">
              <div ng-message-exp="['required']">
                Campo Obrigatório.
              </div>
            </div>
          </md-input-container> 
          
          <md-input-container class="md-block" flex-gt-sm>
            <label>Placa</label>
            <input ng-required="true" type="text" name="placa" ng-model="dados.placa" />
            <div ng-messages="editForm.placa.$error" role="alert">
              <div ng-message-exp="['required']">
                Campo Obrigatório.
              </div>
            </div>
          </md-input-container>

        </div>


        <div layout-gt-sm="row" >

          <md-input-container class="md-block" flex-gt-sm>
            <label>Chassi</label>
            <input ng-required="true" type="text" name="chassi" ng-model="dados.chassi" />
            <div ng-messages="editForm.chassi.$error" role="alert">
              <div ng-message-exp="['required']">
                Campo Obrigatório.
              </div>
            </div>
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm>
            <label>Tipo</label>
            <md-select placeholder="Tipo"  required ng-required="true" name="tipo" ng-model="dados.tipo">
              <md-option value="LEVE">LEVE</md-option>
              <md-option value="PESADO">PESADO</md-option>
              <md-option value="PICKUP">PICKUP</md-option>
              <md-option value="CARRETINHA">CARRETINHA</md-option>
            </md-select>
            <div ng-messages="editForm.tipo.$error" class="errors">
              <div ng-message="required">
                Campo Obrigatório.
              </div>
            </div>
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm>
            <label>Categoria</label>
            <md-select placeholder="Categoria"  required ng-required="true" name="categoria" ng-model="dados.categoria">
              <md-option value="PROPRIO">PROPRIO</md-option>
              <md-option value="TERCEIRO">TERCEIRO</md-option>
            </md-select>
            <div ng-messages="editForm.categoria.$error" class="errors">
              <div ng-message="required">
                Campo Obrigatório.
              </div>
            </div>
          </md-input-container>

        </div>

        <div layout-gt-sm="row" >

          <md-input-container class="md-block" flex-gt-sm>
            <label>Ano Fabricação</label>
            <input ng-required="true" type="text" name="ano_fabricacao" ng-model="dados.ano_fabricacao" />
            <div ng-messages="editForm.ano_fabricacao.$error" role="alert">
              <div ng-message-exp="['required']">
                Campo Obrigatório.
              </div>
            </div>
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm>
            <label>Ano Modelo</label>
            <input ng-required="true" type="text" name="ano_modelo" ng-model="dados.ano_modelo" />
            <div ng-messages="editForm.ano_modelo.$error" role="alert">
              <div ng-message-exp="['required']">
                Campo Obrigatório.
              </div>
            </div>
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm>
            <label>Cor</label>
            <input ng-required="true" type="text" name="cor" ng-model="dados.cor" />
            <div ng-messages="editForm.cor.$error" role="alert">
              <div ng-message-exp="['required']">
                Campo Obrigatório.
              </div>
            </div>
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm>
            <label>Combustível</label>
            <md-select placeholder="Combustivel"  required ng-required="true" name="combustivel" ng-model="dados.combustivel">
              <md-option value="DIESEL">DIESEL</md-option>
              <md-option value="BIODIESEL">BIODIESEL</md-option>
              <md-option value="GNV">GNV</md-option>
              <md-option value="HIBRIDO">HIBRIDO</md-option>
              <md-option value="ELETRICO">ELETRICO</md-option>
              <md-option value="ETANOL">ETANOL</md-option>
            </md-select>
            <div ng-messages="editForm.combustivel.$error" class="errors">
              <div ng-message="required">
                Campo Obrigatório.
              </div>
            </div>
          </md-input-container>

        </div>

          <md-input-container class="md-block" flex-gt-sm>
            <label>Ativo</label>
            <md-select placeholder="Ativo" style="width: 20%" required ng-required="true" name="ativo" ng-model="dados.ativo">
              <md-option value="1">SIM</md-option>
              <md-option value="0">NÃO</md-option>
            </md-select>
            <div ng-messages="editForm.ativo.$error" class="errors">
              <div ng-message="required">
                Campo Obrigatório.
              </div>
            </div>
          </md-input-container>

          <md-input-container class="md-block">
            <label>Observação</label>
            <textarea ng-model="dados.observacao" md-maxlength="150" rows="2" md-select-on-focus></textarea>
          </md-input-container>

          <div>
            <md-button type="submit" ng-disabled="isDisabled" class="md-raised md-primary">Gravar</md-button>
            <md-button class="md-raised" ng-click="paginaAnterior()" aria-label="Voltar">Voltar</md-button>
          </div>
        </md-content>            
        </md-tab>




        <md-tab label="CRLV">
        <md-content flex style="background: white">
            <br>
            <br>
            <div style="height: 600px; width: 800px;">
            <div layout-gt-sm="row">    
            <md-input-container class="md-block" flex-gt-sm>
                <label>Vencimento CRLV</label>
                <input ng-required="false" type="text" name="vencimento_clrv" ng-model="dados.vencimento_clrv" mask="99/99/9999"/>
            </md-input-container>
            </div>            
            <div>
              <div>
              <md-button class="md-fab md-warn md-hue-2 md-mini" title="Carregar PDF"
                  name="pdfDocCLRV" 
                  ng-model="pdfCLRV"
                  ngf-pattern="'.pdf'"
                  ngf-accept="'.pdf'"
                  ngf-select="uploadCLRV($file)"
                  ngf-capture="'camera'"
                  ngf-max-size="20MB"
                  ngf-min-height="50">
                  <md-icon>backup</md-icon>
              </md-button>
              <label>{{dados.pdf_clrv}}</label>
              </div>
              <div> 
                <iframe ng-if="dados.pdf_clrv.length > 0" ng-src = "{{trustSrc(urlImagens+ dados.pdf_clrv)}}" width="80%" height="80%"></iframe>
              <div ng-messages="editForm.pdfDocCLRV.$error" class="errors">
                <div ng-message="maxSize">
                    <span style="color: #dd2c00; font-size: 12px;">FDF muito grande. Favor escolher imagem com até 20MB de tamanho.</span>
                </div>
                <div ng-message="pattern">
                    <span style="color: #dd2c00; font-size: 12px;">Tipo arquivo não permitido. Escolha um PDF.</span>
                </div>
              </div>
              </div>
            </div>                
            </div>         

        </md-content>            
        </md-tab>
        <md-tab label="SEGURO">
        <md-content flex style="background: white">
            <br>
            <br>
            <div style="height: 600px; width: 800px;">
            <div layout-gt-sm="row">    
            <md-input-container class="md-block" flex-gt-sm>
                <label>Vencimento Seguro</label>
                <input ng-required="false" type="text" name="vencimento_seguro" ng-model="dados.vencimento_seguro" mask="99/99/9999"/>
            </md-input-container> 
            </div>
            <div>
              <div>
              <md-button class="md-fab md-warn md-hue-2 md-mini" title="Carregar PDF"
                  name="pdfDocSeguro" 
                  ng-model="pdfSeguro"
                  ngf-pattern="'.pdf'"
                  ngf-accept="'.pdf'"
                  ngf-select="uploadSeguro($file)"
                  ngf-capture="'camera'"
                  ngf-max-size="20MB"
                  ngf-min-height="50">
                  <md-icon>backup</md-icon>
              </md-button>
              <label>{{dados.pdf_seguro}}</label>
              </div>
              <div> 
               <iframe ng-if="dados.pdf_seguro.length > 0" ng-src = "{{trustSrc(urlImagens+ dados.pdf_seguro)}}" width="80%" height="80%"></iframe>
              <div ng-messages="editForm.pdfDocSeguro.$error" class="errors">
                <div ng-message="maxSize">
                    <span style="color: #dd2c00; font-size: 12px;">FDF muito grande. Favor escolher imagem com até 20MB de tamanho.</span>
                </div>
                <div ng-message="pattern">
                    <span style="color: #dd2c00; font-size: 12px;">Tipo arquivo não permitido. Escolha um PDF.</span>
                </div>
              </div>
              </div>
            </div>       
                    
</div>
        </md-content>            
        </md-tab>
            
        </md-tabs>          
      </form>
    </md-card>
  </md-content>
</div>