<div class="doc-demo-content doc-content">

  <md-tabs md-dynamic-height md-border-bottom>
    <md-tab label="FILTRO PÁTIOS">


      <md-content layout-xs="column" layout-gt-sm="row" layout-sm="column">
        <md-card layout-padding flex-gt-sm layout="column" flex-order="1" flex-order-gt-sm="1">
          <md-subheader class="md-no-sticky">FILTRAR DADOS</md-subheader>
          <md-divider></md-divider>
          <form name="editForm">

            <div layout-gt-sm="row">
              <md-input-container class="md-block" flex-gt-sm>
                <label>Vencto inicio</label>
                <md-datepicker name="dataInicio" ng-model="dados.dataInicio" ng-change="dados.dataFinal = dados.dataInicio" md-placeholder="Data inicio"></md-datepicker>
              </md-input-container>
              <md-input-container class="md-block" flex-gt-sm>
                <label>Vencto final</label>
                <md-datepicker name="dataFinal" ng-model="dados.dataFinal" md-placeholder="Data final"></md-datepicker>
              </md-input-container>

              <md-input-container class="md-block" flex-gt-sm>
                <label>Venda inicio</label>
                <md-datepicker name="dataInicio" ng-model="dados.data_venda_inicio" ng-change="dados.data_venda_final = dados.data_venda_inicio" md-placeholder="Venda inicio"></md-datepicker>
              </md-input-container>
              <md-input-container class="md-block" flex-gt-sm>
                <label>Venda final</label>
                <md-datepicker name="dataFinal" ng-model="dados.data_venda_final"  md-placeholder="Venda final"></md-datepicker>
              </md-input-container>


            </div>

            <div layout-gt-sm="row">
              <md-input-container class="md-block" flex-gt-sm >
                <label>Status</label>
                <md-select placeholder="Status" required ng-required="false" name="status" ng-model="dados.status">
                  <md-option value="ABERTO">ABERTO</md-option>
                  <md-option value="PAGO">PAGO</md-option>
                  <md-option value="CANCELADO">CANCELADO</md-option>
                </md-select>
              </md-input-container>
              <md-input-container class="md-block" flex-gt-sm >
                <label>Forma Recebimento</label>
                <md-select placeholder="Forma Recebimento" required ng-required="false" name="forma" ng-model="dados.forma">
                  <md-option value="DINHEIRO">DINHEIRO</md-option>
                  <md-option value="CARTÃO DEBITO">CARTÃO DEBITO</md-option>
                  <md-option value="CARTÃO CREDITO">CARTÃO CREDITO</md-option>
                  <md-option value="BOLETO">BOLETO</md-option>
                  <md-option value="CHEQUE">CHEQUE</md-option>
                  <md-option value="TRANSFERENCIA">TRANSFERENCIA</md-option>
                </md-select>
              </md-input-container>


              <md-input-container class="md-block" flex-gt-sm>
                <label>Conta</label>
                <md-select placeholder="Conta" name="conta" ng-model="dados.conta">
                  <md-option ng-repeat="conta in contas" ng-value="conta.id">
                    {{conta.descricao}}
                  </md-option>
                </md-select>
              </md-input-container>
            </div>


            <div layout-gt-sm="row" style="display: flex;justify-content: space-around;" >
              <md-input-container flex-gt-sm >
                <label>Nome do Cliente</label>
                <input ng-required="false" type="text" name="nome" ng-model="dados.nome" />
              </md-input-container>
              <md-input-container  flex-gt-sm>
                <label>CPF/CNPJ</label>
                <input type="text" name="cpf_cnpj" cpf-cnpj ng-model="dados.cpf_cnpj" />
              </md-input-container>
              <md-input-container flex-gt-sm >
                <label>Competencia</label>
                <input ng-required="true" type="text" name="competencia" ng-model="dados.competencia" mask="99/9999" />
                <div ng-messages="editForm.competencia.$error" role="alert">
                  <div ng-message="mask">
                    Formato correto : MM/AAAA

                  </div>
                </div>
              </md-input-container>

            </div>



            <md-input-container class="md-block" flex-gt-sm>
              <label>Pátio</label>
              <md-select placeholder="Pátio" name="patio" ng-model="dados.patio" multiple
                style="max-width: 80vw;text-overflow: hide;">
                <md-option ng-repeat="patio in patios" ng-value="patio.id_patio">
                  {{patio.nome}}
                </md-option>
              </md-select>
            </md-input-container>

            <div>
              <md-button class="md-raised md-primary" aria-label="Adicionar" ng-click="mesAtual($event)">Mês Atual
              </md-button>
              <md-button class="md-raised" md-colors="{background:'teal'}" md-colors-watch="false"
                ng-click="pesquisar($event,dados)">Filtrar</md-button>
              <md-button class="md-raised" aria-label="Limpar" ng-click="limpar($event)">Limpar</md-button>
              <md-button class="md-raised md-primary" aria-label="Adicionar" ng-click="novo($event)">Novo</md-button>
            </div>

          </form>
        </md-card>
      </md-content>


      <section class="md-whiteframe-z1 " ng-cloak layout="column">

        <md-toolbar class="md-theme-light">
          <h2 class="md-toolbar-tools">
            <span>{{dadosList.length}} - Registros</span>
            <span style="margin-left: 30px">Recebidos : {{total_recebidos | currency:"R$ ":2}} </span>
            <span style="margin-left: 30px">A Receber : {{total_receber | currency:"R$ ":2}} </span>
            <span flex></span>

            <md-button class="md-raised" aria-label="PDF" ng-click="gerarPdf()">PDF</md-button>
            <md-button class="md-raised" aria-label="Excel" ng-click="gerarPlanilha()">Excel</md-button>
          </h2>
        </md-toolbar>

        <mdt-table paginated-rows="{isEnabled: true, rowsPerPageValues: [20,50, 100]}" animate-sort-icon="true" mdt-row="{
                                'data': dadosList,
                                'table-row-id-key': 'id',
                                'column-keys': ['patio','vencimento','nome','data_venda','valor','desc_tiporecebimento', 'status', 'editar', 'baixar', 'cancelar']
                               }">
          <mdt-custom-cell column-key="editar">
            <mdt-custom-cell-button icon='edit' class="md-icon-button md-secondary"
              ng-click="clientScope.detalhe($event,rowId,value)" aria-label="Detalhe">
              </md-custom-cell-button>
          </mdt-custom-cell>
          <mdt-custom-cell column-key="baixar">
            <mdt-custom-cell-button icon='payment' class="md-icon-button md-secondary"
              ng-click="clientScope.baixar($event,rowId,value)" aria-label="Baixar">
              </md-custom-cell-button>
          </mdt-custom-cell>
          <mdt-custom-cell column-key="cancelar">
            <mdt-custom-cell-button icon='cancel' class="md-icon-button md-secondary"
              ng-click="clientScope.cancelar($event,rowId,value)" aria-label="Cancelar">
              </md-custom-cell-button>
          </mdt-custom-cell>

          <mdt-header-row>
            <mdt-column align-rule="left" column-sort="true">Pátio</mdt-column>
            <mdt-column align-rule="left" column-sort="true">Vencimento</mdt-column>
            <mdt-column align-rule="left" column-sort="true">Nome/Razão Social</mdt-column>
            <mdt-column align-rule="left" column-sort="true">Vencto</mdt-column>
            <mdt-column align-rule="left" column-sort="false">Valor</mdt-column>
            <mdt-column align-rule="left" column-sort="false">Tipo Recebimento</mdt-column>
            <mdt-column align-rule="left" column-sort="false">Status</mdt-column>
            <mdt-column align-rule="left" column-sort="false">Editar</mdt-column>
            <mdt-column align-rule="left" column-sort="false">Baixar</mdt-column>
            <mdt-column align-rule="left" column-sort="false">Cancelar</mdt-column>
          </mdt-header-row>

        </mdt-table>

      </section>
    </md-tab>

    <md-tab label="FILTRO GRUPOS">
      <md-content layout-xs="column" layout-gt-sm="row" layout-sm="column">
        <md-card layout-padding flex-gt-sm layout="column" flex-order="1" flex-order-gt-sm="1">
          <md-subheader class="md-no-sticky">FILTRAR DADOS</md-subheader>
          <md-divider></md-divider>
          <form name="editForm">

            <div layout-gt-sm="row">
              <md-input-container class="md-block" flex-gt-sm>
                <label>Data inicio</label>
                <md-datepicker name="dataInicio" ng-model="dados.dataInicio" md-placeholder="Data inicio"></md-datepicker>
              </md-input-container>
              <md-input-container class="md-block" flex-gt-sm>
                <label>Data final</label>
                <md-datepicker name="dataFinal" ng-model="dados.dataFinal" md-placeholder="Data final"></md-datepicker>
              </md-input-container>
              <md-input-container class="md-block" flex-gt-sm >
                <label>Status</label>
                <md-select placeholder="Status" required ng-required="false" name="status" ng-model="dados.status">
                  <md-option value="ABERTO">ABERTO</md-option>
                  <md-option value="PAGO">PAGO</md-option>
                  <md-option value="CANCELADO">CANCELADO</md-option>
                </md-select>
              </md-input-container>
              <md-input-container class="md-block" flex-gt-sm >
                <label>Forma Recebimento</label>
                <md-select placeholder="Forma Recebimento" required ng-required="false" name="forma" ng-model="dados.forma">
                  <md-option value="DINHEIRO">DINHEIRO</md-option>
                  <md-option value="CARTÃO DEBITO">CARTÃO DEBITO</md-option>
                  <md-option value="CARTÃO CREDITO">CARTÃO CREDITO</md-option>
                  <md-option value="BOLETO">BOLETO</md-option>
                  <md-option value="CHEQUE">CHEQUE</md-option>
                  <md-option value="TRANSFERENCIA">TRANSFERENCIA</md-option>
                </md-select>
              </md-input-container>
            </div>

            <div layout-gt-sm="row" style="display: flex;align-items: center;justify-content: space-between;">
              <md-input-container style="width: 20vw;">
                <label>Nome do Cliente</label>
                <input ng-required="false" type="text" name="nome" ng-model="dados.nome" />
              </md-input-container>

              <md-input-container style="width: 15vw;margin-left: 10px;">
                <label>CPF/CNPJ</label>
                <input type="text" name="cpf_cnpj" cpf-cnpj ng-model="dados.cpf_cnpj" />
              </md-input-container>

              <md-input-container style="width: 10vw;margin-left: 10px;">
                <label>Competencia</label>
                <input ng-required="true" type="text" name="competencia" ng-model="dados.competencia" mask="99/9999" />
                <div ng-messages="editForm.competencia.$error" role="alert">
                  <div ng-message="mask">
                    Formato correto : MM/AAAA

                  </div>
                </div>
              </md-input-container>

              <md-input-container class="md-block" flex-gt-sm>
                <label>Conta</label>

                <md-select placeholder="Conta" name="conta" ng-model="dados.conta">
                  <md-option ng-repeat="conta in contas" ng-value="conta.id">
                    {{conta.descricao}}
                  </md-option>
                </md-select>

              </md-input-container>


            </div>



            <md-input-container class="md-block" flex-gt-sm>
              <label>Grupo Pátios</label>
              <md-select placeholder="Grupo Pátios" name="patio" ng-model="dados.patioGrupo"
                style="max-width: 80vw;text-overflow: hide;">
                <md-option ng-repeat="patioGrupo in patiosGrupo" ng-value="patioGrupo.id">
                  {{patioGrupo.descricao}}
                </md-option>
              </md-select>
            </md-input-container>

            <div>
              <md-button class="md-raised md-primary" aria-label="Adicionar" ng-click="mesAtual($event)">Mês Atual
              </md-button>
              <md-button class="md-raised" md-colors="{background:'teal'}" md-colors-watch="false"
                ng-click="pesquisar($event)">Filtrar</md-button>
              <md-button class="md-raised" aria-label="Limpar" ng-click="limpar($event)">Limpar</md-button>
              <md-button class="md-raised md-primary" aria-label="Adicionar" ng-click="novo($event)">Novo</md-button>
            </div>

          </form>
        </md-card>
      </md-content>


      <section class="md-whiteframe-z1 " ng-cloak layout="column">

        <md-toolbar class="md-theme-light">
          <h2 class="md-toolbar-tools">
            <span>{{dadosList.length}} - Registros</span>
            <span style="margin-left: 30px">Recebidos : {{total_recebidos | currency:"R$ ":2}} </span>
            <span style="margin-left: 30px">A Receber : {{total_receber | currency:"R$ ":2}} </span>
            <span flex></span>

            <md-button class="md-raised" aria-label="PDF" ng-click="gerarPdf()">PDF</md-button>
            <md-button class="md-raised" aria-label="Excel" ng-click="gerarPlanilha()">Excel</md-button>
          </h2>
        </md-toolbar>

        <mdt-table paginated-rows="{isEnabled: true, rowsPerPageValues: [20,50, 100]}" animate-sort-icon="true" mdt-row="{
                                'data': dadosList,
                                'table-row-id-key': 'id',
                                'column-keys': ['patio','vencimento','nome','valor','desc_tiporecebimento', 'status', 'editar', 'baixar', 'cancelar']
                               }">
          <mdt-custom-cell column-key="editar">
            <mdt-custom-cell-button icon='edit' class="md-icon-button md-secondary"
              ng-click="clientScope.detalhe($event,rowId,value)" aria-label="Detalhe">
              </md-custom-cell-button>
          </mdt-custom-cell>
          <mdt-custom-cell column-key="baixar">
            <mdt-custom-cell-button icon='payment' class="md-icon-button md-secondary"
              ng-click="clientScope.baixar($event,rowId,value)" aria-label="Baixar">
              </md-custom-cell-button>
          </mdt-custom-cell>
          <mdt-custom-cell column-key="cancelar">
            <mdt-custom-cell-button icon='cancel' class="md-icon-button md-secondary"
              ng-click="clientScope.cancelar($event,rowId,value)" aria-label="Cancelar">
              </md-custom-cell-button>
          </mdt-custom-cell>

          <mdt-header-row>
            <mdt-column align-rule="left" column-sort="true">Pátio</mdt-column>
            <mdt-column align-rule="left" column-sort="true">Vencimento</mdt-column>
            <mdt-column align-rule="left" column-sort="true">Nome/Razão Social</mdt-column>
            <mdt-column align-rule="left" column-sort="false">Valor</mdt-column>
            <mdt-column align-rule="left" column-sort="false">Tipo Recebimento</mdt-column>
            <mdt-column align-rule="left" column-sort="false">Status</mdt-column>
            <mdt-column align-rule="left" column-sort="false">Editar</mdt-column>
            <mdt-column align-rule="left" column-sort="false">Baixar</mdt-column>
            <mdt-column align-rule="left" column-sort="false">Cancelar</mdt-column>
          </mdt-header-row>

        </mdt-table>

      </section>

    </md-tab>
  </md-tabs>



</div>
