<div class="doc-demo-content doc-content">
  <link rel="stylesheet" href="/assets/css/CustomForms.css">
  <md-content flex>
    <md-card layout-padding>
      <form name="editForm" ng-submit="editForm.$valid && gravar(dados)" novalidate="novalidate">
        <br>
        <div style="width: 98%;">

          <div layout-gt-sm="row">


            <md-input-container class="md-block" flex-gt-sm>
              <label>Nome do Cliente</label>
              <input ng-required="true" type="text" name="documento" ng-model="dados.id_cliente"
                ng-keyup="buscarClientes()" ng-blur="HideModal()"
                ng-change="dados.id_cliente = (dados.id_cliente | uppercase)" />

              <div ng-messages="editForm.nome.$error" class="errors">
                <div ng-message="required">
                  Campo Obrigatório.
                </div>
              </div>

            </md-input-container>


            <div style="margin-left: 0px; cursor: pointer;">
              <md-button ng-click="incluiCliente()">
                <md-icon>add_circle_outline</md-icon>
              </md-button>
            </div>

          </div>

          <div class="containerCliente" id="Container">
            <li ng-click="ChangeScope(cliente)" name="id_cliente" ng-value="id_cliente" ng-repeat="cliente in clientes">
              {{cliente.nome}}
            </li>


          </div>

          <div class="ErrorLength" id="ErrorLength">
            Digite ao menos 3 caracteres *
          </div>






        <div layout-gt-sm="row">


          <md-input-container class="md-block" flex-gt-sm>
            <label>Pátio</label>
            <md-select placeholder="Pátio"  name="patio" ng-required="true" ng-model="dados.patio">
              <md-option ng-repeat="patio in patios" ng-value="patio.id">
                {{patio.nome}}
              </md-option>
            </md-select>
          </md-input-container>





        </div>




        <div layout-gt-sm="row" style="display: flex;align-items: center;justify-content: space-between;">

          <md-input-container class="md-block">
            <label>Valor</label>
            <input ng-required="true" type="text" name="valor" ng-model="dados.valor" money-mask />
            <div ng-messages="editForm.valor.$error" role="alert">
              <div ng-message-exp="['required']">
                Campo Obrigatório.
              </div>
            </div>
          </md-input-container>



          <md-input-container class="md-block" flex-gt-sm>
            <label>Data Venda</label>
            <md-datepicker ng-required="true" name="Data Venda" ng-model="dados.data_venda"
              md-placeholder="Data Venda"></md-datepicker>


            <div ng-messages="editForm.vencimento.$error" role="alert">
              <div ng-message-exp="['required']">
                Campo Obrigatório.
              </div>
            </div>

          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm>
            <label>Vencimento</label>
            <md-datepicker ng-required="true" name="vencimento" ng-model="dados.vencimento" md-placeholder="Vencimento">
            </md-datepicker>
            <div ng-messages="editForm.vencimento.$error" role="alert">
              <div ng-message-exp="['required']">
                Campo Obrigatório.
              </div>
            </div>
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm>
            <label>Documento</label>
            <input ng-required="true" type="text" name="documento" ng-model="dados.documento"
              ng-change="dados.documento = (dados.documento | uppercase)" />
            <div ng-messages="editForm.documento.$error" role="alert">
              <div ng-message="mask">
                Digitar numero de documento
              </div>
              <div ng-message-exp="['required']">
                Campo Obrigatório.
              </div>
            </div>
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm style="width:10vw;" >
            <label>Competencia</label>
            <input ng-required="true" type="text" name="competencia" ng-model="dados.competencia" mask="99/9999" />
            <div ng-messages="editForm.competencia.$error" role="alert">
              <div ng-message="mask">
                Formato correto : MM/AAAA
              </div>
            </div>
          </md-input-container>
        </div>





</div>

<div layout-gt-sm="row">
  <md-input-container class="md-block" flex-gt-sm>
    <label>Grupo</label>
    <md-select placeholder="Grupos" style="width: 90%" required ng-required="true" name="grupo" ng-model="dados.grupo"
      ng-change="SelecionaCategoria(dados.grupo)">
      <md-option ng-repeat="grupo in grupos" ng-value="grupo.id">
        {{grupo.descricao}}
      </md-option>
    </md-select>
    <div ng-messages="editForm.grupo.$error" class="errors">
      <div ng-message="required">
        Campo Obrigatório.
      </div>
    </div>
  </md-input-container>

  <md-input-container class="md-block" flex-gt-sm>
    <label>Categoria</label>
    <md-select placeholder="Categorias" style="width: 90%" name="categoria" ng-model="dados.categoria">
      <md-option ng-repeat="categoria in categorias" ng-value="categoria.id">
        {{categoria.descricao}}
      </md-option>
    </md-select>
    <div ng-messages="editForm.categoria.$error" class="errors">
      <div ng-message="required">
        Campo Obrigatório.
      </div>
    </div>
  </md-input-container>

  <md-input-container class="md-block" flex-gt-sm>
    <label>Tipos Recebimento</label>
    <md-select placeholder="Tipos Recebimento" style="width: 90%" required ng-required="true" name="tiporecebimento"
      ng-model="dados.tipo_recebimento">
      <md-option ng-disabled="isEditable" ng-repeat="tiposRecebimento in tiposRecebimentos"
        ng-value="tiposRecebimento.id">
        {{tiposRecebimento.descricao}}
      </md-option>
    </md-select>
    <div ng-messages="editForm.tiporecebimento.$error" class="errors">
      <div ng-message="required">
        Campo Obrigatório.
      </div>
    </div>
  </md-input-container>



</div>
<md-input-container class="md-block">
  <label>Escreva Comentário</label>
  <textarea ng-model="dados.comentario" md-maxlength="150" rows="3" md-select-on-focus></textarea>
</md-input-container>

<br>
<md-button type="submit" ng-disabled="isDisabled" class="md-raised md-primary">Gravar</md-button>
<md-button class="md-raised" ng-click="paginaAnterior()" aria-label="Voltar">Voltar</md-button>
</div>

</form>
</md-card>
</md-content>
</div>



<script type="text/ng-template" id="cliente-receber.html">
  <md-dialog style="width:800px;height:500px; ">
    <md-dialog-content>

      <md-content layout-padding>

        <md-input-container class="md-block" flex-gt-sm>
          <label>CPF</label>
            <input ng-required="true" type="text" name="cpf_cnpj" cpf-cnpj ng-model="dados_cliente.cpf_cnpj" ng-change="buscaCpfCnpj(dados_cliente.cpf_cnpj)"/>
          <div ng-messages="editForm.cpf_cnpj.$error" role="alert">
            <div ng-message="required">
                  Campo Obrigatório.
            </div>
          </div>
        </md-input-container>

              <md-input-container class="md-block" flex-gt-sm>
              <label>Nome</label>
              <input ng-required="true" type="text" name="nome" ng-model="dados_cliente.nome" ng-change="dados_cliente.nome = (dados_cliente.nome | uppercase)"/>
              <div ng-messages="editForm.razao_nome.$error" role="alert">
                <div ng-message-exp="['required']">
                  Campo Obrigatório.
                </div>
              </div>
              </md-input-container>

              <md-input-container class="md-block" flex-gt-sm>
                <label>CEP</label>
                  <input  type="text" style="width: 100px" name="cep" ng-model="dados_cliente.cep" mask="99999-999" ng-change="buscaCep(dados_cliente.cep)"/>
              </md-input-container>

              <md-input-container class="md-block" flex-gt-sm>
                  <label>Endereço</label>
                    <input  type="text" name="endereco" ng-model="dados_cliente.endereco" ng-change="dados_cliente.endereco = (dados_cliente.endereco | uppercase)"/>
              </md-input-container>

              <md-input-container class="md-block" flex-gt-sm>
                  <label>Bairro</label>
                    <input  type="text" name="bairro" ng-model="dados_cliente.bairro" ng-change="dados_cliente.bairro = (dados_cliente.bairro | uppercase)"/>
              </md-input-container>

              <md-input-container class="md-block" flex-gt-sm>
                <label>Cidade</label>
                  <input  type="text" name="cidade" ng-model="dados_cliente.cidade" ng-change="dados_cliente.cidade = (dados_cliente.cidade | uppercase)"/>
              </md-input-container>

              <md-input-container class="md-block" flex-gt-sm>
                <label>UF</label>
                <md-select placeholder="UF" style="width: 100px"  ng-required="false" name="uf" ng-model="dados_cliente.uf">
                  <md-option ng-repeat="estado in estados" ng-value="estado.sigla">
                      {{estado.sigla}}
                  </md-option>
                </md-select>
              </md-input-container>

              <md-input-container class="md-block" flex-gt-sm>
                <label>Email</label>
                <input ng-required="false" type="email" name="email" ng-model="dados_cliente.email" />
              </md-input-container>

              <md-input-container class="md-block" flex-gt-sm>
                  <label>Tefone/Celular</label>
                  <input ng-required="false" type="text" name="telefone" ng-model="dados_cliente.telefone" mask="(99) 9?9999-9999"/>
              </md-input-container>

      </md-content>
    </md-dialog-content>
    <md-dialog-actions>
      <md-button class="md-raised md-primary" ng-click="cancel()">Cancelar</md-button>
      <md-button class="md-raised" md-colors="{background:'teal'}" ng-click="saveAndClose()">Gravar</md-button>
    </md-dialog-actions>
  </md-dialog>
</script>
