<div class="doc-demo-content doc-content">
  <md-content flex>
    <md-card layout-padding>
      <form name="editForm" ng-submit="editForm.$valid && gravar(dados)" novalidate="novalidate">
        
      <md-tabs md-dynamic-height md-border-bottom>        
      <md-tab label="Receber ( Cancelamento )">
      <md-content flex style="background: white">  
      <br>
              

        <div style="width: 98%;"> 

            <div layout-gt-sm="row">

            <md-input-container class="md-block" flex-gt-sm>
              <label>Nome do Cliente</label>
              <md-select placeholder="Nome do Cliente" style="width: 90%" ng-disabled="true" name="nome" ng-model="dados.id_cliente">
                <md-option ng-repeat="cliente in clientes" ng-value="cliente.id">
                    {{cliente.nome}}
                </md-option>
              </md-select>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
              <label>Documento</label>
              <input ng-disabled="true" type="text" name="documento" ng-model="dados.documento"/>
            </md-input-container>
      
            <md-input-container class="md-block" >
              <label>Valor</label>
              <input ng-disabled="true" type="text" name="valor" ng-model="dados.valor" money-mask/>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
              <label>Vencimento</label>
              <input ng-disabled="true" type="text" name="vencimento" ng-model="dados.vencimento" mask="99/99/9999"/>
            </md-input-container>       

          </div>
 
        <div layout-gt-sm="row">
 
          <md-input-container class="md-block" flex-gt-sm>
              <label>Categoria</label>
              <md-select placeholder="Categoria" style="width: 90%" name="categoria" ng-model="dados.categoria" ng-disabled="true">
                <md-option ng-repeat="categoria in categorias" ng-value="categoria.id" ng-disabled="true">
                    {{categoria.descricao}}
                </md-option>
              </md-select>
          </md-input-container>
  

          <md-input-container class="md-block" flex-gt-sm>
            <label>Tipos Recebimento</label>
            <md-select placeholder="Tipos Recebimento" style="width: 50%" required ng-required="true" name="forma_recebimento" ng-model="dados.tipo_recebimento">
              <md-option ng-disabled="isEditable" ng-repeat="tiposRecebimento in tiposRecebimentos" ng-value="tiposRecebimento.id">
                  {{tiposRecebimento.descricao}}
              </md-option>
              </md-select>
            <div ng-messages="editForm.forma_recebimento.$error" class="errors">
              <div ng-message="required">
                Campo Obrigatório.
              </div>
            </div>
          </md-input-container>

        </div>
         <md-input-container class="md-block">
           <label>Comentários</label>
           <textarea ng-model="dados.comentario" md-maxlength="150" rows="2" md-select-on-focus ng-disabled="true"></textarea>
         </md-input-container>

         <md-card>
            <div style="margin: 20px" layout-gt-sm="row">
              <md-input-container class="md-block" flex-gt-sm >
                  <label>Data Cancelamento</label> 
                  <md-datepicker name="datacancelamento" ng-model="dados.datacancelamento" md-placeholder="Data do Cancelamento"></md-datepicker>
              </md-input-container> 
            </div>       
         </md-card>
        
          <md-button type="submit" ng-disabled="isDisabled" class="md-raised md-primary">Gravar</md-button>
          <md-button class="md-raised" ng-click="paginaAnterior()" aria-label="Voltar">Voltar</md-button>
        </div>

      </md-content>            
      </md-tab>                      
      </md-tabs>

      </form>
    </md-card>
  </md-content>
</div>