<div class="doc-demo-content doc-content">
  <link rel="stylesheet" href="/assets/css/CustomForms.css">

  <md-content flex>
    <md-card layout-padding>
      <form name="editForm" ng-submit="editForm.$valid " novalidate="novalidate">
        <br>
        <div style="width: 98%;">



          <div layout-gt-sm="row">

            <md-input-container class="md-block" flex-gt-sm>
              <label>Nome do Cliente</label>
              <input ng-required="true" type="text" name="documento" ng-model="dados.nome" ng-keyup="buscarClientes()"
                ng-change="dados.nome = (dados.nome | uppercase)" ng-blur="HideModal()" style="width: 100%;" />

              <div ng-messages="editForm.nome.$error" class="errors">
                <div ng-message="required">
                  Campo Obrigatório.
                </div>
              </div>

            </md-input-container>

          </div>


          <div class="containerClientes" id="Container">
            <li ng-click="ChangeScope(cliente)" name="id_cliente" ng-value="id_cliente" ng-repeat="cliente in clientes">
              {{cliente.nome}}
            </li>
          </div>


          <div class="ErrorLength" id="ErrorLength">
            Digite ao menos 3 caracteres *
          </div>








          <div layout-gt-sm="row" >

            <md-input-container class="md-block" flex-gt-sm style="width: 100%;">
              <label>Pátio</label>
              <md-select placeholder="Pátio" name="patio" ng-model="dados.patio">
                <md-option ng-repeat="patio in patios" ng-value="patio.id">
                  {{patio.nome}}
                </md-option>
              </md-select>
            </md-input-container>


          </div>



          <div layout-gt-sm="row" style="display: flex;align-items: center;justify-content: space-between;">


            <md-input-container class="md-block">
              <label>Valor</label>
              <input ng-readonly="isEditable" ng-required="true" type="text" name="valor" ng-model="dados.valor"
                money-mask />
              <div ng-messages="editForm.valor.$error" role="alert">
                <div ng-message-exp="['required']">
                  Campo Obrigatório.
                </div>
              </div>
            </md-input-container>



            <md-input-container class="md-block" flex-gt-sm>
              <label>Data Venda</label>
              <md-datepicker ng-required="true" name="Data Venda" ng-model="dados.data_venda"
                md-placeholder="Data Venda"></md-datepicker>


              <div ng-messages="editForm.vencimento.$error" role="alert">
                <div ng-message-exp="['required']">
                  Campo Obrigatório.
                </div>
              </div>

            </md-input-container>


            <md-input-container class="md-block" flex-gt-sm>
              <label>Vencimento</label>
              <md-datepicker ng-required="true" name="vencimento" ng-model="dados.vencimento"
                md-placeholder="Vencimento"></md-datepicker>


              <div ng-messages="editForm.vencimento.$error" role="alert">
                <div ng-message-exp="['required']">
                  Campo Obrigatório.
                </div>
              </div>

            </md-input-container>


              <md-input-container class="md-block" flex-gt-sm>
                <label>Competencia</label>
                <input ng-required="true" type="text" name="competencia" ng-model="dados.competencia" mask="99/9999" />
                <div ng-messages="editForm.competencia.$error" role="alert">
                  <div ng-message="mask">
                    Formato correto : MM/AAAA
                  </div>
                </div>
              </md-input-container>

              <md-input-container class="md-block" flex-gt-sm>
                <label>Documento</label>
                <input ng-required="true" type="text" name="documento" ng-model="dados.documento"
                  ng-change="dados.documento = (dados.documento | uppercase)" />
                <div ng-messages="editForm.documento.$error" role="alert">
                  <div ng-message="mask">
                    Digitar numero de documento
                  </div>
                  <div ng-message-exp="['required']">
                    Campo Obrigatório.
                  </div>
                </div>
              </md-input-container>

          </div>











          <div layout-gt-sm="row">


          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm>
            <label>Status</label>
            <input type="text" name="status" ng-model="dados.status" ng-disabled="true" />
          </md-input-container>


            <md-input-container class="md-block" flex-gt-sm>
              <label>Grupo</label>
              <md-select placeholder="Grupos" style="width: 90%" required ng-required="true" name="grupo"
                ng-model="dados.grupo" ng-change="SelecionaCategoria(dados.grupo)">
                <md-option ng-disabled="isEditable" ng-repeat="grupo in grupos" ng-value="grupo.id">
                  {{grupo.descricao}}
                </md-option>
              </md-select>
              <div ng-messages="editForm.grupo.$error" class="errors">
                <div ng-message="required">
                  Campo Obrigatório.
                </div>
              </div>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
              <label>Categoria</label>
              <md-select placeholder="Categoria" style="width: 90%" required ng-required="true" name="categoria"
                ng-model="dados.categoria">
                <md-option ng-disabled="isEditable" ng-repeat="categoria in categorias" ng-value="categoria.id">
                  {{categoria.descricao}}
                </md-option>
              </md-select>
              <div ng-messages="editForm.categoria.$error" class="errors">
                <div ng-message="required">
                  Campo Obrigatório.
                </div>
              </div>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
              <label>Tipos Recebimento</label>
              <md-select placeholder="Tipos Recebimento" style="width: 90%" required ng-required="true"
                name="tiporecebimento" ng-model="dados.tipo_recebimento">
                <md-option ng-disabled="isEditable" ng-repeat="tiposRecebimento in tiposRecebimentos"
                  ng-value="tiposRecebimento.id">
                  {{tiposRecebimento.descricao}}
                </md-option>
              </md-select>
              <div ng-messages="editForm.tiporecebimento.$error" class="errors">
                <div ng-message="required">
                  Campo Obrigatório.
                </div>
              </div>
            </md-input-container>

          </div>

          <md-input-container class="md-block">
            <label>Escreva Comentário</label>
            <textarea ng-readonly="isEditable" ng-model="dados.comentario" md-maxlength="150" rows="3"
              md-select-on-focus></textarea>
          </md-input-container>

          <md-card ng-show="dados.status=='PAGO'">
            <div style="margin: 20px" layout-gt-sm="row">
              <md-input-container class="md-block">
                <label>Valor da Baixa</label>
                <input ng-disabled="isEditable" type="text" name="valorbaixa" ng-model="dados.valor_baixa" money-mask />
              </md-input-container>
              <md-input-container class="md-block">
                <label>Acrescimo</label>
                <input ng-disabled="isEditable" type="text" name="acrescimo" ng-model="dados.acrescimo" money-mask />
              </md-input-container>
              <md-input-container class="md-block">
                <label>Desconto</label>
                <input ng-disabled="isEditable" type="text" name="desconto" ng-model="dados.desconto" money-mask />
              </md-input-container>
              <md-input-container class="md-block" flex-gt-sm>
                <label>Data Baixa</label>
                <md-datepicker ng-disabled="isEditable" name="data_pagto" ng-model="dados.data_pagto"
                  md-placeholder="Data da Baixa"></md-datepicker>
              </md-input-container>
            </div>
          </md-card>

          <md-card ng-show="dados.status=='CANCELADO' ">
            <div style="margin: 20px" layout-gt-sm="row">
              <md-input-container class="md-block" flex-gt-sm>
                <label>Data Cancelamento</label>
                <md-datepicker ng-disabled="isEditable" name="datacancelamento" ng-model="dados.data_cancelamento"
                  md-placeholder="Data Cancelamento"></md-datepicker>
              </md-input-container>
            </div>
          </md-card>

          <p class="IsDanger" id="IsDangerMessage">Conta com Status de Pago, edição não permitida</p>

          <md-button ng-show="dados.status=='PAGO'" class="md-raised md-primary" ng-click="estornar()"
            aria-label="Estornar">Estornar</md-button>

          <md-button ng-disabled="isEditable" class="md-raised md-primary" ng-click=gravar(dados) id="Gravar">Gravar
          </md-button>
          <!--

          <md-button class="md-raised" ng-click="fechar(evt)" aria-label="Voltar">Fechar</md-button>

          -->

        </div>

      </form>
    </md-card>
  </md-content>
</div>
