<link rel="stylesheet" href="/assets/css/customTable.css">


<div class="doc-demo-content doc-content">

    <md-tabs md-dynamic-height md-border-bottom>
        
        <md-tab label="SELEÇÃO PERÍODO">

            <md-content layout-xs="column" layout-gt-sm="row" layout-sm="column">
                <md-card layout-padding flex-gt-sm layout="column" flex-order="1" flex-order-gt-sm="1">
                    <md-subheader class="md-no-sticky">FILTRAR DADOS</md-subheader>
                    <md-divider></md-divider>
                    <form name="editForm" ng-submit="editForm.$valid && formEdit(dados)" novalidate="novalidate">

                        <div layout-gt-sm="row" style="display: flex;align-items: baseline;">
                  
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Pátio</label>
                                <md-select placeholder="Pátio" ng-required="false" style="width: 1100px ; max-width:1100px; text-overflow:ellipsis"
                                name="patio" ng-model="dados.patio" ng-disabled="false" multiple>
                                  <md-option  ng-repeat="patio in patios" ng-value="patio.id_patio">
                                      {{patio.nome}}
                                  </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                            
                        
                        <div layout-gt-sm="row" style="display: flex;align-items: baseline;">
                        
                            <md-button type="submit" class="md-raised" md-colors="{background:'teal'}" md-colors-watch="false" 
                            ng-click="pesquisar.buscaEstoqueReal()">Filtrar</md-button>
                            
                            <md-button class="md-raised" aria-label="Limpar" ng-click="pesquisar.limpar($event)">Limpar</md-button>
                       
                        </div>      

                    </div>  

                    </form>

                </md-card>
            </md-content>


            <section class="md-whiteframe-z1 " ng-cloak layout="column">

                <md-toolbar class="md-theme-light">
                    <h2 class="md-toolbar-tools">
                        <span>{{dadosList.length}} Registros</span>

                        <span flex></span>
                       
                        <md-button class="md-raised" ng-click="gerarPDF()" aria-label="PDF">PDF</md-button>
                        <md-button class="md-raised" ng-click="gerarPlanilha()" aria-label="Excel">Excel</md-button>
                    </h2>
                </md-toolbar>


                <md-content class="Body">

                    <md-card>
                        <table>

                            <tr>
                                <th>Pátio</th>
                                <th>NCV</th>
                                <th>Placa</th>
                                <th>Tipo</th>
                                <th>Data Apreensão</th>
                                <th>Marca/Modelo</th>
                                <th>Cor</th>
                                <th>Ano</th>
                                <th>Diarias</th>
                               
                            </tr>
                            <tr ng-repeat="Dados in dadosList" class="Result">
                                <td>{{Dados.PATIO}}</td>
                                <td>{{Dados.NCV}}</td>
                                <td>{{Dados.placa}}</td>
                                <td>{{Dados.tipo_veiculo}}</td>
                                <td>{{Dados.data_apreensao || 0}}</td>
                                <td>{{Dados.marca_modelo}}</td>
                                <td>{{Dados.cor}}</td>
                                <td>{{Dados.ano}}</td>
                                <td>{{Dados.QTDE_DIARIAS}}</td>
                                
                            </tr>
                        </table>

                    </md-card>
                </md-content>

            </section>
            </md-content>
        </md-tab>

        <md-tab>


    </md-tabs>


    </md-tabs>

</div>

</div>