<div class="doc-demo-content doc-content">
  <md-content layout-xs="column" layout-gt-sm="row" layout-sm="column">
    <md-card layout-padding flex-gt-sm layout="column" flex-order="1" flex-order-gt-sm="1">
      <form name="editForm" ng-submit="editForm.$valid && pesquisar(dados)" novalidate="novalidate">
          
          <div layout-gt-sm="row">
                     
            <md-input-container class="md-block" flex-gt-sm >
              <label>Data Inicial</label> 
              <md-datepicker name="dataInicio" ng-model="dados.dataInicio" ></md-datepicker>
            </md-input-container> 

            <md-input-container class="md-block" flex-gt-sm >
              <label>Data Final</label>   
              <md-datepicker name="dataFinal" ng-model="dados.dataFinal" ></md-datepicker>
            </md-input-container>
                                          
          </div>            
                 

        <br>
        <div>
          <md-button class="md-raised md-primary" aria-label="Adicionar" ng-click="mesAtual($event)">Mês Atual</md-button>          
          <md-button type="submit" class="md-raised" md-colors="{background:'teal'}" md-colors-watch="false">Filtrar</md-button>
        </div>

      </form>
    </md-card>
  </md-content>
  

  <section  class="md-whiteframe-z1 " ng-cloak layout="column" >
    
      <md-toolbar class="md-theme-light" >
        <h2 class="md-toolbar-tools">
          <span>{{dadosList.length}} Registros</span>
          <span flex></span>
          <md-button class="md-raised" aria-label="Excel" ng-click="gerarPdf()" >Gerar PDF</md-button>
          <md-button class="md-raised" aria-label="Excel" ng-click="gerarPlanilha()" >Gerar Planilha</md-button>
        </h2>
      </md-toolbar>

      <mdt-table paginated-rows="{isEnabled: true, rowsPerPageValues: [20,50, 100]}" 
                  animate-sort-icon="true"
                  mdt-row="{
                    'data': dadosList,
                    'table-row-id-key': 'Patio',
                    'column-keys': ['Patio','total']
                  }"
        >


        <mdt-header-row>
          <mdt-column align-rule="left" column-sort="true">Pátio</mdt-column>
          <mdt-column align-rule="left" column-sort="true">Total</mdt-column>          
          
        
       
        </mdt-header-row>        
        
      </mdt-table>
    
  </section>

</div>