
<link rel="stylesheet" href="/assets/css/customTable.css">


<div class="doc-demo-content doc-content">

    <md-tabs md-dynamic-height md-border-bottom>
        
        <md-tab label="SELEÇÃO PERÍODO">

            <md-content layout-xs="column" layout-gt-sm="row" layout-sm="column">
                <md-card layout-padding flex-gt-sm layout="column" flex-order="1" flex-order-gt-sm="1">
                    <md-subheader class="md-no-sticky">FILTRAR DADOS</md-subheader>
                    <md-divider></md-divider>
                    <form name="editForm" ng-submit="editForm.$valid && formEdit(dados)" novalidate="novalidate">

                        <div layout-gt-sm="row" style="display: flex;align-items: baseline;">
                  

                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Data Inicial</label>
                                <md-datepicker name="dataInicio" ng-model="dados.data_inicio" 
                                ng-disabled="false" ng-required="true">
                                </md-datepicker>
                            </md-input-container>

                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Data Final</label>
                                <md-datepicker name="dataFinal" ng-model="dados.data_final" 
                                ng-disabled="false" ng-required="true">
                                </md-datepicker>
                            </md-input-container>

                        </div>
                        
                        <div layout-gt-sm="row" style="display: flex;align-items: baseline;">


                        <md-input-container style="width: 50vw;margin-bottom: 20px;">
                             
                                <label>Pátio Origem</label>
                                <md-select placeholder="Patio Origem"  name="Patio Origem" ng-model="dados.patio_origem">
                                    <md-option ng-repeat="patio in patios" ng-value="patio.id_patio">
                                        {{patio.nome}}
                                    </md-option>
                                
                                </md-select>
                            </md-input-container> 
                        
                        </div>

                        <div layout-gt-sm="row" style="display: flex;align-items: baseline;">

                            <md-input-container class="md-block" style="width: 50vw; margin-bottom: 20px;">
                                <label>Pátio Destino</label>
                                <md-select placeholder="Pátio Destino" name="Patio Destino" ng-model="dados.patio_destino">
                                    <md-option ng-repeat="patio in patios" ng-value="patio.id_patio">
                                        {{patio.nome}}
                                    </md-option>
                                </md-select>
                            </md-input-container>



                        </div>


                        <div layout-gt-sm="row" style="display: flex;align-items: baseline;">
                        
                            <md-button type="submit" class="md-raised" md-colors="{background:'teal'}" md-colors-watch="false" 
                            ng-click="pesquisar.buscaTransferencias()">Filtrar</md-button>
                            
                            <md-button class="md-raised" aria-label="Limpar" ng-click="pesquisar.limpar($event)">Limpar</md-button>
                       
                        </div>      

                    </div>  

                    </form>

                </md-card>
            </md-content>


            <section class="md-whiteframe-z1 " ng-cloak layout="column">

                <md-toolbar class="md-theme-light">
                    <h2 class="md-toolbar-tools">
                        <span>{{dadosList.length}} Registros</span>

                        <span flex></span>
                       
                        <md-button class="md-raised" ng-click="gerarPDF()" aria-label="PDF">PDF</md-button>
                        <md-button class="md-raised" ng-click="gerarPlanilha()" aria-label="Excel">Excel</md-button>
                    </h2>
                </md-toolbar>


                <md-content class="Body">

                    <md-card>
                        <table>

                            <tr>
                                <th>Patio Origem</th>
                                <th>Patio Destino</th>
                                <th>Romaneio</th>
                                <th>NCV</th>
                                <th>Placa</th>
                                <th>Data Transferência</th>
                                <th>Data Conferência</th>
                                <th>Data Apreensão</th>
                                <th>Marca/Modelo</th>
                                <th>Cor</th>
                                <th>Ano</th>
                               
                            </tr>
                            <tr ng-repeat="Dados in dadosList" class="Result">
                                <td>{{Dados.patio}}</td>
                                <td>{{Dados.patio_destino}}</td>
                                <td>{{Dados.id_romaneio}}</td>
                                <td>{{Dados.id}}</td>
                                <td>{{Dados.placa}}</td>
                                <td>{{Dados.data_transferencia}}</td>
                                <td>{{Dados.data_conferencia}}</td>
                                <td>{{Dados.data_apreensao || 0}}</td>
                                <td>{{Dados.marca_modelo}}</td>
                                <td>{{Dados.cor}}</td>
                                <td>{{Dados.ano}}</td>
                                
                            </tr>
                        </table>

                    </md-card>
                </md-content>

            </section>
            </md-content>
        </md-tab>

        <md-tab>


    </md-tabs>


    </md-tabs>

</div>

</div>