<style>
    .istotal{
      background-color: royalblue;
    }
  
  </style>
  <div class="doc-demo-content doc-content" style="font-weight: bold;">
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="FILTRO PÁTIOS">
      
        <md-content layout-xs="column" layout-gt-sm="row" layout-sm="column">
          <md-card layout-padding flex-gt-sm layout="column" flex-order="1" flex-order-gt-sm="1">
            <md-subheader class="md-no-sticky">FILTRAR DADOS</md-subheader>
            <md-divider></md-divider>
            <form name="editForm" ng-submit="editForm.$valid && formEdit(dados)" novalidate="novalidate">
      
              <div layout-gt-sm="row">
      
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Data inicio</label>
                  <md-datepicker name="dataInicio" ng-model="dados.dataInicio" ng-required="true"
                    md-placeholder="Data inicio" ng-change="Rules.changeDate()"></md-datepicker>
      
                  <div ng-messages="editForm.dataInicio.$error" class="errors">
                    <div ng-message="required">
                      Campo Obrigatório.
                    </div>
                  </div>
                </md-input-container>
      
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Data final</label>
                  <md-datepicker name="dataFinal" ng-model="dados.dataFinal"  ng-change="Rules.isValidDate()" ng-required="true" md-placeholder="Data final">
                  </md-datepicker>
      
                  <div ng-messages="editForm.dataFinal.$error" class="errors">
                    <div ng-message="required">
                      Campo Obrigatório.
                    </div>
                  </div>
                  <p style="color:red;font-size: 12px;" ng-show="showMessageError">*Data Final não não pode ser menor que data inicio</p>
                </md-input-container>
    
              </div>
      
              <div layout-gt-sm="row" style="display: flex;align-items: center;justify-content: space-between;">
                <md-input-container class="md-block" flex-gt-sm style="text-overflow: hidden;max-width: 90vw;"  > 
                  <label>Pátio</label>
                  <md-select placeholder="Pátio" name="patio" ng-model="dados.patio" multiple  ng-change="Rules.patioCannotBeNull()"> 
                    <md-option ng-repeat="patio in patios" ng-value="patio.id_patio"  >
                      {{patio.nome}}
                    </md-option>
                  </md-select>
          
                </md-input-container>
              
              </div>
      
            
      
              <div>
                <md-button class="md-raised md-primary" aria-label="Adicionar" ng-click="Methods.mesAtual($event)">Mês Atual
                </md-button>
                <md-button class="md-raised" md-colors="{background:'teal'}" md-colors-watch="false"
                  ng-click="Methods.getDados(dados)" ng-disabled="disableButtonFilter || PatioNull">Filtrar</md-button>
                <md-button class="md-raised" aria-label="Limpar"   ng-click="Methods.limpar()">Limpar</md-button>
              </div>
      
            </form>
          </md-card>
        </md-content>
      
      
        <section class="md-whiteframe-z1 " ng-cloak layout="column"  >
      
          <md-toolbar class="md-theme-light">
            <h2 class="md-toolbar-tools">
              <span>{{retornoAPI.length || 0}} Registros</span>
              <span flex></span>
              <md-button class="md-raised" aria-label="PDF" ng-click="gerarPdf()" >PDF</md-button>
              <md-button class="md-raised" aria-label="Excel" ng-click="gerarPlanilha()">Excel</md-button>
            </h2>
          </md-toolbar>
      
          <mdt-table   paginated-rows="{isEnabled: true, rowsPerPageValues: [20,50, 100]}" animate-sort-icon="true" mdt-row="{
                                  'data': retornoAPI,
                                  'table-row-id-key': 'id',
                                  'column-keys': ['NCV','PATIO','QTDE_DIARIAS','ano','cor',
                                  'data_apreensao','marca_modelo', 'placa', 'tipo_veiculo'],
                        }">
            
            <mdt-header-row  >
              <mdt-column align-rule="left" column-sort="false">NCV</mdt-column>
              <mdt-column align-rule="left" column-sort="false" >Patio</mdt-column>
              <mdt-column align-rule="left" column-sort="false">Diárias</mdt-column>
              <mdt-column align-rule="left" column-sort="false">Ano</mdt-column>
              <mdt-column align-rule="left" column-sort="false">Cor</mdt-column>
              <mdt-column align-rule="left" column-sort="false">Apreensão</mdt-column>
              <mdt-column align-rule="left" column-sort="false" >Marca/Modelo</mdt-column>
              <mdt-column align-rule="left" column-sort="false">Placa</mdt-column>
              <mdt-column align-rule="left" column-sort="false">Tipo Veiculo</mdt-column>
            </mdt-header-row>
      
          </mdt-table>
      
        </section>
      
      </md-tab>
    </md-tabs>
    
  </div>