<div class="doc-demo-content doc-content">
    <md-content layout-xs="column" layout-gt-sm="row" layout-sm="column">
      <md-card layout-padding flex-gt-sm layout="column" flex-order="1" flex-order-gt-sm="1">
        <md-subheader class="md-no-sticky">FILTRAR DADOS</md-subheader>
        <md-divider></md-divider>
        <form name="editForm" ng-submit="editForm.$valid && formEdit(dados)" novalidate="novalidate">
          
          <div layout-gt-sm="row">
                     
            <md-input-container class="md-block" flex-gt-sm >
                <label>Data inicio</label> 
                <md-datepicker name="dataInicio" ng-model="dados.dataInicio"  md-placeholder="Data inicio"></md-datepicker>
            </md-input-container> 
    
            <md-input-container class="md-block" flex-gt-sm >
              <label>Data final</label>   
              <md-datepicker name="dataFinal" ng-model="dados.dataFinal" md-placeholder="Data final"></md-datepicker>
            </md-input-container>  
                                      
  
           
              
          </div>
  
          <div layout-gt-sm="row">
            
            <md-input-container class="md-block" flex-gt-sm style="margin: 10px">
              <label>Pátio</label>
              <md-select placeholder="Pátio"  name="patio" ng-model="dados.id_patio">
                <md-option  ng-repeat="patio in patios" ng-value="patio.id_patio">
                    {{patio.nome}}
                </md-option>
              </md-select>
              <div ng-messages="usuarioEditForm.patio.$error" class="errors">
                <div ng-message="required">
                Selecione Pátio.
                </div>
              </div>
            </md-input-container>
            
            <md-input-container class="md-block" flex-gt-sm>
              <label>Conta</label>
              <md-select placeholder="Conta" name="conta" ng-model="dados.id_conta">
                <md-option ng-repeat="conta in contas" ng-value="conta.id">
                    {{conta.descricao}}
                </md-option>
              </md-select>
                  
            </md-input-container>
  
  
           
  
          </div>
          
          <div>
            <md-button class="md-raised md-primary" aria-label="Adicionar" ng-click="mesAtual($event)">Mês Atual</md-button>          
            <md-button class="md-raised" md-colors="{background:'teal'}" md-colors-watch="false" ng-click="pesquisar($event)">Filtrar</md-button>
            <md-button class="md-raised" aria-label="Limpar" ng-click="limpar($event)">Limpar</md-button>
            <md-button class="md-raised md-primary" aria-label="Adicionar" ng-click="novo($event)">Novo</md-button>
          </div>
  
        </form>
      </md-card>
    </md-content>
    
  
    <section  class="md-whiteframe-z1 " ng-cloak layout="column" >
      
        <md-toolbar class="md-theme-light" >
          <h2 class="md-toolbar-tools">
            <span>{{dadosList.length}} Registros</span>
           
            <span flex></span>
            <md-button class="md-raised" aria-label="PDF" ng-click="gerarPdf()">PDF</md-button>
            <md-button class="md-raised" aria-label="Excel" ng-click="gerarPlanilha()">Excel</md-button>
          </h2>
        </md-toolbar>
  
        <mdt-table paginated-rows="{isEnabled: true, rowsPerPageValues: [20,50, 100]}" 
                    animate-sort-icon="true"
                    mdt-row="{
                              'data': dadosList,
                              'table-row-id-key': 'id',
                              'column-keys': ['documento','Conta', 'Fornecedor','Pagamento','Patio','Forma_Pagto','valor_formatado']
                    }"
          >
          
  
          <mdt-header-row>
            <mdt-column align-rule="left" column-sort="false">Documento</mdt-column>
            <mdt-column align-rule="left" column-sort="true">Conta</mdt-column>
            <mdt-column align-rule="left" column-sort="true">Fornecedor</mdt-column>          
            <mdt-column align-rule="left" column-sort="true">Pagamento</mdt-column>
            <mdt-column align-rule="left" column-sort="false">Pátio</mdt-column>
            <mdt-column align-rule="left" column-sort="false">Forma Pag.</mdt-column>
            <mdt-column align-rule="left" column-sort="false">Valor</mdt-column>
                
          </mdt-header-row>        
          
        </mdt-table>
      
    </section>

     

  <section  class="md-whiteframe-z1 " ng-cloak layout="column" >
    <div class="myDivClass"> 
    <md-toolbar class="md-theme-light" >
      <h2 class="md-toolbar-tools">
        <span>TOTAL POR DIA</span>
        <span flex></span>
      
        <md-button class="md-raised" aria-label="Excel" ng-click="gerarPdfDiarias()" > PDF</md-button>
        <md-button class="md-raised" aria-label="Excel" ng-click="gerarPlanilhaDiarias()" >EXCEL</md-button>
      </h2>
    </md-toolbar>

    <mdt-table paginated-rows="{isEnabled: true, rowsPerPageValues: [20,50, 100]}" 
    animate-sort-icon="true"
    mdt-row="{
              'data': totalDia,
              'table-row-id-key': 'id',
              'column-keys': ['data_pagto','Total_Formatado']
    }"
>

  

      <mdt-header-row>
        <mdt-column align-rule="left" column-sort="true">Data</mdt-column>
        <mdt-column align-rule="left" column-sort="true">Total</mdt-column>
      </mdt-header-row>        

    

    </mdt-table> 

  </div>
  
</section>


    
  
  </div>