<link rel="stylesheet" href="/assets/css/customLiberacao.css">

<div class="doc-demo-content doc-content">
  <md-content layout-xs="column" layout-gt-sm="row" layout-sm="column">
    <md-card layout-padding flex-gt-sm layout="column" flex-order="1" flex-order-gt-sm="1">
      <form name="editForm" ng-submit="editForm.$valid && pesquisar(dados)" novalidate="novalidate">

        <div layout-gt-sm="row">

          <md-input-container class="md-block" flex-gt-sm>
            <label>Data Inicial</label>
            <md-datepicker name="dataInicio" ng-model="dados.dataInicio"></md-datepicker>
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm>
            <label>Data Final</label>
            <md-datepicker name="dataFinal" ng-model="dados.dataFinal"></md-datepicker>
          </md-input-container>

          <div style="margin-top: 20px;margin-right: 50px;">
            <md-checkbox aria-label="Checkbox 1" ng-model="dados.detalhes" ng-click="HandleDetalhes(detalhes)">
              Mostrar Detalhes
            </md-checkbox>

          </div>

          <md-input-container class="md-block" flex-gt-sm>
            <label>Formas de Pagamento</label>
            <md-select placeholder="Forma Pagto" style="width: 90%" name="forma_pagto" ng-model="dados.forma_pagto"
              multiple>
              <md-option ng-repeat="formaPagto in formasPagto" ng-value="formaPagto.id">
                {{formaPagto.descricao}}
              </md-option>
            </md-select>
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm>
            <label>LIBERAÇÃO </label>
            <md-select placeholder="LIBERAÇÃO" required ng-required="true" name="LIBERAÇÃO"
              ng-model="dados.tipo_liberacao">
              <md-option value="LIBERADO" selected>LIBERADO</md-option>
              <md-option value="LIBERADO_ARR">LIBERADO ARR</md-option>
              <md-option value="TODOS">TODOS</md-option>

            </md-select>
          </md-input-container>
        </div>


        <md-input-container class="md-block" flex-gt-sm>
          <label>Pátio</label>
          <md-select ng-disabled="dados.id_grupo_patios" placeholder="Pátio" style="width: 90%" 
                    ng-required="false" name="patio" ng-model="dados.patio" multiple>
            <md-option ng-repeat="patio in patios" ng-value="patio.id_patio">
              {{patio.nome}}
            </md-option>
          </md-select>
          <div ng-messages="usuarioEditForm.patio.$error" class="errors">
            <div ng-message="required">
              Selecione Pátio.
            </div>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm style="text-overflow: hidden;max-width: 90%;"> 
          <label>Grupo Pátio</label>
            <md-select placeholder="Grupo Pátio" name="patio" ng-required="false" 
                    ng-model="dados.id_grupo_patios" ng-disabled="dados.patio"> 
            <md-option ng-repeat="patioGrupo in patiosGrupo" ng-value="patioGrupo.id">
              {{patioGrupo.descricao}}
            </md-option>
          </md-select>
        </md-input-container>


        <br>
        <div>
          <md-button class="md-raised md-primary" aria-label="Adicionar" ng-click="mesAtual($event)">Mês Atual
          </md-button>
          <md-button type="submit" class="md-raised" md-colors="{background:'teal'}" md-colors-watch="false">Filtrar
          </md-button>
          <md-button class="md-raised" aria-label="Limpar" ng-click="limpar($event)">Limpar</md-button>
        </div>

      </form>
    </md-card>
  </md-content>

  
  <div class="containerTable" ng-hide="dados.detalhes" ng-scroll="Scroll(e)">


    <div class="containerHeader">
      <div class="containerbuttoms">
        <md-button class="md-raised" aria-label="Excel" ng-click="gerarPdf()">Gerar PDF</md-button>
        <md-button class="md-raised" aria-label="Excel" ng-click="gerarPlanilha()">Gerar Planilha</md-button>
      </div>

      <span flex></span>
       <img src="/assets/images/icons/Spinner.svg" alt="Spinner" ng-show="ShowSpinnerLoad" style="margin-right: 100px">

      <h4>
      <span style="margin-right: 200px">{{quantidadeRegistros.length || 0}}  Registros</span>
      <span style="margin-right: 500px">Total: {{totalGeral | currency:"R$ ":2}} </span>
      </h4>
       

    </div>

    <table >

      <tr>
        
        <th>Pátio</th>
        <th>NCV</th>
        <th>Placa</th>
        <th>Tipo Veiculo</th>
        <th>Marca/Modelo</th>
        <th>Liberação</th>
        <th>Nota Fiscal</th>
        <th>Apreensão</th>
        <th>Guincho</th>
        <th>Diaria</th>
        <th>Diarias</th>
        <th>Total Diarias</th>
        <th>Desconto</th>
        <th>Acrescimo</th>
        <th>Recebido</th>
        <th>Pagador</th>
        <th>Forma Pgto</th>
      </tr>


      <tr ng-repeat="Dados in dadosLiberacoes" class="Result" ng-style={{setColor(item.IsValid)}}>
        
        <td ng-style="{'color': Dados.color ? Dados.color : '', 'font-weight': Dados.fontWeight ? Dados.fontWeight : '',
                        'font-size': Dados.fontSize ? Dados.fontSize: ''}">{{Dados.patio}}</td>

        <td ng-style="{'color': Dados.color ? Dados.color : '', 'font-weight': Dados.fontWeight ? Dados.fontWeight : '',
                      'font-size': Dados.fontSize ? Dados.fontSize: ''}">{{Dados.id}}</td>
        
        <td>{{Dados.placa}}</td>
        <td>{{Dados.tipo_veiculo}}</td>
        <td>{{Dados.marca_modelo}}</td>
        <td>{{Dados.data_liberacao}}</td>
        <td>{{Dados.nota_fiscal}}</td>
        <td>{{Dados.data_apreensao}}</td>
        
        <td ng-style="{'color': Dados.color ? Dados.color : '', 'font-weight': Dados.fontWeight ? Dados.fontWeight : '',
                      'font-size': Dados.fontSize ? Dados.fontSize: ''}">{{Dados.valor_guincho}}</td>
        
        <td>{{Dados.valor_estadia}}</td>
        <td>{{Dados.estadias}} </td>
        
        <td ng-style="{'color': Dados.color ? Dados.color : '', 'font-weight': Dados.fontWeight ? Dados.fontWeight : '',
                      'font-size': Dados.fontSize ? Dados.fontSize: ''}">{{Dados.total_diarias}}</td>

        <td ng-style="{'color': Dados.color ? Dados.color : '', 'font-weight': Dados.fontWeight ? Dados.fontWeight : '',
                      'font-size': Dados.fontSize ? Dados.fontSize: ''}">{{Dados.desconto}}</td>

        <td ng-style="{'color': Dados.color ? Dados.color : '', 'font-weight': Dados.fontWeight ? Dados.fontWeight : '',
                      'font-size': Dados.fontSize ? Dados.fontSize: ''}">{{Dados.acrescimo}}</td>

        <td ng-style="{'color': Dados.color ? Dados.color : '', 'font-weight': Dados.fontWeight ? Dados.fontWeight : '',
                      'font-size': Dados.fontSize ? Dados.fontSize: ''}">{{Dados.total}}</td>
        
        <td>{{Dados.nome_pagador}}</td>
        <td>{{Dados.forma_pagto}}</td>
      
      </tr>

    </table>

  </div>







  <div class="containerTable" ng-show="dados.detalhes ">

    <div class="containerHeader">
      <div class="containerbuttoms">
        <md-button class="md-raised" aria-label="Excel" ng-click="gerarPdf()">Gerar PDF</md-button>
        <md-button class="md-raised" aria-label="Excel" ng-click="gerarPlanilha()">Gerar Planilha</md-button>
      </div>

      <span flex></span>
       <img src="/assets/images/icons/Spinner.svg" alt="Spinner" ng-show="ShowSpinnerLoad" style="margin-right: 100px">

      <h4>
      <span style="margin-right: 300px">{{quantidadeRegistros.length || 0}}  Registros</span>
      <span style="margin-right: 700px">Total: {{totalGeral | currency:"R$ ":2}} </span>
      </h4>
       
    </div>
 

    <table>

      <tr>
        
        <th>Pátio</th>
        <th>NCV</th>
        <th>Placa</th>
        <th>Tipo Veiculo</th>
        <th>Marca/Modelo</th>
        <th>Liberação</th>
        <th>Apreensão</th>
        <th>Guincho</th>
        <th>Diaria</th>
        <th>Diarias</th>
        <th>Total Diarias</th>
        <th>Desconto</th>
        <th>Acrescimo</th>
        <th>Recebido</th>
        
        <th>Chassi</th>
        <th>Numero Motor</th>
        <th>Placa Municipio</th>
        <th>Placa Uf</th>
        <th>Histórico</th>
        <th>Editar</th>
      </tr>


      <tr ng-repeat="Dados in dadosLiberacoes" class="Result">
        
      
        <td ng-style="{'color': Dados.color ? Dados.color : '', 'font-weight': Dados.fontWeight ? Dados.fontWeight : '', 
                      'font-size': Dados.fontSize ? Dados.fontSize: ''}">{{Dados.patio}}</td>
        
        <td ng-style="{'color': Dados.color ? Dados.color : '', 'font-weight': Dados.fontWeight ? Dados.fontWeight : '',
                      'font-size': Dados.fontSize ? Dados.fontSize: ''}">{{Dados.id}}</td>
        
        <td>{{Dados.placa}}</td>
        <td>{{Dados.tipo_veiculo}}</td>
        <td>{{Dados.marca_modelo}}</td>
        <td>{{Dados.data_liberacao}}</td>
        <td>{{Dados.data_apreensao}}</td>
        
        <td ng-style="{'color': Dados.color ? Dados.color : '', 'font-weight': Dados.fontWeight ? Dados.fontWeight : ''}">{{Dados.valor_guincho}}</td>
        <td>{{Dados.valor_estadia}}</td>
        <td>{{Dados.estadias}} </td>
  
        <td ng-style="{'color': Dados.color ? Dados.color : '', 'font-weight': Dados.fontWeight ? Dados.fontWeight : ''}">{{Dados.total_diarias}}</td>
        <td ng-style="{'color': Dados.color ? Dados.color : '', 'font-weight': Dados.fontWeight ? Dados.fontWeight : ''}">{{Dados.desconto}}</td>
        <td ng-style="{'color': Dados.color ? Dados.color : '', 'font-weight': Dados.fontWeight ? Dados.fontWeight : ''}">{{Dados.acrescimo}}</td>
        <td ng-style="{'color': Dados.color ? Dados.color : '', 'font-weight': Dados.fontWeight ? Dados.fontWeight : ''}">{{Dados.total}}</td>

        <td>{{Dados.chassi}}</td>
        <td>{{Dados.numero_motor}}</td>
        <td>{{Dados.placa_municipio}}</td>
        <td>{{Dados.placa_uf}}</td>

        <td>
          <img src="/assets/images/icons/History-icon.svg" alt="" width="25px" 
            ng-click="ShowHistorico(Dados)" ng-if="Dados.patio.includes('TOTAL') || Dados.patio.includes('TRANSFERENCIA') ||
             Dados.patio.includes('CARTÃO') || Dados.patio.includes('BOLETO') || 
             Dados.patio.includes('ISENTO') || Dados.patio === ('') ? visible = false : visible = true">
        </td>
        
        <td>
          <img src="/assets/images/icons/Edit-icon.svg" alt="" ng-click="detalhe(Dados)" 
          ng-if="Dados.patio.includes('TOTAL') || Dados.patio.includes('TRANSFERENCIA') ||
          Dados.patio.includes('CARTÃO') || Dados.patio.includes('BOLETO') || 
          Dados.patio.includes('ISENTO') || Dados.patio === ('') ? visible = false : visible = true">
        </td>

      </tr>

    </table>

  </div>








  <br>

  <br>

  <section class="md-whiteframe-z1 " ng-cloak layout="column">
    <div class="myDivClass">
      <md-toolbar class="md-theme-light">
        <h2 class="md-toolbar-tools">
          <span>RESUMO DOS RECEBIMENTOS</span>
          <span flex></span>
        </h2>
      </md-toolbar>

      <mdt-table paginated-rows="{isEnabled: true, rowsPerPageValues: [50, 100]}" animate-sort-icon="true" mdt-row="{
              'data': dadosPagamentos,
              'table-row-id-key': 'descricao',
              'column-keys': ['descricao', 'valor']
    }">

        <mdt-header-row>
          <mdt-column align-rule="left" column-sort="true">DESCRIÇÃO</mdt-column>
          <mdt-column align-rule="left" column-sort="true">Valor</mdt-column>
        </mdt-header-row>
      </mdt-table>

    </div>
  </section>
</div>



<script type="text/ng-template" id="MostrarHistorico.html">



  <md-dialog style="width:800px;height:500px;">
    <md-dialog-content>

        <md-content layout-padding>
       
        
                
    <section  class="md-whiteframe-z1 " ng-cloak layout="column" >
      <div class="myDivClass"> 
      <md-toolbar class="md-theme-light" >
        <h2 class="md-toolbar-tools">
          <span>Detalhes</span>
          <span flex></span>
        </h2>
      </md-toolbar>
  
      <mdt-table paginated-rows="{isEnabled: true, rowsPerPageValues: [50, 100]}" 
      animate-sort-icon="true"
      mdt-row="{
                'data': Historicos,
                'table-row-id-key': 'ncv',
                'column-keys': ['ncv', 'tipo', 'descricao', 'usuario','data']
      }"
      > 

     
  
      <mdt-header-row>
      <mdt-column align-rule="left" column-sort="true">NCV</mdt-column>
      <mdt-column align-rule="left" column-so rt="true">Tipo</mdt-column>
      <mdt-column align-rule="left" column-so rt="true">Descrição</mdt-column>
      <mdt-column align-rule="left" column-so rt="true">Usuário</mdt-column>
      <mdt-column align-rule="left" column-so rt="true">Data</mdt-column>

      </mdt-header-row>        
      </mdt-table>
  
    </div>
      
      </section>
    </md-content>
  </md-dialog-content>
  <md-dialog-actions>
      <md-button class="md-raised md-primary" ng-click="cancel()">Cancelar</md-button>
    
  </md-dialog-actions>
</md-dialog>

  
  </script>