<div class="doc-demo-content doc-content">
  <md-content layout-xs="column" layout-gt-sm="row" layout-sm="column">
    <md-card layout-padding flex-gt-sm layout="column" flex-order="1" flex-order-gt-sm="1">
      <form name="editForm" ng-submit="editForm.$valid && pesquisar(dados)" novalidate="novalidate">
          
          <div layout-gt-sm="row">
                     
            <md-input-container class="md-block" flex-gt-sm >
              <label>Data Inicial</label> 
              <md-datepicker name="dataInicio" ng-model="dados.dataInicio" ></md-datepicker>
            </md-input-container> 

            <md-input-container class="md-block" flex-gt-sm >
              <label>Data Final</label>   
              <md-datepicker name="dataFinal" ng-model="dados.dataFinal" ></md-datepicker>
            </md-input-container>
                                          
          </div>   
         
          <md-input-container class="md-block" flex-gt-sm>
            <label>Pátio</label>
            <md-select placeholder="Pátio" required ng-required="true" style="width: 90%" name="patio" ng-model="dados.patio" ng-change="update(dados.patio)">
              <md-option  ng-repeat="patio in patios" ng-value="patio.id_patio">
                  {{patio.nome}}
              </md-option>
            </md-select>
            <div ng-messages="usuarioEditForm.patio.$error" class="errors">
              <div ng-message="required">
              Selecione Pátio.
              </div>
          </div>
          
        <br>
        <div>
          <md-button class="md-raised md-primary" aria-label="Adicionar" ng-click="mesAtual($event)">Mês Atual</md-button>          
          <md-button type="submit" class="md-raised" md-colors="{background:'teal'}" md-colors-watch="false" >Filtrar</md-button>
          <md-button class="md-raised" aria-label="Limpar" ng-click="limpar($event)">Limpar</md-button>
        </div>

      </form>
    </md-card>
  </md-content>
  

  <section  class="md-whiteframe-z1 " ng-cloak layout="column" >
      <div class="myDivClass"> 
      <md-toolbar class="md-theme-light" >
        <h2 class="md-toolbar-tools">
          <span>RESUMO POR PATIO</span>
          <span flex></span>
          <md-button class="md-raised" aria-label="Excel" ng-click="gerarPdf()" >Gerar PDF</md-button>
          <md-button class="md-raised" aria-label="Excel" ng-click="gerarPlanilha()" >Gerar Planilha</md-button>
        </h2>
      </md-toolbar>


      <mdt-table paginated-rows="{isEnabled: true, rowsPerPageValues: [50, 100]}"> 

        <mdt-header-row>
          <mdt-column align-rule="left" column-sort="true">Pátio</mdt-column>
          <mdt-column align-rule="left" column-sort="true">Data Conferencia</mdt-column>
          <mdt-column align-rule="left" column-sort="false">Qtde Veiculos</mdt-column>
          <mdt-column align-rule="left" column-sort="false">Detalhes</mdt-column>
        </mdt-header-row>        

        <mdt-row ng-repeat="lista in dadosPatios">
          <mdt-cell>{{lista.nome}}</mdt-cell>
          <mdt-cell>{{lista.DATA}}</mdt-cell>
          <mdt-cell>{{lista.QTDE}}</mdt-cell>
          <mdt-cell html-content="true">
              <mdt-custom-cell-button icon='directions_car' class="md-icon-button md-secondary" ng-click="detalhesPatio(lista)" class="md-primary"></mdt-custom-cell-button>
          </mdt-cell>

        </mdt-row>


      </mdt-table> 

    </div>
    
  </section>

  <section  class="md-whiteframe-z1 " ng-cloak layout="column" >
    <div class="myDivClass"> 
    <md-toolbar class="md-theme-light" >
      <h2 class="md-toolbar-tools">
        <span>RESUMO POR CONFERENTE</span>
        <span flex></span>
      </h2>
    </md-toolbar>

    <mdt-table paginated-rows="{isEnabled: true, rowsPerPageValues: [50, 100]}"> 

    <mdt-header-row>
    <mdt-column align-rule="left" column-sort="true">NOME CONFERENTE</mdt-column>
    <mdt-column align-rule="left" column-sort="true">Data Conferencia</mdt-column>
    <mdt-column align-rule="left" column-sort="false">Qtde Veiculos</mdt-column>
    <mdt-column align-rule="left" column-sort="false">Detalhes</mdt-column>
    </mdt-header-row>        

    <mdt-row ng-repeat="lista in dadosConferentes">
      <mdt-cell>{{lista.nome}}</mdt-cell>
      <mdt-cell>{{lista.DATA}}</mdt-cell>
      <mdt-cell>{{lista.QTDE}}</mdt-cell>
      <mdt-cell html-content="true">
          <mdt-custom-cell-button icon='directions_car' class="md-icon-button md-secondary" ng-click="detalhesConferentes(lista)" class="md-primary"></mdt-custom-cell-button>
      </mdt-cell>

    </mdt-row>


    </mdt-table>

    </div>
    </section>


    <section  class="md-whiteframe-z1 " ng-cloak layout="column" >
      <div class="myDivClass"> 
      <md-toolbar class="md-theme-light" >
        <h2 class="md-toolbar-tools">
          <span>RESUMO POR DIA</span>
          <span flex></span>
        </h2>
      </md-toolbar>
  
      <mdt-table paginated-rows="{isEnabled: true, rowsPerPageValues: [50, 100]}" 
      animate-sort-icon="true"
      mdt-row="{
                'data': totalDia,
                'table-row-id-key': 'nome',
                'column-keys': ['DATA', 'QTDE']
      }"
      > 

     
      <mdt-header-row>
      <mdt-column align-rule="left" column-sort="true">DATA CONFERENCIA</mdt-column>
      <mdt-column align-rule="left" column-sort="true">QTDE</mdt-column>
    
      </mdt-header-row>        
      </mdt-table>
  
      </div>
      </section>

</div>



<script type="text/ng-template" id="detalhes-conferentes.html">
    

  <md-dialog style="width:800px;height:500px;">
    <md-dialog-content>

        <md-content layout-padding>
       
        
                
    <section  class="md-whiteframe-z1 " ng-cloak layout="column" >
      <div class="myDivClass"> 
      <md-toolbar class="md-theme-light" >
        <h2 class="md-toolbar-tools">
          <span>Detalhes</span>
          <span flex></span>
        </h2>
      </md-toolbar>
  
      <mdt-table paginated-rows="{isEnabled: true, rowsPerPageValues: [50, 100]}" 
      animate-sort-icon="true"
      mdt-row="{
                'data': listarDados,
                'table-row-id-key': 'NCV',
                'column-keys': ['NCV', 'placa', 'marca_modelo', 'ano', 'cor', 'editar']
      }"
      > 

      <mdt-custom-cell column-key="editar">
        <mdt-custom-cell-button icon='edit' class="md-icon-button md-secondary" ng-click="clientScope.editar($event, rowId)" aria-label="Editar"></md-custom-cell-button>
      </mdt-custom-cell>  
  
      <mdt-header-row>
      <mdt-column align-rule="left" column-sort="true">NCV</mdt-column>
      <mdt-column align-rule="left" column-so rt="true">Placa</mdt-column>
      <mdt-column align-rule="left" column-so rt="true">Marca</mdt-column>
      <mdt-column align-rule="left" column-so rt="true">Ano</mdt-column>
      <mdt-column align-rule="left" column-so rt="true">Cor</mdt-column>
      <mdt-column align-rule="left" column-sort="false">Editar</mdt-column>
      </mdt-header-row>        
      </mdt-table>
  
    </div>
      
      </section>
    </md-content>
  </md-dialog-content>
  <md-dialog-actions>
      <md-button class="md-raised md-primary" ng-click="cancel()">Cancelar</md-button>
    
  </md-dialog-actions>
</md-dialog>

  </script>



<script type="text/ng-template" id="tipos-patios.html">
  <md-dialog style="width:400px;height:250px;">
      <md-dialog-content>
          <md-content layout-padding>
              <md-input-container class="md-block" flex-gt-sm>
                  <label>UF</label>
                  <md-select placeholder="UF" style="width: 100px"  ng-required="false" name="uf" ng-model="dados_liberado.uf">
                      <md-option ng-repeat="estado in estados" ng-value="estado.sigla">
                          {{estado.sigla}}
                      </md-option>
                  </md-select>
              </md-input-container>
          </md-content>
      </md-dialog-content>
      <md-dialog-actions>
          <md-button class="md-raised md-primary" ng-click="cancel()">Cancelar</md-button>
          <md-button class="md-raised" md-colors="{background:'teal'}" ng-click="saveAndClose()">Gravar</md-button>
      </md-dialog-actions>
  </md-dialog>
  </script>

