<div class="doc-demo-content doc-content">
  <md-content layout-xs="column" layout-gt-sm="row" layout-sm="column">
    <md-card layout-padding flex-gt-sm layout="column" flex-order="1" flex-order-gt-sm="1">
      <form name="editForm" ng-submit="editForm.$valid && formEdit(dados)" novalidate="novalidate">
          
          <md-input-container class="md-block" flex-gt-sm>
            <label>Pátio</label>
            <md-select placeholder="Pátio" style="width: 90%" name="patio" ng-model="dados.patio" multiple>
              <md-option  ng-repeat="patio in patios" ng-value="patio.id_patio">
                  {{patio.nome}}
              </md-option>
            </md-select>
          </md-input-container>

        <br>
        <div>
          <md-button class="md-raised" md-colors="{background:'teal'}" md-colors-watch="false" ng-click="pesquisar($event)">Filtrar</md-button>
        </div>

      </form>
    </md-card>
  </md-content>
  

  <section  class="md-whiteframe-z1 " ng-cloak layout="column" >
    
      <md-toolbar class="md-theme-light" >
        <h2 class="md-toolbar-tools">
          <span>Estoque Geral : {{sum}}   </span>
          <span flex></span>
          <md-button class="md-raised" aria-label="Excel" ng-click="gerarPlanilha()" >Gerar Planilha</md-button>
        </h2>
      </md-toolbar>

      <mdt-table paginated-rows="{isEnabled: true, rowsPerPageValues: [20,50, 100]}" 
                  animate-sort-icon="true"
                  mdt-row="{
                            'data': dadosEstoque,
                            'table-row-id-key': 'tipo_veiculo',
                            'column-keys': ['descricao', 'estoque']
                  }"
        >

        <mdt-header-row>
          <mdt-column align-rule="left" column-sort="true">Tipo Veiculo</mdt-column>
          <mdt-column align-rule="left" column-sort="false">Estoque</mdt-column>
        </mdt-header-row>        
        
      </mdt-table>
    
  </section>

</div>