<link rel="stylesheet" href="/assets/css/customTable.css">

<div class="doc-demo-content doc-content">
  
  <md-tabs md-dynamic-height md-border-bottom>
      
    <md-tab label="EMPRESA">
    
      <md-content layout-xs="column" layout-gt-sm="row" layout-sm="column">
        <md-card layout-padding flex-gt-sm layout="column" flex-order="1" flex-order-gt-sm="1">
          
          <form name="editForm" ng-submit="editForm.$valid && formEdit(dados)" novalidate="novalidate">
            
            <div layout-gt-sm="row" style="display: flex;align-items: baseline;">
    
              <md-input-container class="md-block" >
                <label>Data Inicial</label>
                <md-datepicker name="dataInicio" ng-model="dados.data_Inicio" ng-required="true"
                  md-placeholder="Data inicio"></md-datepicker>
              </md-input-container>
      
              <md-input-container class="md-block" style="margin-left: 200px;">
                <label>Data Final</label>
                <md-datepicker name="dataFinal" ng-model="dados.data_Final" ng-required="true" md-placeholder="Data final">
                </md-datepicker>
              </md-input-container>
    
            </div>
          
            <div layout-gt-sm="row">
              <md-input-container class="md-block" flex-gt-sm >
                <label>Empresa de Reboque</label>
                <md-select placeholder="Empresa de Reboque" required ng-required="false" name="empresa" ng-model="dados.empresa"  ng-change="getMotoristaByEmpresa()">
                  <md-option ng-repeat="empresa in empresas" ng-value="empresa.id" >
                    {{empresa.nome}}
                  </md-option>
                </md-select>
    
              </md-input-container>
    
              <md-input-container class="md-block" flex-gt-sm >
                <label>Nome do Motorista</label>
                <md-select placeholder="Nome do Motorista" required ng-required="false" name="motorista" ng-model="dados.id_motorista">
                  <md-option ng-repeat="motorista in motoristas" ng-value="motorista.id_usuario_app" >
                    {{motorista.nome}}
                  </md-option>
                </md-select>
    
              </md-input-container>
              
            </div>
    
            <div>
              <md-button class="md-raised" md-colors="{background:'teal'}" md-colors-watch="false" ng-click="Buscar(dados)">Filtrar</md-button>
              <md-button class="md-raised" aria-label="Limpar" ng-click="limpar($event)">Limpar</md-button>
            </div>
          </form>
        </md-card>
      </md-content>
      
    
      <section  class="md-whiteframe-z1 " ng-cloak layout="column" >
        
          <md-toolbar class="md-theme-light" >
            <h2 class="md-toolbar-tools">
              <span>{{length || 0}} Registros - {{empresaReboque}}</span>
              <span flex></span>
              <md-button class="md-raised"  ng-click="gerarPdf()" aria-label="PDF" >PDF</md-button>
              <md-button class="md-raised" ng-click="gerarPlanilha()" aria-label="Excel" >Excel</md-button>
            </h2>
          </md-toolbar>
    
          <md-content class="Body">
            
          <md-card>
    
          <mdt-table paginated-rows="{isEnabled: true, rowsPerPageValues: [20,50, 100]}" 
                      animate-sort-icon="true"
                      mdt-row="{
                                'data': datalist,
                                'table-row-id-key': 'id',
                                'column-keys': ['nome_motorista', 'ncv', 'patio', 'placa', 'marca_modelo', 'tipo_veiculo', 'valor_guincho', 
                                                'km_excedente', 'valor_km_excedente', 'valor_pedagio', 'valor_desconto', 'total_extras', 
                                                'total_receber', 'pendencias', 'extras']
                      }"
            >
      
            <mdt-custom-cell column-key="pendencias" >
              <input type="checkbox" name="servico" aria-label="Checkbox 1" style="margin: 30"
                title="Informa se existem pendências de fotos ou documentos para este NCV"
                ng-hide="clientScope.hideCheck($event, rowId)" onclick="return false"
                ng-checked="clientScope.checkboxDetalhe($event, rowId)" > 
            </mdt-custom-cell>

            <mdt-custom-cell column-key="extras">
              <mdt-custom-cell-button icon='remove_red_eye' class="md-icon-button md-secondary" 
                ng-click="clientScope.buscaExtrasEmpresa($event, rowId, $index)" aria-label="Detalhe"
                ng-hide="clientScope.hideCheck($event, rowId)"
                title="Visualizar detalhamento dos valores extras">
              </md-custom-cell-button>
            </mdt-custom-cell>
    
            <mdt-header-row>
              <mdt-column align-rule="left" column-sort="false">Motorista</mdt-column>
              <mdt-column align-rule="left" column-sort="false">NCV</mdt-column>
              <mdt-column align-rule="left" column-sort="false">Pátio</mdt-column>
              <mdt-column align-rule="left" column-sort="false">Placa</mdt-column>
              <mdt-column align-rule="left" column-sort="false">Marca/Modelo</mdt-column>
              <mdt-column align-rule="left" column-sort="false">Tipo Veiculo</mdt-column>
              <mdt-column align-rule="left" column-sort="false">Remoção</mdt-column>
              <mdt-column align-rule="left" column-sort="false">KM Exced.</mdt-column>
              <mdt-column align-rule="left" column-sort="false">Valor Exced.</mdt-column>
              <mdt-column align-rule="left" column-sort="false">Pedágio</mdt-column>
              <mdt-column align-rule="left" column-sort="false">Desconto</mdt-column>
              <mdt-column align-rule="left" column-sort="false">Extras</mdt-column>
              <mdt-column align-rule="left" column-sort="false">Total Receber</mdt-column>
              <mdt-column align-rule="left" column-sort="false">Pendência</mdt-column>
              <mdt-column align-rule="left" column-sort="false">Ver Extras</mdt-column>           
    
            </mdt-header-row>
            
            
          </mdt-table>
    
        </md-card>
      </md-content>
          
      </section>
    </md-tab>






  
    <md-tab label="PATIO">
    
      <md-content layout-xs="column" layout-gt-sm="row" layout-sm="column">
        <md-card layout-padding flex-gt-sm layout="column" flex-order="1" flex-order-gt-sm="1">
          
          <form name="editForm" ng-submit="editForm.$valid && formEdit(dados)" novalidate="novalidate">
            
            <div layout-gt-sm="row" style="display: flex;align-items: baseline;">
                       
              <md-input-container class="md-block"  style="width: 200px ;">
                <label>Data Inicial</label> 
                <md-datepicker name="dataInicial" ng-model="dadosPatio.dataInicial" ></md-datepicker>
              </md-input-container> 
  
              <md-input-container class="md-block" style="margin-left: 200px;">
                <label>Data Final</label>   
                <md-datepicker name="dataFinal" ng-model="dadosPatio.dataFinal" ></md-datepicker>
              </md-input-container>
                                            
            </div>      
          

          <div layout-gt-sm="row" style="display: flex;align-items: baseline;">

            <md-input-container class="md-block" style="width: 600px ;">
              <label>Pátio</label>
              <md-select placeholder="Pátio" name="patio" ng-required="true" ng-model="dadosPatio.id_patio" >
                <md-option ng-repeat="patio in patios" ng-value="patio.id_patio">
                  {{patio.nome}}
                </md-option>
              </md-select>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm >
              <label>Empresa de Reboque</label>
              <md-select placeholder="Empresa de Reboque" ng-required="false" name="empresa" ng-model="dadosPatio.empresa"  ng-change="motoristaByEmpresaPatio()">
                <md-option ng-repeat="empresa in empresas" ng-value="empresa.id" >
                  {{empresa.nome}}
                </md-option>
              </md-select>
  
            </md-input-container>
  
            <md-input-container class="md-block" flex-gt-sm >
              <label>Nome do Motorista</label>
              <md-select placeholder="Nome do Motorista" ng-required="false" name="motorista" ng-model="dadosPatio.id_motorista">
                <md-option ng-repeat="motorista in motoristasPatio" ng-value="motorista.id_usuario_app" >
                  {{motorista.nome}}
                </md-option>
              </md-select>
  
            </md-input-container>

          </div>

            <div>
              <md-button class="md-raised" md-colors="{background:'teal'}" md-colors-watch="false" ng-click="BuscarDadosPatio(dadosPatio)">Filtrar</md-button>
              <md-button class="md-raised" aria-label="Limpar" ng-click="limparDadosPatio($event)">Limpar</md-button>
            </div>
          </form>
        </md-card>
      </md-content>
      
    
      <section  class="md-whiteframe-z1 " ng-cloak layout="column" >
        
          <md-toolbar class="md-theme-light" >
            <h2 class="md-toolbar-tools">
              <span>{{dadosPatioLength || 0}} Registros - {{patioPesquisa}}</span>
              <span flex></span>
              <md-button class="md-raised"  ng-click="gerarPatioPdf()" aria-label="PDF" >PDF</md-button>
              <md-button class="md-raised" ng-click="gerarPatioPlanilha()" aria-label="Excel" >Excel</md-button>
            </h2>
          </md-toolbar>

          <md-content class="Body">
            
            <md-card>
    
    
          <mdt-table paginated-rows="{isEnabled: true, rowsPerPageValues: [20,50, 100]}" 
                      animate-sort-icon="true"
                      mdt-row="{
                                'data': dadosPatioList,
                                'table-row-id-key': 'id',
                                'column-keys': ['nome_motorista', 'patio', 'ncv', 'placa', 'marca_modelo', 'tipo_veiculo', 'valor_guincho', 
                                                'km_excedente', 'valor_km_excedente', 'valor_pedagio', 'valor_desconto', 'total_extras', 
                                                'total_receber', 'pendencias', 'extras', 'editar']
                      }"
            >
      
            <mdt-custom-cell column-key="pendencias" >
              <input type="checkbox" name="servico" aria-label="Checkbox 1" style="margin: 30"
                title="Informa se existem pendências de fotos ou documentos para este NCV"
                ng-hide="clientScope.hidePatioCheck($event, rowId)" onclick="return false"
                ng-checked="clientScope.checkboxPatioDetalhe($event, rowId)" > 
            </mdt-custom-cell>

            <mdt-custom-cell column-key="extras">
              <mdt-custom-cell-button icon='remove_red_eye' class="md-icon-button md-secondary" 
                ng-click="clientScope.buscaExtrasPatio($event, rowId, $index)" aria-label="Detalhe"
                ng-hide="clientScope.hidePatioCheck($event, rowId)"
                title="Visualizar detalhamento dos valores extras">
              </md-custom-cell-button>
            </mdt-custom-cell>

            <mdt-custom-cell column-key="editar">
              <mdt-custom-cell-button icon='edit'  class="md-icon-button md-secondary"
                ng-hide="clientScope.hidePatioCheck($event, rowId)"
                title="Abre para editar dados do NCV"
                ng-click="clientScope.editarNcvPatio($event, rowId)" aria-label="Editar" >
              </md-custom-cell-button>
            </mdt-custom-cell>
    
            <mdt-header-row>
              <mdt-column align-rule="left" column-sort="false">Motorista</mdt-column>
              <mdt-column align-rule="left" column-sort="false">Pátio</mdt-column>
              <mdt-column align-rule="left" column-sort="false">NCV</mdt-column>
              <mdt-column align-rule="left" column-sort="false">Placa</mdt-column>
              <mdt-column align-rule="left" column-sort="false">Marca/Modelo</mdt-column>
              <mdt-column align-rule="left" column-sort="false">Tipo Veiculo</mdt-column>
              <mdt-column align-rule="left" column-sort="false">Remoção</mdt-column>
              <mdt-column align-rule="left" column-sort="false">KM Exced.</mdt-column>
              <mdt-column align-rule="left" column-sort="false">Valor Exced.</mdt-column>
              <mdt-column align-rule="left" column-sort="false">Pedágio</mdt-column>
              <mdt-column align-rule="left" column-sort="false">Desconto</mdt-column>
              <mdt-column align-rule="left" column-sort="false">Extras</mdt-column>
              <mdt-column align-rule="left" column-sort="false">Total Receber</mdt-column>
              <mdt-column align-rule="left" column-sort="false">Pendência</mdt-column>
              <mdt-column align-rule="left" column-sort="false">Ver Extras</mdt-column>
              <mdt-column align-rule="left" column-sort="false">Editar</mdt-column>           
    
            </mdt-header-row>
          </mdt-table>






          <md-tab label="MOTORISTA">
    
            <md-content layout-xs="column" layout-gt-sm="row" layout-sm="column">
              <md-card layout-padding flex-gt-sm layout="column" flex-order="1" flex-order-gt-sm="1">
                
                <form name="editForm" ng-submit="editForm.$valid && formEdit(dados)" novalidate="novalidate">
                  
                  <div layout-gt-sm="row" style="display: flex;align-items: baseline;">
                             
                    <md-input-container class="md-block"  style="width: 200px ;">
                      <label>Data Inicial</label> 
                      <md-datepicker name="dataInicial" ng-model="dadosMotorista.dataInicial" ></md-datepicker>
                    </md-input-container> 
        
                    <md-input-container class="md-block" style="margin-left: 200px;">
                      <label>Data Final</label>   
                      <md-datepicker name="dataFinal" ng-model="dadosMotorista.dataFinal" ></md-datepicker>
                    </md-input-container>
                                                  
                  </div>      
                
      
                <div layout-gt-sm="row" style="display: flex;align-items: baseline;">
            
                  <md-input-container class="md-block" style="width: 600px ;">
                    <label>Nome do Motorista</label>
                    <md-select placeholder="Nome do Motorista" ng-required="true" name="motorista" ng-model="dadosMotorista.id_motorista" >
                      <md-option ng-repeat="motorista in listaMotoristas" ng-value="motorista.id_usuario_app" >
                        {{motorista.nome}}
                      </md-option>
                    </md-select>
                  </md-input-container>
      
                </div>
      
                  <div>
                    <md-button class="md-raised" md-colors="{background:'teal'}" md-colors-watch="false" ng-click="buscarDadosMotorista()">Filtrar</md-button>
                    <md-button class="md-raised" aria-label="Limpar" ng-click="limparDadosMotorista($event)">Limpar</md-button>
                  </div>
                </form>
              </md-card>
            </md-content>
            
          
            <section  class="md-whiteframe-z1 " ng-cloak layout="column" >
              
                <md-toolbar class="md-theme-light" >
                  <h2 class="md-toolbar-tools">
                    <span>{{dadosMotoristaLength || 0}} Registros - {{motoristaPesquisa}}</span>
                    <span flex></span>
                    <md-button class="md-raised"  ng-click="gerarMotoristaPdf()" aria-label="PDF" >PDF</md-button>
                    <md-button class="md-raised" ng-click="gerarMotoristaPlanilha()" aria-label="Excel" >Excel</md-button>
                  </h2>
                </md-toolbar>
      
                <md-content class="Body">
                  
                  <md-card>
          
          
                <mdt-table paginated-rows="{isEnabled: true, rowsPerPageValues: [20,50, 100]}" 
                            animate-sort-icon="true"
                            mdt-row="{
                                      'data': dadosMotoristaList,
                                      'table-row-id-key': 'id',
                                      'column-keys': ['patio', 'ncv', 'placa', 'marca_modelo', 'tipo_veiculo', 'valor_guincho', 
                                                      'km_excedente', 'valor_km_excedente', 'valor_pedagio', 'valor_desconto', 'total_extras', 
                                                      'total_receber', 'pendencias', 'extras', 'editar']
                            }"
                  >
            
                  <mdt-custom-cell column-key="pendencias" >
                    <input type="checkbox" name="servico" aria-label="Checkbox 1" style="margin: 30"
                      title="Informa se existem pendências de fotos ou documentos para este NCV"
                      ng-hide="clientScope.hideMotoristaCheck($event, rowId)" onclick="return false"
                      ng-checked="clientScope.motoristaPendenciasDetalhe($event, rowId)" > 
                  </mdt-custom-cell>
      
                  <mdt-custom-cell column-key="extras">
                    <mdt-custom-cell-button icon='remove_red_eye' class="md-icon-button md-secondary" 
                      ng-click="clientScope.buscaExtrasMotorista($event, rowId, $index)" aria-label="Detalhe"
                      ng-hide="clientScope.hideMotoristaCheck($event, rowId)"
                      title="Visualizar detalhamento dos valores extras">
                    </md-custom-cell-button>
                  </mdt-custom-cell>
      
                  <mdt-custom-cell column-key="editar">
                    <mdt-custom-cell-button icon='edit'  class="md-icon-button md-secondary"
                      ng-hide="clientScope.hideMotoristaCheck($event, rowId)"
                      title="Abre para editar dados do NCV"
                      ng-click="clientScope.editarNcvMotorista($event, rowId)" aria-label="Editar" >
                    </md-custom-cell-button>
                  </mdt-custom-cell>
          
                  <mdt-header-row>
                    <mdt-column align-rule="left" column-sort="false">Pátio</mdt-column>
                    <mdt-column align-rule="left" column-sort="false">NCV</mdt-column>
                    <mdt-column align-rule="left" column-sort="false">Placa</mdt-column>
                    <mdt-column align-rule="left" column-sort="false">Marca/Modelo</mdt-column>
                    <mdt-column align-rule="left" column-sort="false">Tipo Veiculo</mdt-column>
                    <mdt-column align-rule="left" column-sort="false">Remoção</mdt-column>
                    <mdt-column align-rule="left" column-sort="false">KM Exced.</mdt-column>
                    <mdt-column align-rule="left" column-sort="false">Valor Exced.</mdt-column>
                    <mdt-column align-rule="left" column-sort="false">Pedágio</mdt-column>
                    <mdt-column align-rule="left" column-sort="false">Desconto</mdt-column>
                    <mdt-column align-rule="left" column-sort="false">Extras</mdt-column>
                    <mdt-column align-rule="left" column-sort="false">Total Receber</mdt-column>
                    <mdt-column align-rule="left" column-sort="false">Pendência</mdt-column>
                    <mdt-column align-rule="left" column-sort="false">Ver Extras</mdt-column>
                    <mdt-column align-rule="left" column-sort="false">Editar</mdt-column>           
          
                  </mdt-header-row>
                
                  
                </mdt-table>

        </md-card>
      </md-content>
        
    </section>
  </md-tab>

  </md-tabs>
 
    
</div>



<script type="text/ng-template" id="extras-motorista-guincho.html">
  <md-dialog style="width:600px;height:300px;">
    <md-dialog-content>
  
      <md-content layout-padding>
                
        <section class="md-whiteframe-z1 " ng-cloak layout="column">
          <div class="myDivClass">
            <md-toolbar class="md-theme-light">
              <h2 class="md-toolbar-tools">
                <span>Valores Extras - Guincho</span>
                <span flex></span>
              </h2>
            </md-toolbar>

            <br>
        
            <div ng-repeat="extras in extrasMotoristaGuincho">
        
              <div layout-gt-sm="row">
        
                <md-input-container class="md-block" flex-gt-sm style="width:10vw" >
                  <label>Valor</label>
                  <input type="text" name="valor" ng-readonly="true" ng-model="extras.valor" money-mask money-mask-prepend="R$ "/>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm style="width:10vw" >
                  <label>Observação</label>
                  <input type="text" name="observacao" ng-readonly="true" ng-model="extras.observacao" />
                </md-input-container>

              </div>
            </div>

          </div>
  
        </section>
      </md-content>
    </md-dialog-content>
      <md-dialog-actions>
        <md-button class="md-raised md-primary" ng-click="cancel()">Voltar</md-button>
      </md-dialog-actions>
  
    </md-dialog>

</script>






<script type="text/ng-template" id="extras-patio-guincho.html">
  <md-dialog style="width:600px;height:300px;">
    <md-dialog-content>
  
      <md-content layout-padding>
                
        <section class="md-whiteframe-z1 " ng-cloak layout="column">
          <div class="myDivClass">
            <md-toolbar class="md-theme-light">
              <h2 class="md-toolbar-tools">
                <span>Valores Extras - Guincho</span>
                <span flex></span>
              </h2>
            </md-toolbar>

            <br>
        
            <div ng-repeat="extras in extrasPatioGuincho">
        
              <div layout-gt-sm="row">
        
                <md-input-container class="md-block" flex-gt-sm style="width:10vw" >
                  <label>Valor</label>
                  <input type="text" name="valor" ng-readonly="true" ng-model="extras.valor" money-mask money-mask-prepend="R$ "/>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm style="width:10vw" >
                  <label>Observação</label>
                  <input type="text" name="observacao" ng-readonly="true" ng-model="extras.observacao" />
                </md-input-container>

              </div>
            </div>

          </div>
  
        </section>
      </md-content>
    </md-dialog-content>
      <md-dialog-actions>
        <md-button class="md-raised md-primary" ng-click="cancel()">Voltar</md-button>
      </md-dialog-actions>
  
    </md-dialog>

</script>






  <script type="text/ng-template" id="extras-guincho.html">
    <md-dialog style="width:600px;height:300px;">
      <md-dialog-content>
    
        <md-content layout-padding>
                  
          <section class="md-whiteframe-z1 " ng-cloak layout="column">
            <div class="myDivClass">
              <md-toolbar class="md-theme-light">
                <h2 class="md-toolbar-tools">
                  <span>Valores Extras - Guincho</span>
                  <span flex></span>
                </h2>
              </md-toolbar>

              <br>
          
              <div ng-repeat="extras in extrasGuincho">
          
                <div layout-gt-sm="row">
          
                  <md-input-container class="md-block" flex-gt-sm style="width:10vw" >
                    <label>Valor</label>
                    <input type="text" name="valor" ng-readonly="true" ng-model="extras.valor" money-mask money-mask-prepend="R$ "/>
                  </md-input-container>

                  <md-input-container class="md-block" flex-gt-sm style="width:10vw" >
                    <label>Observação</label>
                    <input type="text" name="observacao" ng-readonly="true" ng-model="extras.observacao" />
                  </md-input-container>

                </div>
              </div>

            </div>
    
          </section>
        </md-content>
      </md-dialog-content>
        <md-dialog-actions>
          <md-button class="md-raised md-primary" ng-click="cancel()">Voltar</md-button>
        </md-dialog-actions>
    
      </md-dialog>
  
</script>