<link rel="stylesheet" href="/assets/css/customLiberacao.css">

<div class="doc-demo-content doc-content">
  <md-content layout-xs="column" layout-gt-sm="row" layout-sm="column">
    <md-card layout-padding flex-gt-sm layout="column" flex-order="1" flex-order-gt-sm="1">
      <form name="editForm" ng-submit="editForm.$valid && pesquisar(dados)" novalidate="novalidate">
          
          <div layout-gt-sm="row">
                     
            <md-input-container class="md-block" flex-gt-sm >
              <label>Data Inicial</label> 
              <md-datepicker name="dataInicio" ng-model="dados.dataInicio" ></md-datepicker>
            </md-input-container> 

            <md-input-container class="md-block" flex-gt-sm >
              <label>Data Final</label>   
              <md-datepicker name="dataFinal" ng-model="dados.dataFinal" ></md-datepicker>
            </md-input-container>
                                      
            
            <div style="margin-top: 20px;margin-right: 50px;">
              <md-checkbox  ng-model="dados.detalhes" aria-label="Checkbox 1">
                Mostrar Detalhes
              </md-checkbox>

            </div>
          </div>            

          <md-input-container class="md-block" flex-gt-sm > 
            <label>Usuário</label>
            <md-select placeholder="Usuário autoridade" name="Usuário autoridade" ng-required="false" 
            ng-model="dados.id_usuario" > 
              <md-option ng-repeat="usuario in listaUsuarios " ng-value="usuario.id" >
                {{usuario.nome}}
              </md-option>
            </md-select>
          </md-input-container>



          <md-input-container class="md-block" flex-gt-sm >
            <label>Pátio</label>
            <md-select placeholder="Pátio" ng-required="false" style="width: 1100px ; max-width:1100px; text-overflow:ellipsis"
            name="patio" ng-model="dados.patio" ng-disabled="dados.id_grupo_patios" multiple>
              <md-option  ng-repeat="patio in patios" ng-value="patio.id_patio">
                  {{patio.nome}}
              </md-option>
            </md-select>
           
           <md-input-container class="md-block" flex-gt-sm > 
                <label>Grupo Pátio</label>
                <md-select placeholder="Grupo Pátio" name="patio" ng-required="false" style="width: 1100px ; max-width:1100px;"
                ng-model="dados.id_grupo_patios" ng-disabled="dados.patio"> 
                  <md-option ng-repeat="patioGrupo in patiosGrupo" ng-value="patioGrupo.id" >
                    {{patioGrupo.descricao}}
                  </md-option>
                </md-select>
              </md-input-container>

            <div ng-messages="usuarioEditForm.patio.$error" class="errors">
              <div ng-message="required">
              Selecione Pátio.
              </div>
          </div>

          
          </md-input-container>                  

        <br>
        <div>
          <md-button class="md-raised md-primary" aria-label="Adicionar" ng-click="mesAtual($event)">Mês Atual</md-button>          
          <md-button type="submit" class="md-raised" md-colors="{background:'teal'}" md-colors-watch="false">Filtrar</md-button>
          <md-button class="md-raised" aria-label="Limpar" ng-click="limpar($event)">Limpar</md-button>
        </div>

      </form>
    </md-card>
  </md-content>
  

  <section  class="md-whiteframe-z1 " ng-cloak layout="column" ng-hide="dados.detalhes" >
    
    <div class="containerTable" ng-hide="dados.detalhes" ng-scroll="Scroll(e)">


      <div class="containerHeader">
       
        <div class="containerbuttoms">
          <md-button class="md-raised" aria-label="Excel" ng-click="gerarPdf()">Gerar PDF</md-button>
          <md-button class="md-raised" aria-label="Excel" ng-click="gerarPlanilha()">Gerar Planilha</md-button>
        </div>
        <span flex></span>
            <div class="spinnerBody" ng-show="ShowSpinnerLoad">
                <div class="Spinner">

                </div>
        
            </div>
        <h4>
        <span style="margin-right: 300px">{{dadosApreensoes.length || 0}}  Registros</span>
        </h4>
        
  
      </div>
  
      <table >
  
        <tr>
          <th>NCV</th>
          <th>Tipo Veiculo</th>
          <th>Placa</th>
          <th>Apreensão</th>
          <th>Liberação</th>

          <th>Descrição</th>
          <th>Ano</th>
          <th>Cor</th>
          <th>KM perc.</th>
          <th>Patio</th>
          <th>Editar</th>
  
          
        </tr>
      <tr ng-repeat="Dados in dadosApreensoes">


          <td>{{Dados.id}}</td>

          <td>{{Dados.tipo_veiculo}}</td>
          <td>{{Dados.placa}}</td>

          <td>{{Dados.data_apreensao}}</td>
          <td>{{Dados.data_liberacao}}</td>
          <td>{{Dados.marca_modelo}}</td>

          <td>{{Dados.ano}}</td>
          <td>{{Dados.cor}}</td>
          <td>{{Dados.km_percorrido}}</td>
          <td>{{Dados.patio}}</td>
          <td ng-click="detalhe(ev,Dados.id)"><img src="/assets/images/icons/Edit-icon.svg" alt=""></td>

        
        </tr>
  
      </table>
  
    </div>


    
  </section>
  
  <section  class="md-whiteframe-z1 " ng-cloak layout="column" ng-show="dados.detalhes" >
    
    <div class="containerTable" ng-show="dados.detalhes" ng-scroll="Scroll(e)">


      <div class="containerHeader">
       
        <div class="containerbuttoms">
          <md-button class="md-raised" aria-label="Excel" ng-click="gerarPdf()">Gerar PDF</md-button>
          <md-button class="md-raised" aria-label="Excel" ng-click="gerarPlanilha()">Gerar Planilha</md-button>
        </div>
        <span flex></span>
            <div class="spinnerBody" ng-show="ShowSpinnerLoad">
                <div class="Spinner">

                </div>
        
            </div>
        <h4>
        <span style="margin-right: 300px">{{dadosApreensoes.length || 0}}  Registros</span>
        </h4>
        
  
      </div>
  
      <table >
  
        <tr>
          <th>NCV</th>
          <th>Tipo Veiculo</th>
          <th>Placa</th>
          <th>Apreensão</th>
          <th>Liberação</th>

          <th>Descrição</th>
          <th>Ano</th>
          <th>Cor</th>
          <th>KM perc.</th>
          <th>Patio</th>
          <th>chassi</th>
          <th>Local</th>
          <th>Numero Motor</th>
          <th>Placa Municipio</th>
          <th>Placa Uf</th>
          <th>Histórico</th>

          <th>Editar</th>
  
          
        </tr>
      <tr ng-repeat="Dados in dadosApreensoes">

          <td>{{Dados.id}}</td>

          <td>{{Dados.tipo_veiculo}}</td>
          <td>{{Dados.placa}}</td>

          <td>{{Dados.data_apreensao}}</td>
          <td>{{Dados.data_liberacao}}</td>
          <td>{{Dados.marca_modelo}}</td>

          <td>{{Dados.ano}}</td>
          <td>{{Dados.cor}}</td>
          <td>{{Dados.km_percorrido}}</td>
          <td>{{Dados.patio}}</td>
          <td>{{Dados.chassi}}</td>
          <td>{{Dados.local}}</td>
          <td>{{Dados.numero_motor}}</td>
          <td>{{Dados.placa_municipio}}</td>
          <td>{{Dados.placa_uf}}</td>

          <td ng-click="detalhe(ev,Dados.id)" ><img src="/assets/images/icons/History-Icon.svg" alt=""></td>
          <td ng-click="ShowHistorico(ev,Dados.id)"><img src="/assets/images/icons/Edit-icon.svg" alt=""></td>

        
        </tr>
  
      </table>
  
    </div>


    
  </section>



</div>



<script type="text/ng-template" id="MostrarHistorico.html">
    


  <md-dialog style="width:800px;height:500px;">
    <md-dialog-content>

        <md-content layout-padding>
       
        
                
    <section  class="md-whiteframe-z1 " ng-cloak layout="column" >
      <div class="myDivClass"> 
      <md-toolbar class="md-theme-light" >
        <h2 class="md-toolbar-tools">
          <span>Detalhes</span>
          <span flex></span>
        </h2>
      </md-toolbar>
  
      <mdt-table paginated-rows="{isEnabled: true, rowsPerPageValues: [50, 100]}" 
      animate-sort-icon="true"
      mdt-row="{
                'data': Historicos,
                'table-row-id-key': 'ncv',
                'column-keys': ['ncv', 'tipo', 'descricao', 'usuario','data']
      }"
      > 

     
  
      <mdt-header-row>
      <mdt-column align-rule="left" column-sort="true">NCV</mdt-column>
      <mdt-column align-rule="left" column-so rt="true">Tipo</mdt-column>
      <mdt-column align-rule="left" column-so rt="true">Descrição</mdt-column>
      <mdt-column align-rule="left" column-so rt="true">Usuário</mdt-column>
      <mdt-column align-rule="left" column-so rt="true">Data</mdt-column>

      </mdt-header-row>        
      </mdt-table>
  
    </div>
      
      </section>
    </md-content>
  </md-dialog-content>
  <md-dialog-actions>
      <md-button class="md-raised md-primary" ng-click="cancel()">Cancelar</md-button>
    
  </md-dialog-actions>
</md-dialog>

  
  </script>