<div class="doc-demo-content doc-content">
  <md-content layout-xs="column" layout-gt-sm="row" layout-sm="column">
    <md-card layout-padding flex-gt-sm layout="column" flex-order="1" flex-order-gt-sm="1">
      <form name="editForm" ng-submit="editForm.$valid && pesquisar(dados)" novalidate="novalidate">
          
          <div layout-gt-sm="row">
                     
            <md-input-container class="md-block" flex-gt-sm >
              <label>Data Inicial</label> 
              <md-datepicker name="dataInicio" ng-model="dados.dataInicio" ></md-datepicker>
            </md-input-container> 

            <md-input-container class="md-block" flex-gt-sm >
              <label>Data Final</label>   
              <md-datepicker name="dataFinal" ng-model="dados.dataFinal" ></md-datepicker>
            </md-input-container>
                                          
          </div>   
          
          <md-input-container class="md-block" flex-gt-sm>
            <label>Pátio</label>
            <md-select placeholder="Pátio" style="width: 90%" required ng-required="true"  name="patio" ng-model="dados.patio" multiple>
              <md-option  ng-repeat="patio in patios" ng-value="patio.id_patio">
                  {{patio.nome}}
              </md-option>
            </md-select>
            <div ng-messages="usuarioEditForm.patio.$error" class="errors">
              <div ng-message="required">
              Selecione Pátio.
            </div>
          </md-input-container>

        <br>
        <div>
          <md-button class="md-raised md-primary" aria-label="Adicionar" ng-click="mesAtual($event)">Mês Atual</md-button>          
          <md-button type="submit" class="md-raised" md-colors="{background:'teal'}" md-colors-watch="false" >Filtrar</md-button>
          <md-button class="md-raised" aria-label="Limpar" ng-click="limpar($event)">Limpar</md-button>
        </div>

      </form>
    </md-card>
  </md-content>
  

  <section  class="md-whiteframe-z1 " ng-cloak layout="column" >
      <div class="myDivClass"> 
      <md-toolbar class="md-theme-light" >
        <h2 class="md-toolbar-tools">
          <span>{{dadosLiberacoes.length-1}} Registros</span>
          <span flex></span>
          <md-button class="md-raised" aria-label="Excel" ng-click="gerarPdf()" >Gerar PDF</md-button>
          <md-button class="md-raised" aria-label="Excel" ng-click="gerarPlanilha()" >Gerar Planilha</md-button>
        </h2>
      </md-toolbar>

      <mdt-table paginated-rows="{isEnabled: true, rowsPerPageValues: [50, 100]}" 
                  animate-sort-icon="true"
                  mdt-row="{
                            'data': dadosLiberacoes,
                            'table-row-id-key': 'id',
                            'column-keys': ['id','Placa', 'tipo_veiculo',  'data_liberacao', 'data_apreensao', 'valor_guincho' , 'valor_estadia' , 'estadias' , 'total_diarias','desconto','acrescimo','total', 'patio']
                  }"
        > 
<!--
        <mdt-custom-cell column-key="editar">
          <mdt-custom-cell-button icon='edit' class="md-icon-button md-secondary" ng-click="clientScope.detalhe($event, rowId)" aria-label="Detalhe"></md-custom-cell-button>
        </mdt-custom-cell>
-->
        <mdt-header-row>
          <mdt-column align-rule="left" column-sort="true">NCV</mdt-column>
          <mdt-column align-rule="left" column-sort="true">Placa</mdt-column>
          <mdt-column align-rule="left" column-sort="true">Tipo Veiculo</mdt-column>
          <mdt-column align-rule="left" column-sort="false">Liberação</mdt-column>
          <mdt-column align-rule="left" column-sort="false">Apreensão</mdt-column>
          <mdt-column align-rule="left" column-sort="false">Guincho</mdt-column>
          <mdt-column align-rule="left" column-sort="false">Diaria</mdt-column>
          <mdt-column align-rule="left" column-sort="false">Diarias</mdt-column>
          <mdt-column align-rule="left" column-sort="false">Total Diarias</mdt-column>
          <mdt-column align-rule="left" column-sort="false">Desconto</mdt-column>
          <mdt-column align-rule="left" column-sort="false">Acrescimo</mdt-column>           
          <mdt-column align-rule="left" column-sort="false">Recebido</mdt-column>
<!--
          <mdt-column align-rule="left" column-sort="false">Forma Pagto</mdt-column>
-->
          <mdt-column align-rule="left" column-sort="false">Patio</mdt-column>                     
        </mdt-header-row>        
        
      </mdt-table>
    </div>
    
  </section>

</div>