
<!--

<script>window.jQuery || document.write(decodeURIComponent('%3Cscript src="js/jquery.min.js"%3E%3C/script%3E'))</script>
<script>window.angular || document.write(decodeURIComponent('%3Cscript src="js/angular.min.js"%3E%3C/script%3E'))</script>

    <script src="data.js"></script>

-->


<link rel="stylesheet" href="./assets/css/customComponents/grid.css">
        
    
      <!--
            HTML PARA O PDF QUE SERÁ GERADO
          -->
    
      <div class="doc-demo-content doc-content">
        
        <md-content layout-xs="column" layout-gt-sm="row" layout-sm="column">
          <md-card layout-padding="layout-padding" flex-gt-sm="flex-gt-sm" layout="column" flex-order="1" flex-order-gt-sm="1">
            <form name="editForm" ng-submit="editForm.$valid && pesquisar(dados)" novalidate="novalidate">
    
              <div layout-gt-sm="row">
    
                <md-input-container class="md-block" flex-gt-sm="flex-gt-sm">
                  <label>Data Inicial</label>
                  <md-datepicker name="dataInicio" ng-model="dados.dataInicio"></md-datepicker>
                </md-input-container>
    
                <md-input-container class="md-block" flex-gt-sm="flex-gt-sm">
                  <label>Data Final</label>
                  <md-datepicker name="dataFinal" ng-model="dados.dataFinal"></md-datepicker>
                </md-input-container>

              </div>  
         
              <div layout-gt-sm="row" style="display: flex;align-items: center;">

                <md-input-container class="md-block" flex-gt-sm style="text-overflow: hidden;max-width: 90vw;"> 
                
                <label>Pátio</label>
                <md-select ng-disabled="dados.id_grupo_patios" placeholder="Pátio"  ng-required="false" name="patio" ng-model="dados.patio" multiple="multiple">
                  <md-option ng-repeat="patio in patios" ng-value="patio.id_patio">
                    {{patio.nome}}
                  </md-option>
                </md-select>
                <div ng-messages="usuarioEditForm.patio.$error" class="errors">
                  <div ng-message="required">
                    Selecione Pátio.
                  </div>
              </md-input-container>
    
                <md-input-container class="md-block" flex-gt-sm style="text-overflow: hidden;max-width: 90vw;"> 

                <label>Grupo Pátio</label>
                  <md-select placeholder="Grupo Pátio" name="patio" ng-required="false" ng-model="dados.id_grupo_patios" ng-disabled="dados.patio">
                    <md-option ng-repeat="patioGrupo in patiosGrupo" ng-value="patioGrupo.id">
                      {{patioGrupo.descricao}}
                    </md-option>
                  </md-select>
              </md-input-container>
  
            </div>  
    
    
                <br>
                  <div>
                    <md-button class="md-raised md-primary" aria-label="Adicionar" ng-click="mesAtual($event)">Mês Atual
                    </md-button>
                    <md-button type="submit" class="md-raised" md-colors="{background:'teal'}" md-colors-watch="false">Filtrar
                    </md-button>
                    <md-button class="md-raised" aria-label="Limpar" ng-click="limpar($event)">Limpar</md-button>
                    <md-button class="md-raised" aria-label="Limpar" ng-click="gerarExcel($event)">EXCEL</md-button>
                    <md-button class="md-raised" aria-label="Limpar" ng-click="gerarPDF($event)">PDF</md-button>
                  </div>
                
                </form>
              </md-card>
            </md-content>
    
    
      </div>
    
      <div class="dx-viewport">
        
        <div id="gridContainer" dx-data-grid="dataGridOptions"></div>
             
      </div>
 <!--
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.3.1/jspdf.umd.min.js" integrity="sha512-VKjwFVu/mmKGk0Z0BxgDzmn10e590qk3ou/jkmRugAkSTMSIRkd4nEnk+n7r5WBbJquusQEQjBidrBD3IQQISQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.25/jspdf.plugin.autotable.min.js" integrity="sha512-SgWewGM3r8xXm8LNXt4ZHqKVKu/7eKrJ1aBCbMaX44xXXaCcIvCAvD2kj9qnC1lhyjAu04mcPiTzcc/CaACnUQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
-->