<link rel="stylesheet" href="/assets/css/customTable.css">


<div class="doc-demo-content doc-content">

    <md-content layout-xs="column" layout-gt-sm="row" layout-sm="column">

      <md-card layout-padding flex-gt-sm layout="column" flex-order="1" flex-order-gt-sm="1">

          <form name="ncvEditForm" ng-submit="ncvEditForm.$valid && pesquisar($event)" novalidate="novalidate">
              
              <div layout-gt-sm="row">
                
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Apreensão Inicio</label>
                  <md-datepicker name="dataInicio" ng-model="dados.data_inicio">
                  </md-datepicker>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                  <label>Apreensão Final</label>
                  <md-datepicker name="dataFinal" ng-model="dados.data_final">
                  </md-datepicker>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm >
                  <label>Marca/Modelo</label>
                  <input type="text" name="marca_modelo" ng-model="dados.marca_modelo" />
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm >
                  <label>Ano</label>
                  <input type="text" name="ano" ng-model="dados.ano" />
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm >
                  <label>Cor</label>
                  <input type="text" name="cor" ng-model="dados.cor" />
                </md-input-container>

                
              </div>

              <div layout-gt-sm="row">
                
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Tipo de Veiculo</label>
                  <md-select placeholder="Tipo de Veiculo"  ng-required="false" name="tipoveiculo" ng-model="dados.tipo_veiculo">
                      <md-option ng-repeat="tipoveiculo in tiposVeiculos" ng-value="tipoveiculo.id">
                          {{tipoveiculo.descricao}}
                      </md-option>
                  </md-select>      
              </md-input-container>

              <md-input-container class="md-block" flex-gt-sm>
                <label>Estado do Veiculo</label>
                <md-select placeholder="Estado do Veiculo" name="Estado_veiculo" ng-model="dados.estado_situacao">   
                    <md-option value="abandonado">ABANDONADO</md-option>
                    <md-option value="acidentado">ACIDENTADO</md-option>
                    <md-option value="capotado">CAPOTADO</md-option>
                    <md-option value="condicaoNormal">CONDIÇÃO NORMAL</md-option>
                    <md-option value="trancado">TRANCADO</md-option>             
                    <md-option value="travado">TRAVADO</md-option>
                </md-select>
            </md-input-container>


              <md-input-container class="md-block" flex-gt-sm>
                <label>Status</label>
                <md-select placeholder="Status"  required ng-required="false" name="status" ng-model="dados.status">
                    <md-option value="APREENDIDO">APREENDIDO</md-option>
                    <md-option value="LIBERADO">LIBERADO</md-option>
                    <md-option value="LIBERADO ARR">LIBERADO ARR</md-option>
                    <md-option value="INATIVO">INATIVO</md-option>
                    <md-option value="CANCELADO">CANCELADO</md-option>
                    <md-option value="INVALIDADO">INVALIDADO</md-option>
                </md-select>
            </md-input-container>



                <md-input-container class="md-block" flex-gt-sm>
                  <label>Acessórios</label>
                  <md-select placeholder="Acessorios" required ng-required="false" name="acessorios"
                  ng-model="dados.acessorios">
                  <md-option value="arcondicionado">AR CONDICIONADO</md-option>
                  <md-option value="cambioautomatico">CÂMBIO AUTOMÁTICO</md-option>
                  <md-option value="rodaespecial">RODA ESPECIAL</md-option>
                  <md-option value="vidroeletrico">VIDRO ELÉTRICO</md-option>
                  </md-select>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                  <label>Fotos</label>
                  <md-select placeholder="Fotos"  name="Fotos"
                  ng-model="dados.fotos">
                  <md-option value="lateral direita">LATERAL DIREITA</md-option>
                  <md-option value="lateral esquerda">LATERAL ESQUERDA</md-option>
                  <md-option value="traseira">TRASEIRA</md-option>
                  <md-option value="dianteira">DIANTEIRA</md-option>
                  <md-option value="teto">TETO</md-option>
                  <md-option value="outros">OUTROS</md-option>
                  </md-select>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                  <label>Situação</label>
                  <md-select placeholder="Situação"  required ng-required="false" name="situacao" ng-model="dados.situacao">
                      <md-option value="PREPARAÇÃO">PREPARAÇÃO</md-option>
                      <md-option value="OFICIO">OFICIO</md-option>
                      <md-option value="LEILOADO">LEILOADO</md-option>
                      <md-option value="IRREGULAR">IRREGULAR</md-option>
                      <md-option value="REGULAR">REGULAR</md-option>
                  </md-select>
              </md-input-container>

              </div>
              
            <div layout-gt-sm="row">
              <md-input-container class="md-block" flex-gt-sm>
                <label>Pátio</label>
                <md-select placeholder="Pátio" name="patio" ng-required="true" ng-model="dados.patio" multiple>
                  <md-option  ng-repeat="patio in patios" ng-value="patio.id_patio">
                      {{patio.nome}}
                  </md-option>
                </md-select>
              </md-input-container>

              <md-input-container class="md-block" flex-gt-sm>
                <label>Autoridade</label>
                <md-select placeholder="Autoridade" ng-required="false" name="autoridade" ng-model="dados.id_autoridade">
                    <md-option ng-repeat="autoridade in autoridades" ng-value="autoridade.id" >
                        {{autoridade.descricao}}
                    </md-option>
                </md-select>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
              <label>Advogado</label>
              <md-select placeholder="Advogado" ng-required="false" name="advogado" ng-model="dados.id_advogado">
                  <md-option ng-repeat="advogado in advogados" ng-value="advogado.id" >
                      {{advogado.nome}}
                  </md-option>
              </md-select>
            </md-input-container>

            </div>
          

            <div>
                <md-button class="md-raised" md-colors="{background:'teal'}" ng-click="pesquisar($event)">Filtrar</md-button>
                <md-button class="md-raised" aria-label="Limpar" ng-click="limpar($event)">Limpar</md-button>
            </div>
      
          </form>

      </md-card>
    </md-content>        
      
    <section  class="md-whiteframe-z1 " ng-cloak layout="column" >
      
        <md-toolbar class="md-theme-light" >
          <h2 class="md-toolbar-tools">
            <span>{{dadosList.length || 0}} Registros</span>
            <span flex></span>
            <md-button class="md-raised" ng-click="gerarPDF()" aria-label="PDF">PDF</md-button>
            <md-button class="md-raised" ng-click="gerarPlanilha()" aria-label="Excel">Excel</md-button>
          </h2>
        </md-toolbar>
  
        <md-content class="Body">

            <md-card>
                <table>

                  <tr>
                    <th>Pátio</th>
                    <th>NCV</th>
                    <th>Placa</th>
                    <th>Marca/Modelo</th>
                    <th>Tipo</th>
                    <th>Ano</th>
                    <th>Cor</th>
                    <th>Data Apreensão</th>
                    <th>Editar</th>                    
                        
  
                  </tr>

                  <tr ng-repeat="Dados in dadosList" class="Result">
                    <td>{{Dados.PATIO}}</td>
                    <td>{{Dados.NCV}}</td>
                    <td>{{Dados.placa}}</td>
                    <td>{{Dados.marca_modelo}}</td>
                    <td>{{Dados.tipo_veiculo}}</td>
                    <td>{{Dados.ano}}</td>
                    <td>{{Dados.cor}}</td>
                    <td>{{Dados.data_apreensao || 0}}</td>
                    <td ng-click="detalhe(ev,Dados.NCV)"><img src="/assets/images/icons/Edit-icon.svg" alt=""></td>
                      
                  </tr>
                </table>

            </md-card>
        </md-content>
      
    </section>
      
</div>