<md-dialog aria-label="Envio de email">
  <form ng-cloak name="envioEmail">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Envio dos gráficos</h2>
        <span flex></span>
        
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
      <!--  <h2>Digite um endereço de email válido.</h2> -->
     
      <h4>Notas:</h4>
      <h5> - Digite um endereço de email e clique em "ENVIAR".</h5>
      <h5> - Entre somente com um endereço de email por vez.</h5>
       
      </br>
      <h5 style = "color:red">ATENÇÂO!!! Funcionalidade em implementação!</h5>
      </br>

        <md-input-container class="md-block">
          <label>Email</label>

          <input type="email" class="form-control" ng-model="model.emailId" name="emailId" required>

          <div ng-if="envioEmail.emailId.$invalid && (envioEmail.emailId.$dirty || envioEmail.emailId.$touched )">

              <p style = "color:red" ng-if="envioEmail.emailId.$error.required" class="alert alert-danger">Preencha o campo com um email!</p>

              <p style="color: red" ng-if="envioEmail.emailId.$invalid" class="alert alert-danger">Endereço de email inválido!</p>

          </div>
        </md-input-container>
    
      </br>


      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-dialog-actions layout="row">
         
        <span flex></span>
        
        <md-button ng-click="cancelar()" class="md-raised">Cancelar</md-button>
       
        <md-button ng-click="enviarPDF()" class="md-raised" md-colors="{background:'teal'}">
          Enviar     
        </md-button>

      </md-dialog-actions>
    </md-dialog-actions>
  </form>
</md-dialog>