<div class="doc-demo-content doc-content">

  <md-tabs md-dynamic-height md-border-bottom>
    
    <md-tab label="RESUMO DIÁRIO">
        
      <md-content layout-xs="column" layout-gt-sm="row" layout-sm="column">
          
        <md-card layout-padding flex-gt-sm layout="column" flex-order="1" flex-order-gt-sm="1">
            
          <form name="editForm" ng-submit="editForm.$valid && pesquisar(dados)" novalidate="novalidate">
  
            <div layout-gt-sm="row" style="display: flex;align-items: baseline;">
    
              <md-input-container class="md-block" flex-gt-sm>
                  <label>Dia</label>
                  <md-datepicker name="diario" ng-model="dados.data" md-mode="day"
                    ng-required="true">
                  </md-datepicker>
                </md-input-container>
     
                             
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Pátio</label>
                    <md-select placeholder="Pátio" style="width: 600px" ng-required="true" name="patio"
                      ng-model="dados.patio" multiple>
                     <md-option ng-repeat="patio in patios" ng-value="patio.id_patio">
                      {{patio.nome}}  
                      </md-option>
                    </md-select>
                </md-input-container>
               
                </div>
                
                <div>
                  <md-button type="submit" class="md-raised" md-colors="{background:'teal'}" md-colors-watch="false" ng-click="buscaInfosGrafico()">Filtrar</md-button>
                  <md-button class="md-raised" aria-label="Limpar" ng-click="limpaPesquisa()">Limpar</md-button>
                </div>
  
            </form>
          </md-card>
      </md-content>
  
  
              <section class="md-whiteframe-z1 " ng-cloak layout="column">
                <div class="myDivClass">
                  <md-toolbar class="md-theme-light">
                    <h2 class="md-toolbar-tools">
                      <span>{{listaDados.length}}  Registros</span>
                      <span flex></span>
                                           
                      <md-button class="md-raised" aria-label="Enviar_Email" class="md-primary md-raised" ng-click="enviarEmail($event)">Enviar Email</md-button>
                      <md-button class="md-raised" aria-label="PDF" ng-click="gerarPDF()">Gerar PDF</md-button>                    
                      
                      <md-button ng-disabled="false" class="md-fab md-warn md-hue-2 md-mini" title="Enviar PDF"
                        name="pdfDoc" 
                        ng-model="pdfResumoDiario"
                        ngf-pattern="'.pdf'"
                        ngf-accept="'.pdf'"
                        ngf-select="uploadFile($file)"
                        ngf-capture="'camera'"
                        ngf-max-size="20MB"
                        ngf-min-height="50">
                        <md-icon>backup</md-icon>
                      </md-button>
                      <label>{{dados.pdfResumoDiario}}</label>
                </div>

                    <div> 
                      <iframe ng-if="dados.listaDados.length > 0" ng-src = "{{trustSrc(urlImagens+ dados.pdf_contrato)}}" width="80%" height="80%"></iframe>                       
                      <div ng-messages="editForm.pdfDoc.$error" class="errors">
                      <div ng-message="maxSize">
                      <span style="color: #dd2c00; font-size: 12px;">PDF muito grande. Favor escolher imagem com até 20MB de tamanho.</span>
                    </div>
              
                    <div ng-message="pattern">
                      <span style="color: #dd2c00; font-size: 12px;">Tipo de arquivo não permitido. Escolha um PDF.</span>
                    </div>
                  </div>
                                               

                  </h2>
        </md-toolbar>
  
              <mdt-table paginated-rows="{isEnabled: true, rowsPerPageValues: [50, 100]}" animate-sort-icon="true" mdt-row="{
                              'data': listaDados,
                              'table-row-id-key': 'nomePatio',
                              'column-keys': ['data', 'nomePatio', 'apreensoesDia', 'apreensoesAcumulado', 'apreensoesMeta', 'liberacoesDia', 'liberacoesAcumulado', 'liberacoesMeta']
                              }">
          
                <mdt-header-row>
                  <mdt-column align-rule="left" column-sort="true">Dia</mdt-column>
                  <mdt-column align-rule="left" column-sort="true">Pátio</mdt-column>
                  <mdt-column align-rule="center" column-sort="true">Apreensões Dia</mdt-column>
                  <mdt-column align-rule="center" column-sort="true">Apre. Acumulado</mdt-column>
                  <mdt-column align-rule="center" column-sort="true">Apreensões Meta</mdt-column>
                  <mdt-column align-rule="center" column-sort="true">Liberações Dia</mdt-column>
                  <mdt-column align-rule="center" column-sort="true">Liber. Acumulado</mdt-column>
                  <mdt-column align-rule="center" column-sort="true">Liberações Meta</mdt-column>
                      
                </mdt-header-row>
              </mdt-table>
  
        </section>
        <br>
        <br>
        <div id="chart_apreensoes"></div>
        <br>
        <br>
        <div id="chart_liberacoes"></div>
        <br>
        <br>
        <div id="chart_apreensoesAcumulado"></div>
        <br>  
        <div id="chart_liberacoesAcumulado"></div>
        
    </md-tab>
      
  </md-tabs>

</div>