<div id="Modal" ng-show="ShowMessage">
    <p>{{message}}</p>

</div>

<div id="Modal2" ng-show="Showmodal2">
    <p>{{message2}}</p>
</div>


<link rel="stylesheet" href="/assets/css/Separacao-leilao/index.css">
<link rel="stylesheet" href="/assets/css/edital/index.css">

<div class="doc-demo-content doc-content">

    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="Selecionar Veiculos">
            <md-content layout-xs="column" layout-gt-sm="row" layout-sm="column">
                <md-card layout-padding flex-gt-sm layout="column" flex-order="1" flex-order-gt-sm="1">
                    <md-subheader class="md-no-sticky">FILTRAR DADOS</md-subheader>
                    <md-divider></md-divider>
                    <form name="editForm" ng-submit="editForm.$valid && formEdit(DadosPeriodo)" novalidate="novalidate">

                        <div layout-gt-sm="row" style="display: flex;align-items: baseline;">

                            <md-input-container style="width: 50%;margin-bottom: 20px;margin-right: 50px;">
                                <label>Leilão</label>

                                <md-select placeholder="Leilao" ng-required="true" name="Leilao"
                                    ng-model="DadosPeriodo.Leilao"
                                    ng-change="SeparacaoPeriodo.enableDate() || SeparacaoPeriodo.GetLeilao(DadosPeriodo.Leilao) ||SeparacaoPeriodo.getPatioCadastrados(DadosPeriodo.Leilao)">

                                    <md-option ng-repeat="Leilaos in Leilao" ng-value="Leilaos">
                                        {{Leilaos.descricao}}
                                    </md-option>

                                </md-select>
                            </md-input-container>


                            <div class="md-block"
                                style="width: 40vw ;background-color: #FAFAFA;display:flex;flex-direction: column;align-items: center;height: fit-content;">
                                <h3>Pátios dos Leilão</h3>
                                <div ng-repeat="patio in patiosCadastrados"
                                    style="display:flex;flex-direction: column;align-items: center;">
                                    {{patio}}
                                </div>

                            </div>


                        </div>

                        <div layout-gt-sm="row" style="display: flex;align-items: center;">

                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Apreendidos até</label>
                                <md-datepicker name="data" ng-model="DadosPeriodo.ApreeDe" ng-disabled="Enable">
                                </md-datepicker>
                            </md-input-container>


                        </div>

                        <div>

                            <md-button type="submit" ng-disabled="Enable" class="md-raised"
                                md-colors="{background:'teal'}" md-colors-watch="false"
                                ng-click="SeparacaoPeriodo.Buscar()">FILTRAR
                            </md-button>

                            <md-button class="md-raised md-primary" aria-label="Adicionar"
                                ng-click="SeparacaoPeriodo.mesAtual()">Mês Atual</md-button>
                            <md-button class="md-raised" aria-label="Limpar" ng-click="SeparacaoPeriodo.limpar($event)">
                                Limpar</md-button>

                        </div>

                    </form>

                </md-card>
            </md-content>

            <section class="md-whiteframe-z1 " ng-cloak layout="column">

                <md-toolbar class="md-theme-light">
                    <h2 class="md-toolbar-tools">
                        <span>{{Dados.length}}
                            Registros</span>
                        <span flex></span>
                        <md-button class="md-raised" md-colors="{background:'teal'}" md-colors-watch="false"
                            ng-disabled="Enable" ng-click="SeparacaoPeriodo.SelecionarTodos(Dados)">
                            {{SeparacaoPeriodo.Selecionar}}
                        </md-button>
                        <md-button class="md-raised" ng-click="gerarPDFPeriodo()" aria-label="PDF">PDF</md-button>
                        <md-button class="md-raised" ng-click="gerarPlanilhaPerido()" aria-label="Excel">Excel
                        </md-button>
                    </h2>
                </md-toolbar>


                <md-content class="Body">

                    <md-card>
                        <table>

                            <tr>
                                <th>NCV</th>
                                <th>Data de Apreensão</th>
                                <th>Ano</th>
                                <th>Marca/Modelo</th>
                                <th>Placa</th>
                                <th>Tipo do Veículo</th>


                                <th>Selecionar</th>

                            </tr>
                            <tr ng-repeat="Dado in Dados" class="Result">
                                <td>{{Dado.NCV}}</td>
                                <td>{{Dado.data_apreensao}}</td>
                                <td>{{Dado.ano}}</td>
                                <td>{{Dado.marca_modelo}}</td>
                                <td>{{Dado.placa_ncv}}</td>
                                <td>{{Dado.tipo_veiculo}}</td>


                                <td>

                                    <input type="checkbox" name="selecionado" aria-label="selecionado"
                                        ng-model="Dado.selecionado" ng-change="gravaConfirmacao(Dado)">
                                </td>


                            </tr>

                        </table>

                        <md-button type="submit" class="md-raised" md-colors="{background:'teal'}"
                            md-colors-watch="false" ng-click="SeparacaoPeriodo.Inserir(Dados)" ng-disabled="Enable">
                            Gravar Selecionados
                        </md-button>

                    </md-card>
                </md-content>


            </section>

        </md-tab>


        <md-tab label="Dados Leilão">

            <md-content layout-xs="column" layout-gt-sm="row" layout-sm="column">
                <md-card layout-padding flex-gt-sm layout="column" flex-order="1" flex-order-gt-sm="1">
                    <md-subheader class="md-no-sticky">FILTRAR DADOS</md-subheader>
                    <md-divider></md-divider>
                    <form name="editForm" ng-submit="editForm.$valid && formEdit(dados)" novalidate="novalidate">

                        <div class="formSearchAjustes">


                            <md-input-container class="descInput">
                                <label>Leilão</label>

                                <md-select placeholder="Leilao" ng-required="true" name="Leilao" ng-model="dados.Leilao"
                                    ng-change="Ajustes.GetLeilao(dados)">

                                    <md-option ng-repeat="Leilaos in Leilao" ng-value="Leilaos.id">
                                        {{Leilaos.descricao}}
                                    </md-option>

                                </md-select>
                            </md-input-container>
                            <md-input-container>
                                <label>Classificação</label>
                                <md-select placeholder="Classificações" name="Classificações"
                                    ng-model="dados.id_classificacaoFiltro" ng-disabled="!dados.Leilao">
                                    <md-option ng-repeat="Classificacao in Ajustes.classificacoes"
                                        ng-value="Classificacao.id">
                                        {{Classificacao.descricao}}
                                    </md-option>
                                </md-select>
                            </md-input-container>

                            <md-input-container class="orgaoInput">
                                <label>Orgão</label>
                                <input type="text" ng-value="Ajustes.leilao.orgao" readonly>
                            </md-input-container>

                            <div class="patioInput">
                                <h3>Pátios dos Leilão</h3>
                                <div ng-repeat="patio in patioscad">

                                    {{patio}}
                                </div>

                            </div>


                        </div>

                        <div layout-gt-sm="row" style="display: flex;align-items: center;">

                            <md-input-container style="width: 50%;margin-top: 20px;">
                                <label>NCV/PLACA</label>
                                <input type="text" name="ncv_placa" ng-model="dados.ncv_placa" placeholder="NCV/PLACA"
                                    ng-disabled="Ajustes.Disable" />
                            </md-input-container>


                            <md-button ng-disabled="Disable" type="submit" class="md-raised"
                                md-colors="{background:'teal'}" md-colors-watch="false"
                                style="height: 30px;margin-left: 20px;"
                                ng-click="Ajustes.BuscaNcvPlaca(dados.ncv_placa)">ADICIONAR</md-button>

                        </div>

                        <div>

                            <md-button style='background-color: blue;color: white;' class="md-raised"
                                ng-click="Ajustes.pesq()" style="height: 30px;margin-left: 30px;">Filtrar
                            </md-button>
                            <md-button class="md-raised" aria-label="Limpar" ng-click="Ajustes.limpar($event)">
                                Limpar
                            </md-button>


                            <md-button class="md-raised md-primary" style="margin-left: 10px;" aria-label="Adicionar"
                                ng-click="Ajustes.BuscaDetran()" ng-disabled="Ajustes.Disable">Atualizar Detran
                            </md-button>
                        </div>

                    </form>


                </md-card>
            </md-content>


            <section class="md-whiteframe-z1 " ng-cloak layout="column">

                <md-toolbar class="md-theme-light">
                    <h2 class="md-toolbar-tools">
                        <span>{{dadosList.length}}
                            Registros</span>

                        <span flex></span>
                        <md-button type="submit" class="md-raised" md-colors="{background:'teal'}"
                            md-colors-watch="false" ng-click="Ajustes.GerarArHtml()">GERAR AR</md-button>

                        <md-button type="submit" class="md-raised" md-colors="{background:'white'}"
                            md-colors-watch="false" ng-click="Ajustes.GerarRenajudOrJudicial('JUDICIAL')">GERAR
                            JUDICIAL</md-button>
                        <md-button type="submit" class="md-raised" md-colors="{background:'yellow'}"
                            md-colors-watch="false" ng-click="Ajustes.GerarRenajudOrJudicial('RENAJUD')">GERAR
                            RENAJUD</md-button>


                        <md-button style='background-color: blue;color: white;' class="md-raised"
                            style="height: 30px;padding-right: 50px;" ng-click="Ajustes.gerarEdital()">GERAR
                            EDITAL</md-button>
                        <md-button class="md-raised" ng-click="gerarPDF()" aria-label="PDF">PDF</md-button>
                        <md-button class="md-raised" ng-click="Ajustes.gerarPlanilha()" aria-label="Excel">Excel
                            Fast</md-button>



                        <md-button style='background-color: yellow;color: black;' class="md-raised"
                            style="height: 30px;padding-right: 50px;" ng-click="Ajustes.ExportCsv()">EXPORTAR
                            CSV</md-button>



                    </h2>
                </md-toolbar>


                <md-content class="Body">

                    <md-card>
                        <table>

                            <tr>
                                <th>Lote</th>
                                <th>NCV</th>
                                <th>Placa</th>


                                <th>Marca/Modelo</th>
                                <th>Cor</th>
                                <th>Chassi</th>


                                <th>Ano</th>
                                <th>Patio</th>

                                <th style="width: fit-content;">Restrições</th>
                                <th style="width: fit-content;">Valor Inicial</th>

                                <th>Classificação</th>
                                <th>Fotos Conferente</th>

                                <th>Apagar</th>
                                <th>Gravar</th>


                            </tr>
                            <tr ng-repeat="Dados in dadosList" class="Result">
                                <td><input type="text" name="" id="" ng-value="Dados.lote" ng-model="Dados.lote"></td>
                                <td>{{Dados.NCV}}</td>
                                <td>{{Dados.placa}}</td>
                                <td>{{Dados.marca_modelo}}</td>
                                <td>{{Dados.cor}}</td>
                                <td>{{Dados.chassi}}</td>
                                <td>{{Dados.ano}}</td>
                                <td>{{Dados.patio}}</td>
                                <td>
                                    <a ng-href="/#/Consulta-Detran-leilao?id={{Dados.id_separacao_leila}}&ncv={{Dados.NCV}}"
                                        target="_blank" style="width: fit-content;">{{Dados.restricoes}}</a>
                                </td>

                                <td><input type="text" name="" money-mask id="" ng-value="Dados.valor_abertura" ng-model="Dados.valor_abertura"></td>

                                <td>
                                    <md-input-container>
                                        <label>Classificação</label>
                                        <md-select placeholder="Classificações" name="Classificações"
                                            ng-model="Dados.id_classificacao">
                                            <md-option ng-repeat="Classificacao in Ajustes.classificacoes"
                                                ng-value="Classificacao.id">
                                                {{Classificacao.descricao}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>

                                </td>
                                <td>
                                    <p style="cursor: pointer;color:blue"
                                        ng-click="Ajustes.OpenFotos(Dados.NCV,Dados.chassi_detran,Dados.motor_detran)">
                                        Fotos
                                    </p>
                                </td>

                                <td>

                                    <mdt-custom-cell-button icon='delete_forever' class="md-icon-button md-secondary"
                                        ng-click="Ajustes.Apagar(Dados.id_separacao_leila)" aria-label="Excluir">
                                    </mdt-custom-cell-button>
                                </td>

                                <td>
                                    <img src="/assets/images/icons/SaveIcon.svg" alt="Save icon" width="25"
                                        style="cursor: pointer;"
                                        ng-click="Ajustes.liberarleilaoUnique(Dados.id_separacao_leila)">
                                </td>

                            </tr>
                        </table>


                        <md-button class="md-raised" md-colors="{background:'teal'}" md-colors-watch="false"
                            ng-click="Ajustes.liberarleilao(Dados.id,Dados.Lote)">
                            LIBERAR VEICULOS LEILÃO
                        </md-button>

                    </md-card>
                </md-content>


            </section>
            </md-content>
        </md-tab>
        <md-tab label="Exportar Images">
            <div class="Exportador">
                <h1>Exportador de Imagens</h1>
                <div class="content">
                    <p>SELECIONAR FOTO</p>
                    <input type="file" name="" id="" multiple ng-model="ImageExport.images"
                        ngf-select="ImageExport.uploadFotoConferente($files)" ng-model="ImageExport.images"
                        ngf-pattern="'.jpg,.jpeg'" ngf-accept="'.jpg,.jpeg'" ngf-capture="'camera'" ngf-max-size="6MB"
                        multiple="true" ngf-min-height="50">


                    <div class="slider">
                        <div ng-repeat="file in ImageExport.images" class="card">

                            <img ng-src="{{file.$ngfBlobUrl}}" class="carImage">
                            <div class="cardItemsCTA">
                                <h3>Leilão : {{file.targetLeilao}}</h3>
                                <h3>Lote: {{file.lote}}</h3>
                                <div class="deleteIcon" ng-click="ImageExport.deleteFotoConferente(file.id)">
                                    <img src="/assets/images/icons/delete.svg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>

                    <md-button type="submit" class="md-raised" md-colors="{background:'teal'}" md-colors-watch="false"
                        ng-click="ImageExport.sendImage()" ng-show="ImageExport.images.length > 0">
                        Exportar Imagens

                    </md-button>

                </div>
            </div>
        </md-tab>

    </md-tabs>
</div>



<script type="text/ng-template" id="sucessModal.html">
    <md-dialog style="width:100vmax;height:100%" >
      <md-dialog-content>
        <div  class="Overlay" >
            <div class="modal">
                <h1>Exportação de fotos concluida com sucesso </h1>
                <h2>Detalhes</h2>
                <div class="result" ng-repeat="result in dados">
                    <table>
                        <tr>
                            <th>Id</th>
                            <th>Lote</th>
                            <th>Chassi</th>
                        </tr>
                        <tr>
                            <td>{{result.id}}</td>
                            <td>{{result.lote}}</td>
                            <td>{{result.chassi}}</td>
                        </tr>
                    </table>
                </div>
                <md-dialog-actions>
                    <md-button class="md-raised md-primary" ng-click="calcel()">Fechar</md-button>
                  </md-dialog-actions>
            </div>
        </div>
    </md-dialog-content>
    </md-dialog>
</script>


<script type="text/ng-template" id="quantidadeArs.html">
<md-dialog style="width:400px;height:400px;">
  <md-dialog-content>
    <h4>
      Selecione a quantidade de ars que será gerado, ou clique em prosseguir para gerar todos
    </h4>
    <md-content layout-padding>
      <form name="alterarSenha">

        <md-input-container class="md-block">
          <label>Informe a quantidade</label>
          <input type="number" name="quantidade" ng-model="quantidadeArs"/>


        </md-input-container>


      </md-content>
    </md-dialog-content>

    <md-dialog-actions>
      <md-button class="md-raised md-primary" ng-click="cancel()">Cancelar</md-button>
      <md-button class="md-raised" md-colors="{background:'teal'}" ng-click="saveAndClose(quantidadeArs)">Prosseguir</md-button>
    </md-dialog-actions>
  </form>

</md-dialog></script>
<div id="editalPrint" class="editalPrint" ng-show="edital">
</div>

<div id="ARCorreios" ng-hide="container1"></div>
<div id="ARsecondPage" ng-hide="container2"></div>