<div class="doc-demo-content doc-content">
  <md-content flex>
    <md-card layout-padding>
      <form name="editForm" ng-submit="editForm.$valid && gravaItem(dados)" novalidate="novalidate">

        <div style="width: 98%;"> 

          <div>
            <h3>{{ dados.descricao }}</h3>
          </div>
          <div layout-gt-sm="row">

            <md-input-container class="md-block" flex-gt-sm>
              <label>Tipo de Veiculo</label>
              <md-select placeholder="Tipo de Veiculo"  ng-required="true" name="tipoveiculo" ng-model="dados.idTipoVeiculo">
                  <md-option ng-repeat="tipoveiculo in tiposVeiculos" ng-value="tipoveiculo.id">
                    {{tipoveiculo.descricao}}
                  </md-option>
                </md-select>      
            </md-input-container>
  
            <md-input-container>
              <label>Estadia</label>
              <input ng-required="true" type="text" name="valorEstadia" ng-model="dados.valorEstadia" money-mask money-mask-prepend="R$ " />
              <div ng-messages="editForm.valorEstadia.$error" role="alert">
                  <div ng-message-exp="['required']">
                  Campo Obrigatório.
                  </div>
              </div>
            </md-input-container>

            <md-input-container class="md-block" >
            <label>Guincho Dia</label>
            <input ng-required="true" type="text" name="valorGuinchoDia" ng-model="dados.valorGuinchoDia" money-mask money-mask-prepend="R$ " />
            <div ng-messages="editForm.valorGuinchoDia.$error" role="alert">
                <div ng-message-exp="['required']">
                Campo Obrigatório.
                </div>
            </div>
            </md-input-container>

            <md-input-container class="md-block" >
            <label>Guincho Noite</label>
            <input ng-required="true" type="text" name="valorGuinchoNoite" ng-model="dados.valorGuinchoNoite" money-mask money-mask-prepend="R$ " />
            <div ng-messages="editForm.valorGuinchoNoite.$error" role="alert">
                <div ng-message-exp="['required']">
                Campo Obrigatório.
                </div>
            </div>
            </md-input-container>

            <md-input-container class="md-block" >
              <label>Limite KM</label>
              <input ng-required="false" type="number" name="limiteKm" ng-model="dados.limiteKm" />
            </md-input-container>

            <md-input-container class="md-block" >
            <label>Valor KM</label>
            <input ng-required="false" type="text" name="valorKm" ng-model="dados.valorKm" money-mask money-mask-prepend="R$ " />
            </md-input-container>

            <md-input-container class="md-block" >
              <label>Max Estadias</label>
              <input ng-required="true" type="number" name="maxEstadias" ng-model="dados.maxEstadias" />
              <div ng-messages="editForm.maxEstadias.$error" role="alert">
                  <div ng-message-exp="['required']">
                  Campo Obrigatório.
                  </div>
              </div>
            </md-input-container>
          </div>
           
          <md-content flex style="background: white">    

            <section  class="md-whiteframe-z1 " ng-cloak layout="column" >
              <mdt-table paginated-rows="{isEnabled: true, rowsPerPageValues: [20,50, 100]}" 
                          animate-sort-icon="false"
                          mdt-row="{
                            'data': dadosTarifas,
                            'table-row-id-key': 'id',
                            'column-keys': ['tipoveiculo', 'estadia','guincho_dia','guincho_noite','limite_km','valor_km','max_estadia', 'editar','novo']
                            }"
              >

                <mdt-custom-cell column-key="editar">
                  <mdt-custom-cell-button icon='edit' class="md-icon-button md-secondary" ng-click="clientScope.editar($event, rowId)" aria-label="Detalhe"></md-custom-cell-button>
                </mdt-custom-cell>
                <mdt-custom-cell column-key="novo">
                  <mdt-custom-cell-button icon='add_circle_outline' class="md-icon-button md-secondary" ng-click="clientScope.novoItem($event, rowId)" aria-label="Baixar"></md-custom-cell-button>
                </mdt-custom-cell>
                    
                <mdt-header-row>
                  <mdt-column align-rule="left" column-sort="false">Tipo de Veiculo</mdt-column>
                  <mdt-column align-rule="left" column-sort="false">Estadia</mdt-column>
                  <mdt-column align-rule="left" column-sort="false">Guincho Dia</mdt-column>
                  <mdt-column align-rule="left" column-sort="false">Guincho Noite</mdt-column>
                  <mdt-column align-rule="left" column-sort="false">Limite KM</mdt-column>
                  <mdt-column align-rule="left" column-sort="false">Valor KM</mdt-column>
                  <mdt-column align-rule="left" column-sort="false">Max Estadias</mdt-column> 
                  <mdt-column align-rule="left" column-sort="false">Editar</mdt-column> 
                  <mdt-column align-rule="left" column-sort="false">Novo</mdt-column> 
                </mdt-header-row>        
                
              </mdt-table>

          </section>

          </md-content>

          <br>         
          
          <md-button class="md-raised" ng-click="paginaAnterior()" aria-label="Voltar">Voltar</md-button>
          <md-button type="submit" ng-disabled="isDisabled" class="md-raised md-primary">Gravar</md-button>
    
        </div>

      </form>
    </md-card>
  </md-content>
</div>