<div class="FirstArea">
  <div class="header">
    <div class="logoCorreios">
      <img src="../../../../assets/images/CorreioLogo.jpg" alt="" />
      <h1>Aviso de Recebimento</h1>
      <h1 class="ArH1">AR</h1>
    </div>

    <div class="dataPostagem">
      <h3>Data Postagem</h3>
    </div>
  </div>

  <div class="bodyAr">
    <div class="destinatario">
      <h1 class="Dest">Destinatário</h1>

      <h4 class="nome">
        ${ dados.restricao1 === "NADA CONSTA" ? dados.nome_cvenda :
        dados.nome_proprietario }
      </h4>
      <h4>
        ${ dados.restricao1 === "NADA CONSTA" ? dados.endereco_cvenda :
        dados.endereco_proprietario }, ${ dados.restricao1 === "NADA CONSTA" ?
        dados.numero_cvenda : dados.numero_proprietario }
      </h4>

      <div class="cep">
        <h4>
          ${ dados.restricao1 === "NADA CONSTA" ? dados.bairro_cvenda :
          dados.bairro_proprietario }
        </h4>
        <h4 class="CEP">
          CEP :

          <h4>
            ${ dados.restricao1 === "NADA CONSTA" ? dados.cep_cvenda :
            dados.cep_proprietario }
          </h4>
        </h4>
      </div>

      <h4>
        ${ dados.restricao1 === "NADA CONSTA" ? dados.municipio_cvenda :
        dados.municipio_proprietario } / ${ dados.restricao1 === "NADA CONSTA" ?
        dados.uf_cvenda : dados.uf_proprietario }
      </h4>
      <h4>DER 224-2021 / 240525</h4>
    </div>

    <div class="EmptySquare1"></div>
  </div>

  <div class="footerAr">
    <div class="destinatario">
      <h1 class="Dest">ENDEREÇO PARA DEVOLUÇÃO DO AR:</h1>
      <h4 class="Endereço">AUTO SOCORRO E MECÂNICA CARVALHO LTDA</h4>
      <h4 class="Rua">${this.leilao.davolucao_endereco}</h4>

      <div class="cep">
        <h4>${this.leilao.davolucao_cidade}</h4>
        <h4 class="CEP">
          CEP :
          <h4>${this.leilao.davolucao_cep}</h4>
        </h4>
      </div>
    </div>
    <div class="EmptySquare1"></div>
  </div>
</div>

<div class="detranCarta">
  <img src="../../../../assets/images/Detrancarta.jpg" alt="" />

  <div class="content">
    <div class="bodyDetranCarta">
      <p>
        Fica Vossa Senhoria notificado(a) de que o veículo abaixo identificado,
        que consta ser de Vossa Propriedade (*) conforme pesquisa
        PRODESP-DETRAN/SP, encontra-se recolhido no pátio municipalizado de ${
        this.leilao.patio_bairro }, localizado na reserva técnica no endereço ${
        this.leilao.patio_endereco }, S/N, ${this.leilao.patio_cidade}/${
        this.leilao.patio_uf }, CEP: ${this.leilao.patio_cep}, Telefone 0800-970
        9752.
      </p>

      <p>
        Outrossim, se no prazo de 20 (vinte) dias a contar do recebimento do
        presente e, após 60 (sessenta) dias do recolhimento, não houver
        manifestação de interesse sobre o referido veículo junto a este
        Departamento, o mesmo será levado a hasta publica, conforme os termos do
        Artigo 328 da Lei Federal 9.503 de 23/09/1997, Código de Trânsito
        Brasileiro - CTB da Lei Estadual 15.911/2015 e normas complementares,
        inclusive como “SUCATA FERROSA” ficando V. Sa. Responsável pela quitação
        dos débitos existentes de IPVA e multas incidentes até a dados do
        leilão, que não forem passíveis de pagamento com saldo de venda do
        veículo.
      </p>

      <p>
        Importante destacar que os débitos não cobertos pela receita em leilão,
        da venda do referido bem, poderão ser cobrados pelos respectivos
        credores, conforme Resolução Contran nº 623, de 6 de Setembro de 2016,
        Publicada no Diário Oficial da União em 08/09/2016, Art. 37: “ Os
        débitos que não forem cobertos pelo valor alcançado com a alienação do
        veículo, poderão ser cobrados pelos credores na forma da legislação em
        vigor, por meio de ação própria e inclusão em Dívida Ativa em nome dos
        ex-proprietários.”
      </p>

      <p>
        "A distribuição do valor obtido com o praceamento do veículo obedecerá
        ao Art. 328, §6º da Lei 9.503/97. Nesse sentido, caso sejam quitados
        todos os débitos, o eventual saldo remanescente ficará em conta
        específica deste órgão,
      </p>
    </div>
  </div>
</div>


<div class="dadosUser">
  <div class="line1">
    <h4>LEILÃO / LOTE :<span> DER 224-2021 / 240525</span></h4>
    <h4>RENAVAM :<span>${dados.renavam}</span></h4>
  </div>

  <div class="line2">
    <h4>
      PROPRIETÁRIO :
      <span
        >${ dados.restricao1 === "NADA CONSTA" ? dados.nome_cvenda :
        dados.nome_proprietario }</span
      >
    </h4>
    <h4>
      CNPJ / CPF :
      <span
        >${ dados.restricao1 === "NADA CONSTA" ? dados.cpf_cnpj_cvenda :
        dados.cpf_cnpj_proprietario }</span
      >
    </h4>
  </div>

  <div class="line3">
    <h4>MARCA :<span>${dados.marca_modelo}</span></h4>
    <h4>MODELO :<span> ${dados.marca_modelo}</span></h4>
  </div>

  <div class="line4">
    <h4>ANO / MODELO :<span>${dados.ano_modelo}</span></h4>
    <h4>PLACA :<span>${dados.placa}</span></h4>
    <h4>MUNICÍPIO :<span>SIQUEIRA CAMPOS / PR</span></h4>
  </div>

  <div class="line5">
    <h4>Nº. ARV :<span>${dados.chassi}</span></h4>
    <h4>DATA ARV: :<span>${dados.chassi}</span></h4>
    <h4>CHASSI :<span>${dados.chassi}</span></h4>
    <h4>MOTOR :<span> ${dados.numero_motor_bin}</span></h4>
  </div>

  <div class="line6">
    <h4>NOME DA FIN / ARR :<span>${dados.chassi}</span></h4>
  </div>

  <div class="line7">
    <h4>COMUNICAÇÃO DE VENDA: <span>${dados.chassi}</span></h4>
  </div>
</div>
