<section  class="md-whiteframe-z1 " ng-cloak layout="column" >

    <md-toolbar class="md-theme-light" >
      <h2 class="md-toolbar-tools">
        <span>{{dadosList.length || 0}} Registros</span>
        <span flex></span>
        <md-button class="md-raised" aria-label="PDF" ng-click="gerarPDF()">PDF</md-button>
        <md-button class="md-raised" aria-label="Excel" ng-click="gerarPlanilha()">Excel</md-button>
      </h2>
    </md-toolbar>
  
    <mdt-table paginated-rows="{isEnabled: true, rowsPerPageValues: [20,50, 100]}"
                animate-sort-icon="true"
                mdt-row="{
                          'data': dadosList,
                          'table-row-id-key': 'id',
                          'column-keys': ['nome_empresa_reboque', 'data_hora_envio']
                }"
      >
               
      <mdt-header-row>
        <mdt-column align-rule="left" column-sort="false">Nome Empresa Reboque</mdt-column>
        <mdt-column align-rule="left" column-sort="false">Data / Hora Envio</mdt-column>
       
      </mdt-header-row>
  
    </mdt-table>
  
  </section>