<div class="doc-demo-content doc-content">
  <md-content flex>
    <md-card layout-padding>
      <form name="editForm" ng-submit="editForm.$valid && gravar(dados)" novalidate="novalidate">
        <br>    
        <div style="width: 98%;"> 

          <md-input-container class="md-block" flex-gt-sm>
            <label>Descrição</label>
            <input ng-required="true" type="text" name="descricao" ng-model="dados.descricao" ng-change="dados.descricao = (dados.descricao | uppercase)"/>
            <div ng-messages="editForm.descricao.$error" role="alert">
            <div ng-message="mask">
                 Digitar descrição do tipo
            </div>
            <div ng-message-exp="['required']">
                Campo Obrigatório.
            </div>
            </div>
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm>
            <label>Prazo Compensação</label>
            <input  type="number" name="prazo" ng-model="dados.prazo"/>
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm>
            <label>Pagar/Receber</label>
            <md-select ng-required="true" placeholder="Pagar/Receber" style="width: 50%"  name="tipo" ng-model="dados.tipo">
              <md-option value="PAGAR">CONTAS A PAGAR</md-option>
              <md-option value="RECEBER">CONTAS A RECEBER</md-option>
            </md-select>
            <div ng-messages="editForm.tipo.$error" role="alert">
              <div ng-message-exp="['required']">
                  Campo Obrigatório.
              </div>
            </div>
  
          </md-input-container>

        <br>
          <md-button type="submit" ng-disabled="isDisabled" class="md-raised md-primary">Gravar</md-button>
          <md-button class="md-raised" ng-click="paginaAnterior()" aria-label="Voltar">Voltar</md-button>
        </div>

      </form>
    </md-card>
  </md-content>
</div>