<div class="doc-demo-content doc-content">
  <md-content layout-xs="column" layout-gt-sm="row" layout-sm="column">
    <md-card layout-padding flex-gt-sm layout="column" flex-order="1" flex-order-gt-sm="1">
      <md-subheader class="md-no-sticky">FILTRAR DADOS</md-subheader>
      <md-divider></md-divider>
      <form name="editForm" ng-submit="editForm.$valid && formEdit(dados)" novalidate="novalidate">
        
        <div layout-gt-sm="row">
         
          <md-input-container class="md-block" flex-gt-sm>
            <label>Data inicio</label>
            <md-datepicker name="dataInicio" ng-model="dados.DataInicio" md-placeholder="Data inicio"></md-datepicker>
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm>
            <label>Data final</label>
            <md-datepicker name="dataFinal" ng-model="dados.DataFinal" md-placeholder="Data final"></md-datepicker>
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm >
          
        </div>
        
        <div>
          <md-button class="md-raised" md-colors="{background:'teal'}" md-colors-watch="false" ng-click="pesquisar($event)">Filtrar</md-button>
          <md-button class="md-raised" aria-label="Limpar" ng-click="limpar($event)">Limpar</md-button>
          <md-button class="md-raised md-primary" aria-label="Adicionar" ng-click="mesAtual($event)">Mês Atual</md-button>

          <md-button class="md-raised md-primary" aria-label="Adicionar" ng-click="novo($event)">Novo</md-button>
        </div>

      </form>
    </md-card>
  </md-content>
  

  <section  class="md-whiteframe-z1 " ng-cloak layout="column" >
    
      <md-toolbar class="md-theme-light" >
        <h2 class="md-toolbar-tools">
          <span>{{dadosList.length}} Registros</span>
          <span flex></span>
          <md-button class="md-raised" aria-label="PDF" ng-click="gerarPdf()">PDF</md-button>
          <md-button class="md-raised" aria-label="Excel" ng-click="gerarPlanilha()">Excel</md-button>
        </h2>
      </md-toolbar>

      <mdt-table paginated-rows="{isEnabled: true, rowsPerPageValues: [20,50, 100]}" 
                  animate-sort-icon="true"
                  mdt-row="{
                            'data': dadosList,
                            'table-row-id-key': 'id',
                            'column-keys': ['patio_origem','patio_destino','conta_origem','conta_destino','data','valor','editar','apagar']
                  }"
        >
        <mdt-custom-cell column-key="editar">
          <mdt-custom-cell-button icon='edit' class="md-icon-button md-secondary" ng-click="clientScope.detalhe($event, rowId)" aria-label="Detalhe"></md-custom-cell-button>
        </mdt-custom-cell>

        <mdt-custom-cell column-key="apagar">
          <mdt-custom-cell-button icon='delete_forever' class="md-icon-button md-secondary" ng-click="clientScope.cancelar(rowId)" aria-label="Excluir"></md-custom-cell-button>
        </mdt-custom-cell>

        
        <mdt-header-row>
          <mdt-column align-rule="left" column-sort="false">Pátio de Origem</mdt-column>
          <mdt-column align-rule="left" column-sort="true">Pátio Destino</mdt-column>
           
          <mdt-column align-rule="left" column-sort="false">Conta de Origem</mdt-column>
          <mdt-column align-rule="left" column-sort="true">Conta Destino</mdt-column>
          <mdt-column align-rule="left" column-sort="false">Data</mdt-column>
          <mdt-column align-rule="left" column-sort="true">Valor</mdt-column>
          <mdt-column align-rule="left" column-sort="true">Detalhe</mdt-column>
          <mdt-column align-rule="left" column-sort="true">Excluir</mdt-column>

        </mdt-header-row>        
        
      </mdt-table>
    
  </section>

</div>