<div class="doc-demo-content doc-content">
  <md-content flex>
    <md-card layout-padding>
      <form name="editForm" ng-submit="editForm.$valid && gravar(dados)" novalidate="novalidate">
        <br>
        <div style="width: 98%;">

          <div style="display: flex;">



            <md-input-container class="md-block" flex-gt-sm>
              <label>Pátio Origem</label>
              <md-select placeholder="Pátio Origem" style="width: 90%" name="patio" ng-model="dados.PatioOrigem"
                ng-required="true">
                <md-option ng-repeat="patio in patios" ng-value="patio.id">
                  {{patio.nome}}
                </md-option>
              </md-select>
            </md-input-container>


            <md-input-container class="md-block" flex-gt-sm>
              <label>Conta Origem</label>

              <md-select placeholder="Conta Origem" name="conta" ng-model="dados.ContaOrigem" style="width: 90%;"
                ng-required="true">
                <md-option ng-repeat="conta in contas" ng-value="conta.id">
                  {{conta.descricao}}
                </md-option>
              </md-select>

            </md-input-container>



          </div>





          <div style="display: flex;">


      





            <md-input-container class="md-block" flex-gt-sm>
              <label>Pátio Destino</label>
              <md-select placeholder="Pátio Destino" style="width: 90%" name="patio" ng-model="dados.PatioDestino"
                ng-required="true">
                <md-option ng-repeat="patio in patios" ng-value="patio.id">
                  {{patio.nome}}
                </md-option>
              </md-select>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
              <label>Conta Destino</label>

              <md-select placeholder="Conta Destino" name="conta" ng-model="dados.ContaDestino" style="width: 90%;"
                ng-required="true">
                <md-option ng-repeat="conta in contas" ng-value="conta.id">
                  {{conta.descricao}}
                </md-option>
              </md-select>

            </md-input-container>
          </div>


          <div style="display: flex;">
           
            <md-input-container class="md-block" flex-gt-sm>
              <label>Data de Transferência</label>
              <md-datepicker ng-required="true" type="date" name="data" ng-model="dados.DataMovimento"></md-datepicker>
            </md-input-container>
        
            <md-input-container class="md-block" flex-gt-sm style="width:10vw" >
              <label>Valor</label>
              <input ng-required="true" type="text" name="valor" ng-model="dados.valor" money-mask ng-value="dados.valor"/>
              <div ng-messages="editForm.valor.$error" role="alert">
                  <div ng-message-exp="['required']">
                  Campo Obrigatório.
                  </div>
              </div>
            </md-input-container>
  
        
          </div>



          <div layout-gt-sm="row">
            <br>
            <md-button type="submit" ng-disabled="isDisabled" class="md-raised md-primary">Gravar</md-button>
            <md-button class="md-raised" ng-click="paginaAnterior()" aria-label="Voltar">Voltar</md-button>
          </div>

      </form>
    </md-card>
  </md-content>
</div>