<link rel="stylesheet" href="/assets/css/customTable.css">


<div class="doc-demo-content doc-content">
    <link rel="stylesheet" href="/assets/css/CustomForms.css">

    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="AGENDAR TRANSFERENCIA">
            <md-content layout-xs="column" layout-gt-sm="row" layout-sm="column">
                <md-card layout-padding flex-gt-sm layout="column" flex-order="1" flex-order-gt-sm="1">
                    <md-subheader class="md-no-sticky">FILTRAR DADOS</md-subheader>
                    <md-divider></md-divider>
                    <form name="editForm" ng-submit="editForm.$valid && formEdit(DadosPeriodo)" novalidate="novalidate">

                        <div layout-gt-sm="row" style="width: 75%;">

                            <md-input-container class="md-block" flex-gt-sm>
                              <label>Nome do Cliente</label>
                              <input ng-required="true" type="text" name="documento" ng-model="DadosPeriodo.id_cliente"
                                ng-keyup="buscarClientes()" ng-blur="HideModal()"
                                ng-change="DadosPeriodo.id_cliente = (DadosPeriodo.id_cliente | uppercase)" />
                
                              <div ng-messages="editForm.nome.$error" class="errors">
                                <div ng-message="required">
                                  Campo Obrigatório.
                                </div>
                              </div>
                
                            </md-input-container>
                
                        </div>
                
                        <div class="containerCliente" id="Container">
                            <li ng-click="ChangeScope(cliente)" name="id_cliente" ng-value="cliente.id" ng-repeat="cliente in clientes">
                            {{cliente.nome}}
                            </li>
                
                        </div>
                
                        <div class="ErrorLength" id="ErrorLength">
                            Digite ao menos 3 caracteres *
                        </div>
                

                        <div layout-gt-sm="row">

                            <md-input-container class="md-block" style="width: 60%;">
                                <label>Pátio</label>
                                <md-select placeholder="Pátio" name="patio" 
                                ng-model="DadosPeriodo.id_patio_origem" ng-required="true">
                                    <md-option ng-repeat="patio in patios" ng-value="patio.id_patio" >
                                        {{patio.nome}}
                                    </md-option>
                                </md-select>
                            </md-input-container>

                            <md-input-container class="md-block" flex-gt-sm >
                                <label>Data Entrega</label>
                                <md-datepicker name="data_entrega" ng-model="DadosPeriodo.data" ng-required="true">
                                </md-datepicker>
                            </md-input-container>

                        </div>

                        <div layout-gt-sm="row" >
                                                        
                            <md-input-container class="md-block" style="width: 15%;" >
                                <md-checkbox ng-model="DadosPeriodo.cliente_retira" aria-label="Checkbox 1" 
                                            ng-disabled="DadosPeriodo.delivery" ng-checked = "checkboxClienteRetira()">
                                    Cliente Retira
                                </md-checkbox>
                            </md-input-container>

                            <md-input-container class="md-block" style="width: 10%; margin-right: 100px;"  >
                                <md-checkbox ng-model="DadosPeriodo.delivery" aria-label="Checkbox 1"
                                            ng-disabled="DadosPeriodo.cliente_retira">
                                    Entrega
                                </md-checkbox>
                            </md-input-container>

                            <md-input-container class="md-block" style="width: 40%;">
                                <label>Veiculo Transporte</label>
                                <md-select placeholder="Reboque" name="id_reboque" 
                                    ng-model="DadosPeriodo.id_reboque" ng-hide="!DadosPeriodo.delivery">
                                    <md-option ng-repeat="reboque in reboques" ng-value="reboque.id">
                                        {{reboque.descricao}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
    
                            <md-input-container class="md-block" style="width: 40%;">
                                <label>Motorista</label>
                                <md-select placeholder="Motorista" name="id_motorista" 
                                    ng-model="DadosPeriodo.id_motorista" ng-hide="!DadosPeriodo.delivery">
                                    <md-option ng-repeat="motorista in motoristas" ng-value="motorista.id">
                                        {{motorista.nome}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
    

                        </div>

                        <div layout-gt-sm="row" style="display: flex;align-items: center;">
                        
                            <md-input-container style="width: 20vw; margin-top: 20px;">
                                <label>INFORME NCV</label>
                                <input type="text" name="ncv_placa" ng-model="alterardados.ncv_placa" placeholder="NCV"
                                    ng-disabled="false" />
                            </md-input-container>
                            
                            <md-button class="md-raised"
                                md-colors="{background:'teal'}" md-colors-watch="false"
                                style="height: 15px;margin-left: 10px;"
                                ng-click="pesquisar.BuscaNcvPlaca(DadosPeriodo.id_patio_origem,alterardados.ncv_placa,DadosPeriodo.id_cliente,DadosPeriodo.data)">ADICIONAR</md-button>

                            <md-button class="md-raised" aria-label="Limpar" 
                            ng-click="SeparacaoPeriodo.limpar($event)">Limpar</md-button>                                    

                        </div>


                    </form>

                </md-card>
            </md-content>

            <section class="md-whiteframe-z1 " ng-cloak layout="column">

                <md-toolbar class="md-theme-light">
                    <h2 class="md-toolbar-tools">
                        <span>{{Dados.length}} Registros</span>
                        <span flex></span>
                        <md-button class="md-raised" md-colors="{background:'teal'}" md-colors-watch="false"
                        ng-disabled="false" ng-click="SeparacaoPeriodo.SelecionarTodos(Dados)">
                        {{SeparacaoPeriodo.Selecionar}}
                        </md-button>
                        <md-button class="md-raised" ng-click="gerarPDFTransferencia()" aria-label="PDF">PDF</md-button>
                        <md-button class="md-raised" ng-click="gerarPlanilhaTransferencia()" aria-label="Excel">Excel
                        </md-button>
                    </h2>
                </md-toolbar>


                <md-content class="Body">

                    <md-card>
                        <table>

                            <tr>
                                <th>NCV</th>
                                <th>Data de Apreensão</th>
                                <th>Ano</th>
                                <th>Marca/Modelo</th>
                                <th>Placa</th>
                                <th>Tipo do Veículo</th>
                                <th>Selecionar</th>

                            </tr>
                            <tr ng-repeat="Dado in Dados" class="Result">
                                <td>{{Dado.id}}</td>
                                <td>{{Dado.data_apreensao}}</td>
                                <td>{{Dado.ano}}</td>
                                <td>{{Dado.marca_modelo}}</td>
                                <td>{{Dado.placa}}</td>
                                <td>{{Dado.tipo_veiculo}}</td>                                  

                                <td>
                                    <input type="checkbox" name="selecionado" aria-label="selecionado"
                                        ng-model="Dado.selecionado">
                                </td>

                            </tr>

                        </table>

                        <md-button type="submit" class="md-raised" md-colors="{background:'teal'}"
                            md-colors-watch="false" ng-click="SeparacaoPeriodo.Inserir(Dados)" ng-disabled="false">
                            Gravar Selecionados
                        </md-button>

                    </md-card>
                </md-content>

            </section>

        </md-tab>





        <md-tab label="ENTREGA AGENDADOS" >

            <md-content layout-xs="column" layout-gt-sm="row" layout-sm="column">
                <md-card layout-padding flex-gt-sm layout="column" flex-order="1" flex-order-gt-sm="1">
                    <md-subheader class="md-no-sticky">FILTRAR DADOS</md-subheader>
                    <md-divider></md-divider>
                    <form name="editForm" ng-submit="editForm.$valid && formEdit(dados)" novalidate="novalidate">

                        <br>
                        <div layout-gt-sm="row" style="display: flex;align-items: baseline;">
                        
                            <md-input-container style="width: 15vw; margin: 2px;">
                                <label>NUMERO PROTOCOLO</label>
                                <input type="text" name="numero_protocolo" ng-model="dados.numero_protocolo" placeholder="PROTOCOLO"
                                    ng-disabled="false" />
                            </md-input-container>

                        </div>

                        <div layout-gt-sm="row" style="display: flex;align-items: baseline;">
                        
                            <md-input-container class="md-block" style="width: 40vw;">
                                <label>Nome do Cliente</label>
                                <input ng-readonly="true"  type="text" name="cliente" ng-model="nomeCliente"/>
                            </md-input-container>
                        
                            <md-input-container class="md-block" >
                                <label>Data Entrega</label>
                                <input ng-readonly="true"  type="text" name="dataEntrega" ng-model="dataEntrega"/>
                            </md-input-container>           
                        
                        
                        </div>

                        <div layout-gt-sm="row" style="display: flex;align-items: baseline;">

                            <md-input-container class="md-block" style="width: 30vw;">
                                <label>Motorista</label>
                                <input ng-readonly="true"  type="text" name="motorista" ng-model="nomeMotorista"/>
                            </md-input-container>
                  
                            <md-input-container class="md-block" style="width: 25vw;">
                                <label>Reboque</label>
                                <input ng-readonly="true"  type="text" name="reboque" ng-model="nomeReboque"/>
                            </md-input-container>                                                 

                        </div>

                        <div layout-gt-sm="row" style="display: flex;align-items: baseline;">

                            <md-input-container class="md-block" >
                                <label>Usuário</label>
                                <input ng-readonly="true"  type="text" name="usuarioCadastro" ng-model="usuarioCadastro"/>
                            </md-input-container>                            

                            <md-input-container class="md-block" >
                                <label>Data Digitação</label>
                                <input ng-readonly="true"  type="text" name="dataCadastro" ng-model="dataCadastro"/>
                            </md-input-container>                            

                        </div>

                        <div layout-gt-sm="row" style="display: flex;align-items: baseline;" ng-show="isCanceled">
                    
                            <md-input-container class="md-block" style="width: 15vw; margin: 2px;">
                                <label>Usuário Cancelamento</label>
                                <input ng-readonly="true"  type="text" name="usuarioCancelamento" ng-model="usuarioCancelamento"/>
                            </md-input-container>                            

                            <md-input-container class="md-block" style="width: 10vw; margin: 2px;">
                                <label>Data Cancelamento</label>
                                <input ng-readonly="true"  type="text" name="dataCancelamento" ng-model="dataCancelamento"/>
                            </md-input-container>

                            <md-input-container class="md-block" style="width: 50vw; margin: 2px;">
                                <label>Motivo Cancelamento</label>
                                <input ng-readonly="true"  type="text" name="motivoCancelamento" ng-model="motivoCancelamento"/>
                            </md-input-container>                            
                                             
                        </div>


                        <div layout-gt-sm="row" style="display: flex;align-items: baseline;" ng-show="isRecebido">
                    
                            <md-input-container class="md-block" style="width: 15vw; margin: 2px;">
                                <label>Usuário Recebimento</label>
                                <input ng-readonly="true"  type="text" name="usuarioEntrega" ng-model="usuarioEntrega"/>
                            </md-input-container>                            

                        <!-- 
                            <md-input-container class="md-block" style="width: 10vw; margin: 2px;">
                                <label>Data Recebimento</label>
                                <input ng-readonly="true"  type="text" name="dataRecebimento" ng-model="dataRecebimento"/>
                            </md-input-container>
                        -->          
                        </div>


                        <div>
                            <md-button style='background-color: blue;color: white;' class="md-raised"
                                ng-click="pesquisar.buscaDadosProtocolo()" style="height: 30px;margin-left: 20px;">Filtrar
                            </md-button>
                            <md-button style='background-color: red;color: white;' class="md-raised" ng-hide="(isCanceled || isRecebido)"
                                ng-click="pesquisar.cancelarAgendamento()" style="height: 30px;margin-left: 20px;">Cancelar Agendamento
                            </md-button>

                        </div>

                    </form>

                </md-card>
            </md-content>

            <section class="md-whiteframe-z1 " ng-cloak layout="column">

                <md-toolbar class="md-theme-light">
                    <h2 class="md-toolbar-tools">
                        <span>{{dadosList.length}} Registros</span>

                        <span flex></span>
                       
                        <md-button class="md-raised" ng-click="gerarPDFEntrega(Dados,dados)" aria-label="PDF">PDF</md-button>
                        <md-button class="md-raised" ng-click="gerarPlanilhaEntrega()" aria-label="Excel">Excel</md-button>
                    </h2>
                </md-toolbar>

                <md-content class="Body">
                    <md-card>
                        <table>

                            <tr>
                                <th>Patio</th>
                                <th>NCV</th>
                                <th>Placa</th>
                                <th>Data de Apreensão</th>
                                <th>Marca/Modelo</th>
                                <th>Cor</th>
                                <th>Ano</th>
                        
                            </tr>
                            <tr ng-repeat="Dados in dadosList" class="Result">
                                <td>{{Dados.patio}}</td>
                                <td>{{Dados.id}}</td>
                                <td>{{Dados.placa}}</td>
                                <td>{{Dados.data_apreensao || 0}}</td>
                                <td>{{Dados.marca_modelo}}</td>
                                <td>{{Dados.cor}}</td>
                                <td>{{Dados.ano}}</td>
                              
                            </tr>
                        </table>
                        <md-button type="submit" class="md-raised" md-colors="{background:'teal'}"
                        md-colors-watch="false" ng-click="SeparacaoPeriodo.confirmarEntrega(dadosList)" ng-hide="(isCanceled || isRecebido)">
                        CONFIRMAR ENTREGA
                    </md-button>

                    </md-card>
                </md-content>

            </section>

        </md-tab>






        <md-tab label="AGENDAMENTOS" >

            <md-content layout-xs="column" layout-gt-sm="row" layout-sm="column">
                <md-card layout-padding flex-gt-sm layout="column" flex-order="1" flex-order-gt-sm="1">
                    <md-subheader class="md-no-sticky">FILTRAR DADOS</md-subheader>
                    <md-divider></md-divider>
                    <form name="editForm" ng-submit="editForm.$valid && formEdit(dados)" novalidate="novalidate">

                        <br>
                        <div layout-gt-sm="row" style="display: flex;align-items: baseline;">
                        
                            
                            <md-input-container class="md-block" flex-gt-sm >
                                <label>Data Agendamento</label>
                                <md-datepicker name="data_agendamento" ng-model="dadosAgendados.data_agendamento" ng-required="true">
                                </md-datepicker>
                            </md-input-container>
                        
                        </div>             
                        

                        <div>
                            <md-button style='background-color: blue;color: white;' class="md-raised"
                                ng-click="buscaAgendamentos()" style="height: 30px;margin-left: 20px;">Filtrar
                            </md-button>
                            <md-button class="md-raised" aria-label="Limpar" 
                                ng-click="pesquisar.limparAgendamentos($event)">Limpar
                            </md-button>          

                        </div>

                    </form>

                </md-card>
            </md-content>

            <section class="md-whiteframe-z1 " ng-cloak layout="column">

                <md-toolbar class="md-theme-light">
                    <h2 class="md-toolbar-tools">
                        <span>{{agendamentosList.length}} Registros</span>

                        <span flex></span>
                       
                        <md-button class="md-raised" ng-click="gerarPDFAgendamentos()" aria-label="PDF">PDF</md-button>
                        <md-button class="md-raised" ng-click="gerarPlanilhaAgendamentos()" aria-label="Excel">Excel</md-button>
                    </h2>
                </md-toolbar>

                <md-content class="Body">
                    <md-card>
                        <table>

                            <tr>
                                <th>Protocolo</th>
                                <th>Data Agendada</th>
                                <th>Cliente</th>
                                <th>Motorista</th>
                                <th>Reboque</th>
                                
                            </tr>
                            <tr ng-repeat="Dados in agendamentosList" class="Result">
                                <td>{{Dados.id_protocolo}}</td>
                                <td>{{Dados.data_entrega}}</td>
                                <td>{{Dados.cliente}}</td>
                                <td>{{Dados.motorista}}</td>
                                <td>{{Dados.reboque}}</td>                           
                              
                               
                            </tr>
                        </table>
                        
                    </md-card>
                </md-content>

            </section>

        </md-tab>

    </md-tabs>

</div>

</div>

<script type="text/ng-template" id="cancelar-agendamento.html">

    <md-dialog style="width:600px;height:300px;">
        <md-dialog-content>
         

            <div style=" text-align: center; margin-left: 10px; margin-right:10px" >
                <br>
               <label> Cancelar Agendamento</label>
               <br><br>
                <md-input-container class="md-block" style="text-align:left">
                    <label>Motivo do Cancelamento</label>
                    <textarea ng-model="dados.motivo_cancelamento" md-maxlength="150" rows="3" md-select-on-focus></textarea>
                </md-input-container>
            </div>
            <br>
        </md-dialog-content>
        <md-dialog-actions style=" margin-bottom: 5px;">
            <md-button class="md-raised md-primary" ng-click="cancelar_agendamento()">CONFIRMAR</md-button>
            <md-button class="md-raised md-primary" ng-click="fechar()">FECHAR</md-button>
        </md-dialog-actions>
    </md-dialog>
</script>