
<!-- 
   <div id="Modal" ng-show="ShowMessage">
    <p>{{message}}</p>

</div>

<div id="Modal2" ng-show="Showmodal2">
    <p>{{message2}}</p>
    <button ng-click="Showmodal2 = false ">Fechar</button>
</div>

<link rel="stylesheet" href="/assets/css/ArCorreios/index.css">
<link rel="stylesheet" href="/assets/css/CustomModal.css">
-->

<link rel="stylesheet" href="/assets/css/customTable.css">


<div class="doc-demo-content doc-content">

    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="CRIAR ROMANEIO TRANSFERENCIA">
            <md-content layout-xs="column" layout-gt-sm="row" layout-sm="column">
                <md-card layout-padding flex-gt-sm layout="column" flex-order="1" flex-order-gt-sm="1">
                    <md-subheader class="md-no-sticky">FILTRAR DADOS</md-subheader>
                    <md-divider></md-divider>
                    <form name="editForm" ng-submit="editForm.$valid && formEdit(DadosPeriodo)" novalidate="novalidate">

                        <div layout-gt-sm="row" style="display: flex;align-items: baseline;">
                            
                            <md-input-container class="md-block" style="width: 40vw ;">
                                <label>Pátio Origem</label>
                                <md-select placeholder="Pátio Origem" name="patioOrigem" 
                                ng-model="DadosPeriodo.id_patio_origem" ng-required="true">
                                    <md-option ng-repeat="patio in patios" ng-value="patio.id_patio" >
                                        {{patio.nome}}
                                    </md-option>
                                </md-select>
                            </md-input-container>


                            <md-input-container class="md-block" style="width: 40vw ;">
                                <label>Pátio Destino</label>
                                <md-select placeholder="Pátio Destino" name="patioDestino" 
                                ng-model="DadosPeriodo.id_patio_destino" ng-required="true">
                                    <md-option ng-repeat="patio in patios" ng-value="patio.id_patio">
                                        {{patio.nome}}
                                    </md-option>
                                </md-select>
                            </md-input-container>                        
<!--
                            <md-input-container class="md-block" flex-gt-sm >
                                <label>Apreendidos até</label>
                                <md-datepicker name="data" ng-model="DadosPeriodo.ApreeAte" ng-required="true">
                                </md-datepicker>
                            </md-input-container>
-->

                        </div>

                        <div layout-gt-sm="row" style="display: flex;align-items: baseline;">

                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Veiculo Transporte</label>
                                <md-select placeholder="Reboque" ng-required="true" name="id_reboque" ng-model="DadosPeriodo.id_reboque">
                                    <md-option ng-repeat="reboque in reboques" ng-value="reboque.id">
                                        {{reboque.descricao}}
                                    </md-option>
                                </md-select>
                            </md-input-container>

                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Motorista</label>
                                <md-select placeholder="Motorista" ng-required="true" name="id_motorista" ng-model="DadosPeriodo.id_motorista" >
                                    <md-option ng-repeat="motorista in motoristas" ng-value="motorista.id">
                                        {{motorista.nome}}
                                    </md-option>
                                </md-select>
                            </md-input-container>

                            <md-input-container class="md-block" flex-gt-sm >
                                <label>Data Transf.</label>
                                <md-datepicker name="dat_transferencia" ng-model="DadosPeriodo.data" ng-required="true">
                                </md-datepicker>
                            </md-input-container>

                        </div>

                        <div layout-gt-sm="row" style="display: flex;align-items: center;">
                        
                            <md-input-container style="width: 20vw; margin-top: 20px;">
                                <label>INFORME NCV</label>
                                <input type="text" name="ncv_placa" ng-model="alterardados.ncv_placa" placeholder="NCV"
                                    ng-disabled="false" />
                            </md-input-container>
                            
                            <md-button class="md-raised"
                                md-colors="{background:'teal'}" md-colors-watch="false"
                                style="height: 15px;margin-left: 10px;"
                                ng-click="pesquisar.BuscaNcvPlaca(DadosPeriodo.id_patio_origem,DadosPeriodo.id_patio_destino,alterardados.ncv_placa,DadosPeriodo.id_reboque,DadosPeriodo.id_motorista,DadosPeriodo.data)">ADICIONAR</md-button>

                                <md-button class="md-raised" aria-label="Limpar" 
                                ng-click="SeparacaoPeriodo.limpar($event)">Limpar</md-button>                                    

                        </div>
<!--
                        <div>

                            <md-button type="submit" ng-disabled="false" class="md-raised"
                                md-colors="{background:'teal'}" md-colors-watch="false"
                                ng-click="SeparacaoPeriodo.Buscar()">FILTRAR</md-button>

                            <md-button class="md-raised md-primary" aria-label="Adicionar"
                                ng-click="SeparacaoPeriodo.mesAtual()">Mês Atual</md-button>
                            
                            
                        </div>
-->
                    </form>

                </md-card>
            </md-content>

            <section class="md-whiteframe-z1 " ng-cloak layout="column">

                <md-toolbar class="md-theme-light">
                    <h2 class="md-toolbar-tools">
                        <span>{{Dados.length}} Registros</span>
                        <span flex></span>
                        <md-button class="md-raised" md-colors="{background:'teal'}" md-colors-watch="false"
                        ng-disabled="false" ng-click="SeparacaoPeriodo.SelecionarTodos(Dados)">
                        {{SeparacaoPeriodo.Selecionar}}
                        </md-button>
                        <md-button class="md-raised" ng-click="gerarPDFPeriodo()" aria-label="PDF">PDF</md-button>
                        <md-button class="md-raised" ng-click="gerarPlanilhaPerido()" aria-label="Excel">Excel
                        </md-button>
                    </h2>
                </md-toolbar>


                <md-content class="Body">

                    <md-card>
                        <table>

                            <tr>
                                <th>NCV</th>
                                <th>Data de Apreensão</th>
                                <th>Ano</th>
                                <th>Marca/Modelo</th>
                                <th>Placa</th>
                                <th>Tipo do Veículo</th>
                                <th>Selecionar</th>

                            </tr>
                            <tr ng-repeat="Dado in Dados" class="Result">
                                <td>{{Dado.id}}</td>
                                <td>{{Dado.data_apreensao}}</td>
                                <td>{{Dado.ano}}</td>
                                <td>{{Dado.marca_modelo}}</td>
                                <td>{{Dado.placa}}</td>
                                <td>{{Dado.tipo_veiculo}}</td>                                  

                                <td>
                                    <input type="checkbox" name="selecionado" aria-label="selecionado"
                                        ng-model="Dado.selecionado">
                                </td>

                            </tr>

                        </table>

                        <md-button type="submit" class="md-raised" md-colors="{background:'teal'}"
                            md-colors-watch="false" ng-click="SeparacaoPeriodo.Inserir(Dados)" ng-disabled="false">
                            Gravar Selecionados
                        </md-button>

                    </md-card>
                </md-content>

            </section>

        </md-tab>


        <md-tab label="RECEBIMENTO DE TRANSFERÊNCIA/RETENÇÃO" ng-disabled='recebe_transferencia == "1" ? false : true'>

            <md-content layout-xs="column" layout-gt-sm="row" layout-sm="column">
                <md-card layout-padding flex-gt-sm layout="column" flex-order="1" flex-order-gt-sm="1">
                    <md-subheader class="md-no-sticky">FILTRAR DADOS</md-subheader>
                    <md-divider></md-divider>
                    <form name="editForm" ng-submit="editForm.$valid && formEdit(dados)" novalidate="novalidate">

                        <div layout-gt-sm="row" style="display: flex;align-items: baseline;">
                        
                            <md-input-container style="width: 20vw; margin: 2px;">
                                <label>NUMERO ROMANEIO</label>
                                <input type="text" name="numero_romaneio" ng-model="dados.numero_romaneio" placeholder="ROMANEIO"
                                    ng-disabled="false" />
                            </md-input-container>
                        
                        </div>

                        <div layout-gt-sm="row" style="display: flex;align-items: baseline;">

                            <md-input-container class="md-block" >
                                <label>Motorista</label>
                                <input ng-readonly="true"  type="text" name="motorista" ng-model="nomeMotorista"/>
                            </md-input-container>
                  
                            <md-input-container class="md-block" >
                                <label>Reboque</label>
                                <input ng-readonly="true"  type="text" name="reboque" ng-model="nomeReboque"/>
                            </md-input-container>                            

                            <md-input-container class="md-block" >
                                <label>Data da Transferência</label>
                                <input ng-readonly="true"  type="text" name="dataTransferencia" ng-model="dataTransferencia"/>
                            </md-input-container>                            

                        </div>

                        <div layout-gt-sm="row" style="display: flex;align-items: baseline;">

                            <md-input-container class="md-block" >
                                <label>Usuário</label>
                                <input ng-readonly="true"  type="text" name="usuarioTransferencia" ng-model="nomeUsuario"/>
                            </md-input-container>                            

                            <md-input-container class="md-block" >
                                <label>Data Digitação</label>
                                <input ng-readonly="true"  type="text" name="dataUsuario" ng-model="dataUsuario"/>
                            </md-input-container>                            

                        </div>

                        <div layout-gt-sm="row" style="display: flex;align-items: baseline;" ng-show="isCanceled">
                    
                            <md-input-container class="md-block" style="width: 15vw; margin: 2px;">
                                <label>Usuário Cancelamento</label>
                                <input ng-readonly="true"  type="text" name="usuarioCancelamento" ng-model="usuarioCancelamento"/>
                            </md-input-container>                            

                            <md-input-container class="md-block" style="width: 10vw; margin: 2px;">
                                <label>Data Cancelamento</label>
                                <input ng-readonly="true"  type="text" name="dataCancelamento" ng-model="dataCancelamento"/>
                            </md-input-container>

                            <md-input-container class="md-block" style="width: 100vw; margin: 2px;">
                                <label>Motivo Cancelamento</label>
                                <input ng-readonly="true"  type="text" name="motivoCancelamento" ng-model="motivoCancelamento"/>
                            </md-input-container>                            
                                             
                        </div>


                        <div layout-gt-sm="row" style="display: flex;align-items: baseline;" ng-show="isRecebido">
                    
                            <md-input-container class="md-block" style="width: 15vw; margin: 2px;">
                                <label>Usuário Recebimento/Retenção</label>
                                <input ng-readonly="true"  type="text" name="usuarioRecebimento" ng-model="usuarioRecebimento"/>
                            </md-input-container>                            

                            <md-input-container class="md-block" style="width: 10vw; margin: 2px;">
                                <label>Data Recebimento</label>
                                <input ng-readonly="true"  type="text" name="dataRecebimento" ng-model="dataRecebimento"/>
                            </md-input-container>
                                             
                        </div>


                        <div>
                            <md-button style='background-color: blue;color: white;' class="md-raised"
                                ng-click="pesquisar.buscaTransferencias()" style="height: 30px;margin-left: 20px;">Filtrar
                            </md-button>
                            <md-button style='background-color: red;color: white;' class="md-raised" ng-hide="(isCanceled || isRecebido)"
                                ng-click="pesquisar.CancelarTransferencia()" style="height: 30px;margin-left: 20px;">Cancelar Transferência
                            </md-button>

                        </div>

                    </form>

                </md-card>
            </md-content>

            <section class="md-whiteframe-z1 " ng-cloak layout="column">

                <md-toolbar class="md-theme-light">
                    <h2 class="md-toolbar-tools">
                        <span>{{dadosList.length}} Registros</span>

                        <span flex></span>
                       
                        <md-button class="md-raised" ng-click="gerarPDFRecebimento(Dados,dados,dataTransferencia)" aria-label="PDF">PDF</md-button>
                        <md-button class="md-raised" ng-click="gerarPlanilha()" aria-label="Excel">Excel</md-button>
                    </h2>
                </md-toolbar>

                <md-content class="Body">
                    <md-card>
                        <table>

                            <tr>
                                <th>Patio Origem</th>
                                <th>Patio Destino</th>
                                <th>NCV</th>
                                <th>Placa</th>
                                <th>Data de Apreensão</th>
                                <th>Marca/Modelo</th>
                                <th>Cor</th>
                                <th>Ano</th>
                                <th>Recebidos</th>
                            </tr>
                            <tr ng-repeat="Dados in dadosList" class="Result">
                                <td>{{Dados.patio}}</td>
                                <td>{{Dados.patio_destino}}</td>
                                <td>{{Dados.id}}</td>
                                <td>{{Dados.placa}}</td>
                                <td>{{Dados.data_apreensao || 0}}</td>
                                <td>{{Dados.marca_modelo}}</td>
                                <td>{{Dados.cor}}</td>
                                <td>{{Dados.ano}}</td>
                              
                                <td>

                                    <td>
                                        <input type="checkbox" name="selecionado" aria-label="selecionado" ng-disabled="(isCanceled || isRecebido)"
                                            ng-model="Dados.selecionado" ng-change="SeparacaoPeriodo.gravaConfirmacao(Dados,Dado)">
                                    </td>
    

                                </td>

                            </tr>
                        </table>
                        <md-button type="submit" class="md-raised" md-colors="{background:'teal'}"
                        md-colors-watch="false" ng-click="SeparacaoPeriodo.confirmarTransferencia(dadosList)" ng-hide="(isCanceled || isRecebido)">
                        CONFIRMAR RECEBIMENTO DE TRANSFERENCIA
                    </md-button>

                    </md-card>
                </md-content>

            </section>

        </md-tab>

    </md-tabs>

</div>

</div>

<script type="text/ng-template" id="cancelar-transferencia.html">

    <md-dialog style="width:600px;height:300px;">
        <md-dialog-content>
         

            <div style=" text-align: center; margin-left: 10px; margin-right:10px" >
                <br>
               <label> Cancelar Transferência</label>
               <br><br>
                <md-input-container class="md-block" style="text-align:left">
                    <label>Motivo do Cancelamento</label>
                    <textarea ng-model="dados.motivo_cancelamento" md-maxlength="150" rows="3" md-select-on-focus></textarea>
                </md-input-container>
            </div>
            <br>
        </md-dialog-content>
        <md-dialog-actions style=" margin-bottom: 5px;">
            <md-button class="md-raised md-primary" ng-click="cancelar_transferencia()">CONFIRMAR</md-button>
            <md-button class="md-raised md-primary" ng-click="fechar()">FECHAR</md-button>
        </md-dialog-actions>
    </md-dialog>
</script>