<div class="doc-demo-content doc-content">

    <md-content flex>
      <md-card layout-padding>
        <form name="usuarioEditForm" ng-submit="usuarioEditForm.$valid && usuarioEdit(usuario)" novalidate="novalidate">
            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Nome</label>
                    <input ng-required="true" type="text" name="first_name" ng-model="usuario.first_name" />
                    <div ng-messages="usuarioEditForm.first_name.$error" role="alert">
                    <div ng-message-exp="['required']">
                        Campo Obrigatório.
                    </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                    <label>Login</label>
                    <input ng-required="true" type="text" name="login" ng-model="usuario.login" />
                    <div ng-messages="usuarioEditForm.login.$error" role="alert">
                    <div ng-message-exp="['required']">
                        Campo Obrigatório.
                    </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                    <label>Apelido</label>
                    <input ng-required="true" type="text" name="apelido" ng-model="usuario.apelido" />
                    <div ng-messages="usuarioEditForm.apelido.$error" role="alert">
                    <div ng-message-exp="['required']">
                        Campo Obrigatório.
                    </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                    <label>Email</label>
                    <input ng-required="true" type="email" name="email" ng-model="usuario.email" />
                    <div ng-messages="usuarioEditForm.email.$error" role="alert">
                    <div ng-message-exp="['required']">
                        Campo Obrigatório.
                    </div>
                    </div>
                </md-input-container>
            </div>
          
            
            <div layout-gt-sm="row">
                <div class="md-block" flex-gt-sm style="margin-top: 17px;">
                    <md-datepicker ng-model="usuario.nascimento" md-placeholder="Nascimento"></md-datepicker>
                </div>

                <md-input-container class="md-block" flex-gt-sm >
                    <label>Senha</label>
                    <input ng-required="true" type="password" name="senha" ng-model="usuario.senha" />
                    <div ng-messages="usuarioEditForm.senha.$error" role="alert">
                    <div ng-message-exp="['required']">
                        Campo Obrigatório.
                    </div>
                    </div>
                </md-input-container>
                
                <md-input-container class="md-block" flex-gt-sm >
                    <label>Cargo</label>
                    <md-select placeholder="Cargo" required ng-required="true" name="cargo" ng-model="usuario.cargo">
                        <md-option value="administrador">ADMINISTRADOR</md-option>
                        <md-option value="gerente">GERENTE</md-option>
                        <md-option value="gerente operacional">GERENTE OPERACIONAL</md-option>
                        <md-option value="atendente operacional">ATENDENTE OPERACIONAL</md-option>
                        <md-option value="auxiliar de escritorio">AUXILIAR DE ESCRITÓRIO</md-option>
                        <md-option value="financeiro">FINANCEIRO</md-option>
                    </md-select>
                    <div ng-messages="usuarioEditForm.cargo.$error" class="errors">
                        <div ng-message="required">
                        Campo Obrigatório.
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm >
                    <label>Acesso</label>
                    <md-select placeholder="Acesso" required ng-required="true" name="acesso" ng-model="usuario.acesso">
                        <md-option value="admin">admin</md-option>
                        <md-option value="usuario">usuario</md-option>
                        <md-option value="consulta">consulta</md-option>
                    </md-select>
                    <div ng-messages="usuarioEditForm.acesso.$error" class="errors">
                        <div ng-message="required">
                        Campo Obrigatório.
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm >
                    <label>Ativo</label>
                    <md-select placeholder="Ativo" required ng-required="true" name="locale" ng-model="usuario.locale">
                        <md-option value="1">SIM</md-option>
                        <md-option value="2">NÃO</md-option>
                    </md-select>
                    <div ng-messages="usuarioEditForm.locale.$error" class="errors">
                        <div ng-message="required">
                        Campo Obrigatório.
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm >
                    <label>Ultimo Acesso</label>
                    <input ng-required="true" type="text" name="ultimo_acesso" ng-model="usuario.ultimo_acesso" />
                    <div ng-messages="usuarioEditForm.ultimo_acesso.$error" role="alert">
                    <div ng-message-exp="['required']">
                        Campo Obrigatório.
                    </div>
                    </div>
                </md-input-container>
            
            </div>

            <md-input-container class="md-block">
                <label>Observação</label>
                <textarea ng-model="usuario.obs" md-maxlength="150" rows="3" md-select-on-focus></textarea>
            </md-input-container>
          
  
            <div>
                <md-button type="submit" class="md-raised md-primary">Editar</md-button>
                <md-button class="md-raised" ng-click="paginaAnterior()" aria-label="Voltar">Voltar</md-button>
            </div>
  
        </form>

        <div layout-gt-sm="column" >        
            <p>Marque os pátios que este usuário pode ter acesso</p>
            
            <md-checkbox md-no-ink aria-label="Seccional Ourinhos" class="md-primary md-block">
                    Seccional Ourinhos
            </md-checkbox>

            <md-checkbox md-no-ink aria-label="Seccional Ourinhos" class="md-primary md-block">
                    Seccional Ourinhos
            </md-checkbox>

            <md-checkbox md-no-ink aria-label="Seccional Ourinhos" class="md-primary md-block">
                    Seccional Ourinhos
            </md-checkbox>

            <md-checkbox md-no-ink aria-label="Seccional Ourinhos" class="md-primary md-block">
                    Seccional Ourinhos
            </md-checkbox>
            
            
        </div>
      </md-card>
    </md-content>
  
  </div>