<div class="doc-demo-content doc-content">

    <md-content flex>
      <md-card layout-padding>
        <form name="usuarioEditForm" ng-submit="usuarioEditForm.$valid && gravar(usuario,patio)" novalidate="novalidate">

        <md-content flex style="background: white">  
            <br>
            <br>
            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Nome</label>
                    <input ng-required="true" type="text" name="nome" ng-model="usuario.nome" ng-change="usuario.nome = (usuario.nome | uppercase)"/>
                    <div ng-messages="usuarioEditForm.nome.$error" role="alert">
                    <div ng-message-exp="['required']">
                        Campo Obrigatório.
                    </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                    <label>Login</label>
                    <input ng-required="true" type="text" name="login" ng-model="usuario.login" ng-change="usuario.login = (usuario.login | lowercase)"/>
                    <div ng-messages="usuarioEditForm.login.$error" role="alert">
                    <div ng-message-exp="['required']">
                        Campo Obrigatório.
                    </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                    <label>Apelido</label>
                    <input ng-required="false" type="text" name="apelido" ng-model="usuario.apelido" ng-change="usuario.apelido = (usuario.apelido | uppercase)"/>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                    <label>Senha</label>
                    <input ng-required="true" type="password" name="senha" ng-model="usuario.senha" disabled />
                    <div ng-messages="usuarioEditForm.senha.$error" role="alert">
                      <div ng-message-exp="['required']">
                        Campo Obrigatório.
                      </div>
                    </div>
                </md-input-container>  

            </div>
          
            
            <div layout-gt-sm="row">
                <div class="md-block" flex-gt-sm style="margin-top: 17px;">
                    <md-datepicker ng-model="usuario.nascimento" md-placeholder="Nascimento"></md-datepicker>
                </div>

                <md-input-container class="md-block" flex-gt-sm >
                    <label>Cargo</label>
                    <md-select placeholder="Cargo" required ng-required="true" name="cargo" ng-model="usuario.cargo">
                        <md-option value="administrador">ADMINISTRADOR</md-option>
                        <md-option value="gerente">GERENTE</md-option>
                        <md-option value="gerente operacional">GERENTE OPERACIONAL</md-option>
                        <md-option value="atendente operacional">ATENDENTE OPERACIONAL</md-option>
                        <md-option value="auxiliar de escritorio">AUXILIAR DE ESCRITÓRIO</md-option>
                        <md-option value="financeiro">FINANCEIRO</md-option>
                        <md-option value="outros">OUTROS</md-option>
                    </md-select>
                    <div ng-messages="usuarioEditForm.cargo.$error" class="errors">
                        <div ng-message="required">
                        Campo Obrigatório.
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm >
                    <label>Acesso</label>
                    <md-select placeholder="Acesso" required ng-required="true" name="tipo" ng-model="usuario.tipo">
                        <md-option value="admin">admin</md-option>
                        <md-option value="cco">CCO</md-option>
                        <md-option value="usuario">usuario</md-option>
                        <md-option value="consulta">consulta</md-option>
                        <md-option value="consulta contabil">consulta contabil</md-option>
                        <md-option value="app autoridade">app autoridade</md-option>
                        <md-option value="app motorista">app motorista</md-option>
                    </md-select>
                    <div ng-messages="usuarioEditForm.tipo.$error" class="errors">
                        <div ng-message="required">
                        Campo Obrigatório.
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm >
                    <label>Ativo</label>
                    <md-select placeholder="Ativo"  required ng-required="true" name="ativo" ng-model="usuario.ativo">
                        <md-option value="1">SIM</md-option>
                        <md-option value="0">NÃO</md-option>
                    </md-select>
                    <div ng-messages="usuarioEditForm.ativo.$error" class="errors">
                        <div ng-message="required">
                        Campo Obrigatório.
                        </div>
                    </div>
                </md-input-container>
             
            
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Email</label>
                    <input ng-required="false" type="email" name="email" ng-model="usuario.email" />
                </md-input-container>
            </div>

            <div layout-gt-sm="row">

                <md-input-container class="md-block" flex-gt-sm >
                    <label>Apagar fotos/docs</label>
                    <md-select placeholder="Apagar fotos/docs"  required ng-required="false" name="apagar_docs_fotos" ng-model="usuario.apagar_docs_fotos">
                        <md-option value="SIM">SIM</md-option>
                        <md-option value="NÃO">NÃO</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm >
                    <label>Alterar Liberação</label>
                    <md-select placeholder="Alterar Liberação"  required ng-required="false" name="alterar_liberacao" ng-model="usuario.alterar_liberacao">
                        <md-option value="SIM">SIM</md-option>
                        <md-option value="NÃO">NÃO</md-option>
                    </md-select>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm >
                    <label>Altera Tipo/Situação</label>
                    <md-select placeholder=" Altera Tipo/Situação"  required ng-required="false" name="tipo_situacao" ng-model="usuario.tipo_situacao">
                        <md-option value="1">SIM</md-option>
                        <md-option value="0">NÃO</md-option>
                    </md-select>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm >
                    <label>Internet/Checklist</label>
                    <md-select placeholder="Internet/Checklist"  name="tiponet" ng-model="usuario.tiponet">
                        <md-option value="WIFI">WIFI</md-option>
                        <md-option value="TODAS">TODAS</md-option>
                    </md-select>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm >
                    <label>Altera Status</label>
                    <md-select placeholder="Altera Status"  required ng-required="false" name="status_ncv" ng-model="usuario.status_ncv" >
                        <md-option value="1">SIM</md-option>
                        <md-option value="0">NÃO</md-option>
                    </md-select>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm >
                    <label>Ajustes Logistica</label>
                    <md-select placeholder="Ajustes Logistica"  required ng-required="false" name="ajustes_logistica" ng-model="usuario.ajuste_logistica" >
                        <md-option value="1">SIM</md-option>
                        <md-option value="0">NÃO</md-option>
                    </md-select>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm >
                    <label>Alterar No pátio</label>
                    <md-select placeholder="Alterar No Pátio"  required ng-required="false" name="altera_no_patio" ng-model="usuario.altera_no_patio" >
                        <md-option value="1">SIM</md-option>
                        <md-option value="0">NÃO</md-option>
                    </md-select>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm >
                    <label>Altera Local. Leilão</label>
                    <md-select placeholder="Altera Local. Leilão"  required ng-required="false" name="altera_localizado_leilao" ng-model="usuario.altera_localizado_leilao" >
                        <md-option value="1">SIM</md-option>
                        <md-option value="0">NÃO</md-option>
                    </md-select>
                </md-input-container>


            </div>



            <md-input-container class="md-block">
                <label>Observação</label>
                <textarea ng-model="usuario.observacao" md-maxlength="150" rows="3" md-select-on-focus></textarea>
            </md-input-container>

            <div>
                <md-button type="submit" class="md-raised md-primary">Gravar Usuário</md-button>
                <md-button class="md-raised" ng-click="paginaAnterior()" aria-label="Voltar">Voltar</md-button>
            </div>
            
            <div style="display:none"> 
                <input  type="text" name="id" ng-model="usuario.idUsuario" />
            </div>
          
        </md-content flex>            

      </form>
      </md-card>
    </md-content>        
  </div>