<div class="doc-demo-content doc-content">
        <md-content layout-xs="column" layout-gt-sm="row" layout-sm="column">
          <md-card layout-padding flex-gt-sm layout="column" flex-order="1" flex-order-gt-sm="1">
            <md-subheader class="md-no-sticky">FILTRAR DADOS</md-subheader>
            <md-divider></md-divider>
            <form name="usuarioEditForm" ng-submit="usuarioEditForm.$valid && usuarioEdit(usuario)" novalidate="novalidate">
              
              <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm >
                  <label>Pátio</label>
                  <md-select placeholder="Pátio" required ng-required="true" name="patio" ng-model="usuario.patio">
                    <md-option ng-repeat="patio in patios" ng-value="patio.id">
                      {{patio.nome}}
                     </md-option>
                  </md-select>      
                </md-input-container>
               
                <md-input-container class="md-block" flex-gt-sm >
                  <label>Nome do Usuário</label>
                  <input type="text" name="nome" ng-model="usuario.nome" />
                </md-input-container>
      
                <md-input-container class="md-block" flex-gt-sm >
                  <label>Ativo</label>
                  <md-select placeholder="Ativo" ng-required="false" name="ativo" ng-model="usuario.ativo">
                    <md-option value="1">SIM</md-option>
                    <md-option value="0">NÃO</md-option>
                  </md-select>
                </md-input-container>

      
                <div class="md-block" flex-gt-sm >
                  <span>Ordenação</span>
                  <md-radio-group  layout="row" class="md-block" ng-model="usuario.ordenacao" ng-init="dados.ordenacao='asc'">
                    <md-radio-button value="asc" class="md-primary">Asc</md-radio-button>
                    <md-radio-button value="desc">Desc</md-radio-button>
                  </md-radio-group>
                </div>
                
              </div>
              
              <div>
                <md-button class="md-raised" md-colors="{background:'teal'}" md-colors-watch="false" ng-click="pesquisar($event)">Filtrar</md-button>
                <md-button class="md-raised" aria-label="Limpar" ng-click="limpar($event)">Limpar</md-button>
                <md-button class="md-raised md-primary" aria-label="Adicionar" ng-click="novo($event)">Novo</md-button>
              </div>
      
            </form>
          </md-card>
        </md-content>
        
      
        <section  class="md-whiteframe-z1 " ng-cloak layout="column" >
          
            <md-toolbar class="md-theme-light" >
              <h2 class="md-toolbar-tools">
                <span>{{list.length}} Registros</span>
                <span flex></span>
                <md-button class="md-raised" aria-label="PDF"  ng-click="PDF($event)">PDF</md-button>
                <md-button class="md-raised" aria-label="Excel" ng-click="gerarPlanilha()">Excel</md-button>
              </h2>
            </md-toolbar>
      
            <mdt-table paginated-rows="{isEnabled: true, rowsPerPageValues: [20,50, 100]}" 
                        animate-sort-icon="true"
                        mdt-row="{
                                  'data': dadosList,
                                  'table-row-id-key': 'id',
                                  'column-keys': ['foto', 'id', 'nome', 'login', 'tipo', 'desc_ativo', 'editar', 'apagar']
                        }"
              >
              <mdt-custom-cell column-key="foto">
                <img ng-src="{{value}}?20" class="md-avatar" alt="Foto" width="40" style="border-radius: 50%;" />
              </mdt-custom-cell>
              <mdt-custom-cell column-key="editar">
                <mdt-custom-cell-button icon='edit' class="md-icon-button md-secondary" ng-click="clientScope.detalhe($event, rowId)" aria-label="Editar"></md-custom-cell-button>
              </mdt-custom-cell>
              <mdt-custom-cell column-key="apagar">
                <mdt-custom-cell-button icon='delete_forever' class="md-icon-button md-secondary" ng-click="clientScope.excluir($event, rowId)" aria-label="Excluir"></md-custom-cell-button>
              </mdt-custom-cell>
      
              <mdt-header-row>
                <mdt-column align-rule="left" column-sort="false">Foto</mdt-column>
                <mdt-column align-rule="left" column-sort="false">#</mdt-column>
                <mdt-column align-rule="left" column-sort="false">Nome</mdt-column>
                <mdt-column align-rule="left" column-sort="false">Login</mdt-column>
                <mdt-column align-rule="left" column-sort="false">Tipo</mdt-column>
                <mdt-column align-rule="left" column-sort="false">Ativo</mdt-column>
                <mdt-column align-rule="left" column-sort="false">Editar</mdt-column>
                <mdt-column align-rule="left" column-sort="false">Apagar</mdt-column>  
              </mdt-header-row>
              
              
            </mdt-table>
          
        </section>
      
      </div>