<link rel="stylesheet" href="/assets/css/ncvImages.css"> 

<link rel="stylesheet" href="/assets/css/CustomForms.css">

<div class="doc-demo-content doc-content">
    <md-content flex>
      <md-card layout-padding>
        <form name="editForm" ng-submit="editForm.$valid && gravar(dados)" novalidate="novalidate">
        <md-tabs md-dynamic-height md-border-bottom>        
        <md-tab label="Dados Veiculo">
        <md-content flex style="background: white">  
        <br>
        <br>
        
        <div layout-gt-sm="row" >
              
          <md-input-container class="md-block" flex-gt-sm>
            
            <label>Nome Empresa</label>
            <md-select placeholder="Empresa" required ng-required="true" name="empresa" ng-model="dados.empresa">
              <md-option ng-repeat="empresa in empresas" ng-value="empresa.id">
                  {{empresa.nome_empresa}}
              </md-option>
            </md-select>
            <div ng-messages="editForm.empresa.$error" class="errors">
              <div ng-message="required">
                Campo Obrigatório.
              </div>
            </div>
          </md-input-container>
  
        <md-input-container class="md-block" flex-gt-sm>
          <label>Descrição</label>
          <input ng-required="true" type="text"  name="descricao" ng-model="dados.descricao" ng-change="dados.descricao = (dados.descricao | uppercase)"/>
          <div ng-messages="editForm.descricao.$error" role="alert">
            <div ng-message-exp="['required']">
              Campo Obrigatório.
            </div>
          </div>
        </md-input-container> 
        
        <md-input-container class="md-block" >
          <label>Placa</label>
          <input ng-required="true" type="text" style="width: 200px" name="placa" ng-model="dados.placa" />
          <div ng-messages="editForm.placa.$error" role="alert">
            <div ng-message-exp="['required']">
              Campo Obrigatório.
            </div>
          </div>
        </md-input-container>
  
      </div>
  
  
      <div layout-gt-sm="row" >
  
        <md-input-container class="md-block" flex-gt-sm>
          <label>Chassi</label>
          <input ng-required="true" type="text" name="chassi" ng-model="dados.chassi" />
          <div ng-messages="editForm.chassi.$error" role="alert">
            <div ng-message-exp="['required']">
              Campo Obrigatório.
            </div>
          </div>
        </md-input-container>
  
        <md-input-container class="md-block" flex-gt-sm>
          <label>Tipo</label>
          <md-select placeholder="Tipo"  required ng-required="true" name="tipo" ng-model="dados.tipo">
            <md-option value="LEVE">LEVE</md-option>
            <md-option value="PESADO">PESADO</md-option>
            <md-option value="PICKUP">PICKUP</md-option>
            <md-option value="CARRETINHA">CARRETINHA</md-option>
          </md-select>
          <div ng-messages="editForm.tipo.$error" class="errors">
            <div ng-message="required">
              Campo Obrigatório.
            </div>
          </div>
        </md-input-container>
  
        <md-input-container class="md-block" flex-gt-sm>
          <label>Categoria</label>
          <md-select placeholder="Categoria"  required ng-required="true" name="categoria" ng-model="dados.categoria">
            <md-option value="PROPRIO">PROPRIO</md-option>
            <md-option value="TERCEIRO">TERCEIRO</md-option>
          </md-select>
          <div ng-messages="editForm.categoria.$error" class="errors">
            <div ng-message="required">
              Campo Obrigatório.
            </div>
          </div>
        </md-input-container>
  
      </div>
  
      <div layout-gt-sm="row" >
  
        <md-input-container class="md-block" flex-gt-sm>
          <label>Ano Fabricação</label>
          <input ng-required="true" type="text" name="ano_fabricacao" ng-model="dados.ano_fabricacao" />
          <div ng-messages="editForm.ano_fabricacao.$error" role="alert">
            <div ng-message-exp="['required']">
              Campo Obrigatório.
            </div>
          </div>
        </md-input-container>
  
        <md-input-container class="md-block" flex-gt-sm>
          <label>Ano Modelo</label>
          <input ng-required="true" type="text" name="ano_modelo" ng-model="dados.ano_modelo" />
          <div ng-messages="editForm.ano_modelo.$error" role="alert">
            <div ng-message-exp="['required']">
              Campo Obrigatório.
            </div>
          </div>
        </md-input-container>
  
        <md-input-container class="md-block" flex-gt-sm>
          <label>Cor</label>
          <input ng-required="true" type="text" name="cor" ng-model="dados.cor" />
          <div ng-messages="editForm.cor.$error" role="alert">
            <div ng-message-exp="['required']">
              Campo Obrigatório.
            </div>
          </div>
        </md-input-container>
  
        <md-input-container class="md-block" flex-gt-sm>
          <label>Combustível</label>
          <md-select placeholder="Combustivel"  required ng-required="true" name="combustivel" ng-model="dados.combustivel">
            <md-option value="BICOMBUSTIVEL">BICOMBUSTIVEL</md-option>
                <md-option value="GASOLINA">GASOLINA</md-option>
                <md-option value="ETANOL">ETANOL</md-option>
                <md-option value="GNV">GNV</md-option>
                <md-option value="HIBRIDO">HIBRIDO</md-option>
                <md-option value="ELETRICO">ELETRICO</md-option>
          </md-select>
          <div ng-messages="editForm.combustivel.$error" class="errors">
            <div ng-message="required">
              Campo Obrigatório.
            </div>
          </div>
        </md-input-container>
  
      </div>
  
        <md-input-container class="md-block" flex-gt-sm>
          <label>Ativo</label>
          <md-select placeholder="Ativo" style="width: 20%" required ng-required="true" name="ativo" ng-model="dados.ativo">
            <md-option value="1">SIM</md-option>
            <md-option value="0">NÃO</md-option>
          </md-select>
          <div ng-messages="editForm.ativo.$error" class="errors">
            <div ng-message="required">
              Campo Obrigatório.
            </div>
          </div>
        </md-input-container>
  
        <md-input-container class="md-block">
          <label>Observação</label>
          <textarea ng-model="dados.observacao" md-maxlength="150" rows="2" md-select-on-focus></textarea>
        </md-input-container>
  
          <div>
            <md-button type="submit" class="md-raised md-primary">Gravar</md-button>
            <md-button class="md-raised" ng-click="paginaAnterior()" aria-label="Voltar">Voltar</md-button>
          </div>
        </md-content>            
        </md-tab>
        
        


  
        <md-tab label="CRLV">
          <md-content flex style="background: white">
              <br>
              <br>
              
              <div layout-gt-sm="row"  >    
                <md-input-container class="md-block" style="width: 200px">
                    <label>Vencimento CRLV</label>
                    <input ng-required="true" type="text" name="vencimento_crlv" ng-model="dados.vencimento_crlv" mask="99/99/9999"/>
                    <div ng-messages="editForm.vencimento_crlv.$error" role="alert">
                        <div ng-message-exp="['required']">
                        Campo Obrigatório.
                        </div>
                    </div>            
                </md-input-container>       
              </div>
  
                <div layout-gt-sm="row">
                  <md-button class="md-raised md-primary" title="Carregar Imagem" 
                             name="imagemDocumento"
                             ng-model="novaimagemDocumento"
                             ngf-pattern="'.pdf'"
                             ngf-accept="'.pdf'"
                             ngf-select="uploadPdfCRLV($file)"
                             ngf-capture="'camera'"
                             ngf-max-size="6MB"
                             ngf-min-height="50">BUSCAR DOCUMENTO</md-button>
  
                  </md-input-container>
                </div>
  
              <br>
  
              <div class="body">
  
                <div class="content" >
                  
                  <div class="canva">
  
                    <iframe ng-if="pdfCRLV.length > 0" ng-src="{{trustSrc(urlDocumentos+pdfCRLV)}}"  width="600px" height="400px" type="application/pdf"></iframe>
  
                  </div>
                  
                  <div class="options" ng-if="pdfCRLV.length > 0">
  
                      <button class="open">
                          <a  href="{{trustSrc(urlDocumentos+pdfCRLV)}}" target="_blanck" style="color: white;">Visualizar</a>
                      </button>
  
                      <md-button class="md-raised md-primary" ng-click="apagarPdfCRLV(pdfSeguro)" >Apagar</md-button>
  
                  </div>
  
                  <br>
                  <br>
  
                </div>
  
              </div>
        
          </md-content>            
        </md-tab>
        




        
        <md-tab label="SEGURO">
        
            <br>
            <br>
            
            <div layout-gt-sm="row"  >    
              <md-input-container class="md-block" style="width: 200px">
                  <label>Vencimento Seguro</label>
                  <input ng-required="true" type="text" name="vencimento_seguro" ng-model="dados.vencimento_seguro" mask="99/99/9999"/>
                  <div ng-messages="editForm.vencimento_seguro.$error" role="alert">
                      <div ng-message-exp="['required']">
                      Campo Obrigatório.
                      </div>
                  </div>            
              </md-input-container>       
            </div>

              <div layout-gt-sm="row">
                <md-button class="md-raised md-primary" title="Carregar Imagem" 
                           name="imagemDocumento"
                           ng-model="novaimagemDocumento"
                           ngf-pattern="'.pdf'"
                           ngf-accept="'.pdf'"
                           ngf-select="uploadPdfSeguro($file)"
                           ngf-capture="'camera'"
                           ngf-max-size="6MB"
                           ngf-min-height="50">BUSCAR DOCUMENTO</md-button>

                </md-input-container>
              </div>

            <br>

            <div class="body">

              <div class="content" >
                
                <div class="canva">

                  <iframe ng-if="pdfSeguro.length > 0" ng-src="{{trustSrc(urlDocumentos+pdfSeguro)}}"  width="600px" height="400px" type="application/pdf"></iframe>

                </div>
                
                <div class="options" ng-if="pdfSeguro.length > 0">

                    <button class="open">
                        <a href="{{trustSrc(urlDocumentos+pdfSeguro)}}" target="_blanck" style="color: white;">Visualizar</a>
                    </button>

                    <md-button class="md-raised md-primary" ng-click="apagarPdfSeguro(pdfSeguro)" >Apagar</md-button>

                </div>

                <br>
                <br>

              </div>

            </div>


                   
        </md-tab>          
        </md-tabs>              
        </form>
      </md-card>
    </md-content>
  </div>  