<div class="doc-demo-content doc-content">
    <md-content flex>
      <md-card layout-padding >
        <form name="editForm" ng-submit="editForm.$valid && gravar(dados)" novalidate="novalidate">
          <md-tabs md-dynamic-height md-border-bottom>        
          <md-tab label="Dados Veiculo">
          <md-content flex style="background: white">  
          <br>
          <br>    
    
            <div layout-gt-sm="row"  >
              
                <md-input-container class="md-block" flex-gt-sm>
                    <label>NOME EMPRESA</label>
                    <md-select placeholder="Nome Empresa" name="empresa" ng-required="true" ng-model="dados.id_empresa">
                      <md-option  ng-repeat="empresa in empresas" ng-value="empresa.id">
                          {{empresa.nome_empresa}}
                      </md-option>
                    </md-select>
                </md-input-container>
  
            <md-input-container class="md-block" flex-gt-sm>
              <label>Descrição Veiculo</label>
              <input ng-required="true" type="text" name="descricao" ng-model="dados.descricao" ng-change="dados.descricao = (dados.descricao | uppercase)"/>
              <div ng-messages="editForm.descricao.$error" role="alert">
                <div ng-message-exp="['required']">
                  Campo Obrigatório.
                </div>
              </div>
            </md-input-container> 
            
            <md-input-container class="md-block" >
              <label>Placa</label>
              <input ng-required="true" type="text" style="width: 200px" name="placa" ng-model="dados.placa" />
              <div ng-messages="editForm.placa.$error" role="alert">
                <div ng-message-exp="['required']">
                  Campo Obrigatório.
                </div>
              </div>
            </md-input-container>
  
          </div>
  
  
          <div layout-gt-sm="row" >
  
            <md-input-container class="md-block" flex-gt-sm>
              <label>Chassi</label>
              <input ng-required="true" type="text" name="chassi" ng-model="dados.chassi" />
              <div ng-messages="editForm.chassi.$error" role="alert">
                <div ng-message-exp="['required']">
                  Campo Obrigatório.
                </div>
              </div>
            </md-input-container>
  
            <md-input-container class="md-block" flex-gt-sm>
              <label>Tipo</label>
              <md-select placeholder="Tipo"  required ng-required="true" name="tipo" ng-model="dados.tipo">
                <md-option value="LEVE">LEVE</md-option>
                <md-option value="PESADO">PESADO</md-option>
                <md-option value="PICKUP">PICKUP</md-option>
                <md-option value="CARRETINHA">CARRETINHA</md-option>
              </md-select>
              <div ng-messages="editForm.tipo.$error" class="errors">
                <div ng-message="required">
                  Campo Obrigatório.
                </div>
              </div>
            </md-input-container>
  
            <md-input-container class="md-block" flex-gt-sm>
              <label>Categoria</label>
              <md-select placeholder="Categoria"  required ng-required="true" name="categoria" ng-model="dados.categoria">
                <md-option value="PROPRIO">PROPRIO</md-option>
                <md-option value="TERCEIRO">TERCEIRO</md-option>
              </md-select>
              <div ng-messages="editForm.categoria.$error" class="errors">
                <div ng-message="required">
                  Campo Obrigatório.
                </div>
              </div>
            </md-input-container>
  
          </div>
  
          <div layout-gt-sm="row" >
  
            <md-input-container class="md-block" flex-gt-sm>
              <label>Ano Fabricação</label>
              <input ng-required="true" type="text" name="ano_fabricacao" ng-model="dados.ano_fabricacao" />
              <div ng-messages="editForm.ano_fabricacao.$error" role="alert">
                <div ng-message-exp="['required']">
                  Campo Obrigatório.
                </div>
              </div>
            </md-input-container>
  
            <md-input-container class="md-block" flex-gt-sm>
              <label>Ano Modelo</label>
              <input ng-required="true" type="text" name="ano_modelo" ng-model="dados.ano_modelo" />
              <div ng-messages="editForm.ano_modelo.$error" role="alert">
                <div ng-message-exp="['required']">
                  Campo Obrigatório.
                </div>
              </div>
            </md-input-container>
  
            <md-input-container class="md-block" flex-gt-sm>
              <label>Cor</label>
              <input ng-required="true" type="text" name="cor" ng-model="dados.cor" />
              <div ng-messages="editForm.cor.$error" role="alert">
                <div ng-message-exp="['required']">
                  Campo Obrigatório.
                </div>
              </div>
            </md-input-container>
  
            <md-input-container class="md-block" flex-gt-sm>
              <label>Combustível</label>
              <md-select placeholder="Combustivel"  required ng-required="true" name="combustivel" ng-model="dados.combustivel">
                <md-option value="BICOMBUSTIVEL">BICOMBUSTIVEL</md-option>
                <md-option value="GASOLINA">GASOLINA</md-option>
                <md-option value="ETANOL">ETANOL</md-option>
                <md-option value="GNV">GNV</md-option>
                <md-option value="HIBRIDO">HIBRIDO</md-option>
                <md-option value="ELETRICO">ELETRICO</md-option>
                
              </md-select>
              <div ng-messages="editForm.combustivel.$error" class="errors">
                <div ng-message="required">
                  Campo Obrigatório.
                </div>
              </div>
            </md-input-container>
  
          </div>
  
            <md-input-container class="md-block" flex-gt-sm>
              <label>Ativo</label>
              <md-select placeholder="Ativo" style="width: 20%" required ng-required="true" name="ativo" ng-model="dados.ativo">
                <md-option value="1">SIM</md-option>
                <md-option value="0">NÃO</md-option>
              </md-select>
              <div ng-messages="editForm.ativo.$error" class="errors">
                <div ng-message="required">
                  Campo Obrigatório.
                </div>
              </div>
            </md-input-container>

            <br>
  
            <md-input-container class="md-block">
              <label>Observação</label>
              <textarea ng-model="dados.observacao" md-maxlength="150" rows="2" md-select-on-focus></textarea>
            </md-input-container>
  
            <div>
              <md-button type="submit" ng-disabled="isDisabled" class="md-raised md-primary">Gravar</md-button>
              <md-button class="md-raised" ng-click="paginaAnterior()" aria-label="Voltar">Voltar</md-button>
            </div>
          </md-content>            
          </md-tab>
  
  
              
          </md-tabs>          
        </form>
      </md-card>
    </md-content>
  </div>