<style>
    .field-padrao {
        border: 1px solid #aaa;
    }

    .field-padrao .header > div {
        font-size: 12px;
        color: #667;
    }

    .header md-input-container{
        padding: 0;
        margin: 0;
    }
</style>
<div class="doc-demo-content doc-content" ng-init="init()">
    <md-content layout-xs="column" layout-gt-sm="row" layout-sm="column">
        <md-card layout-padding flex-gt-sm layout="column">
            <form name="editForm" ng-submit="editForm.$valid && pesquisar()" novalidate="novalidate">
                <div layout="row" layout-sm="column">

                    <md-input-container flex="" style="max-width:300px">
                        <label>FILTRO</label>
                        <md-select placeholder="SELECIONE" name="opcoesDeFiltro" ng-model="filtro" ng-change="operadoresDisponiveisLoad()">
                            <md-option ng-repeat="x in opcoesDeFiltro" ng-value="x">
                                {{x.label}}
                            </md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container flex="" style="max-width:250px">
                        <label>CONDIÇÃO</label>
                        <md-select placeholder="SELECIONE" name="operador" ng-model="operador">
                            <md-option ng-repeat="x in operadoresDisponiveis" ng-value="x">
                                {{x.label}}
                            </md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container flex="" ng-if="filtro.field === 'id_patio'">
                        <label>PÁTIO</label>
                        <md-select placeholder="{{filtro.label}}"
                                   name="filtro.valor01"
                                   ng-model="filtro.valor01">
                            <md-option ng-repeat="p in patios" ng-value="p.id">
                                {{p.nome}}
                            </md-option>
                        </md-select>
                    </md-input-container>          

                    <md-input-container flex="" ng-if="filtro.field === 'patio_destino'">
                        <label>PÁTIO DESTINO</label>
                        <md-select placeholder="{{filtro.label}}"
                                   name="filtro.valor01"
                                   ng-model="filtro.valor01">
                            <md-option ng-repeat="p in patios" ng-value="p.id">
                                {{p.nome}}
                            </md-option>
                        </md-select>
                    </md-input-container>          

                    <md-input-container flex="" ng-if="filtro.field === 'status'">
                        <label>STATUS</label>
                        <md-select placeholder="Status" name="filtro.valor01" ng-model="filtro.valor01">
                            <md-option value="LIBERADO">LIBERADO</md-option>
                            <md-option value="LIBERADO ARR">LIBERADO ARR</md-option>
                            <md-option value="APREENDIDO">APREENDIDO</md-option>
                            <md-option value="INATIVO">INATIVO</md-option>
                            <md-option value="CANCELADO">CANCELADO</md-option>
                            <md-option value="LEILOADO">LEILOADO</md-option>                            
                        </md-select>
                    </md-input-container>

                    <md-input-container flex="" ng-if="filtro.field === 'tipo'">
                        <label>TIPO</label>
                        <md-select placeholder="Tipo" name="filtro.valor01" ng-model="filtro.valor01">
                            <md-option value="ADMINISTRATIVO">ADMINISTRATIVO</md-option>
                            <md-option value="JUDICIAL">JUDICIAL</md-option>
                            <md-option value="RENAJUD">RENAJUD</md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container flex="" ng-if="filtro.field === 'situacao'">
                        <label>SITUAÇĀO</label>
                        <md-select placeholder="Situacao" name="filtro.valor01" ng-model="filtro.valor01">
                            <md-option value="PREPARAÇÃO">PREPARAÇÃO</md-option>
                            <md-option value="OFICIO">OFICIO</md-option>
                            <md-option value="LEILOADO">LEILOADO</md-option>
                            <md-option value="IRREGULAR">IRREGULAR</md-option>
                            <md-option value="REGULAR">REGULAR</md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container flex="" ng-if="filtro.field === 'no_patio'">
                        <label>NO PÁTIO</label>
                        <md-select placeholder="No Pátio" name="filtro.valor01" ng-model="filtro.valor01">
                            <md-option value="1">SIM</md-option>
                            <md-option value="0">NÃO</md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container flex="" ng-if="filtro.field === 'localizado_leilao'">
                        <label>LOCALIZADO LEILÃO</label>
                        <md-select placeholder="Localizado Leilão" name="filtro.valor01" ng-model="filtro.valor01">
                            <md-option value="1">SIM</md-option>
                            <md-option value="0">NÃO</md-option>
                        </md-select>
                    </md-input-container>

                    <!-- AQUI BOTÃO -->
                    <md-button class="md-fab md-mini md-primary" ng-disabled="isEmpty(filtro) || isEmpty(operador)"
                               ng-click="addFiltro()">
                        <i class="fa fa-plus"></i>
                    </md-button>

                    <div style="margin-top: 20px;margin-left: 20px;">
                        <md-checkbox  ng-model="filtro.estoque_real" aria-label="Checkbox 1">
                            Estoque Real
                        </md-checkbox>          
                    </div>

                </div>


                <fieldset class="standard field-padrao" ng-show="!isEmpty(filtros)">
                    <legend style="color: #999">Filtro(s)</legend>
                    <div ng-repeat="x in filtros">
                        <div layout="row" layout-xs="column" class="content">
                            <div flex="">
                                <span ng-bind="x.filtro.label"></span>
                            </div>
                            <div flex="">
                                <span>
                                    {{x.operador.label}}
                                </span>
                            </div>
                            <div flex="">
                                <span ng-show="x.filtro.operador === 'date'">
                                    <span ng-bind="x.filtro.valor01 | date : 'dd / MM / yyyy'"></span> 
                                </span>
                                <span ng-show="x.filtro.operador !== 'date'">
                                    <span ng-bind="x.filtro.valor01"></span> 
                                </span>
                                <span ng-show="x.operador.value === 'BETWEEN'">
                                    - e - 
                                    <span ng-show="x.filtro.operador === 'date'">
                                        <span ng-bind="x.filtro.valor02 | date : 'dd / MM / yyyy'"></span> 
                                    </span>
                                    <span ng-show="x.filtro.operador !== 'date'">
                                        <span ng-bind="x.filtro.valor02"></span> 
                                    </span>
                                </span> 
                            </div>
                            <div flex="" style="max-width: 40PX">
                                <a href class="md-fat md-warn" ng-click="removeFiltro($index)" style="margin-top: 20px;">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <!-- BOTOES -->
                <div>
                    <!--                    <md-button class="md-raised md-primary" aria-label="Adicionar" ng-click="mesAtual($event)">Mês Atual</md-button>          -->
                    <md-button class="md-raised" aria-label="Limpar" ng-click="limpar($event)">Limpar</md-button>
                    <md-button type="submit" class="md-raised" md-colors="{background:'teal'}" md-colors-watch="false" ng-show="!isEmpty(filtros)">Filtrar</md-button>
                </div>
            </form>
        </md-card>
    </md-content>
    


    
   
    <section  class="md-whiteframe-z1 " ng-cloak layout="column">
        
        <div class="myDivClass">

            <md-toolbar class="md-theme-light" >
                <h2 class="md-toolbar-tools">
                    <span>{{dados.length}} Registros</span>
                    <span flex></span>
                    <md-button class="md-raised" aria-label="Excel" ng-click="gerarPdf()" >Gerar PDF</md-button>
                    <md-button class="md-raised" aria-label="Excel" ng-click="gerarPlanilha()" >Gerar Planilha</md-button>
                </h2>
            </md-toolbar>
          
            <mdt-table paginated-rows="{isEnabled: true, rowsPerPageValues: [20,50, 100]}"
                animate-sort-icon="true"
                mdt-row="{
                            'data': dados,
                            'table-row-id-key': 'NCV',
                            'column-keys': ['NCV', 'PLACA','MARCA_MODELO','ANO','COR', 'placa_uf',
                                            'STATUS','tipo','situacao','APREENSAO', 'PATIO', 'patio_destino', 'no_patio', 'localizado_leilao']
                        }"
                >
          
                <mdt-custom-cell column-key="no_patio" >
                    <select ng-hide="hideCheck($event, rowId)" ng-model="noPatio" name="no_patio" 
                        aria-label="Checkbox 1" title="Informa se o veículo está no pátio" class="ncv-no-patio"
                        ng-disabled="clientScope.alterarNoPatio" ng-change="clientScope.informaPatio($event, rowId)">

                        <option value="1" ng-selected="clientScope.checkboxDetalhe($event, rowId)">SIM</option>
                        <option value="0" ng-selected="!clientScope.checkboxDetalhe($event, rowId)">NÃO</option>
                    </select> 
                </mdt-custom-cell>

         
                <mdt-custom-cell column-key="localizado_leilao" >
                    <select ng-hide="hideCheck($event, rowId)" ng-model="localizadoLeilao" name="localizado_leilao" 
                        aria-label="Checkbox 1" title="Informa se o veículo foi localizado pelo setor de leilão" class="ncv-no-patio"
                        ng-disabled="clientScope.alteraLocalizadoLeilao" ng-change="clientScope.informaLocalizadoLeilao($event, rowId)">

                        <option value="1" ng-selected="clientScope.checkboxLocalizado($event, rowId)">SIM</option>
                        <option value="0" ng-selected="!clientScope.checkboxLocalizado($event, rowId)">NÃO</option>
                    </select> 
                </mdt-custom-cell>
          
         
                <mdt-header-row>
                    <mdt-column align-rule="left" column-sort="false">NCV</mdt-column>
                    <mdt-column align-rule="left" column-sort="false">Placa</mdt-column>
                    <mdt-column align-rule="left" column-sort="false">Marca/Modelo</mdt-column>
                    <mdt-column align-rule="left" column-sort="false">Ano</mdt-column>
                    <mdt-column align-rule="left" column-sort="false">Cor</mdt-column>
                    <mdt-column align-rule="left" column-sort="false">UF</mdt-column>
                    <mdt-column align-rule="left" column-sort="false">Status</mdt-column>
                    <mdt-column align-rule="left" column-sort="false">Tipo</mdt-column>
                    <mdt-column align-rule="left" column-sort="false">Situação</mdt-column>
                    <mdt-column align-rule="left" column-sort="false">Apreensao</mdt-column>
                    <mdt-column align-rule="left" column-sort="false">Pátio</mdt-column>
                    <mdt-column align-rule="left" column-sort="false">Pátio Destino</mdt-column>  
                    <mdt-column align-rule="left" column-sort="false">No Pátio</mdt-column>
                    <mdt-column align-rule="left" column-sort="false">Local. Leilão</mdt-column>
                </mdt-header-row>

            </mdt-table>
        
        </div>

    </section>

</div>