#Modal {
  display: none;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #979797;
  padding: 50px;
  z-index: 1000;
  h1 {
    font-size: 20px;

  }
  p {
    font-size: 18;
  }
}


.tableBody {
  width: 94vw;
  background-color: white;
  height: fit-content;
  margin-top: 20px;

  border-left: 2px solid #3949AB;
  border-bottom: 2px solid #3949AB;
  border-right: 2px solid #3949AB;
  page-break-after: always;

  border-radius: 10px 10px 10px;

  header {
    background-color: #3949AB;
    width: 100%;
    height: 90px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px 10px 0 0;

  }
  .tableHeader {
    display: flex;
    align-items: center;
    justify-content: space-around;
    .data {
      color: white;
      text-align: center;
      font-size: 17px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: left;
      margin-left: -105px;

      div {}
    }

    .datas {
      color: white;
      font-size: 19px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: left;
      margin-left: -105px;

      div {}
    }
    .containerActions {
      display: flex;
    }
  }

  #tableMain {
    width: 100%;

    max-width: 100%;
    height: 100%;
    max-height: 550px;

    overflow-x: scroll;
    overflow-y: scroll;

    .patio {
      margin-left: 20px;
      display: flex;

      h3 {
        font-weight: bold;
        font-size: 15px;

      }
      p {
        font-weight: bold;
        font-size: 15px;
        margin-right: 15px;
      }
    }


    .categoria {
      margin-top: -20px;

      h3 {
        font-weight: bold;
        font-size: 15px;

      }
      p {
        font-weight: bold;
        font-size: 15px;
        margin-right: 15px;

      }
      width: 100%;
      display: flex;
      color: blue;
      margin-left: 50px;

    }

    .result {

      margin-left: 100px;

      .resultsRow {
        display: flex;
        align-items: center;

        width: 60px;
        max-width: 60px;


        .marca_modelo {
          h3 {
            width: 200px;

          }
          h4 {
            width: 200px;

          }
        }


        div {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;

          h3.title {
            font-weight: bold;
            font-weight: bold;
            font-size: 15px;
            padding-bottom: 1px;
            width: 100px;
            padding-right: 20px;
            color: grey;
            text-align: center;

          }

          h4 {
            border-bottom: solid 1px #E1E1E1;

            font-size: 15px;
            padding: 5px 20px 5px 5px;
            width: 100px;
            color: black;
            text-align: center;
            margin-top: -20px;

          }
        }

      }

    }

  }


}



.tableBodyPDF {
  display: none;
  width: 150vw;
  background-color: white;
  height: fit-content;
  margin-top: 20px;

  border-left: 2px solid #3949AB;
  border-bottom: 2px solid #3949AB;
  border-right: 2px solid #3949AB;
  page-break-after: always;


  header {
    background-color: #3949AB;
    width: 100%;
    height: 150px;


  }
  .tableHeader {
    display: flex;
    align-items: center;
    justify-content: space-around;
    .datas {
      color: white;
      text-align: center;
      font-size: 25px;

      margin-left: 100px;
      margin-right: 750px;

    }
    .data {
      color: white;
      font-size: 17px;
      display: flex;
      flex-direction: column;
      text-align: left;
      font-size: 20px;

      margin-left: -700px;
      div {}
    }
  }

  #tableMainPDF {
    width: 100%;

    height: 100%;
    max-height: 100%;


    .patio {
      color: red;
      margin-left: 10px;
      display: flex;

      h3 {
        font-weight: bold;
        font-size: 15px;
      }
      p {
        font-weight: bold;
        font-size: 15px;
        margin-right: 15px;
        font-size: 20px;
      }
    }


    .categoria {
      margin-top: -20px;

      h3 {
        font-weight: bold;
        font-size: 15px;

      }
      p {
        font-weight: bold;
        font-size: 15px;
        margin-right: 15px;
        font-size: 20px;
      }
      width: 100%;
      display: flex;
      color: blue;
      margin-left: 50px;

    }

    .result {

      margin-left: 20px;

      .resultsRow {
        display: flex;
        align-items: center;
        width: 2000px;
        font-size: 20px;

        .number{
          font-size: 20px;
          width: 150px;
          width: 150px;
          margin-right: 1px;
          display: flex;
          flex-direction: column;
          align-items: center;
          h3.title {
            font-weight: bold;
            font-weight: bold;
            font-size: 18px;
            padding-bottom: 1px;
            width: 80px;

            color: grey;
            text-align: center;

          }

          h4 {
            font-size: 17px;
            border-bottom: solid 1px #E1E1E1;
            width: fit-content;

            font-size: 17px;
            padding: 3px 10px 3px 3px;
            width: 80px;

            color: black;
            text-align: center;
            margin-top: -20px;

          }
        }
        div {
          font-size: 20px;
          width: 250px;

          display: flex;
          flex-direction: column;
          align-items: center;
          margin-right: -10px;
          h3.title {
            font-weight: bold;
            font-weight: bold;
            font-size: 18px;
            padding-bottom: 1px;
            width: 100px;
            color: grey;
            text-align: center;
            width: fit-content;

          }

          h4 {
            font-size: 17px;
            border-bottom: solid 1px #E1E1E1;
            width: fit-content;

            font-size: 17px;
            padding: 3px 10px 3px 3px;
            width: 90px;
            color: black;
            text-align: center;
            margin-top: -20px;

          }
        }


        .marca_modelo {
          h3 {
            width: 150px;

          }
          h4 {
            width: 150px;

          }
        }


      }

    }

  }


}


.tableBodyPDFLiberacoes {
  display: none;
  width: 150vw;
  background-color: white;
  height: fit-content;
  margin-top: 20px;

  border-left: 2px solid #3949AB;
  border-bottom: 2px solid #3949AB;
  border-right: 2px solid #3949AB;
  page-break-after: always;


  header {
    background-color: #3949AB;
    width: 100%;
    height: 150px;


  }
  .tableHeader {
    display: flex;
    align-items: center;
    justify-content: space-around;
    .datas {
      color: white;
      text-align: center;
      font-size: 30px;

      margin-left: 100px;
      margin-right: 750px;

    }
    .data {
      color: white;
      font-size: 17px;
      display: flex;
      flex-direction: column;
      text-align: left;
      font-size: 20px;

      margin-left: -700px;
      div {}
    }
  }

  #tableMainPDF {
    width: 100%;

    height: 100%;
    max-height: 100%;


    .patio {
      color: red;
      margin-left: 10px;
      display: flex;

      h3 {
        font-weight: bold;
        font-size: 15px;
      }
      p {
        font-weight: bold;
        font-size: 15px;
        margin-right: 15px;
        font-size: 20px;
      }
    }


    .categoria {
      margin-top: -20px;

      h3 {
        font-weight: bold;
        font-size: 15px;

      }
      p {
        font-weight: bold;
        font-size: 15px;
        margin-right: 15px;
        font-size: 20px;
      }
      width: 100%;
      display: flex;
      color: blue;
      margin-left: 50px;

    }

    .result {

      margin-left: 20px;

      .resultsRow {
        display: flex;
        align-items: center;
        width: 2000px;
        font-size: 20px;

        .number{
          font-size: 20px;
          width: 150px;
          width: 150px;
          margin-right: 1px;
          display: flex;
          flex-direction: column;
          align-items: center;
          h3.title {
            font-weight: bold;
            font-weight: bold;
            font-size: 18px;
            padding-bottom: 1px;
            width: 80px;

            color: grey;
            text-align: center;

          }

          h4 {
            font-size: 17px;
            border-bottom: solid 1px #E1E1E1;
            width: fit-content;

            font-size: 17px;
            padding: 3px 10px 3px 3px;
            width: 80px;

            color: black;
            text-align: center;
            margin-top: -20px;

          }
        }
        div {
          font-size: 20px;
          width: 250px;

          display: flex;
          flex-direction: column;
          align-items: center;
          margin-right: -10px;
          h3.title {
            font-weight: bold;
            font-weight: bold;
            font-size: 18px;
            padding-bottom: 1px;
            width: 100px;
            color: grey;
            text-align: center;
            width: fit-content;

          }

          h4 {
            font-size: 17px;
            border-bottom: solid 1px #E1E1E1;
            width: fit-content;

            font-size: 17px;
            padding: 3px 10px 3px 3px;
            width: 90px;
            color: black;
            text-align: center;
            margin-top: -20px;

          }
        }


        .marca_modelo {
          h3 {
            width: 150px;

          }
          h4 {
            width: 150px;

          }
        }


      }

    }

  }


}
