#Modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #979797;
  padding: 50px;
  z-index: 1000;
}
#Modal h1 {
  font-size: 20px;
}
#Modal p {
  font-size: 18;
}

.tableBody {
  width: 94vw;
  background-color: white;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 20px;
  border-left: 2px solid #3949AB;
  border-bottom: 2px solid #3949AB;
  border-right: 2px solid #3949AB;
  page-break-after: always;
  border-radius: 10px 10px 10px;
}
.tableBody header {
  background-color: #3949AB;
  width: 100%;
  height: 90px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px 10px 0 0;
}
.tableBody .tableHeader {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.tableBody .tableHeader .data {
  color: white;
  text-align: center;
  font-size: 17px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin-left: -105px;
}
.tableBody .tableHeader .datas {
  color: white;
  font-size: 19px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin-left: -105px;
}
.tableBody .tableHeader .containerActions {
  display: flex;
}
.tableBody #tableMain {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 550px;
  overflow-x: scroll;
  overflow-y: scroll;
}
.tableBody #tableMain .patio {
  margin-left: 20px;
  display: flex;
}
.tableBody #tableMain .patio h3 {
  font-weight: bold;
  font-size: 15px;
}
.tableBody #tableMain .patio p {
  font-weight: bold;
  font-size: 15px;
  margin-right: 15px;
}
.tableBody #tableMain .categoria {
  margin-top: -20px;
  width: 100%;
  display: flex;
  color: blue;
  margin-left: 50px;
}
.tableBody #tableMain .categoria h3 {
  font-weight: bold;
  font-size: 15px;
}
.tableBody #tableMain .categoria p {
  font-weight: bold;
  font-size: 15px;
  margin-right: 15px;
}
.tableBody #tableMain .result {
  margin-left: 100px;
}
.tableBody #tableMain .result .resultsRow {
  display: flex;
  align-items: center;
  width: 60px;
  max-width: 60px;
}
.tableBody #tableMain .result .resultsRow .marca_modelo h3 {
  width: 200px;
}
.tableBody #tableMain .result .resultsRow .marca_modelo h4 {
  width: 200px;
}
.tableBody #tableMain .result .resultsRow div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.tableBody #tableMain .result .resultsRow div h3.title {
  font-weight: bold;
  font-weight: bold;
  font-size: 15px;
  padding-bottom: 1px;
  width: 100px;
  padding-right: 20px;
  color: grey;
  text-align: center;
}
.tableBody #tableMain .result .resultsRow div h4 {
  border-bottom: solid 1px #E1E1E1;
  font-size: 15px;
  padding: 5px 20px 5px 5px;
  width: 100px;
  color: black;
  text-align: center;
  margin-top: -20px;
}

.tableBodyPDF {
  display: none;
  width: 150vw;
  background-color: white;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 20px;
  border-left: 2px solid #3949AB;
  border-bottom: 2px solid #3949AB;
  border-right: 2px solid #3949AB;
  page-break-after: always;
}
.tableBodyPDF header {
  background-color: #3949AB;
  width: 100%;
  height: 150px;
}
.tableBodyPDF .tableHeader {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.tableBodyPDF .tableHeader .datas {
  color: white;
  text-align: center;
  font-size: 25px;
  margin-left: 100px;
  margin-right: 750px;
}
.tableBodyPDF .tableHeader .data {
  color: white;
  font-size: 17px;
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 20px;
  margin-left: -700px;
}
.tableBodyPDF #tableMainPDF {
  width: 100%;
  height: 100%;
  max-height: 100%;
}
.tableBodyPDF #tableMainPDF .patio {
  color: red;
  margin-left: 10px;
  display: flex;
}
.tableBodyPDF #tableMainPDF .patio h3 {
  font-weight: bold;
  font-size: 15px;
}
.tableBodyPDF #tableMainPDF .patio p {
  font-weight: bold;
  font-size: 15px;
  margin-right: 15px;
  font-size: 20px;
}
.tableBodyPDF #tableMainPDF .categoria {
  margin-top: -20px;
  width: 100%;
  display: flex;
  color: blue;
  margin-left: 50px;
}
.tableBodyPDF #tableMainPDF .categoria h3 {
  font-weight: bold;
  font-size: 15px;
}
.tableBodyPDF #tableMainPDF .categoria p {
  font-weight: bold;
  font-size: 15px;
  margin-right: 15px;
  font-size: 20px;
}
.tableBodyPDF #tableMainPDF .result {
  margin-left: 20px;
}
.tableBodyPDF #tableMainPDF .result .resultsRow {
  display: flex;
  align-items: center;
  width: 2000px;
  font-size: 20px;
}
.tableBodyPDF #tableMainPDF .result .resultsRow .number {
  font-size: 20px;
  width: 150px;
  width: 150px;
  margin-right: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tableBodyPDF #tableMainPDF .result .resultsRow .number h3.title {
  font-weight: bold;
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 1px;
  width: 80px;
  color: grey;
  text-align: center;
}
.tableBodyPDF #tableMainPDF .result .resultsRow .number h4 {
  font-size: 17px;
  border-bottom: solid 1px #E1E1E1;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 17px;
  padding: 3px 10px 3px 3px;
  width: 80px;
  color: black;
  text-align: center;
  margin-top: -20px;
}
.tableBodyPDF #tableMainPDF .result .resultsRow div {
  font-size: 20px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: -10px;
}
.tableBodyPDF #tableMainPDF .result .resultsRow div h3.title {
  font-weight: bold;
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 1px;
  width: 100px;
  color: grey;
  text-align: center;
  width: -moz-fit-content;
  width: fit-content;
}
.tableBodyPDF #tableMainPDF .result .resultsRow div h4 {
  font-size: 17px;
  border-bottom: solid 1px #E1E1E1;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 17px;
  padding: 3px 10px 3px 3px;
  width: 90px;
  color: black;
  text-align: center;
  margin-top: -20px;
}
.tableBodyPDF #tableMainPDF .result .resultsRow .marca_modelo h3 {
  width: 150px;
}
.tableBodyPDF #tableMainPDF .result .resultsRow .marca_modelo h4 {
  width: 150px;
}

.tableBodyPDFLiberacoes {
  display: none;
  width: 150vw;
  background-color: white;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 20px;
  border-left: 2px solid #3949AB;
  border-bottom: 2px solid #3949AB;
  border-right: 2px solid #3949AB;
  page-break-after: always;
}
.tableBodyPDFLiberacoes header {
  background-color: #3949AB;
  width: 100%;
  height: 150px;
}
.tableBodyPDFLiberacoes .tableHeader {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.tableBodyPDFLiberacoes .tableHeader .datas {
  color: white;
  text-align: center;
  font-size: 30px;
  margin-left: 100px;
  margin-right: 750px;
}
.tableBodyPDFLiberacoes .tableHeader .data {
  color: white;
  font-size: 17px;
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 20px;
  margin-left: -700px;
}
.tableBodyPDFLiberacoes #tableMainPDF {
  width: 100%;
  height: 100%;
  max-height: 100%;
}
.tableBodyPDFLiberacoes #tableMainPDF .patio {
  color: red;
  margin-left: 10px;
  display: flex;
}
.tableBodyPDFLiberacoes #tableMainPDF .patio h3 {
  font-weight: bold;
  font-size: 15px;
}
.tableBodyPDFLiberacoes #tableMainPDF .patio p {
  font-weight: bold;
  font-size: 15px;
  margin-right: 15px;
  font-size: 20px;
}
.tableBodyPDFLiberacoes #tableMainPDF .categoria {
  margin-top: -20px;
  width: 100%;
  display: flex;
  color: blue;
  margin-left: 50px;
}
.tableBodyPDFLiberacoes #tableMainPDF .categoria h3 {
  font-weight: bold;
  font-size: 15px;
}
.tableBodyPDFLiberacoes #tableMainPDF .categoria p {
  font-weight: bold;
  font-size: 15px;
  margin-right: 15px;
  font-size: 20px;
}
.tableBodyPDFLiberacoes #tableMainPDF .result {
  margin-left: 20px;
}
.tableBodyPDFLiberacoes #tableMainPDF .result .resultsRow {
  display: flex;
  align-items: center;
  width: 2000px;
  font-size: 20px;
}
.tableBodyPDFLiberacoes #tableMainPDF .result .resultsRow .number {
  font-size: 20px;
  width: 150px;
  width: 150px;
  margin-right: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tableBodyPDFLiberacoes #tableMainPDF .result .resultsRow .number h3.title {
  font-weight: bold;
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 1px;
  width: 80px;
  color: grey;
  text-align: center;
}
.tableBodyPDFLiberacoes #tableMainPDF .result .resultsRow .number h4 {
  font-size: 17px;
  border-bottom: solid 1px #E1E1E1;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 17px;
  padding: 3px 10px 3px 3px;
  width: 80px;
  color: black;
  text-align: center;
  margin-top: -20px;
}
.tableBodyPDFLiberacoes #tableMainPDF .result .resultsRow div {
  font-size: 20px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: -10px;
}
.tableBodyPDFLiberacoes #tableMainPDF .result .resultsRow div h3.title {
  font-weight: bold;
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 1px;
  width: 100px;
  color: grey;
  text-align: center;
  width: -moz-fit-content;
  width: fit-content;
}
.tableBodyPDFLiberacoes #tableMainPDF .result .resultsRow div h4 {
  font-size: 17px;
  border-bottom: solid 1px #E1E1E1;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 17px;
  padding: 3px 10px 3px 3px;
  width: 90px;
  color: black;
  text-align: center;
  margin-top: -20px;
}
.tableBodyPDFLiberacoes #tableMainPDF .result .resultsRow .marca_modelo h3 {
  width: 150px;
}
.tableBodyPDFLiberacoes #tableMainPDF .result .resultsRow .marca_modelo h4 {
  width: 150px;
}/*# sourceMappingURL=customTable.css.map */