.body {
    .search {
        margin-left: 50px;
    }

    .listagem {
        margin-top: 90px;
        display: flex;
        justify-content: space-around;
        .patiosDisponiveis {
            .listagembody {
                margin-bottom: 10px;
                display: flex;
                align-items: center;
               .nome{
                   font-size: 18px;

               }
                .icon {
                    padding-left: 20px;

                    img {
                        width: 30px;
                        cursor: pointer
                    }
                }
            }
        }
        .patiosLeilao {
            .listagembody {
                margin-bottom: 10px;
                display: flex;
                align-items: center;
               .nome{
                   font-size: 18px;

               }
                .icon {
                    padding-right: 20px;

                    img {
                        width: 30px;
                        cursor: pointer

                    }
                }
            }
        }




    }

}

    .Detran{
        display: flex;
        flex-direction: column;
    }
