.body .search {
  margin-left: 50px;
}
.body .listagem {
  margin-top: 90px;
  display: flex;
  justify-content: space-around;
}
.body .listagem .patiosDisponiveis .listagembody {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.body .listagem .patiosDisponiveis .listagembody .nome {
  font-size: 18px;
}
.body .listagem .patiosDisponiveis .listagembody .icon {
  padding-left: 20px;
}
.body .listagem .patiosDisponiveis .listagembody .icon img {
  width: 30px;
  cursor: pointer;
}
.body .listagem .patiosLeilao .listagembody {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.body .listagem .patiosLeilao .listagembody .nome {
  font-size: 18px;
}
.body .listagem .patiosLeilao .listagembody .icon {
  padding-right: 20px;
}
.body .listagem .patiosLeilao .listagembody .icon img {
  width: 30px;
  cursor: pointer;
}

.Detran {
  display: flex;
  flex-direction: column;
}/*# sourceMappingURL=index.css.map */