.body {
  max-height: 550px;
  overflow-x: scroll;
  overflow-y: scroll;
  table {
    -ms-flex-pack: distribute;
    justify-content: space-around;
    tr th {
      font-size: 12px;
      font-weight: bold;
      color: #7d7d7d;
      padding-top: 15px;
      padding-bottom: 15px;
      text-align: center;
    }

    .Result td {
      text-align: center;
      font-size: 12px;
      padding-top: 15px;
      padding-bottom: 15px;
      text-overflow: hide;
      border-top: 1px solid #e0e0e0;
      label input[type="file"] {
        display: none;
      }

      .body table .Result td label img {
        width: 20px;
      }
    }
  }
}

#ARCorreios {
  display: flex;
  flex-direction: column;

  .FirstArea {
    border: 2px solid black;
    width: 95vw;
    margin: 20px;
    height: fit-content;

    .header {
      display: flex;
      .logoCorreios {
        width: 70%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        img {
          margin-top: 10px;
          margin-left: 5px;
          margin-bottom: 5px;
          width: 200px;
          height: 50px;
          image-rendering: optimizeQuality;
        }
        h1 {
          font-weight: 500;
          font-size: 30px;
        }
        .ArH1 {
          font-size: 45px;
        }
      }
      .dataPostagem {
        border-left: 2px solid black;
        h3 {
          text-align: center;
          margin-left: 35px;
        }
      }
    }

    .bodyAr {
      display: flex;

      .destinatario {
        width: 70.5%;
        border-top: 2px solid black;
        height: auto;
        border-right: 2px solid black;

        .Dest {
          margin-top: -2px;
          font-size: 30px;
          margin-left: 5px;
          font-weight: bold;
        }
        .nome {
          font-weight: bold;
          margin-top: -9;
        }
        .cep {
          display: flex;
          margin-top: -7;

          h4 {
            margin-top: 0;
            font-size: 20px;
            font-weight: 500;
          }
          .CEP {
            margin-left: 190px;
          }
        }
        h4 {
          margin-left: 5px;
          margin-top: -7;
          font-size: 20px;
          font-weight: 500;
        }
      }

      .EmptySquare1 {
        border-top: 2px solid black;
        height: 150px;
        width: 30%;
        border-bottom: 2px solid black;
      }
    }

    .footerAr {
      display: flex;

      .destinatario {
        width: 70.5%;
        border-top: 2px solid black;
        height: auto;

        .Dest {
          margin-top: -2px;
          font-size: 30px;
          margin-left: 5px;
          font-weight: bold;
        }
        .Endereço {
          font-weight: bold;
          margin-top: -9;
        }
        .cep {
          display: flex;
          margin-top: -7;

          h4 {
            margin-top: 0;
            font-size: 20px;
            font-weight: 500;
          }
          .CEP {
            margin-left: 190px;
          }
        }
        h4 {
          margin-left: 5px;
          margin-top: -7;
          font-size: 20px;
          font-weight: 500;
        }
      }

      .EmptySquare1 {
        height: auto;
        width: 30%;
        border-left: 2px solid black;
      }
    }
  }

  .detranCarta {
    width: 98vw;
    height: fit-content;
    img {
      width: 65vw;
      height: 120px;
      margin-left: 15px;
    }

    .content {
      margin: 20px;
      border: 2px solid black;

      .bodyDetranCarta {
        p {
          font-weight: 700;
          font-size: 25px;
        }
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }

  .dadosUser {
    width: 95vw;
    height: fit-content;
    margin: 20px;
    border: 2px solid black;
    .line1 {
      margin-top: 10px;
    }
    .line1,
    .line2 {
      margin-top: -14px;

      display: flex;
      margin-left: 15px;
      h4 {
        font-weight: bolder;
        font-size: 20px;
        span {
          font-weight: 400;
          font-size: 20px;
        }
      }
      :nth-child(2) {
        margin-left: 290px;
      }
    }
    .line1 {
      margin-top: 10px;
    }
    .line3 {
      margin-top: -14px;
      margin-left: 15px;
      h4 {
        font-weight: bolder;
        font-size: 20px;

        span {
          font-weight: 400;
          font-size: 20px;
        }
      }
    }

    .line4 {
      margin-top: -14px;
      display: flex;
      margin-left: 15px;

      h4 {
        font-weight: bolder;
        font-size: 20px;

        span {
          font-weight: 400;
          font-size: 20px;
        }
      }
      :nth-child(2) {
        margin-left: 100px;
      }
      :nth-child(3) {
        margin-left: 400px;
      }
    }
    .line5 {
      margin-top: -14px;
      display: flex;
      justify-content: space-around;

      h4 {
        font-weight: bolder;
        font-size: 20px;

        span {
          font-weight: 400;
          font-size: 20px;
        }
      }
    }

    .line6 {
      margin-top: -14px;
      display: flex;
      margin-left: 15px;

      h4 {
        font-weight: bolder;
        font-size: 20px;

        span {
          font-weight: 400;
          font-size: 20px;
        }
      }
    }
    .line7 {
      margin-top: -14px;
      display: flex;
      margin-left: 15px;

      h4 {
        font-weight: bolder;
        font-size: 20px;

        span {
          font-weight: 400;
          font-size: 20px;
        }
      }
    }
  }
}
#Modal {
  display: flex;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #979797;
  padding: 50px;
  z-index: 1000;
  h1 {
    font-size: 20px;
  }
  p {
    font-size: 18;
  }
}

#Modal2 {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #979797;
  padding: 50px;
  z-index: 1000;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 20px;
  }
  p {
    font-size: 18;
  }

  button {
    background-color: blue;
    color: #ffffff;
    outline: none;
    border: none;
    width: 100px;
    height: 30px;
    border: solid grey 1px;
    cursor: pointer;
  }
}

#Modal3 {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #979797;
  padding: 50px;
  z-index: 1000;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 20px;
  }
  p {
    font-size: 18;
  }

  button {
    background-color: blue;
    color: #ffffff;
    outline: none;
    border: none;
    width: 100px;
    height: 30px;
    border: solid grey 1px;
    cursor: pointer;
  }
}
.formSearchAjustes {
  display: flex;
  justify-content: space-between;
  margin-right: 35px;
  .descInput {
    width: 250px;
  }
  .orgaoInput {
    width: 100px;
  }
  .patioInput {
    width: fit-content;
    text-align: center;
    height: 100px;
    max-height: 100px;
    overflow-y: scroll;
  }
}

#ARsecondPage {
  .containerNotificacao {
    display: flex;
    justify-content: center;
    img {
      image-rendering: optimizeQuality;

      width: 97vw;
      height: 500px;
    }
  }
  .ar {
    border: 2px solid black;
    width: 90px;
    height: 50px;
    margin-top: 100px;
    margin-left: 450px;
    text-align: center;
    border-bottom: none;
    h3 {
      font-weight: bolder;
      font-size: 30px;
    }
  }
  .arSender {
    padding: 30px;
    border: 2px solid;
    width: 900px;
    height: 220px;
    margin: 0 auto;
    h1 {
      text-decoration: underline;
      font-weight: bolder;
    }
    h4 {
      font-weight: 400;
      font-size: 25px;
      margin-top: 2px;
    }
  }
  .cepAndUf {
    display: flex;
    justify-content: space-between;
    margin-right: 200px;
  }
}

.Overlay {
  table,
  th,
  td {
    border: 1px solid rgba(132, 125, 125, 0.3);
    padding: 10px;
    text-align: center;
  }
  table {
    width: 100%;
  }

  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(132, 125, 125, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  .modal {
    padding: 50px;
    border-radius: 7px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(132, 125, 125, 0.3);
    background-color: white;
    width: 50%;
    height: fit-content;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.Exportador {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  button {
    margin-top: 20px;
  }
  h1 {
    margin-top: 40px;
  }
  .content {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .slider {
      display: flex;
      flex-direction: row;
      gap: 70px;
      margin-top: 40px;

      .card {
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 400px;
        width: 100%;
        .carImage {
          max-width: 400px;
          width: 100%;
          max-height: 600px;
          height: 100%;
          border: 1px solid black;
        }
        .cardItemsCTA {
          width: 100%;
          background-color: #e7e5e5;
          border-radius: 0px 0px 10px 10px;
          height: 200px;
          border: 1px solid black;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .deleteIcon {
            cursor: pointer;
            img {
              width: 40px;
            }
          }
          h3 {
            font-size: 2rem;
          }
        }
      }
    }
  }
}
