.editalPrint {
  padding: 10px;
  .titulo,
  .titulo2 {
    text-align: center;
    font-size: 25px;
  }
  .titulo3 {
    font-size: 25px;
  }
  p{
    font-size: 25px;
  }
  .margin {
    margin-top: 35px;
    margin-bottom: 35px;
  }
  .items {
    padding: 10px;
    font-size: 20px;

  }
  p {
    font-size: 20px;
    font-weight: bold;
  }
}
