.editalPrint {
  padding: 10px;
}
.editalPrint .titulo,
.editalPrint .titulo2 {
  text-align: center;
  font-size: 25px;
}
.editalPrint .titulo3 {
  font-size: 25px;
}
.editalPrint p {
  font-size: 25px;
}
.editalPrint .margin {
  margin-top: 35px;
  margin-bottom: 35px;
}
.editalPrint .items {
  padding: 10px;
  font-size: 20px;
}
.editalPrint p {
  font-size: 20px;
  font-weight: bold;
}/*# sourceMappingURL=index.css.map */