div.containerTable {
    width: 97vw;
    max-width: 97vw;
    overflow-y: scroll;
    overflow-x: scroll;
    max-height: 400px;
.containerbuttoms{
    display: flex;
}
    .containerHeader {
        width: 100vw;
        max-width: 100vw;

        background-color: #3f51b5;
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height:80px;
        border-bottom: solid 1px #DDDDDD;

        .spinnerBody{
                
            align-items: center;
            display: flex;
            justify-content: center;
            transform: scale();


                .Spinner{
                    animation: is-rotating 1s infinite;
                    border: 6px solid #e5e5e5;
                    border-radius: 50%;
                    border-top-color: #51d4db;
                    height: 35px;
                    width: 35px;

                }
        }

        @keyframes is-rotating {
            to {
              transform: rotate(1turn);
            }
          }
      
        h4 {
            margin-left: 40px;
            font-size: 18px;
        }
    }

    table {
        width: 100vw;
        max-width: 100vw;
        background-color: #FAFAFA;
        overflow-x: scroll;

        tr {

            th {
                padding: 20px;

                font-size: 13px;
                font-weight: 500;
                color: #757575;
               
            }
            td{
                border-top: #EEEEEE 3px solid;
                
                text-align: center;
                font-size: 13px;
                padding: 20px;

                img{
                    cursor: pointer;
                }
            }
        }

        .Result {

            text-align: center;

            td {
                border-top: solid 1px #DDDDDD;

                font-size: 13px;
                padding: 5px;
                img{
                    cursor: pointer;
                }
            }
            td:hover{
                background-color: #EEEEEE
            }
        }
    }
}
