.containerChossenfile {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.ChosesFiles {
    color: red;
}

input[type="file"]::-webkit-file-upload-button {
    background-color: #3949ab;
    outline: none;
    padding: 10px;
    border-radius: 2px;
    border: none;
    font-size: 15px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: #e5e7f4;
    font-weight: normal;
    cursor: pointer;
}

.containerClientes {
    border-radius: 5px;
    width: 85%;
    background-color: #ffffff;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    border-top: transparent;
    margin-top: -23px;
    height: auto;
    max-height: 300px;
    overflow-y: scroll;

    display: flex;
    flex-direction: column;
}
li {
    cursor: pointer;
    padding: 10px;
}

.containerClientes li:hover {
    background-color: #eeeeee;
}

.containerCliente {
    border-radius: 5px;
    width: 85%;
    background-color: #ffffff;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    border-top: transparent;
    margin-top: -36px;
    height: auto;
    max-height: 300px;
    overflow-y: scroll;

    display: flex;
    flex-direction: column;
}

.containerCliente li:hover {
    background-color: #eeeeee;
}

.ErrorLength {
    font-size: 14px;
    color: red;
   
}

* {
    list-style: none;
}

.IsDanger {
    color: red;
    margin-left: 15px;
    display: none;
    text-transform: uppercase;
}

.containerForm{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}