div.containerTable {
  width: 97vw;
  max-width: 97vw;
  overflow-y: scroll;
  overflow-x: scroll;
  max-height: 400px;
}
div.containerTable .containerbuttoms {
  display: flex;
}
div.containerTable .containerHeader {
  width: 100vw;
  max-width: 100vw;
  background-color: #3f51b5;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  border-bottom: solid 1px #DDDDDD;
}
div.containerTable .containerHeader .spinnerBody {
  align-items: center;
  display: flex;
  justify-content: center;
  transform: scale();
}
div.containerTable .containerHeader .spinnerBody .Spinner {
  animation: is-rotating 1s infinite;
  border: 6px solid #e5e5e5;
  border-radius: 50%;
  border-top-color: #51d4db;
  height: 35px;
  width: 35px;
}
@keyframes is-rotating {
  to {
    transform: rotate(1turn);
  }
}
div.containerTable .containerHeader h4 {
  margin-left: 40px;
  font-size: 18px;
}
div.containerTable table {
  width: 100vw;
  max-width: 100vw;
  background-color: #FAFAFA;
  overflow-x: scroll;
}
div.containerTable table tr th {
  padding: 20px;
  font-size: 13px;
  font-weight: 500;
  color: #757575;
}
div.containerTable table tr td {
  border-top: #EEEEEE 3px solid;
  text-align: center;
  font-size: 13px;
  padding: 20px;
}
div.containerTable table tr td img {
  cursor: pointer;
}
div.containerTable table .Result {
  text-align: center;
}
div.containerTable table .Result td {
  border-top: solid 1px #DDDDDD;
  font-size: 13px;
  padding: 5px;
}
div.containerTable table .Result td img {
  cursor: pointer;
}
div.containerTable table .Result td:hover {
  background-color: #EEEEEE;
}/*# sourceMappingURL=customLiberacao.css.map */