.body {
  max-height: 550px;
  overflow-x: scroll;
  overflow-y: scroll;
}

.body table {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.body table tr th {
  font-size: 12px;
  font-weight: bold;
  color: #7d7d7d;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}

.body table .Result td {
  text-align: center;
  font-size: 12px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-overflow: hide;
  border-top: 1px solid #e0e0e0;
}

.body table .Result td label input[type="file"]{
  display: none;
}


.body table .Result td label img{
  width: 20px;
}

.body table .Result td:hover {
  background-color: #eeeeee;
}

.txtRed {
  color: red;  
}

.txtGreen{
  color:green;
}

/*# sourceMappingURL=customTable.css.map */