@charset "UTF-8";
.CADASTROS header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.CADASTROS header:hover {
  background-color: #267ed5;
  cursor: pointer;
}

.CADASTROS header h1 {
  font-size: 16px;
  color: white;
}

.CADASTROS header img {
  width: 25px;
}

.CADASTROS .CadastroContent ul li div {
  padding-left: 30px;
  text-transform: capitalize;
  font-weight: normal;
}

.OPERACÃO header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.OPERACÃO header:hover {
  background-color: #267ed5;
  cursor: pointer;
}

.OPERACÃO header h1 {
  font-size: 16px;
  color: white;
}

.OPERACÃO header img {
  width: 25px;
}

.OPERACÃO .OperaçãoContent ul li div {
  padding-left: 30px;
  text-transform: capitalize;
  font-weight: normal;
}

.COMPRAS header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.COMPRAS header:hover {
  background-color: #267ed5;
  cursor: pointer;
}

.COMPRAS header h1 {
  font-size: 16px;
  color: white;
}

.COMPRAS header img {
  width: 25px;
}

.COMPRAS .CadastroContent ul li div {
  padding-left: 30px;
  text-transform: capitalize;
  font-weight: normal;
}

.FINANCEIRO header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.FINANCEIRO header:hover {
  background-color: #267ed5;
  cursor: pointer;
}

.FINANCEIRO header h1 {
  font-size: 16px;
  color: white;
}

.FINANCEIRO header h2 {
  font-size: 14px;
  margin-left: 18px;
  color: white;
}

.FINANCEIRO header img {
  width: 25px;
}

.FINANCEIRO div ul li div {
  padding-left: 30px;
  text-transform: capitalize;
  font-weight: normal;
}

.RELATORIOS header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.RELATORIOS header:hover {
  background-color: #267ed5;
  cursor: pointer;
}

.RELATORIOS header h1 {
  font-size: 16px;
  color: white;
}

.RELATORIOS header h2 {
  font-size: 14px;
  margin-left: 18px;
  color: white;
}

.RELATORIOS header img {
  width: 25px;
}

.RELATORIOS div ul li div {
  padding-left: 30px;
  text-transform: capitalize;
  font-weight: normal;
}

/*# sourceMappingURL=CustomDashMenu.css.map */

.LOGISTICA header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.LOGISTICA header:hover {
  background-color: #267ed5;
  cursor: pointer;
}

.LOGISTICA header h1 {
  font-size: 16px;
  color: white;
}

.LOGISTICA header img {
  width: 25px;
}

.LOGISTICA .CadastroContent ul li div {
  padding-left: 30px;
  text-transform: capitalize;
  font-weight: normal;
}

.GERENCIAL header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.GERENCIAL header:hover {
  background-color: #267ed5;
  cursor: pointer;
}

.GERENCIAL header h1 {
  font-size: 16px;
  color: white;
}

.GERENCIAL header img {
  width: 25px;
}

.GERENCIAL .CadastroContent ul li div {
  padding-left: 30px;
  text-transform: capitalize;
  font-weight: normal;
}