#Modal{display:flex;position:fixed;top:50%;left:50%;transform:translate(-50%, -50%);background-color:#979797;padding:50px;z-index:1000}#Modal h1{font-size:20px}#Modal p{font-size:18}#Modal2{display:flex;flex-direction:column;position:fixed;top:50%;left:50%;transform:translate(-50%, -50%);background-color:#979797;padding:50px;z-index:1000;justify-content:center;align-items:center}#Modal2 h1{font-size:20px}#Modal2 p{font-size:18}#Modal2 button{background-color:blue;color:#fff;outline:none;border:none;width:100px;height:30px;border:solid gray 1px;cursor:pointer}
