.body {
  display: flex;
  flex-direction: flex;
  overflow-y: scroll;
  flex-wrap: wrap;
  flex: 5;
  justify-content: space-around;

  .content {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    .header {
      background-color: royalblue;
      width: 402px;
      height: 60px;
      color: white;
      font-weight: bold;

      text-align: center;
    }
    .canva {
      display: flex;
      justify-content: center;
      flex-direction: column;
      img {
        width: 400px;
        position: relative;
        height: 400px;
        border: 1px solid black;
      }
      iframe {

       width: 400px;
        position: relative;
        height: 400px;
        border: 1px solid black;
      }
      .description {
          display: flex ;
          justify-content: center;
        p {
          position: absolute;
          margin-top: -30px;
          color: red;
          text-align: center;
          font-size: 23px;
          font-weight: bolder;
        }
      }
    }
    .options {
      display: flex;
      justify-items: center;
      align-items: center;
      justify-content: center;

      button.open {
        background-color: #009688;
        height: 36px;
        border-radius: 2px;
        outline: none;
        border: none;
        a {
          text-decoration: none;
          color: #e6e8f1;
          font-weight: 500;
          font-size: 16px;
        }
      }
    }
  }
}



.bodyConferentePreLeilao {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  flex-direction: column;
  .content {
    display: flex;
    margin-bottom: 10px;
    flex-wrap: wrap;
    justify-content: center;

    h1 {
      text-align: center;
    }
    .canva {
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 20px;
      .header{
        background-color: #4169E1 ;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        span{
          padding: 10px;
          color:#FFF6F7;
          font-size: 20;
        }
      }
      img {
        width: 400px;
        height: 400px;
      }

      .description {
        display: flex;
        flex-direction: column;
        align-items: center;
        span {
          word-break: break-all !important;
          font-size: 18px;
          font-weight: bolder;
          text-align: center;
          text-transform: capitalize;
          padding: 5px;
          text-align: center;
        }
      }
    }
  }
}
