.body {
  display: flex;
  flex-direction: flex;
  overflow-y: scroll;
  flex-wrap: wrap;
  flex: 5;
  justify-content: space-around;
}
.body .content {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.body .content .header {
  background-color: royalblue;
  width: 402px;
  height: 60px;
  color: white;
  font-weight: bold;
  text-align: center;
}
.body .content .canva {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.body .content .canva img {
  width: 400px;
  position: relative;
  height: 400px;
  border: 1px solid black;
}
.body .content .canva iframe {
  width: 400px;
  position: relative;
  height: 400px;
  border: 1px solid black;
}
.body .content .canva .description {
  display: flex;
  justify-content: center;
}
.body .content .canva .description p {
  position: absolute;
  margin-top: -30px;
  color: red;
  text-align: center;
  font-size: 23px;
  font-weight: bolder;
}
.body .content .options {
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: center;
}
.body .content .options button.open {
  background-color: #009688;
  height: 36px;
  border-radius: 2px;
  outline: none;
  border: none;
}
.body .content .options button.open a {
  text-decoration: none;
  color: #e6e8f1;
  font-weight: 500;
  font-size: 16px;
}

.bodyConferentePreLeilao {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  flex-direction: column;
}
.bodyConferentePreLeilao .content {
  display: flex;
  margin-bottom: 10px;
  flex-wrap: wrap;
  justify-content: center;
}
.bodyConferentePreLeilao .content h1 {
  text-align: center;
}
.bodyConferentePreLeilao .content .canva {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}
.bodyConferentePreLeilao .content .canva .header {
  background-color: #4169E1;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bodyConferentePreLeilao .content .canva .header span {
  padding: 10px;
  color: #FFF6F7;
  font-size: 20;
}
.bodyConferentePreLeilao .content .canva img {
  width: 400px;
  height: 400px;
}
.bodyConferentePreLeilao .content .canva .description {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bodyConferentePreLeilao .content .canva .description span {
  word-break: break-all !important;
  font-size: 18px;
  font-weight: bolder;
  text-align: center;
  text-transform: capitalize;
  padding: 5px;
  text-align: center;
}/*# sourceMappingURL=ncvImages.css.map */