.Bodycontent .error {
  color: red;
  margin-top: -10px;
}

.Bodycontent .Search {
  outline: none;
  border: none;
  border-bottom: 2px solid blue;
}

.Bodycontent .Search ::-webkit-input-placeholder {
  font-size: 28px;
}

.Bodycontent .Search :-ms-input-placeholder {
  font-size: 28px;
}

.Bodycontent .Search ::-ms-input-placeholder {
  font-size: 28px;
}

.Bodycontent .Search ::placeholder {
  font-size: 28px;
}

.Bodycontent .Cidades {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

.Bodycontent .Cidades .Addcidade {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Bodycontent .Cidades .Addcidade h1 {
  color: #5f5f5f;
  font-size: 20px;
  font-weight: bold;
}

.Bodycontent .Cidades .Addcidade li {
  list-style: none;
  margin-bottom: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Bodycontent .Cidades .Addcidade li img {
  width: 30px;
  margin-left: 30px;
}

.Bodycontent .Cidades .Addcidade li img:hover {
  cursor: pointer;
}

.Bodycontent .Cidades .RemoveCidade {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Bodycontent .Cidades .RemoveCidade h1 {
  color: #5f5f5f;
  font-size: 20px;
  font-weight: bold;
}

.Bodycontent .Cidades .RemoveCidade li {
  list-style: none;
  margin-bottom: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Bodycontent .Cidades .RemoveCidade li img {
  width: 30px;
  margin-left: 30px;
}

.Bodycontent .Cidades .RemoveCidade li img:hover {
  cursor: pointer;
}
/*# sourceMappingURL=PatiosForm.css.map */