#Modal {
  display: none;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #979797;
  padding: 50px;
  z-index: 1000;
  h1 {
    font-size: 20px;

  }
  p {
    font-size: 18;
  }
}


.tableBody {
  width: 94vw;
  background-color: white;
  height: fit-content;
  margin-top: 20px;

  border-left: 2px solid #3949AB;
  border-bottom: 2px solid #3949AB;
  border-right: 2px solid #3949AB;
  page-break-after: always;

  border-radius: 10px 10px 10px;

  header {
    background-color: #3949AB;
    width: 100%;
    height: 90px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px 10px 0 0;

  }
  .tableHeader {
    display: flex;
    align-items: center;
    justify-content: space-around;
    .data {
      color: white;
      text-align: center;
      font-size: 17px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: left;
      margin-left: -105px;

      div {}
    }

    .datas {
      color: white;
      font-size: 19px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: left;
      margin-left: -105px;

      div {}
    }
    .containerActions {
      display: flex;
    }
  }

  #tableMain {
    width: fit-content;

    height: 100%;
    max-height: 400px;
    overflow-x: hidden;

    overflow-y: scroll;

    .patio {
      margin-left: 15px;
      display: flex;

      h3 {
        font-size: 20px;

      }
      p {
        font-size: 15px;
        margin-right: 15px;
      }
    }


    .categoria {
      margin-top: -20px;

      h3 {
        font-weight: bold;
        font-size: 15px;

      }
      p {
        font-size: 15px;
        margin-right: 15px;

      }
      width: 100%;
      display: flex;
      color: blue;
      margin-left: 25px;

    }

    .result {

      margin-left: 30px;

      .resultsRow {
        display: flex;
        align-items: center;


        .marca_modelo {
          h3 {
            width: 100px;
            max-width: 100px;

            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

          }
          h4 {
            width: 100px;
            max-width: 100px;

            overflow: hidden;

            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

          }
        }
        .number {
          font-size: 20px;
         
          display: flex;
          flex-direction: column;
          align-items: center;
          h3.title {
            font-size: 15px;
            padding-bottom: 1px;

            color: grey;
            text-align: center;

          }

          h4 {
            font-size: 17px;
            border-bottom: solid 1px #E1E1E1;
            width: fit-content;

            font-size: 13px;
            padding: 3px 10px 3px 3px;
            width: 80px;

            color: black;
            text-align: center;
            margin-top: -20px;

          }
        }

        div {
          margin-right: 3px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-align: center;
          align-items: baseline;
          h3.title {
            font-size: 15px;
            padding-bottom: 1px;
            width: 100px;
            color: grey;
            text-align: center;

          }

          h4 {
            border-bottom: solid 1px #E1E1E1;

            font-size: 13px;
            width: 100px;
            color: black;
            text-align: center;
            margin-top: -20px;

          }
        }

      }

    }

  }


}

.tableBodyPDFLiberacoes {
  display: none;
  width: 99vw;
  background-color: white;
  height: fit-content;
  margin-top: 20px;

  border-left: 2px solid #3949AB;
  border-bottom: 2px solid #3949AB;
  border-right: 2px solid #3949AB;
  page-break-after: always;

  border-radius: 10px 10px 10px;

  header {
    background-color: #3949AB;
    width: 100%;
    height: 90px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px 10px 0 0;

  }
  .tableHeader {
    display: flex;
    align-items: center;
    justify-content: space-around;
    .data {
      color: white;
      text-align: center;
      font-size: 17px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: left;
      margin-left: -105px;

      div {}
    }

    .datas {
      color: white;
      font-size: 19px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: left;
      margin-left: -105px;

      div {}
    }
    .containerActions {
      display: flex;
    }
  }

  #tableMainPDF {
    width: 99vw;

    height: 100%;
    overflow-x: hidden;

    overflow-y: scroll;

    .patio {
      margin-left: 15px;
      display: flex;
      color: red;
      h3 {
        font-size: 20px;

      }
      p {
        font-size: 15px;
        margin-right: 15px;
      }
    }


    .categoria {
      margin-top: -20px;

      h3 {
        font-weight: bold;
        font-size: 15px;

      }
      p {
        font-size: 15px;
        margin-right: 15px;

      }
      width: 100%;
      display: flex;
      color: blue;
      margin-left: 25px;

    }

    .result {

      margin-left: 30px;

      .resultsRow {
        display: flex;
        align-items: center;


        .marca_modelo {
          h3 {
            width: 100px;
            max-width: 100px;

            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

          }
          h4 {
            width: 100px;
            max-width: 100px;

            overflow: hidden;

            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

          }
        }
        .number {
          font-size: 20px;
         
          display: flex;
          flex-direction: column;
          align-items: center;
          h3.title {
            font-size: 15px;
            padding-bottom: 1px;

            color: grey;
            text-align: center;

          }

          h4 {
            font-size: 17px;
            border-bottom: solid 1px #E1E1E1;
            width: fit-content;

            font-size: 13px;
            padding: 3px 10px 3px 3px;
            width: 80px;

            color: black;
            text-align: center;
            margin-top: -20px;

          }
        }

        div {
          margin-right: 3px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-align: center;
          align-items: baseline;
          h3.title {
            font-size: 14px;
            padding-bottom: 1px;
            width: 108px;
            color: grey;
            text-align: center;

          }

          h4 {
            border-bottom: solid 1px #E1E1E1;

            font-size: 12px;
            width: 108px;

            color: black;
            text-align: center;
            margin-top: -20px;

          }
        }

      }

    }

  }


}



