<div class="doc-demo-content doc-content">
    <md-content layout-xs="column" layout-gt-sm="row" layout-sm="column">
      <md-card layout-padding flex-gt-sm layout="column" flex-order="1" flex-order-gt-sm="1">
        <md-subheader class="md-no-sticky">FILTRAR DADOS</md-subheader>
        <md-divider></md-divider>
        <form name="usuarioEditForm" ng-submit="usuarioEditForm.$valid && usuarioEdit(usuario)" novalidate="novalidate">
          
          <div layout-gt-sm="row">
           
        
            <md-input-container class="md-block" flex-gt-sm >
              <label>Descrição</label>
              <input type="text" name="Descrição" ng-model="dados.descricao " />
            </md-input-container>
  
            <md-input-container class="md-block" flex-gt-sm >
              <label>Ativo</label>
              <md-select placeholder="Ativo" ng-required="false" name="ativo" ng-model="dados.ativo">
                <md-option value="1">SIM</md-option>
                <md-option value="0">NÃO</md-option>
              </md-select>
            </md-input-container>

            
          </div>
          
          <div>
            <md-button class="md-raised" md-colors="{background:'teal'}" md-colors-watch="false" ng-click="gruposPatio.Salvar($event)">Salvar</md-button>
            <md-button class="md-raised" aria-label="Limpar" ng-click="gruposPatio.Fechar($event)">Cancelar</md-button>
          </div>
  
        </form>
      </md-card>
    </md-content>
    
  
  
  </div>