<div class="doc-demo-content doc-content">

  <md-content layout-xs="column" layout-gt-sm="row" layout-sm="column">
    <md-card layout-padding flex-gt-sm layout="column" flex-order="1" flex-order-gt-sm="1">
      <md-subheader class="md-no-sticky">FILTRAR DADOS</md-subheader>
      <md-divider></md-divider>
      <form name="usuarioEditForm" ng-submit="usuarioEditForm.$valid && usuarioEdit(dados)" novalidate="novalidate">

        <md-tabs md-dynamic-height md-border-bottom>
          <md-tab label="Editar">
            <div layout-gt-sm="row">


              <md-input-container class="md-block" flex-gt-sm>
                <label>Descrição</label>
                <input type="text" name="Descrição" ng-model="dados.descricao " ng-value="dados.descricao" />
              </md-input-container>
    
              <md-input-container class="md-block" flex-gt-sm>
                <label>Ativo</label>
                <md-select placeholder="Ativo" ng-required="false" name="ativo" ng-model="dados.ativo"
                  ng-value="dados.ativo">
                  <md-option value="1">SIM</md-option>
                  <md-option value="0">NÃO</md-option>
                </md-select>
              </md-input-container>
    
    
            </div>
    
            <div>
              <md-button class="md-raised" md-colors="{background:'teal'}" md-colors-watch="false"
                ng-click="gruposPatio.Salvar($event)">Salvar</md-button>
              <md-button class="md-raised" aria-label="Limpar" ng-click="gruposPatio.Fechar($event)">Cancelar</md-button>
            </div>
          </md-tab>

          <md-tab label="Adicionar Pátios">

            <div layout-gt-sm="row">
    
                <md-content flex style="background: white">    
                    <div layout-gt-sm="column" >        
                        <p>Pátios Cadastrados</p>
                        
                        <md-list>
                            <md-list-item 
                                ng-repeat="patio in patios" 
                                value="patio.id"
                                aria-label="Checkbox">
                                <div>
                                    {{patio.nome}}
                                </div>
                                <div style="margin-left: 10px; cursor: pointer;" >
                                    <md-icon ng-click="incluiPatio(patio.id)"> add_circle_outline </md-icon>
                                </div>
                            </md-list-item>
    
                        </md-list>                
                    </div>
    
                </md-content>
    
                <md-content flex style="background: white">    
                    <div layout-gt-sm="column" >        
                        <p>Pátios do Grupo</p>
                        <md-list>
                            <md-list-item 
                                ng-repeat="patiosGrupo in patiosGrupo" 
                                value="patiosGrupo.id"
                                aria-label="Checkbox">
                                <div style="margin-right: 10px; cursor: pointer;">
                                    <md-icon ng-click="removePatio(patiosGrupo.id)"> remove_circle_outline </md-icon>
                                </div>                                        
                                <div>
                                    {{patiosGrupo.nome}}
                                </div>
                            </md-list-item>    
                        </md-list>                                                                                
                    </div>
                </md-content>
        
            </div>
            <md-button class="md-raised" aria-label="Limpar" ng-click="gruposPatio.Fechar($event)">Cancelar</md-button>

            </md-tab>

        </md-tabs>



      </form>
    </md-card>
  </md-content>



</div>