<div class="doc-demo-content doc-content">


  <md-tabs md-dynamic-height md-border-bottom>
    <md-tab label="FILTRAR GRUPOS">



      <md-content layout-xs="column" layout-gt-sm="row" layout-sm="column">
        <md-card layout-padding flex-gt-sm layout="column" flex-order="1" flex-order-gt-sm="1">
          <md-subheader class="md-no-sticky">FILTRAR DADOS</md-subheader>
          <md-divider></md-divider>
          <form name="usuarioEditForm" ng-submit="usuarioEditForm.$valid && usuarioEdit(usuario)"
            novalidate="novalidate">

            <div layout-gt-sm="row">
              <md-input-container class="md-block" flex-gt-sm>
                <label>Grupo Pátios</label>
                <input type="text" name="gruposPatio" id="gruposPatios" placeholder="Grupo Pátios"
                  ng-model="dados.descricao">
              </md-input-container>

              <md-input-container class="md-block" flex-gt-sm>
                <label>Ativo</label>
                <md-select placeholder="Ativo" ng-required="false" name="ativo" ng-model="dados.ativo">
                  <md-option value="1">SIM</md-option>
                  <md-option value="0">NÃO</md-option>
                </md-select>
              </md-input-container>



            </div>

            <div>
              <md-button class="md-raised" md-colors="{background:'teal'}" md-colors-watch="false"
                ng-click="gruposPatio.Pesquisar($event)">Filtrar</md-button>
              <md-button class="md-raised" aria-label="Limpar" ng-click="gruposPatio.Limpar($event)">Limpar</md-button>
              <md-button class="md-raised md-primary" aria-label="Adicionar" ng-click="gruposPatio.Novo($event)">Novo
                Grupo
              </md-button>
            </div>

          </form>
        </md-card>
      </md-content>


      <section class="md-whiteframe-z1 " ng-cloak layout="column">

        <md-toolbar class="md-theme-light">
          <h2 class="md-toolbar-tools">
            <span>{{list.length}} Registros</span>
            <span flex></span>
            <md-button class="md-raised" aria-label="PDF">PDF</md-button>
            <md-button class="md-raised" aria-label="Excel">Excel</md-button>
          </h2>
        </md-toolbar>

        <mdt-table paginated-rows="{isEnabled: true, rowsPerPageValues: [20,50, 100]}" animate-sort-icon="true" mdt-row="{
                                  'data': response,
                                  'table-row-id-key': 'id',
                                  'column-keys': ['descricao', 'desc_ativo','editar', ]
                        }">


          <mdt-custom-cell column-key="editar" id="Status" ng-hide="true">
            <mdt-custom-cell-button icon='edit' class="md-icon-button md-secondary"
              ng-click="clientScope.Detalhe($event, rowId, value)" aria-label="Detalhe">
              </md-custom-cell-button>
          </mdt-custom-cell>

          <mdt-header-row>
            <mdt-column align-rule="left" column-sort="false">Descrição</mdt-column>
            <mdt-column align-rule="left" column-sort="false">Ativo</mdt-column>
            <mdt-column align-rule="left" column-sort="false">Editar</mdt-column>
          </mdt-header-row>


        </mdt-table>

      </section>



    </md-tab>

  </md-tabs>

</div>