<div class="doc-demo-content doc-content">
  <md-content flex>
    <md-card layout-padding>
      <form name="editForm" novalidate="novalidate">
        <br />

        <fieldset>
          <legend>Dados Gerais</legend>

          <div style="display: flex; justify-content: space-around">
            <md-input-container>
              <label>Descrição</label>
              <input
                style="width: 450px"
                ng-required="true"
                type="text"
                name="descricao"
                ng-model="methods.descricao"
                ng-change="methods.descricao = (methods.descricao | uppercase)"
              />
            </md-input-container>

            <md-input-container>
              <label>Percentual</label>
              <input
                type="text"
               
                step="0.10"
                ui-number-mask
                ng-model="methods.percentual"
              />
            </md-input-container>

            <md-input-container>
              <label>Tipo</label>
              <input
                ng-required="true"
                type="text"
                name="lote"
                ng-model="methods.tipo"
                ng-required="true"
              />
            </md-input-container>
          </div>
        </fieldset>
        <br />
        <br />
        <md-button
          type="submit"
          ng-disabled="methods.disable"
          class="md-raised md-primary"
          ng-click="methods.Salvar()"
          >Gravar</md-button
        >
        <md-button
          class="md-raised"
          ng-click="methods.Voltar()"

          aria-label="Voltar"
          >Voltar</md-button
        >
      </form>
    </md-card>
  </md-content>
</div>
