<link rel="stylesheet" href="/assets/css/customTable.css">

<div class="doc-demo-content doc-content">
  <md-content layout-xs="column" layout-gt-sm="row" layout-sm="column">
    <md-card layout-padding flex-gt-sm layout="column" flex-order="1" flex-order-gt-sm="1">
      <md-subheader class="md-no-sticky">FILTRAR DADOS</md-subheader>
      <md-divider></md-divider>
      <form name="editForm" ng-submit="editForm.$valid && formEdit(dados)" novalidate="novalidate">

        <div layout-gt-sm="row">

          <md-input-container class="md-block" flex-gt-sm>
            <label>Descrição</label>
            <input ng-required="false" type="text" name="descricao" ng-model="methods.descricao"
              ng-change="methods.descricao = (methods.descricao | uppercase)" />
          </md-input-container>

        </div>

        <div>
          <md-button class="md-raised" md-colors="{background:'teal'}" md-colors-watch="false"
            ng-click="methods.listar()">Filtrar</md-button>
          <md-button class="md-raised" aria-label="Limpar" ng-click="limpar($event)">Limpar</md-button>
          <md-button class="md-raised md-primary" aria-label="Adicionar" ng-click="methods.novo()">Novo</md-button>
        </div>

      </form>
    </md-card>
  </md-content>


  <section class="md-whiteframe-z1 " ng-cloak layout="column">

    <md-toolbar class="md-theme-light">
      <h2 class="md-toolbar-tools">
        <span>{{methods.dados.length}} Registros</span>
        <span flex></span>
        <md-button class="md-raised" aria-label="PDF">PDF</md-button>
        <md-button class="md-raised" aria-label="Excel">Excel</md-button>
      </h2>
    </md-toolbar>


    <div class="Body" style="overflow-y: hidden;overflow-x: hidden;">

      <md-card>
          <table>

              <tr>
                  <th>Descrição</th>
                  <th>Percentual</th>
                  <th>Tipo</th>
                  <th>Editar</th>


              </tr>
              <tr ng-repeat="item in methods.dados" class="Result">
                  <td>{{item.descricao}}</td>
                  <td>{{item.percentual}}%</td>
                  <td>{{item.tipo}}</td>
                
                  <td><img src="/assets/images/icons/Edit-icon.svg" alt="Editar" ng-click="methods.editar(item)" style="cursor: pointer;"></td>




              </tr>

          </table>


      </md-card>
  </div>





  </section>

</div>