<style>
  .istotal {
    background-color: royalblue;
  }
</style>
<div class="doc-demo-content doc-content" style="font-weight: bold;">

  <md-content layout-xs="column" layout-gt-sm="row" layout-sm="column">
    <md-card layout-padding flex-gt-sm layout="column" flex-order="1" flex-order-gt-sm="1">
      <md-subheader class="md-no-sticky">FILTRAR DADOS</md-subheader>
      <md-divider></md-divider>
      <form name="editForm" ng-submit="editForm.$valid && formEdit(dados)" novalidate="novalidate">

        <div layout-gt-sm="row">

          <md-input-container class="md-block" flex-gt-sm>
            <label>Financeiro inicio</label>
            <md-datepicker name="dataInicio" ng-model="dados.dataInicio" ng-required="true" ng-change="dados.dataFinal = dados.dataInicio"
              md-placeholder="Data inicio"></md-datepicker>

            <div ng-messages="editForm.dataInicio.$error" class="errors">
              <div ng-message="required">
                Campo Obrigatório.
              </div>
            </div>
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm>
            <label>Financeiro final</label>
            <md-datepicker name="dataFinal" ng-model="dados.dataFinal" ng-required="true" md-placeholder="Data final">
            </md-datepicker>

            <div ng-messages="editForm.dataFinal.$error" class="errors">
              <div ng-message="required">
                Campo Obrigatório.
              </div>
            </div>

          </md-input-container>

        </div>

        <div layout-gt-sm="row">

          <md-input-container class="md-block" flex-gt-sm>
            <label>Liberações  inicio</label>
            <md-datepicker name="dataInicio" ng-model="dados.liberacaoInicio" ng-required="true" ng-change="dados.liberacaoFinal = dados.liberacaoInicio"
              md-placeholder="Data inicio"></md-datepicker>

            <div ng-messages="editForm.dataInicio.$error" class="errors">
              <div ng-message="required">
                Campo Obrigatório.
              </div>
            </div>
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm>
            <label>Liberações  final</label>
            <md-datepicker name="dataFinal" ng-model="dados.liberacaoFinal" ng-required="true" md-placeholder="Data final">
            </md-datepicker>

            <div ng-messages="editForm.dataFinal.$error" class="errors">
              <div ng-message="required">
                Campo Obrigatório.
              </div>
            </div>

          </md-input-container>

        </div>
        <div layout-gt-sm="row" style="display: flex;align-items: center;">

        
          <md-input-container class="md-block" flex-gt-sm>
            <label>Pátio</label>
            <md-select placeholder="Pátio" name="patio" ng-model="dados.id_patio" 
              style="max-width: 80vw;text-overflow: hide;">
              <md-option ng-repeat="patio in patios" ng-value="patio.id_patio">
                {{patio.nome}}
              </md-option>
            </md-select>
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm style="text-overflow: hidden;max-width: 90vw;">
            <label>Grupo Pátio</label>
            <md-select placeholder="Grupo Pátio" name="patio" ng-model="dados.patioGrupo">
              <md-option ng-repeat="patioGrupo in patiosGrupo" ng-value="patioGrupo.id">
                {{patioGrupo.descricao}}
              </md-option>
            </md-select>
          </md-input-container>


        </div>

        <div>
          <md-button class="md-raised md-primary" aria-label="Adicionar" ng-click="Actions.MesAtual($event)">Mês Atual
          </md-button>
          <md-button class="md-raised" md-colors="{background:'teal'}" md-colors-watch="false"
            ng-click="
            Actions.Pesquisar()
          
           "

            
            >Filtrar</md-button>
          <md-button class="md-raised" aria-label="Limpar" ng-click="Actions.Limpar()">Limpar</md-button>
        </div>

      </form>
    </md-card>
  </md-content>


  <section class="md-whiteframe-z1 " ng-cloak layout="column">

    <md-toolbar class="md-theme-light">
      <h2 class="md-toolbar-tools">
        <span>Receita</span>

        <span style="margin-left: 350px;">Liberações</span>

        <span flex></span>
        <md-button class="md-raised" aria-label="PDF" ng-click="gerarPdf()">PDF</md-button>
        <md-button class="md-raised" aria-label="Excel" ng-click="gerarPlanilha()">Excel</md-button>
      </h2>
    </md-toolbar>

    <mdt-table paginated-rows="{isEnabled: true, rowsPerPageValues: [20,50, 100]}" animate-sort-icon="true" mdt-row="{
                                  'data': liberacoesDiario,
                                  'table-row-id-key': 'id',
                                  'column-keys': ['data','TotalString',]
                        }">



      <mdt-header-row>
        <mdt-column align-rule="left" column-sort="false">Data</mdt-column>
        <mdt-column align-rule="left" column-sort="false" >Total</mdt-column>


    </mdt-table>

  </section>






  <section class="md-whiteframe-z1 " ng-cloak layout="column">

    <md-toolbar class="md-theme-light">
      <h2 class="md-toolbar-tools">
        <span>Receita</span>

        <span style="margin-left: 350px;">Contas a Receber</span>

        <span flex></span>
      </h2>
    </md-toolbar>

    <mdt-table paginated-rows="{isEnabled: true, rowsPerPageValues: [20,50, 100]}" animate-sort-icon="true" mdt-row="{
                                  'data': ReceberDiario,
                                  'table-row-id-key': 'id',
                                  'column-keys': ['vencimento','TotalString'],
                        }">



      <mdt-header-row>
        <mdt-column align-rule="left" column-sort="false">Vencimento</mdt-column>
        <mdt-column align-rule="left" column-sort="false">Total</mdt-column>


    </mdt-table>

  </section>




  <section class="md-whiteframe-z1 " ng-cloak layout="column">

    <md-toolbar class="md-theme-light">
      <h2 class="md-toolbar-tools">
        <span>Receita</span>

        <span style="margin-left: 350px;">Transferências Recebidas entre Patios</span>

        <span flex></span>
      </h2>
    </md-toolbar>

    <mdt-table paginated-rows="{isEnabled: true, rowsPerPageValues: [20,50, 100]}" animate-sort-icon="true" mdt-row="{
                                  'data': ResponseTranferencias,
                                  'table-row-id-key': 'id',
                                  'column-keys': ['vencimento','TotalString'],
                        }">



      <mdt-header-row>
        <mdt-column align-rule="left" column-sort="false">Vencimento</mdt-column>
        <mdt-column align-rule="left" column-sort="false">Total</mdt-column>


    </mdt-table>

  </section>




  <section class="md-whiteframe-z1 " ng-cloak layout="column">

    <md-toolbar class="md-theme-light">
      <h2 class="md-toolbar-tools">
        <span>Despesa </span>

        <span style="margin-left: 350px;">Contas a Pagar</span>

        <span flex></span>
      </h2>
    </md-toolbar>

    <mdt-table paginated-rows="{isEnabled: true, rowsPerPageValues: [20,50, 100]}" animate-sort-icon="true" mdt-row="{
                                  'data': ResponseContasPagar,
                                  'table-row-id-key': 'id',
                                  'column-keys': ['vencimento','TotalString'],
                        }">

      <mdt-header-row>
        <mdt-column align-rule="left" column-sort="false">Vencimento</mdt-column>
        <mdt-column align-rule="left" column-sort="false">Total</mdt-column>


    </mdt-table>

  </section>



  <section class="md-whiteframe-z1 " ng-cloak layout="column">

    <md-toolbar class="md-theme-light">
      <h2 class="md-toolbar-tools">
        <span>Despesa </span>

        <span style="margin-left: 350px;">Transferências Enviadas entre Pátios</span>

        <span flex></span>
      </h2>
    </md-toolbar>

    <mdt-table paginated-rows="{isEnabled: true, rowsPerPageValues: [20,50, 100]}" animate-sort-icon="true" mdt-row="{
                                  'data': ResponseTranferencias,
                                  'table-row-id-key': 'id',
                                  'column-keys': ['vencimento','TotalString'],
                        }">



      <mdt-header-row>
        <mdt-column align-rule="left" column-sort="false">Data</mdt-column>
        <mdt-column align-rule="left" column-sort="false">Total</mdt-column>


    </mdt-table>

  </section>

  <section class="md-whiteframe-z1 " ng-cloak layout="column">

    <md-toolbar class="md-theme-light">
      <h2 class="md-toolbar-tools">
        <span>Despesa </span>

        <span style="margin-left: 350px;">Taxas Bancarias</span>

        <span flex></span>
      </h2>
    </md-toolbar>

    <mdt-table paginated-rows="{isEnabled: true, rowsPerPageValues: [20,50, 100]}" animate-sort-icon="true" mdt-row="{
                                  'data': ResponseTaxasBancarias,
                                  'table-row-id-key': 'id',
                                  'column-keys': ['data','TotalString'],
                        }">

      <mdt-header-row>
      <mdt-column align-rule="left" column-sort="false">Data</mdt-column>
      <mdt-column align-rule="left" column-sort="false">Total</mdt-column>

    </mdt-table>

  </section>

  <section class="md-whiteframe-z1 " ng-cloak layout="column">

    <md-toolbar class="md-theme-light">
      <h2 class="md-toolbar-tools">
        <span> </span>

        <span style="margin-left: 350px;">Resumo</span>

        <span flex></span>
      </h2>
    </md-toolbar>

    <mdt-table paginated-rows="{isEnabled: true, rowsPerPageValues: [20,50, 100]}" animate-sort-icon="true" mdt-row="{
                                  'data': Resumo,
                                  'table-row-id-key': 'id',
                                  'column-keys': ['Desc','total'],
                        }">



      <mdt-header-row>
        <mdt-column align-rule="left" column-sort="false">Desc</mdt-column>
        <mdt-column align-rule="left" column-sort="false">Total</mdt-column>


    </mdt-table>

  </section>



</div>