#ARCorreios {
  display: flex;
  flex-direction: column;

  .FirstArea {
    border: 2px solid black;
    width: 95vw;
    margin: 20px;
    height: fit-content;

    .header {
      display: flex;
      .logoCorreios {
        width: 70%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        img {
          margin-top: 10px;
          margin-left: 5px;
          margin-bottom: 5px;
          width: 200px;
          height: 50px;
        }
        h1 {
          font-weight: 500;
          font-size: 25px;
        }
        .ArH1 {
          font-size: 40px;
        }
      }
      .dataPostagem {
        border-left: 2px solid black;
        h3 {
          text-align: center;
          margin-left: 35px;
        }
      }
    }

    .bodyAr {
      display: flex;

      .destinatario {
        width: 70.5%;
        border-top: 2px solid black;
        height: auto;
        border-right: 2px solid black;

        .Dest {
          margin-top: -2px;
          font-size: 22px;
          margin-left: 5px;
          font-weight: bold;
        }
        .nome {
          font-weight: bold;
          margin-top: -9;
        }
        .cep {
          display: flex;
          margin-top: -7;

          h4 {
            margin-top: 0;
            font-size: 15px;
            font-weight: 500;
          }
          .CEP {
            margin-left: 190px;
          }
        }
        h4 {
          margin-left: 5px;
          margin-top: -7;
          font-size: 15px;
          font-weight: 500;
        }
      }

      .EmptySquare1 {
        border-top: 2px solid black;
        height: 150px;
        width: 30%;
        border-bottom: 2px solid black;
      }
    }

    .footerAr {
      display: flex;

      .destinatario {
        width: 70.5%;
        border-top: 2px solid black;
        height: auto;

        .Dest {
          margin-top: -2px;
          font-size: 22px;
          margin-left: 5px;
          font-weight: bold;
        }
        .Endereço {
          font-weight: bold;
          margin-top: -9;
        }
        .cep {
          display: flex;
          margin-top: -7;

          h4 {
            margin-top: 0;
            font-size: 15px;
            font-weight: 500;
          }
          .CEP {
            margin-left: 190px;
          }
        }
        h4 {
          margin-left: 5px;
          margin-top: -7;
          font-size: 15px;
          font-weight: 500;
        }
      }

      .EmptySquare1 {
        height: auto;
        width: 30%;
        border-left: 2px solid black;
      }
    }
  }
  img {
    width: 65vw;
    height: 90px;
    margin-left: 15px;
  }
  .detranCarta {
    width: 98vw;
    height: fit-content;

  

    .content {
     
      margin: 20px;
      border: 2px solid black;

      .bodyDetranCarta {
        p {
          font-weight: 700;
          font-size: 20px;
        }
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }

  .dadosUser {
    width: 95vw;
    height: fit-content;
    margin: 20px;
    border: 2px solid black;
    .line1 {
      margin-top: 10px;
    }
    .line1,
    .line2 {
      margin-top: -14px;

      display: flex;
      margin-left: 15px;
      h4 {
        font-weight: bold;
        span {
          font-weight: 500;
        }
      }
      :nth-child(2) {
        margin-left: 290px;
      }
    }
    .line1 {
      margin-top: 10px;
    }
    .line3 {
      margin-top: -14px;
      margin-left: 15px;
      h4 {
        font-weight: bold;
        span {
          font-weight: 500;

        }
      }
     
    }

    .line4 {
      margin-top: -14px;
      display: flex;
      margin-left: 15px;

      h4 {
        font-weight: bold;
        span {
          font-weight: 500;
        }
      }
      :nth-child(2) {
        margin-left: 100px;
      }
      :nth-child(3) {
        margin-left: 150px;
      }
    }
    .line5 {
      margin-top: -14px;
      display: flex;
      justify-content: space-around;

      h4 {
        font-weight: bold;
        span {
          font-weight: 500;
        }
      }
    }

    .line6 {
      margin-top: -14px;
      display: flex;
      margin-left: 15px;

      h4 {
        font-weight: bold;
        span {
          font-weight: 500;
        }
      }
    }
    .line7 {
      margin-top: -14px;
      display: flex;
      margin-left: 15px;

      h4 {
        font-weight: bold;
        span {
          font-weight: 500;
        }
      }
    }
  }
}
