@charset "UTF-8";
#ARCorreios {
  display: flex;
  flex-direction: column;
}
#ARCorreios .FirstArea {
  border: 2px solid black;
  width: 95vw;
  margin: 20px;
  height: -moz-fit-content;
  height: fit-content;
}
#ARCorreios .FirstArea .header {
  display: flex;
}
#ARCorreios .FirstArea .header .logoCorreios {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#ARCorreios .FirstArea .header .logoCorreios img {
  margin-top: 10px;
  margin-left: 5px;
  margin-bottom: 5px;
  width: 200px;
  height: 50px;
}
#ARCorreios .FirstArea .header .logoCorreios h1 {
  font-weight: 500;
  font-size: 25px;
}
#ARCorreios .FirstArea .header .logoCorreios .ArH1 {
  font-size: 40px;
}
#ARCorreios .FirstArea .header .dataPostagem {
  border-left: 2px solid black;
}
#ARCorreios .FirstArea .header .dataPostagem h3 {
  text-align: center;
  margin-left: 35px;
}
#ARCorreios .FirstArea .bodyAr {
  display: flex;
}
#ARCorreios .FirstArea .bodyAr .destinatario {
  width: 70.5%;
  border-top: 2px solid black;
  height: auto;
  border-right: 2px solid black;
}
#ARCorreios .FirstArea .bodyAr .destinatario .Dest {
  margin-top: -2px;
  font-size: 22px;
  margin-left: 5px;
  font-weight: bold;
}
#ARCorreios .FirstArea .bodyAr .destinatario .nome {
  font-weight: bold;
  margin-top: -9;
}
#ARCorreios .FirstArea .bodyAr .destinatario .cep {
  display: flex;
  margin-top: -7;
}
#ARCorreios .FirstArea .bodyAr .destinatario .cep h4 {
  margin-top: 0;
  font-size: 15px;
  font-weight: 500;
}
#ARCorreios .FirstArea .bodyAr .destinatario .cep .CEP {
  margin-left: 190px;
}
#ARCorreios .FirstArea .bodyAr .destinatario h4 {
  margin-left: 5px;
  margin-top: -7;
  font-size: 15px;
  font-weight: 500;
}
#ARCorreios .FirstArea .bodyAr .EmptySquare1 {
  border-top: 2px solid black;
  height: 150px;
  width: 30%;
  border-bottom: 2px solid black;
}
#ARCorreios .FirstArea .footerAr {
  display: flex;
}
#ARCorreios .FirstArea .footerAr .destinatario {
  width: 70.5%;
  border-top: 2px solid black;
  height: auto;
}
#ARCorreios .FirstArea .footerAr .destinatario .Dest {
  margin-top: -2px;
  font-size: 22px;
  margin-left: 5px;
  font-weight: bold;
}
#ARCorreios .FirstArea .footerAr .destinatario .Endereço {
  font-weight: bold;
  margin-top: -9;
}
#ARCorreios .FirstArea .footerAr .destinatario .cep {
  display: flex;
  margin-top: -7;
}
#ARCorreios .FirstArea .footerAr .destinatario .cep h4 {
  margin-top: 0;
  font-size: 15px;
  font-weight: 500;
}
#ARCorreios .FirstArea .footerAr .destinatario .cep .CEP {
  margin-left: 190px;
}
#ARCorreios .FirstArea .footerAr .destinatario h4 {
  margin-left: 5px;
  margin-top: -7;
  font-size: 15px;
  font-weight: 500;
}
#ARCorreios .FirstArea .footerAr .EmptySquare1 {
  height: auto;
  width: 30%;
  border-left: 2px solid black;
}
#ARCorreios img {
  width: 65vw;
  height: 90px;
  margin-left: 15px;
}
#ARCorreios .detranCarta {
  width: 98vw;
  height: -moz-fit-content;
  height: fit-content;
}
#ARCorreios .detranCarta .content {
  margin: 20px;
  border: 2px solid black;
}
#ARCorreios .detranCarta .content .bodyDetranCarta {
  padding-left: 10px;
  padding-right: 10px;
}
#ARCorreios .detranCarta .content .bodyDetranCarta p {
  font-weight: 700;
  font-size: 20px;
}
#ARCorreios .dadosUser {
  width: 95vw;
  height: -moz-fit-content;
  height: fit-content;
  margin: 20px;
  border: 2px solid black;
}
#ARCorreios .dadosUser .line1 {
  margin-top: 10px;
}
#ARCorreios .dadosUser .line1,
#ARCorreios .dadosUser .line2 {
  margin-top: -14px;
  display: flex;
  margin-left: 15px;
}
#ARCorreios .dadosUser .line1 h4,
#ARCorreios .dadosUser .line2 h4 {
  font-weight: bold;
}
#ARCorreios .dadosUser .line1 h4 span,
#ARCorreios .dadosUser .line2 h4 span {
  font-weight: 500;
}
#ARCorreios .dadosUser .line1 :nth-child(2),
#ARCorreios .dadosUser .line2 :nth-child(2) {
  margin-left: 290px;
}
#ARCorreios .dadosUser .line1 {
  margin-top: 10px;
}
#ARCorreios .dadosUser .line3 {
  margin-top: -14px;
  margin-left: 15px;
}
#ARCorreios .dadosUser .line3 h4 {
  font-weight: bold;
}
#ARCorreios .dadosUser .line3 h4 span {
  font-weight: 500;
}
#ARCorreios .dadosUser .line4 {
  margin-top: -14px;
  display: flex;
  margin-left: 15px;
}
#ARCorreios .dadosUser .line4 h4 {
  font-weight: bold;
}
#ARCorreios .dadosUser .line4 h4 span {
  font-weight: 500;
}
#ARCorreios .dadosUser .line4 :nth-child(2) {
  margin-left: 100px;
}
#ARCorreios .dadosUser .line4 :nth-child(3) {
  margin-left: 150px;
}
#ARCorreios .dadosUser .line5 {
  margin-top: -14px;
  display: flex;
  justify-content: space-around;
}
#ARCorreios .dadosUser .line5 h4 {
  font-weight: bold;
}
#ARCorreios .dadosUser .line5 h4 span {
  font-weight: 500;
}
#ARCorreios .dadosUser .line6 {
  margin-top: -14px;
  display: flex;
  margin-left: 15px;
}
#ARCorreios .dadosUser .line6 h4 {
  font-weight: bold;
}
#ARCorreios .dadosUser .line6 h4 span {
  font-weight: 500;
}
#ARCorreios .dadosUser .line7 {
  margin-top: -14px;
  display: flex;
  margin-left: 15px;
}
#ARCorreios .dadosUser .line7 h4 {
  font-weight: bold;
}
#ARCorreios .dadosUser .line7 h4 span {
  font-weight: 500;
}/*# sourceMappingURL=index.css.map */