<md-dialog aria-label="Valor Extra Guincho">
    <form ng-cloak name="extraGuincho">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Valores Extras - Guincho</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancelar()">
                    X
                </md-button>
          
            </div>
        </md-toolbar>
  
        <md-dialog-content>
            <div class="md-dialog-content">
                      
                <table>
                    <tr data-ng-repeat="extra in extrasGuincho">
                    
                        
                        <td>
                        
                            <div layout-gt-sm="row">    
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Valor Extra</label>
                                    <input type="text" name="valorExtra" ng-model="extra.valor" money-mask money-mask-prepend="R$ " 
                                    title="Informar o valor de despesa extra" />
                                </md-input-container>
                            
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Observação</label>
                                    <input type="text" name="valorObservacao" ng-model="extra.observacao" style="width: 300px"
                                    title="Informar o valor de despesas extras"/>
                                </md-input-container>

                            </div>
                        </td>
                        

                        <td>
                        <button class="remove" ng-show="$last" ng-click="adicionaExtra()">+</button>
                        </td>
                        
                        <td>
                            <button class="remove" ng-show="$last" ng-click="removeExtra()">-</button>
                        </td>
                
                    
                    </tr>
                </table>
                    
                </br>
            </div>
  
  
        </md-dialog-content>
  
     
        </br>

        <md-dialog-actions layout="row">
            
            <span flex></span>
            
            <md-button ng-click="cancelar()" class="md-raised">CANCELAR</md-button>
            <md-button ng-click="gravarExtrasGuincho()" class="md-raised" md-colors="{background:'teal'}"> GRAVAR</md-button>
    
        </md-dialog-actions>
        
    </form>
</md-dialog>