<style>
    .field-pagamento {
        border: 1px solid #aaa;
    }

    .field-pagamento .header {
        border-bottom: 1px solid #CCC;
        margin-bottom: 5px;
        padding-bottom: 5px;
    }
    .field-pagamento .header > div {
        font-size: 12px;
        color: #667;
    }
    .field-pagamento content{

    }
</style>
<fieldset class="standard field-pagamento" ng-show="!isEmpty(listFormaPagto)">
    <legend>Pagamento(s)</legend>
    <div layout="row" layout-xs="column" class="header">
        <div flex="">
            Forma Pagto
        </div>
        <div flex="">
            Data Pagamento
        </div>

        <div style="text-align: right" flex="">
            Valor
        </div>
        <!--        <div flex="5"></div>
                <div flex="">
                    Observação
                </div>-->
    </div>
    <div ng-repeat="pgto in listFormaPagto">
        <div layout="row" layout-xs="column" class="content">
            <div flex="" ng-bind="pgto.descricao"></div>
            <div flex="" ng-bind="pgto.data"></div>
            <div style="text-align: right" flex="" ng-bind="pgto.valor | currency"></div>            
        </div>
    </div>
    <div layout="row" layout-xs="column">
        <div flex="">
            Total
        </div>
        <div style="text-align: right" flex="">
            <strong ng-bind="total | currency"></strong>
        </div>
        <!--        <div flex="5"></div>
                <div flex="">
                    Observação
                </div>-->
    </div>
</fieldset>
<div layout="row" layout-xs="column" ng-show="isEmpty(listFormaPagto)">
    Sem Pagto!
</div>