<md-dialog aria-label="Mango (Fruit)">
    <form name="editForm" ng-submit="editForm.$valid">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Pagamento de Liberação.</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    X
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="max-width:100%;max-height:810px; margin-top: 10px">
            <div style="margin: 0 10px" layout-gt-sm="row" ng-repeat="pgto in ncv_pagamentos">
                <md-input-container class="md-block">
                    <label>Data Pagto</label>
                    <input ng-readonly="true" type="date" name="data" ng-model="pgto.data"/>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Forma Pagto</label>
                    <md-select placeholder="Forma Pagto" ng-required="true" name="forma_pagamento" ng-model="pgto.forma_pagamento">
                        <md-option ng-repeat="tipos in tiposRecebimento" ng-value="tipos.id">
                            {{tipos.descricao}}
                        </md-option>
                    </md-select>
                    <div ng-messages="editForm.forma_pagamento.$error" role="alert">
                        <div ng-message-exp="['required']">
                            Campo Obrigatório.
                        </div>
                    </div>
                </md-input-container>

                <md-input-container>
                    <label>Valor</label>
                    <input ng-required="true" type="text" name="valor" ng-model="pgto.valor" ui-number-mask/>
                    <div ng-messages="editForm.valorEstadia.$error" role="alert">
                        <div ng-message-exp="['required']">
                            Campo Obrigatório.
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                    <label>CPF/CNPJ Pagador </label>
                    <input ng-required="true" type="text" name="cpf_cnpj_pagador"cpf-cnpj  ng-model="pgto.cpf_cnpj_pagador"ng-value="pgto.cpf_cnpj_pagador" />
                </md-input-container>


             <md-input-container class="md-block" flex-gt-sm>
                    <label>Nome Pagador</label>
                    <input ng-required="true" type="text" name="nome_pagador" ng-model="pgto.nome_pagador"ng-value="pgto.nome_pagador" />
                </md-input-container>

                
                <a href class="md-fat md-warn" ng-click="removePgto($index)" ng-disabled="habilitadoInclusao" style="margin-top: 20px;">
                    <i class="fa fa-trash"></i>
                </a>
                <a style="margin-right: 20px;" ></a>
                <a href class="md-fat md-warn" ng-click="emiteBoleto(pgto.valor)" ng-disabled="habilitadoInclusao" style="margin-top: 20px;">
                    <i class="fa fa-print"></i>
                </a>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button class="md-raised" ng-click="addFormaPgto()" ng-disabled="habilitadoInclusao">
                INCLUIR FORMA PAGTO
            </md-button>
            <span flex></span>
            <md-button class="md-raised md-warn" ng-click="cancel()" >
                CANCELAR
            </md-button>
            <md-button class="md-raised md-primary" ng-click="actionLocal()" style="margin-right:20px;" ng-disabled="desabilitado">
                GRAVAR
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>