.showPainel {
  width: 100vmax;
  height: 100vh;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;

  /* From https://css.glass */
  /* From https://css.glass */
  background: rgba(132, 125, 125, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(132, 125, 125, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  .modal {
    padding: 50px;
    border-radius:7px ;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(132, 125, 125, 0.3);
    background-color: white;
    width: 50%;
    height: 250px;
    text-align: center;
    h1{
  
      color: red;
    }

    button{
      margin-top: 70px;
      background-color: blue;
      color: white;
      font-weight: bold;
      width: 150px;
      height: 40px;
      border-radius: 1px;
      border: none;
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
      border: 1px solid rgba(132, 125, 125, 0.3);

    }
  }
  button.close{
      background-color: #009688;
      margin-left: 20px;
    }
}
