<div class="doc-demo-content doc-content">

    <md-content flex>
        <md-card layout-padding>
            <md-subheader class="md-no-sticky">DADOS REQUISIÇÃO</md-subheader>

            <form name="editForm" ng-submit="editForm.$valid && formEdit(dados)" novalidate="novalidate">

                <div layout-gt-sm="row">

                    <md-input-container class="md-block" flex-gt-sm style="text-overflow: hidden;max-width: 90vw;">
                        <label>Pátio</label>
                        <md-select placeholder="Pátio" name="patio" ng-model="dados.patio" ng-required="true">
                            <md-option ng-repeat="patio in patios" ng-value="patio.id_patio">
                                {{patio.nome}}
                            </md-option>
                        </md-select>
                    </md-input-container>

                </div>

                <md-content>

                    <md-card>
                        <md-subheader class="md-no-sticky">ITENS DA REQUISIÇÃO</md-subheader>

                        <div layout-gt-sm="row"
                            style="display: flex;align-items: center;justify-content: space-around;">

                            <md-input-container class="md-block">
                                <label>Produto/Serviço</label>
                                <input type="text" name="Serviço" ng-model="Dados.Servico"
                                    ng-change="Dados.Servico = (Dados.Servico | uppercase)"
                                    style="text-overflow: ellipsis;width: 600px;" />
                            </md-input-container>

                            <md-input-container class="md-block">
                                <label>Quantidade</label>
                                <input type="number" name="Quantidade" style="width: 50px;" ng-model="Dados.Quantidade"
                                    ng-change="Dados.Quantidade = (Dados.Quantidade | uppercase)" ng-required="true" />
                            </md-input-container>

                          
                              <div style="cursor: pointer;">
                                <md-icon ng-click="Methods.IncluirOrcamento(Dados)"> add_circle_outline </md-icon>
                            </div>
                        </div>
                    </md-card>
                </md-content>

              


                <section class="md-whiteframe-z1 " ng-cloak layout="column">

                    <md-toolbar class="md-theme-light">
                        <h2 class="md-toolbar-tools">
                            <span>{{Orcamentos.length}} Itens</span>
                            <span flex></span>
                        </h2>
                    </md-toolbar>

                    <mdt-table paginated-rows="{isEnabled: true, rowsPerPageValues: [20,50, 100]}"
                        animate-sort-icon="true" mdt-row="{
                                                    'data': Orcamentos,
                                                    'table-row-id-key': 'ID',
                                                    'column-keys': ['Servico','Quantidade','Valor','apagar']
                                          }">

                        <mdt-custom-cell column-key="apagar">
                            <mdt-custom-cell-button icon='cancel' class="md-icon-button md-secondary"
                                ng-click="clientScope.RemoveOrcamento($event,rowId,value)" aria-label="Cancelar">
                                </md-custom-cell-button>
                        </mdt-custom-cell>

                        <mdt-header-row>
                            <mdt-column align-rule="left" column-sort="false">Produto/Serviço</mdt-column>
                            <mdt-column align-rule="left" column-sort="false">Quantidade</mdt-column>
                            <mdt-column align-rule="left" column-sort="false">Valor</mdt-column>

                            <mdt-column align-rule="left" column-sort="false">Apagar</mdt-column>
                        </mdt-header-row>

                        
                    </mdt-table>
                   
                </section>
                <div style="display: flex;justify-content: center;">
                    <md-button class="md-raised" md-colors="{background:'teal'}" md-colors-watch="false" ng-click="Methods.Salvar($event)">Gravar Requisição</md-button>
                </div>
            </form>






        </md-card>
    </md-content>
</div>