<div class="doc-demo-content doc-content">
    <md-content flex>
        <md-card layout-padding>

            <form name="editForm" ng-submit="editForm.$valid && formEdit(dados)" novalidate="novalidate">

                <div layout-gt-sm="row">

                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Data inicio</label>
                        <md-datepicker name="dataInicio" ng-model="dados.dataInicio" ng-required="true"
                            md-placeholder="Data inicio"></md-datepicker>

                        <div ng-messages="editForm.dataInicio.$error" class="errors">
                            <div ng-message="required">
                                Campo Obrigatório.
                            </div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Data final</label>
                        <md-datepicker name="dataFinal" ng-model="dados.dataFinal" ng-required="true"
                            md-placeholder="Data final">
                        </md-datepicker>

                        <div ng-messages="editForm.dataFinal.$error" class="errors">
                            <div ng-message="required">
                                Campo Obrigatório.
                            </div>
                        </div>

                    </md-input-container>

                </div>



                <div layout-gt-sm="row">

                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Fornecedor</label>
                        <input type="text" name="fornecedor" ng-model="dados.fornecedor"
                            ng-change="dados.descricao = (dados.descricao | uppercase)" />
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm style="margin-right: 10px;">
                        <label>Status</label>
                        <md-select placeholder="Status" required ng-required="false" name="status"
                            ng-model="dados.status">
                            <md-option value="ABERTO">ABERTO</md-option>
                            <md-option value="PAGO">PAGO</md-option>
                            <md-option value="CANCELADO">CANCELADO</md-option>
                        </md-select>
                    </md-input-container>


                </div>




                <div layout-gt-sm="row">

                    <md-input-container class="md-block" flex-gt-sm style="text-overflow: hidden;max-width: 90vw;">
                        <label>Pátio</label>
                        <md-select placeholder="Pátio" name="patio" ng-model="dados.patio" multiple>
                            <md-option ng-repeat="patio in patios" ng-value="patio.id_patio">
                                {{patio.nome}}
                            </md-option>
                        </md-select>
                    </md-input-container>


                    <md-input-container class="md-block" flex-gt-sm style="text-overflow: hidden;max-width: 90vw;">
                        <label>Grupo Pátio</label>
                        <md-select placeholder="Grupo Pátio" name="patio" ng-model="dados.patioGrupo">
                            <md-option ng-repeat="patioGrupo in patiosGrupo" ng-value="patioGrupo.id">
                                {{patioGrupo.descricao}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>


                <div>
                    <md-button class="md-raised" md-colors="{background:'teal'}" md-colors-watch="false"
                        ng-click="Methods.Pesquisar($event)">Salvar</md-button>

                    <md-button class="md-raised" aria-label="Limpar" ng-click="Methods.Cancelar($event)">Cancelar
                    </md-button>

                </div>

            </form>






        </md-card>
    </md-content>
</div>