<div class="doc-demo-content doc-content">
    <md-content layout-xs="column" layout-gt-sm="row" layout-sm="column">
        <md-card layout-padding flex-gt-sm layout="column" flex-order="1" flex-order-gt-sm="1">
            <md-subheader class="md-no-sticky">FILTRAR DADOS</md-subheader>
            <md-divider></md-divider>
            <form name="editForm" ng-submit="editForm.$valid && formEdit(dados)" novalidate="novalidate">

                <div layout-gt-sm="row">

                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Data inicio</label>
                        <md-datepicker name="dataInicio" ng-model="dados.dataInicio" ng-required="true"
                            md-placeholder="Data inicio"></md-datepicker>

                        <div ng-messages="editForm.dataInicio.$error" class="errors">
                            <div ng-message="required">
                                Campo Obrigatório.
                            </div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Data final</label>
                        <md-datepicker name="dataFinal" ng-model="dados.dataFinal" ng-required="true"
                            md-placeholder="Data final">
                        </md-datepicker>

                        <div ng-messages="editForm.dataFinal.$error" class="errors">
                            <div ng-message="required">
                                Campo Obrigatório.
                            </div>
                        </div>

                    </md-input-container>



                    <md-input-container class="md-block" flex-gt-sm style="margin-right: 10px;">
                        <label>Status</label>
                        <md-select placeholder="Status" required ng-required="false" name="status"
                            ng-model="dados.status">
                            <md-option value="AGUARDANDO">AGUARDANDO</md-option>
                            <md-option value="ORÇADO">ORÇADO</md-option>
                            <md-option value="CANCELADO">CANCELADO</md-option>
                            <md-option value="AUTORIZADO">AUTORIZADO</md-option>

                        </md-select>
                    </md-input-container>
                </div>



                <div layout-gt-sm="row">




                </div>




                <div layout-gt-sm="row">

                    <md-input-container class="md-block" flex-gt-sm style="text-overflow: hidden;max-width: 90vw;">
                        <label>Pátio</label>
                        <md-select placeholder="Pátio" name="patio" ng-model="dados.patio" >
                            <md-option ng-repeat="patio in patios" ng-value="patio.id_patio">
                                {{patio.nome}}
                            </md-option>
                        </md-select>
                    </md-input-container>



                </div>


                <div>
                    <md-button class="md-raised" md-colors="{background:'teal'}" md-colors-watch="false"
                        ng-click="Methods.Pesquisar($event)">Filtrar</md-button>
                    <md-button class="md-raised md-primary" aria-label="Adicionar" ng-click="Methods.MesAtual($event)">
                        Mês Atual
                    </md-button>
                    <md-button class="md-raised" aria-label="Limpar" ng-click="Methods.Limpar($event)">Limpar
                    </md-button>
                    <md-button class="md-raised md-primary" aria-label="Adicionar" ng-click="Methods.Novo($event)">Nova
                        Requisição
                    </md-button>
                </div>

            </form>
        </md-card>
    </md-content>


    <section class="md-whiteframe-z1 " ng-cloak layout="column">

        <md-toolbar class="md-theme-light">
            <h2 class="md-toolbar-tools">
                <span>{{dadosList.length}} Registros</span>
                <span flex></span>
                <md-button class="md-raised" ng-click="gerarPdf()" aria-label="PDF">PDF</md-button>
                <md-button class="md-raised" aria-label="Excel">Excel</md-button>
            </h2>
        </md-toolbar>

        <mdt-table paginated-rows="{isEnabled: true, rowsPerPageValues: [20,50, 100]}" animate-sort-icon="true" mdt-row="{
                              'data': Dados,
                              'table-row-id-key': 'id',
                              'column-keys': ['patio','data', 'status','usuario', 'Orçamento', 'Cancelar']
                    }">
            <mdt-custom-cell column-key="Orçamento">
                <mdt-custom-cell-button icon='edit' class="md-icon-button md-secondary"
                    ng-click="clientScope.OpenOrcamento($event, rowId)" aria-label="Detalhe">
                    </md-custom-cell-button>
            </mdt-custom-cell>



            <mdt-custom-cell column-key="Cancelar">
                <mdt-custom-cell-button icon='delete_forever' class="md-icon-button md-secondary"
                    ng-click="clientScope.Deletar($event, rowId)" aria-label="Cancelar">
                    </md-custom-cell-button>
            </mdt-custom-cell>

            <mdt-header-row>
                <mdt-column align-rule="left" column-sort="false">Pátio</mdt-column>
                <mdt-column align-rule="left" column-sort="true">data</mdt-column>

                <mdt-column align-rule="left" column-sort="true">Status</mdt-column>
                <mdt-column align-rule="left" column-sort="false">Usuário</mdt-column>
                <mdt-column align-rule="left" column-sort="false">Orçamento</mdt-column>
                <mdt-column align-rule="left" column-sort="false">Apagar</mdt-column>
            </mdt-header-row>

        </mdt-table>

    </section>

</div>