.container {
  width: 92vw;
  border: 2px solid #d8d8d8;
  margin-top: 50px;
  text-align: center;

  .containerTitle {
    width: 200px;
    margin-left: 10px;
    margin-top: -39px;

    h1 {
      background-color: #ffffff;
      font-size: 18px;
      color: #727176;
      font-weight: bold;
    }
  }

  .CustomForm {
    display: flex;
    margin-left: -100px;
    .col1 {
      margin-top: 40px;
      width: 50vw;
      label {
        display: flex;
        align-items: center;
        text-align: right;

        p {
          flex: 1;
          margin-left: 100px;
          color: #878788;
          font-weight: bold;
        }
        input {
          margin-left: 15px;
          height: 30px;
          border: 2px solid #d1d1d1;
          outline: none;
          color: #878788;
          border-radius: 5px;
          flex: 1;
        }
      }
    }

    .col2 {
      margin-top: 40px;
      width: 40vw;
      label {
        display: flex;
        align-items: center;
        text-align: right;

        p {
          flex: 1;
          margin-left: 100px;
          color: #878788;
          font-weight: bold;
        }
        input {
          margin-left: 15px;
          height: 30px;
          border: 2px solid #d1d1d1;
          outline: none;
          color: #878788;
          border-radius: 5px;
          flex: 1;
        }
      }
    }
  }
}
.containerbuttom {
  margin-left: 40%;
  margin-bottom: 50px;
  margin-top: 10px;

  :nth-child(2) {
    background: rgb(0, 150, 136);
  }

  button {
    margin-right: 50px;
    background-color: #3949ab;
    color: rgb(255, 255, 255);
    width: 100px;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 2px;
  }
}
.Iframe {
  iframe {
    width: 100%;
    height: 650px;
  }
}
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.containerConferente {
  display: flex;
  margin-top: 90px;
  max-width: 100vw;
  overflow-x: scroll;
  justify-content: space-between;
  .content {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e5e5e5;
    img {
      width: 200px;
      max-width: 250px;
      height: 250px;
    }
    button {
      margin-top: 10px;
      background-color: blue;
      width: 100px;
      outline: none;
      border: none;
      height: 30px;
      a {
        color: white;
      }
    }
  }
}



.classificacao{
  margin-top: 25px;
  margin-bottom: 50px;
  form{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}